// My Courses Card Component
// Course card component design only used in instructors courses page

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-my-courses-card {
  @include tutor-flex(column);
  @include tutor-card-base();
  @include tutor-card-radius();
  transition: background-color 0.3s ease-in-out;
  position: relative;

  &-body {
    @include tutor-flex(column);
    gap: $tutor-spacing-4;
    padding: $tutor-spacing-4;
    flex: 1;
  }

  &-thumb {
    height: 156px;
    border-radius: $tutor-radius-sm;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-actions {
    @include tutor-flex-center();
    gap: $tutor-spacing-4;
    position: absolute;
    inset: 0;
    background: #00000066;
    box-shadow: 0px 4px 4px 0px #00000040;
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }

  &-footer {
    @include tutor-typography(small, medium);
    @include tutor-flex(row, center, space-between);
    padding: $tutor-spacing-3 $tutor-spacing-5;
    border-top: 1px solid $tutor-border-idle;
    min-height: 44px;

    del {
      font-weight: $tutor-font-weight-regular;
      color: $tutor-text-subdued;
    }

    &-actions {
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }
  }

  &:hover,
  &:has(.tutor-popover-open) {
    background-color: $tutor-surface-l1-hover;

    .tutor-my-courses-card-actions,
    .tutor-my-courses-card-footer-actions {
      visibility: visible;
      opacity: 1;
    }
  }
}
