.tutor-avatar {
	display: inline-flex;
	flex-shrink: 0;
	height: 36px;
	width: 36px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 0px 1px var(--tutor-border-color);
	border-radius: 100px;
	overflow: hidden;

	&-text {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(255, 255, 255, 0.80);
		background-color: var(--tutor-color-primary);
	}

	&-xl {
		width: 96px;
		height: 96px;
		.tutor-avatar-text {
			font-size: 24px;
			font-weight: 500;
		}
	}

	&-lg {
		width: 64px;
		height: 64px;
	}

	&-md {
		width: 48px;
		height: 48px;
	}

	&-sm {
		width: 32px;
		height: 32px;
	}

	&-xs {
		width: 24px;
		height: 24px;
	}

	&.tutor-is-lg {
		width: 120px;
		height: 120px;
	}

	&.tutor-is-sm {
		width: 60px;
		height: 60px;
	}

	&.tutor-is-xs {
		width: 40px;
		height: 40px;
	}
}