// Course Details Page
.tutor-course-details {
	// .tutor-course-details-header
	&-header {
		a {
			text-decoration: none;
		}
	}

	// .tutor-course-details-title
	&-title {
		@include breakpoint-min(desktop) {
			max-width: 80%;
		}
	}

	// .tutor-course-details-page-main
	&-page-main {
		.plyr--video,
		.tutor-course-thumbnail img,
		.tutor-video-player {
			border-radius: 6px;
			overflow: hidden;
		}
	}
}

.tutor-course-details-page {
	.tutor-course-details-tab {
		@include breakpoint-min(800) {
			.tutor-is-sticky {
				position: sticky;
				top: 0;
				background: rgba(255, 255, 255, 0.6);
				backdrop-filter: blur(14px);
				z-index: 1023;
			}
		}
	}
}

.admin-bar {
	.tutor-course-details-tab {
		@include breakpoint-min(800) {
			.tutor-is-sticky {
				top: 32px;
			}
		}
	}
}

// Course Details - Widgets
.tutor-course-details-widget {
	ul {
		margin: 0;
		padding: 0;
	}

	&-list {
		margin-top: 16px;
	}

	&-tags {
		margin-left: -16px;
		.tutor-tag-list li {
			a {
				margin-bottom: 16px;
			}
		}
	}

	&-col-2 {
		@include breakpoint-min(tablet) {
			ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				> li {
					width: calc(50% - (2.4rem/2));
				}
			}
		}
	}
}

// Course Details - Sidebar Cards
.tutor-course-sidebar-card {
	border: 1px solid var(--tutor-border-color);
	border-radius: 6px;
	position: relative;
	
	&-footer {
		border-top: 1px solid var(--tutor-border-color);
	}

	&-meta-list {
		li {
			> div {
				max-width: 50%;
				flex-basis: 50%;
				justify-content: flex-start;
			}

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	// Card Variations
	.tutor-alert {
		.tutor-alert-text {
			align-items: flex-start;
		}
		.tutor-alert-icon {
			margin-top: -4px;
		}
	}

	// .tutor-course-sidebar-card-membership-plan
	&-membership-plan {
		border-color: rgba(var(--tutor-color-primary), 0.2);
		&-badge {
			position: absolute;
			top: -1px;
			right: 30px;

			&.badge-left {
				right: unset;
				left: 30px;
			}
		}

		&.badge-triangle-ribbon {
			position: relative;
			&::before {
				@include triangleRibbonStar;
			}
		}
	}

	// .tutor-course-sidebar-card-pick-plan
	&-pick-plan {
		&-label {
			cursor: pointer;
			display: grid;
			align-items: center;
			position: relative;
			input[type='radio'] {
				position: absolute;
				left: 20px;
				width: 20px;
				height: 20px;
				border: 2px solid var(--tutor-border-color);
				z-index: 1;
				&:checked {
					~ .tutor-course-sidebar-card-pick-plan-input {
						background: rgba(var(--tutor-color-primary), 0.15);
						border-color: var(--tutor-color-primary);
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
		&-input {
			padding: 16px 20px;
			display: grid;
			align-items: center;
			grid-template-columns: 1fr auto;
			grid-gap: 10px;
			transition: 400ms;
			padding-left: 48px;
			position: relative;
			&:before {
				@include triangleRibbonStar;
				opacity: 0;
			}
		}

		// has-input-expandable
		&.has-input-expandable {
			.tutor-course-sidebar-card-pick-plan-label {
				input[type='radio'] {
					top: 24px;
				}
			}
			.tutor-course-sidebar-card-pick-plan-input {
				display: block;
				padding-left: 16px;
				.input-plan {
					padding: 0 16px;
					display: grid;
					align-items: center;
					grid-template-columns: 1fr auto;
					grid-gap: 10px;
					transition: 400ms;
					position: relative;
					padding-left: 40px;
				}
				.input-plan-details {
					max-height: 0;
					overflow: hidden;
					transition: max-height 0.25s linear;
					> *:first-child {
						margin-top: 17px;
					}
				}
			}
		}
	}
} // end /.tutor-course-sidebar-card

// Course Details Page
.tutor-course-details-page {
	ul.tutor-course-details-widget-list {
		padding: 0;
		list-style: none;
	}

	.tutor-course-thumbnail {
		img {
			width: 100%;
			max-height: 100%;
		}
	}

	// .tutor-course-details-page-main
	&-main {
		@include breakpoint-min(desktop) {
			display: grid;
			grid-gap: 32px;
			grid-template-columns: 8fr 4fr;
		}
		@include breakpoint-min(desktop-lg) {
			grid-gap: 54px;
		}
	}
} // end of .tutor-course-details-page

.tutor-course-content-list {
	list-style: none;
	margin: 0 -16px;
	padding: 0;

	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
		background-color: #FFF;
		transition: background-color 300ms ease-in;

		&:last-child {
			border-radius: 0 0 6px 6px;
		}

		&:hover {
			background-color: $color-gray-10;
		}

		&-title {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.6;
			margin: 0;
			padding: 0;

			a {
				color: inherit;
			}
		}

		&-icon {
			color: rgba(var(--tutor-body-color-rgb), 0.35);
		}
	}
}

// Reviews
.tutor-review {
	&-summary {
		&-average-rating {
			font-weight: 500;
			font-size: 80px;
			line-height: 81px;
			color: var(--tutor-body-color);
		}

		&-rating {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}

// Course Details - Ques and Answer
.tutor-quesanswer {
	&-askquestion {
		textarea.tutor-form-control {
			min-height: 72px;
		}
	}

	&-commentlist {
		list-style: none;
		.commentlist-comment {
			border-radius: 6px;
			position: relative;
			> * {
				position: relative;
				z-index: 1;
			}

			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				top: -5px;
				left: 15px;
				background: inherit;
				clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
				transform: rotate(45deg);
				border-radius: 3px;
			}
			&:after {
				content: '';
				position: absolute;
				inset: 0;
				background: white;
			}
			&:before,
			&:after {
				opacity: 0.5;
			}
		}
		&-item {
			// background: #000;
			&-reply {
				.commentlist-comment:before {
					left: unset;
					right: 15px;
				}
			}
		}
	}
}

// Course Details - Announcement
.tutor-announcement {
	border: 1px solid var(--tutor-border-color);
	overflow: hidden;
	border-radius: 6px;
}

// Course Details - Emptystate
.tutor-emptystate {
	img {
		max-width: 100%;
	}
}

// Course Details - Gradebook
.tutor-gradebook {
	&-finalgrade {
		background: #F6F8FD;
		border: 1px solid #E9EDFB;
		box-sizing: border-box;
		border-radius: 6px;
	}

	&-grade-badge {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;
		font-size: 16px;
    	line-height: 1.4px;
		color: var(--tutor-color-primary);
		border: 1px solid var(--tutor-color-primary);
		border-radius: 100px;

		&-lg {
			width: 64px;
			height: 64px;
			font-size: 28px;
			font-weight: 700;
		}
	}
}
