.tutor-dropdown-select {
	display: flex;
	position: relative;

	label {
		cursor: pointer;
	}

	input[type='radio'] {
		display: none;
	}

	h3,
	h5 {
		margin: 0 !important;
	}

	&-options-container {
		width: 100%;
		max-height: 290px;
		overflow-y: auto;
		transition: all 100ms;
		order: 1;
		position: absolute;
		top: calc(100% + 5px);
		z-index: 10;
		background: #ffffff;
		border: 1px solid var(--tutor-border-color);
		box-shadow: 0px 6px 20px rgba(28, 49, 104, 0.1);
		border-radius: 6px;

		opacity: 0;
		visibility: hidden;

		&.is-active {
			opacity: 1;
			visibility: visible;
			+ .tutor-dropdown-select-selected::after {
				transform: translateY(-50%) rotateX(180deg);
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}

	&-selected {
		margin-bottom: 12px;
		position: relative;
		width: 100%;
		background: #fff;
		border: 1px solid var(--tutor-border-color);
		border-radius: 6px;
		order: 0;
		&::after {
			content: '\e93e';
			font-family: 'tutor' !important;
			position: absolute;
			right: 8px;
			top: 50%;
			transition: transform 200ms linear;
			transform: translateY(-50%);
			color: #7a7a7a;
		}
	}

	&-option {
		padding: 8px 19px;
		cursor: pointer;
		&:hover {
			background: $color-gray-10;
		}

		&:last-child {
			border-top: 1px solid #cdcfd5;
		}
	}

	&-selected {
		font-size: 16px;
		font-weight: 400;
   		line-height: 1.4;
		padding: 10px 16px;
		cursor: pointer;
		> div:first-child {
			@extend .text-medium-body;
			color: var(--tutor-body-color);
		}
	}
} // .tutor-dropdown-select

.tutor-dropdown-select-options-container.is-active {
	+ .tutor-dropdown-select-selected {
		border-color: var(--tutor-color-primary);
	}
}

// .tutor-form-group-select-*
.tutor-form-group-select {
	&-sm {
		.tutor-dropdown-select {
			height: 40px;
		}
	}
	&-md {
		.tutor-dropdown-select {
			height: 48px;
		}
	}
	&-lg {
		.tutor-dropdown-select {
			height: 54px;
		}
	}
}
