.tutor-list {
    list-style: none;
    padding: 0;
    margin: 0;

   &-item {
        position: relative;
        display: block;
        font-size: 16px;
        color: var(--tutor-body-color);
        text-decoration: none;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        label {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            cursor: pointer;

            input[type="checkbox"] {
                @if ($is_rtl == true) {
                    margin-left: 16px;
                } @else {
                    margin-right: 16px;
                }
            }
        }
   }
}