.tutor-table {
	border-collapse: separate;
	border-spacing: 0;
	min-width: 600px;
	width: 100%;
	margin: 0;
	--tutor-table-border-radius: 6px;

	&-responsive {
		position: relative;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	tbody,
	td,
	tfoot,
	th,
	thead,
	tr {
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		box-sizing: border-box;
	}

	thead {
		vertical-align: bottom;
	}

	tbody {
		vertical-align: inherit;
	}

	tr {
		th {
			border-bottom: 1px solid var(--tutor-border-color);
			padding: 9px 16px;
			background: #f4f6f9;
			border-top: 1px solid var(--tutor-border-color);
			font-size: 14px;
			line-height: 1.8;
			font-weight: 500;
			white-space: nowrap;
			color: var(--tutor-color-secondary);

			&:not(.tutor-text-left):not(.tutor-text-center):not(.tutor-text-right) {
				text-align: left;
			}

			&:first-child {
				border-left: 1px solid var(--tutor-border-color);
			}

			&:last-child {
				border-right: 1px solid var(--tutor-border-color);
			}
		}

		td {
			border-bottom: 1px solid var(--tutor-border-color);
			padding: 16px;
			font-size: 16px;
			line-height: 1.6;
			background: #ffffff;
			font-weight: 500;
			color: var(--tutor-body-color);

			// @todo: .quiz-manual-review-action remove later
			> a:not(.tutor-btn):not(.tutor-iconic-btn):not(.quiz-manual-review-action),
			.tutor-table-link {
				text-decoration: none;
				color: var(--tutor-body-color);
				font-weight: 500;
				&:hover {
					color: var(--tutor-color-primary);
				}
			}

			&:not(.tutor-text-left):not(.tutor-text-center):not(.tutor-text-right) {
				text-align: left;
			}

			&:first-child {
				border-left: 1px solid var(--tutor-border-color);
			}

			&:last-child {
				border-right: 1px solid var(--tutor-border-color);
			}
		}

		&:first-child {
			th {
				&:first-child {
					border-top-left-radius: var(--tutor-table-border-radius);
				}
				&:last-child {
					border-top-right-radius: var(--tutor-table-border-radius);
				}
			}
		}

		&:last-child {
			td {
				&:first-child {
					border-bottom-left-radius: var(--tutor-table-border-radius);
				}
				&:last-child {
					border-bottom-right-radius: var(--tutor-table-border-radius);
				}
			}
		}
	}

	&-top {
		td,
		th {
			vertical-align: top;
		}
	}

	&-middle {
		td,
		th {
			vertical-align: middle;
		}
	}

	&-bottom {
		td,
		th {
			vertical-align: bottom;
		}
	}

	.tutor-td-top {
		vertical-align: top;
	}

	.tutor-td-middle {
		vertical-align: middle;
	}

	.tutor-td-bottom {
		vertical-align: bottom;
	}

	&.tutor-table-data-td-target {
		.has-data-td-target {
			&.is-active {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.tutor-table-mobile {
		table {
			min-width: auto;
		}

	 	table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { 
			display: block;
		}
	
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	
		tr { 
			border: 1px solid var(--tutor-border-color);
			border-radius: 6px;
			overflow: hidden;
			margin-bottom: 20px;
		}
	
		td {
			font-size: 15px;
			color: var(--tutor-body-color);
			font-weight: 400;
			border: none;
			border-bottom: 1px solid var(--tutor-border-color);
			
			&[data-title] {
				display: grid;
				grid-template-columns: 1fr 1.5fr;
				align-items: center;
			}

			&:first-child {
				border-left: none!important;
				border-radius: 0!important;
			}

			&:last-child {
				border-bottom: none!important;
				border-right: none!important;
			}

			&:before { 
				content: attr(data-title);
				font-size: 13px;
				font-weight: 400;
				color: var(--tutor-color-subdued);
				text-align: left;
			}
		}
	}
}
