// Dashboard Profile header

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-profile-header {
	border-bottom: 1px solid $tutor-border-idle;
	padding-block: $tutor-spacing-5;
	margin-bottom: $tutor-spacing-9;
	@include tutor-breakpoint-down(sm) {
		.tutor-profile-header {
			border:  unset;
			margin-bottom: $tutor-spacing-4;
			.tutor-dashboard-container {
				position: relative;
			}
	
			&-left {
				width: 100%;
	
				.tutor-profile-header-title {
					width: 100%;
					text-align: center;
					text-transform: capitalize;
				}
			}
	
			&-right {
				position: absolute;
				right: 0;
				top: 0;
				width: max-content;
			}
		}
	}
}