@font-face {
	font-family: 'tutor-v2-iconpack';
	src: url('../fonts/tutor-v2-iconpack.eot?q9tcdv');
	src: url('../fonts/tutor-v2-iconpack.eot?q9tcdv#iefix') format('embedded-opentype'),
		url('../fonts/tutor-v2-iconpack.ttf?q9tcdv') format('truetype'),
		url('../fonts/tutor-v2-iconpack.woff?q9tcdv') format('woff'),
		url('../fonts/tutor-v2-iconpack.svg?q9tcdv#tutor-v2-iconpack') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.tutor-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tutor-v2-iconpack' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.copy-text:before {
	content: '\e99d';
}
.zoom-brand-2:before {
	content: '\e9f5';
}
.mark-cricle:before {
	content: '\e905';
}
.portrait:before {
	content: '\e906';
}
.zoom:before {
	content: '\e907';
}
.certificate-l:before {
	content: '\e99b';
}
.eye-close-f:before {
	content: '\e9c8';
}
.grade-f:before {
	content: '\ea10';
}
.info-f:before {
	content: '\ea33';
}
.refresh-f:before {
	content: '\ea34';
}
.refresh-l:before {
	content: '\ea35';
}
.warning-f:before {
	content: '\ea36';
}
.action-line:before {
	content: '\e900';
}
.add-line-line:before {
	content: '\e901';
}
.add-photo-line:before {
	content: '\e902';
}
.artboard-line:before {
	content: '\e903';
}
.calender-line:before {
	content: '\e904';
}
.clipboard-line:before {
	content: '\e908';
}
.code-line:before {
	content: '\e909';
}
.conversation-line:before {
	content: '\e90a';
}
.cup-line:before {
	content: '\e90b';
}
.default-line:before {
	content: '\e90c';
}
.download-line:before {
	content: '\e90d';
}
.drag-line:before {
	content: '\e90e';
}
.emoji-line:before {
	content: '\e90f';
}
.file-line:before {
	content: '\e910';
}
.gallery-line:before {
	content: '\e911';
}
.garbage-line:before {
	content: '\e912';
}
.glasses-line:before {
	content: '\e913';
}
.graduate-line:before {
	content: '\e914';
}
.grid-line:before {
	content: '\e915';
}
.group-line:before {
	content: '\e916';
}
.home-line:before {
	content: '\e917';
}
.icon-light-down-line:before {
	content: '\e918';
}
.icon-light-left-line:before {
	content: '\e919';
}
.icon-light-right-line:before {
	content: '\e91a';
}
.icon-light-up-line:before {
	content: '\e91b';
}
.interactive-line:before {
	content: '\e91c';
}
.level-line:before {
	content: '\e91d';
}
.line-cross-line:before {
	content: '\e91e';
}
.magnifying-glass-line:before {
	content: '\e91f';
}
.menu-line:before {
	content: '\e920';
}
.mortarboard-line:before {
	content: '\e921';
}
.next-line:before {
	content: '\e922';
}
.offer-line:before {
	content: '\e923';
}
.open-book-line:before {
	content: '\e924';
}
.pencil-line:before {
	content: '\e925';
}
.previous-line:before {
	content: '\e926';
}
.professor-line:before {
	content: '\e927';
}
.qa-line:before {
	content: '\e928';
}
.receipt-line:before {
	content: '\e929';
}
.refund-line:before {
	content: '\e92a';
}
.review-line:before {
	content: '\e92b';
}
.save-line:before {
	content: '\e92c';
}
.search-file-line:before {
	content: '\e92d';
}
.share-line:before {
	content: '\e92e';
}
.spinner-line:before {
	content: '\e92f';
}
.student-line-1:before {
	content: '\e930';
}
.student-line:before {
	content: '\e931';
}
.total-discount-line:before {
	content: '\e932';
}
.total-earning-line:before {
	content: '\e933';
}
.uoload-success-line:before {
	content: '\e934';
}
.update-line:before {
	content: '\e935';
}
.upload-file-line:before {
	content: '\e936';
}
.upload-icon-line:before {
	content: '\e937';
}
.upload-line:before {
	content: '\e938';
}
.add-group-filled:before {
	content: '\e939';
}
.add-image-filled:before {
	content: '\e93a';
}
.add-member-filled:before {
	content: '\e93b';
}
.angle-double-left-filled:before {
	content: '\e93c';
}
.angle-double-right-filled:before {
	content: '\e93d';
}
.angle-down-filled:before {
	content: '\e93e';
}
.angle-left-filled:before {
	content: '\e93f';
}
.angle-right-filled:before {
	content: '\e940';
}
.angle-up-filled:before {
	content: '\e941';
}
.assesment-filled:before {
	content: '\e942';
}
.assignment-filled:before {
	content: '\e943';
}
.attach-filled:before {
	content: '\e944';
}
.audio-volume-filled:before {
	content: '\e945';
}
.authorised-filled:before {
	content: '\e946';
}
.award-filled:before {
	content: '\e947';
}
.background-filled:before {
	content: '\e948';
}
.book-open-filled:before {
	content: '\e949';
}
.books-filled:before {
	content: '\e94a';
}
.box-open-filled:before {
	content: '\e94b';
}
.browser-filled:before {
	content: '\e94c';
}
.bullet-point-filled:before {
	content: '\e94d';
}
.calender-bold-filled:before {
	content: '\e94e';
}
.calender-line-filled:before {
	content: '\e94f';
}
.camera-filled:before {
	content: '\e950';
}
.cart-filled:before {
	content: '\e951';
}
.cart-line-filled:before {
	content: '\e952';
}
.certificate-1-filled:before {
	content: '\e953';
}
.certificate-filled:before {
	content: '\e954';
}
.change-filled:before {
	content: '\e955';
}
.chart-filled:before {
	content: '\e956';
}
.circle-outline-info-filled:before {
	content: '\e957';
}
.clock-fill-filled:before {
	content: '\e958';
}
.clock-filled:before {
	content: '\e959';
}
.coding-filled:before {
	content: '\e95a';
}
.coins-filled:before {
	content: '\e95b';
}
.college-graduation-filled:before {
	content: '\e95c';
}
.comment-filled:before {
	content: '\e95d';
}
.company-filled:before {
	content: '\e95e';
}
.content-drip-filled:before {
	content: '\e95f';
}
.copy-filled:before {
	content: '\e960';
}
.cross-circle-outline-filled:before {
	content: '\e965';
}
.cross-cricle-filled:before {
	content: '\e966';
}
.cross-filled:before {
	content: '\e967';
}
.crown-filled:before {
	content: '\e968';
}
.customize-filled:before {
	content: '\e969';
}
.dashboard-filled:before {
	content: '\e96a';
}
.delete-fill-filled:before {
	content: '\e96b';
}
.delete-stroke-filled:before {
	content: '\e96c';
}
.design-filled:before {
	content: '\e96d';
}
.detail-link-filled:before {
	content: '\e96e';
}
.discount-filled-2:before {
	content: '\e96f';
}
.discount-filled-filled:before {
	content: '\e970';
}
.doc-add-filled:before {
	content: '\e971';
}
.document-alt-filled:before {
	content: '\e972';
}
.donate-filled:before {
	content: '\e973';
}
.door-open-filled:before {
	content: '\e974';
}
.down-filled:before {
	content: '\e975';
}
.download-filled:before {
	content: '\e976';
}
.drop-down-filled:before {
	content: '\e977';
}
.drop-filled:before {
	content: '\e978';
}
.duration-filled:before {
	content: '\e979';
}
.earth-filled:before {
	content: '\e97a';
}
.edit-fill-filled:before {
	content: '\e97b';
}
.edit-filled:before {
	content: '\e97c';
}
.edit-option-filled:before {
	content: '\e97d';
}
.editor-filled:before {
	content: '\e97e';
}
.education-filled:before {
	content: '\e97f';
}
.envelope-filled:before {
	content: '\e980';
}
.expired-filled:before {
	content: '\e981';
}
.eye-fill-filled:before {
	content: '\e982';
}
.eye-filled:before {
	content: '\e983';
}
.fav-full-filled:before {
	content: '\e984';
}
.fav-line-filled:before {
	content: '\e985';
}
.fill-gaps-filled:before {
	content: '\e986';
}
.filter-dollar-filled:before {
	content: '\e987';
}
.filter-filled:before {
	content: '\e988';
}
.folder-filled:before {
	content: '\e989';
}
.grade-filled:before {
	content: '\e98a';
}
.gradebook-filled:before {
	content: '\e98b';
}
.grid-fill-filled:before {
	content: '\e98c';
}
.grid-filled:before {
	content: '\e98d';
}
.hand-holding-usd-filled:before {
	content: '\e98e';
}
.heart-filled:before {
	content: '\e98f';
}
.home-filled:before {
	content: '\e990';
}
.humnurger-filled:before {
	content: '\e991';
}
.idea-filled:before {
	content: '\e992';
}
.image-filled:before {
	content: '\e993';
}
.image-matching-filled:before {
	content: '\e994';
}
.image-portrait-filled:before {
	content: '\e995';
}
.img-add-filled:before {
	content: '\e996';
}
.import-export-filled:before {
	content: '\e997';
}
.import-filled:before {
	content: '\e998';
}
.in-progress-filled:before {
	content: '\e999';
}
.info-circle-outline-filled:before {
	content: '\e99a';
}
.instructor-filled:before {
	content: '\e99c';
}
.invisible-filled:before {
	content: '\e99e';
}
.landscape-filled:before {
	content: '\e99f';
}
.layer-filled:before {
	content: '\e9a0';
}
.link-filled:before {
	content: '\e9a1';
}
.list-filled:before {
	content: '\e9a2';
}
.lock-filled:before {
	content: '\e9a3';
}
.lock-stroke-filled:before {
	content: '\e9a4';
}
.man-user-filled:before {
	content: '\e9a5';
}
.manual-filled:before {
	content: '\e9a6';
}
.mark-cricle-filled:before {
	content: '\e9a7';
}
.mark-filled:before {
	content: '\e9a8';
}
.mark-unread-filled:before {
	content: '\e9a9';
}
.marks-achive-filled:before {
	content: '\e9aa';
}
.marks-total-filled:before {
	content: '\e9ab';
}
.matching-filled:before {
	content: '\e9ac';
}
.media-manager-filled:before {
	content: '\e9ad';
}
.meeting-filled:before {
	content: '\e9ae';
}
.microphone-filled:before {
	content: '\e9af';
}
.minus-bold-filled:before {
	content: '\e9b0';
}
.minus-filled:before {
	content: '\e9b1';
}
.monthly-filled:before {
	content: '\e9b2';
}
.move-filled:before {
	content: '\e9b3';
}
.msg-archive-1-filled:before {
	content: '\e9b4';
}
.msg-archive-2-filled:before {
	content: '\e9b5';
}
.msg-archive-filled:before {
	content: '\e9b6';
}
.msg-important-fill-filled:before {
	content: '\e9b7';
}
.msg-important-filled:before {
	content: '\e9b8';
}
.msg-read-filled:before {
	content: '\e9b9';
}
.msg-unread-filled:before {
	content: '\e9ba';
}
.multiple-choice-filled:before {
	content: '\e9bb';
}
.notification-filled:before {
	content: '\e9bc';
}
.notification-line-filled:before {
	content: '\e9bd';
}
.open-ended-filled:before {
	content: '\e9be';
}
.order-down-filled:before {
	content: '\e9bf';
}
.order-up-filled:before {
	content: '\e9c0';
}
.ordering-a-to-z-filled:before {
	content: '\e9c1';
}
.ordering-z-to-a-filled:before {
	content: '\e9c2';
}
.paste-filled:before {
	content: '\e9c3';
}
.play-outline-circle-filled:before {
	content: '\e9c4';
}
.plus-bold-filled:before {
	content: '\e9c5';
}
.plus-filled:before {
	content: '\e9c6';
}
.plus-square-filled:before {
	content: '\e9c7';
}
.print-filled:before {
	content: '\e9c9';
}
.purchase-filled:before {
	content: '\e9ca';
}
.puzzle-filled:before {
	content: '\e9cb';
}
.qr-code-filled:before {
	content: '\e9cc';
}
.question-filled:before {
	content: '\e9cd';
}
.question-mark-circle-filled:before {
	content: '\e9ce';
}
.quiz-1-filled:before {
	content: '\e9cf';
}
.quiz-attempt-filled:before {
	content: '\e9d0';
}
.quiz-filled:before {
	content: '\e9d1';
}
.recipt-filled:before {
	content: '\e9d2';
}
.redo-filled:before {
	content: '\e9d3';
}
.refresh-1-filled:before {
	content: '\e9d4';
}
.refresh-filled:before {
	content: '\e9d5';
}
.report-filled:before {
	content: '\e9d6';
}
.save-bold-filled:before {
	content: '\e9d7';
}
.search-filled:before {
	content: '\e9d8';
}
.send-filled:before {
	content: '\e9d9';
}
.settings-filled:before {
	content: '\e9da';
}
.shape-filled:before {
	content: '\e9db';
}
.share-filled:before {
	content: '\e9dc';
}
.short-ans-filled:before {
	content: '\e9dd';
}
.shorting-filled:before {
	content: '\e9de';
}
.signout-filled:before {
	content: '\e9e1';
}
.space-filled:before {
	content: '\e9e2';
}
.speaker-filled:before {
	content: '\e9e3';
}
.star-full-filled:before {
	content: '\e9e4';
}
.star-half-filled:before {
	content: '\e9e5';
}
.star-line-filled:before {
	content: '\e9e6';
}
.stopwatch-filled:before {
	content: '\e9e7';
}
.style-filled:before {
	content: '\e9e8';
}
.tick-circle-outline-filled:before {
	content: '\e9e9';
}
.undo-filled:before {
	content: '\e9ea';
}
.university-filled:before {
	content: '\e9eb';
}
.unlock-stroke-filled:before {
	content: '\e9ec';
}
.up-filled:before {
	content: '\e9ed';
}
.user-filled:before {
	content: '\e9ee';
}
.user-graduate-filled:before {
	content: '\e9ef';
}
.verify-filled:before {
	content: '\e9f0';
}
.video-camera-filled:before {
	content: '\e9f1';
}
.video-filled:before {
	content: '\e9f2';
}
.wallet-filled:before {
	content: '\e9f3';
}
.warning-outline-circle-filled:before {
	content: '\e9f6';
}
.website-filled:before {
	content: '\e9f7';
}
.yes-no-filled:before {
	content: '\e9f8';
}
.zoom-in-filled:before {
	content: '\e9f9';
}
.zoom-out-filled:before {
	content: '\e9fa';
}
.github-logo-brand:before {
	content: '\e9fb';
}
.google-brand:before {
	content: '\e9fc';
}
.google-drive-brand:before {
	content: '\e9fd';
}
.html5-brand:before {
	content: '\e9fe';
}
.html5-stroke-brand:before {
	content: '\e9ff';
}
.instagram-brand:before {
	content: '\ea00';
}
.linkedin-brand:before {
	content: '\ea01';
}
.myspace-brand:before {
	content: '\ea02';
}
.paid-membersip-pro-brand:before {
	content: '\ea03';
}
.reddit-brand:before {
	content: '\ea04';
}
.skype-brand:before {
	content: '\ea05';
}
.snapchat-brand:before {
	content: '\ea06';
}
.soundcloud-brand:before {
	content: '\ea07';
}
.spotify-brand:before {
	content: '\ea08';
}
.tumblr-brand:before {
	content: '\ea09';
}
.twitter-brand:before {
	content: '\ea0a';
}
.vimeo-brand:before {
	content: '\ea0b';
}
.vimeo-stroke-brand:before {
	content: '\ea0c';
}
.yelp-brand:before {
	content: '\ea0d';
}
.youtube-brand:before {
	content: '\ea0e';
}
.youtube-stroke-brand:before {
	content: '\ea0f';
}
.ai-file:before {
	content: '\ea11';
}
.archive-file:before {
	content: '\ea12';
}
.audio-file:before {
	content: '\ea13';
}
.avi-file:before {
	content: '\ea14';
}
.compress-file:before {
	content: '\ea15';
}
.css-file:before {
	content: '\ea16';
}
.csv-file:before {
	content: '\ea17';
}
.dbf-file:before {
	content: '\ea18';
}
.doc-file:before {
	content: '\ea19';
}
.document-file:before {
	content: '\ea1a';
}
.dwg-file:before {
	content: '\ea1b';
}
.exe-file:before {
	content: '\ea1c';
}
.fla-file:before {
	content: '\ea1d';
}
.html-file:before {
	content: '\ea1e';
}
.image-file:before {
	content: '\ea1f';
}
.iso-file:before {
	content: '\ea20';
}
.jason-file-file:before {
	content: '\ea21';
}
.javascript-file:before {
	content: '\ea22';
}
.jpg-file:before {
	content: '\ea23';
}
.mp3-file:before {
	content: '\ea24';
}
.mp4-file:before {
	content: '\ea25';
}
.pdf-file:before {
	content: '\ea26';
}
.png-file:before {
	content: '\ea27';
}
.ppt-file:before {
	content: '\ea28';
}
.psd-file:before {
	content: '\ea29';
}
.rtf-file:before {
	content: '\ea2a';
}
.spreadsheet-file:before {
	content: '\ea2b';
}
.svg-file:before {
	content: '\ea2c';
}
.text-file:before {
	content: '\ea2d';
}
.txt-file:before {
	content: '\ea2e';
}
.video-file:before {
	content: '\ea2f';
}
.xls-file:before {
	content: '\ea30';
}
.xml-file:before {
	content: '\ea31';
}
.zip-file:before {
	content: '\ea32';
}
