@font-face {
	font-family: 'tutor-v2-icon-test';
	src: url('../fonts/tutor-v2-icon-test.eot');
	src: url('../fonts/tutor-v2-icon-test.eot?z96rlv#iefix') format('embedded-opentype'),
		url('../fonts/tutor-v2-icon-test.ttf?z96rlv') format('truetype'),
		url('../fonts/tutor-v2-icon-test.woff?z96rlv') format('woff'),
		url('../fonts/tutor-v2-icon-test.svg?z96rlv#tutor-v2-icon-test') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.tutor-v2-icon-test {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tutor-v2-icon-test' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-add-group-filled:before {
	content: "\e900";
  }
  .icon-add-image-filled:before {
	content: "\e901";
  }
  .icon-add-member-filled:before {
	content: "\e902";
  }
  .icon-angle-double-left-filled:before {
	content: "\e903";
  }
  .icon-angle-double-right-filled:before {
	content: "\e904";
  }
  .icon-angle-down-filled:before {
	content: "\e905";
  }
  .icon-angle-left-filled:before {
	content: "\e906";
  }
  .icon-angle-right-filled:before {
	content: "\e907";
  }
  .icon-angle-up-filled:before {
	content: "\e908";
  }
  .icon-assesment-filled:before {
	content: "\e909";
  }
  .icon-assignment-filled:before {
	content: "\e90a";
  }
  .icon-attach-filled:before {
	content: "\e90b";
  }
  .icon-audio-volume-filled:before {
	content: "\e90c";
  }
  .icon-authorised-filled:before {
	content: "\e90d";
  }
  .icon-award-filled:before {
	content: "\e90e";
  }
  .icon-background-filled:before {
	content: "\e90f";
  }
  .icon-book-open-filled:before {
	content: "\e910";
  }
  .icon-books-filled:before {
	content: "\e911";
  }
  .icon-box-open-filled:before {
	content: "\e912";
  }
  .icon-browser-filled:before {
	content: "\e913";
  }
  .icon-bullet-point-filled:before {
	content: "\e914";
  }
  .icon-calender-bold-filled:before {
	content: "\e915";
  }
  .icon-calender-line-filled:before {
	content: "\e916";
  }
  .icon-camera-filled:before {
	content: "\e917";
  }
  .icon-cart-filled:before {
	content: "\e918";
  }
  .icon-cart-line-filled:before {
	content: "\e919";
  }
  .icon-certificate-1-filled:before {
	content: "\e91a";
  }
  .icon-certificate-filled:before {
	content: "\e91b";
  }
  .icon-change-filled:before {
	content: "\e91c";
  }
  .icon-chart-filled:before {
	content: "\e91d";
  }
  .icon-circle-outline-info-filled:before {
	content: "\e91e";
  }
  .icon-clock-fill-filled:before {
	content: "\e91f";
  }
  .icon-clock-filled:before {
	content: "\e920";
  }
  .icon-coding-filled:before {
	content: "\e921";
  }
  .icon-coins-filled:before {
	content: "\e922";
  }
  .icon-college-graduation-filled:before {
	content: "\e923";
  }
  .icon-comment-filled:before {
	content: "\e924";
  }
  .icon-company-filled:before {
	content: "\e925";
  }
  .icon-content-drip-filled:before {
	content: "\e926";
  }
  .icon-copy-filled:before {
	content: "\e927";
  }
  .icon-copy-text-filled .path1:before {
	content: "\e928";
	color: rgb(26, 27, 30);
  }
  .icon-copy-text-filled .path2:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(26, 27, 30);
  }
  .icon-copy-text-filled .path3:before {
	content: "\e92a";
	margin-left: -1em;
	color: rgb(33, 35, 39);
  }
  .icon-copy-text-filled .path4:before {
	content: "\e92b";
	margin-left: -1em;
	color: rgb(33, 35, 39);
  }
  .icon-cross-circle-outline-filled:before {
	content: "\e92c";
  }
  .icon-cross-cricle-filled:before {
	content: "\e92d";
  }
  .icon-cross-filled:before {
	content: "\e92e";
  }
  .icon-crown-filled:before {
	content: "\e92f";
  }
  .icon-customize-filled:before {
	content: "\e930";
  }
  .icon-dashboard-filled:before {
	content: "\e931";
  }
  .icon-delete-fill-filled:before {
	content: "\e932";
  }
  .icon-delete-stroke-filled:before {
	content: "\e933";
  }
  .icon-design-filled:before {
	content: "\e934";
  }
  .icon-detail-link-filled:before {
	content: "\e935";
  }
  .icon-discount-filled-2:before {
	content: "\e936";
  }
  .icon-discount-filled-filled:before {
	content: "\e937";
  }
  .icon-doc-add-filled:before {
	content: "\e938";
  }
  .icon-document-alt-filled:before {
	content: "\e939";
  }
  .icon-donate-filled:before {
	content: "\e93a";
  }
  .icon-door-open-filled:before {
	content: "\e93b";
  }
  .icon-down-filled:before {
	content: "\e93c";
  }
  .icon-download-filled:before {
	content: "\e93d";
  }
  .icon-drop-down-filled:before {
	content: "\e93e";
  }
  .icon-drop-filled:before {
	content: "\e93f";
  }
  .icon-duration-filled:before {
	content: "\e940";
  }
  .icon-earth-filled:before {
	content: "\e941";
  }
  .icon-edit-fill-filled:before {
	content: "\e942";
  }
  .icon-edit-filled:before {
	content: "\e943";
  }
  .icon-edit-option-filled:before {
	content: "\e944";
  }
  .icon-editor-filled:before {
	content: "\e945";
  }
  .icon-education-filled:before {
	content: "\e946";
  }
  .icon-envelope-filled:before {
	content: "\e947";
  }
  .icon-expired-filled:before {
	content: "\e948";
  }
  .icon-eye-fill-filled:before {
	content: "\e949";
  }
  .icon-eye-filled:before {
	content: "\e94a";
  }
  .icon-fav-full-filled:before {
	content: "\e94b";
  }
  .icon-fav-line-filled:before {
	content: "\e94c";
  }
  .icon-fill-gaps-filled:before {
	content: "\e94d";
  }
  .icon-filter-dollar-filled:before {
	content: "\e94e";
  }
  .icon-filter-filled:before {
	content: "\e94f";
  }
  .icon-folder-filled:before {
	content: "\e950";
  }
  .icon-grade-filled:before {
	content: "\e951";
  }
  .icon-gradebook-filled:before {
	content: "\e952";
  }
  .icon-grid-fill-filled:before {
	content: "\e953";
  }
  .icon-grid-filled:before {
	content: "\e954";
  }
  .icon-hand-holding-usd-filled:before {
	content: "\e955";
  }
  .icon-heart-filled:before {
	content: "\e956";
  }
  .icon-home-filled:before {
	content: "\e957";
  }
  .icon-humnurger-filled:before {
	content: "\e958";
  }
  .icon-idea-filled:before {
	content: "\e959";
  }
  .icon-image-filled:before {
	content: "\e95a";
  }
  .icon-image-matching-filled:before {
	content: "\e95b";
  }
  .icon-image-portrait-filled:before {
	content: "\e95c";
  }
  .icon-img-add-filled:before {
	content: "\e95d";
  }
  .icon-import-export-filled:before {
	content: "\e95e";
  }
  .icon-import-filled:before {
	content: "\e95f";
  }
  .icon-in-progress-filled:before {
	content: "\e960";
  }
  .icon-info-circle-outline-filled:before {
	content: "\e961";
  }
  .icon-info-filled:before {
	content: "\e962";
  }
  .icon-instructor-filled:before {
	content: "\e963";
  }
  .icon-invisible-fill-filled:before {
	content: "\e964";
  }
  .icon-invisible-filled:before {
	content: "\e965";
  }
  .icon-landscape-filled:before {
	content: "\e966";
  }
  .icon-layer-filled:before {
	content: "\e967";
  }
  .icon-link-filled:before {
	content: "\e968";
  }
  .icon-list-filled:before {
	content: "\e969";
  }
  .icon-lock-filled:before {
	content: "\e96a";
  }
  .icon-lock-stroke-filled:before {
	content: "\e96b";
  }
  .icon-man-user-filled:before {
	content: "\e96c";
  }
  .icon-manual-filled:before {
	content: "\e96d";
  }
  .icon-mark-cricle-filled:before {
	content: "\e96e";
  }
  .icon-mark-filled:before {
	content: "\e96f";
  }
  .icon-mark-unread-filled:before {
	content: "\e970";
  }
  .icon-marks-achive-filled:before {
	content: "\e971";
  }
  .icon-marks-total-filled:before {
	content: "\e972";
  }
  .icon-matching-filled:before {
	content: "\e973";
  }
  .icon-media-manager-filled:before {
	content: "\e974";
  }
  .icon-meeting-filled:before {
	content: "\e975";
  }
  .icon-microphone-filled:before {
	content: "\e976";
  }
  .icon-minus-bold-filled:before {
	content: "\e977";
  }
  .icon-minus-filled:before {
	content: "\e978";
  }
  .icon-monthly-filled:before {
	content: "\e979";
  }
  .icon-move-filled:before {
	content: "\e97a";
  }
  .icon-msg-archive-1-filled:before {
	content: "\e97b";
  }
  .icon-msg-archive-2-filled:before {
	content: "\e97c";
  }
  .icon-msg-archive-filled:before {
	content: "\e97d";
  }
  .icon-msg-important-fill-filled:before {
	content: "\e97e";
  }
  .icon-msg-important-filled:before {
	content: "\e97f";
  }
  .icon-msg-read-filled:before {
	content: "\e980";
  }
  .icon-msg-unread-filled:before {
	content: "\e981";
  }
  .icon-multiple-choice-filled:before {
	content: "\e982";
  }
  .icon-notification-filled:before {
	content: "\e983";
  }
  .icon-notification-line-filled:before {
	content: "\e984";
  }
  .icon-open-ended-filled:before {
	content: "\e985";
  }
  .icon-order-down-filled:before {
	content: "\e986";
  }
  .icon-order-up-filled:before {
	content: "\e987";
  }
  .icon-ordering-a-to-z-filled:before {
	content: "\e988";
  }
  .icon-ordering-z-to-a-filled:before {
	content: "\e989";
  }
  .icon-paste-filled:before {
	content: "\e98a";
  }
  .icon-play-outline-circle-filled:before {
	content: "\e98b";
  }
  .icon-plus-bold-filled:before {
	content: "\e98c";
  }
  .icon-plus-filled:before {
	content: "\e98d";
  }
  .icon-plus-square-filled:before {
	content: "\e98e";
  }
  .icon-portrait-filled:before {
	content: "\e98f";
  }
  .icon-print-filled:before {
	content: "\e990";
  }
  .icon-purchase-filled:before {
	content: "\e991";
  }
  .icon-puzzle-filled:before {
	content: "\e992";
  }
  .icon-qr-code-filled:before {
	content: "\e993";
  }
  .icon-question-filled:before {
	content: "\e994";
  }
  .icon-question-mark-circle-filled:before {
	content: "\e995";
  }
  .icon-quiz-1-filled:before {
	content: "\e996";
  }
  .icon-quiz-attempt-filled:before {
	content: "\e997";
  }
  .icon-quiz-filled:before {
	content: "\e998";
  }
  .icon-recipt-filled:before {
	content: "\e999";
  }
  .icon-redo-filled:before {
	content: "\e99a";
  }
  .icon-refresh-1-filled:before {
	content: "\e99b";
  }
  .icon-refresh-filled:before {
	content: "\e99c";
  }
  .icon-report-filled:before {
	content: "\e99d";
  }
  .icon-save-bold-filled:before {
	content: "\e99e";
  }
  .icon-search-filled:before {
	content: "\e99f";
  }
  .icon-send-filled:before {
	content: "\e9a0";
  }
  .icon-settings-filled:before {
	content: "\e9a1";
  }
  .icon-shape-filled:before {
	content: "\e9a2";
  }
  .icon-share-filled:before {
	content: "\e9a3";
  }
  .icon-short-ans-filled:before {
	content: "\e9a4";
  }
  .icon-shorting-filled:before {
	content: "\e9a5";
  }
  .icon-signature-filled .path1:before {
	content: "\e9a6";
	color: rgb(255, 255, 255);
  }
  .icon-signature-filled .path2:before {
	content: "\e9a7";
	margin-left: -1em;
	color: rgb(26, 27, 30);
  }
  .icon-signout-filled:before {
	content: "\e9a8";
  }
  .icon-space-filled:before {
	content: "\e9a9";
  }
  .icon-speaker-filled:before {
	content: "\e9aa";
  }
  .icon-star-full-filled:before {
	content: "\e9ab";
  }
  .icon-star-half-filled:before {
	content: "\e9ac";
  }
  .icon-star-line-filled:before {
	content: "\e9ad";
  }
  .icon-stopwatch-filled:before {
	content: "\e9ae";
  }
  .icon-style-filled:before {
	content: "\e9af";
  }
  .icon-tick-circle-outline-filled:before {
	content: "\e9b0";
  }
  .icon-undo-filled:before {
	content: "\e9b1";
  }
  .icon-university-filled:before {
	content: "\e9b2";
  }
  .icon-unlock-stroke-filled:before {
	content: "\e9b3";
  }
  .icon-up-filled:before {
	content: "\e9b4";
  }
  .icon-user-filled:before {
	content: "\e9b5";
  }
  .icon-user-graduate-filled:before {
	content: "\e9b6";
  }
  .icon-verify-filled:before {
	content: "\e9b7";
  }
  .icon-video-camera-filled:before {
	content: "\e9b8";
  }
  .icon-video-filled:before {
	content: "\e9b9";
  }
  .icon-wallet-filled:before {
	content: "\e9ba";
  }
  .icon-warning-1-filled:before {
	content: "\e9bb";
  }
  .icon-warning-filled:before {
	content: "\e9bc";
  }
  .icon-warning-outline-circle-filled:before {
	content: "\e9bd";
  }
  .icon-website-filled:before {
	content: "\e9be";
  }
  .icon-yes-no-filled:before {
	content: "\e9bf";
  }
  .icon-zoom-in-filled:before {
	content: "\e9c0";
  }
  .icon-zoom-out-filled:before {
	content: "\e9c1";
  }
  
