.tutor-video-player {
	position: relative;
	.loading-spinner {
		&:before {
			top: 50%;
			margin-top: -25px;
			margin-left: -25px;
		}
	}
}

.tutor-video-player-wrapper {
	position: relative;
}

.tutor-course-single-content-wrapper {
	.tutor-lesson-feature-image {
		img {
			display: block;
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.tutor-video-player {
		.loading-spinner {
			position: absolute;
			inset: 0;
			background: var(--tutor-color-gray-10);
			border-radius: 3px;
			z-index: 10;

			@include spinner(var(--tutor-color-primary), #eee);
		}

		.loading-spinner::before {
			width: 50px;
			height: 50px;
			top: calc(50% - 25px);
		}

		.loading-spinner.hide {
			display: none;
		}

		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}

		.plyr--vimeo .plyr__captions {
			display: none!important;
		}
	}
}

.plyr.plyr--video:fullscreen,
.plyr.plyr--video:-webkit-full-screen,
.plyr.plyr--video.plyr--fullscreen-fallback {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;

	.plyr__video-wrapper,
	.plyr__video-embed {
		max-width: 100%;
		max-height: 100%;
	}

	.plyr__video-embed > .plyr__video-embed__container {
		height: 100%;
		width: 100%;
		padding-bottom: 0;
		transform: none;
		position: relative;
	}

	video,
	iframe {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

.plyr.plyr--video.plyr--fullscreen-fallback {
	inset: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	max-width: none;
}
