.tutor-course-single-sidebar {
	&-title {
		display: flex;
		align-items: center;
		padding: 8px 16px;
    	height: 60px;
		background-color: #fff;
		border-bottom: 1px solid $border-color-secondary;
	}

	&-wrapper {
		flex: 0 0 400px;
		width: 400px;
		background-color: $color-gray-10;
		border-right: 1px solid $border-color-secondary;

		@include breakpoint-max(desktop-lg) {
			flex: 0 0 100%;
			width: 100%;
			position: absolute;
			// right: -100%;
			top: 0px;
			opacity: 0;
			z-index: -1;
		}

		// topics & content
		.tutor-accordion-item-header {
			font-size: 16px;
			font-weight: 500;
			color: var(--tutor-body-color);
			background-color: $color-gray-10;
			border-bottom: 1px solid $border-color-secondary;
			padding: 12px 44px 12px 16px;
			border-radius: 0;
			user-select: none;

			&:after {
				color: var(--tutor-color-muted);
				font-size: 14px;
			}

			&:hover,
			&.is-active {
				color: var(--tutor-color-primary);
			}

			&.is-active {
				&:after {
					color: var(--tutor-color-primary);
				}
			}

			.tutor-course-topic-title {
				position: relative;
				&-info {
					position: relative;
					display: inline-flex;
					top: 2px;
					cursor: pointer;
	
					&-icon {
						font-size: 14px;
						color: rgba(var(--tutor-body-color-rgb), 0.5);
					}
				}
			}

			.tutor-course-topic-summary {
				font-size: 12px;
				color: var(--tutor-color-muted);
			}
		}

		.tutor-accordion-item-body {
			background-color: #FFFFFF;
			padding-top: 8px;
			padding-bottom: 8px;
		}


		// bak
		.tutor-course-topic {
			&-item {
				position: relative;
	
				a {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					width: 100%;
					text-decoration: none;
					padding: 10px 16px;
					background-color: #fff;
				}
	
				&-icon {
					font-size: 18px;
					color: rgba(var(--tutor-body-color-rgb), 0.3);
					transition: 300ms ease-in;
				}
	
				&-title {
					color: var(--tutor-color-secondary);
					transition: 300ms ease-in;
				}
	
				&:hover,
				&.is-active {
					.tutor-course-topic-item-icon,
					.tutor-course-topic-item-title {
						color: var(--tutor-color-primary);
					}
				}
	
				&.is-active {
					a {
						background-color: $color-gray-5;
					}
				}

				// Checked for completed or passed
				.tutor-form-check-circle[checked] {
					border-color: var(--tutor-color-success);
					background-color: var(--tutor-color-success);
				}
				.tutor-check-pending{
					border-color: var(--tutor-color-warning)!important;
					background-color: var(--tutor-color-warning)!important;
					background-image: url("data:image/svg+xml,%3Csvg fill='%23FFF' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='10' viewBox='0 0 459.313 459.314' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M459.313,229.648c0,22.201-17.992,40.199-40.205,40.199H40.181c-11.094,0-21.14-4.498-28.416-11.774 C4.495,250.808,0,240.76,0,229.66c-0.006-22.204,17.992-40.199,40.202-40.193h378.936 C441.333,189.472,459.308,207.456,459.313,229.648z'/%3E%3C/g%3E%3C/svg%3E");
				}
				.tutor-check-fail{
					border-color: var(--tutor-color-danger)!important;
					background-color: var(--tutor-color-danger)!important;
					background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' xml:space='preserve'%3E%3Cpath d='M49.9,78c-4.2,0-7.6,3.5-7.6,7.8v1.5c0,4.3,3.4,7.7,7.6,7.7c4.2,0,7.7-3.4,7.7-7.7v-1.5C57.6,81.5,54.2,78,49.9,78L49.9,78z M49.8,5c-6.3,0-11.9,6.1-11.3,12.4l3.8,47c0.2,3.7,3.1,6.9,6.9,7.2c4.3,0.3,8.1-3,8.4-7.2l3.9-47C62,11.1,56.6,5,49.8,5z'%3E%3C/path%3E%3C/svg%3E");
				}
			}
		}
	}
}

body.rtl {
	.tutor-course-single-sidebar-wrapper {
		.tutor-accordion-item-header {
			padding: 12px 16px 12px 44px;
		}
	}
}