.tutor-course-spotlight-wrapper {
	.tutor-course-spotlight {
		&-tab {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	.tutor-lesson-wrapper iframe {
		max-width: 100%;
	}

	.tutor-exercise-files {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		word-break: break-all;
		@include breakpoint-max(mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
		.tutor-instructor-card {
			cursor: pointer;
			&:hover {
				.tutor-avatar {
					background: var(--tutor-color-primary);
					span {
						color: var(--tutor-color-white);
					}
				}
			}
			.tutor-avatar {
				background: rgba(var(--tutor-color-primary-rgb), 0.15);
				span {
					font-size: 30px;
				}
			}
		}
	}

	/* tutor-exercise-files */
	.tutor-conversation {
		border-bottom: 1px solid #ddd;
		padding: 0px 0px 55px 0px;
		.tutor-no-comments-show {
			border: 1px solid var(--tutor-border-color);
			border-radius: 6px;
			padding: 47px 33px;
			@include breakpoint-max(mobile) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 30px 20px;
				p {
					text-align: center;
				}
			}
		}
		.comment-avatar {
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}
		.tutor-comment-textarea,
		.tutor-actual-comment {
			&:before {
				content: '';
				display: block;
				height: 10px;
				width: 10px;
				background-color: #fff;
				border: 1px solid var(--tutor-border-color);
				position: absolute;
				left: -6px;
				top: 18px;
				clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
				transform: rotate(45deg);
				border-radius: 0 0 0 3px;
			}
			&:after {
				content: '';
				display: block;
				height: 10px;
				width: 10px;
				background-color: #fff;
				border: 1px solid #ffffff;
				position: absolute;
				left: -2px;
				top: 18px;
				border-radius: 3px 0 0 3px;
			}
		}
		.tutor-comment-box {
			display: grid;
			grid-template-columns: 70px auto;
			.tutor-comment-textarea {
				position: relative;
				grid-area: 1/2/1/3;
				border: 1px solid var(--tutor-border-color);
				border-radius: 6px;
				&.is-focused {
					border: 1px solid var(--tutor-color-primary);
					&:before {
						border: 1px solid var(--tutor-color-primary);
					}
				}

				textarea {
					padding: 20px;
					min-height: 96px;
					border-color: transparent;
				}
			}
			.tutor-comment-submit-btn {
				margin-top: 20px;
				grid-area: 2/2/2/3;
				justify-self: end;
			}
		}
		/* tutor-comment-box */
		.tutor-comments-list {
			display: grid;
			grid-template-columns: 70px auto;
			.tutor-single-comment {
				.tutor-actual-comment {
					background-color: #fff;
					border: 1px solid var(--tutor-border-color);
					border-radius: 6px;
					position: relative;
					padding: 15px 20px;
					.tutor-comment-author {
						span:first-child {
							color: #161d25;
						}
						span:last-child {
							color: #808993;
						}
					}
				}
				/* tutor-actual-comment */
				.tutor-comment-actions {
					span {
						cursor: pointer;
						text-transform: capitalize;
						&:not(:last-child) {
							margin-right: 23px;
						}
					}
				}
				.tutor-comment-box.tutor-reply-box {
					padding: 16px 0px 16px 16px;
					min-height: 54px;
					.tutor-comment-textarea {
						textarea {
							padding: 15px 20px;
							min-height: 56px;
						}
					}
				}
			}
			/* tutor-single-comment */
		}
		.tutor-comments-list.tutor-parent-comment {
			position: relative;
			.tutor-comment-line {
				position: absolute;
				width: 1px;
				left: 24px;
				top: 50px;
				background: var(--tutor-border-color);
			}
			.tutor-child-comment {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 45px;
					height: 1px;
					left: -45px;
					top: 25px;
					background: var(--tutor-border-color);
				}
				&:before {
					content: '';
					position: absolute;
					width: 45px;
					height: 1px;
					left: -68px;
					top: 3px;
					background: var(--tutor-border-color);
					transform: rotate(90deg);
					z-index: 9;
				}
				.tutor-single-comment {
					.tutor-actual-comment {
						.tutor-comment-author {
							@include breakpoint-max(mobile) {
								display: flex;
								flex-direction: column;
							}
						}
					}
				}
			}
		}
	}
}

/* tutor-course-spotlight-wrapper */

// .tutor-spotlight-mobile-progress-complete
.tutor-spotlight-mobile {
	&-progress-complete {
		background: #ffffff;
		box-shadow: 0px 0px 16px 0 rgba(176, 182, 209, 0.180862);
		margin-top: 16px;

		@include breakpoint-max(420) {
			.tutor-col-6 {
				flex: 0 0 auto;
				width: 100%;
			}
		}
	}

	&-progress-right {
		text-align: center;
		@include breakpoint-min(420) {
			.tutor-topbar-complete-btn {
				text-align: right;
			}
		}
		@include breakpoint-max(420) {
			.tutor-topbar-complete-btn.tutor-ml-24 {
				margin-left: 0 !important;
			}
		}
		[class*='tutor-icon-'] {
			display: none;
		}
	}
}

.tutor-course-spotlight-comments {
	max-width: 670px;
	margin: auto;
}

// rtl
@at-root body.rtl {
	.tutor-course-spotlight-wrapper {
		.tutor-conversation {
			.tutor-comment-textarea,
			.tutor-actual-comment {
				&:before {
					left: initial;
					right: -6px;
					transform: rotate(220deg);
					border-radius: 0 3px 0 0px;
				}
				&:after {
					left: initial;
					right: -2px;
				}
			}

			.tutor-comments-list {
				.tutor-single-comment {
					.tutor-comment-actions {
						span {
							&:not(:last-child) {
								margin-right: initial;
								margin-left: 23px;
							}
						}
					}
				}
			}

			.tutor-comments-list.tutor-parent-comment {
				.tutor-comment-line {
					left: initial;
					right: 24px;
				}

				.tutor-child-comment {
					&:after {
						left: initial;
						right: -45px;
					}
					&:before {
						left: initial;
						right: -68px;
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}
