// Settings Page Styles
// Student account settings and preferences

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-profile-settings-section {
	background: $tutor-surface-base;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 0 auto;
	padding-bottom: $tutor-spacing-15;
}

.tutor-profile-settings-container {
	width: 100%;
	max-width: 696px;
	margin: 0 auto;
}

.tutor-profile-settings-header {
	border-bottom: 1px solid $tutor-border-idle;
	padding: $tutor-spacing-5;
	.tutor-profile-settings-back-btn {
		padding: $tutor-spacing-3 $tutor-spacing-3;
	}
}

.tutor-profile-settings-tab {
	padding: $tutor-spacing-3;
	border: 1px solid $tutor-border-idle;
	padding: $tutor-spacing-5;
	border-radius: $tutor-radius-2xl;
	background-color: $tutor-gray-1;
	button {
		font-weight: $tutor-font-weight-regular;
		height: unset;
		padding: $tutor-spacing-4 $tutor-spacing-7;
	}
}


// profile notification section
.tutor-profile-notification {
	.tutor-profile-notification-card {
		background-color: var(--tutor-surface-l1);
		border: 1px solid var(--tutor-border-idle);
		overflow: hidden;
	}

	.tutor-profile-notification-content {
		border-top: 1px solid $tutor-border-idle;
		.tutor-input-field {
			width: max-content;
		}
	}

	.tutor-profile-notification-toggle {
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			color: $tutor-text-primary;
		}
		svg {
			path {
				transform: translate(0px, 2px);
			}
		}
	}

	.tutor-input-field {
		margin-bottom: 0px;
	}

	.tutor-profile-notification-content {
		border-top: 1px solid $tutor-border-idle;
	}
}