// Settings Page Styles
// Student account settings and preferences

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-profile-settings-section {
	background: $tutor-surface-base;
	display: flex;
	flex-direction: column;
	position: relative;
	.tutor-tabs-vertical {
		display: block;
	}

	@media (max-width: 768px) {
		.tutor-tabs-vertical .tutor-tabs-nav {
			flex-direction: column;
		}
	}
	@include tutor-breakpoint-down(sm) {
		.tutor-dashboard-container {
			.tutor-tabs-vertical .tutor-tabs-nav {
				flex-direction: column;
				gap: 16px;
				background: transparent;
				border: 0px;
				padding: 0px;
				overflow: unset;
			}
	
			.tutor-tabs-tab {
				gap: 15px;
				&:hover:not(:disabled):not(.tutor-tabs-tab-active) {
					background: transparent;
				}
			}
	
			.tutor-profile-settings-tab { 
				background: #FAFAFA;
			}
	
			.tutor-profile-settings-tab button {
				padding: 0px 0px;
			}
	
			.tutor-icon {
				background: white;
				color: $tutor-text-secondary;
				width: 48px;
				height: 48px;
				border-radius: $tutor-radius-md;
				border: 1px solid $tutor-border-idle;
			}
	
			.tutor-tabs-tab-active {
				color: var(--tutor-text-brand);
				background-color: transparent;
			}
		}
		.tutor-profile-settings-tab-content {
			background: $tutor-surface-base;
			position: absolute;
			top: 60px;
			height: 100vh;
			display: none;
			&.tutor-profile-tab-activated {
				left: 0px;
				display: block;
			}
		}
	}
}

.tutor-profile-settings-tab {
	border: 1px solid $tutor-border-idle;
	padding: $tutor-spacing-5;
	border-radius: $tutor-radius-2xl;
	background-color: $tutor-gray-1;
	button {
		font-weight: $tutor-font-weight-regular;
		height: unset;
		padding: $tutor-spacing-4 $tutor-spacing-7;
	}
}

// profile notification section
.tutor-profile-notification {
	.tutor-profile-notification-card {
		background-color: $tutor-surface-l1;
		border: 1px solid $tutor-border-idle;
		overflow: hidden;
	}

	.tutor-profile-notification-content {
		border-top: 1px solid $tutor-border-idle;
	}

	.tutor-profile-notification-toggle {
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			color: $tutor-text-primary;
		}
		svg {
			transition: transform 0.2s ease;
			path {
				transform: translate(0px, 2px);
			}
		}
		&.is-expanded svg {
			color: $tutor-text-primary;
			transform: rotate(90deg);
		}
	}

	.tutor-input-field {
		margin-bottom: 0px;
	}

	.tutor-profile-notification-content {
		border-top: 1px solid $tutor-border-idle;
	}
}