
/* Multi instructor styles */
.tutor-course-available-instructors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    .added-instructor-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        border: 1px solid #dcdfe5;
        padding: 13px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0px 10px 20px;

        @media (min-width: 1300px) {
            -ms-flex: 0 0 calc(33.333% - 20px);
            -webkit-box-flex: 0;
                    flex: 0 0 calc(33.333% - 20px);
            max-width: calc(33.333% - 20px);
        }
        
        @media (max-width: 546px) {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
                    flex: 0 0 100%;
            max-width: 100%;
        }
        
        .instructor-control {
            position: absolute;
            right: 14px;
            top: 50%;
            font-size: 12px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0;
            -webkit-transition: 300ms;
            transition: 300ms;

            a {
                color: red;
                text-decoration: none;
            }
        }

        &:hover{
            .instructor-control {
                opacity: 1;
            }
        }

        .instructor-icon {
            height: 45px;
            width: 45px;
            overflow: hidden;
            border-radius: 50px;
            margin-right: 15px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .instructor-name {
            position: relative;

            i.instructor-name-tooltip {
                -webkit-transition: 300ms;
                transition: 300ms;
                opacity: 0;
                position: absolute;
                bottom: 34px;
                right: 9px;
                background: #2a344f;
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
                color: #fff;
                font-size: 12px;
                font-style: normal;
                padding: 0 8px;
                border-radius: 15px;
                line-height: 20px;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    border: 5px solid #2a344f;
                    bottom: -3px;
                    left: 50%;
                    margin-left: -5px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }
            
            img {
                display: inline-block;
                margin-left: 10px;
                width: 18px;

                &:hover + i.instructor-name-tooltip {
                opacity: 1;
                }
            }
        }
        
    }
}

#tutor-instructors {
	h2 {
		padding: 15px;
		line-height: 30px;

		&:before {
			content: "\e93c";
			color: var(--tutor-primary-color);
			font-family: "tutor" !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-right: 10px;
		}
	}
} 