.tutor-frontend-dashboard-header {
    position: relative;
    padding-bottom: 25px;
    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 30px);
        left: 15px;
        height: 1px;
        background: var(--tutor-border-color);
        bottom: 0;
    }
    .tutor-dashboard-header {
        .tutor-dashboard-header-info {
            flex: 1;
            flex-grow: 1;
            padding-left: 24px;
            padding-top: 15px;
            padding-bottom: 15px;
    
            .tutor-dashboard-header-display-name {
                h4 {
                    margin: 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    color: var(--tutor-body-color);
                }
            }
    
            .tutor-dashboard-header-stats {
                display: flex;
                flex-wrap: wrap;
                line-height: 25px;
    
                & > div {
                    &:not(:first-child) {
                        margin-left: 30px;
                    }
                }
            }
        }
    
        &-greetings,
        &-username {
            text-transform: capitalize;
        }
    }

}