
// Course attachment styles
.tutor-course-builder-attachments{
    @include valueWithPrefix(display, flex);
    @include propertyWithPrefix(flex-wrap, wrap);
    @include propertyWithPrefix(box-sizing, border-box);

    &:empty {
        display: none;
    }

    &, * {
        &, &:focus, &:active, &:hover {
            text-decoration: none;
            outline: none;
        }
    }

    .tutor-added-attachment{
        @include propertyWithPrefix(flex, 0 0 calc(25% - 30px));
        max-width: calc(25% - 30px);
        border: 1px solid #DCDFE5;
        padding: 35px 20px 20px;
        position: relative;
        text-align: center;
        margin-left: 30px;
        margin-bottom: 30px;
        border-radius: 4px;
        transition: 300ms;
        min-width: 120px;
        @media (max-width: 480px) {
            flex: 0 0 calc(50% - 30px);
            max-width: calc(50% - 30px);
        }
        
        i{
            font-size: 58px;
            line-height: 58px;
            margin-bottom: 25px;
            display: block;
        }
        
        .tutor-delete-attachment{
            position: absolute;
            height: 22px;
            width: 22px;
            border: 1px solid #DCDFE5;
            text-align: center;
            line-height: 22px;
            top: -1px;
            right: -1px;
            font-size: 10px;
            border-top-right-radius: 4px;
            color: transparent;
            transition: 300ms;
        }
        
        &:hover{
            &, .tutor-delete-attachment{
                border-color: #D71830;
                color: #D71830;
            }
        }
        
        span{
            display: block;
            
            a{
                font-size: 14px;
                display: block;
                line-height: 20px;
                color: #606C8F;
            }
        }
    }
}

