.lqa-content-drip-wrap {
    background: #E3E5EB;
    margin: 0 -30px;
    margin-bottom: 30px;
    padding: 15px 30px;
    border-top: 1px solid #CDCFD5;
    border-bottom: 1px solid #CDCFD5;

    &>span{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #41454F;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-bottom: 15px;
    }

    label{
        font-style: normal;
        display: inline-block;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 13px;
        color: #757C8E;
    }
}