
// Multi instructor list styles
.tutor-course-available-instructors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    .added-instructor-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        border: 1px solid #dcdfe5;
        padding: 13px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0px 10px 10px 0;

        @media (min-width: 1300px) {
            -ms-flex: 0 0 calc(33.333% - 20px);
            -webkit-box-flex: 0;
                    flex: 0 0 calc(33.333% - 20px);
            max-width: calc(33.333% - 20px);
        }
        
        @media (max-width: 546px) {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
                    flex: 0 0 100%;
            max-width: 100%;
        }
        
        .instructor-control {
            position: absolute;
            right: 14px;
            top: 50%;
            font-size: 12px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            display: none;
            -webkit-transition: 300ms;
            transition: 300ms;

            a {
                text-decoration: none;
            }
        }

        &:hover{
            .instructor-control {
                display: inline-block;
            }
        }

        .instructor-icon {
            height: 45px;
            width: 45px;
            overflow: hidden;
            border-radius: 50px;
            margin-right: 15px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .instructor-name {
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #212327;

            i.instructor-name-tooltip {
                -webkit-transition: 300ms;
                transition: 300ms;
                opacity: 0;
                position: absolute;
                bottom: 34px;
                right: 9px;
                background: #2a344f;
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
                color: #fff;
                font-size: 12px;
                font-style: normal;
                padding: 0 8px;
                border-radius: 15px;
                line-height: 20px;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    border: 5px solid #2a344f;
                    bottom: -3px;
                    left: 50%;
                    margin-left: -5px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }
            
            img {
                display: inline-block;
                margin-left: 10px;
                width: 18px;

                &:hover + i.instructor-name-tooltip {
                opacity: 1;
                }
            }

            span{
                // Email address
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                color: #5B616F;
            }
        }
    }
}

// Multi instructor picker modal
#tutor_course_instructor_modal {
    .tutor-search-result {
        position: absolute;
        width: 300px;
        background: white;
        max-height: 216px;
        overflow: auto;
        border: 1px solid #CDCFD5;
        box-sizing: border-box;
        border-radius: 6px;
        
        &:empty{
            display: none;
            border: none;
            margin: 0;
            padding: 0;
            height: 0;
        }

        &>div{
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(align-items, center);
            padding: 12px 0;

            &:hover{
                background: #EFF1F7;
            }

            img {
                // Profile pic
                width: 34px;
                height: 34px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 19px;
            }

            span {
                // Name
                @include propertyWithPrefix(flex, 1);
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 23px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #212327;

                &>span{
                    // Email
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    color: #5B616F;
                }
            }

            i{
                // Add icon
                padding: 0 20px;
                color: #3E64DE;
                font-size: 20px;
                cursor: pointer;
            }

            &:not(:hover){
                i{
                    display: none;
                }
            }
        }
    }
}