$inst_gap: 30px;

// Multi instructor list styles
#wpcontent {
    .tutor-course-available-instructors {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
        gap: 20px;
        justify-content: flex-start;
        .added-instructor-item {
            max-width: unset !important;
        }
    }
}
.tutor-course-available-instructors {
    .added-instructor-item {
        background-color: #FFFFFF;
        border: 1px solid #dcdfe5;
        padding: 13px;
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        position: relative;
        box-sizing: border-box;

        &:not(:hover){
            .instructor-control {
                display: none;
            }
        }

        .instructor-icon {
            height: auto !important;
            max-width: 45px;
            overflow: hidden;
            border-radius: 50px;
            margin-right: 15px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .instructor-name {
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #212327;
            width: calc(100% - 45px);
            flex-basis: calc(100% - 45px);
            img {
                display: inline-block;
                margin-left: 5px;
                width: 18px;
            }

            span{
                // Email address
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                color: #5B616F;
            }
        }
    }
}

// Multi instructor picker modal
#tutor_course_instructor_modal {
    .tutor-search-result {
        position: absolute;
        z-index: 99;
        width: 400px;
        box-sizing: border-box;
        background: white;
        max-height: 216px;
        overflow: auto;
        border: 1px solid #CDCFD5;
        border-radius: 6px;

        &:empty{
            display: none;
            border: none;
            margin: 0;
            padding: 0;
            height: 0;
        }

        & > div{
            display: flex;
            align-items: center;
            padding: 12px 20px;

            &:hover{
                background: #EFF1F7;
            }

            img {
                width: 36px;
                height: 36px;
                border-radius: 50px;
                overflow: hidden;
                margin: 0 16px 0 0;
            }

            .tutor-instructor-single-action {
                margin-left: auto;
            }

            &:not(:hover){
                .tutor-instructor-single-action {
                    display: none;
                }
            }
        }
    }

    .tutor-selected-result {
        min-height: 150px;
        margin-bottom: 20px;
    }
}