.tutor-amount-field{
    $border-color: #c0c3cb;

    border-radius: 6px;
    border: 1px solid $border-color;
    padding: 0;
    background: var(--tutor-color-white);
    display: flex;
    align-items: center;

    span {
        padding: 8px 14px;
        border-right: 1px solid $border-color;
    }

    input {
        &, &:focus, &:active{
            border: none;
            background: transparent;
            outline: 0;
            box-shadow: none;
        }
    }
}