/* Course settings module */
.select2-container .select2-search__field {
    padding: 12px 3px 8px 6px !important;
}

#wpcontent,
#tutor-frontend-course-builder {
    .tutor-certificate-template {
        .template-item {
            .template-radio-field {
                height: 100% !important;
            }
        }
    }
    .tutor-btn {
        font-family: 'Inter', sans-serif;
        padding: 7px 20px;
        font-size: 15px;
        line-height: 24px;
    }
    .tutor-form-toggle .tutor-form-toggle-control {
        margin: 0 10px 0px 0px !important;
    }
    .tutor-form-toggle { 
        
    }
    .select2-container {
        li.select2-selection__choice {  
            background: #eff1f7;
        }
    }
    .tutor_add_content_wrap {
        button {
            padding: 2px 12px !important;
            &:not(:last-child) {
                margin-right: 14px !important;
            }
        }
    }
    p.tutor-input-feedback,
    div.tutor-input-feedback {
        font-size: 13px;
        color: #5B616F;
        i.tutor-input-feedback-icon {
            font-size: 20px;
            color: #B4B7C0;
        }
    }
    .tutor-modal-body {
        align-items: unset !important;
    }
    // .tutor-attachments-metabox {
    //     .tutor-attachment-cards {
    //         .filesize {
    //             margin-top: -5px;
    //         }
    //     }
    // }
    .tutor-course-available-instructors {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        .added-instructor-item {
            margin: 0 !important;
            max-width: calc(50% - 20px) !important;
            flex-basis: calc(50% - 20px) !important;
            @include breakpoint-max(mobile) {
                max-width: 100% !important;
                flex-basis: 100% !important;
            }
            .instructor-icon  {
                height: auto !important;
                max-width: 45px;
            }
            .instructor-name {
                width: calc(100% - 45px);
                flex-basis: calc(100% - 45px);
                .instructor-intro {
                    display: flex;
                    align-items: center;
                    .instructor-img {}
                    .instructor-email {
                        margin-top: -4px;
                    }
                }
            }
        }
    }
    .tutor-lesson-modal-wrap {
        .filesize {
            margin: 0px !important;
        }
    }
    #tutor_course_instructor_modal {
        .tutor-modal-body {
            padding: 40px 40px;
        }
        #tutor-course-available-instructors {
            gap : 10px;
        }
    }
    .tutor-quiz-advance-settings p.help {
        line-height: 1.34;
        margin-top: 10px;
    }
    .tutor-form-group input:not([type=submit]):focus {
        border: 0px solid transparent !important;
    }

    .tutor-quiz-builder-modal-wrap {
        .select-header {
            align-items: center;
        }
    }
    .tutor_assignment_modal_form {
        .tutor-form-select {
            width: 135px;
        }
    }
    label.tutor-form-label {
        margin-bottom: 12px !important;
    }
    label.tutor-amount-field {
        padding: 0px 20px 0px 0px;
    }
    #tutor-course-create-title-tooltip-wrapper {
    }
    .tutor-zoom-meeting-modal-wrap {
        #tutor-zoom-meeting-modal-form {
            .tutor-react-datepicker .react-datepicker__input-container input,
            .tutor_zoom_timepicker {
                height: 48px !important;
                padding-right: 25px;
                font-size: 15px;
            }
            .date-range-input {
                input {
                    border-radius: 6px !important;
                    border: 1px solid #d7dadf !important;
                }
            }
            input[data-name="meeting_duration"] {
                font-size: 15px;
            }
            .tutor-icon-clock {
                color: black;
            }
        }
    }

    #tutor-course-content-wrap {
        .tutor-topics-top {
            .course-move-handle {
            }
            .tutor-topic-title {
                background: #F4F6F9;
                > span {
                    padding: 8px 0px;
                }
                span.ttr-humnurger-filled,
                .topic-inner-title {
                    padding-top: 10px;
                }
                span.ttr-humnurger-filled {
                    // display: block;
                    align-self: flex-start;
                    padding-top: 15px;
                }
                .topic-inner-title {
                    // align-self: center;
                    line-height: 1.3;
                    padding-right: 20px;
                    padding-bottom: 13px;
                    padding-top: 17px;
                }
                span.expand-collapse-wrap {
                    i {
                        margin-top: 4px;
                        display: block;
                    }
                }
                .tutor-topic-btn-hover i {
                    &:hover {
                        color: $design-brand;
                    }
                }
            }
        }
    }
}
#tutor-metabox-course-settings-tabs {
    background-color: #fff;
    border: 1px solid $stroke-light-30;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;

    .settings-tabs-heading {
        padding: 1em;
        border-bottom: 1px solid #e5e5e5;

        h3 {
            font-size: 14px;
            margin: 0;
            line-height: 1.4;
        }
    }

    .tutor-field-radio {
        p {
            margin-top: 0;
        }
    }

    .course-settings-tabs-container {
        @include valueWithPrefix(display, flex);

        .settings-tabs-navs-wrap {
            @include propertyWithPrefix(flex, 0 0 200px);
            background: $black-05;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            overflow: hidden;

            ul.settings-tabs-navs {
                margin: 0;
                list-style: none;
                padding: 0;

                li {
                    margin: 0;

                    a {
                        display: block;
                        padding: 13px 9px;
                        color: #23282d;
                        text-decoration: none;
                        text-transform: capitalize;
                        border-left: 3px solid transparent;
                        display: flex;
                        align-items: center;
                        &:focus {
                            box-shadow: none;
                        }

                        &,
                        i {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            color: #41454f;
                            line-height: initial;
                            vertical-align: middle;
                        }

                        i {
                            font-size: 26px;
                            margin-right: 3px;  
                        }
                    }

                    &.active {
                        a {
                            background-color: white;
                            border-left: 3px solid var(--tutor-primary-color);
                        }
                    }

                    &:not(.active):not(:last-child) {
                        a {
                            border-bottom: 1px solid #e5e5e5;
                        }
                    }
                }
            }
        }

        .settings-tabs-container {
            padding: 30px 40px 0px 40px;
            background: white;
            @include propertyWithPrefix(flex, 1);
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            overflow: hidden;

            label.tutor-course-setting-label {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            input.tutor-form-check-input {
                margin-top: 0;
            }
        }
    }

    @at-root {
        #{$body}:not(.tutor-screen-course-builder-frontend) {
            #course-settings {
                .inside {
                    margin: 0;
                    padding: 0;
                }
            }

            #tutor-metabox-course-settings-tabs {
                border: none;

                &,
                .settings-tabs-navs-wrap,
                .settings-tabs-container {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}
#tutor-frontend-course-builder {
    .filesize {
        margin-top: -8px;
    }
}
#wpcontent {
    .filesize {
        margin-top: -2px;
    }
}