/* Course settings module */
#tutor-metabox-course-settings-tabs {
    background-color: #fff;
    border: 1px solid $stroke-light-30;
    box-sizing: border-box;
    border-radius: 6px;

    @at-root{
        #{$body}:not(.tutor-screen-course-builder-frontend) {
            #tutor-metabox-course-settings-tabs{
                border: none;
            }
        }
    }
    
    .settings-tabs-heading{
        padding: 1em;
        border-bottom: 1px solid #e5e5e5;

        h3{
            font-size: 14px;
            margin: 0;
            line-height: 1.4;
        }
    }

    .tutor-field-radio {
        p{
            margin-top: 0;
        }
    } 

    .course-settings-tabs-container {
        @include valueWithPrefix(display, flex);
        
        .settings-tabs-navs-wrap{
            @include propertyWithPrefix(flex, 0 0 200px);
            background: $black-05;            
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            overflow: hidden;

            ul.settings-tabs-navs{
                margin: 0;
                list-style: none;
                padding: 0;

                li{
                    margin: 0;
                    
                    a {
                        display: block;
                        padding: 13px 9px;
                        color: #23282d;
                        text-decoration: none;
                        text-transform: capitalize;
                        border-left: 3px solid transparent;

                        &:focus{
                            box-shadow: none;
                        }

                        &, i {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            color: #41454F;
                            line-height: initial;
                            vertical-align: middle;
                        }

                        i{
                            font-size: 17px;
                            margin-right: 3px;
                        }
                    }
                    
                    &.active {
                        a {
                            background-color: white;
                            border-left: 3px solid var(--tutor-primary-color);
                        }
                    } 
                    
                    &:not(.active):not(:last-child) {
                        a{
                            border-bottom: 1px solid #e5e5e5;
                        }
                    }
                }
            }
        }

        .settings-tabs-container{
            padding: 1em;
            background: white;
            @include propertyWithPrefix(flex, 1);
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            overflow: hidden;
        }
    }
}