/* Course settings module */
.select2-container .select2-search__field {
	padding: 12px 3px 8px 6px !important;
}

#wpcontent,
#tutor-frontend-course-builder {
	.tutor-certificate-template {
		.template-item {
			.template-radio-field {
				height: 100% !important;
			}
		}
	}
	.tutor-modal {
		.tutor-delete-attachment.tutor-icon-line-cross {
			margin-left: 5px;
		}
		.tutor-modal-icon {
			margin: 0 auto !important;
		}
		.date-range-input i.tutor-icon-clock,
		.date-range-input i.tutor-icon-lock {
			font-size: 18px;
			position: absolute;
			right: 10px;
			top: 14px;
		}
		.tutor-quiz-answer {
			align-items: center;
		}
		.tutor-select-options {
			padding: 23px 10px 9px;
			p {
				margin-bottom: 15px;
			}
		}
		.add_question_answers_option {
			i {
				margin-right: 8px;
			}
		}
	}
	.btn-csv-download {
		padding: 0px;
		svg {
			fill: #757c8e;
			top: 0 px;
			width: 16px;
			height: 16px;
		}
	}

	.tutor-add-instructor-btn,
	.create_new_topic_btn {
		padding: 7px 20px;
	}
	.tutor-form-toggle .tutor-form-toggle-control {
		margin: 0 10px 0px 0px !important;
	}

	.select2-container {
		li.select2-selection__choice {
			background: #eff1f7;
		}
	}

	.tutor-course-available-instructors {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		.added-instructor-item {
			margin: 0 !important;
			max-width: calc(50% - 20px) !important;
			flex-basis: calc(50% - 20px) !important;
			@include breakpoint-max(mobile) {
				max-width: 100% !important;
				flex-basis: 100% !important;
			}
			.instructor-icon {
				height: auto !important;
				max-width: 45px;
			}
			.instructor-name {
				width: calc(100% - 45px);
				flex-basis: calc(100% - 45px);
				.instructor-intro {
					display: flex;
					align-items: center;
					.instructor-email {
						margin-top: -4px;
					}
				}
			}
		}
	}
	.tutor-quiz-advance-settings p.help {
		line-height: 1.34;
		margin-top: 10px;
	}
	.tutor-form-group input:not([type='submit']):focus {
		border: 0px solid transparent !important;
	}

	.tutor-quiz-builder-modal-wrap {
		.select-header {
			align-items: center;
		}
		.tutor-quiz-item .tutor-quiz-item-label .tutor-quiz-item-draggable {
			padding: 0 5px 0 14px;
		}
		.tutor-quiz-item-type {
			.tooltip-btn {
				display: flex;
			}
		}
		.question-type-select {
			.lead-option {
				display: flex;
				align-items: center;
				margin-top: 2px;
				span {
					display: flex;
					margin-top: -1px;
				}
			}
			.select-dropdown {
				i {
					display: flex;
				}
			}
			.tutor-select-options {
				span {
					i {
						margin-top: -2px;
					}
				}
			}
		}
	}
	.tutor_assignment_modal_form {
		.tutor-form-select {
			width: 135px;
		}
	}
	label.tutor-form-label {
		margin-bottom: 12px !important;
	}
	label.tutor-amount-field {
		padding: 0px 20px 0px 0px;
	}

	.tutor-zoom-meeting-modal-wrap {
		#tutor-zoom-meeting-modal-form {
			.tutor_zoom_timepicker,
			.tutor-dropdown-select-selected {
				height: 48px !important;
				padding-right: 25px;
				font-size: 15px;
				box-sizing: border-box;
				padding-top: 0;
				padding-bottom: 0;
			}
			.tutor-dropdown-select-selected {
				display: flex;
				align-items: center;
			}
			.date-range-input {
				input {
					border-radius: 6px !important;
					border: 1px solid #d7dadf !important;
				}
			}
			input[data-name='meeting_duration'] {
				font-size: 15px;
			}
			.tutor-icon-clock {
				color: black;
			}
		}
	}

	#tutor-course-content-wrap {
		.tutor-topics-top {
			.tutor-topic-title {
				background: #f4f6f9;
			}
		}
	}
}
#tutor-metabox-course-settings-tabs {
	background-color: #fff;
	border: 1px solid $stroke-light-30;
	box-sizing: border-box;
	border-radius: 6px;
	width: 100%;

	.settings-tabs-heading {
		padding: 1em;
		border-bottom: 1px solid #e5e5e5;

		h3 {
			font-size: 14px;
			margin: 0;
			line-height: 1.4;
		}
	}

	.tutor-field-radio {
		p {
			margin-top: 0;
		}
	}

	.course-settings-tabs-container {
		display: flex;

		.settings-tabs-navs-wrap {
			flex: 0 0 200px;
			background: $black-05;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			overflow: hidden;

			ul.settings-tabs-navs {
				margin: 0;
				list-style: none;
				padding: 0;

				li {
					margin: 0;
					&:not(:first-child) {
						a {
							border-top: 1px solid transparent;
						}
					}

					a {
						display: block;
						padding: 13px 9px;
						color: #23282d;
						text-decoration: none;
						text-transform: capitalize;
						border-left: 3px solid transparent;
						display: flex;
						align-items: center;
						border-bottom: 1px solid transparent;
						transition: background 300ms, border 300ms;
						&:focus {
							box-shadow: none;
						}

						&,
						i {
							font-style: normal;
							font-weight: 500;
							font-size: 15px;
							color: #41454f;
							line-height: initial;
							vertical-align: middle;
						}

						i {
							margin-right: 8px;
							width: 24px;
							height: 24px;
							font-size: 20px;
							display: flex;
							align-items: center;
						}
					}

					&.active {
						a {
							background-color: white;
							border-left: 3px solid var(--tutor-primary-color);
							border-bottom-color: #e5e5e5;
							border-top-color: #e5e5e5;
						}
					}

					&:not(.active):not(:last-child) {
						a {
							// border-bottom-color: #e5e5e5;
						}
					}
				}
			}
		}

		.settings-tabs-container {
			padding: 30px 40px 0px 40px;
			background: white;
			flex: 1;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			overflow: hidden;

			label.tutor-course-setting-label {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
			}
			input.tutor-form-check-input {
				margin-top: 0;
			}
		}
	}

	@at-root {
		#{$body}:not(.tutor-screen-course-builder-frontend) {
			#course-settings {
				.inside {
					margin: 0;
					padding: 0;
				}
			}

			#tutor-metabox-course-settings-tabs {
				border: none;

				&,
				.settings-tabs-navs-wrap,
				.settings-tabs-container {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}
}
#tutor-frontend-course-builder {
	p {
		margin-bottom: 0px;
	}
}
#wpcontent {
	.tutor-course-content-top {
		> a {
			margin-top: 4px;
		}
	}
	.tutor-question-answer-image {
		display: flex;
	}
}
