#tutor-course-content-builder-root {
    position: relative;
    // Course topics
    #tutor-course-content-wrap,
    #tutor-course-topics {
        position: relative;

        // Common style
        a {
            text-decoration: none;
            &:focus {
                @include propertyWithPrefix(box-shadow, none);
            }
        }

        .tutor-topics-wrap {
            border-bottom: 1px solid #f6f8fa;
            padding-bottom: 0;
            margin: 0;
            background:$black-05;
            border-radius: 6px;
            margin-bottom: 15px;
            border: 1px solid $stroke-light-30;
            overflow: hidden;

            .tutor-topic-title {
                @include valueWithPrefix(display, flex);
                font-size: 16px;
                font-weight: 300;
                margin: 0;
                line-height: 40px;
                padding-left: 15px;
                
                .topic-inner-title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: $black-main;
                    @include propertyWithPrefix(flex, 1);
                    
                    a {
                        color: #393c40;
                    }
                }
            
                &>span {
                    cursor: pointer;

                    &.expand-collapse-wrap {
                        &.is-expanded {
                            background: #F9F9F9;
                        }
                    }

                    &:not(.topic-inner-title){
                        width: 39px;
                        text-align: center;
                    }

                    &.tutor-icon-garbage {
                        &:hover{
                            color: rgb(167, 19, 19);
                        }
                    }
                }
            }

            .tutor-topics-body {
                background: #F9F9F9;;
                padding: 15px 20px;

                .course-content-item {
                    padding: 10px;
                    border: 1px solid $stroke-light-30;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 4px rgba(216, 223, 234, 0.4);
                    border-radius: 6px;
                    margin-bottom: 15px;
                    background: white;
            
                    .tutor-lesson-top {
                        display: flex;
                        align-items: center;
                        
                        a {
                            color: #393c40;
                            font-weight: 400;
                            display: inline-flex;
                            align-items: center;
            
                            &:last-child {
                                margin-left: auto;
                            }
                            
                            &.open-tutor-lesson-modal {
                                @include propertyWithPrefix(flex-grow, 1);
                            }
                        }
            
                        i {
                            padding-right: 7px;
                            color: #393c40;
                        }
            
                        .tutor-updating-message i {
                            display: none;
                        }
            
                        i.tutor-icon-garbage:hover {
                            color: red;
                        }
                    }
                }
            }

            .tutor_add_content_wrap {
                padding: 0;
                @include valueWithPrefix(display, flex);
                @include propertyWithPrefix(flex-wrap, wrap);
                
                button {
                    font-style: normal;
                    font-weight: 500;
                    padding: 6px 12px;
                    margin-top: 3px;
                    margin-bottom: 3px;

                    &, .tutor-icon-plus-square-button {
                        font-size: 13px;
                    }
                }

                &>button {
                    &:not(:last-of-type) {
                        margin-right: 9px;
                    }
                }
            }
                
            .course-move-handle {
                @include propertyWithPrefix(align-self, center);
                cursor: grab;
                margin-right: 5px;

                &:active {
                    cursor: grabbing;
                }
            }
        }

        .drop-lessons {
            p {
                margin: 0;
            }
        }

        .tutor-lessons {
            padding-left: 0;
            margin-bottom: 20px;

            &:empty {
                display: none;
            }

            &.ui-sortable {
                min-height: 20px;
            }
        }

        .tutor-lesson-top {
            @include valueWithPrefix(display, flex);
            font-size: 14px;

            &,
            i {
                font-size: 15px;
            }

            i {
                &.tutor-icon-pencil {
                    margin: 0 10px;
                }

                &.tutor-icon-move {
                    margin-right: 10px;
                    cursor: grab;
                    line-height: unset;

                    &:active {
                        cursor: grabbing;
                    }
                }
            }

            a {
                color: #393c40;
                &.tutor-updating-message {
                    i {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    @include propertyWithPrefix(flex, 1);
                }
            }

            .open-tutor-quiz-modal {
                i {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }

        @at-root {
            #{$body}.rtl {
                #tutor-course-content-wrap .tutor-lesson-top {
                    i.tutor-icon-move {
                        margin-right: 0;
                        margin-left: 10px;
                    }

                    .open-tutor-quiz-modal {
                        i {
                            margin-right: 0;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.tutor-course-builder-content-container {

    background: transparent;

    &.tutor-untopics-lessons {
        border: 1px solid #eee;
        padding: 20px;
        margin: 0 -1px -1px;
        background-color: #fbfbfb;

        h3 {
            font-weight: 300;
        }

        .tutor-lessons {
            padding-left: 0 !important;
        }
    }
}
