#tutor-course-content-builder-root {
	position: relative;
	// Course topics
	#tutor-course-content-wrap,
	#tutor-course-topics {
		position: relative;

		// Common style
		a {
			text-decoration: none;
			&:focus {
				box-shadow: none;
			}
		}

		.tutor-topics-wrap {
			border-bottom: 1px solid #f6f8fa;
			padding-bottom: 0;
			margin: 0;
			background: $color-gray-10;
			border-radius: 6px;
			margin-bottom: 15px;
			border: 1px solid var(--tutor-border-color);
			overflow: hidden;
			.tutor-topic-title {
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: 300;

				.topic-inner-title {
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					color: var(--tutor-body-color);
					flex: 1;
					
					a {
						color: #393c40;
					}
				}

				.expand-collapse-wrap {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 48px;
					padding: 4px 16px;
					color: var(--tutor-color-primary);
					margin-left: 4px;
					cursor: pointer;

					&.is-expanded {
						background: #fbfbfd;
					}
				}
			}

			.tutor-topics-body {
				background: #fbfbfd;
				padding: 15px 20px;

				.course-content-item {
					padding: 10px 10px 10px 10px;
					border: 1px solid var(--tutor-border-color);
					box-sizing: border-box;
					border-radius: 6px;
					margin-bottom: 16px;
					background: white;
				}
			}

			.tutor_add_content_wrap {
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				gap: 12px;

				& > span > button,
				& > button {
					font-style: normal;
					font-weight: 500;
					padding: 3px 8px;
					margin-top: 3px;
					margin-bottom: 3px;
				}
			}

			.course-move-handle {
				cursor: grab;
				&:active {
					cursor: grabbing;
				}
			}
		}

		.drop-lessons {
			p {
				margin: 0;
			}
		}

		.tutor-lessons {
			padding-left: 0;
			margin-bottom: 20px;

			&:empty {
				display: none;
			}

			&.ui-sortable {
				min-height: 20px;
			}
		}

		.tutor-course-content-top {
			display: flex;
			font-size: 14px;

			&,
			i {
				font-size: 15px;
			}

			i {
				&.tutor-icon-pencil {
					margin: 0 10px;
				}

				&.tutor-icon-move {
					margin-right: 10px;
					cursor: grab;
					line-height: unset;

					&:active {
						cursor: grabbing;
					}
				}
			}

			a {
				color: #393c40;
				&:nth-child(2) {
					flex: 1;
				}
			}

			.open-tutor-quiz-modal {
				i {
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}
			}
		}

		@at-root {
			#{$body}.rtl {
				#tutor-course-content-wrap .tutor-course-content-top {
					i.tutor-icon-move {
						margin-right: 0;
						margin-left: 10px;
					}

					.open-tutor-quiz-modal {
						i {
							margin-right: 0;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}