
.tutor-video-upload-wrap {

    .tutor-dashed-uploader {
        border: 2px dashed #BDCAF1;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 30px;
    }
    
    .video_source_wrap_html5 {
        width: 100%;
        background: white;

        .video-metabox-source-html5-upload {
            background-color: #fff;
            text-align: center;
            padding: 40px 20px;
            
            p {
                margin-bottom: 5px;
            }
            
            .video-upload-icon {
                i {
                    font-size: 67px;
                    color: var(--tutor-primary-color);
                }
            }
        
            .video_source_upload_wrap_html5 {
                margin-top: 10px;
            }
        } 
    }
}
