
.tutor-video-upload-wrap {

    .tutor-dashed-uploader {
        border: 2px dashed var(--tutor-color-primary);
        box-sizing: border-box;
        border-radius: 6px;
        padding: 30px;
    }
    
    .video_source_wrap_html5 {
        width: 100%;
        background: white;

        .video-metabox-source-html5-upload {
            background-color: #fff;
            text-align: center;
            padding: 40px 20px;
            display: none;
            
            p {
                margin-bottom: 5px;
            }
            
            .video-upload-icon {
                i {
                    font-size: 67px;
                    color: var(--tutor-color-primary);
                }
            }
        
            .video_source_upload_wrap_html5 {
                margin-top: 10px;
            }
        } 

        &:not(.tutor-has-video) {
            .video-metabox-source-html5-upload {
                display: block;
            }
            
            .html5-video-data {
                display: none;
            }
        }
    }
}
