@import './variables.scss';

// Color Utility class
$colorUtils: (
	// colors
	'black' var(--tutor-body-color),
	'white' $color-white,
	'primary' $color-primary,
	'success' $color-success,
	'warning' $color-warning,
	'danger' $color-danger,
	'secondary' $color-secondary,
	'muted' $color-muted,
	'gray-20' $color-gray-20,
	'gray-10' $color-gray-10,
);

:root {
	// --tutor-disabled-bg: #{$disabled-bg};
	// --tutor-disabled-color: #{$disabled-color};

	// --tutor-bg-dark-notification: #{$bg-dark-notification};
	// --tutor-bg-dark: #{$bg-dark};
	// --tutor-bg-grey: #{$bg-grey};
	// --tutor-bg-grey-light: #{rgba($bg-grey, 0.3)};

	// // Common Colors
	--tutor-color-white: 		#{$color-white};
	--tutor-color-success: 		#{$color-success};
	--tutor-color-success-rgb: 	#{$color-success-rgb};
	--tutor-color-warning: 		#{$color-warning};
	--tutor-color-warning-rgb: 	#{$color-warning-rgb};
	--tutor-color-danger:		#{$color-danger};
	--tutor-color-danger-rgb: 	#{$color-danger-rgb};

	// extra colors need to be replaces later
	--tutor-color-secondary: 	#{$color-secondary};
	--tutor-color-muted: 		#{$color-muted};
}


@each $classSuffix, $value in $colorUtils {
	.tutor-color-#{$classSuffix} {
		color: #{$value};
	}
}

@each $classSuffix, $value in $colorUtils {
	.tutor-bg-#{$classSuffix} {
		background-color: #{$value};
	}
}
