@import './variables.scss';

// Color Utiliy class
$colorUtils: (
	// Backend Dashboard
		'brand-wordpress' $brand-wordpress,
	'brand-wordpress-hover' $brand-wordpress-hover,
	// Common Colors
		'white' #ffffff,
	'brand' $primary-main,
	'success' $success-main,
	'warning' $warning-main,
	'error' $danger-main,
	// Text Colors
		'text-primary' $black-main,
	'text-title' $black-70,
	'text-subsued' $black-60,
	'text-hints' $text-hints,
	'text-white' $text-white,
	'text-brand' $text-brand,
	'text-success' $text-success,
	'text-warning' $text-warning,
	'text-error' $text-error,
	// Design Colors
		'design-dark' $black-90,
	'design-grey' $black-70,
	'design-white' $color-white,
	'design-brand' $color-brand,
	'design-success' $color-success,
	'design-warning' $color-warning,
	'design-danger' $color-error,
	// Strokes
		'stroke-light-10' $stroke-light-10,
	'stroke-light-20' $stroke-light-20,
	'stroke-light-30' $stroke-light-30,
	'stroke-gray' $stroke-gray,
	'stroke-blue' $stroke-blue,
	'stroke-danger' $stroke-danger,
	'stroke-success' $stroke-success,
	// Backgrounds
		'bg-brand' $color-brand,
	'bg-white' $color-white,
	'bg-gray-20' $bg-gray-20,
	'bg-gray-10' $bg-gray-10,
	'bg-dark-10' $bg-dark-10,
	'bg-dark-20' $bg-dark-20,
	'bg-dark-30' $bg-dark-30,
	// Primary
		'primary-main' $primary-main,
	'primary-100' $primary-100,
	'primary-90' $primary-90,
	'primary-80' $primary-80,
	'primary-70' $primary-70,
	'primary-60' $primary-60,
	'primary-50' $primary-50,
	'primary-40' $primary-40,
	'primary-30' $primary-30,
	// Black
		'black-main' $black-main,
	'black-100' $black-100,
	'black-90' $black-90,
	'black-80' $black-80,
	'black-70' $black-70,
	'black-60' $black-60,
	'black-50' $black-50,
	'black-40' $black-40,
	'black-30' $black-30,
	'black-20' $black-20,
	'black-10' $black-10,
	'black-05' $black-05,
	// Danger
		'danger-main' $danger-main,
	'danger-100' $danger-100,
	'danger-90' $danger-90,
	'danger-80' $danger-80,
	'danger-70' $danger-70,
	'danger-50' $danger-50,
	'danger-40' $danger-40,
	'danger-30' $danger-30,
	// Success
		'success-main' $success-main,
	'success-100' $success-100,
	'success-90' $success-90,
	'success-80' $success-80,
	'success-70' $success-70,
	'success-60' $success-60,
	'success-50' $success-50,
	'success-40' $success-40,
	'success-30' $success-30,
	// Warning
		'warning-main' $warning-main,
	'warning-100' $warning-100,
	'warning-90' $warning-90,
	'warning-80' $warning-80,
	'warning-70' $warning-70,
	'warning-60' $warning-60,
	'warning-50' $warning-50,
	'warning-40' $warning-40,
	'warning-30' $warning-30
);

@each $classSuffix, $value in $colorUtils {
	.color-#{$classSuffix} {
		color: #{$value};
	}
}

@each $classSuffix, $value in $colorUtils {
	.bg-#{$classSuffix} {
		background-color: #{$value};
	}
}
