// Typography mixin
@mixin getTypography($fWeight, $fSize, $lHeight) {
	font-size: $fSize;
	font-weight: $fWeight;
	line-height: $lHeight;
}

//Typography utlity .text-#{$variable}{...}
$typographyUtils: (
	// Thin 100
		'thin-h1' 100 80px 101%,
	'thin-h2' 100 60px 117%,
	'thin-h3' 100 40px 120%,
	'thin-h4' 100 30px 133%,
	'thin-h5' 100 24px 142%,
	'thin-h6' 100 20px 150%,
	'thin-body' 100 16px 162%,
	'thin-caption' 100 15px 160%,
	'thin-small' 100 13px 138%,
	'thin-tiny' 100 11px 145%,
	// Regular 400
		'regular-h1' 400 80px 101%,
	'regular-h2' 400 60px 117%,
	'regular-h3' 400 40px 120%,
	'regular-h4' 400 30px 133%,
	'regular-h5' 400 24px 142%,
	'regular-h6' 400 20px 150%,
	'regular-body' 400 16px 162%,
	'regular-caption' 400 15px 160%,
	'regular-small' 400 13px 138%,
	'regular-tiny' 400 11px 145%,
	// Medium 500
		'medium-h1' 500 80px 101%,
	'medium-h2' 500 60px 117%,
	'medium-h3' 500 40px 120%,
	'medium-h4' 500 30px 123%,
	'medium-h5' 500 24px 142%,
	'medium-h6' 500 20px 140%,
	'medium-body' 500 16px 162%,
	'medium-caption' 500 15px 160%,
	'medium-small' 500 13px 162%,
	'medium-tiny' 500 11px 145%,
	// Bold 700
		'bold-h1' 700 80px 101%,
	'bold-h2' 700 60px 117%,
	'bold-h3' 700 40px 120%,
	'bold-h4' 700 30px 123%,
	'bold-h5' 700 24px 142%,
	'bold-h6' 700 20px 150%,
	'bold-body' 700 16px 162%,
	'bold-caption' 700 15px 160%,
	'bold-small' 700 13px 162%,
	'bold-tiny' 700 11px 145%,
	// Btn
		'btn-xlarge' 500 18px 178%,
	'btn-large' 500 16px 200%,
	'btn-medium' 500 15px 160%,
	'btn-small' 500 13px 123%
);

@each $classSuffix, $fWeight, $fSize, $lHeight in $typographyUtils {
	.text-#{$classSuffix} {
		font-weight: #{$fWeight};
		font-size: #{$fSize};
		line-height: #{$lHeight};
	}
}

.text-body {
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
	@extend .text-regular-small;
}
