.tutor-wrap-parent {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.plyr input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none !important;
}
.plyr input[type=range]::-moz-range-track {
    box-shadow: none !important;
}
.plyr input[type=range]::-ms-fill-lower {
    box-shadow: none !important;
}
.plyr input[type=range]::-ms-fill-upper {
    box-shadow: none !important;
}