.DS_Store
node_modules/
/vendor/
.phpcs.cache
.phpunit.result.cache
php-errors.log
ehthumbs.db
Thumbs.db
.npm
.idea/
.vscode/
package-lock.json
.sass-cache
assets/css/*.map
assets/js/*.map
.prettierignore
*.zip
*.po
*.po~
*.mo
/test
.history
.docz
*.lock
