.DS_Store
node_modules/
/vendor/
.phpcs.cache
.phpunit.result.cache
php-errors.log
ehthumbs.db
Thumbs.db
.npm
.idea/
.vscode/
.sass-cache
assets/css/tutor-front.css.map
assets/css/tutor-front.min.css.map
.prettierignore
*.zip
*.po
*.po~
*.mo
/test
.docz
*.lock
