{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,jsonc,md}": ["prettier --write"],
  "*.php": [
    "sh -c './vendor/bin/phpcbf \"$@\" || true' --",
    "./vendor/bin/phpcs",
    "./vendor/bin/phpstan analyze --memory-limit=-1"
  ]
}
