<?xml version="1.0"?>
<ruleset name="tutor">
    <rule ref="WordPress">
        <!-- Rule excluded to comply with the PSR-4 standard  -->
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
    </rule>

    <!-- Enforce correct text domain -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="tutor"/>
            </property>
        </properties>
    </rule>
</ruleset>