<?xml version="1.0"?>
<ruleset name="tutor">
    <rule ref="WordPress">
        <!-- Rule excluded to comply with the PSR-4 standard  -->
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
    </rule>

    <!-- Enforce correct text domain -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="tutor"/>
            </property>
        </properties>
    </rule>

    <!-- Register custom capabilities for WordPress.WP.Capabilities sniff -->
    <rule ref="WordPress.WP.Capabilities">
        <properties>
            <property name="custom_capabilities" type="array">
                <element value="manage_tutor"/>
                <element value="tutor_instructor"/>
                <element value="publish_tutor_courses"/>
                <element value="delete_tutor_courses"/>
                <element value="delete_tutor_course"/>
            </property>
        </properties>
    </rule>
</ruleset>
