parameters:
    level: 8
    paths:
        - .
    excludePaths:
        # Exclude the Composer vendor directory
        - vendor
        # Exclude the GitHub Actions workflow directory
        - .github