// Tutor player styles

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-video-player {
  position: relative;

  .loading-spinner {
    position: absolute;
    inset: 0;
    background: $tutor-surface-base;
    border-radius: $tutor-radius-sm;
    z-index: $tutor-z-positive;
    @include tutor-loading-spinner($tutor-actions-brand-primary, $tutor-surface-base);

    &::before {
      width: 50px;
      height: 50px;
      top: calc(50% - 25px);
    }
  }

  video {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .plyr--vimeo .plyr__captions {
    display: none !important;
  }

  button.plyr__control,
  .plyr__control {
    color: $tutor-text-primary-inverse;
    border: none;
  }

  .plyr__control.plyr__tab-focus,
  .plyr__control:hover,
  .plyr__control:focus,
  .plyr__control[aria-expanded=true] {
    background: #00b3ff;
    background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
    color: #fff;
    color: var(--plyr-video-control-color-hover, #fff);
  }

  .plyr__controls__item.plyr__menu {
    .plyr__menu__container {
      [role=menu] button {
        color: $tutor-text-primary;
        &:hover,
        &:focus {
          color: $tutor-text-primary-inverse;
        }
      }
    }
  }

  .plyr__control--overlaid {
    background: #00b3ff;
    background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
    border: 0;
    border-radius: 100%;
    color: #fff;
    color: var(--plyr-video-control-color, #fff);
    padding: calc(var(--plyr-control-spacing, 10px) * 1.5);
    margin: $tutor-spacing-none;
    z-index: 9;
  }
}