// Tutor player styles

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-video-player {
  position: relative;

  .loading-spinner {
    position: absolute;
    inset: 0;
    background: $tutor-surface-base;
    border-radius: $tutor-radius-sm;
    z-index: $tutor-z-positive;
    @include tutor-loading-spinner($tutor-actions-brand-primary, $tutor-surface-base);

    &::before {
      width: 50px;
      height: 50px;
      top: calc(50% - 25px);
    }
  }

  video {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .plyr--vimeo .plyr__captions {
    display: none !important;
  }
}
