// Question and Answer Card

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-qna-card {
  @include tutor-flex(row, flex-start);
  gap: $tutor-spacing-5;
  background-color: $tutor-surface-l1;
  border: 1px solid $tutor-border-idle;
  border-radius: $tutor-radius-lg;
  padding: $tutor-spacing-6;
  transition: background-color 0.25s ease-in-out;
  position: relative;

  &.unread {
    background-color: $tutor-surface-brand-tertiary;
    border-color: $tutor-border-brand-secondary;

    &::before {
      content: '';
      height: 4px;
      width: 4px;
      position: absolute;
      left: 6px;
      top: 30px;
      background-color: $tutor-icon-critical;
      border-radius: $tutor-radius-lg;
    }
  }

  &.is-important {
    background-color: $tutor-surface-brand-tertiary;
    border-color: $tutor-border-brand-secondary;

    .tutor-qna-card-bookmark {
      position: absolute;
      top: -3px;
      inset-inline-end: $tutor-spacing-5;
      color: $tutor-icon-exception4;
    }
  }

  &-top {
    @include tutor-typography(tiny);
    @include tutor-flex(row, center);
    gap: $tutor-spacing-5;

    @include tutor-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: $tutor-spacing-none;
      margin-bottom: $tutor-spacing-4;
    }
  }

  &-author {
    position: relative;

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      position: absolute;
      right: -8px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $tutor-text-subdued;
      border-radius: $tutor-radius-lg;
    }
  }

  &-title {
    @include tutor-typography(medium, semibold);
    margin-bottom: $tutor-spacing-4;
    margin-top: 0px;
    transition: 0.25s ease-in-out;
  }

  &-meta {
    @include tutor-typography(small, regular, subdued);
    @include tutor-flex(row, center);
    gap: $tutor-spacing-6;

    svg {
      color: $tutor-icon-secondary;
    }

    &-reply-button {
      @include tutor-button-reset();
      @include tutor-typography(tiny, medium, subdued);
      margin-right: auto;

      @include tutor-breakpoint-up(sm) {
        display: none;
      }
    }

    @include tutor-breakpoint-down(sm) {
      @include tutor-typography(tiny, regular, subdued);
      gap: $tutor-spacing-5;

      svg {
        height: 16px;
        width: 16px;
      }

      .tutor-avatar {
        height: 20px;
        width: 20px;
      }
    }
  }

  &-actions {
    @include tutor-flex(row, center);
    gap: $tutor-spacing-3;
    position: absolute;
    top: $tutor-spacing-6;
    right: $tutor-spacing-6;

    @include tutor-breakpoint-up(sm) {
      visibility: hidden;
      opacity: 0;
      transition:
        opacity 0.25s ease-in-out,
        visibility 0.25s ease-in-out;
    }

    @include tutor-breakpoint-down(sm) {
      &-more {
        @include tutor-button-variant(ghost);
      }
    }
  }

  &:hover {
    background-color: $tutor-surface-l1-hover;
    border-color: $tutor-border-idle;

    .tutor-qna-card-title {
      color: $tutor-text-brand;
    }

    @include tutor-breakpoint-up(sm) {
      .tutor-qna-card-actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
