// Question and Answer Card

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-qna-card {
  @include tutor-flex(row, flex-start);
  gap: $tutor-spacing-5;
  background-color: $tutor-surface-l1;
  border: 1px solid $tutor-border-idle;
  border-radius: $tutor-radius-lg;
  padding: $tutor-spacing-6;
  position: relative;
  @include tutor-transition(background-color);

  @include tutor-breakpoint-down(sm) {
    padding: $tutor-spacing-5;
    border: none;
    border-radius: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $tutor-border-idle;
    }
  }

  &.unread {
    background-color: $tutor-surface-brand-tertiary;
    border-color: $tutor-border-brand-secondary;

    &::before {
      content: '';
      height: 4px;
      width: 4px;
      position: absolute;
      left: 6px;
      top: 30px;
      background-color: $tutor-icon-critical;
      border-radius: $tutor-radius-lg;

      @include tutor-breakpoint-down(sm) {
        left: 4px;
        top: 26px;
      }
    }
  }

  &.is-important {
    background-color: $tutor-surface-brand-tertiary;
    border-color: $tutor-border-brand-secondary;

    .tutor-qna-card-bookmark {
      position: absolute;
      top: -3px;
      inset-inline-end: $tutor-spacing-5;
      color: $tutor-icon-exception4;
    }
  }

  &-content {
    width: 100%;
  }

  &-top {
    @include tutor-typography(tiny);
    @include tutor-flex(row, center);
    gap: $tutor-spacing-5;

    @include tutor-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: $tutor-spacing-none;
      margin-bottom: $tutor-spacing-4;
    }
  }

  &-author {
    position: relative;
    text-transform: capitalize;

    @include tutor-breakpoint-up(sm) {
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $tutor-text-subdued;
        border-radius: $tutor-radius-lg;
      }
    }
  }

  &-title {
    @include tutor-typography(medium, semibold);
    margin-bottom: $tutor-spacing-4;
    margin-top: 0px;
    @include tutor-transition(color);
  }

  &-meta {
    @include tutor-typography(small, regular, subdued);
    @include tutor-flex(row, center);
    gap: $tutor-spacing-6;

    svg {
      color: $tutor-icon-secondary;
    }

    &-reply-button {
      @include tutor-button-reset();
      @include tutor-typography(tiny, medium, subdued);
      margin-right: auto;

      @include tutor-breakpoint-up(sm) {
        display: none;
      }
    }

    @include tutor-breakpoint-down(sm) {
      @include tutor-typography(tiny, regular, subdued);
      gap: $tutor-spacing-5;
      width: 100%;

      svg {
        height: 16px;
        width: 16px;
      }

      .tutor-avatar {
        height: 20px;
        width: 20px;
      }
    }
  }

  &-actions {
    @include tutor-flex(row, center);
    gap: $tutor-spacing-3;
    position: absolute;
    top: $tutor-spacing-6;
    right: $tutor-spacing-6;

    @include tutor-breakpoint-up(sm) {
      visibility: hidden;
      opacity: 0;
      @include tutor-transition((opacity, visibility));
    }

    @include tutor-breakpoint-down(sm) {
      top: $tutor-spacing-5;
      right: $tutor-spacing-5;

      &-trigger {
        @include tutor-button-variant(ghost);
      }
    }
  }

  &.active,
  &:hover {
    background-color: $tutor-surface-l1-hover;
    border-color: $tutor-border-idle;

    .tutor-qna-card-title {
      color: $tutor-text-brand;
    }

    @include tutor-breakpoint-up(sm) {
      .tutor-qna-card-actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
