// Quiz Attempts Page Styles
// Student quiz history, results, and retake options

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-my-quiz-attempts-wrapper .tutor-quiz-attempts {
  border-radius: $tutor-radius-2xl;

  @include tutor-breakpoint-down(sm) {
    border: 1px solid $tutor-border-idle;
    overflow: hidden;
    margin-top: $tutor-spacing-4;
  }
}

.tutor-quiz-attempts-mobile-heading {
  @include tutor-breakpoint-up(sm) {
    display: none;
  }
}

.tutor-quiz-attempts {
  &-filter {
    @include tutor-flex(row, center, space-between);
    padding: $tutor-spacing-5 $tutor-spacing-6;
    border-bottom: 1px solid $tutor-border-idle;
  }

  &-header {
    display: grid;
    grid-template-columns: 340px 180px 1.5fr 1fr;
    gap: $tutor-spacing-4;
    background-color: $tutor-surface-l1-hover;
    border-bottom: 1px solid $tutor-border-idle;
    padding: $tutor-spacing-5 $tutor-spacing-6;
    @include tutor-typography(tiny);
    color: $tutor-text-secondary;

    @include tutor-breakpoint-down(sm) {
      display: none;
    }
  }

  &-list {
    background-color: $tutor-surface-l1;
  }

  .tutor-quiz-attempts-header-item:last-of-type {
    text-align: center;
  }

  .tutor-quiz-attempts-item-wrapper {
    padding: $tutor-spacing-5 $tutor-spacing-6;

    &:not(:last-child) {
      border-bottom: 1px solid $tutor-border-idle;
    }

    &:hover {
      background-color: $tutor-surface-l1-hover;
    }

    &.tutor-quiz-previous-attempts {
      background-color: $tutor-surface-l1-hover;

      .tutor-quiz-attempts-expand-icon {
        transform: rotate(180deg);
      }
    }

    .tutor-quiz-attempts-item {
      display: grid;
      grid-template-columns: 340px 180px 1.5fr 1fr;
      grid-template-areas: 'info marks time result';
      gap: $tutor-spacing-4;
      align-items: center;

      .tutor-quiz-item-info-date a {
        color: $tutor-text-subdued;
      }

      @include tutor-breakpoint-down(sm) {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
          'info info info'
          'marks time result'
          'buttons buttons buttons';
        row-gap: $tutor-spacing-4;
        column-gap: 0px;

        &[data-learning-area='true'] {
          .tutor-quiz-item-info {
            div:first-of-type {
              @include tutor-visually-hidden;
            }

            .tutor-quiz-item-info-date a {
              @include tutor-typography('small', 'semibold', 'brand');
            }
          }
        }
      }

      .tutor-quiz-item-info {
        grid-area: info;

        &-expanded {
          @include tutor-flex(row, start);
          gap: $tutor-spacing-4;
          text-align: center;
          min-height: 24px;
        }

        &-title {
          @include tutor-typography(medium, semibold);
          text-align: start;
          margin-bottom: $tutor-spacing-2;

          @include tutor-breakpoint-down(sm) {
            font-size: $tutor-font-size-small;
            line-height: $tutor-line-height-small;
          }
        }

        &-course {
          @include tutor-flex(row, center);
          gap: $tutor-spacing-2;
          @include tutor-typography(small, regular, secondary);

          @include tutor-breakpoint-down(sm) {
            font-size: $tutor-font-size-tiny;
            line-height: $tutor-line-height-tiny;
          }
        }

        &-student {
          @include tutor-typography(tiny, regular, secondary);
          margin-top: $tutor-spacing-3;
        }

        &-date {
          @include tutor-typography(tiny, regular, subdued);
          margin-top: $tutor-spacing-3;
        }

        .tutor-quiz-attempts-expand-btn {
          @include tutor-button-reset();
          @include tutor-flex(row, center);
          gap: $tutor-spacing-2;
          @include tutor-typography(small, medium, brand);
          cursor: pointer;
          white-space: nowrap;

          @include tutor-breakpoint-down(sm) {
            @include tutor-flex(row, center);
            font-size: $tutor-font-size-tiny;
            line-height: $tutor-line-height-tiny;
          }
        }

        .tutor-quiz-attempts-expand-icon {
          display: flex;
          @include tutor-transition(transform, 0.3s);

          @include tutor-breakpoint-down(sm) {
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }

        .tutor-student-attempt-detail {
          text-decoration: none;
          @include tutor-breakpoint-up(sm) {
            display: none;
          }
        }
      }

      .tutor-quiz-item-marks {
        grid-area: marks;
        @include tutor-flex(row, center);
        gap: $tutor-spacing-4;

        @include tutor-breakpoint-down(sm) {
          background-color: $tutor-surface-l1-hover;
          border-start-start-radius: $tutor-radius-lg;
          border-end-start-radius: $tutor-radius-lg;
          padding-block: $tutor-spacing-5;
          padding-inline-start: $tutor-spacing-5;
        }

        .tutor-quiz-marks-breakdown {
          @include tutor-flex(column, stretch, center);
          gap: $tutor-spacing-1;

          .tutor-quiz-marks-correct,
          .tutor-quiz-marks-incorrect {
            @include tutor-badge-base;
            width: 100%;
            border-radius: $tutor-radius-full;

            &::before {
              content: '';
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: $tutor-radius-full;
              background-color: $tutor-icon-success-primary;
              margin-inline-start: $tutor-spacing-1;
            }
          }

          .tutor-quiz-marks-incorrect {
            &::before {
              background-color: $tutor-icon-critical;
            }
          }
        }
      }

      .tutor-quiz-item-time {
        grid-area: time;
        @include tutor-flex(row, center);
        gap: $tutor-spacing-3;
        @include tutor-typography(medium, regular, subdued);
        white-space: nowrap;

        @include tutor-breakpoint-down(sm) {
          @include tutor-typography(small, regular, subdued);
          height: 100%;
          background-color: $tutor-surface-l1-hover;
          padding-inline: $tutor-spacing-4;
        }
      }

      .tutor-quiz-item-result {
        grid-area: result;
        @include tutor-flex(column, center, center);

        @include tutor-breakpoint-down(sm) {
          height: 100%;
          background-color: $tutor-surface-l1-hover;
          border-start-end-radius: $tutor-radius-lg;
          border-end-end-radius: $tutor-radius-lg;
          padding-block: $tutor-spacing-5;
          padding-inline-end: $tutor-spacing-5;
        }

        .tutor-quiz-item-result-more {
          display: none;
        }
      }

      .tutor-quiz-item-buttons {
        grid-area: buttons;
        display: none;

        @include tutor-breakpoint-down(sm) {
          @include tutor-flex(row, center, center);
          gap: $tutor-spacing-5;
          margin-top: $tutor-spacing-2;

          button {
            flex: 1;
            gap: $tutor-spacing-2;
          }
        }
      }

      @include tutor-breakpoint-up(sm) {
        &:has(.tutor-popover[style*='visibility: visible;']) {
          .tutor-quiz-item-result {
            .tutor-badge {
              display: none;
            }
          }

          .tutor-quiz-item-result-more {
            display: flex;
          }
        }

        &:hover {
          .tutor-quiz-item-info-title {
            color: $tutor-brand-700;
          }
        }

        &:hover:has(.tutor-quiz-item-result-more) {
          .tutor-quiz-item-result {
            .tutor-badge {
              display: none;
            }

            .tutor-quiz-item-result-more {
              display: flex;
            }
          }
        }
      }
    }

    .tutor-quiz-previous-attempts {
      background-color: $tutor-surface-l1;
      border-radius: $tutor-radius-sm;
      margin-top: $tutor-spacing-6;

      .tutor-quiz-previous-attempts-title {
        @include tutor-breakpoint-down(sm) {
          padding: $tutor-spacing-5;
        }
      }

      .tutor-quiz-attempts-item {
        grid-template-columns: 324px 180px 1.5fr 1fr;
        padding: $tutor-spacing-6;
        @include tutor-transition(background-color);

        @include tutor-breakpoint-down(sm) {
          grid-template-columns: 2.5fr 1fr 1fr;
          grid-template-areas:
            'info info info'
            'marks time result'
            'buttons buttons buttons';
          padding-top: $tutor-spacing-5;
          padding-left: $tutor-spacing-5;
          padding-right: $tutor-spacing-5;
          padding-bottom: $tutor-spacing-2;
          row-gap: $tutor-spacing-4;
        }

        &:hover {
          background-color: $tutor-surface-l1-hover;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $tutor-border-idle;
        }

        /** for mobile there is button html 
         * so need to capture second to last child 
        **/
        @include tutor-breakpoint-up(sm) {
          &:not(:nth-last-child(2)) {
            border-bottom: 1px solid $tutor-border-idle;
          }
        }
      }

      @include tutor-breakpoint-down(sm) {
        .tutor-quiz-item-actions {
          padding-bottom: $tutor-spacing-5;
          &:not(:last-child) {
            border-bottom: 1px solid $tutor-border-idle;
          }
        }
      }
    }

    @include tutor-breakpoint-down(sm) {
      padding: $tutor-spacing-5;
    }
  }

  &.tutor-instructor-quiz-attempts {
    @include tutor-breakpoint-down(sm) {
      background-color: $tutor-surface-l1;
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-2xl;
    }
  }
}

.tutor-quiz-item-actions {
  @include tutor-flex(row, center, space-between);
  gap: $tutor-spacing-5;
  padding-top: $tutor-spacing-2;
  grid-column: 1/-1;

  button,
  a {
    width: 100%;
  }

  @include tutor-breakpoint-up(sm) {
    display: none;
  }
}
