.tutor-frontend-dashboard-withdrawal {
	.withdraw-history-table-wrap {
		.withdraw-history-table-title h4 {
			margin-top: 45px;
		}
		table {
			.tutor-withdrawals-method {
				display: grid;
				grid-template-columns: 40px auto;
				grid-gap: 15px;
				align-items: center;
			}
		}
		table.withdrawals-history {
			border: 1px solid #dcdbdc;
			box-sizing: border-box;
			position: relative;

			th {
				background: #f3f3f3;
			}

			th,
			td {
				padding: 10px;
				border: none;
				font-weight: normal;
				font-size: 13px;
				text-align: left;
				vertical-align: middle;

				& {
					border-bottom: 1px solid #dcdbdc;
					border-collapse: collapse;
				}

				&:first-child {
					padding: 10px 0 15px 15px;
				}

				&:last-child {
					text-align: right;
					padding-right: 15px;
					width: 50px;
				}

				&:nth-child(4) {
					width: 105px;
				}
			}

			td .withdraw-method-name {
				line-height: 20px;
				font-size: 15px;
				display: block;
			}

			small {
				font-size: 13px;
			}

			.tutor-status-text-container {
				.tool-tip-container {
					position: relative;
					display: inline-block;
					height: 24px;
					cursor: pointer;

					img {
						display: inline-block !important;
						width: 16px;
					}
				}
			}

			.tutor-status-text {
				display: inline-block;
				font-weight: bold;
				font-size: 13px;
				color: #ffffff;
				background: gray;
				border-radius: 2px;
				padding: 3px 9px;

				&.status-approved {
					background: #24a148;
				}
				&.status-pending {
					background: #ed9700;
				}
				&.status-rejected {
					background: #f44337;
				}
			}
		}
	}
}
