.tutor-segment-title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 13px;
    color: #000;
}

/*.tutor-course-topics-wrap*/
.tutor-course-topics-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}

.tutor-course-topics-header
    .tutor-course-topics-header-right
    span:not(:first-child) {
    margin-left: 45px;
}

.tutor-course-topics-contents h4 {
    font-size: var(--tutor-text-size);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--tutor-body-color);
}

.tutor-course-topics-contents .tutor-course-title {
    cursor: pointer;
}

.tutor-course-topics-contents .tutor-course-title h4 {
    color: var(--tutor-color-primary);
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 0;
}

.tutor-course-topic.tutor-active .tutor-course-title h4 > i:before {
    content: "\e910";
}

.tutor-course-topics-contents .tutor-course-title h4 i {
    font-size: 15px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}
.tutor-course-topics-contents .tutor-course-topic {
    border: 1px solid #dce4e6;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.tutor-course-title,
.tutor-course-lesson {
    padding: 14px 20px;
}
.tutor-course-lesson {
    border-top: 1px solid #dce4e6;
}

.tutor-course-lesson h5 {
    line-height: 22px;
    font-size: var(--tutor-text-size);
    margin-bottom: 0;
    display: flex;
    color: inherit;
    margin-top: 0;
}
.tutor-course-lesson h5 a {
    color: var(--tutor-color-primary);
    -webkit-transition: 300ms;
    transition: 300ms;
}

.tutor-course-lesson h5 a:hover {
    color: var(--tutor-color-primary-hover);
}

.tutor-course-lesson h5 i {
    line-height: 22px;
    vertical-align: text-top;
    margin-right: 10px;
    color: var(--tutor-color-muted);
    display: block;
}
.tutor-course-lesson h5 .lesson-preview-icon i {
    margin-right: 0;
    margin-left: 10px;
}

.tutor-course-lesson h5 .tutor-lesson-duration {
    margin-left: auto;
    padding-left: 5px;
    align-self: flex-start;
}

.tutor-course-lesson .lesson-preview-title {
    flex: 1 0 0;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}
table.course-single-gradebooks .datetime {
    margin: 0;
    font-size: 80%;
}

.tutor-course-lessons .tutor-course-lesson h5 i.tutor-lesson-thumbnail-icon {
    height: 50px;
    width: 70px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 20px;
    background-position: center center !important;
    background-size: cover !important;
}

.tutor-course-lessons
    .tutor-course-lesson
    h5
    i.tutor-lesson-thumbnail-icon:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.theme-twentytwentytwo .select2-container .select2-selection {
    padding: 0.2rem;
}

.tutor-password-protected-course{
    .tutor-modal-overlay {
        backdrop-filter: blur(10px);
    }

    .tutor-course-thumbnail {
        margin-bottom: 60px;

        img {
            width: 100%;
        }
    }

    .tutor-locked-badge {
        display: inline-block;
        width: fit-content;
        font-size: 14px;
        line-height: 24px;
        background-color: #FDF4E3;
        color: #202223;
        border-radius: 4px;
        padding: 4px 8px;
    }

    .tutor-btn {
        min-width: 110px;
        justify-content: center;
    }
}