// Wishlist Page Styles
// Grid layout for wishlist cards with responsive breakpoints

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-wishlist-grid {
  padding: $tutor-spacing-6;
  @include tutor-grid(3, $tutor-spacing-4);

  @include tutor-breakpoint-down('sm') {
    padding: $tutor-spacing-none;
    @include tutor-grid(1, $tutor-spacing-4);
  }
}
