@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-user-withdrawals {
    .tutor-withdrawal-status {
        @include tutor-flex(row, center, space-between);
        background-color: $tutor-surface-base;
        border: 1px solid $tutor-border-idle;
        border-radius: $tutor-radius-lg;
        padding: $tutor-spacing-6;
        margin-top: $tutor-spacing-6;

        &-item {
            flex: 1;
        }
    }
}