&:not(.tutor-has-question-from) {
	&[data-target='quiz-builder-tab-quiz-info'] {
		[action-tutor-prev-quiz],
		[action-tutor-save-quiz] {
			display: none;
		}
	}
	
	&[data-target='quiz-builder-tab-questions'],
	&[data-target='quiz-builder-tab-settings'] {
		[action-tutor-save-quiz] {
			display: none;
		}
	}
}

&.tutor-has-question-from {
	[action-tutor-prev-quiz],
	[action-tutor-next-quiz] {
		display: none;
	}
}



.question-type-select {
	position: relative;

	.select-header {
		border: 1px solid #dedede;
		margin: 0;
		padding: 10px;
		width: 100%;
		box-shadow: none;
		background-color: #fff;
		display: flex;
		cursor: pointer;
		box-sizing: border-box;
		border-radius: 3px;

		.lead-option {
			flex: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.question-type-pro {
				display: none;
			}
		}

		.select-dropdown {
			line-height: 22px;
		}
	}

	.tutor-select-options {
		border: 1px solid #dedede;
		background-color: #fff;
		padding: 22px 10px 8px;
		width: 581px;
		position: absolute;
		font-size: 0;
		z-index: 9;

		display: flex;

		flex-wrap: wrap;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
		top: 55px;
		border-radius: 3px;

		.tutor-select-option {
			width: calc(33.3333% - 22px);
			display: inline-block;
			padding: 9px;
			cursor: pointer;
			position: relative;
			box-sizing: border-box;
			margin: 0 11px 15px;
			border: 1px solid #e2e2e2;
			border-radius: 3px;
			font-size: 13px;

			&:hover {
				border-color: var(--tutor-primary-color);
			}
		}
	}
}

#quiz-builder-tab-settings {
	.tutor-input-group {
		flex-flow: column;

		input {
			&:not([name='assignment_title']) {
				max-width: 135px;
			}
		}
	}
}

#tutor_quiz_builder_answer_wrapper {
	background: #e3e5eb;
	margin-left: -30px;
	margin-right: -30px;

	& > div {
		padding: 30px;

		&:empty {
			display: none;
		}
	}

	& > a {
		display: block;
		padding: 15px 30px;
		background: #eff1f6;
		border-top: 1px solid #cdcfd5;
	}

	.tutor-add-option-wrapper {
		padding: 10px 15px;
		background: #eff1f7;
		border-top: 1px solid #cdcfd5;
	}

	.tutor_quiz_question_answers {
		padding: 15px;
	}

	.tutor-quiz-question-answers-form {
		padding: 20px 30px;
	}

	.tutor-quiz-answer-wrap {
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		.tutor-quiz-answer {
			background-color: #fff;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			padding: 10px 15px;
			border: 1px solid #dedede;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			line-height: 22px;
			border-radius: 3px;

			.tutor-quiz-answer-edit {
				a {
					display: block;
					// padding: 0px 9px;
					i {
						display: flex;
					}
				}
			}
			.tutor-quiz-answers-mark-correct-wrap {
				input {
					cursor: pointer;
				}
			}
		}
	}
}

.quiz-builder-question-wrap {
	display: flex;
	margin-bottom: 15px;
}

.tutor-quiz-advance-settings {
	border: 1px solid #e0e2ea;
	box-sizing: border-box;
	border-radius: 6px;

	h4 {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		color: #41454f;
		margin: 0;
		margin-bottom: 10px;
	}

	p.help {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: #757c8e;
	}

	// Header bottom border only when expanded
	&.tutor-is-active {
		.tutor-quiz-advance-header {
			& > div:first-child {
				border-bottom: 1px solid #e0e2ea;
				border-bottom-right-radius: 6px;
			}
		}
	}

	.tutor-quiz-advance-header {
		& > div {
			padding: 12px;

			&:first-child {
				border-right: 1px solid #e0e2ea;

				span {
					display: inline-flex;
					align-items: center;
					justify-content: center;

					width: 37px;
					height: 37px;
					background: #e9edfb;
					border-radius: 50%;

					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					color: #000000;

					i {
						color: #3e64de;
						font-size: 25px;
					}
				}
			}

			&:last-child {
				padding: 0 15px;
				font-size: 30px;
				color: #3e64de;
			}
		}
	}

	&:not(.tutor-is-active) {
		.tutor-quiz-advance-content {
			display: none;
		}
	}
}
