&[data-target=quiz-builder-tab-quiz-info] .modal-container>div:not(#quiz-builder-tab-quiz-info),
&[data-target=quiz-builder-tab-questions] .modal-container>div:not(#quiz-builder-tab-questions):not(#tutor-quiz-question-wrapper),
&[data-target=quiz-builder-tab-settings] .modal-container>div:not(#quiz-builder-tab-settings),
&[data-target=quiz-builder-tab-quiz-info] .tutor-modal-footer button[data-action=back] {
    display: none !important;
}

a.back-to-quiz-questions-btn {
	font-size: 16px;
	font-weight: 300;
	color: #393c40;
	margin-bottom: 10px;
	display: block;
}

// Show add to question button when quiz editor opened
&.tutor-has-question-from {
    .modal-container{
        padding-bottom: 0;
    }

    .tutor-modal-footer .tutor-bs-row>div{
        &:not(:last-child) {
            display: none !important;
        }

        &:last-child {
            text-align: center;
        }
    }
}

// Hide add to question button when the container has no quiz editor opened
&:not(.tutor-has-question-from) {
    .tutor-modal-footer .tutor-bs-row>div{
        &:last-child {
            display: none;
        }
    }
}

.question-type-select{

    position: relative;

    .select-header {
        border: 1px solid #dedede;
        margin: 0;
        padding: 10px;
        width: 100%;
        box-shadow: none;
        background-color: #fff;
        @include valueWithPrefix(display, flex);
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 3px;
        
        .lead-option {
            @include valueWithPrefix(flex, 1);
            
            .question-type-pro {
                display: none;
            }
        }
        
        .select-dropdown {
            line-height: 22px;
        }
    }
    
    .tutor-select-options {
        border: 1px solid #dedede;
        background-color: #fff;
        padding: 22px 10px 8px;
        width: 581px;
        position: absolute;
        font-size: 0;
        z-index: 9;

        display: flex;

        flex-wrap: wrap;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
        top: 55px;
        border-radius: 3px;
        
        .tutor-select-option {
            width: calc(33.3333% - 22px);
            display: inline-block;
            padding: 9px;
            cursor: pointer;
            position: relative;
            box-sizing: border-box;
            margin: 0 11px 15px;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            font-size: 13px;
            
            &:hover {
                border-color: var(--tutor-primary-color);
            }
        }
    }
}

#quiz-builder-tab-settings{
    .tutor-input-group{
        @include propertyWithPrefix(flex-flow, column);
        
        input{
            &:not([name=assignment_title]) {
                max-width: 135px;
            }
        }
    }
}

#tutor-answer-builder {
    background: #E3E5EB;
    margin-left: -30px;
    margin-right: -30px;
    
    #tutor_quiz_question_answer_form {
        padding: 15px;
    }

    .tutor-add-option-wrapper {
        padding: 10px 15px;
        background: #EFF1F7;
        border-top: 1px solid #CDCFD5;
    }

    .tutor_quiz_question_answers {
        padding: 15px;
    }
    
    &>div:empty{
        display: none;
    }

    .tutor-quiz-question-answers-form {
        background-color: #fff;
        padding: 20px;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border: 1px solid #dedede;
        border-radius: 3px;
    }

}

.quiz-builder-question-wrap {
    @include valueWithPrefix(display, flex);
	margin-bottom: 15px;
}

.tutor-quiz-advance-settings {
    border: 1px solid #E0E2EA;
    box-sizing: border-box;
    border-radius: 6px;

    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #41454F;
        margin: 0;
        margin-bottom: 10px;
    }

    p.help {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #757C8E;
    }

    // Header bottom border only when expanded
    &.tutor-is-active {
        .tutor-quiz-advance-header {
            &>div:first-child{
                border-bottom: 1px solid #E0E2EA;
                border-bottom-right-radius: 6px;
            }
        }
    }
    
    .tutor-quiz-advance-header {
        &>div{
            padding: 12px;
            
            &:first-child {
                border-right: 1px solid #E0E2EA;

                span{
                    @include valueWithPrefix(display, inline-flex);
                    @include propertyWithPrefix(align-items, center);
                    @include propertyWithPrefix(justify-content, center);

                    width: 37px;
                    height: 37px;
                    background: #E9EDFB;
                    border-radius: 50%;

                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    color: #000000;

                    i{
                        color: #3E64DE;
                        font-size: 25px;
                    }
                }
            }

            &:last-child{
                padding: 0 15px;
                font-size: 30px;
                color: #3E64DE;
            }
        }
    }

    &:not(.tutor-is-active) {
        .tutor-quiz-advance-content{
            display: none;
        }
    }
}