.tutor-wp-dashboard-header {
	.back {
		position: relative;
		a {
			font-size: 16px;
			line-height: 0px;
			font-weight: 400;
			color: #212327;
			.tutor-icon-previous-line {
				font-size: 20px;
				line-height: 0px;
				position: absolute;
			}
			.text {
				position: absolute;
				left: 25px;
				top: 0;
			}
		}
	}
}
