#screen-meta-links+.tutor-user-registration-notice-wrapper {
    margin-top: 45px;
}

.tutor-user-registration-notice {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid var(--tutor-border-color);
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    overflow: hidden;
    margin: 11px 0 15px;

    &>div{
        &:first-child {
            img {
                margin: 16px;
            }
        }

        &:nth-child(2){
            flex: 1;
            padding: 20px 0;
            color: #676a72;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            strong{
                color: black;
            }
        }

        &:last-child {
            border-left: 1px solid var(--tutor-border-color);
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-self: stretch;
            justify-content: space-around;

            a{
                display: block;
                width: calc(100% - 40px);
                height: 100%;
                padding: 0 20px;
                text-decoration: none;
                font-weight: 500;
                font-size: 15px;
                text-align: center;
                color: var(--tutor-color-muted);
                display: flex;
                align-items: center;

                &:hover {
                    color: #3E64DE;
                    background: #F3F3F5;
                }

                &, &:hover, &:focus, &:active {
                    outline: 0 !important;
                    box-shadow: none;
                }
            }

            hr{
                display: block;
                border: none;
                height: 0;
                width: 100%;
                margin: 0;
                border-top: 1px solid var(--tutor-border-color);
            }
        }
    }
}