/* dashboard content */
.tutor-view-all-course {
	float: right;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: #5B616F;
	cursor: pointer;
	text-decoration: none;
	
	&:hover {
		color: var(--tutor-primary-color);
		text-decoration: underline;
	}
}

.tutor-popular-course-table {
	td{
		&:first-child {
			a{
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				color: #212327;

				&:hover {
					color: var(--tutor-primary-color);
				}
			}
		}

		&:nth-child(2){
			font-size: 15px;
		}

		&:last-child{
			span{
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 26px;
				color: #5B616F;
			}
		}
	}
}