@import '../../../lib/mixins.scss';

.tutor-dashboard-profile {
	.tutor-dashboard-profile-item {
		@include valueWithPrefix(display, flex);
		margin: 10px 0 20px;

		.heading {
			min-width: 190px;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #5B616F;
		}

		@media (max-width: 480px) {
			@include propertyWithPrefix(flex-wrap, wrap);
			
			.heading {
				min-width: 100%;
				width: 100%;
				font-weight: 700;
				margin-bottom: 6px;
			}
		}

		.content {
			@include propertyWithPrefix(flex, 1);
			@include propertyWithPrefix(flex-grow, 1);
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #212327;

			&.bio{
				font-weight: normal;
				color: #5B616F;	
			}

			small {
				font-size: inherit;
				font-style: italic;
				
				a {
					color: var(--tutor-primary-color);
					
					&:hover {
						color: var(--tutor-primary-hover-color);
					}
				}
			}
		}
	}
} 
