
// Tab -> #certificate
.tutor-option-nav-page, .tutor-cb-templates-table {
	.create-certificate-steps {
		.item-wrapper {
			background-repeat: no-repeat;
			background-size: 50%;
            background-position:right 25px center;
			
			.rtl & {
				background-position:left 25px center;
			}
		}

		h4 {
			font-weight: 700;
			font-size: 24px;
			line-height: 1.42;
			color: #161616;
			margin-bottom: 24px;
		}
		
		ul {
			counter-reset: listItem;
			li {
				list-style: none;
				display: block;
				font-size: 15px;
				line-height: 1.6;
				margin-bottom: 13px;
				&:before {
					counter-increment: listItem;
					content: counter(listItem) '.';
					margin-right: 12px;
				}
			}
		}
		.create-certificate-btn {
			margin-top: 28px;
		}
		.item-wrapper {
			padding: 42px 52px 54px 52px;
		}
	} // end of.create-certificate-steps

    // Frontend styles
    &.tutor-cb-templates-table {
        .item-wrapper{
            border: 1px solid #E0E2EA;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 16px;
            background-position:right -1px center;
        }

        .tutor-certificate-step-description {
            max-width: 374px;
        }
    }

	.all-certificate {
		.tutor-option-field-row {
			grid-template-columns: 98px 1fr auto;
			grid-gap: 20px;
		}
		.certificate-thumb {
			display: inline-flex;
			justify-self: center;
			position: relative;
			&:before {
				position: absolute;
				content: '';
				@include svg-eye-icon;
				background-position: center;
				background-repeat: no-repeat;
				background-color: rgba(22, 22, 22, 0.5);
				width: 100%;
				height: 100%;
				backdrop-filter: blur(2px);
				border-radius: 3px;
				opacity: 0;
				transition: 0.2s linear;
			}
			&:hover:before {
				opacity: 1;
			}
		}
	}

	.no-certificate {
		.certificate-thumb {
			text-align: center;
			p {
				font-size: 20px;
				line-height: 1.5;
				margin-top: 24px;
			}
		}
		.item-wrapper {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.certificate-template {
		.tutor-option-field-row {
			border-bottom: none;
		}
		.radio-thumbnail {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			grid-gap: 18px 16px;
			label {
				margin: unset;
				display: inline-flex;
				cursor: pointer;
			}
		}
		.radio-thumbnail input[type='radio']:checked ~ .icon-wrapper img {
			box-shadow: 0 0 0 1px var(--tutor-color-primary);
		}
	}

	.certificate-settings {
		.tutor-option-field-label .desc {
			@extend .text-regular-small;
		}

		.signature-upload-wrap {
			text-align: left;
			padding-top: 7px;
			padding-bottom: 13px;
		}
		.signature-upload {
			display: flex;
			align-items: center;
			text-align: left;
		}
		.signature-preview {
			border: 2px solid #e8e8e8;
			border-radius: 3px;
			width: 200px;
			height: 60px;
			display: flex;
			justify-content: center;
			padding: 2px 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: scale-down;
			}
		}

		.signature-info {
			margin-left: 23px;
		}

		// .signature-upload (delete icon)
		.signature-upload {
			span.delete-btn {
				position: absolute;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				@include svg-delete-icon;
				background-color: $color-danger;
				background-repeat: no-repeat;
				background-position: 50%;
				cursor: pointer;
				top: -12px;
				right: -12px;
				&:hover {
					background-color: darken($color: $color-danger, $amount: 6);
				}
			}

			.signature-preview {
				background: #f3f3f3;
				position: relative;
			}
		}

		.tutor-btn {
			margin-top: 24px;
			// padding: 6px 17px 6px 43px;
			input[type='file'] {
				appearance: none;
				-webkit-appearance: none;
				display: none;
			}
		}
	} // end of .certificate-settings
} // .tutor-option-nav-page.certificate
