// Announcements Page Styles
// Instructors announcements list and management

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-dashboard-announcements {
  .tutor-announcement-item {
    padding: $tutor-spacing-6;

    &:not(:last-of-type) {
      border-bottom: 1px solid $tutor-border-idle;
    }

    @include tutor-breakpoint-up(sm) {
      transition: background-color 0.3s ease-in-out;

      .tutor-announcement-actions {
        visibility: hidden;
        opacity: 0;
        transition:
          visibility 0.3s ease-in-out,
          opacity 0.3s ease-in-out;
      }

      &:hover {
        background-color: $tutor-surface-l1-hover;

        .tutor-announcement-actions {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
