@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-dashboard-welcome-card {
  @include tutor-flex(row, center, space-between);
  @include tutor-card-base();
  @include tutor-card-radius(2xl);
  margin-bottom: $tutor-spacing-7;

  @include tutor-breakpoint-down(sm) {
    flex-direction: column;
    align-items: start;
    gap: $tutor-spacing-8;
  }

  .tutor-dashboard-welcome-content {
    padding: $tutor-spacing-8;
    max-width: 318px;

    [data-tutor-instructor-status="pending"] & {
      max-width: 350px;
    }
  }

  .tutor-dashboard-welcome-badge {
    @include tutor-typography(tiny, semibold, brand);
    display: inline-flex;
    align-items: center;
    gap: $tutor-spacing-2;
    background-color: $tutor-surface-brand-tertiary;
    padding: $tutor-spacing-2 $tutor-spacing-5;
    border-radius: $tutor-radius-6xl;
  }

  .tutor-dashboard-welcome-banner {
    width: 248px;
    height: 248px;
    @include tutor-flex-center();

    @include tutor-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.tutor-dashboard-quick-tips-card {
  @include tutor-flex(row, start, space-between);
  @include tutor-card-base();
  @include tutor-card-radius(2xl);
  padding: $tutor-spacing-8;
  margin-bottom: $tutor-spacing-7;

  @include tutor-breakpoint-down(sm) {
    flex-direction: column;
    gap: $tutor-spacing-8;
  }
}
