.tutor-dashboard-header {
	padding-bottom: 30px;
	border-bottom: 1px solid #dcdfe5;

	.tutor-btn.bordered-btn {
		text-transform: uppercase;
		font-weight: 400;
		border-radius: 2px;
		i {
			font-size: 20px;
		}
	}

	.tutor-star-rating-group {
		margin-right: 3px;
	}

    .tutor-dashboard-header-avatar {
        img {
            display: inline-block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }
    } 

    .tutor-dashboard-header-info {
        @include propertyWithPrefix(flex, 1);
        @include propertyWithPrefix(flex-grow, 1);
        padding-left: 24px;
        padding-top: 15px;
        padding-bottom: 15px;

        .tutor-dashboard-header-display-name {
            h4 {
                margin: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                color: $black-main;
            }
        } 

        .tutor-dashboard-header-stats {
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(flex-wrap, wrap);
            line-height: 25px;

            &>div{
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }
}