.tutor-dashboard-left-menu {
	.tutor-dashboard-permalinks {
		list-style: none;
		margin: 0px 0 20px;
		padding: 25px 0;
		margin-right: 15px;
		
		a {
			&,
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				opacity: 1 !important;
			}

			&:hover {
				&::before {
					opacity: 1;
					color: var(--tutor-primary-hover-color);
				}
			}
		}

		li {
			a {
				// display: block;
				padding: 7px 20px;

				&:hover {
					background-color: #edf0f9;
				}
			}

			&.active a {
				background-color: var(--tutor-primary-color);
				color: var(--tutor-primary-text-color);

				&:hover {
					background-color: var(--tutor-primary-hover-color);
				}

				&::before {
					color: var(--tutor-primary-text-color);
				}
			}
		}
	}

	// li.tutor-dashboard-menu-item
	.tutor-dashboard-menu-item {
		&-link {
			display: flex;
			align-items: center;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			@extend .tutor-text-regular-body;
			color: $black-main;
		}
		&-icon {
			font-size: 24px;
			color: var(--tutor-primary-color);
		}

		&.active {
			a {
				color: $text-white;
				.tutor-dashboard-menu-item-icon {
					color: $text-white;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

&:not(.is-sidebar-expanded) {
	.tutor-dashboard-left-menu {
		@media (max-width: 767px) {
			display: none;
		}
	}
}

&.is-sidebar-expanded {
	ul.tutor-dashboard-permalinks {
		border-right: none !important;
		li.active a {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.tutor-frontend-dashboard-maincontent {
	ul.tutor-dashboard-permalinks {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: auto;
			height: 3000%;
			right: 0;
			top: 0;
			border-right: 1px solid #dcdfe5;
			z-index: 1;
		}
	}
	@include breakpoint-max(desktop-lg) {
		.tutor-dashboard-menu-item-link {
			font-size: 14px;
		}

		.tutor-dashboard-menu-item-icon {
			font-size: 24px;
			display: flex;
			align-items: center;
		}
		.tutor-dashboard-menu-item-text {
			margin-left: 0;
		}
	}
}
