.tutor-dashboard-left-menu {
	.tutor-dashboard-permalinks {
		list-style: none;
		margin: 0px 0 20px;
		padding: 20px 0;
		border-right: 1px solid #dcdfe5;

		a {
			&, &:hover, &:active, &:focus {
				text-decoration: none;
			}

			&::before {
				content: "\e968";
				font-family: "tutor" !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: inherit;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-right: 15px;
				vertical-align: middle;
				color: var(--tutor-primary-color);
				opacity: 0.6;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				font-size: 17px;
			}

			&:hover {
				&::before {
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				color: var(--tutor-primary-hover-color);
				}
			}
		}

		li {
			a {
				display: block;
				color: var(--tutor-text-color);
				padding: 10px 20px;
				line-height: 28px;

				&:hover {
					background-color: #edf0f9;
				}
			}

			&.active a {
				background-color: var(--tutor-primary-color);
				color: #ffffff;

				&:hover {
					background-color: var(--tutor-primary-hover-color);
				}

				li {
					a{
						display: block;
						color: var(--tutor-text-color);
						padding: 10px 20px;
						font-size: 16px;
						font-style: normal;
						font-weight: normal;
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;

						&:hover {
							background-color: #edf0f9;
						}
					}

					&.active a {
						background-color: var(--tutor-primary-color);
						color: #ffffff;
						
						&:hover {
							background-color: var(--tutor-primary-hover-color);
						}

						&:before {
							opacity: 1;
							-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
							color: #fff;
						}
					}


					// Icons
					&.tutor-dashboard-menu-bio a:before, &.tutor-dashboard-menu-my-profile a:before {
						content: "\e963";
					}

					&.tutor-dashboard-menu-enrolled-courses a:before {
						content: "\e969";
					}

					&.tutor-dashboard-menu-courses_taken a:before,
					&.tutor-dashboard-menu-my-courses a:before {
						content: "\e965";
					}

					&.tutor-dashboard-menu-announcements a:before {
						content: "\e93f";
					}

					&.tutor-dashboard-menu-wishlist a:before {
						content: "\e908";
					}

					&.tutor-dashboard-menu-reviews a:before {
						content: "\e917";
					}

					&.tutor-dashboard-menu-my-quiz-attempts a:before {
						content: "\e9ab";
					}

					&.tutor-dashboard-menu-quiz-attempts a:before {
						content: "\e91f";
					}

					&.tutor-dashboard-menu-question-answer a:before {
						content: "\e948";
					}

					&.tutor-dashboard-menu-earning a:before {
						content: "\e96b";
					}

					&.tutor-dashboard-menu-withdraw a:before {
						content: "\e960";
					}
					&.tutor-dashboard-menu-settings a:before {
						content: "\e961";
					}
					&.tutor-dashboard-menu-logout a:before {
						content: "\e962";
					}

					&.tutor-dashboard-menu-purchase_history a:before {
						content: "\e964";
					}
					&.tutor-dashboard-menu-assignments a:before {
						content: "\e98b";
					}
					&.tutor-dashboard-menu-zoom a:before {
						content:"\e9b1";
					}
					&.tutor-dashboard-menu-analytics a:before {
						content:"\e9b2";
					}
				}
			}

			// Icons
			&.tutor-dashboard-menu-bio a:before,
			&.tutor-dashboard-menu-my-profile a:before {
				content: "\e963";
			}

			&.tutor-dashboard-menu-enrolled-courses a:before {
				content: "\e969";
			}

			&.tutor-dashboard-menu-courses_taken a:before,
			&.tutor-dashboard-menu-my-courses a:before {
				content: "\e965";
			}

			&.tutor-dashboard-menu-announcements a:before {
				content: "\e93f";
			}

			&.tutor-dashboard-menu-wishlist a:before {
				content: "\e908";
			}

			&.tutor-dashboard-menu-reviews a:before {
				content: "\e917";
			}

			&.tutor-dashboard-menu-my-quiz-attempts a:before {
				content: "\e9ab";
			}

			&.tutor-dashboard-menu-quiz-attempts a:before {
				content: "\e91f";
			}

			&.tutor-dashboard-menu-question-answer a:before {
				content: "\e948";
			}

			&.tutor-dashboard-menu-earning a:before {
				content: "\e96b";
			}

			&.tutor-dashboard-menu-withdraw a:before {
				content: "\e960";
			}
			&.tutor-dashboard-menu-settings a:before {
				content: "\e961";
			}
			&.tutor-dashboard-menu-logout a:before {
				content: "\e962";
			}

			&.tutor-dashboard-menu-purchase_history a:before {
				content: "\e964";
			}
			&.tutor-dashboard-menu-assignments a:before {
				content: "\e98b";
			}
			&.tutor-dashboard-menu-zoom a:before {
				content: "\e9b1";
			}
			&.tutor-dashboard-menu-analytics a:before {
				content: "\e9b2";
			}
			&.tutor-dashboard-menu-calendar a:before {
				content: "\e9b3";
			}
			}
		}

		&:not(.is-sidebar-expanded) {
			.tutor-dashboard-left-menu {
				@media(max-width: 767px) {
					display: none;
				}
			}
		}

		&.is-sidebar-expanded {
			ul.tutor-dashboard-permalinks {
				border-right: none !important;

				li.active a{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
}