.tutor-dashboard-left-menu {
	.tutor-dashboard-permalinks {
		list-style: none;
		margin: 0px 0 20px;
		padding: 25px 0;
		// border-right: 1px solid #dcdfe5;
		margin-right: 15px;
		// margin-left: -5px;
		a {
			&,
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				opacity: 1 !important;
			}

			// &::before {
			// 	content: '\e968';
			// 	font-family: 'tutor' !important;
			// 	speak: none;
			// 	font-style: normal;
			// 	font-weight: normal;
			// 	font-variant: normal;
			// 	text-transform: none;
			// 	line-height: inherit;
			// 	-webkit-font-smoothing: antialiased;
			// 	-moz-osx-font-smoothing: grayscale;
			// 	vertical-align: middle;
			// 	color: var(--tutor-primary-color);
			// 	opacity: 1;
			// 	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
			// 	font-size: 20px;
			// 	margin-right: 10px;
			// }

			&:hover {
				&::before {
					opacity: 1;
					color: var(--tutor-primary-hover-color);
				}
			}
		}

		li {
			a {
				// display: block;
				padding: 7px 20px;

				&:hover {
					background-color: #edf0f9;
				}
			}

			&.active a {
				background-color: var(--tutor-primary-color);
				color: var(--tutor-primary-text-color);

				&:hover {
					background-color: var(--tutor-primary-hover-color);
				}

				&::before {
					// color: var(--tutor-primary-hover-color);
					color: var(--tutor-primary-text-color);
				}
			}

			// Icons
			// &.tutor-dashboard-menu-bio a:before,
			// &.tutor-dashboard-menu-my-profile a:before {
			// 	content: '\e963';
			// }

			// &.tutor-dashboard-menu-enrolled-courses a:before {
			// 	content: '\e969';
			// }

			// &.tutor-dashboard-menu-courses_taken a:before,
			// &.tutor-dashboard-menu-my-courses a:before {
			// 	content: '\e965';
			// }

			// &.tutor-dashboard-menu-announcements a:before {
			// 	content: '\e93f';
			// }

			// &.tutor-dashboard-menu-wishlist a:before {
			// 	content: '\e908';
			// }

			// &.tutor-dashboard-menu-reviews a:before {
			// 	content: '\e917';
			// }

			// &.tutor-dashboard-menu-my-quiz-attempts a:before {
			// 	content: '\e9ab';
			// }

			// &.tutor-dashboard-menu-quiz-attempts a:before {
			// 	content: '\e91f';
			// }

			// &.tutor-dashboard-menu-question-answer a:before {
			// 	content: '\e948';
			// }

			// &.tutor-dashboard-menu-earning a:before {
			// 	content: '\e96b';
			// }

			// &.tutor-dashboard-menu-withdraw a:before {
			// 	content: '\e960';
			// }
			// &.tutor-dashboard-menu-settings a:before {
			// 	content: '\e961';
			// }
			// &.tutor-dashboard-menu-logout a:before {
			// 	content: '\e962';
			// }

			// &.tutor-dashboard-menu-purchase_history a:before {
			// 	content: '\e964';
			// }
			// &.tutor-dashboard-menu-assignments a:before {
			// 	content: '\e98b';
			// }
			// &.tutor-dashboard-menu-zoom a:before {
			// 	content: '\e9b1';
			// }
			// &.tutor-dashboard-menu-analytics a:before {
			// 	content: '\e9b2';
			// }
			// &.tutor-dashboard-menu-calendar a:before {
			// 	content: '\e9b3';
			// }
		}
	}

	// li.tutor-dashboard-menu-item
	.tutor-dashboard-menu-item {
		&-link {
			display: flex;
			align-items: center;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			@extend .tutor-text-regular-body;
			color: $text-primary;
		}
		&-icon {
			@extend .tutor-icon-30;
			color: $design-brand;
			width: 30px;
			height: 30px;
		}
		&-text {
		}

		&.active {
			a {
				color: $text-white;
				.tutor-dashboard-menu-item-icon {
					color: $text-white;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

&:not(.is-sidebar-expanded) {
	.tutor-dashboard-left-menu {
		@media (max-width: 767px) {
			display: none;
		}
	}
}

&.is-sidebar-expanded {
	ul.tutor-dashboard-permalinks {
		border-right: none !important;
		li.active a {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.tutor-frontend-dashboard-maincontent {
	ul.tutor-dashboard-permalinks {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: auto;
			height: 3000%;
			right: 0;
			top: 0;
			border-right: 1px solid #dcdfe5;
			z-index: 1;
		}
	}
	@include breakpoint-max(desktop-lg) {
		.tutor-dashboard-menu-item-link {
			font-size: 14px;
		}

		.tutor-dashboard-menu-item-icon {
			font-size: 24px;
			display: flex;
			align-items: center;
		}
		.tutor-dashboard-menu-item-text {
			margin-left: 0;
		}
	}
}
