@import '../lib/mixins.scss';

.tutor-dashboard-header {
    @include valueWithPrefix(display, flex);
    @include propertyWithPrefix(align-items, center);
    @include propertyWithPrefix(flex-wrap, wrap);
	padding-bottom: 30px;
	border-bottom: 1px solid #dcdfe5;

	.tutor-btn.bordered-btn {
		text-transform: uppercase;
		font-weight: 400;
		border-radius: 2px;
		i {
			font-size: 20px;
		}
	}

	.tutor-star-rating-group {
		margin-right: 3px;
	}

    .tutor-dashboard-header-avatar {
        img {
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    } 

    .tutor-dashboard-header-info {
        @include propertyWithPrefix(flex, 1);
        @include propertyWithPrefix(flex-grow, 1);
        padding-left: 24px;
        padding-top: 15px;
        padding-bottom: 15px;

        .tutor-dashboard-header-display-name {
            h4 {
                font-size: 30px;
                margin-top: 0px;
                margin-bottom: 10px;
                line-height: 34px;
            }
        } 

        .tutor-dashboard-header-stats {
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(flex-wrap, wrap);
            line-height: 25px;

            &>div{
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }

    .tutor-dashboard-header-button {
        padding-top: 15px;
    }
}