// @todo: can be removed all code

.tutor-option-field-row,
.tutor-dashboard-page {
	// Input, Textarea, Select etc.
	input[type='radio'] {
		background-size: 120%;
	}
	input[type='checkbox'] {
		background-size: 70%;
	}

	input.tutor-form-control {
		padding: 0 15px;
		&.tutor-w-90,
		&[type='number'] {
			padding: 0px 5px;
			text-align: center;
			max-width: 90px;
			min-width: 90px;
			height: 40px;
		}
	}

	textarea.tutor-form-control {
		resize: vertical;
		min-height: 80px;
		font-family: inherit;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.62;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.tutor-form-radio {
		label {
			font-size: 15px;
		}
		.desc {
			margin-top: 5px;
		}
	}

	select.tutor-form-select {
		min-width: 137px;
		padding: 0 40px 0 20px;
	}

	select.tutor-form-select,
	input.tutor-form-control,
	textarea.tutor-form-control,
	textarea.tutor-form-control:read-only {
		@include getTypography(400, 16px, 162%);
		border-color: #bababa;
		transition: all 200ms;

		&::placeholder {
			color: var(--tutor-color-muted);
		}

		&:focus {
			color: var(--tutor-body-color);
		}
	}

	select.tutor-form-select,
	input.tutor-form-control {
		height: 40px;
		line-height: 1;
	}

	.tutor-form-check-input {
		width: 20px;
		height: 20px;
	}
}

.tutor-option-header {
	input[type='search'] {
		&:hover {
			box-shadow: 0 0 10px -7px;
		}
		&:focus {
			border-color: var(--tutor-color-primary);
			box-shadow: 0 0 10px -5px;
		}
	}
}
