// Color palettes (Refference)
$primary-main: #3e64de;
$primary-100: #28408e;
$primary-90: #395bca;
$primary-80: #6180e4;
$primary-70: #95aaed;
$primary-60: #bdcaf1;
$primary-50: #d2dbf5;
$primary-40: #e9edfb;
$primary-30: #f6f8fd;
// Black
$black-main: #212327;
$black-100: #0b0c0e;
$black-90: #1a1b1e;
$black-80: #31343b;
$black-70: #41454f;
$black-60: #5b616f;
$black-50: #727889;
$black-40: #9ca0ac;
$black-30: #b4b7c0;
$black-20: #c0c3cb;
// Danger
$danger-main: #f44337;
$danger-100: #c62828;
$danger-90: #e53935;
$danger-80: #ef5350;
$danger-70: #e57373;
$danger-50: #fdd9d7;
$danger-40: #feeceb;
$danger-30: #fff7f7;
// Success
$success-main: #24a148;
$success-100: #075a2a;
$success-90: #007a38;
$success-80: #3aaa5a;
$success-70: #6ac088;
$success-60: #99d4ae;
$success-50: #cbe9d5;
$success-40: #e5f5eb;
$success-30: #f5fbf7;
// Warning
$warning-main: #ed9700;
$warning-100: #895800;
$warning-90: #e08e00;
$warning-80: #f3a33c;
$warning-70: #f5ba63;
$warning-60: #f9d093;
$warning-50: #fce7c7;
$warning-40: #fdf4e3;
$warning-30: #fefbf4;

// Backend Dashboard
$brand-wordpress: #1973aa;
$brand-wordpress-hover: darken($brand-wordpress, 5);

// Common Colors
$color-white: #ffffff;
$color-brand: $primary-main;
$color-success: $success-main;
$color-warning: $warning-main;
$color-error: $danger-main;

// Text Colors
$text-primary: $black-main;
$text-title: $black-70;
$text-subsued: $black-60;
$text-hints: #757c8e;
$text-white: $color-white;
$text-brand: $color-brand;
$text-success: $color-success;
$text-warning: $color-warning;
$text-error: $color-error;

// Design Colors
$design-dark: $black-90;
$design-grey: $black-70;
$design-white: $color-white;
$design-brand: $color-brand;
$design-success: $color-success;
$design-warning: $color-warning;
$design-danger: $color-error;

// Strokes
$stroke-light-10: #eff1f6;
$stroke-light-20: #e0e2ea;
$stroke-light-30: #cdcfd5;
$stroke-gray: $black-20;
$stroke-blue: $color-brand;
$stroke-danger: $color-error;
$stroke-success: $color-success;

// Backgrounds
$bg-brand: $color-brand;
$bg-white: $color-white;
$bg-gray-20: #e3e5eb;
$bg-gray-10: #eff1f6;
$bg-dark-10: $black-main;
$bg-dark-20: $black-80;
$bg-dark-30: $black-70;

// Shadows
$shadow-1: 0px 8px 16px rgba(41, 45, 47, 0.08);
$shadow-3: 0px 6px 20px rgba(28, 49, 104, 0.1);
