:root{
	--tutor-color-primary: #1B52D8;
	--tutor-primary-text-color: #ffffff;
	--tutor-primary-hover-color: #1b52a9;
	--tutor-body-color: #4B5981;
	--tutor-light-color: #B1B8C9;

	--tutor-primary-button-color: #3E64DE;
	--tutor-danger-color-button-color: #F44337;
	--tutor-success-button-color: #86b223;
	--tutor-warning-button-color: #ED9700;
	--tutor-text-size: 16px;
}
