// @todo: will be removed later
.tutor-updating-message {
	i,
	[class^='tutor-icon-'],
	[class*=' tutor-icon-'],
	[class^='tutor-icon-'],
	[class*=' tutor-icon-'] {
		display: none;
	}

	/* 
        position: relative;
        @include spinner($design-brand, #f1f1f1, 20px);
    */
	&:before {
		display: inline-block;
		font-family: 'tutor';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
		content: '\e9df' !important;
		font-family: 18px;
		animation: rotateSpinner 0.8s linear infinite;
		margin-right: 10px;
		line-height: 0;
		width: auto;
		height: auto;
		font-size: 24px;
	}

	&:not(.tutor-m-0):not(.tutor-mr-0) {
		&:before {
			margin-right: 8px;
		}
	}
}



.tutor-updating-message-v2 {
	i,
	[class^='tutor-icon-'],
	[class*=' tutor-icon-'],
	[class^='tutor-icon-'],
	[class*=' tutor-icon-'] {
		display: none;
	}

	&.tutor-icon-24, &.tutor-font-size-24 {
		font-size: inherit !important;
	}

	/* 
        position: relative;
        @include spinner($design-brand, #f1f1f1, 20px);
    */
	&:before {
		display: inline-block;
		font-family: 'tutor';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
		content: '\e92f' !important;
		-webkit-animation: spinner 1.5s infinite linear;
		animation: spinner 1.5s infinite linear;
		margin-right: 10px;
		width: auto;
		height: auto;
		font-size: inherit;
	}

	// @include spinner();

	&:not(.tutor-m-0):not(.tutor-mr-0) {
		&:before {
			margin-right: 8px;
		}
	}
}
