body.tutor-screen-course-builder{

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 46px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 13px;
        font-size: 16px;
    }

    .select2-container .select2-selection--single {
        height: 48px;
    }

    .select2-container .select2-selection--multiple {
        min-height: 45px;
        border-radius: 6px;
    }
    
    // Only for frontend course builder
    // Backend course builder ok somehow
    &.tutor-screen-course-builder-frontend{
        .select2-dropdown{
            &.select2-dropdown--below, &.select2-dropdown--above{
                margin-top: 32px;
            }
        } 
    }
    
    .select2-container {
        width: 100% !important;

        ul.select2-selection__rendered {
            padding: 4px 9px;
            display: block;
        }

        li.select2-selection__choice {
            background: #E3E5EB;
            line-height: 29px;
            border-radius: 100px;
            padding: 1px 9px 1px 16.5px;
            margin: 5px;
            border: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #41454F;

            .select2-selection__choice__remove {
                margin-left: 11px;
                float: right;
                position: static;
                border: none;
            }
        }

        .select2-search__field {
            padding: 8px 3px 8px 6px;
            box-sizing: border-box;
            margin: 0;
            &::-webkit-input-placeholder {
                color: #abafb6;
            }
            &::-moz-placeholder {
                color: #abafb6;
            }
            &:-ms-input-placeholder {
                color: #abafb6;
            }
            &:-moz-placeholder {
                color: #abafb6;
            }
        }
        
        .select2-selection--single, .select2-selection--multiple {
            border-color: #dcdfe5;
        }

        &.select2-container--focus {
            .select2-selection--single, .select2-selection--multiple {
                border-color: var(--tutor-color-primary);
            }
        } 

        .select2-search__field {
            min-width: 1em !important;
        }
    }
}