.ui-slider {
	position: relative;
	text-align: left;

	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 15px;
		height: 15px;
		cursor: default;
		top: -6px;
		cursor: pointer;
	}

	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: 0.7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}
}
  
.ui-slider-horizontal {
	height: 0.8em;

	.ui-slider-range {
		top: 0;
		height: 100%;
  	}

	.ui-slider-range-min {
		left: 0;
	}
	
	.ui-slider-range-max {
		right: 0;
	}
}
  
.ui-slider-vertical {
	width: 0.8em;
	height: 100px;

	.ui-slider-handle {
		left: -0.3em;
		margin-left: 0;
		margin-bottom: -0.6em;
	}
  
  	.ui-slider-range {
		left: 0;
		width: 100%;
	}
  
  	.ui-slider-range-min {
		bottom: 0;
	}
  
  	.ui-slider-range-max {
		top: 0;
	}
}

.tutor-field-type-slider {
	background-color: #fff;
	border: 1px solid #C0C3CB;
    box-shadow: none;
	color: #333;
	padding: 20px 70px 24px 15px;
	margin: 0 10px 0 0;
	height: 46px;
    width: 100%;
	display: block;
	position: relative;
	border-radius: 6px;

    .ui-widget-header {
        background: #dedede;
        border-radius: 4px;
    }

    .ui-widget-content {
        background-color: var(--tutor-primary-color);
        border: none;
        height: 4px;
        border-radius: 4px;

        .ui-state-default {
            background-color: white;
            border: 4px solid var(--tutor-primary-color);
            border-radius: 50%;
        }
    }

    .tutor-field-type-slider-value {
        font-size: 16px;
        font-weight: 600;
        background: var(--tutor-primary-color);
        position: absolute;
        right: 5px;
        top: 50%;
        margin: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        line-height: 34px;
        width: 43px;
        text-align: center;
        border-radius: 4px;
        color: #fff;

        &:before {
            content: "";
            position: absolute;
            border: 7px solid transparent;
            top: 50%;
            border-right-color: var(--tutor-primary-color);
            right: 100%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}