.tutor-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    input {
        visibility: hidden;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #24A148;
            
            &.tutor-switch-blue {
                background-color: #3E64DE;
            }

            &::before {
                @include propertyWithPrefix(transform, translateX(14px));
            }
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #24A148;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }

        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
  }
}