.tutor-toast-parent {
	position: fixed;
	right: 25px;
	bottom: 50px;
	right: 50px;
	left: auto;
	max-height: 400px;
	width: 350px;
	overflow-x: hidden;
	overflow-y: auto;
	background: transparent;
	z-index: 99999999;

	&:empty {
		display: none;
	}

	&.tutor-toast-left {
		position: fixed;
		bottom: 40px;
		left: calc(0% + 200px);
		z-index: 999;
	}

	.tutor-is-success{
		.tutor-notification-icon {
			color: var(--tutor-color-success);
		}
		.tutor-notification-content h5{
			color: var(--tutor-color-success);
		}
	}

	.tutor-is-warning{
		.tutor-notification-icon {
			color: var(--tutor-color-warning);
		}
		.tutor-notification-content h5{
			color: var(--tutor-color-warning);
		}
	}

	.tutor-is-danger{
		.tutor-notification-icon {
			color: var(--tutor-color-danger);
		}
		.tutor-notification-content h5{
			color: var(--tutor-color-danger);
		}
	}
}

body.rtl .tutor-toast-parent {
	right: auto;
	left: 50px;
}