/* This is a legacy directory pulled from inside the tutor as it is sort of old design library  */
/* Common libraries. This file will be loaded in both of admin and frontend main scss file once */
@import './dashboard';
@import './switch.scss';
@import './toast.scss';
@import './ui-date-picker.scss';
@import './slider-input';
@import './select2';

// @todo: to be removed
.tutorPlayer {
    &, iframe{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/**
 * Add option disabled
 * @since 1.9.7
*/
.add_question_answers_option.disabled {
    i {
        background-color: #AAAEB5 !important;
    }
    color: #AAAEB5 !important;
    cursor: none !important;
    pointer-events: none !important;
}

.tutor-valign-middle {
    vertical-align: middle;
}