/* This is a legacy directory pulled from inside the tutor as it is sort of old design library  */
/* Common libraries. This file will be loaded in both of admin and frontend main scss file once */
@import './switch.scss';
@import './color.scss';
@import './toast.scss';
@import './popup.scss';
@import './ui-date-picker.scss';
@import './dot-loader.scss';
@import './slider-input';
@import './input-tooltip';
@import './layout';
@import './rating.scss';
@import './loading-spinner';

/**
 * Add option disabled
 * @since 1.9.7
*/
.add_question_answers_option.disabled {
    i {
        background-color: #AAAEB5 !important;
    }
    color: #AAAEB5 !important;
    cursor: none !important;
    pointer-events: none !important;
}
