// Course loop
.tutor-course-loop-price {
	color: var(--tutor-body-color);
	font-size: 16px;
	gap: 5px;

	& > .price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		flex-wrap: wrap;

		.tutor-loop-cart-btn-wrap {
			margin-left: auto;

			a {
				color: var(--tutor-body-color);
				position: relative;
				line-height: 20px;
				vertical-align: top;
				display: block;
				font-weight: 400;
				background: transparent;
				padding: 0;

				&.added {
					display: none;
				}

				&:hover {
					color: var(--tutor-color-primary);
				}

				&::before {
					content: '\e915';
					font-family: 'tutor' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 20px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin-right: 5px;
					vertical-align: top;
					color: var(--tutor-color-primary);
				}
			}

			.tutor-course-booked-fully {
				margin-left: auto;

				& > * {
					display: inline-block;
					vertical-align: middle;
				}

				img {
					width: 24px;
					height: 24px;
				}
			}
		}

		.subscription-details {
			font-size: 15px;
			margin-left: 4px;
			font-weight: 400;
		}

		del {
			font-weight: 400;

			& > span {
				margin-right: 6px;
			}

			span {
				text-decoration: line-through;
				color: var(--tutor-color-muted);
			}

			& + ins {
				background: transparent;
				margin-left: 0;
				text-decoration: none;
			}
		}
	}
}
