
.course-enrolled-nav-wrap {
    border-bottom: 1px solid #dedfe0;
    margin-bottom: 45px;

    .course-enrolled-nav{
        ul {
            list-style: none;
            margin: 0 0 -1px;
            padding: 0;
    
            li {
                display: inline-block;
                
                a {
                    display: block;
                    font-size: 16px;
                    padding: 5px 0 20px;
                    margin-right: 20px;
                    color: var(--tutor-light-color);
                    border-bottom: 2px solid transparent;
                }
    
                &:not(:first-child) a {
                    margin-left: 20px;
                }
    
                &.active a {
                    border-bottom: 2px solid var(--tutor-primary-color);
                    color: var(--tutor-text-color);
                }
            }
        }
    } 
}

.tutor-course-tab-info {

}