.tutor-single-course-wrapper {
    overflow: auto;
    &>div{
        float: left;
        width: 100%;

        @media(min-width:992px) {
            &:first-child{
                width: calc(100% - 370px);
            }

            &:last-child{
                width: 350px;
                float: right;
            }
        }
    }
}

.course-enrolled-nav-wrap {
    border-bottom: 1px solid #dedfe0;
    margin-bottom: 45px;

    .course-enrolled-nav {
        ul {
            list-style: none;
            margin: 0 0 -1px;
            padding: 0;

            li {
                display: inline-block;

                a {
                    display: block;
                    font-size: 16px;
                    padding: 5px 0 20px;
                    margin-right: 20px;
                    color: var(--tutor-color-muted);
                    border-bottom: 2px solid transparent;
                }

                &:not(:first-child) a {
                    margin-left: 20px;
                }

                &.active a {
                    border-bottom: 2px solid var(--tutor-color-primary);
                    color: var(--tutor-body-color);
                }
            }
        }
    }
}

.course_template_shortcode {
    .tutor-courses-wrap{
        margin-top: 0;
    }
}

.course-players{
    position: relative;
    overflow: hidden;
}

// Sidebar
.tutor-single-course-sidebar {
    &.tutor-sidebar-sticky {
		position: sticky;
		top: 50px;
	}
    
    .tutor-sidebar-card {
        .tutor-card-body {
            background-color: #F4F6F9;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }

    .tutor-course-single-info-card {
        background-color: #FCFCFD;
    }

    &-more {
        > div {
            padding: 16px 32px;
            margin: 0;
            background-color: #FCFCFD;
            border-left: 1px solid var(--tutor-border-color);
            border-right: 1px solid var(--tutor-border-color);

            &:first-child {
                padding-top: 24px;
                border-top: 1px solid var(--tutor-border-color);
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            &:last-child {
                padding-bottom: 24px;
                border-bottom: 1px solid var(--tutor-border-color);
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

        .tutor-course-details-instructors {
            padding-bottom: 24px;
            & + div {
                border-top: 1px solid var(--tutor-border-color);
                padding-top: 24px;
            }
        }
    }
}