// Course filter
.tutor-course-filter-wrapper{
	overflow: auto;
	max-width: 1140px !important;
	margin: 0 auto !important;

	&>div{
		padding: 12px;
		&:first-child{
			width: 250px;
			float: left;

			.tutor-course-search-field{
				border: 1px solid #BABABA;
				border-radius: 6px;
				overflow: hidden;
				padding: 0 6px;
				height: auto;

				input, input:focus, input:active{
					border: none;
					outline: 0;
					padding: 0;
					display: inline-block;
					width: calc(100% - 24px);
					font-weight: normal;
					font-size: 16px;
					color: #7A7A7A;
					height: 35px;
				}

				i{
					font-size: 17px;
					cursor: pointer;
					color: #3E64DE;;
				}
			}

			h4{
				font-weight: normal;
				font-size: 20px;
				color: #161616;
				margin: 16px 0px 12px;
			}

			label{
				display: block;
				cursor: pointer;
				font-weight: normal;
				font-size: 16px;
				color: #353535;
			}
		}		
		&:last-child{
			width: calc(100% - 250px);
			float: right;

			select[name=tutor_course_filter]{
				border: 1px solid #7A7A7A;
				color: #7A7A7A;
				padding: 3px 4px;
    			font-size: 16px;
				border-radius: 6px;
				cursor: pointer;
			}
		}
	}

	/*
		@ clear all filter button
	*/
	.tutor-clear-all-filter {
		margin-top: 28px;
		display: none;
	}
	.tutor-clear-all-filter > a {
		height: 21px;
		background: #E8E8E8;
		border-radius: 22px;
		line-height: 21px;
		text-align: center;
		/* color: #7A7A7A; */
		font-size: 13px;
		font-weight: 500;
		margin-top: 20px;			
		color: #7a7a7a;
		padding:5px 10px;
	}
	.tutor-clear-all-filter  a > i {
		font-size: 10px;
	}
	

	.tutor-course-filter-container {
		overflow-x: hidden;
		.tutor-course-filter-nested-terms>.tutor-course-filter-nested-terms {
			padding-left: 15px;
		}
	}

	@media(max-width:767px){
		&>div{
			width: 100% !important;
			float: none !important;		
		}

		.tutor-course-filter-container>form{
			overflow: auto;
			
			&>div{
				width: 50%;
				float: left;

				&:first-child{
					width: 100%;
				}
			}
		}
	}
}

// Course loop
.tutor-course-loop-price {
	color: var(--tutor-text-color);
	font-size: 16px;

	& > .price {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-weight: 600;
		flex-wrap: wrap;

        .tutor-loop-cart-btn-wrap {
		    margin-left: auto;

            a {
                color: var(--tutor-text-color);
                position: relative;
                line-height: 20px;
                vertical-align: top;
                display: block;
                font-weight: 400;
                background: transparent;
                padding: 0;

                &.added {
                    display: none;
                }
                
                &:hover {
                    color: var(--tutor-primary-color);
                }

                &::before {
                    content: "\e915";
                    font-family: "tutor" !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 20px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 5px;
                    vertical-align: top;
                    color: var(--tutor-primary-color);
                }
            }


            .tutor-course-booked-fully {
                margin-left: auto;

                &>* {
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    width:24px;
                    height:24px;
                }
            }
        }

		.subscription-details {
			font-size: 15px;
			margin-left: 4px;
			font-weight: 400;
		}

		del {
			font-weight: 400;
			
			& > span {
				margin-right: 6px;
			}

			span {
				text-decoration: line-through;
				color: var(--tutor-light-color);
			}
			
			& + ins {
				background: transparent;
				margin-left: 0;
				text-decoration: none;
			}
		}
	} 
}