@import './social-share';
@import './archive';
@import './filter';
@import './single-course-details';

.tutor-course-author {
    img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        vertical-align: middle;
    }

    span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #757C8E;
    }

    strong {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #3F435B;
    }
}