#tutor-addons-list-wrapper {
    margin-left: -20px;
}
// .tutor-backend-settings-addons-list {
// }

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tutor-addons-list-header {
    @include breakpoint-min(992) {
        height: 60px;
    }
    @include breakpoint-max(991) {
        margin-bottom: -3px;
    }

    background: #ffffff;
    .filter-btns {
        display: flex;
        gap: 30px;
        button.filter-btn {
            background: transparent;
            outline: none;
            border: none;
            font: inherit;
            color: inherit;
            position: relative;
            text-transform: capitalize;
            > * {
                pointer-events: none;
            }
            .item-count {
                color: $text-subsued;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: $brand-wordpress;
                bottom: calc(0% - 17px);
                transition: transform 200ms linear;
                transform: scaleY(0);
                transform-origin: bottom;
            }

            &.is-active {
                color: $brand-wordpress;
                &:before {
                    transform: scaleY(1);
                }
            }
        }
    }
}

.tutor-addons-list-body {
    background: #efefef;
}

.tutor-addons-list-select-filter {
    gap: 15px;
    .filter-custom-field {
        @include breakpoint-min(mobile) {
            min-width: 450px;
        }

        select.tutor-form-select {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 140px;
        }
        input.tutor-form-control {
            border-left: none !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            margin-left: -1px;
            &:focus {
                box-shadow: -1px 0 0 0 $brand-wordpress;
            }
        }
    }

    .tutor-input-group.tutor-form-control-has-icon {
        .tutor-input-group-icon {
            font-size: 30px;
            line-height: unset;
            height: 100%;
            width: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 8px;
            color: $black-50;
            // height: 48px !important;
        }
        input.tutor-form-control {
            &:focus {
                box-shadow: 0 0 0 1px $brand-wordpress;
                border-color: transparent !important;
            }
        }
    }
}

.tutor-addons-list-items {
    @include breakpoint-min(1600) {
        @include responsiveGrid(350px, 390px);
    }
    @include responsiveGrid(330px, 1fr);
    gap: 40px;

    // @include masonryGrid(4, 40px, 40px);
    // column-width: 390px;

    &.is-less-items {
        grid-template-columns: repeat(auto-fit, minmax(350px, 390px));
    }

    > .tutor-addons-card {
        transform: translateY(10px);
        animation: fade 0.5s linear;
    }

    &.is-active > .tutor-addons-card {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}
.tutor-addons-card {
    background: #ffffff;
    border-radius: 6px;
    display: grid;

    .tooltip-wrap.tutor-lock-tooltip {
        position: absolute;
        justify-self: flex-end;
        margin: 20px 25px;
        width: 22px;
        height: 24px;
        //color: $black-20;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.33268 10.6113C3.41221 10.6113 2.66602 11.3575 2.66602 12.278V20.278C2.66602 21.1985 3.41221 21.9447 4.33268 21.9447H17.666C18.5865 21.9447 19.3327 21.1985 19.3327 20.278V12.278C19.3327 11.3575 18.5865 10.6113 17.666 10.6113H4.33268ZM0.666016 12.278C0.666016 10.253 2.30764 8.61133 4.33268 8.61133H17.666C19.6911 8.61133 21.3327 10.253 21.3327 12.278V20.278C21.3327 22.303 19.6911 23.9447 17.666 23.9447H4.33268C2.30764 23.9447 0.666016 22.303 0.666016 20.278V12.278Z' fill='%23C0C3CB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 17.7143C10.8422 17.7143 10.7143 17.8422 10.7143 18C10.7143 18.1578 10.8422 18.2857 11 18.2857C11.1578 18.2857 11.2857 18.1578 11.2857 18C11.2857 17.8422 11.1578 17.7143 11 17.7143ZM9 18C9 16.8954 9.89543 16 11 16C12.1046 16 13 16.8954 13 18C13 19.1046 12.1046 20 11 20C9.89543 20 9 19.1046 9 18Z' fill='%23C0C3CB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9989 2.05566C9.83782 2.05566 8.72431 2.51689 7.90332 3.33789C7.08232 4.15888 6.62109 5.27239 6.62109 6.43345V8.8779C6.62109 9.43019 6.17338 9.8779 5.62109 9.8779C5.06881 9.8779 4.62109 9.43019 4.62109 8.8779V6.43345C4.62109 4.74196 5.29304 3.11974 6.4891 1.92368C7.68517 0.727608 9.30739 0.0556641 10.9989 0.0556641C12.6904 0.0556641 14.3126 0.727608 15.5087 1.92368C16.7047 3.11974 17.3767 4.74196 17.3767 6.43345V8.8779C17.3767 9.43019 16.929 9.8779 16.3767 9.8779C15.8244 9.8779 15.3767 9.43019 15.3767 8.8779V6.43345C15.3767 5.27239 14.9154 4.15888 14.0944 3.33789C13.2735 2.51689 12.1599 2.05566 10.9989 2.05566Z' fill='%23C0C3CB'/%3E%3C/svg%3E");
    }

    .card-body {
        .addon-logo > img {
            max-width: 100%;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .card-footer {
        background: rgba(239, 241, 247, 0.4);
        /* stroke/light20 */
        border-top: 1px solid #e0e2ea;
    }
    &.not-subscribed {
        .card-footer {
            background: rgba(252, 231, 199, 0.3);

            /* color/warning/fill/60 */
            border-top: 1px solid #f9d093;
        }
    }

    &.empty-state {
        text-align: center;
        grid-area: 1 / -1;
        height: 250px;
    }

    .addons-jumbotron {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .addon-jumbotron-content {
            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
            }

            p {
                align-items: center;
                span {
                    margin-right: 5px;
                    font-size: 24px;
                    color: $brand-wordpress;
                }
            }
            .tutor-btn {
                span {
                    a:hover {
                        color: #ffffff;
                    }
                }
            }
        }
        @include breakpoint-max(tablet) {
            flex-direction: column;
            align-items: center;
            .addon-pro-banner {
                margin-right: 0;
            }
            .addon-jumbotron-content {
                margin-top: 20px;
            }
        }
    }
}

.tutor-addons-loading {
    position: relative;
    @include spinner($brand-wordpress, $primary-50, 30px);
    width: 100%;
    height: 300px;
    grid-area: 1/-1;
}

.tutor-addons-empty {
    background: #fff;
    border-radius: 6px;
    text-align: center;
    grid-area: 1/-1;
    max-width: 500px;
    margin: 0 auto;

    > * {
        max-width: 100%;
    }
}
