.notice,
div.error,
div.updated {
	margin-right: 0;
	margin-left: 0;
}
.notice.is-dismissible {
	margin-bottom: 10px;
}

// Tutor Backend Pages
body.tutor-backend-tutor_settings,
body.tutor-backend-tutor-tools {
	#wpbody-content {
		margin-top: 70px;
	}
	#wpfooter {
		background: #f0f0f1;
		z-index: 10;
		box-shadow: 0 -1px 0px 0 rgba(220, 219, 220, 1);
	}
	#wpwrap {
		overflow-y: hidden;
	}
}

body.tutor-backend-tutor-google-classroom {
	#wpbody-content {
		margin-top: unset;
	}
}
