.post-type-courses {
	&.taxonomy-course-category {
		// background: red !important;
	}

	&.taxonomy-course-tag {
		.button,
		select {
			border-radius: 6px;
		}

		input[type='text'],
		input[type='search'],
		textarea {
			border-radius: 6px;

			&:not(:focus) {
				border-color: #c0c3cb;
			}
		}

		.form-wrap p {
			margin-top: 16px;
		}

		table.wp-list-table {
			border-radius: 6px;

			thead {
				th,
				td {
				}
			}
			tbody {
			}
			tr {
			}
			th {
			}
			td {
			}
		}
	}
}
