.tutor-dashboard {

    // Common css declarations
    @import './lib/table.scss';
    @import './lib/info-card.scss';

    // Common Wrapper Sections
    @import './header.scss';
    @import './sidebar.scss';

    // Dashboard page content specific declarations
    .tutor-dashboard-content {
        padding-top: 30px;

        &>h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #212327;

            &+.tutor-dashboard-content-inner{
                margin-bottom: 30px;
            }
        }

        @import './pages/q-and-a.scss';
        @import './pages/dashboard.scss';
        @import './pages/earning.scss';
    }
}