// Layout Utilities
// Flexbox, grid, positioning, and display utilities

@use '../tokens/spacing' as *;
@use '../tokens/breakpoints' as *;
@use '../mixins/layout' as *;

// Layout component classes
.tutor-container {
  @include tutor-container;
}

.tutor-flex {
  @include tutor-flex;
}

.tutor-flex-center {
  @include tutor-flex-center;
}

.tutor-flex-between {
  @include tutor-flex-between;
}

.tutor-flex-column {
  @include tutor-flex-column;
}

.tutor-grid {
  @include tutor-grid;
}

.tutor-visually-hidden {
  @include tutor-visually-hidden;
}

// Display utilities
.tutor-block {
  display: block;
}

.tutor-inline-block {
  display: inline-block;
}

.tutor-inline {
  display: inline;
}

.tutor-flex {
  display: flex;
}

.tutor-inline-flex {
  display: inline-flex;
}

.tutor-grid {
  display: grid;
}

.tutor-inline-grid {
  display: inline-grid;
}

.tutor-hidden {
  display: none;
}

// Flexbox utilities
.tutor-flex-row {
  flex-direction: row;
}

.tutor-flex-row-reverse {
  flex-direction: row-reverse;
}

.tutor-flex-col {
  flex-direction: column;
}

.tutor-flex-col-reverse {
  flex-direction: column-reverse;
}

.tutor-flex-wrap {
  flex-wrap: wrap;
}

.tutor-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.tutor-flex-nowrap {
  flex-wrap: nowrap;
}

// Flex grow/shrink
.tutor-flex-1 {
  flex: 1 1 0%;
}

.tutor-flex-auto {
  flex: 1 1 auto;
}

.tutor-flex-initial {
  flex: 0 1 auto;
}

.tutor-flex-none {
  flex: none;
}

.tutor-grow {
  flex-grow: 1;
}

.tutor-grow-0 {
  flex-grow: 0;
}

.tutor-shrink {
  flex-shrink: 1;
}

.tutor-shrink-0 {
  flex-shrink: 0;
}

// Justify content
.tutor-justify-start {
  justify-content: flex-start;
}

.tutor-justify-end {
  justify-content: flex-end;
}

.tutor-justify-center {
  justify-content: center;
}

.tutor-justify-between {
  justify-content: space-between;
}

.tutor-justify-around {
  justify-content: space-around;
}

.tutor-justify-evenly {
  justify-content: space-evenly;
}

// Align items
.tutor-items-start {
  align-items: flex-start;
}

.tutor-items-end {
  align-items: flex-end;
}

.tutor-items-center {
  align-items: center;
}

.tutor-items-baseline {
  align-items: baseline;
}

.tutor-items-stretch {
  align-items: stretch;
}

// Align content
.tutor-content-start {
  align-content: flex-start;
}

.tutor-content-end {
  align-content: flex-end;
}

.tutor-content-center {
  align-content: center;
}

.tutor-content-between {
  align-content: space-between;
}

.tutor-content-around {
  align-content: space-around;
}

.tutor-content-evenly {
  align-content: space-evenly;
}

// Align self
.tutor-self-auto {
  align-self: auto;
}

.tutor-self-start {
  align-self: flex-start;
}

.tutor-self-end {
  align-self: flex-end;
}

.tutor-self-center {
  align-self: center;
}

.tutor-self-stretch {
  align-self: stretch;
}

.tutor-self-baseline {
  align-self: baseline;
}

// Gap utilities
@each $key, $value in $tutor-spacing {
  .tutor-gap-#{$key} {
    gap: $value;
  }
  
  .tutor-gap-x-#{$key} {
    column-gap: $value;
  }
  
  .tutor-gap-y-#{$key} {
    row-gap: $value;
  }
}

// Grid utilities
.tutor-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.tutor-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tutor-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tutor-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.tutor-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.tutor-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.tutor-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.tutor-grid-cols-none {
  grid-template-columns: none;
}

// Grid column span
.tutor-col-auto {
  grid-column: auto;
}

.tutor-col-span-1 {
  grid-column: span 1 / span 1;
}

.tutor-col-span-2 {
  grid-column: span 2 / span 2;
}

.tutor-col-span-3 {
  grid-column: span 3 / span 3;
}

.tutor-col-span-4 {
  grid-column: span 4 / span 4;
}

.tutor-col-span-5 {
  grid-column: span 5 / span 5;
}

.tutor-col-span-6 {
  grid-column: span 6 / span 6;
}

.tutor-col-span-full {
  grid-column: 1 / -1;
}

// Positioning
.tutor-static {
  position: static;
}

.tutor-fixed {
  position: fixed;
}

.tutor-absolute {
  position: absolute;
}

.tutor-relative {
  position: relative;
}

.tutor-sticky {
  position: sticky;
}

// Position values
.tutor-inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tutor-inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.tutor-top-0 {
  top: 0;
}

.tutor-right-0 {
  right: 0;
}

.tutor-bottom-0 {
  bottom: 0;
}

.tutor-left-0 {
  left: 0;
}

.tutor-top-auto {
  top: auto;
}

.tutor-right-auto {
  right: auto;
}

.tutor-bottom-auto {
  bottom: auto;
}

.tutor-left-auto {
  left: auto;
}

// Z-index
.tutor-z-0 {
  z-index: 0;
}

.tutor-z-10 {
  z-index: 10;
}

.tutor-z-20 {
  z-index: 20;
}

.tutor-z-30 {
  z-index: 30;
}

.tutor-z-40 {
  z-index: 40;
}

.tutor-z-50 {
  z-index: 50;
}

.tutor-z-auto {
  z-index: auto;
}

// Overflow
.tutor-overflow-auto {
  overflow: auto;
}

.tutor-overflow-hidden {
  overflow: hidden;
}

.tutor-overflow-visible {
  overflow: visible;
}

.tutor-overflow-scroll {
  overflow: scroll;
}

.tutor-overflow-x-auto {
  overflow-x: auto;
}

.tutor-overflow-y-auto {
  overflow-y: auto;
}

.tutor-overflow-x-hidden {
  overflow-x: hidden;
}

.tutor-overflow-y-hidden {
  overflow-y: hidden;
}

.tutor-overflow-x-visible {
  overflow-x: visible;
}

.tutor-overflow-y-visible {
  overflow-y: visible;
}

.tutor-overflow-x-scroll {
  overflow-x: scroll;
}

.tutor-overflow-y-scroll {
  overflow-y: scroll;
}

// Responsive layout utilities
@each $breakpoint, $value in $tutor-breakpoints {
  @if $value > 0 {
    @media (min-width: $value) {
      .tutor-#{$breakpoint}\:block {
        display: block;
      }
      
      .tutor-#{$breakpoint}\:inline-block {
        display: inline-block;
      }
      
      .tutor-#{$breakpoint}\:inline {
        display: inline;
      }
      
      .tutor-#{$breakpoint}\:flex {
        display: flex;
      }
      
      .tutor-#{$breakpoint}\:inline-flex {
        display: inline-flex;
      }
      
      .tutor-#{$breakpoint}\:grid {
        display: grid;
      }
      
      .tutor-#{$breakpoint}\:hidden {
        display: none;
      }
      
      .tutor-#{$breakpoint}\:flex-row {
        flex-direction: row;
      }
      
      .tutor-#{$breakpoint}\:flex-col {
        flex-direction: column;
      }
      
      .tutor-#{$breakpoint}\:justify-start {
        justify-content: flex-start;
      }
      
      .tutor-#{$breakpoint}\:justify-center {
        justify-content: center;
      }
      
      .tutor-#{$breakpoint}\:justify-between {
        justify-content: space-between;
      }
      
      .tutor-#{$breakpoint}\:items-start {
        align-items: flex-start;
      }
      
      .tutor-#{$breakpoint}\:items-center {
        align-items: center;
      }
      
      .tutor-#{$breakpoint}\:items-end {
        align-items: flex-end;
      }
      
      .tutor-#{$breakpoint}\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      
      .tutor-#{$breakpoint}\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      
      .tutor-#{$breakpoint}\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      
      .tutor-#{$breakpoint}\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
      
      .tutor-#{$breakpoint}\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
      }
      
      .tutor-#{$breakpoint}\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
      }
    }
  }
}

// Additional responsive utilities from main.scss
@include tutor-respond-to(md) {
  .tutor-md-flex { @include tutor-flex; }
  .tutor-md-grid { @include tutor-grid; }
  .tutor-md-hidden { display: none; }
}

@include tutor-respond-to(lg) {
  .tutor-lg-flex { @include tutor-flex; }
  .tutor-lg-grid { @include tutor-grid; }
  .tutor-lg-hidden { display: none; }
}