// Sizing Utilities
// Width, height, and sizing utilities

@use '../tokens/spacing' as *;
@use '../tokens/breakpoints' as *;

// Width utilities
.tutor-w-0 {
  width: 0;
}

.tutor-w-auto {
  width: auto;
}

.tutor-w-full {
  width: 100%;
}

.tutor-w-screen {
  width: 100vw;
}

.tutor-w-min {
  width: min-content;
}

.tutor-w-max {
  width: max-content;
}

.tutor-w-fit {
  width: fit-content;
}

// Fractional widths
.tutor-w-1\/2 {
  width: 50%;
}

.tutor-w-1\/3 {
  width: 33.333333%;
}

.tutor-w-2\/3 {
  width: 66.666667%;
}

.tutor-w-1\/4 {
  width: 25%;
}

.tutor-w-2\/4 {
  width: 50%;
}

.tutor-w-3\/4 {
  width: 75%;
}

.tutor-w-1\/5 {
  width: 20%;
}

.tutor-w-2\/5 {
  width: 40%;
}

.tutor-w-3\/5 {
  width: 60%;
}

.tutor-w-4\/5 {
  width: 80%;
}

.tutor-w-1\/6 {
  width: 16.666667%;
}

.tutor-w-2\/6 {
  width: 33.333333%;
}

.tutor-w-3\/6 {
  width: 50%;
}

.tutor-w-4\/6 {
  width: 66.666667%;
}

.tutor-w-5\/6 {
  width: 83.333333%;
}

// Fixed widths using spacing scale
@each $key, $value in $tutor-spacing {
  .tutor-w-#{$key} {
    width: $value;
  }
}

// Additional fixed widths
.tutor-w-16 {
  width: 64px;
}

.tutor-w-20 {
  width: 80px;
}

.tutor-w-24 {
  width: 96px;
}

.tutor-w-32 {
  width: 128px;
}

.tutor-w-40 {
  width: 160px;
}

.tutor-w-48 {
  width: 192px;
}

.tutor-w-56 {
  width: 224px;
}

.tutor-w-64 {
  width: 256px;
}

.tutor-w-72 {
  width: 288px;
}

.tutor-w-80 {
  width: 320px;
}

.tutor-w-96 {
  width: 384px;
}

// Height utilities
.tutor-h-0 {
  height: 0;
}

.tutor-h-auto {
  height: auto;
}

.tutor-h-full {
  height: 100%;
}

.tutor-h-screen {
  height: 100vh;
}

.tutor-h-min {
  height: min-content;
}

.tutor-h-max {
  height: max-content;
}

.tutor-h-fit {
  height: fit-content;
}

// Fixed heights using spacing scale
@each $key, $value in $tutor-spacing {
  .tutor-h-#{$key} {
    height: $value;
  }
}

// Additional fixed heights
.tutor-h-16 {
  height: 64px;
}

.tutor-h-20 {
  height: 80px;
}

.tutor-h-24 {
  height: 96px;
}

.tutor-h-32 {
  height: 128px;
}

.tutor-h-40 {
  height: 160px;
}

.tutor-h-48 {
  height: 192px;
}

.tutor-h-56 {
  height: 224px;
}

.tutor-h-64 {
  height: 256px;
}

.tutor-h-72 {
  height: 288px;
}

.tutor-h-80 {
  height: 320px;
}

.tutor-h-96 {
  height: 384px;
}

// Min-width utilities
.tutor-min-w-0 {
  min-width: 0;
}

.tutor-min-w-full {
  min-width: 100%;
}

.tutor-min-w-min {
  min-width: min-content;
}

.tutor-min-w-max {
  min-width: max-content;
}

.tutor-min-w-fit {
  min-width: fit-content;
}

// Max-width utilities
.tutor-max-w-0 {
  max-width: 0;
}

.tutor-max-w-none {
  max-width: none;
}

.tutor-max-w-xs {
  max-width: 320px;
}

.tutor-max-w-sm {
  max-width: 384px;
}

.tutor-max-w-md {
  max-width: 448px;
}

.tutor-max-w-lg {
  max-width: 512px;
}

.tutor-max-w-xl {
  max-width: 576px;
}

.tutor-max-w-2xl {
  max-width: 672px;
}

.tutor-max-w-3xl {
  max-width: 768px;
}

.tutor-max-w-4xl {
  max-width: 896px;
}

.tutor-max-w-5xl {
  max-width: 1024px;
}

.tutor-max-w-6xl {
  max-width: 1152px;
}

.tutor-max-w-7xl {
  max-width: 1280px;
}

.tutor-max-w-full {
  max-width: 100%;
}

.tutor-max-w-min {
  max-width: min-content;
}

.tutor-max-w-max {
  max-width: max-content;
}

.tutor-max-w-fit {
  max-width: fit-content;
}

.tutor-max-w-prose {
  max-width: 65ch;
}

.tutor-max-w-screen-sm {
  max-width: 640px;
}

.tutor-max-w-screen-md {
  max-width: 768px;
}

.tutor-max-w-screen-lg {
  max-width: 1024px;
}

.tutor-max-w-screen-xl {
  max-width: 1280px;
}

.tutor-max-w-screen-2xl {
  max-width: 1536px;
}

// Min-height utilities
.tutor-min-h-0 {
  min-height: 0;
}

.tutor-min-h-full {
  min-height: 100%;
}

.tutor-min-h-screen {
  min-height: 100vh;
}

.tutor-min-h-min {
  min-height: min-content;
}

.tutor-min-h-max {
  min-height: max-content;
}

.tutor-min-h-fit {
  min-height: fit-content;
}

// Max-height utilities
.tutor-max-h-0 {
  max-height: 0;
}

.tutor-max-h-full {
  max-height: 100%;
}

.tutor-max-h-screen {
  max-height: 100vh;
}

.tutor-max-h-min {
  max-height: min-content;
}

.tutor-max-h-max {
  max-height: max-content;
}

.tutor-max-h-fit {
  max-height: fit-content;
}

// Responsive sizing utilities
@each $breakpoint, $value in $tutor-breakpoints {
  @if $value > 0 {
    @media (min-width: $value) {
      .tutor-#{$breakpoint}-w-auto {
        width: auto;
      }
      
      .tutor-#{$breakpoint}-w-full {
        width: 100%;
      }
      
      .tutor-#{$breakpoint}-w-1\/2 {
        width: 50%;
      }
      
      .tutor-#{$breakpoint}-w-1\/3 {
        width: 33.333333%;
      }
      
      .tutor-#{$breakpoint}-w-2\/3 {
        width: 66.666667%;
      }
      
      .tutor-#{$breakpoint}-w-1\/4 {
        width: 25%;
      }
      
      .tutor-#{$breakpoint}-w-3\/4 {
        width: 75%;
      }
      
      .tutor-#{$breakpoint}-h-auto {
        height: auto;
      }
      
      .tutor-#{$breakpoint}-h-full {
        height: 100%;
      }
      
      .tutor-#{$breakpoint}-h-screen {
        height: 100vh;
      }
      
      .tutor-#{$breakpoint}-max-w-none {
        max-width: none;
      }
      
      .tutor-#{$breakpoint}-max-w-sm {
        max-width: 384px;
      }
      
      .tutor-#{$breakpoint}-max-w-md {
        max-width: 448px;
      }
      
      .tutor-#{$breakpoint}-max-w-lg {
        max-width: 512px;
      }
      
      .tutor-#{$breakpoint}-max-w-xl {
        max-width: 576px;
      }
      
      .tutor-#{$breakpoint}-max-w-2xl {
        max-width: 672px;
      }
      
      .tutor-#{$breakpoint}-max-w-3xl {
        max-width: 768px;
      }
      
      .tutor-#{$breakpoint}-max-w-4xl {
        max-width: 896px;
      }
      
      .tutor-#{$breakpoint}-max-w-5xl {
        max-width: 1024px;
      }
      
      .tutor-#{$breakpoint}-max-w-6xl {
        max-width: 1152px;
      }
      
      .tutor-#{$breakpoint}-max-w-7xl {
        max-width: 1280px;
      }
    }
  }
}