// Spacing Utilities
// Margin and padding utilities using Figma design token scale

@use '../tokens' as *;

// Margin utilities
@each $key, $value in $tutor-spacing {
  .tutor-m-#{$key} {
    margin: $value;
  }

  .tutor-mt-#{$key} {
    margin-top: $value;
  }

  .tutor-mr-#{$key} {
    [dir='ltr'] & {
      margin-right: $value;
    }

    [dir='rtl'] & {
      margin-left: $value;
    }
  }

  .tutor-mb-#{$key} {
    margin-bottom: $value;
  }

  .tutor-ml-#{$key} {
    [dir='ltr'] & {
      margin-left: $value;
    }

    [dir='rtl'] & {
      margin-right: $value;
    }
  }

  .tutor-mx-#{$key} {
    [dir='ltr'] & {
      margin-left: $value;
      margin-right: $value;
    }

    [dir='rtl'] & {
      margin-left: $value;
      margin-right: $value;
    }
  }

  .tutor-my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

// Padding utilities
@each $key, $value in $tutor-spacing {
  .tutor-p-#{$key} {
    padding: $value;
  }

  .tutor-pt-#{$key} {
    padding-top: $value;
  }

  .tutor-pr-#{$key} {
    [dir='ltr'] & {
      padding-right: $value;
    }

    [dir='rtl'] & {
      padding-left: $value;
    }
  }

  .tutor-pb-#{$key} {
    padding-bottom: $value;
  }

  .tutor-pl-#{$key} {
    [dir='ltr'] & {
      padding-left: $value;
    }

    [dir='rtl'] & {
      padding-right: $value;
    }
  }

  .tutor-px-#{$key} {
    [dir='ltr'] & {
      padding-left: $value;
      padding-right: $value;
    }

    [dir='rtl'] & {
      padding-left: $value;
      padding-right: $value;
    }
  }

  .tutor-py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// Negative margins
@each $key, $value in $tutor-spacing {
  @if $key !=0 {
    .-tutor-m-#{$key} {
      margin: -$value;
    }

    .-tutor-mt-#{$key} {
      margin-top: -$value;
    }

    .-tutor-mr-#{$key} {
      [dir='ltr'] & {
        margin-right: -$value;
      }

      [dir='rtl'] & {
        margin-left: -$value;
      }
    }

    .-tutor-mb-#{$key} {
      margin-bottom: -$value;
    }

    .-tutor-ml-#{$key} {
      [dir='ltr'] & {
        margin-left: -$value;
      }

      [dir='rtl'] & {
        margin-right: -$value;
      }
    }

    .-tutor-mx-#{$key} {
      margin-left: -$value;
      margin-right: -$value;
    }

    .-tutor-my-#{$key} {
      margin-top: -$value;
      margin-bottom: -$value;
    }
  }
}

// Auto margins
.tutor-m-auto {
  margin: auto;
}

.tutor-mt-auto {
  margin-top: auto;
}

.tutor-mr-auto {
  [dir='ltr'] & {
    margin-right: auto;
  }

  [dir='rtl'] & {
    margin-left: auto;
  }
}

.tutor-mb-auto {
  margin-bottom: auto;
}

.tutor-ml-auto {
  [dir='ltr'] & {
    margin-left: auto;
  }

  [dir='rtl'] & {
    margin-right: auto;
  }
}

.tutor-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tutor-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Responsive spacing utilities
@each $breakpoint, $value in $tutor-breakpoints {
  @if $value >0 {
    @media (min-width: $value) {
      @each $space-key, $space-value in $tutor-spacing {
        .tutor-#{$breakpoint}-m-#{$space-key} {
          margin: $space-value;
        }

        .tutor-#{$breakpoint}-mt-#{$space-key} {
          margin-top: $space-value;
        }

        .tutor-#{$breakpoint}-mr-#{$space-key} {
          margin-right: $space-value;
        }

        .tutor-#{$breakpoint}-mb-#{$space-key} {
          margin-bottom: $space-value;
        }

        .tutor-#{$breakpoint}-ml-#{$space-key} {
          margin-left: $space-value;
        }

        .tutor-#{$breakpoint}-mx-#{$space-key} {
          margin-left: $space-value;
          margin-right: $space-value;
        }

        .tutor-#{$breakpoint}-my-#{$space-key} {
          margin-top: $space-value;
          margin-bottom: $space-value;
        }

        .tutor-#{$breakpoint}-p-#{$space-key} {
          padding: $space-value;
        }

        .tutor-#{$breakpoint}-pt-#{$space-key} {
          padding-top: $space-value;
        }

        .tutor-#{$breakpoint}-pr-#{$space-key} {
          padding-right: $space-value;
        }

        .tutor-#{$breakpoint}-pb-#{$space-key} {
          padding-bottom: $space-value;
        }

        .tutor-#{$breakpoint}-pl-#{$space-key} {
          padding-left: $space-value;
        }

        .tutor-#{$breakpoint}-px-#{$space-key} {
          padding-left: $space-value;
          padding-right: $space-value;
        }

        .tutor-#{$breakpoint}-py-#{$space-key} {
          padding-top: $space-value;
          padding-bottom: $space-value;
        }
      }
    }
  }
}