// Row
//
// Rows contain your columns.

@if $enable-grid-classes {
  .tutor-row {
    @include make-row();

    > * {
      @include make-col-ready();
    }
  }
}


// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}


// grids
.tutor-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 32px;
	grid-template-rows: min-content;
	grid-template-columns: repeat(1, 1fr);

	&-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	&-2 {
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-3 {
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&-4 {
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-breakpoint-up(xl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}