.dozent-wrap{
    padding: 8% !important;
}

.site-content{
    padding: 8% 0;
}

.dozent-wrap .dozent-topics-lesson-list .dozent-topics-in-single-lesson .dozent-lessons-under-topic p{
    font-size: 1.4rem;
}