.tutor-dashboard-assignment-table{
	tr {
		th, td{
			border: 1px solid #DCDFE5;
			vertical-align: middle;
			padding: 20px;
			&:not(:first-child){
				text-align: center;
			}
		}
		h5{
			margin: 0;
			font-size: 16px;
			line-height: 18px;
			font-weight: 700;
			color: var(--tutor-text-color);
			&:not(:last-child){
				margin-bottom: 7px;
			}
		}
		a{
			font-weight: 400;
			color: var(--tutor-text-color);
			&:hover{
				color: var(--tutor-primary-color);
				transition: 300ms;
			}
		}
	}
}