
/**
 * Tutor Course Delete Popup
 */

.tutor-course-delete-popup{
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #8C94A8;
}
.tutor-course-delete-popup img{
	width: 110px;
	margin: 0 auto;
}

.tutor-course-delete-popup h3{
	font-weight: 500;
	font-size: 30px;
	margin: 15px  0 25px;
}

.tutor-modal-button-group{
	margin-top: 55px;
}

.tutor-modal-button-group button{
	line-height: 30px;
	padding: 10px 25px;
	color: #C7CCDA;
	border: 2px solid #DDDFE7;
	border-radius: 2px;
	background: #fff;
	min-width: 220px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: 300ms;
	transition: 300ms;
}

.tutor-modal-button-group button + button{
	margin-left: 20px;
}

.tutor-modal-button-group button.tutor-danger{
	background: #F0576A;
	border-color: #F0576A;
	color: #ffffff;
}
.tutor-modal-button-group button:hover{
	background: #fff;
	color: #333;
	border-color: #333;
}
.tutor-modal-button-group button.tutor-danger:hover{
	background: #cd4a5a;
	border-color: #cd4a5a;
	color: #ffffff;
}

@media (max-width: 768px) {
	.tutor-modal-button-group button{
		padding: 5px 20px;
		min-width: auto;
		margin-bottom: 6px;
	}
	.tutor-modal-button-group{
		margin-top: 20px;
	}
}
