.tutor-quiz-attempt-history {
	td:last-child {
		text-align: center;
		a {
			display: block;
			padding: 10px;
		}
	}
}

.attempt-review-title {
	font-size: 18px;
	color: var(--tutor-text-size);
	font-weight: 600;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	i {
		margin-right: 12px; // reduce 3 px for default icon gap
		color: var(--tutor-primary-color);
	}
}

.tutor-quiz-attempt-info-row {
	.attempt-view-bottom,
	.attempt-view-top {
		display: flex;
		justify-content: space-between;
		.attempt-info-col {
			display: inline-flex;
			align-items: center;
			max-width: 30%;
		}
	}
	.attempt-view-bottom .attempt-info-col {
		align-items: flex-start;
	}
	.attempt-info-content {
		span.result-review-required,
		span.result-pass,
		span.result-fail {
			background: #df3247;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			padding: 1px 4px;
			margin-right: 13px;
			border-radius: 2px;
		}
		span.result-pass {
			background: var(--tutor-success-button-color);
		}
		span.result-review-required {
			background: #f5b30d;
		}
		h4,
		h5 {
			font-size: 14px;
			line-height: 25px;
			margin: 0;
			color: #7a7f85;
			font-weight: 400;
		}
		h4 a,
		h4 {
			font-weight: 700;
			color: var(--tutor-text-color);
			margin-top: 7px;
		}
	}
	.attempt-view-top {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #dcdfe5;
	}
	.attempt-view-bottom {
		margin-bottom: 60px;
	}
}

.attempt-user-details {
	display: flex;
	align-items: center;
	.attempt-user-avatar {
		padding-right: 20px;
		img {
			display: block;
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
	}
	.attempt-info-content h4 {
		font-size: 18px;
	}
}

.attempt-review-notice-wrap {
	display: flex;
	margin-bottom: 60px;
	justify-content: space-between;
	p {
		margin: 0;
		display: inline-flex;
		align-items: center;
		&.attempt-review-notice i {
			font-size: 16px;
			color: #f5c813;
			margin-right: 9px;
		}
		&.attempt-review-at > span {
			color: var(--tutor-primary-color);
			margin-right: 7px;
			font-size: 16px;
		}
		> strong {
			font-weight: 400;
			margin-right: 5px;
		}
	}
}

// review table
.quiz-attempt-answers-wrap {
	background: #fff;
	margin: 0 0 1.5em;
	.attempt-answers-header {
		padding: 30px 20px;
		h3 {
			font-size: 20px;
			line-height: 1.5;
			color: #3f435b;
		}
	}
	table {
		border-collapse: collapse;
		border: none;
		tr {
			background-color: #fff;

			&:first-child {
				background-color: #f7f7f9;
				border-top: 1px solid #eaeaea;
				border-bottom: 1px solid #eaeaea !important;
			}
			&:not(:first-child) {
				border-top: 1px solid #dcdce1;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #dcdce1;
			}
		}
		th {
			font-size: 12px;
			text-transform: inherit;
		}
		th,
		td {
			padding: 17px 20px;
			vertical-align: middle;
			border: none;
			font-size: 14px;
			line-height: 1.71;
			letter-spacing: normal;
			color: #393c40;
			p {
				margin: 0;
			}
			.tutor-icon-block {
				font-size: 14px;
				width: 30px;
				height: 30px;
				line-height: 30px;
			}
		}
		.quiz-manual-review-action {
			border: 1px solid #d4dadb;
			color: #d4dadb;
			height: 30px;
			width: 30px;
			border-radius: 2px;
			font-size: 13px;
			display: inline-block;
			text-align: center;
			line-height: 30px;
			transition: 300ms;
			&:first-child:hover {
				border: 1px solid var(--tutor-success-button-color);
				color: var(--tutor-success-button-color);
			}
			&:last-child:hover {
				border: 1px solid #df3247;
				color: #df3247;
			}
			&:not(:last-child) {
				margin-right: 17px;
			}
		}
	}
}

// quiz attempt review
.tutor-quiz-attempt-review-wrap {
	.attempt-answers-header {
		background: #fff;
		padding: 20px;
		margin-top: 20px;
		a {
			color: #3f435b;
		}
		> p {
			color: #737787;
			margin-top: 10px;
			margin-bottom: 0;
		}

		h3 {
			font-size: 20px;
			line-height: 1.5;
			color: #3f435b;
		}
	}
	.instructor-feedback-content {
		padding: 0px 20px 10px 20px;
		> p {
			margin-bottom: 1em;
		}
	}
	table {
		border-collapse: collapse;
		border: none;
		tr {
			background-color: #fff;

			&:first-child {
				background-color: #f7f7f9;
				border-top: 1px solid #eaeaea;
				border-bottom: 1px solid #eaeaea;
				th,
				td {
					padding-top: 14px;
					padding-bottom: 14px;
				}
			}
			&:not(:first-child) {
				border-top: 1px solid #dcdce1;
				th,
				td {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
			&:not(:last-child) {
				border-bottom: 1px solid #dcdce1;
			}
		}
		th,
		td {
			border: none;
			vertical-align: top;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.71;
			padding: 15px 6px;
			&:first-child {
				padding: 12px;
			}
			&:last-child {
				padding: 12px 10px;
			}
		}
	}
	span.result-review-required,
	span.result-pass,
	span.result-fail {
		background: #df3247;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		padding: 4px 11px;
		// margin-right: 13px;
		border-radius: 2px;
	}
	span.result-pass {
		background: var(--tutor-success-button-color);
	}
	span.result-review-required {
		background: #f5b30d;
	}
}

.tutor-status-blocked-context i,
.tutor-status-approved-context i,
.quiz-correct-answer-text i,
.quiz-incorrect-answer-text i {
	font-size: 14px;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	background: #7bbc30;
	color: #fff;
	display: inline-block;
	border-radius: 2px;
	margin-right: 6px;
}
.tutor-status-blocked-context i,
.quiz-incorrect-answer-text i {
	background: #f44337;
	font-size: 10px;
	font-weight: 900;
}

.answer-image-matched-wrap {
	display: block;
	.image-matching-item {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		img {
			max-width: 35px;
		}
		.dragged-caption {
			font-size: 14px;
			margin-left: 12px;
		}
	}
}

.correct-answer-wrap {
	.text-image-type {
		display: flex;
		align-items: center;
		&:not(:first-child) {
			margin-top: 10px;
		}
		.image {
			margin-right: 8px;
		}
	}
}
