.tutor-announcement-content-wrap {
    text-align: left !important;
    display:flex;
    justify-content:space-between;
}
.tutor-dashboard-announcement-sorting-wrap {
    display: flex;
    column-gap: 15px;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(1){
    flex-basis: 50%;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(2){
    flex-basis: 20%;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(3){
    flex-basis: 30%;
}

.tutor-dashboard-announcement-table tr {
    border: 1px solid #DCDBDC;
    border-collapse: collapse;

}
.tutor-dashboard-announcement-table th{
    padding: 13px 20px 13px 20px;
    background-color: #F3F3F3;
}

.tutor-dashboard-announcement-table td{
    padding: 21px 20px 13px 21px;
}
.tutor-announcement-datepicker {
    position: relative;
}
.tutor-announcement-datepicker input, 
.tutor-announcement-datepicker i 
{
    position: absolute;
}
.tutor-announcement-datepicker i {
    top: 50%;
    right: 5px;
    color: rgba(62, 100, 222, 1);

}
.tutor-announcement-buttons > li {
    float: left;
    list-style: none;
    padding-right:15px;
}
.tutor-dropdown {
    position: relative;
    padding-top: 10px;
    cursor: pointer;
}

.tutor-dropdown.show .arrow-up{
    display: block !important;
}
.tutor-dropdown.show .tutor-dropdown-menu{
    display: block !important; 
}
.tutor-dropdown .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    display: none;
}
.tutor-dropdown-menu{
    min-width: 140px;
    background: #353535;
    color: white;
    width: 100%;
    position:absolute;
    right: 0px;
    display: none;
    border-radius: 6px;
   
}
.tutor-dropdown-menu li {
    list-style: none !important;
    padding:5px 15px 5px 15px;
    cursor: pointer;
}
.tutor-dropdown-menu li:hover {
    background-color: #6b6b6b;
    border-radius: 6px;
}
.tutor-dropdwown-menu li i{
    padding-right: 4px;
}


.tutor-announcements-update-form .tutor-option-field-row input[type=text],
.tutor-announcements-update-form textarea ,
.tutor-announcements-form .tutor-option-field-row input[type=text],
.tutor-announcements-form textarea {
    width: 100%;
    margin-top: 8px;
}
.tutor-announcements-form select ,
.tutor-announcements-update-form select {
    width: 100%;
    max-width: 100% !important;
    padding: 7px 12px;
    margin-top: 8px;
}
.tutor-announcements-update-form
.tutor-option-field-row ,
.tutor-announcements-form
.tutor-option-field-row {
    border: none !important;
}

.tutor-announcement-modal-content {
    border-radius: 20px;
}
.tutor-announcement-modal-footer-buttons {
    display: flex;
    justify-content: space-between;
}
.tutor-announcement-cancel-btn {
    background: #E8E8E8 !important;
    border-radius: 3px !important;
    color: #7A7A7A !important;
}

/*announcemnets details modal*/

.tutor-announcement-details-modal-content >a{
    cursor: pointer;
    padding:20px; 
    float: right;
}
.modal-container.tutor-announcement-details-container {
    padding: 20px 70px !important;
}
.balance-info
.tutor-announcement-big-icon {
    margin-right: 10px;
}
.tutor-announcement-big-icon {
    font-size: 32px;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    background: #E9EDFB;
    text-align: center;
    padding: 10px;
    color: #3E64DE;    
}
.tutor-announcement-detail-content {
    margin: 34px 0px 60px;
}
.tutor-announcement-detail-content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #161616;
}
.tutor-announcement-detail-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #7A7A7A;
    padding-top: 22px;
}
.tutor-detail-course-content-wrap {
    background-color: #F3F3F3;
}
.tutor-detail-course-content {
    padding: 20px 70px;
}
.tutor-detail-course-info-wrap {
    display: flex;
    justify-content: space-between;
}
.tutor-announce-detail-popup-button-wrap {
    display: flex;
    justify-content: space-between;
}
.announcement-detail-edit-delete-button >
.tutor-announcement-delete {
    background: #E8E8E8 !important;
    color: #7A7A7A !important;    
}
.tutor-border-none{
    border: none !important;
}
.announcement-detail-edit-delete-button > button {
    padding: 10px 20px !important;
}
.announcement-detail-edit-delete-button {
    display: flex;
    gap: 10px;
}
.tutor-announcement-detail-course-info p,
.tutor-announcement-detail-date-info p {
    font-size: 16px;
    color: #161616; 
    font-weight: 700;   
}