.tutor-announcement-content-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tutor-announcement-buttons :nth-child(1){
    margin-right: 20px;
}
.tutor-announcements-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.tutor-announcement-date,
.tutor-announcement-content > span {
    font-weight: bold !important;
}
.tutor-announcement-date {
    width: 100px !important;
}
.tutor-announcements-modal-wrap button {
    padding: 10px 20px !important
}

.tutor-announcements-update-form 
.tutor-option-field-row,
.tutor-announcements-form 
.tutor-option-field-row
{
    padding: 10px 18px 10px 18px
}
.tutor-announcements-update-form .tutor-option-field-row input[type=text],
.tutor-announcements-update-form textarea ,
.tutor-announcements-form .tutor-option-field-row input[type=text],
.tutor-announcements-form textarea {
    width: 100%;
    margin-top: 8px;
}
.tutor-announcements-form select ,
.tutor-announcements-update-form select {
    width: 100%;
    max-width: 100% !important;
    padding: 7px 12px;
    margin-top: 8px;
}
.tutor-announcements-update-form
.tutor-option-field-row ,
.tutor-announcements-form
.tutor-option-field-row {
    border: none !important;
}
.tutor-announcement-close-btn {
    text-decoration: none;
    color: #525252;
    
}