
/* *********************** */
/* Tutor Dashboard */
/* *********************** */

.tutor-dashboard-header{
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #DCDFE5;
	flex-wrap: wrap;
}

.tutor-dashboard-header-avatar img{
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.tutor-dashboard-header-info{
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tutor-dashboard-header-button{
	padding-top: 15px;
}

.tutor-dashboard-header-display-name h4{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 34px;
}

.tutor-dashboard-header-stats{
	display: flex;
	flex-wrap: wrap;
	line-height: 25px;
}

.tutor-dashboard-header-stats > div:not(:first-child){
	margin-left: 30px;
}

.tutor-dashboard-social-icons{
	display: inline-flex;
	align-items: center;
	h4{
		margin: 0 10px 0 0;
		font-size: var(--tutor-text-size);
		line-height: 25px;
	}
	a{
		display: inline-block;
		font-size: 12px;
		padding: 0 5px;
		line-height: 25px;
		color: #393C40;
		transition: 300ms;
		&:hover{
			color: var(--tutor-primary-color);
		}
	}
}


/* end dashboard header */

/**
 * Dashboard Table
 */

.tutor-dashboard-info-table-wrap{
	margin-bottom: 30px;
	table{
		margin-bottom: 0;
		border-collapse: collapse;
		border: 1px solid #DCDFE5;
		border-radius: 4px;
		width: 100%;
	}
	> h3{
		font-size: 20px;
		font-weight: 500;
		border:  1px solid #DCDFE5;
		border-bottom: none;
		margin: 0;
		padding: 30px;
		border-radius: 4px 4px 0 0 ;
		+ table{
			border-radius: 0 0 4px 4px ;
		}
	}
}

.tutor-dashboard-info-table{
	thead{
		background: #FAFBFC;
		tr td{
			padding: 15px;
		}
	}
	tbody tr td{
		background: transparent !important;
		padding: 20px 15px;
	}
	
	thead,
	tbody{
		tr{
			border: 1px solid #DCDFE5;
			td:first-child{
				padding-left: 25px;
			}
		}
	}
	
	span{
		&.pending,
		&.pass,
		&.fail{
			color: #fff;
			font-size: 14px;
			line-height: 18px;
			padding: 1px 6px;
			border-radius: 2px;
		}
		&.pending{
			background-color: #F5A623;
		}
		&.fail{
			background-color: #D71830;
		}
		&.pass{
			background-color: var(--tutor-success-button-color);
		}
	}
}
/**
 * Tutor Dashboard Review
 */

.tutor-dashboard-single-review{
	border: 1px solid #DCDFE5;
	border-radius: 4px;
	margin-bottom: 30px;
}
.tutor-dashboard-review-heading{
	padding: 10px 20px;
	border-bottom: 1px solid #DCDFE5;
	display: flex;
	align-items: center;
}
.individual-dashboard-review-body{
	padding: 10px 20px;
}

.tutor-dashboard-review-title{
	font-size: 18px;
	-webkit-box-flex: 1;
	
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
}
.tutor-dashboard-review-title a{
	font-weight: 500;
	color: var(--tutor-primary-color);
}

.tutor-dashboard-review-links{
	white-space: nowrap;
	font-weight: 400;
}
.tutor-dashboard-review-links a{
	color: #8C94A8;
	margin-left: 10px;
	display: inline-flex;
	align-items: center;
	font-size: 14px;
}
.tutor-dashboard-review-links a i{
	line-height: inherit;
	font-size: 14px;
	margin-right: 5px;
}
.individual-dashboard-review-body .review-meta {
	font-size: 85%;
	margin: 0;
	color: #8C94A8;
}
.individual-star-rating-wrap {
	display: flex;
	align-items: center;
}
.tutor-edit-review-modal-wrap .modal-close-wrap a.modal-close-btn{
	color: #222222;
	background: none;
	font-size: 20px;
	top: 8px;
}
.tutor-modal-wrap form{
	margin-bottom: 20px;
}
/*dashboard content*/
.tutor-dashboard-info-cards{
	margin: 0 -15px 15px;
	padding: 0;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	.tutor-dashboard-info-card{
		padding: 15px;
		min-width: 33.333%;
		p{
			margin: 0;
			padding: 15px 25px;
			background: #282C36;
			color: #ffffff;
			border-radius: 4px;
			span.tutor-dashboard-info-val{
				display: block;
				font-weight: 700;
				font-size: 30px;
				line-height: 1.618;
			}
			span span{
				display: inline-block;
			}
			> *{
				vertical-align: middle;
			}
		}
	}
}

/*dashboard quiz attempts*/
.tutor-dashboard-content{
	margin-bottom: 60px;
}

.tutor-dashboard-content > h2{
	margin-bottom: 20px;
}

.tutor-dashboard-content  .tutor-quiz-attempt-history tr th,
.tutor-dashboard-content  .tutor-quiz-attempt-history tr td{
	vertical-align: middle;
}
.tutor-dashboard-content  .tutor-quiz-attempt-history tr td:first-child{
	padding: 15px 13px !important;
}
.tutor-dashboard-content  .tutor-quiz-attempt-history tr.pass{
	border-left: 3px solid var(--tutor-success-button-color);
}
.tutor-dashboard-content  .tutor-quiz-attempt-history tr.fail{
	border-left: 3px solid #D71830;
}
.tutor-dashboard-content .tutor-quiz-attempt-history table span.result-fail,
.tutor-dashboard-content .tutor-quiz-attempt-history table span.result-pass{
	width: auto;
	height: auto;
	line-height: 19px;
	padding: 0 5px;
	margin-right: 4px;
}
.label-course-status{
	background-color: #CCCCCC;
	padding: 3px 5px;
	color: #ffffff;
	font-size: 12px;
	text-transform: capitalize;
}
.label-course-publish{
	background-color: var(--tutor-success-button-color);
}

.tutor-dashboard-content .tutor-quiz-attempt-history table tr th{
	background: #FAFBFC;
}

.tutor-dashboard-content .tutor-quiz-attempt-history table tr td{
	background: #fff;
}

@media (max-width: 768px) {
	.tutor-dashboard-content .tutor-quiz-attempt-history table tr{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}
	.tutor-dashboard-content .tutor-quiz-attempt-history table tr th{
		display: none;
	}
	.tutor-dashboard-content .tutor-quiz-attempt-history table tr td{
		width: 100%;
	}
	.tutor-dashboard-content .tutor-quiz-attempt-history table tr td:not(:first-child){
		text-align: right;
	}
	
	.tutor-dashboard-content .tutor-quiz-attempt-history table tr td:not(:first-child)::before{
		content: attr(title) ": ";
		float: left;
		font-weight: 700;
	}
	
}

.tutor-dashboard-content .tutor-quiz-attempt-history table a{
	color: var(--tutor-primary-color);
	font-weight: 700;
	//font-size: var(--tutor-text-size);
	line-height: 24px;
}


.tutor-dashboard-content .tutor-quiz-attempt-history table a:hover{
	color: var(--tutor-primary-color);
}

.tutor-dashboard-item-group{
	padding: 25px;
	border: 1px solid #DCDFE5;
	border-radius: 4px;
	margin-bottom: 30px;
}

.tutor-dashboard-item-group > h4{
	font-size: 20px;
	color: var(--tutor-primary-color);
	font-weight: 500;
}

/* Dashboard Assignment */
.tutor-dashboard-assignment-submitted-table tr td{
	text-align: center;
}

.tutor-dashboard-assignment-submitted-table tr td a{
	color: #8C94A8;
	transition: 300ms;
}

.tutor-dashboard-assignment-submitted-table tr td a:hover{
	color: var(--tutor-primary-color);
}

.tutor-dashboard-assignment-submitted-table tr td,
.tutor-dashboard-assignment-submitted-table tr th{
	border: 1px solid #DCDFE5;
}

/* Dashboard Assignment Review */

.tutor-assignment-review-header{
	margin-bottom: 30px;
}
.tutor-assignment-review-header h3{
	margin-bottom: 10px;
	line-height: 28px;
}

.tutor-assignment-evaluate-wraps h3,
.tutor-assignment-review-header h3 a{
	font-size: 22px;
	font-weight: 700;
	color: var(--tutor-text-color);
	display: block;
}

.tutor-assignment-review-header p{
	margin: 0;
	color: var(--tutor-text-color);
	font-weight: 700;
}

.tutor-assignment-review-header p a{
	font-weight: 400;
	color: var(--tutor-text-color);
}

.tutor-assignment-review-header a{
	transition: 300ms;
}

.tutor-assignment-review-header a:hover{
	color: var(--tutor-primary-color);
}

.tutor-dashboard-assignment-review{
	background: rgba(220, 223, 229, 0.14);
	border: 1px solid #DCDFE5;
	padding: 25px;
	//font-size: var(--tutor-text-size);
	font-weight: 400;
	border-radius: 4px;
	margin-bottom: 40px;
}

.tutor-dashboard-assignment-review h5,
.tutor-dashboard-assignment-review h4{
	font-size: 16px;
	line-height: 23px;
	font-weight: 700;
	color: var(--tutor-text-color);
}
.tutor-dashboard-assignment-review h5{
	//font-size: var(--tutor-text-size);
	margin-bottom: 15px;
}

.tutor-dashboard-assignment-files {
	display: flex;
	flex-wrap: wrap;
	margin: -9px;
}

.tutor-dashboard-assignment-files .uploaded-files{
	background-color: #fff;
	border: 1px solid #DCDFE5;
	border-radius: 4px;
	margin: 9px;
	transition: 300ms;
}

.tutor-dashboard-assignment-files .uploaded-files:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.tutor-dashboard-assignment-files .uploaded-files a i{
	margin-right: 12px;
	color: #606C8F;
	float: left;
	font-size: 28px;
	line-height: 28px;
}

.tutor-dashboard-assignment-files .uploaded-files a{
	color: var(--tutor-primary-color);
	display: block;
	overflow: hidden;
	line-height: 28px;
	padding: 15px 17px;
}

.tutor-assignment-evaluate-row{
	display: flex;
}

.tutor-assignment-evaluate-row .tutor-option-field-label{
	flex: 0 0 135px;
}

.tutor-assignment-evaluate-row .tutor-option-field{
	flex-grow: 1;
}

.tutor-assignment-evaluate-row .tutor-option-field-label label{
	display: block;
	padding-top: 12px;
}

.tutor-option-field-label label br{
	display: none;
}

.tutor-option-field-label label p{
	margin: 0;
	display: inline-block;
}

.tutor-assignment-evaluate-row textarea,
.tutor-assignment-evaluate-row .tutor-option-field input{
	border: 1px solid #DCDFE5;
	height: 50px;
	padding: 0 15px;
	border-radius: 4px;
	width: 100px;
	background-color: #fff;
}


.tutor-assignment-evaluate-row textarea{
	height: 165px;
	width: 100%;
}

.tutor-assignment-evaluate-row{
	margin-bottom: 60px;
}

.tutor-assignment-evaluate-row p.desc{
	margin-bottom: 0;
	margin-top: 6px;
	//font-size: var(--tutor-text-size);
	font-style: italic;
}

/* end dashboard content*/

/*  dashboard profile*/

.tutor-dashboard-profile .tutor-dashboard-profile-item{
	
	
	display: flex;
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .heading{
	min-width: 190px;
}

@media (max-width: 480px) {
	.tutor-dashboard-profile .tutor-dashboard-profile-item{
		flex-wrap: wrap;
	}
	.tutor-dashboard-profile .tutor-dashboard-profile-item .heading{
		min-width: 100%;
		width: 100%;
		font-weight: 700;
		margin-bottom: 6px;
	}
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content{
	-webkit-box-flex: 1;
	
	flex-grow: 1;
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content small{
	font-size: inherit;
	font-style: italic;
	/*color: #999;*/
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content small a{
	color: var(--tutor-primary-color);
}

/* end dashboard profile*/

.tutor-dashboard-avater img{
	width: 70px;
	height: 70px;
	display: block;
	border-radius: 50%;
}
.tutor-dashboard-student-info h4{
	font-size: 18px;
	color: var(--tutor-light-color);
	margin-bottom: 0;
}
.tutor-dashboard-student-info h4 a{
	color: var(--tutor-text-color);
}
.tutor-dashboard-user-role{
	font-weight: 400;
}
.tutor-dashboard-inline-links{
	margin-bottom: 30px;
}
.tutor-dashboard-inline-links ul{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #DFE1E5;
}
.tutor-dashboard-inline-links ul li{
	display: inline-block;
}
.tutor-dashboard-inline-links ul li a{
	display: block;
	padding: 5px 10px;
	color: var(--tutor-primary-color);
	margin-bottom: -1px;
	line-height: 40px;
}
.tutor-dashboard-inline-links ul li a:hover, .tutor-dashboard-inline-links ul li.active a  {
	color: var(--tutor-primary-color);
	border-bottom: 1px solid var(--tutor-primary-color);
	padding-bottom: 4px;
}
.tutor-dashboard-student-meta ul li:first-child{
	margin-left: 0;
}
@media (max-width: 767px){
	.tutor-dashboard-student-meta ul{
		display: block;
		border: none;
		padding: 0;
	}
	.tutor-dashboard-student-meta ul li{
		display: inline-block;
		color: var(--tutor-text-color);
		margin: 5px;
		border: 1px solid #dddddd;
		padding: 5px 10px;
		border-radius: 4px;
	}
}
.tutor-dashboard-student-meta ul li strong{
	display: block;
	color: var(--tutor-light-color);
	font-weight: 400;
}
.tutor-dashboard-permalinks{
	list-style: none;
	margin: 0px 0 20px;
	padding: 20px 0;
	border-right: 1px solid #DCDFE5;
}
.tutor-dashboard-permalinks li:not(:last-child){

}
.tutor-dashboard-permalinks li a:hover{
	background-color: #EDF0F9;
}
.tutor-dashboard-permalinks li.active a{
	background-color: var(--tutor-primary-color);
	color: #ffffff;
}

@media (max-width: 991px) {
	.tutor-dashboard-student .tutor-col-3,
	.tutor-dashboard-student .tutor-col-9{
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.tutor-dashboard-permalinks a{
	display: block;
	color: var(--tutor-text-color);
	padding: 10px 20px;
	line-height: 28px;
}

.tutor-dashboard-permalinks a:before{
	content: "\e968";
	font-family: 'tutor' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 15px;
	vertical-align: middle;
	color: var(--tutor-primary-color);
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	font-size: 17px;
}
.tutor-dashboard-permalinks a:hover:before{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.tutor-dashboard-permalinks li.active a:before{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}
.tutor-dashboard-menu-bio a:before,
.tutor-dashboard-menu-my-profile a:before{
	content: "\e963";
}

.tutor-dashboard-menu-enrolled-courses a:before{
	content: "\e969";
}

.tutor-dashboard-menu-courses_taken a:before,
.tutor-dashboard-menu-my-courses a:before{
	content: "\e965";
}

.tutor-dashboard-menu-wishlist a:before{
	content: "\e908";
}

.tutor-dashboard-menu-reviews a:before{
	content: "\e917";
}

.tutor-dashboard-menu-quiz-attempts a:before{
	content: "\e948";
}

.tutor-dashboard-menu-earning a:before{
	content: "\e96b";
}

.tutor-dashboard-menu-withdraw a:before{
	content: "\e960";
}
.tutor-dashboard-menu-settings a:before{
	content: "\e961";
}
.tutor-dashboard-menu-logout a:before{
	content: "\e962";
}

.tutor-dashboard-menu-purchase_history a:before{
	content: "\e964";
}
.tutor-dashboard-menu-assignments a:before{
	content: "\e98b";
}
.tutor-dashboard-content{
	padding-top: 30px;
}

.tutor-dashboard-content > h3{
	color: var(--tutor-text-color);
	font-size: 22px;
	font-weight: 500;
	line-height: 23px;
	margin-bottom: 20px;
}


/** Earning Report */
.tutor-date-range-filter-wrap{
	margin: 15px 0 20px;
	font-size: 12px;
}


.report-top-sub-menu{
	margin: 0 10px 5px 0;
	display: inline-block;
	font-size: 0;
}

.report-top-sub-menu a{
	text-decoration: none;
	padding: 5px 8px;
	border: 1px solid #D7DADF;
	color: #AAAEB3;
	white-space: nowrap;
	display: inline-block;
	font-size: 12px;
}


.report-top-sub-menu a:not(:first-child){
	margin-left: -1px;
}

.report-top-sub-menu a:hover{
	background: #EDF0F9;
	color: #333;
}
.report-top-sub-menu a.active {
	background-color: var(--tutor-primary-color);
	color: #ffffff;
	border: 1px solid var(--tutor-primary-hover-color);
}
.tutor-date-range-wrap{
	display: inline-block;
}
.report-date-range-form{
	
	
	display: flex;
	margin-bottom: 0;
	max-width: 370px;
}
.date-range-input{
	position: relative;
}


.date-range-input input{
	border-radius: 0 !important;
	margin: 0 !important;
	border-right: none !important;
	font-size: 14px;
}

.date-range-input:last-child{
	margin-right: 0;
}


.date-range-input:last-child button{
	border-radius: 0;
}

.date-range-input input, .date-range-input input[type=text]{
	border: 1px solid #D7DADF;
	box-shadow: none;
	line-height: 29px;
	margin: 0;
	padding-right: 30px;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
}
.date-range-input i.tutor-icon-calendar{
	position: absolute;
	right: 10px;
	top: 7px;
}
.date-range-input button{
	background-color: var(--tutor-primary-color);
	color: #ffffff;
	border: none;
	line-height: 30px;
	padding: 0 15px;
}
.report-download-csv-icon{
	float: right;
}
.report-download-csv-icon a{
	text-decoration: none;
}

.tutor-dashboard-statement-table-wrap{
	overflow-x: auto;
}

table.tutor-dashboard-statement-table p{
	margin: 0;
	padding: 0;
}
table.tutor-dashboard-statement-table p.small-text {
	font-size: 12px;
	color: #666666;
}
/** ENd earning report **/


.tutor-mycourse-thumbnail {
	flex: 0 0 250px;
	background-size: cover;
	background-position: center;
}
.tutor-mycourse-content {
	padding: 20px;
	flex: 1;
}


@media (max-width: 580px) {
	.tutor-mycourse-thumbnail{
		height: 200px;
	}
	.tutor-mycourse-thumbnail,
	.tutor-mycourse-content{
		min-width: 100%;
		width: 100%;
	}
}

.tutor-mycourse-content h3{
	margin: 0 0 9px;
}
.tutor-mycourse-content h3 a:hover{
	color: var(--tutor-primary-color);
}
.tutor-mycourse-rating{
	color: #F8C51C;
	font-size: 14px;
}
.tutor-mycourse-rating i{
	margin-right: 4px;
}
.tutor-dashboard-content-inner{
	//font-size: var(--tutor-text-size);
}

.tutor-mycourse-edit,
.tutor-mycourse-delete{
	color: var(--tutor-light-color);
	-webkit-transition: 300ms;
	transition: 300ms;
}

.tutor-mycourse-edit:hover,
.tutor-mycourse-delete:hover{
	color: var(--tutor-primary-color)
}

.tutor-mycourse-edit i,
.tutor-mycourse-delete i{
	line-height: inherit;
	display: inline-block;
	vertical-align: top;
	color: var(--tutor-primary-color);
}
.tutor-mycourse-delete i{
	color: #f05120;
}
.tutor-dashboard-content-inner .tutor-mycourse-wrap{
	
	
	display: flex;
	margin-bottom: 30px;
	border: 1px solid #DCDFE5;
	border-radius: 4px;
	flex-direction: row;
	overflow: hidden;
}

@media (max-width: 580px) {
	.tutor-dashboard-content-inner .tutor-mycourse-wrap{
		flex-wrap: wrap;
	}
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-course-status h4{
	display: none;
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-mycourse-rating{
	margin-bottom: 3px;
}
.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-mycourse-rating a{
	//font-size: var(--tutor-text-size);
	font-weight: 400;
	margin-left: 5px;
	color: #8C94A8;
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-mycourse-rating a:hover{
	color: var(--tutor-primary-color);
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap p:last-child{
	margin-bottom: 0;
}
.tutor-mycourse-content .mycourse-footer {
	
	
	display: flex;
}

.tutor-mycourse-content .mycourse-footer .tutor-mycourses-stats{
	flex: 1;
}
.tutor-dashboard-content-inner .tutor-mycourses-stats > *{
	margin-right: 8px;
}
.tutor-mycourse-status{
	margin-right: 15px;
}
.tutor-dashboard-content-inner h3 a{
	color: var(--tutor-text-color);
	font-size: 22px;
	line-height: 28px;
	font-weight: 500;
	display: block;
}

.tutor-dashboard-content-inner .tutor-course-metadata ul{
	display: block;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	//font-size: var(--tutor-text-size);
}

.tutor-dashboard-content-inner .tutor-progress-bar-wrap{
	margin-bottom: 0;
}
.tutor-dashboard-content-inner .tutor-course-metadata li{
	display: inline-block;
	color: var(--tutor-light-color);
	margin-left: 20px;
}

.tutor-dashboard-content-inner .tutor-course-metadata li:first-child{
	margin-left: 0;
}

.tutor-dashboard-content-inner .tutor-course-metadata li span{
	color: var(--tutor-text-color);
	margin-left: 5px;
}
