.tutor-dashboard-builder-header{
	padding: 10px 0px;
	border-bottom: 2px solid #DCDFE5;
	position: fixed;
	top: 0px;
	background: #fff;
	width: 100%;
	z-index: 99;
	@media (max-width: 991px){
		position: static;
	}
	.tutor-row{
		justify-content: space-between;
		.tutor-col-auto{
			@media (max-width: 991px) {
				flex: 0 0 100%;
				max-width: 100%;
				&:first-child{
					margin-bottom: 15px;
				}
			}
		}
	}
	.tutor-button{
		white-space: nowrap;
		margin-left: auto;
		@media (max-width: 991px){
			padding: 6px 10px;
		}
	}
	.tutor-dashboard-builder-header-left{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.tutor-dashboard-builder-logo{
			padding:0 25px;
			position: relative;
		}
		button{
			margin: 0;
			padding: 0px 25px;
			line-height: 30px;
			border: none;
			border-left: 1px solid #DCDFE5;
			background: transparent;
			display: inline-flex;
			//font-size: 14px;
			color: var(--tutor-text-color);
			transition: 300ms;
			font-weight: 500;
			white-space: nowrap;
			@media (max-width: 991px){
				border-left: none;
			}
			i{
				font-size: 24px;
				line-height: 30px;
				margin-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color);
				i{
					color: var(--tutor-primary-color)
				}
			}
			
		}
	}
	.tutor-dashboard-builder-header-right{
		display: flex;
		align-items: center;
		justify-content: space-between;
		a{
			//font-size: 14px;
			color: var(--tutor-text-color);
			font-weight: 500;
			line-height: 36px;
			padding: 0 25px;
			transition: 300ms;
			white-space: nowrap;
			i{
				font-size: 36px;
				line-height: 36px;
				display: inline-block;
				vertical-align: top;
				padding-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color)
			}
		}
	}
}

.tutor-frontend-course-builder-section{
	padding: 113px 0 45px;
	background-color: #ffffff;
	@media (max-width: 991px) {
		padding-top: 60px;
		.tutor-col-8,
		.tutor-col-4{
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}

.admin-bar{
	.tutor-dashboard-builder-header{
		top: 32px;
		@media (max-width: 783px) {
			top: 46px;
		}
	}
}

.tutor-course-builder-upload-tips{
	position: fixed;
	//width: 100%;
	max-width: 370px;
	@media (max-width: 991px) {
		position: static;
	}
	.tutor-course-builder-tips-title{
		font-size: 16px;
		color: #8C94A8;
		font-weight: 700;
		display: flex;
		align-items: center;
		i{
			font-size: 24px;
			color: var(--tutor-primary-color);
			margin-right: 11px;
		}
	}
	ul{
		margin: 0;
		padding: 0 0 0 35px;
		list-style: none;
		li{
			position: relative;
			margin-bottom: 8px;
			//font-size: 14px;
			line-height: 24px;
			&::after{
				content: '';
				position: absolute;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background: #DCDFE5;
				left: -26px;
				top: 9px;
			}
		}
	}
}


/*
 * Course Level Meta
 */


.tutor-course-level-meta {
	display: flex;
	label{
		margin: 0 40px 0 0;
		font-weight: 600;
	}
}

.tutor-frontend-builder-course-price{
	.tutor-form-group input{
		margin-bottom: 0;
	}
	.tutor-styled-radio{
		display: flex;
		align-items: center;
	}
}

/*
 * Course Builder Attachments
 */


.tutor-course-builder-attachements{
	display: flex;
	margin-left: -30px;
	flex-wrap: wrap;
}
.tutor-course-builder-attachements .tutor-added-attachment{
	flex: 0 0 calc(25% - 30px);
	max-width: calc(25% - 30px);
	border: 1px solid #DCDFE5;
	padding: 35px 20px 20px;
	position: relative;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
	transition: 300ms;
	min-width: 120px;
	@media (max-width: 480px) {
		flex: 0 0 calc(50% - 30px);
		max-width: calc(50% - 30px);
	}
}
.tutor-course-builder-attachements .tutor-added-attachment i{
	font-size: 58px;
	line-height: 58px;
	margin-bottom: 25px;
	display: block;
}
.tutor-course-builder-attachements .tutor-added-attachment .tutor-delete-attachment{
	position: absolute;
	height: 22px;
	width: 22px;
	border: 1px solid #DCDFE5;
	text-align: center;
	line-height: 22px;
	top: -1px;
	right: -1px;
	font-size: 10px;
	border-top-right-radius: 4px;
	color: #D71830;
	opacity: 0;
	transition: 300ms;
}


.tutor-course-builder-attachements .tutor-added-attachment:hover,
.tutor-course-builder-attachements .tutor-added-attachment:hover .tutor-delete-attachment{
	border-color: #D71830;
	opacity: 1;
}


.tutor-course-builder-attachements .tutor-added-attachment span{
	display: block;
}
.tutor-course-builder-attachements .tutor-added-attachment span a{
	font-size: 14px;
	display: block;
	line-height: 20px;
	color: #606C8F;
}

.tutor-course-builder-btn-group{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	//flex-direction: row-reverse;
}
