.tutor-dashboard-builder-header{
	padding: 10px 0px;
	border-bottom: 2px solid #DCDFE5;
	position: fixed;
	top: 0px;
	background: #fff;
	width: 100%;
	z-index: 99;
	.tutor-dashboard-builder-header-left{
		display: flex;
		align-items: center;
		.tutor-dashboard-builder-logo{
			padding:0 25px;
			position: relative;
		}
		button{
			margin: 0;
			padding: 0px 25px;
			line-height: 30px;
			border: none;
			border-left: 1px solid #DCDFE5;
			background: transparent;
			display: inline-flex;
			font-size: 14px;
			color: var(--tutor-text-color);
			transition: 300ms;
			font-weight: 500;
			i{
				font-size: 24px;
				line-height: 30px;
				margin-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color)
			}
			
		}
	}
	.tutor-dashboard-builder-header-right{
		display: flex;
		align-items: center;
		a{
			font-size: 14px;
			color: var(--tutor-text-color);
			font-weight: 500;
			line-height: 36px;
			padding: 0 25px;
			transition: 300ms;
			i{
				font-size: 36px;
				line-height: 36px;
				display: inline-block;
				vertical-align: top;
				padding-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color)
			}
		}
	}
}


.tutor-frontend-course-builder-section{
	padding: 113px 0 45px;
}

.admin-bar{
	.tutor-dashboard-builder-header{
		top: 32px;
	}
}

.tutor-course-builder-upload-tips{
	position: fixed;
	width: 100%;
	max-width: 370px;
	.tutor-course-builder-tips-title{
		font-size: 16px;
		color: #8C94A8;
		font-weight: 700;
		display: flex;
		align-items: center;
		i{
			font-size: 24px;
			color: var(--tutor-primary-color);
			margin-right: 11px;
		}
	}
	ul{
		margin: 0;
		padding: 0 0 0 35px;
		list-style: none;
		li{
			position: relative;
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 24px;
			&::after{
				content: '';
				position: absolute;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background: #DCDFE5;
				left: -26px;
				top: 9px;
			}
		}
	}
}


/*
 * Course Level Meta
 */


.tutor-course-level-meta {
	display: flex;
	label{
		margin: 0 40px 0 0;
		font-weight: 700;
	}
}