    .tutor-instructor-pending-content {
        text-align:center;
    }
    .tutor-instructor-pending-content a {
        margin-top:26px;
    } 
    .tutor-instructor-pending-content img {
        margin-bottom:69px;
        border-radius: 10px;        
    }

    .tutor-instructor-thankyou-text h2 {
        line-height: 48px;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0px;
        color: #161616;
        margin-bottom:26px;
    }    
    .tutor-instructor-extra-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        color: #525252;
        line-height: 30px;
   
    }


@media screen and (max-width:992px)
{
    .tutor-instructor-extra-text, .tutor-instructor-thankyou-text{
        height:auto;
   
    }    

}    