
/**
 * Important Layout Styles
 */

.tutor-container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.tutor-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tutor-col-auto,
.tutor-col,
.tutor-col-3,
.tutor-col-4,
.tutor-col-5,
.tutor-col-6,
.tutor-col-7,
.tutor-col-8,
.tutor-col-9,
.tutor-col-12{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.tutor-col{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.tutor-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.tutor-col-3{
  flex: 0 0 25%;
  max-width: 25%;
}
.tutor-col-4{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.tutor-col-5{
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.tutor-col-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.tutor-col-7{
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.tutor-col-8{
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
}
.tutor-col-9{
  flex: 0 0 75%;
  max-width: 75%;
}
.tutor-col-12{
  flex: 0 0 100%;
  max-width: 100%;
}
.tutor-align-items-center{
  align-items: center;
}
@media (max-width: 991px) {
  .tutor-col-auto,
  .tutor-col,
  .tutor-col-3,
  .tutor-col-4,
  .tutor-col-6,
  .tutor-col-8,
  .tutor-col-9{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .tutor-col-md-100{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .tutor-col-auto,
  .tutor-col,
  .tutor-col-3,
  .tutor-col-4,
  .tutor-col-6,
  .tutor-col-8,
  .tutor-col-9{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
