
.tutor-option-tooltip{
	@media (min-width: 992px) {
		&.tutor-option-field{
			position: relative;
			p.desc{
				position: absolute;
				left: calc(100% + 16px);
				background: #2A344F;
				width: 160px;
				padding: 10px 13px;
				opacity: 0;
				visibility: hidden;
				transition: 300ms;
				z-index: 98;
				top: 10px;
				color: #fff;
				border-radius: 12px;
				font-size: 12px;
				font-style: normal;
				&::before{
					content: url("data:image/svg+xml,%3Csvg width='14' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.139C5.339 5.482 8.671 2.903 9.998.403c1.99-3.75 5.481 21.94 1.567 16.037C8.955 12.505 5.1 9.738 0 8.139z' fill='%232A344F' fill-rule='evenodd'/%3E%3C/svg%3E");
					position: absolute;
					left: -10px;
					top: 16px;
				}
			}
			&:hover p.desc{
				opacity: 1;
				visibility: visible;
			}
			input:focus,
			textarea:focus{
				+ p.desc{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
