:root{
	--tutor-primary-color: #1B52D8;
	--tutor-primary-hover-color: #1b52a9;
	--tutor-text-color: #4B5981;
	--tutor-light-color: #B1B8C9;
	--tutor-success-button-color: #4BD863;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//common and reset css

.tutor-wrap{
	color: var(--tutor-text-color);
	img{
		max-width: 100%;
		height: auto;
	}
}
.tutor-custom-list-style{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	li{
		position: relative;
		margin-bottom: 5px;
		line-height: 30px;
		padding-left: 25px;
		&:before{
			content: '\e90f';
			position: absolute;
			left: 0;
			font-family: 'tutor';
			color: var(--tutor-primary-color);
		}
	}
}
.ui-slider {
	position: relative;
	text-align: left;
	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 15px;
		height: 15px;
		top: -6.5px;
		cursor: pointer;
	}
	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}
}

.ui-slider-horizontal {
	height: .8em;
	.ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-range-min {
		left: 0;
	}
	.ui-slider-range-max {
		right: 0;
	}
}


.ui-slider-vertical {
	width: .8em;
	height: 100px;
	.ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -.6em;
	}
	.ui-slider-range {
		left: 0;
		width: 100%;
	}
	.ui-slider-range-min {
		bottom: 0;
	}
	.ui-slider-range-max {
		top: 0;
	}
}

//styled radio button

.tutor-styled-radio{
	span{
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		&::before{
			content: '';
			height: 18px;
			width: 18px;
			background: #F1F3F7;
			border: 1px solid #DCDFE5;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			margin-top: -9px;
			left: 0;
			box-sizing: border-box;
			transition: 200ms;
		}
	}
	input{
		display: none;
		&:checked + span::before{
			border: 5px solid var(--tutor-primary-color);
		}
	}
}