.tutor-tooltip-inside{
    
    /* Tooltip shared base styles */
    .tooltip {
        position: absolute;
        z-index: 2;
        overflow: hidden;
        clip: rect(0,0,0,0);
        box-sizing: border-box;
        width: 0;
        height: 0;
        padding: 0;
        cursor: default;
        color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: normal;
        text-align: center;
        white-space: nowrap;
        border-width: 0;
        border-style: solid;
        border-color: #6d6e71;
        border-top-color: #373739;
        background-color: #373739;
        opacity: 0;
        transition: opacity .3s ease-in .3s;


        font-size: 13px;
        color: #FFFFFF;   
        height: auto;
        text-align: center;
        white-space: normal;
        font-size: 12px;
        background: #353535;
        border-radius: 10px;
        padding: 7px;
    }

    /* Tooltip visibility class toggled by jQuery */
    .tooltip.isVisible {
        overflow: visible;
        clip: auto;
        width: 150px;
        height: auto;
        padding: 10px 15px;
        border-width: 1px;
        opacity: 1;
    }

    /* Tooltip positioning */
    /** Common styles: Horizontally Centered **/
    .tooltip, /*** Default is equivalent to .tip-bottom ***/
    .tooltip.tip-bottom,
    .tooltip.tip-top {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    }
    /** Common styles: Bottom positions **/
    .tooltip, /*** Default is equivalent to .tip-bottom ***/
    .tooltip.tip-bottom,
    .tooltip.tip-bottom-left,
    .tooltip.tip-bottom-right {
        top: 110%;
        top: calc(100% + 5px);
    }
    /** Common styles: Top positions **/
    .tooltip.tip-top,
    .tooltip.tip-top-left,
    .tooltip.tip-top-right {
        top: auto;
        bottom: 110%;
        bottom: calc(100% + 5px);
    }
    /** Common styles: Corner positions **/
    .tooltip.tip-bottom-left,
    .tooltip.tip-bottom-right,
    .tooltip.tip-top-left,
    .tooltip.tip-top-right {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    /** Common styles: Left corner positions **/
    .tooltip.tip-bottom-left,
    .tooltip.tip-top-left {
        right: 50%;
        left: auto;
        margin-right: -25px;
    }
    /** Common styles: Right corner positions **/
    .tooltip.tip-bottom-right,
    .tooltip.tip-top-right {
        margin-left: -25px;
    }
    /** Common styles: Vertically Centered **/
    .tooltip.tip-left,
    .tooltip.tip-right {
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }
    /** Left position only **/
    .tooltip.tip-left {
        right: 110%;
        right: calc(100% + 5px);
        left: auto;
    }
    /** Right position only **/
    .tooltip.tip-right {
        left: 110%;
        left: calc(100% + 5px);
    }

    /* Tooltip arrow shared base styles */
    .tooltip:after {
        content: ' ';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        pointer-events: none;
    }
    /** Common styles: Horizontally Centered, Up/Down arrows **/
    .tooltip:after, /*** Default is equivalent to .tip-bottom:after; ***/
    .tooltip.tip-bottom:after,
    .tooltip.tip-top:after {
        left: 50%;
        margin-left: -10px;
    }
    /** Common styles: Up arrow **/
    .tooltip:after, /*** Default is equivalent to .tip-bottom:after; ***/
    .tooltip.tip-bottom:after,
    .tooltip.tip-bottom-left:after,
    .tooltip.tip-bottom-right:after {
        top: -20px;
        border-color: transparent transparent #373739 transparent;
    }
    /** Common styles: Down arrow **/
    .tooltip.tip-top:after,
    .tooltip.tip-top-left:after,
    .tooltip.tip-top-right:after{
        top: auto;
        bottom: -20px;
        border-color: #373739 transparent transparent transparent;
    }
    /** Common styles: Left-/Right-aligned, Up/Down arrows **/
    .tooltip.tip-bottom-left:after,
    .tooltip.tip-bottom-right:after,
    .tooltip.tip-top-left:after,
    .tooltip.tip-top-right:after {
        margin-left: 0;
    }
    /** Common styles: Right-aligned, Up/Down arrows **/
    .tooltip.tip-bottom-left:after,
    .tooltip.tip-top-left:after {
        right: 15px;
        left: auto;
    }
    /** Common styles: Left-aligned, Up/Down arrows **/
    .tooltip.tip-bottom-right:after,
    .tooltip.tip-top-right:after {
        left: 15px;
    }
    /** Common styles: Vertically Centered, Left/Right arrows **/
    .tooltip.tip-left:after,
    .tooltip.tip-right:after {
        top: 50%;
        margin-top: -10px;
        margin-left: auto;
    }
    /** Right arrow **/
    .tooltip.tip-left:after {
        right: -20px;
        left: auto;
        border-color: transparent transparent transparent #373739;
    }
    /** Left arrow **/
    .tooltip.tip-right:after {
        left: -20px;
        border-color: transparent #373739 transparent transparent;
    }
}