@import "theme";
@import "layout";
@import "single_course";
@import "single_lesson";
@import "_archive";

//dashboard
@import "dashboard";
@import "_dashboard_delete_popup";
@import "_dashboard_withdraw_method";
@import "_dashboard_assignment";
@import "_dashboard_quiz_review";

//frontend-builder
@import "frontend_course_builder";
@import "option_input";
@import "_instructor_registration";
@import "_frontend_withdrawal";