@use '../tokens/' as *;
@use '../mixins/' as *;

.tutor-file {
  &-uploader {
    @include tutor-flex(column, center, center);
    min-height: 228px;
    background-color: $tutor-surface-brand-tertiary;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23A4BCF4FF' stroke-width='3' stroke-dasharray='6%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: $tutor-radius-md;
    padding: $tutor-spacing-6;
    cursor: pointer;
    position: relative;
    @include tutor-transition();

    &.tutor-file-uploader-drag-over {
      background-color: $tutor-surface-brand-secondary;
    }

    &.tutor-file-uploader-disabled {
      cursor: not-allowed;
      pointer-events: none;
    }

    &-icon {
      @include tutor-flex(row, center, center);
      color: $tutor-icon-hover;
      margin-bottom: $tutor-spacing-6;
    }

    &-content {
      @include tutor-flex(column, center, center);
      gap: $tutor-spacing-2;
      text-align: center;
      margin-bottom: $tutor-spacing-8;
    }

    &-title {
      @include tutor-typography(small, medium, primary);
      margin: 0;
    }

    &-subtitle {
      @include tutor-typography(tiny, regular, subdued);
      margin: 0;
    }

    &-input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }

  &-preview {
    @include tutor-flex(row, center, center);
    position: relative;
    width: 100%;
    min-height: 228px;
    border-radius: $tutor-radius-md;
    overflow: hidden;
    background-color: $tutor-surface-brand-tertiary;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    &-overlay {
      @include tutor-flex(row, center, center);
      position: absolute;
      inset: 0;
      background-color: rgba($color: $tutor-surface-dark, $alpha: 0.8);
      opacity: 0;
      pointer-events: none;
      backdrop-filter: blur(4px);
      @include tutor-transition(opacity);
    }

    &:hover {
      .tutor-file-preview-overlay {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-actions {
      @include tutor-flex(row, center, center);
      gap: $tutor-spacing-3;
    }
  }
}
