@forward 'accordion';
@forward 'button';
@forward 'card';
@forward 'input';
@forward 'modal';
@forward 'popover';
@forward 'progress';
@forward 'preview-trigger';
@forward 'section-separator';
@forward 'sidebar';
@forward 'skeleton';
@forward 'statics';
@forward 'tabs';
@forward 'toast';
@forward 'tooltip';
@forward 'file-uploader';
@forward 'stepper-dropdown';
@forward 'select-dropdown';
@forward 'badge';
@forward 'pagination';
@forward 'file-uploader';
@forward 'table';
@forward 'avatar';
@forward 'select';
