@use '../tokens' as *;
@use '../mixins' as *;

.tutor-progress-bar {
  width: 100%;
  height: $tutor-spacing-4;
  background-color: $tutor-actions-gray-secondary;
  box-shadow: inset 0 0 1.75px rgba(0, 0, 0, 0.16);
  border-radius: $tutor-radius-full;
  overflow: hidden;
  position: relative;

  &-fill {
    --tutor-progress-width: 0%;
    height: 100%;
    width: var(--tutor-progress-width);
    background-color: $tutor-actions-success-primary;
    border-radius: inherit;
    position: relative;
    @include tutor-transition(width, 0.3s);

    &::before {
      content: '';
      position: absolute;
      top: $tutor-spacing-1;
      right: $tutor-spacing-2;
      height: 1.5px;
      width: 8.16px;
      background-color: $tutor-actions-success-secondary;
      border-radius: inherit;
    }
  }

  &.tutor-progress-bar-brand {
    background-color: $tutor-actions-gray-empty;

    .tutor-progress-bar-fill {
      background-color: $tutor-actions-brand-primary;

      &::before {
        background-color: $tutor-surface-brand-secondary;
      }
    }
  }

  &[data-tutor-animated] .tutor-progress-bar-fill {
    animation: tutor-progress-fill-animate 1s ease-out forwards;
  }
}

@keyframes tutor-progress-fill-animate {
  from {
    width: 0;
  }
  to {
    width: var(--tutor-progress-width);
  }
}
