@use '../tokens' as *;
@use '../mixins' as *;

.tutor-progress-bar {
  width: 100%;
  height: $tutor-progress-height;
  background-color: $tutor-actions-gray-secondary;
  box-shadow: inset 0 0 1.75px rgba(0, 0, 0, 0.16);
  border-radius: $tutor-radius-full;
  overflow: hidden;
  position: relative;

  &-fill {
    --tutor-progress-width: 0%;
    --tutor-progress-start: 0%;
    height: 100%;
    width: 100%;
    transform: translateX(calc(var(--tutor-progress-width) - 100%));
    background-color: $tutor-actions-success-primary;
    border-radius: inherit;
    position: relative;
    @include tutor-transition(transform, 0.3s);

    &::before {
      content: '';
      position: absolute;
      top: $tutor-progress-indicator-top;
      right: $tutor-spacing-2;
      height: $tutor-progress-indicator-height;
      width: 8.16px;
      background-color: $tutor-actions-success-secondary;
      border-radius: inherit;
      opacity: 0.4;
    }

    &::after {
      content: '';
      display: $tutor-progress-indicator-secondary-display;
      position: absolute;
      top: $tutor-progress-indicator-top;
      left: $tutor-spacing-2;
      right: calc(#{$tutor-spacing-2} + 8.16px + 1px);
      height: $tutor-progress-indicator-height;
      background-color: $tutor-actions-success-secondary;
      border-radius: inherit;
      opacity: 0.4;
    }
  }

  &.tutor-progress-bar-brand {
    background-color: $tutor-actions-gray-secondary;

    .tutor-progress-bar-fill {
      background-color: $tutor-actions-brand-primary;

      &::before {
        background-color: $tutor-actions-brand-secondary;
      }

      &::after {
        background-color: $tutor-actions-brand-secondary;
      }
    }
  }

  &.tutor-progress-bar-warning {
    background-color: $tutor-actions-warning-tertiary;

    .tutor-progress-bar-fill {
      background-color: $tutor-actions-warning-primary;

      &::before {
        background-color: $tutor-actions-warning-tertiary;
      }

      &::after {
        background-color: $tutor-actions-warning-tertiary;
      }
    }
  }

  &[data-tutor-animated] .tutor-progress-bar-fill {
    animation: tutor-progress-fill-animate 1s ease-out forwards;
  }
}

@keyframes tutor-progress-fill-animate {
  from {
    transform: translateX(calc(var(--tutor-progress-start, 0%) - 100%));
  }
  to {
    transform: translateX(calc(var(--tutor-progress-width) - 100%));
  }
}
