// Table scss

@use '../tokens' as *;
@use '../mixins' as *;

.tutor-table-wrapper {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &.tutor-table-bordered {
    border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-lg;
  }

  table {
    min-width: 600px;
    width: 100%;
    border: none;
    td, th {
      border: none;
    }
  }
}

table.tutor-table,
.tutor-table {
  @include tutor-typography('small', 'regular', 'secondary');
  width: 100%;
  margin: 0px;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: $tutor-surface-l1-hover;

    th {
      @include tutor-typography(tiny, regular, secondary);
      text-align: left;
      padding: $tutor-spacing-5;
      border-bottom: 1px solid $tutor-border-idle;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $tutor-border-idle;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $tutor-surface-l1-hover;
      }

      &:nth-child(odd) {
        >td {
          background-color: transparent;
        }
      }
    }

    td {
      background-color: transparent;
      padding: $tutor-spacing-5;
      vertical-align: middle;
    }
  }
}

.tutor-table-column-borders {

  th,
  td {
    border-width: 0px 1px 0px 0px;
    border-color: $tutor-border-idle;

    &:last-of-type {
      border-width: 0px 0px 0px 0px;
    }
  }
}