// Table scss

@use '../tokens' as *;
@use '../mixins' as *;

.tutor-table-wrapper {
	@include tutor-table-wrapper;
}

.tutor-table-wrapper-bordered {
	@include tutor-table-wrapper-bordered;
}

.tutor-table {
	@include tutor-table-base;
}