// Table scss

@use '../tokens' as *;
@use '../mixins' as *;


.tutor-table {
	@include tutor-table-base;
}

.tutor-table-wrapper {
	@include tutor-table-wrapper;
}

.tutor-table-column-borders {
	@include tutor-table-column-borders;
}