@use '../mixins' as *;
@use '../tokens' as *;
@use '../mixins/rtl' as rtl;

.tutor-tabs {
  &-nav {
    @include tutor-flex(row, center, flex-start);
    gap: $tutor-spacing-2;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    [dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-tab {
    @include tutor-flex(row, center, flex-start);
    @include tutor-typography('small', 'medium');
    background: transparent;
    border: none;
    border-radius: $tutor-radius-lg;
    padding: $tutor-spacing-5 $tutor-spacing-6;
    gap: $tutor-spacing-4;
    white-space: nowrap;
    cursor: pointer;
    color: $tutor-text-primary;
    font-weight: $tutor-font-weight-medium;
    height: 44px;
    @include tutor-transition((background-color, color));

    @include tutor-breakpoint-down(sm) {
      @include tutor-text('tiny');
      height: 40px;
    }

    &-active {
      color: $tutor-text-brand;
      background-color: $tutor-tab-l3-active;

      svg {
        color: $tutor-text-brand;
      }

      &:hover {
        background-color: $tutor-tab-l3-active-hover;
        color: $tutor-text-primary;
      }
    }

    &:hover:not(:disabled):not(.tutor-tabs-tab-active) {
      color: $tutor-text-primary;
      background-color: $tutor-tab-l3-active-hover;

      svg {
        color: $tutor-text-primary;
      }
    }

    &:disabled {
      color: $tutor-text-subdued;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &-content {
    min-height: 100px;
  }

  // Vertical variant
  &-vertical {
    @include tutor-flex(row, flex-start, flex-start);

    [dir='rtl'] & {
      flex-direction: row-reverse;
    }

    .tutor-tabs-nav {
      @include tutor-flex-column;
      align-items: stretch;
      min-width: 200px;
    }

    .tutor-tabs-content {
      flex: 1;
      min-width: 0;
    }
  }
}

@include tutor-breakpoint-down(md) {
  .tutor-tabs {
    &-vertical {
      display: unset;
      flex-direction: column;
      overflow-x: auto;
      overflow-y: hidden;

      .tutor-tabs-nav {
        flex-direction: row;
        overflow-x: auto;
      }
    }
  }
}
