
// core modules
@import './core/variables';
@import './_global';
@import './core/typography';
@import './core/general-utility';
@import './core/utility';

// style ulities
@import './utility/index';

// mixins
@import './mixins/index';

// components
@import './components/index';

// ui elements
@import './ui-elements/index';

// ui components
@import './ui-components/index';

// fontawesome
// @todo: remove fontawesome after getting actual icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Following codes probably can be put somewhere else relavant. 
// For now just removed from the mixins file since that's gonna be loaded at many places
.d-grid {
	display: grid;
	&.grid-col-1x1 {
		grid-template-columns: 1fr 1fr;
	}
	&.grid-col-1x2 {
		grid-template-columns: 1fr 2fr;
	}
	&.grid-col-1x3 {
		grid-template-columns: 1fr 3fr;
	}
	&.grid-col-1x4 {
		grid-template-columns: 1fr 4fr;
	}
}