// Global styles, pulled from _global.scss
// We can't put it in the tutor css since it might override theme styles.
// It's for only docz
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif !important;
	letter-spacing: -0.2px;
}

// These will not be used in core tutor
// Design team should avoid using classes from these library for docz templates and finally remove these two library.

// Load Other modules
@import './vendors/grid.css';
@import './tutor-main.scss';
