// Global styles, pulled from _global.scss
// We can't put it in the tutor css since it might override theme styles.
// It's for only docz
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
	// docz
	[data-testid] textarea,
	[data-testid] {
		// font-family: 'Roboto', sans-serif;
	}
}

// Load Other modules
@import './vendors/bootstrap-grid';
@import './tutor-main.scss';