// Global styles, pulled from _global.scss
// We can't put it in the tutor css since it might override theme styles.
// It's for only docz
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// font-family: 'Roboto', sans-serif;
	// docz
	[data-testid] textarea,
	[data-testid] {
		// font-family: 'Roboto', sans-serif;
	}
}

// These will not be used in core tutor
// Design team should avoid using classes from these library for docz templates and finally remove these two library.
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Load Other modules
@import './vendors/bootstrap-grid';
@import './tutor-main.scss';
