.tutor-order-history-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tutor-checkout-payment-options {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--tutor-border-color);
	border-radius: 6px;
	background-color: #ffffff;

	.tutor-checkout-payment-item {
		border: none;
		background-color: transparent;
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 16px;
		cursor: pointer;
		line-height: 24px;

		&:not(:last-child) {
			border-bottom: 1px solid var(--tutor-border-color);
		}

		.tutor-payment-item-content {
			display: flex;
			gap: 6px;
			width: 100%;
			font-size: 16px;
			font-weight: 600;
			color: #212529;

			img{
				max-width: 24px;
			}
		}

	    &.active {
	        background-color: #E9EDFB;
	        box-shadow: 0px 0px 0px 1px #7391f0;
	        border-color: transparent;

		    &:first-of-type {
		    	border-top-left-radius: 6px;
		    	border-top-right-radius: 6px;
		    }

		    &:last-of-type {
		    	border-bottom-left-radius: 6px;
		    	border-bottom-right-radius: 6px;
		    }
	    }
    }

	.tutor-alert {
		margin: -1px;
	}
}

.tutor-payment-gateway-modal{
	.modal-title{
		font-size: 20px;
		font-weight: 500;
		line-height: 28px;
        text-align: left;
	}
    .modal-footer{
        button{
            padding: 12px 40px;
        }
    }
}
