.tutor-dashboard-qna-vew-as {
	&.tutor-form-toggle {
		.tutor-form-toggle-control {
			width: 38px;
			height: 22px;
			background-color: transparent;
			border: 1px solid var(--tutor-color-primary);
			margin: 0px 7px;
		}
		.tutor-form-toggle-label {
			font-weight: 400 !important;
		}
		.tutor-form-toggle-control:before {
			height: 16px;
			width: 16px;
		}
	}
	&.current-view-instructor {
		.tutor-form-toggle-label.tutor-form-toggle-checked {
			color: var(--tutor-color-primary) !important;
		}
		.tutor-form-toggle-label.tutor-form-toggle-unchecked {
			color: var(--tutor-border-color) !important;
		}
		.tutor-form-toggle-control:before {
			background: var(--tutor-color-primary);
			top: 2px;
			left: 17px;
		}
		span {
			&:nth-of-type(3) {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				color: #41454f;
			}

			&:nth-of-type(1) {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				color: #c0c3cb;
			}
		}
	}

	&.current-view-student {
		.tutor-form-toggle-label.tutor-form-toggle-checked {
			color: var(--tutor-color-primary);
		}
		.tutor-form-toggle-label.tutor-form-toggle-unchecked {
			color: #c0c3cb;
		}
		.tutor-form-toggle-control:before {
			background: var(--tutor-color-primary);
			top: 2px;
		}
		span {
			&:nth-of-type(1) {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				color: #41454f;
			}

			&:nth-of-type(3) {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				color: #c0c3cb;
			}
		}
	}
}

.tutor-qna-single-wrapper {
	.qna-back-button {
		display: flex;
		align-items: center;
	}
}

.tutor-form-feedback .tutor-form-feedback-icon {
	margin-top: 2px;
}

.tutor-table.qna-list-table {
	.tooltip-wrap.tooltip-icon-custom {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			display: block;
		}
	}
}
