.tutor-dashboard-cards-container {
    &>div {

        p{
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(flex-direction, column);
            @include propertyWithPrefix(align-items, center);
            margin: 0;
			background: white;
			border: 1px solid hsl(225, 9%, 82%);
			border-radius: 6px;
			margin-bottom: 24px;
			padding: 30px 0;

            @media (max-width: 575px) {
                @include propertyWithPrefix(flex-flow, row);
                padding: 10px;
            }

            &>span {
                font-style: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                &:nth-child(2) {
                    padding: 0 5px;
                    @media (max-width: 575px) {
                        display: none;
                    }
                }

                &:nth-child(3) {
                    font-size: 15px;
                    color: $black-60;
                }

                &:nth-child(2), &:nth-child(4) {
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px 0;
                    color: $black-main;
                }

                &:nth-child(4) {
                    flex: 1;
                    text-align: right;
                    @media (min-width: 576px) {
                        display: none;
                    }
                }
            }

            .tutor-round-icon {
                @include valueWithPrefix(display, flex);
                @include propertyWithPrefix(align-items, center);
                @include propertyWithPrefix(justify-content, center);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background: #E9EDFB;

                &>*{
                    display: inline-block;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.popular-courses-heading-dashboard {
	a {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		color: $black-60;	
	}
}