.popular-courses-heading-dashboard {
	a {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		color: $black-60;
	}
}

// @todo: will be removed
.profile-completion {
	// border: 1px solid #cdcfd5;
	// box-sizing: border-box;
	// border-radius: 6px;
	// padding: 0px;
	// overflow: hidden;
	.profile-completion-content {
		padding: 10px 0px 15px 30px;
		padding: 25px 10px 26px 30px;
		position: relative;
		@include breakpoint-min(desktop) {
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
				border-left: 1px solid #cdcfd5;
			}
			&.tutor-profile-completion-content-admin {
				&::before {
					content: '';
					position: absolute;
					right: 0;
					top: -20px;
					width: 1px;
					height: calc(100% + 40px);
					border-left: 1px solid #cdcfd5;
				}
			}
		}

		@include breakpoint-max(desktop) {
			&.tutor-profile-completion-content-admin {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 1px;
					width: calc(100% + 40px);
					border-bottom: 1px solid #cdcfd5;
				}
			}
		}

		li {
			list-style: none;
			display: inline-block;
		}
		li:last-child {
			width: 20%;
			padding-left: 3px;
		}
		.tutor-btn:not(.tutor-btn-icon).tutor-btn-sm {
			padding: 0px 6px;
			height: 8px;
			border-radius: 8px;
		}
	}
}