.tutor-dashboard-cards-container {
    &>div {
        p {
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(flex-direction, column);
            @include propertyWithPrefix(align-items, center);
            margin: 0;
            background: white;
            border: 1px solid hsl(225, 9%, 82%);
            border-radius: 6px;
            margin-bottom: 24px;
            padding: 30px 0;
            @media (max-width: 575px) {
                @include propertyWithPrefix(flex-flow, row);
                padding: 7px 10px;
            }
            &>span {
                font-style: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:nth-child(2) {
                    padding: 0 5px;
                    @media (max-width: 575px) {
                        display: none;
                    }
                }
                &:nth-child(3) {
                    font-size: 15px;
                    color: $black-60;
                }
                &:nth-child(2),
                &:nth-child(4) {
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px 0;
                    color: $black-main;
                }
                &:nth-child(4) {
                    flex: 1;
                    text-align: right;
                    font-size: 20px;
                    padding: 0 5px;
                    @media (min-width: 576px) {
                        display: none;
                    }
                }
            }
            .tutor-round-icon {
                @include valueWithPrefix(display, flex);
                @include propertyWithPrefix(align-items, center);
                @include propertyWithPrefix(justify-content, center);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background: #e9edfb;
                i {
                    color: var(--tutor-primary-color);
                    display: inline-block;
                    font-size: 40px;
                }
                @media (max-width: 575px) {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.popular-courses-heading-dashboard {
    a {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: $black-60;
    }
}

.profile-completion {
    border: 1px solid #cdcfd5;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 0px;
    .profile-completion-content {
        padding: 35px;
        li {
            list-style: none;
            display: inline-block;
            width: 15%;
        }
        li:last-child {
            width: 20%;
            padding-left: 20px;
        }
        .tutor-btn:not(.tutor-btn-icon).tutor-btn-sm {
            padding: 4px 6px;
        }
        .tutor-round-icon {
            background: #3e64de;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
        }
    }
    .warning {
        padding: 35px;
        border-left: 1px solid #cdcfd5;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin: 10px auto;
                font-size: 15px;
                .empty {
                    color: #f44337;
                    font-size: 18px;
                }
                .not-empty {
                    color: #24A148;
                    font-size: 18px;
                }
                a {
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 20px;
        .profile-completion-content {
            padding: 25px 15px;
            border-bottom: 1px solid #cdcfd5;
            border-right: 0px;
            li {
                margin-right: 0px;
            }
            li:last-child {
                width: 15%;
                padding-left: 0px;
            }
        }
        .warning {
            padding: 15px !important;
            border-left: 0px;
        }
    }
}