.tutor-frontend-dashboard-course-porgress {
	.tutor-frontend-dashboard-course-porgress-cards {
		.tutor-course-listing-item-body {
			.tutor-ratings {
				display: flex;
				align-items: center;
				.tutor-rating-text {
					margin-top: 0px;
				}
				.tutor-star-rating-group {
					display: flex;
					i {
						color: var(--tutor-warning);
					}
				}
			}
		}
	}
}

.popular-courses-heading-dashboard {
	a {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		color: $black-60;
	}
}

.profile-completion {
	border: 1px solid #cdcfd5;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 0px;
	overflow: hidden;
	.tutor-row {
		margin-left: 0px;
	}
	.profile-completion-content {
		padding: 10px 0px 15px 30px;
		padding: 25px 10px 26px 30px;
		position: relative;
		@include breakpoint-min(desktop) {
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
				border-left: 1px solid #cdcfd5;
			}
			&.tutor-profile-completion-content-admin {
				&::before {
					content: '';
					position: absolute;
					right: 0;
					top: -20px;
					width: 1px;
					height: calc(100% + 40px);
					border-left: 1px solid #cdcfd5;
				}
			}
		}

		@include breakpoint-max(desktop) {
			&.tutor-profile-completion-content-admin {
				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 1px;
					width: calc(100% + 40px);
					border-bottom: 1px solid #cdcfd5;
				}
			}
		}

		li {
			list-style: none;
			display: inline-block;
		}
		li:last-child {
			width: 20%;
			padding-left: 3px;
		}
		.tutor-btn:not(.tutor-btn-icon).tutor-btn-sm {
			padding: 0px 6px;
			height: 8px;
			border-radius: 8px;
		}
		.tutor-round-icon {
			background: var(--tutor-primary-color);
			height: 28px;
			width: 28px;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
			color: #fff;
			line-height: 30px;
			font-size: 21px;
			line-height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.warning {
		padding: 10px 0px 15px 30px;
		ul {
			list-style: none;
			padding: 0px;
			li {
				margin: 10px auto;
				font-size: 15px;
				.empty {
					color: #f44337;
					font-size: 24px;
				}
				.not-empty {
					color: #24a148;
					font-size: 24px;
				}
				a {
					text-decoration: underline;
					font-weight: 500;
				}
			}
		}
	}
	@media only screen and (max-width: 600px) {
		margin-right: 0px;
		margin-left: 0px;
		.tutor-row {
			margin-left: 0px;
		}
		.profile-completion-content {
			padding: 25px;
			li:last-child {
				width: 15%;
				padding-left: 0px;
			}
		}
		.warning {
			padding: 25px;
			border-left: 0px;
		}
	}
}