.my-courses {
    .tutor-course-listing-item-footer{
        .list-item-button{
            .tutor-btn{
                &.tutor-btn-ghost{
                    .btn-icon {
                        font-size: 18px !important;
                    }
                } 
            }
        } 
        
    } 

    .list-item-price {
        &>span{
            &:first-child {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                color: #757C8E;
            }

            &:last-child{
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #212327;
            }
        }
    }

    .list-item-button {
        &>a, &>i {
            color: gray;
            cursor: pointer;
            
        }
    }

    .date {
        font-size: 14px;
    }

    .list-item-title {
        font-size: 16px;
    }
}