
.tutor-dashboard-profile-data{

	&>div{
		margin-bottom: 30px;

		&>div{
			&:first-child{
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				color: #5B616F;
			}

			&:last-child{
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				color: #212327;
			}
		}

		p{
			margin: 0;
		}
	}
} 
