/* tutor-table.tutor-table-quiz-attempts */
.tutor-table.tutor-table-quiz-attempts {
    tr {
        th {
            white-space: break-spaces;
        }

        th,
        td {
            vertical-align: middle;
        }

        th,
        td {
            &:first-child {
                min-width: 200px;
            }
        }
    }
}