.tutor-dashboard-single-review {
	border: 1px solid #dcdfe5;
	border-radius: 6px;
	margin-bottom: 30px;

	.tutor-dashboard-review-heading {
		padding: 25px;
		border-bottom: 1px solid #dcdfe5;
		display: flex;
		align-items: center;

		.tutor-dashboard-review-title {
			-webkit-box-flex: 1;
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			a {
				font-weight: 500;
				color: var(--tutor-primary-color);

				&:hover {
					color: var(--tutor-primary-hover-color);
				}
			}
		}

		.tutor-dashboard-review-links {
			white-space: nowrap;
			font-weight: 400;

			a {
				color: #8c94a8;
				margin-left: 10px;
				display: inline-flex;
				align-items: center;
				font-size: 14px;

				i {
					line-height: inherit;
					font-size: 14px;
					margin-right: 5px;
				}
			}
		}
	}

	.individual-dashboard-review-body {
		padding: 25px;

		.review-meta {
			font-size: 85%;
			margin: 0;
			color: #8c94a8;
		}

		.individual-star-rating-wrap {
			display: flex;
			align-items: center;
			.tutor-rating-stars {
				span {
					font-size: 22px;
				}
			}
		}

		p {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: $text-muted;
		}

		.tutor-given-review-action {
			& > span {
				// font-style: normal;
				// font-weight: normal;
				// font-size: 16px;
				// color: $black-60;
				cursor: pointer;

				&:first-child {
					margin-right: 15px;
				}

				i {
					// font-size: 22px;
					// vertical-align: middle;
				}
			}
		}
	}
	.tutor-modal-text-rating {
		font-weight: 500;
	}
	// .tutor-ratings {
	// 	// .tutor-rating-stars {
	// 	// 	.tutor-star-rating-group {
	// 	// 		i {
	// 	// 			font-size: 22px;
	// 	// 			color: var(--tutor-warning);
	// 	// 		}
	// 	// 	}
	// 	// }
	// 	// &.tutor-ratings-modal {
	// 	// 	.tutor-rating-stars {
	// 	// 		.tutor-star-rating-group {
	// 	// 			i {
	// 	// 				font-size: 40px;
	// 	// 				margin: 4px;
	// 	// 			}
	// 	// 		}
	// 	// 	}
	// 	// }
	// 	.tutor-rating-text {
	// 		margin-left: 4px;
	// 	}
	// }
	.tutor-modal-inner {
		textarea.tutor-form-control {
			min-height: 140px;
			// max-height: 250px;
			resize: none;
			background: #ffffff;
			border: 1px solid #c0c3cb;
			color: #757c8e;
			font-weight: normal;
			font-size: 15px;
			line-height: 24px;
		}
		.tutor-modal-text-wrap {
			max-width: 420px;
			margin: 0px !important;
		}
		.tutor-modal-delete-footer {
			margin-top: 39px;
			button {
				height: 40px;
				padding: 10px 20px;
			}
			button {
				&:last-child {
					margin-left: 15px !important;
				}
			}
		}
	}
}

.tutor-edit-review-modal-wrap {
	// .modal-close-wrap {
	// 	a {
	// 		&.modal-close-btn {
	// 			color: #222222;
	// 			background: none;
	// 			font-size: 20px;
	// 			top: 8px;
	// 		}
	// 	}
	// }
}

.tutor-ui-table.tutor-ui-table-responsive.table-reviews {
	thead {
		th > div {
			line-height: 170%;
		}
	}
}

.tutor-given-review-action {
	> span {
		&:hover {
			color: $design-brand;
		}
		> span {
			line-height: 1;
		}
	}
}
