/**
 * Buttons
 */

$btn-radius: 3px;

a, button {
  cursor: pointer;
}

.tutor-btn-group {
  margin-left: -20px;
  .tutor-btn {
    margin-left: 20px;
  }
  .tutor-btn-square,
  .tutor-btn-circle {
    margin-left: 15px;
  }

  &.tutor-is-lg {
    margin-left: -27px;
    .tutor-btn {
      margin-left: 27px;
    }
  }
}

.tutor-btn {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .align-middle;
  text-decoration: none;
  font-weight: 500;
  border-radius: $btn-radius;
  border: 1px solid;
  position: relative;
  box-sizing: border-box;
  transition: 200ms;

  &.tutor-is-fullwidth,
  &.tutor-is-block {
    @extend .d-flex;
    width: 100%;
  }

  /**
   * Modifier
   */

  // outline
  &.tutor-is-outline {
    background-color: var(--tutor-white);
    border-color: var(--tutor-primary);
    color: var(--tutor-primary);
    &:not(.tutor-no-hover):hover {
      background-color: var(--tutor-primary-hover);
      border-color: var(--tutor-primary-hover);
      color: var(--tutor-white);
    }
    &.tutor-is-default {
      border-color: var(--tutor-border-color-alt);
      color: var(--tutor-text-hints);
      background: var(--tutor-white);
      &:not(.tutor-no-hover):hover {
        background: var(--tutor-white);
        border-color: var(--tutor-primary);
        color: var(--tutor-primary);
      }
    }
    &.tutor-is-success {
      color: var(--tutor-success);
      border-color: var(--tutor-success);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-success-hover);
        border-color: var(--tutor-success-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-danger {
      color: var(--tutor-danger);
      border-color: var(--tutor-danger);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-danger-hover);
        border-color: var(--tutor-danger-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-warning {
      color: var(--tutor-warning);
      border-color: var(--tutor-warning);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-warning-hover);
        border-color: var(--tutor-warning-hover);
        color: var(--tutor-white);
      }
    }
  }

  // filled/default
  &:not(.tutor-is-outline) {
    background-color: var(--tutor-primary);
    border-color: var(--tutor-primary);
    color: var(--tutor-white);
    &:not(.tutor-no-hover):hover {
      background-color: var(--tutor-primary-hover);
      border-color: var(--tutor-primary-hover);
      color: var(--tutor-white);
    }

    &.tutor-is-default {
      background-color: var(--tutor-bg-grey);
      border-color: var(--tutor-bg-grey);
      color: var(--tutor-text-primary);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-bg-grey);
        color: var(--tutor-primary);
      }
    }

    &.tutor-is-success {
      background-color: var(--tutor-success);
      border-color: var(--tutor-success);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-success-hover);
        border-color: var(--tutor-success-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-danger {
      background-color: var(--tutor-danger);
      border-color: var(--tutor-danger);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-danger-hover);
        border-color: var(--tutor-danger-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-warning {
      background-color: var(--tutor-warning);
      border-color: var(--tutor-warning);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-warning-hover);
        border-color: var(--tutor-warning-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-icon-btn {
      .tutor-btn-icon {
        background-color: var(--tutor-primary-dark);
      }
      &.tutor-is-default .tutor-btn-icon {
        background-color: var(--tutor-border-color-alt);
      }
      &.tutor-is-success .tutor-btn-icon {
        background-color: var(--tutor-success-dark);
      }
      &.tutor-is-danger .tutor-btn-icon {
        background-color: var(--tutor-danger-dark);
      }
      &.tutor-is-warning .tutor-btn-icon {
        background-color: var(--tutor-warning-dark);
      }
    }
  }

  /**
   * Typography
   */

  line-height: 26px;
  font-size: 16px;

  &.tutor-is-lg {
    font-size: 18px;
  }

  &.tutor-is-sm {
    font-size: 15px;
  }

  &.tutor-is-xs {
    font-size: 13px;
  }

  /**
   * Size
   */

  &:not(.tutor-is-icon-btn) {
    padding: 10px 34px;

    &.tutor-is-lg {
      padding: 18px 40px;
    }

    &.tutor-is-sm {
      padding: 6px 28px;
    }

    &.tutor-is-xs {
      padding: 2px 20px;
    }
  }

  // boxed icon

  &.tutor-is-icon-btn {
    position: relative;
    padding: 10px 20px 10px calc(20px + 48px);
    .tutor-btn-icon {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      position: absolute;
      width: 48px;
      left: 0;
      top: 0;
      bottom: 0;
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
    }

    &.tutor-is-lg {
      padding: 18px 24px 18px calc(24px + 64px);
      .tutor-btn-icon {
        width: 64px;
      }
    }
    &.tutor-is-sm {
      padding: 6px 12px 6px calc(12px + 40px);
      .tutor-btn-icon {
        width: 40px;
      }
    }
    &.tutor-is-xs {
      padding: 2px 12px 2px calc(12px + 32px);
      .tutor-btn-icon {
        width: 32px;
      }
    }

    &.tutor-is-icon-right {
      padding: 10px calc(20px + 48px) 10px 20px;
      .tutor-btn-icon {
        left: auto;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $btn-radius;
        border-bottom-right-radius: $btn-radius;
      }
      &.tutor-is-lg{
        padding: 18px calc(24px + 64px) 18px 24px;
      }
      &.tutor-is-sm {
        padding: 6px calc(12px + 40px) 6px 12px;
      }
      &.tutor-is-xs {
        padding: 2px calc(12px + 32px) 2px 12px;
      }
    }
  }

  /**
    * Icons
    */

  .tutor-btn-icon {
    font-size: 19px;
  }

  &:not(.tutor-is-icon-btn) > span {
    + span:last-child {
      padding-left: 5px;
    }
  }

  &.tutor-is-lg {
    .tutor-btn-icon {
      font-size: 24px;
    }
    &:not(.tutor-is-icon-btn) > span {
      + span:last-child {
        padding-left: 10px;
      }
    }
  }

  &.tutor-is-sm .tutor-btn-icon {
    font-size: 16px;
  }

  &.tutor-is-xs .tutor-btn-icon {
    font-size: 14px;
  }
}

/**
 * Square Btns
 */

.tutor-btn-circle,
.tutor-btn-square {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  position: relative;
  transition: 200ms;
  padding: 0 5px;
  text-decoration: none;
  border-radius: $btn-radius;
  box-sizing: border-box;
  border: 1px solid;

  // typography & size

  font-size: 20px;
  height: 48px;
  min-width: 48px;
  font-weight: 700;

  &.tutor-is-lg {
    font-size: 30px;
    height: 64px;
    min-width: 64px;
  }
  &.tutor-is-sm {
    font-size: 16px;
    height: 40px;
    min-width: 40px;
  }
  &.tutor-is-xs {
    font-size: 12px;
    height: 32px;
    min-width: 32px;
    font-weight: 600;
  }

  // outline
  &.tutor-is-outline {
    background-color: var(--tutor-white);
    border-color: var(--tutor-primary);
    color: var(--tutor-primary);
    &:not(.tutor-no-hover):hover {
      background-color: var(--tutor-primary-hover);
      border-color: var(--tutor-primary-hover);
      color: var(--tutor-white);
    }
    &.tutor-is-default {
      border-color: var(--tutor-border-color-alt);
      color: var(--tutor-text-hints);
      background: var(--tutor-white);
      &:not(.tutor-no-hover):hover {
        background: var(--tutor-white);
        border-color: var(--tutor-primary);
        color: var(--tutor-primary);
      }
    }
    &.tutor-is-success {
      color: var(--tutor-success);
      border-color: var(--tutor-success);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-success-hover);
        border-color: var(--tutor-success-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-danger {
      color: var(--tutor-danger);
      border-color: var(--tutor-danger);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-danger-hover);
        border-color: var(--tutor-danger-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-warning {
      color: var(--tutor-warning);
      border-color: var(--tutor-warning);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-warning-hover);
        border-color: var(--tutor-warning-hover);
        color: var(--tutor-white);
      }
    }
  }

  // filled/default
  &:not(.tutor-is-outline) {
    background-color: var(--tutor-primary);
    border-color: var(--tutor-primary);
    color: var(--tutor-white);
    &:not(.tutor-no-hover):hover {
      background-color: var(--tutor-primary-hover);
      border-color: var(--tutor-primary-hover);
      color: var(--tutor-white);
    }

    &.tutor-is-primary-light {
      background-color: var(--tutor-primary-lighter);
      border-color: var(--tutor-primary-lighter);
      color: var(--tutor-primary);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-primary-hover);
        border-color: var(--tutor-primary-hover);
        color: var(--tutor-white);
      }
    }

    &.tutor-is-default {
      background-color: var(--tutor-bg-grey);
      border-color: var(--tutor-bg-grey);
      color: var(--tutor-text-primary);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-bg-grey);
        border-color: var(--tutor-bg-grey);
        color: var(--tutor-primary);
      }
    }

    &.tutor-is-success {
      background-color: var(--tutor-success);
      border-color: var(--tutor-success);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-success-hover);
        border-color: var(--tutor-success-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-danger {
      background-color: var(--tutor-danger);
      border-color: var(--tutor-danger);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-danger-hover);
        border-color: var(--tutor-danger-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-warning {
      background-color: var(--tutor-warning);
      border-color: var(--tutor-warning);
      &:not(.tutor-no-hover):hover {
        background-color: var(--tutor-warning-hover);
        border-color: var(--tutor-warning-hover);
        color: var(--tutor-white);
      }
    }
    &.tutor-is-icon-btn {
      .tutor-btn-icon {
        background-color: var(--tutor-primary-dark);
      }
      &.tutor-is-success .tutor-btn-icon {
        background-color: var(--tutor-success-dark);
      }
      &.tutor-is-danger .tutor-btn-icon {
        background-color: var(--tutor-danger-dark);
      }
      &.tutor-is-warning .tutor-btn-icon {
        background-color: var(--tutor-warning-dark);
      }
    }
  }
}

.tutor-btn-circle {
  border-radius: 50%;
}
