$disabled-color: #E9E9EA !default;

.tutor-btn {
	display: inline-flex;
	align-items: center;
    font-weight: 400;
    line-height: 1.4;
    color: var(--tutor-primary-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;

	&[disabled],
	&.disabled {
		pointer-events: none;
		color: #858689;
	}

	&-block {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-fw {
		display: inline-flex;
		justify-content: center;
		min-width: 120px;
	}

	&-primary {
		border-color: var(--tutor-primary-color);
		background-color: var(--tutor-primary-color);
		color: #FFFFFF;

		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			border-color: var(--tutor-primary-hover-color);
			background-color: var(--tutor-primary-hover-color);
		}

		&[disabled],
		&.disabled {
			border-color: #E9E9EA;
			background-color: #E9E9EA;
		}
	}

	&-outline-primary {
		border-color: var(--tutor-primary-color);

		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			border-color: var(--tutor-primary-hover-color);
			background-color: var(--tutor-primary-hover-color);
		}

		&[disabled],
		&.disabled {
			border-color: #E9E9EA;
		}
	}

	&-secondary {
		border-color: #E0E6FA;
		background-color: #E0E6FA;
		color: var(--tutor-primary-color);

		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			border-color: var(--tutor-primary-hover-color);
			background-color: var(--tutor-primary-hover-color);
		}

		&[disabled],
		&.disabled {
			border-color: #E9E9EA;
			background-color: #E9E9EA;
		}
	}

	&-link {
		font-size: inherit;
		padding: 0px !important;
		position: relative;
		&:after {
			content: " ";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 0;
			height: 1px;
			background: var(--tutor-primary-hover-color);
			transition: width 200ms ease-in-out;
		}

		&:hover,
		&:focus,
		&:active {
			&:after {
				width: 100%;
			}
		}
	}

	&-ghost {
		// font-size: inherit;
		padding: 0px !important;
		// font-weight: 500;
		position: relative;
		color: #757C8E; // @todo: to be changed
		border-radius: 0;
		outline: 0;

		&.tutor-has-underline {
			position: relative;
			&:after {
				content: " ";
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #757C8E;
				transition: background-color 200ms ease-in-out;
			}
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--tutor-primary-color);
			&.tutor-has-underline:after {
				background-color: var(--tutor-primary-color);
			}

			outline: 0;
			box-shadow: none;
		}
	}

	// sizes
	&-sm {
		font-size: 14px;
		padding: 5px 12px;
	}

	&-md {
		padding: 6px 12px;
	}

	&-lg {
		font-size: 18px;
		padding: 10px 20px;
	}

	&-xl {
		font-size: 18px;
		padding: 15px 24px;
	}

	// loading state
	&.is-loading {
		&:before {
			margin-right: 8px;
		}

		[class^='tutor-icon-'],
		[class*=' tutor-icon-'] {
			display: none;
		}
	}
}


// iconic button
.tutor-iconic {
	&-btn-group {
		display: flex;
		align-items: center;
	}

	&-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 0;
		margin-top: -4px;
		margin-bottom: -4px;
		font-weight: 400;
		line-height: 1.4;
		color: #757C8E;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		user-select: none;
		background-color: transparent;
		font-size: 16px;
		border: 1px solid transparent;
		border-radius: 48px;
		cursor: pointer;
		position: relative;
		transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

		[class^='tutor-icon-'],
		[class*=' tutor-icon-'] {
			pointer-events: none;
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--tutor-primary-hover-color);
			background-color: #E0E6FA;
			border-color: #E0E6FA;
		}

		&[disabled],
		&.disabled {
			background-color: #E9E9EA;
		}

		// outline
		&-outline {
			border-color: var(--tutor-primary-color);
			color: var(--tutor-primary-color);

			&:hover,
			&:focus,
			&:active {
				color: #FFFFFF;
				border-color: var(--tutor-primary-hover-color);
				background-color: var(--tutor-primary-hover-color);
			}

			&[disabled],
			&.disabled {
				border-color: #E9E9EA;
			}
		}

		// secondary
		&-secondary {
			background-color: #E0E6FA;
			color: var(--tutor-primary-color);

			&:hover,
			&:focus,
			&:active {
				color: #FFFFFF;
				background-color: var(--tutor-primary-hover-color);
			}

			&[disabled],
			&.disabled {
				border-color: #E9E9EA;
				background-color: #E9E9EA;
			}
		}

		// size
		&-md {
			width: 40px;
			height: 40px;
			font-size: 20px;
		}

		&-lg {
			width: 48px;
			height: 48px;
			font-size: 24px;
		}
	}
}

.tutor-btn,
.tutor-iconic-btn {
	// loading state
	&.is-loading {
		&:before {
			content: '\e9df' !important;
			display: inline-block;
			font-family: 'tutor';
			line-height: 1;
			font-size: 18px;
			margin-top: -2px;
			margin-bottom: -2px;
			animation: rotateSpinner 0.8s linear infinite;
		}

		[class^='tutor-icon-'],
		[class*=' tutor-icon-'] {
			display: none;
		}
	}
}

.tutor-animation-spin {
	animation: rotateSpinner 0.8s linear infinite;
}

@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}