.tutor-btn-circle,
.tutor-btn-square {
	@extend .d-inline-flex;
	@extend .align-items-center;
	@extend .justify-content-center;
	position: relative;
	transition: 200ms;
	padding: 0 5px;
	text-decoration: none;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid;

	// typography & size

	font-size: 20px;
	height: 48px;
	min-width: 48px;
	font-weight: 700;

	&.tutor-is-lg {
		font-size: 30px;
		height: 64px;
		min-width: 64px;
	}
	&.tutor-is-sm {
		font-size: 16px;
		height: 40px;
		min-width: 40px;
	}
	&.tutor-is-xs {
		font-size: 12px;
		height: 32px;
		min-width: 32px;
		font-weight: 600;
	}

	// outline
	&.tutor-is-outline {
		background-color: var(--tutor-white);
		border-color: var(--tutor-primary);
		color: var(--tutor-primary);
		&:not(.tutor-no-hover):hover {
			background-color: var(--tutor-primary-color);
			border-color: var(--tutor-primary-color);
			color: var(--tutor-white);
		}
		&.tutor-is-default {
			border-color: var(--tutor-border-color-alt);
			color: var(--tutor-text-hints);
			background: var(--tutor-white);
			&:not(.tutor-no-hover):hover {
				background: var(--tutor-white);
				border-color: var(--tutor-primary);
				color: var(--tutor-primary);
			}
		}
		&.tutor-is-success {
			color: var(--tutor-success);
			border-color: var(--tutor-success);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-success-hover);
				border-color: var(--tutor-success-hover);
				color: var(--tutor-white);
			}
		}
		&.tutor-is-danger {
			color: var(--tutor-danger);
			border-color: var(--tutor-danger);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-danger-hover);
				border-color: var(--tutor-danger-hover);
				color: var(--tutor-white);
			}
		}
		&.tutor-is-warning {
			color: var(--tutor-warning);
			border-color: var(--tutor-warning);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-warning-hover);
				border-color: var(--tutor-warning-hover);
				color: var(--tutor-white);
			}
		}
	}

	// filled/default
	&:not(.tutor-is-outline) {
		background-color: var(--tutor-primary-color);
		border-color: var(--tutor-primary);
		color: var(--tutor-white);
		&:not(.tutor-no-hover):hover {
			background-color: var(--tutor-primary-color);
			border-color: var(--tutor-primary-color);
			color: var(--tutor-white);
		}

		&.tutor-is-primary-light {
			background-color: var(--tutor-primary-lighter);
			border-color: var(--tutor-primary-lighter);
			color: var(--tutor-primary);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-primary-hover-color);
				border-color: var(--tutor-primary-hover-color);
				color: var(--tutor-white);
			}
		}

		&.tutor-is-default {
			background-color: var(--tutor-bg-grey);
			border-color: var(--tutor-bg-grey);
			color: var(--tutor-text-primary);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-bg-grey);
				border-color: var(--tutor-bg-grey);
				color: var(--tutor-primary);
			}
		}

		&.tutor-is-success {
			background-color: var(--tutor-success);
			border-color: var(--tutor-success);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-success-hover);
				border-color: var(--tutor-success-hover);
				color: var(--tutor-white);
			}
		}
		&.tutor-is-danger {
			background-color: var(--tutor-danger);
			border-color: var(--tutor-danger);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-danger-hover);
				border-color: var(--tutor-danger-hover);
				color: var(--tutor-white);
			}
		}
		&.tutor-is-warning {
			background-color: var(--tutor-warning);
			border-color: var(--tutor-warning);
			&:not(.tutor-no-hover):hover {
				background-color: var(--tutor-warning-hover);
				border-color: var(--tutor-warning-hover);
				color: var(--tutor-white);
			}
		}
		&.tutor-is-icon-btn {
			.tutor-btn-icon {
				background-color: var(--tutor-primary-dark);
			}
			&.tutor-is-success .tutor-btn-icon {
				background-color: var(--tutor-success-dark);
			}
			&.tutor-is-danger .tutor-btn-icon {
				background-color: var(--tutor-danger-dark);
			}
			&.tutor-is-warning .tutor-btn-icon {
				background-color: var(--tutor-warning-dark);
			}
		}
	}
}

.tutor-btn-circle {
	border-radius: 50%;
}
