// Button Utilities
$variations: (
	'wordpress' $brand-wordpress $text-white $brand-wordpress,
	'wordpress-outline' transparent $brand-wordpress $brand-wordpress,
	'primary' $primary-main $text-white $primary-main,
	'secondary' $primary-40 $primary-main $primary-40,
	'tertiary' transparent $primary-main $primary-main,
	'disable' $black-08 $text-hints $black-08,
	'disable-outline' transparent $text-hints $stroke-light-30
);

// BTN .tutor-btn-primary/secondary/tertiary
@each $suffix, $bgColor, $txtColor, $border in $variations {
	.tutor-btn:not(.tutor-is-outline).tutor-btn-#{$suffix} {
		background: #{$bgColor};
		color: #{$txtColor};
		border-color: #{$border};
	}
}

// SIZES .tutor-btn-xl/lg/md/sm
$btn-sizes: ('xl' 15 79, 'lg' 7 55, 'md' 7 38, 'sm' 7 28);
@each $suffix, $px, $py in $btn-sizes {
	.tutor-btn:not(.tutor-btn-icon).tutor-btn-#{$suffix} {
		padding: #{$px}px #{$py}px;
	}
}

// ICON BTN .tutor-btn-xl/lg/md/sm + .tutor-btn-icon
$icon-btn-sizes: ('xl' 15 61 31 4, 'lg' 7 43 25 2, 'md' 7 25 23 4, 'sm' 6 20 18 2);
@each $suffix, $px, $py, $icon, $gap in $icon-btn-sizes {
	.tutor-btn.tutor-btn-icon.tutor-btn-#{$suffix} {
		padding: #{$px}px #{$py}px;
		gap: #{$gap}px;
		.btn-icon {
			font-size: #{$icon}px;
		}
	}
}

// ICON BTN LEFT/RIGHT .tutor-btn-xl/lg/md/sm + .tutor-btn-icon-left/right
$icon-btn-left-right: ('xl' 15 20 31 213, 'lg' 7 16 25 160, 'md' 7 14 23 121, 'sm' 6 13 18 99);
@each $suffix, $px, $py, $icon, $gap in $icon-btn-left-right {
	.tutor-btn-icon.tutor-btn-icon-left.tutor-btn-#{$suffix},
	.tutor-btn-icon.tutor-btn-icon-right.tutor-btn-#{$suffix} {
		padding: #{$px}px #{$py}px;
		min-width: #{$gap}px;
		.btn-icon {
			font-size: #{$icon}px;
		}
	}
}

.tutor-btn {
	// font-family: 'SF Pro Display', sans-serif;
	border-radius: 6px;
	&:not(.tutor-is-outline):not(.tutor-no-hover) {
		&.tutor-btn-wordpress:hover {
			background: $brand-wordpress-hover;
		}
		&.tutor-btn-secondary:hover {
			background: darken($primary-40, 2);
			border-color: darken($primary-40, 2);
			color: $primary-main;
		}
		&.tutor-btn-secondary:hover {
			background: darken($primary-40, 2);
			border-color: darken($primary-40, 2);
			color: $primary-main;
		}
		&.tutor-btn-wordpress-outline:hover {
			background: $brand-wordpress;
		}
	}

	&.tutor-btn-primary {
	}
	&.tutor-btn-secondary {
	}
	&.tutor-btn-tertiary {
	}
	&.tutor-btn-disable {
	}
	&.tutor-btn-disable-outline {
	}
	&.tutor-btn-loading:not(.tutor-btn-icon) {
		padding-top: 5px;
		&.tutor-btn-xl {
			height: 64px;
		}
		&.tutor-btn-lg {
			height: 48px;
		}
		&.tutor-btn-md {
			height: 34px;
		}
		&.tutor-btn-sm {
			height: 20px;
		}
		.ball {
			width: 9px;
			height: 9px;
			border-radius: 50%;
			margin: 0 5.5px;
			background-color: #fff;

			animation: 1.5s bounce ease infinite;

			&:nth-child(2) {
				animation-delay: 0.25s;
			}
			&:nth-child(3) {
				animation-delay: 0.5s;
			}
			&:nth-child(4) {
				animation-delay: 0.75s;
			}
		}

		@keyframes bounce {
			50% {
				transform: translateY(9px);
			}
		}
	}

	&.tutor-btn-full {
		width: 100%;
	}

	// Button Sizes and Typography
	&.tutor-btn-xl {
		@extend .text-btn-xlarge;
	}
	&.tutor-btn-lg {
		@extend .text-btn-large;
	}
	&.tutor-btn-md {
		@extend .text-btn-medium;
	}
	&.tutor-btn-sm {
		@extend .text-btn-small;
	}

	// Button with icon
	&.tutor-btn-icon {
		// gap: 5px;
		> span {
			padding-left: 0 !important;
		}
		&.tutor-btn-xl {
			@extend .text-btn-xlarge;
		}
		&.tutor-btn-lg {
			@extend .text-btn-large;
		}
		&.tutor-btn-md {
			@extend .text-btn-medium;
		}
		&.tutor-btn-sm {
			@extend .text-btn-small;
		}

		&.tutor-btn-icon-left,
		&.tutor-btn-icon-right {
			justify-content: space-between !important;
		}
	}
}
