.tutor-pagination {
	@extend .d-flex;
	@extend .align-items-center;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	a {
		@extend .d-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		font-size: 16px;
		height: 40px;
		width: 40px;
		border: 1px solid var(--tutor-border-color);
		text-decoration: none;
		margin: 0 5px;
		border-radius: 4px;
		color: var(--tutor-text-primary);
		transition: 200ms;
		&:hover {
			color: var(--tutor-primary);
			border-color: var(--tutor-primary);
		}
	}
	span {
		@extend .d-block;
		padding: 0 5px;
	}
}

// tutor-dashboard-pagination

.tutor-dashboard-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	/* text/white */

	background: #ffffff;
	/* stroke/light30 */

	border: 1px solid #cdcfd5;
	border-radius: 6px;
	padding: 7px 18px;

	@include breakpoint-min(mobile) {
		flex-direction: row;
	}

	.tutor-pagination-hint {
	}

	ul.tutor-pagination-numbers {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 20px;
		@include breakpoint-max(mobile) {
			margin-top: 10px;
			gap: 10px;
		}

		a {
			text-decoration: none;
			color: inherit;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li.pagination-prev,
		li.pagination-next {
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			/* color/black/fill/05 */
			background: rgba(239, 241, 247, 0.8);
			border-radius: 6px;
			transition: all 150ms linear;

			&:hover {
				color: $design-white;
				background: $design-brand;
			}
		}

		@include breakpoint-min(desktop-lg) {
			li.pagination-prev {
				margin-right: 25px;
			}

			li.pagination-next {
				margin-left: 25px;
			}
		}

		li.pagination-number {
			@extend .text-medium-caption;
			@extend .color-text-primary;
			// color: #000;
			position: relative;
			// background: thistle;
			// overflow-x: hidden;

			&:hover {
				color: $design-brand;
			}

			a {
				padding: 1px 6px;
			}

			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: $text-brand;
				bottom: calc(0% - 11px);
				// left: 0;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: transform 100ms linear;
			}

			&.current {
				@extend .text-bold-caption;
				@extend .color-text-brand;
				&:before {
					transform: scaleY(1);
				}
			}
		} // end .pagination-number
	} // end .tutor-pagination-numbers
} // end .tutor-dashboard-pagination
