.tutor-pagination {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		height: 40px;
		width: 40px;
		border: 1px solid var(--tutor-border-color);
		text-decoration: none;
		margin: 0 5px;
		border-radius: 4px;
		color: var(--tutor-body-color);
		transition: 200ms;
		&:hover {
			color: var(--tutor-color-primary);
			border-color: var(--tutor-color-primary);
		}
	}
	span {
		display: block;
		padding: 0 5px;
	}
}

// tutor-dashboard-pagination
.tutor-ui-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	
	background: transparent;
	
	border: 1px solid var(--tutor-border-color);
	border-radius: 6px;
	padding: 7px 18px;
	
	@include breakpoint-min(tablet) {
		flex-direction: row;
	}
	
	ul.tutor-pagination-numbers {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 11px;
		padding: 0;
		margin: 0;
		
		@include breakpoint-max(tablet) {
			margin-top: 10px;
			gap: 10px;
		}
		
		a {
			text-decoration: none;
			color: inherit;
		}
		
		.page-numbers {
			@extend .text-medium-caption;
			color: var(--tutor-color-body);
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0 5px;
			
			&:hover {
				color: var(--tutor-color-primary);
			}
			
			a {
				padding: 1px 6px;
			}
			
			&.prev,
			&.next {
				padding: 0;
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(239, 241, 247, 0.8);
				border-radius: 6px;
				transition: all 150ms linear;
				
				&:hover {
					color: var(--tutor-color-white);
					background: var(--tutor-color-primary);
				}
			}
			
			@include breakpoint-min(desktop-lg) {
				--margin: 32px;
				&.prev {
					margin-right: var(--margin);
				}
				
				&.next {
					margin-left: var(--margin);
				}
			}
			
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background: var(--tutor-color-primary);
				bottom: calc(0% - 12px);
				left: 0;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: transform 100ms linear;
			}
			
			&.current {
				@extend .text-bold-caption;
				color: var(--tutor-color-primary);
				&:before {
					transform: scaleY(1);
				}
			}
		}
	}
}