$radius: 6px;
$height: 48px;
$height-lg: 54px;
$height-sm: 40px;

@function svgArrow($color: #353535) {
	$hexColor: '%23' + str-slice('#{$color}', 2, -1);

	@return "data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10'%3E%3Cpath d='M.451754 2.72717c-.07906-.07753-.140684-.17103-.180765-.27426a.850847.850847 0 01-.062332-.3366c-.000769-.10706.020447-.21313.062332-.31166.039282-.10364.101013-.1973.180765-.27426L1.24338.73253a.9350014.9350014 0 01.27426-.190114.9536935.9536935 0 01.33348-.084149c.11432-.000612.22799.01728.3366.052983.10255.038495.19595.097935.27426.174531L8.00023 6.23961 13.5385.701364c.0746-.084705.1687-.149957.2742-.190114.1086-.035703.2223-.053595.3366-.052983.1153.008012.2282.036508.3335.084149.1018.046928.1946.111266.2743.190114l.7916.79162c.0787.07784.1403.17126.1808.27427.0421.10608.0633.21933.0623.33348-.0014.10684-.0225.2125-.0623.31166-.0412.10264-.1027.19592-.1808.27426L8.62355 9.66479c-.07205.09498-.16619.17094-.27426.22128a.7791146.7791146 0 01-.33348.06856c-.11589.00199-.23047-.02478-.33348-.07791-.10441-.05202-.19759-.12402-.27426-.21193L.451754 2.72717z' fill='#{$hexColor}'/%3E%3C/svg%3E";
}

select.tutor-form-select {
	@extend .d-block;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	background-repeat: no-repeat;
	border: 1px solid #ced4da;
	border-radius: $radius;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(svgArrow($text-primary));
	outline: none;

	// size

	padding: 0 20px;
	line-height: $height;
	height: $height;
	background-size: 14px auto;
	background-position: right 17px center;

	&.tutor-form-control-lg {
		line-height: $height-lg;
		height: $height-lg;
		background-size: 16px auto;
	}

	&.tutor-form-control-sm {
		line-height: $height-sm;
		height: $height-sm;
		background-size: 12px auto;
	}

	// icon colors
	&.tutor-select-icon-primary {
		background-image: url(svgArrow($primary));
	}
	&.tutor-select-icon-success {
		background-image: url(svgArrow($success));
	}
	&.tutor-select-icon-warning {
		background-image: url(svgArrow($warning));
	}
	&.tutor-select-icon-danger {
		background-image: url(svgArrow($danger));
	}

	&:focus {
		border-color: var(--tutor-primary);
		box-shadow: unset;
	}
}
