.tutor-tag-list {
	list-style: none;
	margin: 0 0 0 -15px;
	padding: 0;
	li {
		@extend .d-inline-block;
		a {
			@extend .d-block;
			font-size: 16px;
			line-height: 26px;
			text-decoration: none;
			padding: 7px 23px;
			border: 1px solid var(--tutor-stroke-gray);
			color: var(--tutor-text-subsued);
			margin-left: 15px;
			border-radius: 6px;
			transition: 200ms;
			&:hover {
				color: var(--tutor-primary);
				border-color: var(--tutor-primary);
			}
		}
	}
}
