.tutor-tag-list {
  list-style: none;
  margin: 0 0 0 -15px;
  padding: 0;
  li {
    @extend .d-inline-block;
    a {
      @extend .d-block;
      font-size: 16px;
      line-height: 26px;
      color: var(--tutor-text-primary);
      text-decoration: none;
      padding: 8px 24px;
      border: 1px solid var(--tutor-border-color);
      margin-left: 15px;
      border-radius: 2px;
      transition: 200ms;
      &:hover {
        color: var(--tutor-primary);
        border-color: var(--tutor-primary);
      }
    }
  }
}