.tutor-social-share-wrap {
	button {
		margin-right: 16px;
		border: none;
		padding: 8px 15px;
		border-radius: 6px;
		color: white;
		cursor: pointer;
		display: inline-flex;
		align-items: center;	
		@include breakpoint-max(mobile) {
			width: 150px;
			justify-content: center;
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
		span {
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			color: #ffffff;
			position: relative;
			top: 1px;
			left: 2px;
		}
	}
	.tutor_share {
		&.s_linkedin i {
			margin-top: -2px;
		}
	}
}
