@font-face {
    font-family: 'dozent';
    src: url('../font/dozent.ttf?jchvze') format('truetype'),
            url('../font/dozent.woff?jchvze') format('woff'),
            url('../font/dozent.svg?jchvze#dozent') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="dozent-icon-"], [class*=" dozent-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dozent' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.dozent-icon-acrobat:before {
    content: "\e922";
}
.dozent-icon-artboard:before {
    content: "\e923";
}
.dozent-icon-audio-file-1:before {
    content: "\e924";
}
.dozent-icon-audio-file:before {
    content: "\e925";
}
.dozent-icon-files-1:before {
    content: "\e926";
}
.dozent-icon-files-2:before {
    content: "\e927";
}
.dozent-icon-files-3:before {
    content: "\e928";
}
.dozent-icon-files-4:before {
    content: "\e929";
}
.dozent-icon-files-5:before {
    content: "\e92a";
}
.dozent-icon-files-6:before {
    content: "\e92b";
}
.dozent-icon-files-7:before {
    content: "\e92c";
}
.dozent-icon-files-8:before {
    content: "\e92d";
}
.dozent-icon-files-9:before {
    content: "\e92e";
}
.dozent-icon-files-10:before {
    content: "\e92f";
}
.dozent-icon-files-11:before {
    content: "\e930";
}
.dozent-icon-files-12:before {
    content: "\e931";
}
.dozent-icon-files:before {
    content: "\e932";
}
.dozent-icon-video-file-1:before {
    content: "\e933";
}
.dozent-icon-video-file:before {
    content: "\e934";
}
.dozent-icon-zip:before {
    content: "\e935";
}
.dozent-icon-file:before {
    content: "\e91e";
}
.dozent-icon-doubt:before {
    content: "\e91f";
}
.dozent-icon-spinner:before {
    content: "\e91d";
}
.dozent-icon-down:before {
    content: "\e900";
}
.dozent-icon-up:before {
    content: "\e901";
}
.dozent-icon-angle-up:before {
    content: "\e902";
}
.dozent-icon-angle-down:before {
    content: "\e920";
}
.dozent-icon-angle-left:before {
    content: "\e921";
}
.dozent-icon-angle-right:before {
    content: "\e903";
}
.dozent-icon-audio-volume:before {
    content: "\e904";
}
.dozent-icon-clock:before {
    content: "\e905";
}
.dozent-icon-document:before {
    content: "\e906";
}
.dozent-icon-facebook:before {
    content: "\e907";
}
.dozent-icon-fav-full:before {
    content: "\e908";
}
.dozent-icon-fav-line:before {
    content: "\e909";
}
.dozent-icon-google:before {
    content: "\e90a";
}
.dozent-icon-grid:before {
    content: "\e90b";
}
.dozent-icon-group:before {
    content: "\e90c";
}
.dozent-icon-linkdin:before {
    content: "\e90d";
}
.dozent-icon-lock:before {
    content: "\e90e";
}
.dozent-icon-mark:before {
    content: "\e90f";
}
.dozent-icon-minus:before {
    content: "\e910";
}
.dozent-icon-mortarboard:before {
    content: "\e911";
}
.dozent-icon-offer:before {
    content: "\e912";
}
.dozent-icon-play:before {
    content: "\e913";
}
.dozent-icon-plus:before {
    content: "\e914";
}
.dozent-icon-shopping-cart:before {
    content: "\e915";
}
.dozent-icon-star-full:before {
    content: "\e916";
}
.dozent-icon-star-half:before {
    content: "\e917";
}
.dozent-icon-star-line:before {
    content: "\e918";
}
.dozent-icon-tumblr:before {
    content: "\e919";
}
.dozent-icon-twitter:before {
    content: "\e91a";
}
.dozent-icon-user:before {
    content: "\e91b";
}
.dozent-icon-youtube:before {
    content: "\e91c";
}


/**
Animation Spinner
 */
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}