/* Version: 1.22 */

@font-face {
	font-family: "tutor";
	src: url("../font/tutor.ttf?l5eb5q") format("truetype"),
		url("../font/tutor.woff?l5eb5q") format("woff"),
		url("../font/tutor.svg?l5eb5q#tutor") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="tutor-icon-"], [class*=" tutor-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tutor' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .tutor-icon-down:before {
	content: "\e900";
  }
  .tutor-icon-up:before {
	content: "\e901";
  }
  
  .tutor-icon-facebook:before {
	content: "\e907";
  }
  
  
  .tutor-icon-next-2:before {
	content: "\e944";
  }
  
  .tutor-icon-menu-2:before {
	content: "\e946";
  }
  
  .tutor-icon-assesment:before {
	content: "\e94b";
  }
  .tutor-icon-fill-gaps:before {
	content: "\e94c";
  }
  .tutor-icon-matching:before {
	content: "\e94d";
  }
  .tutor-icon-multiple-choice:before {
	content: "\e94e";
  }
  .tutor-icon-open-ended:before {
	content: "\e94f";
  }
  .tutor-icon-ordering:before {
	content: "\e950";
  }
  
  .tutor-icon-filter-tool-black-shape:before {
	content: "\e953";
  }
  
  .tutor-icon-image1:before {
	content: "\e958";
  }
  .tutor-icon-image-ans:before {
	content: "\e959";
  }
  .tutor-icon-short-ans:before {
	content: "\e95a";
  }
  