/*.tutor-form-check-input,*/
/*.tutor-btn-square,*/
/*.tutor-btn-circle,*/
/*.tutor-badge,*/
/*.tutor-badge-square,*/
/*.tutor-btn {*/
/*    margin: 5px;*/
/*}*/

/*.tutor-notification,*/
/*.tutor-form-select,*/
/*.tutor-form-control,*/
/*.tutor-input-group {*/
/*    margin-bottom: 15px;*/
/*}*/
/*.tutor-input-group .tutor-form-control {*/
/*    margin-bottom: 0;*/
/*}*/

.doc-mb-20 {
	margin-bottom: 20px;
}

/*.tutor-form-check {*/
/*    margin-bottom: 10px;*/
/*}*/

[data-testid='main-container'] h1 {
	margin: 30px 0;
}

[data-testid='main-container'] h2 {
	margin: 30px 0 20px 0;
}

[data-testid='main-container'] h3 {
	margin: 25px 0 15px 0;
}

[data-testid='main-container'] h4 {
	margin: 20px 0 10px 0;
}

code {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	font-size: 0.875em;
	color: #d63384;
	word-wrap: break-word;
}

[data-testid='main-container'] {
	max-width: 1788px !important;
}

body {
	font-family: -apple-system, 'SF Pro Display', sans-serif;
}

.css-1ouyflx {
	font-family: unset !important;
}
