@import "../lib/mixins.scss";

body.tutor-screen-course-builder {

    $body: &;

    .topic-edit-icon {
        cursor: pointer;
    }

    .topic-delete-btn {
        float: right;
        
        a {
            padding: 0 10px;
            
            &:hover {
                color: #ff0000;
            }
        }
        
        .dashicons {
            width: 12px;
            height: 12px;
            font-size: 12px;
        }
    }
    
    .video-metabox-source-html5-upload {
        background-color: #fff;
        text-align: center;
        padding: 40px 20px;
        border: 1px solid #dcdfe5;
        border-radius: 3px;
        
        p {
            margin-bottom: 5px;
        }
        
        .video-upload-icon {
            i {
                font-size: 50px;
                color: var(--tutor-primary-color);
            }
        }
    } 

    .video_source_upload_wrap_html5 {
        margin-top: 10px;
    }
    
    .video-metabox-source-html5-poster {
        padding-top: 20px;
    }
    
    .video_source_wrap_html5 {
        width: 100%;
    }
    
    .html5-video-poster {
        height: 100px;
        display: flex;
        align-items: center;

        img {
            height: 100%;
            width: auto;
        }

        .tutor-builder-course-video-poster-text {
            text-align: left;
            padding-left: 20px;

            @at-root{
                #{$body}.rtl {
                    .html5-video-poster .tutor-builder-course-video-poster-text {
                        padding-left: 0;
                        padding-right: 20px;
                    }
                }
            }
            
            h5 {
                font-size: 14px;
                font-weight: 700;
                margin: 0 0 6px;
                line-height: 1;
            }

            span {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    /* Course settings module */
    .course-settings-tabs-container {
        @include valueWithPrefix(display, flex);
        
        .settings-tabs-navs-wrap{
            @include propertyWithPrefix(flex, 0 0 200px);
            background: #F5F5F5;
        }

        .settings-tabs-container{
            padding: 1em;
            @include propertyWithPrefix(flex, 1);
        }
    }

    .settings-tabs-navs-wrap {
        .settings-tabs-navs{
            margin: 0;
            list-style: none;

            li{
                margin: 0;
                
                a {
                    display: block;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #23282d;
                    text-decoration: none;
                    background: #F5F5F5;
                    text-transform: capitalize;
                    border-bottom: 1px solid #e5e5e5;
                    border-left: 3px solid transparent;

                    &:focus{
                        box-shadow: none;
                    }
                }
                
                &.active {
                    a {
                        background-color: #ffffff;
                        border-bottom: 1px solid #e5e5e5;
                        color: var(--tutor-primary-color);
                        border-left: 3px solid var(--tutor-primary-color);
                    }
                } 
                
                &:last-child a{
                    border-bottom: none;
                }
            }
        }
    } 

    #tutor-metabox-course-settings-tabs {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        margin: 1em 0;

        .settings-tabs-heading{
            padding: 1em;
            border-bottom: 1px solid #e5e5e5;

            h3{
                font-size: 14px;
                margin: 0;
                line-height: 1.4;
            }
        }

        .tutor-field-radio {
            p{
                margin-top: 0;
            }
        } 
    }

    .inside #tutor-metabox-course-settings-tabs{
        border: 0;
        margin: 0;
    }

    // Course attachment styles
    .tutor-course-builder-attachements{
        @include valueWithPrefix(display, flex);
        @include propertyWithPrefix(flex-wrap, wrap);
        margin-left: -25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &:empty {
            display: none;
        }

        &, * {
            &, &:focus, &:active, &:hover {
                text-decoration: none;
                outline: none;
            }
        }

        .tutor-added-attachment{
            @include propertyWithPrefix(flex, 0 0 calc(25% - 30px));
            max-width: calc(25% - 30px);
            border: 1px solid #DCDFE5;
            padding: 35px 20px 20px;
            position: relative;
            text-align: center;
            margin-left: 30px;
            margin-bottom: 30px;
            border-radius: 4px;
            transition: 300ms;
            min-width: 120px;
            @media (max-width: 480px) {
                flex: 0 0 calc(50% - 30px);
                max-width: calc(50% - 30px);
            }
            
            i{
                font-size: 58px;
                line-height: 58px;
                margin-bottom: 25px;
                display: block;
            }
            
            .tutor-delete-attachment{
                position: absolute;
                height: 22px;
                width: 22px;
                border: 1px solid #DCDFE5;
                text-align: center;
                line-height: 22px;
                top: -1px;
                right: -1px;
                font-size: 10px;
                border-top-right-radius: 4px;
                color: transparent;
                transition: 300ms;
            }
            
            &:hover{
                &, .tutor-delete-attachment{
                    border-color: #D71830;
                    color: #D71830;
                }
            }
            
            span{
                display: block;
                
                a{
                    font-size: 14px;
                    display: block;
                    line-height: 20px;
                    color: #606C8F;
                }
            }
        }
    }


    // Manage topic
    #tutor-course-content-wrap {
        border: 1px solid #ddd;
        margin-top: 20px;

        .tutor-metabox-add-topics, .tutor-topics-edit-form {
            background: #f1f1f1;
            border: 1px solid #dcdfe5;
            margin-top: 25px;
            padding: 20px;

            .tutor-option-field-row {
                padding: 15px 0;
                
                &:last-child {
                    border-bottom: none;
                }

                textarea {
                    height: 120px;
                }
            }
    
        }
    }



    .tutor-add-quiz-button-wrap {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        
        & > * + * {
            margin-left: 15px;
        }

        a {
            color: #2756d1;
        }
    }


    // Course topics
    #tutor-course-topics {
        position: relative;

        // Backend style
        .tutor-course-builder-header{
            line-height: 50px;
            position: absolute;
            top: -69px;
            right: 40px;
            
            &.has-postbox-header {
                top: -56px;
                right: 96px;
            }
        }

        .postbox-header {
            h2 {
                padding: 15px;
                line-height: 30px;
                display: block;

                &:before {
                    content: "\e936";
                    color: var(--tutor-primary-color);
                    font-family: "tutor" !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 10px;
                }
            }
            
        }
        .inside {
            padding: 0;
            margin: 0;
        }

        // Common style
        a {
            text-decoration: none;
            &:focus{
                @include propertyWithPrefix(box-shadow, none);
            }
        }

        .tutor-quiz-builder-modal-tabs-notice a {
            color: #a4a4a4;
            text-decoration: underline;
        }

        .toggle-indicator{
            &:before {
                margin-top: 20px;
            }
        }

        .tutor-topics-wrap {
            border-bottom: 1px solid #f6f8fa;
            padding-bottom: 0;
            margin: 0;

            &:nth-child(2n) {
                background: #f6f8fa;
            }

            .tutor-topic-title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                font-size: 16px;
                font-weight: 300;
                margin: 0;
                line-height: 40px;
                padding-left: 15px;
                
                a {
                    color: #393c40;
                }
                
                .topic-inner-title {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    cursor: pointer;
                    max-width: calc(100% - 154px);
                }
            
                span {
                    padding: 0 5px;
                    
                    &.expand-collapse-wrap {
                        border-left: 1px solid #e7e7e7;
                        
                        a {
                            display: block;
                            padding: 0 13px;
                        }
                    }
                }
            }

            .tutor-topics-body {
                background: #ebeef0;
	            padding: 15px 20px;
            }
              
            @at-root {
                #{$body}.rtl {
                    .tutor-topics-wrap .tutor-topic-title {
                        padding-left: 0;
                        padding-right: 15px;
                    
                        span {
                            &.expand-collapse-wrap {
                                border-left: none;
                                border-right: 1px solid #e7e7e7;
                            }
                        }
                    }
                }
            }
            
            .course-move-handle {
                @include propertyWithPrefix(align-self, center);
                cursor: grab;
                margin-right: 5px;

                &:active {
                    cursor: grabbing;
                }
            }
        }
        
        .drop-lessons {
            p {
                margin: 0;
            }
        } 

        .course-content-item{
            &:hover {
                background-color: #ebeef0;
            }
        }

        .tutor-lessons {
            padding-left: 0;

            &.ui-sortable {
                min-height: 20px;
            }
        }

        .tutor-lesson-top{
            @include valueWithPrefix(display, flex);
            font-size: 14px;

            &, i {
                font-size: 15px;
            }

            i{
                &.tutor-icon-pencil {
                    margin: 0 10px;
                }
                
                &.tutor-icon-move {
                    margin-right: 10px;
                    cursor: grab;
                    line-height: unset;

                    &:active{
                        cursor: grabbing;
                    }
                }
            }

            a {
                color: #393c40;
                &.tutor-updating-message{
                    i {
                        display: none;
                    }
                } 

                &:nth-child(2) {
                    @include propertyWithPrefix(flex, 1);
                }
            }

            .open-tutor-quiz-modal {
                i {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            } 
        }

        @at-root{
            #{$body}.rtl {
                #tutor-course-topics .tutor-lesson-top {
                    i.tutor-icon-move {
                        margin-right: 0;
                        margin-left: 10px;
                    }
    
                    .open-tutor-quiz-modal {
                        i {
                            margin-right: 0;
                            margin-left: 5px;
                        }
                    } 
                }
            }
        }
    }

    .tutor-course-builder-content-container {
        &.tutor-untopics-lessons {
            border: 1px solid #eee;
            padding: 20px;
            margin: 0 -1px -1px;
            background-color: #fbfbfb;
        
            h3 {
                font-weight: 300;
            }
            
            .tutor-lessons {
                padding-left: 0 !important;
            }
        }
        
        .course-content-item {
            padding: 10px;
            border-bottom: 1px solid #d9d9d9;
            background-color: #ebeef0;
    
            .tutor-lesson-top {
                display: flex;
                align-items: center;
                
                a {
                    color: #393c40;
                    font-weight: 400;
                    display: inline-flex;
                    align-items: center;
    
                    &:last-child {
                        margin-left: auto;
                    }
                    
                    &.open-tutor-lesson-modal {
                        @include propertyWithPrefix(flex-grow, 1);
                    }
                }
    
                i {
                    padding-right: 7px;
                    color: #393c40;
                }
    
                .tutor-updating-message i {
                    display: none;
                }
    
                i.tutor-icon-garbage:hover {
                    color: red;
                }
            }
        }
    }

    .new-topic-btn-wrap {
        padding: 0;
        margin: 20px 0;
    }

    /* Multi instructor styles */
    .tutor-course-available-instructors {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        
        .added-instructor-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
            border: 1px solid #dcdfe5;
            padding: 13px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 4px;
            position: relative;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin: 0px 10px 20px;

            @media (min-width: 1300px) {
                -ms-flex: 0 0 calc(33.333% - 20px);
                -webkit-box-flex: 0;
                        flex: 0 0 calc(33.333% - 20px);
                max-width: calc(33.333% - 20px);
            }
            
            @media (max-width: 546px) {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                        flex: 0 0 100%;
                max-width: 100%;
            }
            
            .instructor-control {
                position: absolute;
                right: 14px;
                top: 50%;
                font-size: 12px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                opacity: 0;
                -webkit-transition: 300ms;
                transition: 300ms;

                a {
                    color: red;
                    text-decoration: none;
                }
            }

            &:hover{
                .instructor-control {
                    opacity: 1;
                }
            }

            .instructor-icon {
                height: 45px;
                width: 45px;
                overflow: hidden;
                border-radius: 50px;
                margin-right: 15px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            
            .instructor-name {
                position: relative;

                i.instructor-name-tooltip {
                    -webkit-transition: 300ms;
                    transition: 300ms;
                    opacity: 0;
                    position: absolute;
                    bottom: 34px;
                    right: 9px;
                    background: #2a344f;
                    -webkit-transform: translateX(50%);
                    transform: translateX(50%);
                    color: #fff;
                    font-size: 12px;
                    font-style: normal;
                    padding: 0 8px;
                    border-radius: 15px;
                    line-height: 20px;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        border: 5px solid #2a344f;
                        bottom: -3px;
                        left: 50%;
                        margin-left: -5px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        z-index: -1;
                    }
                }
                
                img {
                    display: inline-block;
                    margin-left: 10px;
                    width: 18px;

                    &:hover + i.instructor-name-tooltip {
                    opacity: 1;
                    }
                }
            }
            
        }
    }
    
    /* Screen specific declarations (Frontend editor) */
    &.tutor-screen-course-builder-frontend{
        @import './frontend.scss';
    }
}