@import "../lib/mixins.scss";

#tutor-course-topics {
	position: relative;

    // Backend style
    .tutor-course-builder-header.has-postbox-header {
        top: -56px;
        right: 96px;
    }

    // Common style
    a {
        text-decoration: none;
        &:focus{
            @include propertyWithPrefix(box-shadow, none);
        }
    }

    .tutor-quiz-builder-modal-tabs-notice a {
        color: #a4a4a4;
        text-decoration: underline;
    }

    .toggle-indicator{
        &:before {
            margin-top: 20px;
        }
    }

    .tutor-topics-wrap {
        border-bottom: 1px solid #f6f8fa;
        padding-bottom: 0;
        margin: 0;
    }

    .drop-lessons {
        p {
            margin: 0;
        }
    } 

    .course-content-item{
        &:hover {
            background-color: #ebeef0;
        }
    }

    .tutor-lessons {
        padding-left: 0;

        &.ui-sortable {
            min-height: 20px;
        }
    }

    .tutor-lesson-top{
        @include valueWithPrefix(display, flex);
        font-size: 14px;

        &, i {
            font-size: 15px;
        }

        i{
            &.tutor-icon-pencil {
                margin: 0 10px;
            }
            
            &.tutor-icon-move {
                margin-right: 10px;
                cursor: ns-resize;
            }
        }

        a {
            color: #393c40;
            &.tutor-updating-message{
                i {
                    display: none;
                }
            } 
        }

        .open-tutor-quiz-modal {
            i {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        } 
    }
} 

.rtl {
    #tutor-course-topics {
        .tutor-lesson-top {
            i.tutor-icon-move {
                margin-right: 0;
	            margin-left: 10px;
            }

            .open-tutor-quiz-modal {
                i {
                    margin-right: 0;
                    margin-left: 5px;
                }
            } 
        }
    }
}


#tutor-course-topics .tutor-lesson-top .open-tutor-lesson-modal,
.tutor-quiz .open-tutor-quiz-modal,
.course-content-item .open-tutor-assignment-modal,
.course-content-item .tutor-zoom-meeting-modal-open-btn {
    @include propertyWithPrefix(flex, 1);
}
