.tutor-instructor-note.tutor-quiz-attempt-note {
    background-color: $primary-40;
    border: 1px solid $primary-70;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }