$sidebar_width: 360px;

.tutor-qna-single-wrapper {
    @at-root{
        body.wp-admin {
            .tutor-qna-single-wrapper {
                width: calc(100% - #{$sidebar_width});
            }
        }
    }

    .tutor-qa-sticky-bar{
        @include valueWithPrefix(display, flex);
        background: white;
        padding: 10px;
        position: sticky;
        top: 10px;

        &>div{
            &:last-child{
                @include valueWithPrefix(flex, 1);
                text-align: right;

                &>span{
                    display: inline-block;
                    margin-left: 7px;
                }
            }
        }
    }

    .tutor-qa-chatlist{
        &>div{
            
        }
    }
}

.tutor-qna-admin-sidebar {
    width: $sidebar-width;
    position: fixed;
    right: 0;
    top: 32px;
    bottom: 0;
    left: auto;
    background: white;
}