$sidebar_width: 360px;

.tutor-qna-single-question {
	table.tutor-ui-table-data-td-target [data-td-target] {
		padding: 12px !important;
	}

	table.tutor-ui-table tr:last-child td:last-child {
		border-radius: 0;
	}

	table.tutor-ui-table-data-td-target .is-active:not(.expand-btn) {
		background-color: #fff !important;
	}

	td {
		div.tutor-icon-angle-down-filled {
			font-size: 20px;
		}
	}

	@at-root {
		body.wp-admin {
			.tutor-qna-single-wrapper {
				width: calc(100% - #{$sidebar_width});

				.tutor-qa-reply {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					overflow: hidden;
				}
			}
		}
	}

	.tutor-qna-single-wrapper {
		.qna-back-button {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #5b616f;
		}
	}

	.tutor-qa-reply {
		bottom: 20px;
		bottom: 0;
		background: white;
		z-index: 10;

		textarea {
			min-height: initial !important;
			height: 80px !important;
			width: 100%;
			border: none;
			// border-bottom: 1px solid #cdcfd5;
			border: 1px solid $stroke-light-30;
			border-radius: 6px;
			padding: 15px;
			resize: none;

			&,
			&:focus,
			&:active {
				outline: none !important;
				box-shadow: none;
			}
		}

		div {
			padding: 15px 0px 0px 0px;
		}
	}

	// Badges class
	.tutor-qna-badges {
		.tutor-btn {
			&:not(:last-child) {
				margin-right: 18px;
			}
		}
	}

	.tutor-qna-single-wrapper {
		max-height: calc(100vh - 100px);
		overflow-y: auto;
	}

	// Top Sticky bar for badges
	.tutor-qa-sticky-bar {
		background: white;
		padding: 21px 0px 15px 0px;
		position: sticky;
		top: 0;
		z-index: 9;
	}

	// Regular chatlist style
	.tutor-qa-chatlist {
		.tutor-qna-chat {
			width: auto;
			max-width: 80%;
			margin-bottom: 30px;
			clear: both;

			.tutor-qna-user {
				display: flex;
				align-items: center;
				margin-bottom: 15px;

				img {
					width: 50px;
					height: 50px;
					overflow: hidden;
					border-radius: 50%;
				}

				& > div {
					flex: 1;
					padding-left: 15px;
				}
			}

			.tutor-qna-text {
				padding: 8px 15px;
				background: white;
				border-radius: 8px;
				margin: 0;
				position: relative;
				max-width: max-content;

				&:before {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					top: -5px;
					background: inherit;
					-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
					clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					border-radius: 3px;
				}
			}

			&.tutor-qna-left {
				.tutor-qna-text {
					&:before {
						left: 15px;
					}
				}
			}

			&.tutor-qna-right {
				float: right;

				.tutor-qna-text {
					&:before {
						right: 15px;
					}
					margin-left: auto !important;
				}

				.tutor-qna-user {
					flex-flow: row-reverse;
					text-align: right;
					& > div {
						padding-left: 0;
						padding-right: 15px;
					}
				}
			}
		}
	}

	&:not([data-context='backend-dashboard-qna-single']) {
		.tutor-qna-left {
			.tutor-qna-text {
				min-width: 50px;
				background: #e3e9f7;
				color: $black-100;
			}
		}

		.tutor-qna-right {
			.tutor-qna-text {
				background: #dbe9eb;
				color: $black-100;
			}
		}
	}

	.tutor-toggle-reply {
		text-align: right;
		span {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				font-style: normal;
				font-weight: normal;
				// font-size: 15px;
				color: #41454f;
			}
		}
	}

	@at-root {
		body.wp-admin {
			.tutor-qa-chatlist {
				margin-right: 15px;
				margin-top: 15px;
			}
		}
	}

	[class*='tutor-icon'] {
		font-size: 24px;
	}
}

.tutor-qna-admin-sidebar {
	width: $sidebar-width;
	position: fixed;
	right: 0;
	top: 32px;
	bottom: 0;
	left: auto;
	background: white;
	border-left: 1px solid #c0c3cb;
	box-sizing: border-box;
	overflow: auto;

	.tutor-qna-user {
		padding: 20px;

		img {
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 50%;
		}

		h2 {
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			color: #212327;
		}

		strong {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #5b616f;
		}
	}

	.tutor-qna-user-details {
		label {
			cursor: pointer;
			padding: 15px;
			border-top: 1px solid #c0c3cb;
			border-bottom: 1px solid #c0c3cb;
			display: block;
			background: #f4f6f9;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #212327;
		}

		& > div {
			display: none;
			padding: 15px;
		}

		input {
			display: none;

			&:checked {
				& + div {
					display: block;
				}
			}
		}
	}

	.qna-previous-questions {
		div {
			display: flex;
			flex-direction: column;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

table.qna-list-table {
	.tutor-icon-msg-important-filled {
		color: $black-40;
	}

	.tutor-icon-msg-important-fill-filled {
		color: #ed9700;
	}

	tr {
		.tutor-qna-title {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #212327;
			display: block;
		}

		&:not(.is-qna-read) {
			.tutor-qna-title {
				font-weight: bold;
				font-size: 16px;
				color: #212327;
			}
		}
	}

	.tutor-qna-question-col {
		i {
			font-size: 24px !important;
			margin-right: 13px;
			left: -6px;
			top: 2px;
		}

		span {
			margin-bottom: 5px;
		}

		small {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			color: #525252;
		}

		&:not(.is-read) {
			i {
				color: #1973aa;
			}

			.tutor-qna-content {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				color: #212327;
			}
		}

		&.is-read {
			i {
				color: #c0c3cb;
			}

			.tutor-qna-content {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				color: #212327;
			}
		}
	}
}

.tutor-qna-spotlight-sidebar {
	padding: 15px;

	.tutor-qa-new {
		&[data-context='course-single-qna-sidebar'] {
			background: #f4f6f9;
			padding: 15px;
			bottom: 15px;
			margin: -15px;
			position: absolute;
			width: 100%;
		}
	}

	.tutor-qa-reply {
		position: initial !important;
	}
}

.tutor-qa-reply {
	&[data-context='course-single-qna-sidebar'],
	&[data-context='course-single-qna-single'] {
		&,
		textarea {
			border: none !important;
		}

		textarea {
			border: 1px solid #cdcfd5 !important;
			border-radius: 6px !important;
		}
	}
}

#sideabr-qna-tab-content {
	.tutor-qna-single-question .tutor-qa-chatlist .tutor-qna-chat {
		max-width: 100%;
		margin-bottom: 10px;
	}

	.tutor-qna-single-question .tutor-qa-reply div {
		padding: 10px 0px 0px 0px;
	}

	.tutor-qa-new {
		.tutor-quesanswer-askquestion {
			&:not(.tutor-quesanswer-askquestion-expand) {
				.sidebar-ask-new-qna-submit,
				textarea {
					display: none;
				}
			}

			&.tutor-quesanswer-askquestion-expand {
				.sidebar-ask-new-qna-btn-wrap {
					display: none;
				}
			}
		}
	}

	.tutor-qa-reply {
		textarea {
			&:focus {
				border: 1px solid var(--tutor-primary) !important;
			}
		}
	}
}

body.wp-admin {
	.tutor-qna-single-wrapper {
		& > * {
			padding: 20px !important;
		}
		.tutor-qa-reply {
			border-radius: 0px;
		}
	}

	.tutor-qa-sticky-bar {
		margin-left: -20px;
	}

	.tutor-qa-reply-wrapper {
		max-width: 950px;
		margin: 0 auto;
	}

	.tutor-qa-reply {
		background: transparent;
	}
}
