$sidebar_width: 360px;
.tutor-qna-single-question{
    @at-root{
        body.wp-admin {
            .tutor-qna-single-wrapper {
                width: calc(100% - #{$sidebar_width});
            }
        }
    }

    // Badges class
    .tutor-qna-badges {
        &>span{
            @include valueWithPrefix(display, inline-flex);
            @include propertyWithPrefix(align-items, center);
            margin-left: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #5B616F;
            cursor: pointer;

            &:hover {
                color: #393a3d;
            }

            i{
                display: inline-block;
                margin-right: 5px;
                
                &[class^='ttr-'], &[class*=' ttr-']{
                    font-size: 24px;
                }
            }
        }
    }

    // Top Sticky bar for badges
    .tutor-qa-sticky-bar{
        @include valueWithPrefix(display, flex);
        background: white;
        padding: 21px 15px;
        position: sticky;
        top: 32px;
        margin-left: -19px;

        &>div{
            &:last-child{
                @include valueWithPrefix(flex, 1);
                text-align: right;
            }
        }
    }

    // Regular chatlist style 
    .tutor-qa-chatlist{
        overflow: auto;

        .tutor-qna-chat {
            width: auto;
            max-width: 80%;
            margin-bottom: 30px;
            clear: both;

            .tutor-qna-user {
                @include valueWithPrefix(display, flex);
                @include propertyWithPrefix(align-items, center);
                margin-bottom: 15px;

                img{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                }

                &>div{
                    @include propertyWithPrefix(flex, 1);
                    padding-left: 15px;

                    strong{
                        display: block;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        color: #212327;
                    }

                    small{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        color: #757C8E;
                    }
                }
            }

            .tutor-qna-text{
                padding: 15px;
                background: white;
                border-radius: 6px;
                margin: 0;
            }

            &.tutor-qna-left {
                
            }

            &.tutor-qna-right {
                float: right;

                .tutor-qna-user{
                    @include propertyWithPrefix(flex-flow, row-reverse);
                    text-align: right;

                    &>div{
                        padding-left: 0;
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    &[data-context="course-single-qna-single"], &[data-context="course-single-qna-sidebar"] {
        .tutor-qna-left {
            .tutor-qna-text {
                background: #FEECEB;
            }
        }

        .tutor-qna-right {
            .tutor-qna-text {
                background: #E9EDFB;
            }
        }
    }

    .tutor-toggle-reply {
        text-align: right;
        span{
            cursor: pointer;

            &:hover{
                text-decoration: underline;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                color: #41454F;
            }
        }
    }

    .tutor-qa-reply{
        margin-right: 15px;
        textarea {
            height: 80px;
            min-height: auto;
        }
        
        .tutor-qna-badges {
            &>span>span{
                display: none;
            }
        }
    }

    @at-root{
        body.wp-admin {
            .tutor-qa-chatlist{
                margin-right: 15px;
                margin-top: 15px;
            }
        }
    }
}

.tutor-qna-admin-sidebar {
    width: $sidebar-width;
    position: fixed;
    right: 0;
    top: 32px;
    bottom: 0;
    left: auto;
    background: white;
    border-left: 1px solid #C0C3CB;
    box-sizing: border-box;
    overflow: auto;
    
    .tutor-qna-user {
        padding: 20px;

        img{
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
        }

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: #212327;
        }

        strong{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #5B616F;
        }
    }

    .tutor-qna-user-details {
        label {
            cursor: pointer;
            padding: 15px;
            border-top: 1px solid #C0C3CB;
            border-bottom: 1px solid #C0C3CB;
            display: block;
            background: #F4F6F9;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #212327;
        }

        &>div{
            display: none;
            padding: 15px;
        }

        input{
            display: none;

            &:checked{
                &+div{
                    display: block;
                }
            }
        }
    }

    .qna-previous-questions {
        &>div{
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &>* {
                display: block;
                margin-bottom: 5px;
            }

            &>span{
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                color: #5B616F;
            }

            &>strong{
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #212327;
            }

            &>small{
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                color: #525252;
            }
        }
    }
}