.answer-image-matched-wrap {
	display: block;
	.image-matching-item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		img {
			max-width: 35px;
		}
		.dragged-caption {
			font-size: 14px;
			margin-left: 12px;
		}
	}
}

.correct-answer-wrap {
	.matching-type {
		@include valueWithPrefix(display, flex);
		@include propertyWithPrefix(align-items, center);

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.text-image-type {
		@include valueWithPrefix(display, flex);
		@include propertyWithPrefix(align-items, center);

		.image {
			margin-right: 12px;
		}
	}

	img {
		max-width: 35px;
		max-height: 35px;
	}
}

.tutor-quiz-attempt-details-wrapper {
	.back {
		position: relative;
		a {
			font-size: 16px;
			color: #5b616f;
			.tutor-icon previous-line {
				font-size: 20px;
				line-height: 0px;
				color: #1a1b1e;
			}
		}
	}
}

.tutor-quiz-attempt-details {
	.tutor-icon-rounded {
		@include valueWithPrefix(display, inline-flex);
		@include propertyWithPrefix(align-items, center);
		@include propertyWithPrefix(justify-content, center);
		width: 32px;
		height: 32px;
		overflow: hidden;
		border-radius: 50%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		font-size: 13px;
		cursor: pointer;

		&.tutor-text-danger {
			border-color: var(--tutor-danger);
		}

		&.tutor-text-success {
			border-color: var(--tutor-success);
		}

		&:not(:hover) {
			opacity: 0.8;
		}
	}

	tr {
		&:not(:hover) {
			&.tutor-quiz-answer-status-correct {
				.tutor-icon-rounded.tutor-text-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-wrong {
				.tutor-icon-rounded.tutor-text-success {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-pending {
				.tutor-icon-rounded.tutor-text-success,
				.tutor-icon-rounded.tutor-text-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}
		}
	}
}
