.answer-image-matched-wrap {
	display: block;
	.image-matching-item {
		display: flex;
		align-items: center;
		
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		
		img {
			max-width: 35px;
		}

		.dragged-caption {
			font-size: 14px;
			margin-left: 12px;
		}
	}
}

.correct-answer-wrap {
	.matching-type {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.text-image-type {
		display: flex;
		align-items: center;

		.image {
			margin-right: 12px;
		}
	}

	img {
		max-width: 32px;
		max-height: 32px;
	}
}

.tutor-quiz-attempt-details {
	th,
	td {
		* {
			word-break: break-word;
		}
	}
	.tutor-icon-rounded {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		overflow: hidden;
		border-radius: 3px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		font-size: 13px;
		cursor: pointer;

		&:not(:hover) {
			opacity: 0.8;
		}
	}

	tbody {
		@include breakpoint-min(1200) {
			tr {
				td.no {
					width: 8%;
				}
				td.type {
					width: 7%;
				}
				td.questions {
					width: 20%;
				}
				td.given-answer {
					width: 20%;
				}
				td.correct-answer {
					width: 30%;
				}
				td.answer {
					width: 15%;
				}
			}
		}
	}
	tr {
		td[data-th='Type'] {
			.tooltip-wrap.tooltip-icon- {
				span:first-child {
					display: flex;
				}
			}
		}
		&:not(:hover) {
			&.tutor-quiz-answer-status-correct {
				.tutor-icon-rounded.tutor-color-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-wrong {
				.tutor-icon-rounded.tutor-color-success {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-pending {
				.tutor-icon-rounded.tutor-color-success,
				.tutor-icon-rounded.tutor-color-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}
		}
	}
	thead {
		th:last-child {
			text-align: center;
		}
	}
}
