.tutor-quiz-type {
    &-icon {
        padding: 0;
        color: #fff;
        border-radius: 4px;
        margin-right: 8px;
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        font-size: 20px;
        vertical-align: middle;
        background-color: var(--tutor-color-primary);

        .rtl & {
            margin-left: 8px;
            margin-right: 0px;
        }
    }

    &-boolean {
        background-color: #3E64DE;
    }

    &-single-choice {
        background-color: #00B890;
    }
    
    &-multiple-choices {
        background-color: #9034A9;
    }
    
    &-open-ended {
        background-color: #FE3129;
    }
    
    &-fill-blanks {
        background-color: #FFBF00;
    }
    
    &-short-answer {
        background-color: #F37512;
    }
    
    &-matching {
        background-color: #8A4A1B;
    }
    
    &-image-matching {
        background-color: #F37512;
    }
    
    &-image-answering {
        background-color: #A322F9;
    }
    
    &-ordering {
        background-color: #1B52D8;
    }
}