.answer-image-matched-wrap {
	display: block;
	.image-matching-item {
		display: flex;
		align-items: center;
		
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		
		img {
			max-width: 35px;
		}

		.dragged-caption {
			font-size: 14px;
			margin-left: 12px;
		}
	}
}

.correct-answer-wrap {
	.matching-type {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.text-image-type {
		display: flex;
		align-items: center;

		.image {
			margin-right: 12px;
		}
	}

	img {
		max-width: 32px;
		max-height: 32px;
	}
}

.tutor-quiz-attempt-details {
	.tutor-icon-rounded {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		overflow: hidden;
		border-radius: 3px;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		font-size: 14px;
		cursor: pointer;

		&:not(:hover) {
			opacity: 0.8;
		}
	}
	
	tr {
		td{
			vertical-align: middle;
		}
		
		&:not(:hover) {
			&.tutor-quiz-answer-status-correct {
				.tutor-icon-rounded.tutor-color-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-wrong {
				.tutor-icon-rounded.tutor-color-success {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}

			&.tutor-quiz-answer-status-pending {
				.tutor-icon-rounded.tutor-color-success,
				.tutor-icon-rounded.tutor-color-danger {
					color: #cdcfd5 !important;
					border-color: #cdcfd5 !important;
				}
			}
		}
	}

	.quiz-explanation-wrapper{
		display: flex;
		background:#E5F5EB;
		padding:15px;
		border-radius:8px;
		box-sizing: border-box;
	}

	.explain-toggle{
		background:#F4F6F9; 
		text-align:center!important;
		padding:4px;
		button{
			margin:0;
			line-height: 32px;
		}
	}

	@include breakpoint-max(mobile) {
		.tutor-manual-review-wrapper {
			text-align: left;
		}
	}
}