@import "../icons/css/dozent-icon.css";

/*common*/
.dozent-wrap{
    color: #4B5981;
}
/*
.dozent-container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}*/
.dozent-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.dozent-col-auto, .dozent-col, .dozent-col-3, .dozent-col-4, .dozent-col-6, .dozent-col-8, .dozent-col-9{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.dozent-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.dozent-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.dozent-col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.dozent-col-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.dozent-col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.dozent-col-8{
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}
.dozent-col-9{
    -ms-flex: 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
@media (max-width: 767px) {
    .dozent-col-auto, .dozent-col, .dozent-col-3, .dozent-col-4, .dozent-col-6, .dozent-col-8, .dozent-col-9{
        -ms-flex: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.dozent-custom-list-style{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.dozent-custom-list-style li{
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    padding-left: 25px;
}

.dozent-custom-list-style li::before{
    content: '\e90f';
    position: absolute;
    left: 0;
    font-family: 'dozent';
    color: #1B52D8;

}


/********************/
/*start single course*/
/********************/

.dozent-course-content-content{
    font-size: 14px;
    line-height: 21px;
}

.dozent-single-course-segment{
    margin-bottom: 45px;
}

.dozent-full-width-course-top h4,
.dozent-full-width-course-top h5,
.dozent-full-width-course-top h6{
    color: #8C94A8;
    font-weight: 400;
}
.dozent-full-width-course-top h6{
    font-size: 14px;
}
.dozent-single-course-segment .dozent-segment-title,
.dozent-segment-title{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 13px;
}
.dozent-leadinfo-top-meta{
    font-size: 14px;
    margin-bottom: 10px;
}
.dozent-leadinfo-top-meta span{
    display: inline-block;
    margin-right: 10px;
}


.dozent-leadinfo-top-meta i{
    margin-right: 4px;
}

.dozent-single-course-rating{
    color: #F8C51C;
    font-size: 16px;
}
.dozent-single-course-rating .dozent-single-rating-count{
    color: #4B5981;
}
.dozent-single-course-rating .dozent-single-rating-count i{
    color: #B1B8C9;
    font-style: normal;
    display: inline-block;
    margin-left: 4px;
}
.dozent-leadinfo-top-meta span i::before{
    margin-left: 0;
}
.dozent-course-header-h1{
    font-size: 36px;
    line-height: 46px;
    color: #4B5981;
    font-weight: 500;
    margin: 0 0 29px;
    padding: 0;
}
.dozent-course-summery{
    margin-bottom: 40px;
    font-size: 14px;
}

/*dozent course meta*/

.dozent-single-course-meta{
    color: #4B5981;
    font-size: 14px;
}
.dozent-single-course-meta ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    line-height: 21px;
}
.dozent-single-course-meta.dozent-meta-top ul{
    padding-top: 5px;
    padding-bottom: 15px;
}
.dozent-single-course-meta ul li{
    float: left;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dozent-single-course-meta .dozent-single-course-avatar img{
    height: 21px;
    width: 21px;
    display: block;
    border-radius: 50%;
    margin-right: 3px;
}

.dozent-single-course-meta ul li .dozent-single-course-avatar span{
    height: 21px;
    width: 21px;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    display: block;
    color: #ffffff;
}
.dozent-single-course-meta ul li > div{
    display: inline-block;
    vertical-align: top;
}
.dozent-single-course-meta ul li strong{
    margin: 0;
    display: inline-block;
    line-height: 21px;
    font-weight: 400;
    color: #8C94A8;
    font-size: 14px;
}
.dozent-single-course-meta ul li span,
.dozent-single-course-meta ul li a{
    color: #4B5981;
}
.dozent-single-course-meta.dozent-lead-meta{
    margin-bottom: 33px;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
}
.dozent-single-course-meta.dozent-lead-meta ul li strong{
    display: block;
    margin-bottom: 5px;
    color: #B1B8C9;
}
.dozent-single-course-meta.dozent-lead-meta ul li a{
    color: #4B5981;
}

.dozent-single-course-meta.dozent-lead-meta ul li a:not(:last-child)::after{
    content: ', ';
}
/*benifit*/
.dozent-course-benefits-content ul{
    list-style: none;
    display: block;
    overflow: hidden;
    column-count: 2;
    column-gap: 30px;
    margin: 0;
    font-size: 14px;
}

/*.dozent-course-topics-wrap*/

.dozent-course-topics-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}
.dozent-course-topics-header .dozent-course-topics-header-right span:not(:first-child){
    margin-left: 45px;
}
.dozent-course-topics-contents h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    color: #4B5981;
}
.dozent-course-topics-contents .dozent-course-title{
    cursor: pointer;
}
.dozent-course-topics-contents .dozent-course-title h4{
    color: #1B52D8;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
}

.dozent-course-topic.dozent-active .dozent-course-title h4 > i::before{
    content: "\e910";
}

.dozent-course-topics-contents .dozent-course-title h4 i{
    font-size: 15px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}
.dozent-course-topics-contents .dozent-course-topic{
    border: 1px solid #DCE4E6;
    margin-bottom: 20px;
    border-radius: 5px;
}
.dozent-course-title,
.dozent-course-lesson{
    padding: 14px 20px;
}
.dozent-course-lesson{
    border-top: 1px solid #DCE4E6;
}
.dozent-course-topics-contents .dozent-course-topic .dozent-course-lessons{
    display: none;
}

.dozent-course-lesson h5{
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0;
}

.dozent-course-lesson h5 i{
    line-height: 22px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    color: #B1B8C9;
}

/********************/
/*end single course*/
/********************/

/**
Icon Css
 */
div[class*="dozent-course-col"] {
    padding-left: 15px;
    padding-right: 15px;
}
.dozent-course-loop{
    background: #fff;
    color: #29303b;
    display: inline-block;
    font-size: small;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 300ms;
    border: 1px solid #DCDFE5;
}
.dozent-course-header{
    position: relative;
}

.dozent-course-loop-header-meta{
    position: absolute;
    left: 13px;
    top: 13px;
}

.dozent-course-loop-level{
    display: inline-block;
    background: #9013FE;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.dozent-course-loop:hover{
    box-shadow: 0 4px 23px rgba(0,0,0,.1);
}
.dozent-course-loop p{
    margin: 0;
}
.dozent-course-loop .dozent-course-header a,
.dozent-course-loop .dozent-course-header a img{
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dozent-loop-course-container{
    padding: 20px 15px;
}
.dozent-loop-rating-wrap{
    color: #F8C51C;
    margin-bottom: 2px;
    font-size: 16px;
}
.dozent-loop-rating-wrap i::before{
    margin-right: 3px;
    margin-left: 0;
}
.dozent-course-loop-title a h2{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 17px;
    color: #4B5981;
}
.dozent-loop-course-footer{
    padding: 10px 15px;
    border-top: 1px solid #DCDFE5;
    color: #838791;
    font-size: 12px;
    line-height: 17px;
    line-height: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.dozent-loop-course-footer::after{
    content: '';
    display: table;
    clear: both;
}

.dozent-loop-course-footer i{
    font-size: 20px;
    color: #8C94A8;
    line-height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.dozent-loop-course-footer i:not(:first-child){
    margin-left: 18px;
}

.dozent-loop-course-footer span{
    display: inline-block;
    line-height: 25px;
}

.dozent-course-loop-price{
    float: right;
    color: #4B5981;
    font-size: 18px;
    font-weight: 600;
}
.dozent-course-loop-price .price del{
    font-size: 14px;
    opacity: 1;
    font-weight: 400;
}

.dozent-course-loop-price .price del span{
    text-decoration: line-through;
    color: #8C94A8;
}

.dozent-course-loop-price .price del + ins{
    background: transparent;
    margin-left: 0;
}
.dozent-loop-course-footer .dozent-loop-cart-btn-wrap{
    position: absolute;
    left: -1px;
    top: 0;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    color: #fff;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: 100ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: blue;
}
.dozent-loop-course-footer .dozent-loop-cart-btn-wrap a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 600;
    -webkit-animation: rotate_cs 5s infinite; /* Safari 4.0 - 8.0 */
    animation: rotate_cs 5s infinite;
    padding: 0;
    display: block;
    width: 100%;
    line-height: 48px;
    background: blue;
}
.dozent-loop-course-footer .dozent-loop-cart-btn-wrap a.added{
    display: none;
}

.dozent-loop-course-footer .dozent-loop-cart-btn-wrap a.added_to_cart{
    background-color: #000000;
}

.dozent-loop-course-footer .dozent-loop-cart-btn-wrap a::before{
    content: '\e915';
    font-family: "dozent";
    margin-right: 5px;
}


.dozent-loop-course-footer .dozent-loop-cart-btn-wrap a.added_to_cart::before{
    display: none;
}


/* Standard syntax */
@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.dozent-course-loop:hover .dozent-loop-course-footer .dozent-loop-cart-btn-wrap{
    opacity: 1;
}
/* layout*/
.dozent-course-col-4{
    width: 25%;
}
.dozent-course-col-3{
    width: 33.33%;
}
.dozent-course-col-2{
    width: 50%;
}
.dozent-course-col-1{
    width: 100%;
}
.dozent-course-col-1 .dozent-course-loop{
    width: 100%;
}
.dozent-course-col-5{
    width: 20%;
}
.dozent-course-col-6{
    width: 16.66%;
}
.dozent-course-loop-title h2{
    font-size: 1rem;
}
.dozent-course-filter-wrap{
    clear: both;
    margin-bottom: 20px;
}
.dozent-course-archive-results-wrap{
    float: left;
    width: 45%;
}
.dozent-course-archive-filters-wrap{
    float: right;
    width: 45%;
    text-align: right;
}
.dozent-courses{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}
.clearfix:before, .clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.dozent-loop-author, .dozent-meta{
    color: #bac0cf;
}
.dozent-text-mute{
    color: #bac0cf;
}

.dozent-loop-author{
    overflow: hidden;
}

.dozent-loop-author .dozent-single-course-avatar img{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    margin-right: 6px;
}
.dozent-loop-author .dozent-single-course-avatar .dozent-text-avatar{
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    margin-right: 6px;
}

.dozent-loop-author > div{
    display: inline-block;
    float: left;
}

.dozent-loop-author > div span,
.dozent-loop-author > div a{
    color: #4B5981;
}

.dozent-loop-author > div strong{
    display: inline-block;
    margin: 0 2px 0 2px;
    font-size: 14px;
    color: #8C94A8;
    font-weight: 600;
    line-height: 25px;
}

.dozent-course-lising-category a:not(:last-child):after{
    content: ', ';
}

/**
Topicsdozent-course-title
 */
.dozent-course-enroll-wrap{
    padding: 20px 0;
}
.dozent-wrap .dozent-course-enrolled-wrap{
    background: #ecffec;
    padding: 20px;
    border: 1px solid #b7d6b7;
}
.dozent-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-bottom: 10px;
}
a.dozent-button,
.dozent-button,
a.dozent-btn,
.dozent-btn{
    color: #fff;
    background-color: #1B52D8;
    border-color: #1B52D8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
}
a.dozent-button:hover,
.dozent-button:hover,
a.dozent-btn:hover,
.dozent-btn:hover {
    color: #fff;
    filter: brightness(.9);
}

.dozent-button.dozent-danger{
    background: #E53935;
}
.dozent-button.dozent-success{
    background: #86B223;
}

.course-enrolled-nav-wrap{
    border-bottom: 1px solid #dedfe0;
    margin-bottom: 45px;
}
.dozent-wrap nav.course-enrolled-nav ul{
    list-style: none;
    margin: 0 0 -1px;
}
.dozent-wrap nav.course-enrolled-nav ul li{
    display: inline-block;
}
.dozent-wrap nav.course-enrolled-nav ul li a{
    display: block;
    font-size: 16px;
    padding: 5px 0 20px;
    margin-right: 20px;
    color: #B1B8C9;
    border-bottom: 2px solid transparent;
}
.dozent-wrap nav.course-enrolled-nav ul li.active a{
    border-bottom: 2px solid #1B52D8;
    color: #4B5981;
}
/* *********************** */
/* Dozent Student Dashboard */
/* *********************** */
.dozent-seperator{
    background: #ddd;
    height: 1px;
    width: 100%;
}
.dozent-student-dashboard-leadinfo {
    padding-top: 20px;
}
.dozent-dashboard-student-info{
    padding-left: 40px;
}
.dozent-dashboard-student-info h4, .dozent-dashboard-student-info h5{
    font-weight: 300;
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .dozent-dashboard-student-info{
        padding-left: 0;
    }
}
.dozent-student-dashboard-leadinfo .dozent-dashboard-avater img{
    border-radius: 50%;
}
.dozent-student-dashboard-leadinfo .dozent-student-name{
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .dozent-student-dashboard-leadinfo .dozent-dashboard-avater img{
        width: 100px;
        height: auto;
    }
}
.dozent-student-dashboard-leadinfo ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.dozent-student-dashboard-leadinfo .dozent-dashboard-user-role li{
    display: inline-block;
    margin-right: 10px;
}
.dozent-student-dashboard-leadinfo span.dozent-text-avatar {
    padding: 30px;
    font-size: 30px;
    color: #fff;
}
.dozent-student-dashboard-leadinfo .dozent-designation{
    display: inline-block;
    margin: 0;
    font-weight: 300;
}
.dozent-dashboard-student-meta {
    text-align: right;
}

@media (max-width: 991px) {
    .dozent-dashboard-student-meta {
        text-align: left;
    }
}
.dozent-dashboard-student-meta ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
@media (max-width: 991px) {
    .dozent-dashboard-student-meta ul {
        display: block;
        margin-top: 15px;
    }
}
.dozent-dashboard-student-meta li{
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    border-left: 1px solid #ddd;
}
@media (max-width: 767px) {
    .dozent-dashboard-student-meta li {
        width: 100%;
        text-align: left;
        display: block;
    }
}
.dozent-dashboard-student-meta li h4{
    margin: 0;
}
.dozent-dashboard-student{
    padding: 30px 0;
}
.dozent-dashboard-permalinks{
    list-style: none;
    margin: 0 0 20px;
    border: 1px solid #E8EFF1;
    border-radius: 4px;
    font-size: 14px;
    padding: 0;
}
.dozent-dashboard-permalinks li:not(:last-child){
    border-bottom: 1px solid #E8EFF1;
}
.dozent-dashboard-permalinks li a{
    display: block;
    color: #4B5981;
    padding: 10px 20px;
    line-height: 28px;
}
.dozent-dashboard-content h1{
    color: #8C94A8;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 17px;
}

.dozent-dashboard-content-inner{
    padding: 20px;
    border: 1px solid #DCDFE5;
    border-radius: 4px;
}

.dozent-mycourse-rating{
    color: #F8C51C;
    font-size: 12px;
}

.dozent-mycourse-rating i{
    margin-right: 4px;
}

.dozent-dashboard-content-inner h3 a{
    color: #4B5981;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    display: block;
}

.dozent-dashboard-content-inner .dozent-course-metadata{

}


/* ***********************      */
/* End Dozent Student Dashboard  */
/************************       */
/**
Teacher
 */
.single-teacher-wrap{
    border: 1px solid #e8eff1;
    margin-bottom: 30px;
    font-size: 14px;
    border-radius: 4px;
}
.single-teacher-wrap .single-teacher-top{
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #e8eff1;
}
.single-teacher-wrap .single-teacher-top h3,
.single-teacher-wrap .single-teacher-top h4 {
    margin: 0;
    padding: 0;
}
.single-teacher-wrap .dozent-teacher-left{
    float: left;
    overflow: hidden;
}
.single-teacher-wrap .teacher-avatar{
    float: left;
}
.single-teacher-wrap .teacher-avatar img{
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}
.single-teacher-wrap .teacher-name{
    float: left;
    padding-left: 20px;
    max-width: 130px;
}
.single-teacher-wrap .teacher-name h3{
    font-size: 16px;
    color: #4B5981;
    font-weight: 600;
}
.single-teacher-wrap .teacher-name h3 a{
    font-weight: 500;
    color: #4B5981;
}
.single-teacher-wrap .teacher-name h4{
    font-weight: 400;
    font-size: 14px;
    color: #B1B8C9;
}
.single-teacher-wrap .teacher-bio{
    padding-left: 220px;
    font-size: 14px;
}
.single-teacher-wrap .single-teacher-bottom{
    padding: 15px 20px;
    text-align: right;
    overflow: hidden;
}
.single-teacher-wrap .single-teacher-bottom p{
    margin: 0;
}
.single-teacher-wrap .single-teacher-bottom .ratings{
    float: left;
}

.single-teacher-wrap .single-teacher-bottom .ratings i{
    margin-right: 4px;
}
.single-teacher-wrap .single-teacher-bottom .courses,
.single-teacher-wrap .single-teacher-bottom .students{
    display: inline-block;
    margin-left: 20px;
}


.single-teacher-wrap .single-teacher-bottom .courses i,
.single-teacher-wrap .single-teacher-bottom .students i{
    font-size: 18px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.single-teacher-wrap .single-teacher-bottom .ratings .rating-total-meta{
    color: #bac0cf;
}

.single-teacher-wrap .single-teacher-bottom .ratings .rating-generated{
    color: #f8c51c;
}

/* ***********************      */
/* Single Lesson  */
/************************       */

/*lesson list*/


.dozent-topics-lesson-list .dozent-topics-in-single-lesson{
    border: 1px solid #E8EFF1;
    border-radius: 4px;
    margin-bottom: 30px;
}

.dozent-topics-in-single-lesson .dozent-single-lesson-items a{
    border-top: 1px solid #DCE4E6;
    padding: 14px 75px 14px 17px;
    font-size: 14px;
    display: flex;
    color: #4B5981;
    position: relative;
}


.dozent-lessons-under-topic .dozent-single-lesson-items.active a{
    background: rgba(233, 235, 238, 0.35);
}

.dozent-topics-in-single-lesson .dozent-single-lesson-items a span{
    font-size: 14px;
    margin: 0;
    display: inline;
    color: #4B5981;
}

.dozent-topics-in-single-lesson .dozent-topics-title h3{
    margin: 0;
    padding: 14px 17px;
    font-size: 16px;
    color: #1B52D8;
    font-weight: 500;
}

.dozent-topics-in-single-lesson .dozent-topics-title h3 i{
    font-size: 10px;
    margin-left: 6px;
}

.dozent-topics-in-single-lesson .dozent-topics-dozent-loop-rating-wraptitle h3 i{
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    color: #C7C7C7;
    transition: 300ms;
    cursor: pointer;
}


.dozent-topics-in-single-lesson .dozent-topics-title h3 i:hover{
    color: #1B52D8;
}

.dozent-topics-in-single-lesson .dozent-single-lesson-items a > i:first-child{
    color: #C7C7C7;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.dozent-topics-in-single-lesson .dozent-topics-summery{
    padding: 14px;
    font-size: 14px;
    border-top: 1px solid #DCE4E6;
    display: none;
}

.dozent-topics-lesson-list .dozent-lesson-right-icons{
    position: absolute;
    right: 15px;
    top: 14px;
}

.dozent-topics-lesson-list .dozent-lesson-right-icons .dozent-lesson-complete{
    height: 16px;
    width: 16px;
    border: 1px solid #E8EFF1;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    margin-left: 8px;
}
.dozent-topics-lesson-list .dozent-single-lesson-items.active .dozent-lesson-right-icons .dozent-lesson-complete{
    border-color: #b7d6b7;
}

.dozent-topics-lesson-list .dozent-single-lesson-items.active .dozent-lesson-right-icons .dozent-lesson-complete.dozent-done,
.dozent-topics-lesson-list .dozent-lesson-right-icons .dozent-lesson-complete.dozent-done{
    background: #86B223;
    border-color: #86B223;
    color: #fff;
}

.dozent-topics-lesson-list .dozent-lesson-right-icons i{
    font-style: normal;
}

/*video*/

.dozent-single-lesson-segment{
    margin-bottom: 35px;
}

.dozent-single-lesson-wrap{
    font-size: 14px;
    font-weight: 400;
}

.dozent-lesson-video-wrap .plyr--video{
    border-radius: 4px;
}

/*course status*/
.dozent-progress-bar-wrap{
    width: 100%;
    margin: 0;
    font-size: 14px;
    margin-bottom: 30px;
    display: flex;
}
.dozent-progress-bar{
    background-color: #ffffff;
    height: 8px;
    color: #000000;
    line-height: 25px;
    position: relative;
    border-radius: 0px;
    background: #f1f1f1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-radius: 30px;
    margin-top: 7.5px;
}

.dozent-progress-bar .dozent-progress-filled{
    background-color: #1B52D8;
    height: 8px;
    border-radius: 30px;
    width: var(--dozent-progress-left);
}

.dozent-progress-bar .dozent-progress-filled::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: 5px solid #1B52D8;
    border-radius: 50%;
    background: #fff;
    left: var(--dozent-progress-left);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.dozent-progress-percent{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-left: 20px;
}
.dozent-course-purchase-box{
    margin-bottom: 0;
}

.dozent-price-preview-box .dozent-course-purchase-box button{
    display: block;
    width: 100%;
    background: #1B52D8;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
}

.dozent-price-preview-box .dozent-course-purchase-box button i{
    margin-right: 8px;
}

.dozent-price-preview-box .dozent-course-enrolled-wrap,
.dozent-price-preview-box .dozent-course-login-wrap,
.dozent-price-preview-box .dozent-course-login-wrap form,
.dozent-course-purchase-box form{
    margin-bottom: 0;
}
.dozent-price-preview-box .dozent-course-material-includes-wrap{
    margin-bottom: 25px;
}

.dozent-alert-warning{
    padding: 10px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.dozent-lead-info-btn-group{
    display: block;
    overflow: hidden;
    margin: -10px -10px 35px;
}

.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap{
    display: inline-block;
}

.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap form{
    margin: 0;
}

.dozent-lead-info-btn-group a.dozent-button,
.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap button{
    display: block;
    padding: 14px 20px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    background: #1B52D8;
    color: #fff;
    transition: 300ms;
}
.dozent-lead-info-btn-group a.dozent-button,
.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap{
    width: calc(50% - 22px);
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap button{
    display: block;
    width: 100%;
    background: #E8EFF1;
    color: #B1B8C9;
}

.dozent-lead-info-btn-group a.dozent-button:hover{
    background: #1b4cab;
    color: #ffffff;
}

.dozent-lead-info-btn-group .dozent-course-compelte-form-wrap button:hover{
    background: #1B52D8;
    color: #ffffff;
}

.dozent-single-add-to-cart-box .dozent-enroll-form{
    margin: 0;
}

.dozent-single-add-to-cart-box .dozent-enroll-form .dozent-course-enroll-wrap{
    padding: 0;
}
.dozent-single-add-to-cart-box .dozent-enroll-form .dozent-course-enroll-wrap button{
    display: block;
    width: 100%;
    text-align: center;
}

/*******************/
/*dozent review form*/
/*******************/
.dozent-course-enrolled-review-wrap .write-course-review-link-btn{
    color: #fff;
    background-color: #1B52D8;
    border-color: #1B52D8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
}

.dozent-course-enrolled-review-wrap  .dozent-form-group{
    margin-bottom: 10px;
}

.dozent-course-enrolled-review-wrap  .dozent-form-group textarea{
    height: 120px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 4px;
}

.dozent-course-enrolled-review-wrap .dozent-form-group button{
    color: #fff;
    background-color: #1B52D8;
    border-color: #1B52D8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
}

/*******************/
/*end dozent review form*/
/*******************/

/**
Dozent Dashboard Content
 */

/*
Form CSS
 */
.dozent-form-row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.dozent-form-col-4,
.dozent-form-col-6,
.dozent-form-col-12{
    padding-left: 15px;
    padding-right: 15px;
}
.dozent-form-col-6{
    flex: 0 0 50%;
}
.dozent-form-col-12{
    flex: 12;
}
.dozent-form-col-4{
    flex: 4;
}
ul.dozent-required-fields{
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dozent-ratings-wrap {
    color: #f4c150;
    margin-top: 20px;
    display: block;
}
.dozent-ratings-wrap i{
    cursor: pointer;
    margin-right: 4px;
}
.dozent-queston-and-answer-wrap{
    margin: 20px 0;
}
.dozent-question-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.dozent-ask-question-btn{
    text-align: right;
}
.dozent-question-search-form{
    flex: 0 0 75%;
}
.dozent-question-search-form form {
    display: flex;
}
.dozent-question-search-form input[type="text"] {
    max-width: 60%;
}
.dozent-add-question-wrap{
    margin: 20px 0;
}
.dozent-add-question-wrap .dozent-form-group{
    margin-bottom: 10px;
}
.dozent_question_cancel{
    margin-right: 5px;
}
.updating-icon:before{
    font-family: 'dozent';
    margin-right: 5px;
    content: "\e91d";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
/**
Course question and answer
 */


/* ********************* */
/* Question and Answer */
/* ********************* */

/*.dozent-question-wrap{*/

/*}*/

.dozent_question_area {
    padding: 25px 20px;
    background: #F4F7F8;
    border-radius: 4px;
}

.dozent_question_area p:last-child{
    margin-bottom: 0;
}


/*anouncement*/

.dozent-announcements-wrap{
    margin-top: 20px;
}
.dozent-no-announcements {
    text-align: center;
}
.dozent-announcement-meta{
    margin-bottom: 20px;
}
.dozent-announcement {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.announcement-delete-btn{
    float: right;
}


/* ********************* */
/* Single Quiz */
/* ********************* */

.dozent-quiz-header span{
    background: #F88F1C;
    color: #ffffff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 10px;
}

.dozent-quiz-header h2{
    color: #4B5981;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 15px;
}

.dozent-quiz-header h5{
    font-size: 14px;
    color: #8C94A8;
}
.dozent-quiz-header h5 a{
    color: #4B5981;
    font-size: 14px;
    font-weight: 500;
}
.dozent-quiz-header .dozent-quiz-meta{
    display: block;
    list-style: none;
    margin: 20px 0 40px;
    padding: 15px 0;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.dozent-quiz-header .dozent-quiz-meta li{
    display: inline-block;
    color: #4B5981;
}
.dozent-quiz-header .dozent-quiz-meta li strong{
    display: block;
    color: #B1B8C9;
    font-weight: 400;
}

.dozent-quiz-attempt-history-title{
    font-size: 18px;
    color: #8C94A8;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px;
}

.dozent-quiz-attempt-history table{
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 14px;
}
.dozent-quiz-attempt-history th{
    font-weight: 400;
}
.dozent-quiz-attempt-history table,
.dozent-quiz-attempt-history th,
.dozent-quiz-attempt-history td{
    border: 1px solid #E8EFF1;
}


.dozent-quiz-attempt-history table span.result-fail,
.dozent-quiz-attempt-history table span.result-pass{
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    width: 47px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.dozent-quiz-attempt-history table span.result-fail{
    background: #DF3247;
}

.dozent-quiz-attempt-history table span.result-pass{
    background: #99C335;
}

.quiz-head-meta-info{
    font-size: 14px;
    color: #8C94A8;
    margin-bottom: 40px;
}

.quiz-head-meta-info span{
    color: #4B5981;
}

.dozent-quiz-single-wrap .question-text{
    color: #4B5981;
    font-size: 20px;
    font-weight: 600;
}

.dozent-quiz-answare-wrap{
    margin-bottom: 40px;
}

.dozent-quiz-answare-wrap label{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.dozent-quiz-answare-wrap label input{
    display: none;
}

.dozent-quiz-answare-wrap label input + span{
    line-height: 20px;
}

.dozent-quiz-answare-wrap label input + span::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #DEDEDE;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.dozent-quiz-answare-wrap label input:checked + span::before{
    background: #1B52D8;
    border-color: #1B52D8;
}


.dozent-quiz-answare-wrap label input:checked + span::after{
    content: '\e90f';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'dozent';
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    font-size: 14px;
}


.dozent-quiz-answare-wrap label input[type="radio"] + span::before{
    content: '';
    border-radius: 50%;
}

.dozent-quiz-answare-wrap label input[type="radio"] + span::after{
    content: '';
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    left: 6px;
}

/* ********************* */
/*start global login form*/
/* ********************* */

.dozent-login-form-wrap p{
    margin-bottom: 0;
}

.dozent-login-form-wrap label{
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
}

.dozent-login-form-wrap input[type="password"],
.dozent-login-form-wrap input[type="text"]{
    width: 100%;
    display: block;
    border: 1px solid #E8EFF1;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #ffffff;
    line-height: 48px;
    padding: 0;
    text-indent: 15px;
}
.dozent-login-form-wrap input[type="password"]:focus,
.dozent-login-form-wrap input[type="text"]:focus{
    background: #ffffff;
    border-color: #1B52D8;
}

.dozent-login-form-wrap input::-webkit-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-login-form-wrap input::-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-login-form-wrap input:-ms-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-login-form-wrap input:-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}

.dozent-login-rememeber-wrap{
    overflow: hidden;
    text-align: right;
    margin-bottom: 30px;
}

.dozent-login-rememeber-wrap p{
    display: inline-block;
    float: left;
}

.dozent-login-rememeber-wrap p,
.dozent-login-rememeber-wrap label{
    margin: 0;
}


.dozent-form-register-wrap a,
.dozent-login-rememeber-wrap a,
.dozent-login-rememeber-wrap label{
    color: #606C8F;
    font-size: 14px;
    vertical-align: middle;
    opacity: .5;
    transition: 300ms;
}



.dozent-form-register-wrap a:hover,
.dozent-login-rememeber-wrap a:hover,
.dozent-login-rememeber-wrap label:hover{
    opacity: 1;
}


.dozent-login-form-wrap input[type="submit"]{
    color: #fff;
    background-color: #86B223;
    border-color: #86B223;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    display: block;
    width: 100%;
    transition: 300ms;
}
.dozent-login-form-wrap input[type="submit"]:hover{
    color: #fff;
    background-color: #759c1f;
    border-color: #759c1f;
}


.dozent-login-form-wrap input[type="checkbox"]{
    margin-right: 4px;
}

.dozent-form-register-wrap{
    text-align: center;
    margin-top: 15px;
}

/*course login*/

.dozent-course-login-wrap h4{
    font-size: 18px;
    margin-bottom: 28px;
}

/* ********************* */
/*start registration form*/
/* ********************* */

.dozent-form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.dozent-form-group textarea,
.dozent-form-group input:not([type="submit"]){
    width: 100%;
    display: block;
    border: 1px solid #E8EFF1;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #ffffff;
    line-height: 48px;
    padding: 0;
    text-indent: 15px;
    transition: 300ms;
}

.dozent-form-group textarea:focus,
.dozent-form-group input:not([type="submit"]):focus{
    background: #ffffff;
    border-color: #1B52D8;
}

.dozent-form-group textarea::-webkit-input-placeholder ,
.dozent-form-group input::-webkit-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-form-group textarea::-moz-placeholder ,
.dozent-form-group input::-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-form-group textarea:-ms-input-placeholder ,
.dozent-form-group input:-ms-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.dozent-form-group textarea:-moz-placeholder ,
.dozent-form-group input:-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}

.dozent-form-group.dozent-reg-form-btn-wrap{
    text-align: right;
}

.dozent-form-group.dozent-reg-form-btn-wrap .dozent-button{
    background: #86B223;
    border-color: #86B223;
}

/* ********************* */
/* Dozent Price Preview Box */
/* ********************* */

.dozent-price-preview-box{
    border: 1px solid #DCDFE5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.dozent-price-box-thumbnail{
    margin: -20px -20px 25px;
}

.dozent-price-box-description h6{
    font-size: 23px;
    margin: 15px 0 5px;
}

.dozent-price-box-description ul{
    list-style: none;
}

.dozent-course-purchase-box a{
    display: block;
    text-align: center;
    margin-top: 6px;
}

.dozent-price-preview-box .price{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 20px;
}

.dozent-price-preview-box .price del{
    font-size: 14px;
}


.dozent-price-preview-box .price del + ins{
    margin-left: 0;
    float: left;
}

/* ************************ */
/* Dozent Course Review Wrap */
/* ************************ */

.dozent-course-reviews-wrap{
    border: 1px solid #E8EFF1;
    border-radius: 4px;
}

.dozent-course-avg-rating-total{
    color: #B1B8C9;
    font-size: 14px;
}
.dozent-course-avg-rating-total span{
    color: #4B5981;
}

.dozent-review-individual-item {
    font-size: 14px;
    border-top: 1px solid #E8EFF1;
    padding: 20px;
    overflow: hidden;
}
.dozent-review-individual-item p{
    margin: 0;
    padding: 0;
}
.course-avg-rating-wrap{
    padding: 20px 20px 20px 40px;
}
.dozent-review-individual-item .review-left{
    width: 230px;
    float: left;
    overflow: hidden;
}
.dozent-review-individual-item .review-content{
    padding-left: 230px;
}
.dozent-review-individual-item .review-avatar{
    width: 50px;
    float: left;;
}
.dozent-review-individual-item .review-avatar img{
    border-radius: 50%;
    margin: 0;
    border: none;
    max-width: 100%;
    height: auto;
}
.dozent-review-individual-item .dozent-review-user-info{
    float: left;
    padding-left: 20px;
}
.dozent-review-individual-item .dozent-review-user-info p{
    margin-bottom: 0;
}
.review-avatar .dozent-text-avatar,
.teacher-avatar .dozent-text-avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
}
.course-avg-rating-wrap .course-avg-rating {
    font-size: 76px;
    line-height: 1;
    font-weight: 600;
}
.course-avg-rating-wrap p{
    margin: 0;
}

.dozent-review-individual-item .dozent-review-name{
    font-size: 16px;
    font-weight: 600;
}
.dozent-review-individual-item .review-meta{
    color: #B1B8C9;
}

.individual-review-rating-wrap{
    color: #F8C51C;
}
.individual-review-rating-wrap i,
.course-avg-rating-html i{
    margin-right: 4px;
    color: #F8C51C;
}



/* ********************* */
/* Dozent Pagination Wrap */
/* ********************* */

.dozent-pagination-wrap{
    text-align: center;
    padding: 5px;

}

.dozent-pagination-wrap a,
.dozent-pagination-wrap span{
    padding: 3px 8px;
    border: 1px solid #dddddd;
    display: inline-block;
}

/* ********************* */
/* Dozent Course Tags */
/* ********************* */

.dozent-course-tags{
    margin: -5px;
}
.dozent-course-tags a{
    padding: 10px 15px;
    background: #E8EFF1;
    display: inline-block;
    margin: 5px;
    color: #4B5981;
    border-radius: 2px;
    transition: 300ms;

}

.dozent-course-tags a:hover{
    color: #000;
}