div[class*="lms-course-col"] {
    background: #fff;
    color: #29303b;
    display: inline-block;
    font-size: small;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);
    vertical-align: top;
}
.lms-course-col-4{
    width: 24%;
}
.lms-course-loop-title {
    padding: 10px;
}
.lms-course-loop-title h2{
    font-size: 1rem;
}
.lms-course-filter-wrap{
    clear: both;
    margin-bottom: 20px;
}
.lms-course-archive-results-wrap{
    float: left;
    width: 45%;
}
.lms-course-archive-filters-wrap{
    float: right;
    width: 45%;
    text-align: right;
}
.lms-courses{
    clear: both;
}
.lms-loop-author{
    padding: 0 10px;
    color: #BBBBBB;
}
.lms-full-width-course-top{
    background-color: #505763;
    padding: 50px 0;
    color: #ffffff;
}
.lms-course-benefits-wrap {
    margin: 20px 0;
    background-color: #f9f9f9;
    border: 1px solid #dedfe0;
    padding: 10px 15px;
}

ul.lms-course-benefits-items{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul.lms-course-benefits-items li{
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/**
Topics
 */

.lms-course-topics-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.lms-course-topics-header-left, .lms-course-topics-header-right{
    display: flex;
    width: 45%;
}
.lms-course-topics-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 30px;
    width: 50%;
}
.lms-course-topics-contents .lms-course-lessons{
    margin-left: 30px;
}
.lms-wrap .lms-single-course-segment{
    margin-top: 10px;
    margin-bottom: 30px;
}
.lms-course-enroll-wrap{
    padding: 20px 0;
}
.lms-wrap .lms-course-enrolled-wrap{
    background: #ecffec;
    padding: 20px;
    border: 1px solid #b7d6b7;
}
.lms-wrap .lms-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
}
a.lms-button{
    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
}
a.lms-button:hover {
    color: #eeeeee;
}
.course-enrolled-nav-wrap{
    background-color: #f4f4f4;
    border-bottom: 1px solid #dedfe0;
    margin-top: 10px;
}
.lms-wrap nav.course-enrolled-nav ul{
    list-style: none;
    margin: 0;
}
.lms-wrap nav.course-enrolled-nav ul li{
    display: inline-block;
}
.lms-wrap nav.course-enrolled-nav ul li a{
    padding: 10px 15px;
    display: block;
}
.lms-wrap nav.course-enrolled-nav ul li.active a{
    background-color: #333333;
    color: #ffffff;
}

/**
Lesson Single Page
 */


.lms-wrap{
    margin-top: 20px;
}
.lms-wrap .lms-lesson-single-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.lms-wrap .lms-topics-wrap{
    width: 30%;
}
.lms-wrap .lms-lesson-content-wrap{
    width: 65%;
    margin-left: 3%;
}

.lms-wrap .lms-topics-wrap .lms-topics-in-single-lesson .lms-lessons-under-topic .active a{
    color: blue;
}
.lms-wrap .lms-lesson-video-wrap{
    margin-bottom: 20px;
}