@import "../icons/css/fontello.css";

/*common*/
.tutor-wrap{
    color: #4B5981;
}
.tutor-container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.tutor-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.tutor-col-auto, .tutor-col, .tutor-col-3, .tutor-col-4, .tutor-col-6, .tutor-col-8, .tutor-col-9{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.tutor-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.tutor-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.tutor-col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.tutor-col-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.tutor-col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.tutor-col-8{
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}
.tutor-col-9{
    -ms-flex: 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
@media (max-width: 767px) {
    .tutor-col-auto, .tutor-col, .tutor-col-3, .tutor-col-4, .tutor-col-6, .tutor-col-8, .tutor-col-9{
        -ms-flex: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.tutor-custom-list-style{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.tutor-custom-list-style li{
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    padding-left: 25px;
}

.tutor-custom-list-style li::before{
    content: '';
    height: 6px;
    width: 13px;
    border: 3px solid #00B0F5;
    display: inline-block;
    border-top: none;
    border-right: none;
    transform: rotate(-46deg) translateY(-2px) translateX(3px);
    margin-right: 10px;;
    position: absolute;
    left: 0;
    top: 12px;

}

/********************/
/*start single course*/
/********************/

.tutor-single-course-segment{
    margin-bottom: 45px;
}

.tutor-full-width-course-top h4,
.tutor-full-width-course-top h5,
.tutor-full-width-course-top h6{
    color: #8C94A8;
    font-weight: 400;
}
.tutor-full-width-course-top h6{
    font-size: 14px;
}
.tutor-leadinfo-top-meta{
    font-size: 14px;
    margin-bottom: 10px;
}
.tutor-leadinfo-top-meta span{
    display: inline-block;
    margin-right: 10px;
}
.tutor-leadinfo-top-meta .selling-badge{
    text-transform: uppercase;
    background-color: #F88F1C;
    color: #fff;
    line-height: 18px;
    padding: 0 11px;
    border-radius: 3px;
    font-size: 10px;
}
.tutor-single-course-rating{
    color: #F8C51C;
    font-size: 16px;
}
.tutor-single-course-rating .tutor-single-rating-count{
    color: #4B5981;
}
.tutor-single-course-rating .tutor-single-rating-count i{
    color: #B1B8C9;
    font-style: normal;
    display: inline-block;
    margin-left: 4px;
}
.tutor-leadinfo-top-meta span i::before{
    margin-left: 0;
}
.tutor-course-header-h1{
    font-size: 36px;
    line-height: 46px;
    color: #4B5981;
    font-weight: 500;
    margin: 0 0 29px;
    padding: 0;
}
.tutor-course-summery{
    margin-bottom: 40px;
}

/*tutor course meta*/

.tutor-single-course-meta{
    color: #4B5981;
    font-size: 14px;
}
.tutor-single-course-meta ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    line-height: 21px;
}
.tutor-single-course-meta.tutor-meta-top ul{
    padding-top: 5px;
    padding-bottom: 15px;
}
.tutor-single-course-meta ul li{
    float: left;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tutor-single-course-meta .tutor-single-course-avatar img{
    height: 21px;
    width: 21px;
    display: block;
    border-radius: 50%;
    margin-right: 3px;
}

.tutor-single-course-meta ul li .tutor-single-course-avatar span{
    height: 21px;
    width: 21px;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    display: block;
    color: #ffffff;
}
.tutor-single-course-meta ul li > div{
    display: inline-block;
    vertical-align: top;
}
.tutor-single-course-meta ul li strong{
    margin: 0;
    display: inline-block;
    line-height: 21px;
    font-weight: 400;
    color: #8C94A8;
    font-size: 14px;
}
.tutor-single-course-meta ul li span,
.tutor-single-course-meta ul li a{
    color: #4B5981;
}
.tutor-single-course-meta.tutor-lead-meta{
    margin-bottom: 33px;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
}
.tutor-single-course-meta.tutor-lead-meta ul li strong{
    display: block;
    margin-bottom: 5px;
    color: #B1B8C9;
}
.tutor-single-course-meta.tutor-lead-meta ul li span{
    color: #4B5981;
}

.tutor-single-course-meta.tutor-lead-meta ul li span:not(:last-child)::after{
    content: ', ';
}
/*benifit*/
.tutor-course-benefits-content ul{
    list-style: none;
    display: block;
    overflow: hidden;
    column-count: 2;
    column-gap: 30px;
    margin: 0;
    font-size: 14px;
}

/*.tutor-course-topics-wrap*/

.tutor-course-topics-wrap{
    margin-top: 30px;
}
.tutor-course-topics-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tutor-course-topics-contents h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    color: #4B5981;
}
.tutor-course-topics-contents .tutor-course-title{
    cursor: pointer;
}
.tutor-course-topics-contents .tutor-course-title h4{
    color: #1B52D8;
    font-size: 16px;
}
.tutor-course-topics-contents .tutor-course-topic{
    border: 1px solid #DCE4E6;
    margin-bottom: 20px;
    border-radius: 5px;
}
.tutor-course-title,
.tutor-course-lesson{
    padding: 14px 20px;
}
.tutor-course-lesson{
    border-top: 1px solid #DCE4E6;
}
.tutor-course-topics-contents .tutor-course-topic:not(:first-child) .tutor-course-lessons{
    display: none;
}
/********************/
/*end single course*/
/********************/

/**
Icon Css
 */
div[class*="tutor-course-col"] {
    padding-left: 15px;
    padding-right: 15px;
}
.tutor-course-loop{
    background: #fff;
    color: #29303b;
    display: inline-block;
    font-size: small;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 300ms;
    border: 1px solid #DCDFE5;
}
.tutor-course-loop:hover{
    box-shadow: 0 4px 23px rgba(0,0,0,.1);
}
.tutor-course-loop p{
    margin: 0;
}
.tutor-course-loop .tutor-course-header a,
.tutor-course-loop .tutor-course-header a img{
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tutor-loop-course-container{
    padding: 20px 15px;
}
.tutor-loop-rating-wrap{
    color: #F8C51C;
    margin-bottom: 2px;
    font-size: 16px;
}
.tutor-loop-rating-wrap i::before{
    margin-right: 3px;
    margin-left: 0;
}
.tutor-course-loop-title a h2{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 17px;
}
.tutor-loop-course-footer{
    padding: 10px 15px;
    border-top: 1px solid #DCDFE5;
    color: #838791;
    font-size: 12px;
    line-height: 17px;
    line-height: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.tutor-loop-course-footer::after{
    content: '';
    display: table;
    clear: both;
}

.tutor-loop-course-footer i{
    font-size: 20px;
    color: #8C94A8;
    line-height: 25px;
    vertical-align: middle;
}
.tutor-loop-course-footer i:not(:first-child){
    margin-left: 8px;
}

.tutor-loop-course-footer span{
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

.tutor-course-loop-price{
    float: right;
    color: #3A3E49;
    font-size: 18px;
    font-weight: 600;
}
.tutor-course-loop-price .price del{
    font-size: 14px;
    opacity: 1;
    font-weight: 400;
}
.tutor-course-loop-price ins{
    background: transparent;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    position: absolute;
    left: -1px;
    top: 0;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    color: #fff;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: 100ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: blue;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 600;
    -webkit-animation: rotate_cs 5s infinite; /* Safari 4.0 - 8.0 */
    animation: rotate_cs 5s infinite;
    padding: 0;
    display: block;
    width: 100%;
    line-height: 48px;
    background: blue;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added{
    display: none;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added_to_cart{
    background-color: #000000;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a::before{
    content: '\e801';
    font-family: "fontello";
    margin-right: 3px;
}


/* Standard syntax */
@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tutor-course-loop:hover .tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    opacity: 1;
}
/* layout*/
.tutor-course-col-4{
    width: 25%;
}
.tutor-course-col-3{
    width: 33.33%;
}
.tutor-course-col-2{
    width: 50%;
}
.tutor-course-col-1{
    width: 100%;
}
.tutor-course-col-1 .tutor-course-loop{
    width: 100%;
}
.tutor-course-col-5{
    width: 20%;
}
.tutor-course-col-6{
    width: 16.66%;
}
.tutor-course-loop-title h2{
    font-size: 1rem;
}
.tutor-course-filter-wrap{
    clear: both;
    margin-bottom: 20px;
}
.tutor-course-archive-results-wrap{
    float: left;
    width: 45%;
}
.tutor-course-archive-filters-wrap{
    float: right;
    width: 45%;
    text-align: right;
}
.tutor-courses{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}
.clearfix:before, .clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.tutor-loop-author, .tutor-meta{
    color: #bac0cf;
}
.tutor-text-mute{
    color: #bac0cf;
}

.tutor-loop-author{
    overflow: hidden;
}

.tutor-loop-author .tutor-single-course-avatar img{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    margin-right: 6px;
}
.tutor-loop-author .tutor-single-course-avatar .tutor-text-avatar{
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    margin-right: 6px;
}

.tutor-loop-author > div{
    display: inline-block;
    float: left;
}

.tutor-loop-author > div span,
.tutor-loop-author > div a{
    color: #4B5981;
}

.tutor-loop-author > div strong{
    display: inline-block;
    margin: 0 2px 0 2px;
    font-size: 14px;
    color: #8C94A8;
    font-weight: 600;
    line-height: 25px;
}

.tutor-course-lising-category span:not(:last-child):after{
    content: ', ';
}

/**
Topicstutor-course-title
 */
.tutor-course-enroll-wrap{
    padding: 20px 0;
}
.tutor-wrap .tutor-course-enrolled-wrap{
    background: #ecffec;
    padding: 20px;
    border: 1px solid #b7d6b7;
}
.tutor-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-bottom: 10px;
}
a.tutor-button, .tutor-button{
    color: #fff;
    background-color: #1177d1;
    border-color: #1177d1;
    display: inline-block;
    padding: 10px 20px;
}
a.tutor-button:hover, .tutor-button:hover {
    color: #fff;
    background-color: #0e63ae;
    border-color: #0d5ca2;
}

.course-enrolled-nav-wrap{
    background-color: #f4f4f4;
    border-bottom: 1px solid #dedfe0;
    margin-top: 10px;
}
.tutor-wrap nav.course-enrolled-nav ul{
    list-style: none;
    margin: 0;
}
.tutor-wrap nav.course-enrolled-nav ul li{
    display: inline-block;
}
.tutor-wrap nav.course-enrolled-nav ul li a{
    padding: 10px 15px;
    display: block;
}
.tutor-wrap nav.course-enrolled-nav ul li.active a{
    background-color: #333333;
    color: #ffffff;
}
/* *********************** */
/* Tutor Student Dashboard */
/* *********************** */
.tutor-seperator{
    background: #ddd;
    height: 1px;
    width: 100%;
}
.tutor-student-dashboard-leadinfo {
    padding-top: 20px;
}
.tutor-dashboard-student-info{
    padding-left: 40px;
}
.tutor-dashboard-student-info h4, .tutor-dashboard-student-info h5{
    font-weight: 300;
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .tutor-dashboard-student-info{
        padding-left: 0;
    }
}
.tutor-student-dashboard-leadinfo .tutor-dashboard-avater img{
    border-radius: 50%;
}
.tutor-student-dashboard-leadinfo .tutor-student-name{
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .tutor-student-dashboard-leadinfo .tutor-dashboard-avater img{
        width: 100px;
        height: auto;
    }
}
.tutor-student-dashboard-leadinfo ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tutor-student-dashboard-leadinfo .tutor-dashboard-user-role li{
    display: inline-block;
    margin-right: 10px;
}
.tutor-student-dashboard-leadinfo span.tutor-text-avatar {
    padding: 30px;
    font-size: 30px;
    color: #fff;
}
.tutor-student-dashboard-leadinfo .tutor-designation{
    display: inline-block;
    margin: 0;
    font-weight: 300;
}
.tutor-dashboard-student-meta {
    text-align: right;
}

@media (max-width: 991px) {
    .tutor-dashboard-student-meta {
        text-align: left;
    }
}
.tutor-dashboard-student-meta ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
@media (max-width: 991px) {
    .tutor-dashboard-student-meta ul {
        display: block;
        margin-top: 15px;
    }
}
.tutor-dashboard-student-meta li{
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    border-left: 1px solid #ddd;
}
@media (max-width: 767px) {
    .tutor-dashboard-student-meta li {
        width: 100%;
        text-align: left;
        display: block;
    }
}
.tutor-dashboard-student-meta li h4{
    margin: 0;
}
.tutor-dashboard-student{
    padding: 30px 0;
}
.tutor-dashboard-permalinks{
    list-style: none;
    margin: 0 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 0;
}
.tutor-dashboard-permalinks li a{
    display: block;
    color: #000;
    padding: 5px 20px;
}
.tutor-dashboard-content{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
}
/* ***********************      */
/* End Tutor Student Dashboard  */
/************************       */
/**
Teacher
 */
.single-teacher-wrap{
    border: 1px solid #e8eff1;
    margin-bottom: 30px;
}
.single-teacher-wrap .single-teacher-top{
    display: flex;
    padding: 25px 20px;
}
.single-teacher-wrap .single-teacher-top h3, .single-teacher-wrap .single-teacher-top h4 {
    margin: 0;
    padding: 0;
}
.single-teacher-wrap .teacher-avatar{
    flex: 0 0 70px;
    text-align: center;
}
.single-teacher-wrap .teacher-avatar img{
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}
.single-teacher-wrap .teacher-name{
    flex: 0 0 170px;
}
.single-teacher-wrap .teacher-name h3{
    font-size: 16px;
}
.single-teacher-wrap .teacher-name h4{
    font-weight: 300;
    font-size: 12px;
    color: #bac0cf;
}
.single-teacher-wrap .single-teacher-bottom{
    display: flex;
    border-top: 1px solid #e8eff1;
    min-height: 30px;
    padding: 20px;
}
.single-teacher-wrap .single-teacher-bottom p{
    margin: 0;
}
.single-teacher-wrap .single-teacher-bottom .ratings{
    flex-basis: 0;
    flex-grow: 1;
}
.single-teacher-wrap .single-teacher-bottom .courses, .single-teacher-wrap .single-teacher-bottom .students{
    margin: 0 10px;
}

.single-teacher-wrap .single-teacher-bottom .ratings .rating-total-meta{
    color: #bac0cf;
}

.single-teacher-wrap .single-teacher-bottom .ratings .rating-generated{
    color: #f8c51c;
}

/**
Lesson Single Page
*/
.tutor-wrap .tutor-lesson-single-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.tutor-wrap .tutor-topics-wrap{
    width: 30%;
}
.tutor-wrap .tutor-lesson-content-wrap{
    width: 65%;
    margin-left: 3%;
}
.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson {
    background-color: #FDFDFD;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    padding: 10px;
}
.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson .tutor-topics-title h2{
    font-size: 18px;
}

.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson .tutor-lessons-under-topic p{
    margin: 0 0 10px 0;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic .active a{
    color: blue;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a span.lesson_title {
    flex: 1;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a span.play_duration {
    color: #666666;
    font-size: 14px;
}
.tutor-wrap .tutor-lesson-video-wrap{
    margin-bottom: 20px;
}
.tutor-wrap .tutor-attachments-wrap{
    margin: 50px 0;
}
.tutor-wrap .tutor-attachment-icon{
    float: left;
}
.tutor-wrap .tutor-attachment-icon img{
    max-width: 40px;
    display: block;
}
.tutor-wrap .tutor-attachment-info {
    padding-left: 60px;
}
.tutor-wrap .tutor-attachment-info p{
    margin: 0;
}
.tutor-wrap .tutor-attachment-info span{
    font-size: 12px;
    color: #bbb3b9;
}
.tutor-wrap a.tutor-lesson-attachment{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
.tutor-wrap a.tutor-lesson-attachment:hover {
    border: 1px solid #cccccc;
}
.tutor-progress-bar{
    /*border: 1px solid #ff562f;*/
    background-color: #ffffff;
    height: 25px;
    width: 300px;
    margin: 20px 0;
    font-size: 14px;
    color: #000000;
    text-align: center;
    line-height: 25px;
    position: relative;
    border-radius: 0px;
    background: #f1f1f1;
}
.tutor-progress-bar .tutor-progress-filled{
    background-color: #3798d9;
    height: 25px;
}
.tutor-progress-percent{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.tutor-course-purchase-box{
    margin-bottom: 20px;
}

/*.tutor-course-purchase-box{*/
    /*margin-bottom: 20px;*/
/*}*/
.tutor-alert-warning{
    padding: 10px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tutor-quizzes-list .quiz-single-item {
    display: flex;
}
.tutor-quizzes-list .quiz-single-item .quiz-title{
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-quizzes-list .quiz-single-item .quiz-time-limit {
    font-size: 12px;
    background: #ccc;
    padding: 3px 5px;
}

.tutor-lead-info-btn-group{
    margin-bottom: 30px;
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap{
    display: inline-block;
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap button{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    font-weight: normal;
    font-size: 14px;
}

/*******************/
/*tutor review form*/
/*******************/
.tutor-course-enrolled-review-wrap .write-course-review-link-btn{
    line-height: 45px;
    padding: 0 30px;
    background: #0d5ca2;
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
}

.tutor-course-enrolled-review-wrap  .tutor-form-group{
    margin-bottom: 20px;
}

.tutor-course-enrolled-review-wrap  .tutor-form-group textarea{
    height: 120px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 4px;
}

.tutor-course-enrolled-review-wrap .tutor-form-group button{
    background: #0d5ca2;
    color: #fff;
    margin-bottom: 0;
}

/*******************/
/*end tutor review form*/
/*******************/

/**
Tutor Dashboard Content
 */

/*
Form CSS
 */
.tutor-form-row{
    display: flex;
    margin: 10px 0;
}
.tutor-form-row .tutor-form-group{
    padding: 10px;
}
.tutor-form-col-6{
    flex: 0 0 50%;
}
.tutor-form-col-12{
    flex: 12;
}
.tutor-form-col-4{
    flex: 4;
}
ul.tutor-required-fields{
    list-style: none;
    padding: 10px;
    margin: 0;
}

.tutor-ratings-wrap {
    color: #f4c150;
}
.tutor-ratings-wrap i{
    cursor: pointer;
}
.tutor-queston-and-answer-wrap{
    margin: 20px 0;
}
.tutor-question-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.tutor-ask-question-btn{
    text-align: right;
}
.tutor-question-search-form{
    flex: 0 0 75%;
}
.tutor-question-search-form form {
    display: flex;
}
.tutor-question-search-form input[type="text"] {
    max-width: 60%;
}
.tutor-btn{
    background-color: #00B0F5;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}
.tutor-btn:hover{
    background-color: #029CD9;
    color: #ffffff;
}
.tutor-add-question-wrap{
    margin: 20px 0;
}
.tutor-add-question-wrap .tutor-form-group{
    margin-bottom: 10px;
}
.tutor_question_cancel{
    margin-right: 50px;
}
.updating-icon:before{
    font-family: 'fontello';
    margin-right: 5px;
    content: "\e809";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
/**
Course question and answer
 */
.tutor_question_answer_wrap .tutor-text-avatar{
    border-radius: 50%;
    /*border: 1px solid #686f7a;*/
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    line-height: 40px;
    color: #ffffff;
    font-size: 14px;
}
.tutor_original_question{
    display: flex;
    margin-bottom: 20px;
}
.tutor_original_question .question-left{
    flex: 0 0 60px;
}
.tutor_original_question .question-left img, .tutor_individual_answer .question-left img, .tutor_qa_avatar_left img, .review-left .review-avatar img{
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    border: 1px solid #eeee88;
    padding: 3px;
}
.question-right {
    width: 100%;
}
.tutor_question_area {
    border: 1px solid #f4f4f4;
    padding: 20px;
}
.tutor-bg-white{
    background-color: #ffffff;
}
.tutor-bg-light{
    background-color: #FDFDFD;
}
.tutor_admin_answers_list_wrap{
    margin-left: 50px;
}
.tutor_individual_answer{
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
}
.tutor_individual_answer .question-left{
    flex: 0 0 60px;
}
.tutor_add_answer_wrap .tutor-form-group{
    margin-bottom: 20px;
}
.tutor_wp_editor_show_btn_wrap{
    margin-bottom: 20px;
}
.tutor_add_answer_row{
    display: flex;
}
.tutor_add_answer_row .tutor_qa_avatar_left{
    flex: 0 0 60px;
}
.tutor_add_answer_row .tutor_add_answer_wrap {
    width: 100%;
}
.tutor-announcements-wrap{
    margin-top: 20px;
}
.tutor-no-announcements {
    text-align: center;
}
.tutor-announcement-meta{
    margin-bottom: 20px;
}
.tutor-announcement {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.announcement-delete-btn{
    float: right;
}
/**
Single Quiz
*/
.tutor-quiz-top{
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.tutor-quiz-top a{
    color: #1177d1;
}
.tutor-quiz-top a:hover{
    color: #0e63ae;
}
.tutor-quiz-top p{
    margin: 0;
}
.tutor-quiz-top-left {
    flex: 0 0 50%;
}
.tutor-quiz-top-right {
    flex: 0 0 50%;
    text-align: right;
}
.start-quiz-wrap {
    padding: 50px 0;
    text-align: center;
}
.quiz-answer-footer-bar {
    margin-top: 50px;
}
.quiz-attempts-row{
    display: flex;
}
span.result-pass{
    padding: 5px 10px;
    background-color: #04a704;
    color: #ffffff;
}
span.result-fail{
    padding: 5px 10px;
    background-color: #FF0000;
    color: #ffffff;
}
p.attempt-reviewed-text{
    font-size: 12px;
    color: #584dffe6;
    margin: 5px 0;
}

/* ********************* */
/*start global login form*/
/* ********************* */

.tutor-login-form-wrap p{
    margin: 0;
}
.tutor-login-form-wrap label{
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
}

.tutor-login-form-wrap input[type="password"],
.tutor-login-form-wrap input[type="text"]{
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 4px;
}

.tutor-login-form-wrap input[type="submit"]{
    background: #0d5ca2;
    color: #fff;
    margin-bottom: 0;
    margin-top: 15px;
    transition: 300ms;
}
.tutor-login-form-wrap input[type="submit"]:hover{
    filter: brightness(90%);
    background: #0d5ca2;
    color: #fff;
}
.tutor-login-form-wrap input[type="checkbox"]{
    margin-right: 4px;
}

/* ********************* */
/* Tutor Price Preview Box */
/* ********************* */

.tutor-price-preview-box{
    border: 1px solid #DCDFE5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.tutor-price-box-thumbnail{
    margin: -20px -20px 0;
}

.tutor-price-box-description h6{
    font-size: 23px;
    margin: 15px 0 5px;
}

.tutor-price-box-description ul{
    list-style: none;
}
.tutor-course-purchase-box .price{
    font-size: 35px;
    margin: 20px 0 10px;
    text-align: center;
}
.tutor-course-purchase-box .price del{
    font-size: 14px;
    line-height: 1;
}
.tutor-course-purchase-box .price ins{
    margin-left: 0;
}
.tutor-course-purchase-box button{
    background: #1B52D8;
    color: #fff;
    display: block;
    width: 100%;
}

.tutor-course-purchase-box button:hover{
    background: #000;
}


.tutor-course-purchase-box a{
    display: block;
    text-align: center;
    margin-top: 6px;
}

/* ************************ */
/* Tutor Course Review Wrap */
/* ************************ */

.tutor-course-reviews-wrap{
    border: 1px solid #E8EFF1;
}

.tutor-review-individual-item {
    font-size: 14px;
    border-top: 1px solid #E8EFF1;
    padding: 20px;
    overflow: hidden;
}

.course-avg-rating-wrap{
    padding: 20px 20px 20px 40px;
}

.tutor-review-individual-item .review-left{
    width: 230px;
    float: left;
    overflow: hidden;
}

.tutor-review-individual-item .review-content{
    padding-left: 230px;
}

.tutor-review-individual-item .review-avatar{
    width: 50px;
    float: left;;
}

.tutor-review-individual-item .review-avatar img{
    border-radius: 50%;
    margin: 0;
    border: none;
}

.tutor-review-individual-item .tutor-review-user-info{
    float: left;
    padding-left: 20px;
}

.tutor-review-individual-item .tutor-review-user-info p{
    margin-bottom: 0;
}

.review-avatar .tutor-text-avatar, .teacher-avatar .tutor-text-avatar{
    border-radius: 50%;
    /*border: 1px solid #686f7a;*/
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
}


.course-avg-rating-wrap .course-avg-rating {
    font-size: 50px;
}
.course-avg-rating-wrap p{
    margin: 0;
}

.tutor-review-individual-item .tutor-review-name{
    font-size: 16px;
    font-weight: 600;
}
.tutor-review-individual-item .review-meta{
    color: #B1B8C9;
}

.tutor-review-user-info .individual-review-rating-wrap{
    color: #F8C51C;
    margin-left: -2px;
}