@import "../icons/css/tutor-icon.css";

/*common*/
.tutor-wrap{
    color: #4B5981;
}
/*
.tutor-container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}*/
.tutor-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.tutor-col-auto, .tutor-col, .tutor-col-3, .tutor-col-4, .tutor-col-6, .tutor-col-8, .tutor-col-9, .tutor-col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.tutor-col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.tutor-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.tutor-col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.tutor-col-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.tutor-col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.tutor-col-8{
    -ms-flex: 0 0 66.666666%;
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}
.tutor-col-9{
    -ms-flex: 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.tutor-col-12{
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (max-width: 991px) {
    .tutor-col-auto, .tutor-col, .tutor-col-3, .tutor-col-4, .tutor-col-6, .tutor-col-8, .tutor-col-9{
        -ms-flex: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px) {
    .tutor-col-auto, .tutor-col, .tutor-col-3, .tutor-col-4, .tutor-col-6, .tutor-col-8, .tutor-col-9{
        -ms-flex: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.tutor-custom-list-style{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.tutor-custom-list-style li{
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    padding-left: 25px;
}

.tutor-custom-list-style li::before{
    content: '\e90f';
    position: absolute;
    left: 0;
    font-family: 'tutor';
    color: #1B52D8;
}

.tutor-mb-10{
    margin-bottom: 10px;
}
.tutor-mb-20{
    margin-bottom: 20px;
}
.tutor-mb-30{
    margin-bottom: 30px;
}
.tutor-mb-40{
    margin-bottom: 40px;
}

/********************/
/*start single course*/
/********************/

.tutor-course-content-content{
    font-size: 14px;
    line-height: 21px;
}

.tutor-single-course-segment{
    margin-bottom: 45px;
}

.tutor-full-width-course-top h4,
.tutor-full-width-course-top h5,
.tutor-full-width-course-top h6{
    color: #8C94A8;
    font-weight: 400;
}
.tutor-full-width-course-top h6{
    font-size: 14px;
}
.tutor-single-course-segment .tutor-segment-title,
.tutor-segment-title{
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 13px;
}
.tutor-leadinfo-top-meta{
    font-size: 14px;
    margin-bottom: 10px;
}
.tutor-leadinfo-top-meta span{
    display: inline-block;
    margin-right: 10px;
}


.tutor-leadinfo-top-meta i{
    margin-right: 4px;
}

.tutor-single-course-rating{
    color: #F8C51C;
    font-size: 16px;
}
.tutor-single-course-rating .tutor-single-rating-count{
    color: #4B5981;
}
.tutor-single-course-rating .tutor-single-rating-count i{
    color: #B1B8C9;
    font-style: normal;
    display: inline-block;
    margin-left: 4px;
}
.tutor-leadinfo-top-meta span i::before{
    margin-left: 0;
}
.tutor-course-header-h1{
    font-size: 36px;
    line-height: 46px;
    color: #4B5981;
    font-weight: 500;
    margin: 0 0 29px;
    padding: 0;
}
.tutor-course-summery{
    margin-bottom: 40px;
    font-size: 14px;
}

/*tutor course meta*/

.tutor-single-course-meta{
    color: #4B5981;
    font-size: 14px;
}
.tutor-single-course-meta ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    line-height: 21px;
}
.tutor-single-course-meta.tutor-meta-top ul{
    padding-top: 5px;
    padding-bottom: 15px;
}
.tutor-single-course-meta ul li{
    float: left;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tutor-single-course-meta .tutor-single-course-avatar img{
    height: 21px;
    width: 21px;
    display: block;
    border-radius: 50%;
    margin-right: 3px;
}

.tutor-single-course-meta ul li .tutor-single-course-avatar span{
    height: 21px;
    width: 21px;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    display: block;
    color: #ffffff;
}
.tutor-single-course-meta ul li > div{
    display: inline-block;
    vertical-align: top;
}
.tutor-single-course-meta ul li strong{
    margin: 0;
    display: inline-block;
    line-height: 21px;
    font-weight: 400;
    color: #8C94A8;
    font-size: 14px;
}
.tutor-single-course-meta ul li span,
.tutor-single-course-meta ul li a{
    color: #4B5981;
}
.tutor-single-course-meta.tutor-lead-meta{
    margin-bottom: 33px;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
}

@media (max-width: 991px) {
    .tutor-single-course-meta.tutor-lead-meta{
        border-bottom: none;
    }
    .tutor-single-course-meta.tutor-lead-meta ul{
        padding-bottom: 0;
    }
    .tutor-single-course-meta.tutor-lead-meta ul li{
        margin: 5px;
        padding: 5px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

.tutor-single-course-meta.tutor-lead-meta ul li strong{
    display: block;
    margin-bottom: 5px;
    color: #B1B8C9;
}
.tutor-single-course-meta.tutor-lead-meta ul li a{
    color: #4B5981;
}

.tutor-single-course-meta.tutor-lead-meta ul li a:not(:last-child)::after{
    content: ', ';
}
/*benifit*/
.tutor-course-benefits-content ul{
    list-style: none;
    display: block;
    overflow: hidden;
    column-count: 2;
    column-gap: 30px;
    margin: 0;
    font-size: 14px;
}

/*.tutor-course-topics-wrap*/

.tutor-course-topics-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}
.tutor-course-topics-header .tutor-course-topics-header-right span:not(:first-child){
    margin-left: 45px;
}
.tutor-course-topics-contents h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    color: #4B5981;
}
.tutor-course-topics-contents .tutor-course-title{
    cursor: pointer;
}
.tutor-course-topics-contents .tutor-course-title h4{
    color: #1B52D8;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
}

.tutor-course-topic.tutor-active .tutor-course-title h4 > i::before{
    content: "\e910";
}

.tutor-course-topics-contents .tutor-course-title h4 i{
    font-size: 15px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}
.tutor-course-topics-contents .tutor-course-topic{
    border: 1px solid #DCE4E6;
    margin-bottom: 20px;
    border-radius: 5px;
}
.tutor-course-title,
.tutor-course-lesson{
    padding: 14px 20px;
}
.tutor-course-lesson{
    border-top: 1px solid #DCE4E6;
}
.tutor-course-topics-contents .tutor-course-topic .tutor-course-lessons{
    display: none;
}
.tutor-course-lesson h5{
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0;
    display: flex;
}
.tutor-course-lesson h5 i{
    line-height: 22px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    color: #B1B8C9;
}
.tutor-course-lesson .lesson-preview-title {
    flex: 1 0 0;
}

/********************/
/*end single course*/
/********************/

/**
Icon Css
 */
div[class*="tutor-course-col"] {
    padding-left: 15px;
    padding-right: 15px;
}
.tutor-course-loop{
    background: #fff;
    color: #29303b;
    font-size: small;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 300ms;
    border: 1px solid #DCDFE5;
}
.tutor-course-header{
    position: relative;
}

.tutor-course-loop-header-meta{
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    overflow: hidden;
}

.tutor-course-loop-header-meta .tutor-course-wishlist{
    float: right;
    background: #fff;
    font-size: 19px;
    padding: 5px 5px;
    border-radius: 3px;
}

.tutor-course-loop-header-meta .tutor-course-wishlist a{
    display: block;
    color: #1B52D8;
}
.tutor-course-loop-header-meta .tutor-course-wishlist a:focus{
    outline: none;
}
.tutor-course-loop-header-meta .tutor-course-wishlist a.has-wish-listed::before{
    content: "\e908";
}
.tutor-course-loop-header-meta .tutor-course-wishlist a.updating-icon::before{
    content: '\e91d';
    margin-right: 0;
}
.tutor-course-loop-level{
    display: inline-block;
    background: #9013FE;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.tutor-course-loop:hover{
    box-shadow: 0 4px 23px rgba(0,0,0,.1);
}
.tutor-course-loop p{
    margin: 0;
}
.tutor-course-loop .tutor-course-header a,
.tutor-course-loop .tutor-course-header a img{
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.tutor-loop-course-container{
    padding: 20px 15px;
}
.tutor-loop-rating-wrap{
    color: #F8C51C;
    margin-bottom: 2px;
    font-size: 16px;
}
.tutor-loop-rating-wrap i::before{
    margin-right: 3px;
    margin-left: 0;
}
.tutor-course-loop-title a h2{
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 17px;
    color: #4B5981;
}
.tutor-loop-course-footer{
    padding: 10px 15px;
    border-top: 1px solid #DCDFE5;
    color: #838791;
    font-size: 12px;
    line-height: 17px;
    line-height: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.tutor-loop-course-footer::after{
    content: '';
    display: table;
    clear: both;
}

.tutor-loop-course-footer i{
    font-size: 15px;
    color: #8C94A8;
    line-height: 25px;
    vertical-align: middle;
    margin-right: 3px;
}
.tutor-loop-course-footer i:not(:first-child){
    margin-left: 12px;
}

.tutor-loop-course-footer span{
    display: inline-block;
    line-height: 25px;
}

.tutor-course-loop-price{
    float: right;
    color: #4B5981;
    font-size: 17px;
    font-weight: 600;
}
.tutor-course-loop-price .price del{
    font-size: 12px;
    opacity: 1;
    font-weight: 400;
}

.tutor-course-loop-price .price del span{
    text-decoration: line-through;
    color: #8C94A8;
}

.tutor-course-loop-price .price del + ins{
    background: transparent;
    margin-left: 0;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    position: absolute;
    left: -1px;
    top: 0;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    color: #fff;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: 100ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: blue;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 600;
    -webkit-animation: rotate_cs 5s infinite; /* Safari 4.0 - 8.0 */
    animation: rotate_cs 5s infinite;
    padding: 0;
    display: block;
    width: 100%;
    line-height: 48px;
    background: blue;
}
.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added{
    display: none;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added_to_cart{
    background-color: #000000;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a::before{
    content: '\e915';
    font-family: "tutor";
    margin-right: 5px;
}


.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added_to_cart::before{
    display: none;
}


/* Standard syntax */
@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tutor-course-loop:hover .tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    opacity: 1;
}
/* layout*/
.tutor-course-col-4{
    width: 25%;
}
.tutor-course-col-3{
    width: 33.33%;
}
.tutor-course-col-2{
    width: 50%;
}
.tutor-course-col-1{
    width: 100%;
}
.tutor-course-col-1 .tutor-course-loop{
    width: 100%;
}
.tutor-course-col-5{
    width: 20%;
}
.tutor-course-col-6{
    width: 16.66%;
}

@media (max-width: 767px) {
    .tutor-course-col-6,
    .tutor-course-col-5,
    .tutor-course-col-4,
    .tutor-course-col-3,
    .tutor-course-col-2{
        width: 50%;
    }
}

@media (max-width: 575px) {
    .tutor-course-col-6,
    .tutor-course-col-5,
    .tutor-course-col-4,
    .tutor-course-col-3,
    .tutor-course-col-2{
        width: 100%;
    }
}

.tutor-course-loop-title h2{
    font-size: 1rem;
}
.tutor-course-filter-wrap{
    clear: both;
    margin-bottom: 20px;
}
.tutor-course-archive-results-wrap{
    float: left;
    width: 45%;
}
.tutor-course-archive-filters-wrap{
    float: right;
    width: 45%;
    text-align: right;
}
.tutor-courses{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}
.clearfix:before, .clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.tutor-loop-author, .tutor-meta{
    color: #bac0cf;
}
.tutor-text-mute{
    color: #bac0cf;
}

.tutor-loop-author{
    overflow: hidden;
}

.tutor-loop-author .tutor-single-course-avatar img{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    margin-right: 6px;
}
.tutor-loop-author .tutor-single-course-avatar .tutor-text-avatar{
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    margin-right: 6px;
}

.tutor-loop-author > div{
    display: inline-block;
    float: left;
}

.tutor-loop-author > div span,
.tutor-loop-author > div a{
    color: #4B5981;
}

.tutor-loop-author > div strong{
    display: inline-block;
    margin: 0 2px 0 2px;
    font-size: 14px;
    color: #8C94A8;
    font-weight: 600;
    line-height: 25px;
}

.tutor-course-lising-category a:not(:last-child):after{
    content: ', ';
}

/**
Topicstutor-course-title
 */
.tutor-course-enroll-wrap{
    padding: 20px 0;
}
.tutor-wrap .tutor-course-enrolled-wrap{
    background: #ecffec;
    padding: 20px;
    border: 1px solid #b7d6b7;
}
.tutor-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-bottom: 10px;
}
.single_add_to_cart_button,
a.tutor-button,
.tutor-button,
a.tutor-btn,
.tutor-btn{
    color: #fff;
    background-color: #1B52D8;
    border-color: #1B52D8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 14px;
}
a.tutor-button:hover,
.tutor-button:hover,
a.tutor-btn:hover,
.tutor-btn:hover {
    background-color: #1B52D8;
    border-color: #1B52D8;
    color: #fff;
    filter: brightness(.9);
}

.tutor-button.tutor-danger{
    background-color: #E53935;
    border-color: #E53935;
}
.tutor-button.tutor-success{
    background: #86B223;
    border-color: #86B223;
}

.course-enrolled-nav-wrap{
    border-bottom: 1px solid #dedfe0;
    margin-bottom: 45px;
}
.tutor-wrap nav.course-enrolled-nav ul{
    list-style: none;
    margin: 0 0 -1px;
}
.tutor-wrap nav.course-enrolled-nav ul li{
    display: inline-block;
}
.tutor-wrap nav.course-enrolled-nav ul li a{
    display: block;
    font-size: 16px;
    padding: 5px 0 20px;
    margin-right: 20px;
    color: #B1B8C9;
    border-bottom: 2px solid transparent;
}
.tutor-wrap nav.course-enrolled-nav ul li.active a{
    border-bottom: 2px solid #1B52D8;
    color: #4B5981;
}
/* *********************** */
/* Tutor Student Dashboard */
/* *********************** */

.tutor-dashboard-avater img{
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
}

.tutor-dashboard-student-info h4{
    font-size: 18px;
    color: #8C94A8;
    margin-bottom: 0;
}


.tutor-dashboard-student-info h4 a{
    color: #4B5981;
}

.tutor-dashboard-user-role{
    font-size: 14px;
    font-weight: 400;
}

.tutor-dashboard-student-meta ul{
    list-style: none;
    margin: 20px 0 40px;
    padding: 15px 0;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
    font-size: 14px;
}

.tutor-dashboard-student-meta ul li{
    display: inline-block;
    color: #4B5981;
    margin-left: 60px;
}

.tutor-dashboard-student-meta ul li:first-child{
    margin-left: 0;
}
@media (max-width: 767px){
    .tutor-dashboard-student-meta ul{
        display: block;
        border: none;
        padding: 0;
    }
    .tutor-dashboard-student-meta ul li{
        display: inline-block;
        color: #4B5981;
        margin: 5px;
        border: 1px solid #dddddd;
        padding: 5px 10px;
        border-radius: 4px;
        margin-left: 5px;
    }
}
.tutor-dashboard-student-meta ul li strong{
    display: block;
    color: #B1B8C9;
    font-weight: 400;
}


.tutor-dashboard-permalinks{
    list-style: none;
    margin: 0 0 20px;
    border: 1px solid #E8EFF1;
    border-radius: 4px;
    font-size: 14px;
    padding: 0;
}
.tutor-dashboard-permalinks li:not(:last-child){
    border-bottom: 1px solid #E8EFF1;
}

@media (max-width: 991px) {
    ul.tutor-dashboard-permalinks li{
        display: inline-block;
        border-bottom: none !important;
        border-right: 1px solid #E8EFF1;
    }
    ul.tutor-dashboard-permalinks li:last-child{
        border-right-color: transparent;
    }
    .tutor-dashboard-student .tutor-col-3,
    .tutor-dashboard-student .tutor-col-9{
        flex: 0 0 100%;
        max-width: 100%;
    }
}



.tutor-dashboard-permalinks li a{
    display: block;
    color: #4B5981;
    padding: 10px 20px;
    line-height: 28px;
}
.tutor-dashboard-content h1{
    color: #8C94A8;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 17px;
}

/*.tutor-dashboard-content-inner:not(:empty){}*/


.tutor-dashboard-content-inner .tutor-mycourse-wrap{
    padding: 20px;
    border: 1px solid #DCDFE5;
    border-radius: 4px;
    margin-bottom: 30px;
}

.tutor-mycourse-rating{
    color: #F8C51C;
    font-size: 12px;
}

.tutor-mycourse-rating i{
    margin-right: 4px;
}

.tutor-dashboard-content-inner{
    font-size: 14px;
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap p:last-child{
    margin-bottom: 0;
}

.tutor-dashboard-content-inner h3 a{
    color: #4B5981;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    display: block;
}

.tutor-dashboard-content-inner .tutor-course-metadata ul{
    display: block;
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    font-size: 14px;
}

.tutor-dashboard-content-inner .tutor-progress-bar-wrap{
    margin-bottom: 20px;
}
.tutor-dashboard-content-inner .tutor-course-metadata li{
    display: inline-block;
    color: #8C94A8;
    margin-left: 20px;
}

.tutor-dashboard-content-inner .tutor-course-metadata li:first-child{
    margin-left: 0;
}

.tutor-dashboard-content-inner .tutor-course-metadata li span{
    color: #4B5981;
    margin-left: 5px;
}

/* ***********************      */
/* End Tutor Student Dashboard  */
/************************       */
/**
Instructor
 */
.single-instructor-wrap{
    border: 1px solid #e8eff1;
    margin-bottom: 30px;
    font-size: 14px;
    border-radius: 4px;
}
.single-instructor-wrap .single-instructor-top{
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #e8eff1;
}
.single-instructor-wrap .single-instructor-top h3,
.single-instructor-wrap .single-instructor-top h4 {
    margin: 0;
    padding: 0;
}
.single-instructor-wrap .tutor-instructor-left{
    float: left;
    overflow: hidden;
}
.single-instructor-wrap .instructor-avatar{
    float: left;
}
.single-instructor-wrap .instructor-avatar img{
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}
.single-instructor-wrap .instructor-name{
    float: left;
    padding-left: 20px;
    max-width: 130px;
}
.single-instructor-wrap .instructor-name h3{
    font-size: 16px;
    color: #4B5981;
    font-weight: 600;
}
.single-instructor-wrap .instructor-name h3 a{
    font-weight: 500;
    color: #4B5981;
}
.single-instructor-wrap .instructor-name h4{
    font-weight: 400;
    font-size: 14px;
    color: #B1B8C9;
}
.single-instructor-wrap .instructor-bio{
    padding-left: 220px;
    font-size: 14px;
}
.single-instructor-wrap .single-instructor-bottom{
    padding: 15px 20px;
    text-align: right;
    overflow: hidden;
}
.single-instructor-wrap .single-instructor-bottom p{
    margin: 0;
}
.single-instructor-wrap .single-instructor-bottom .ratings{
    float: left;
}

.single-instructor-wrap .single-instructor-bottom .ratings i{
    margin-right: 4px;
}
.single-instructor-wrap .single-instructor-bottom .courses,
.single-instructor-wrap .single-instructor-bottom .students{
    display: inline-block;
    margin-left: 20px;
}


.single-instructor-wrap .single-instructor-bottom .courses i,
.single-instructor-wrap .single-instructor-bottom .students i{
    font-size: 18px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.single-instructor-wrap .single-instructor-bottom .ratings .rating-total-meta{
    color: #bac0cf;
}

.single-instructor-wrap .single-instructor-bottom .ratings .rating-generated{
    color: #f8c51c;
}

/* ***********************      */
/* Single Lesson  */
/************************       */

/*lesson list*/
.tutor-single-lesson-button-group,
.tutor-topics-lesson-list .tutor-topics-in-single-lesson{
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid #E8EFF1;
}

.tutor-single-lesson-button-group .tutor-single-lesson-button a,
.tutor-topics-in-single-lesson .tutor-single-lesson-items a{
    padding: 14px 75px 14px 17px;
    font-size: 14px;
    display: flex;
    color: #4B5981;
    position: relative;
    border-top: 1px solid #E8EFF1;
}

.tutor-single-lesson-button-group .tutor-single-lesson-button:first-child a{
    border-top: none;
}

.tutor-lessons-under-topic .tutor-single-lesson-items.active a{
    background: rgba(233, 235, 238, 0.35);
}

.tutor-topics-in-single-lesson .tutor-single-lesson-items a span{
    font-size: 14px;
    margin: 0;
    display: inline;
    color: #4B5981;
}

.tutor-topics-in-single-lesson .tutor-topics-title h3{
    margin: 0;
    padding: 14px 17px;
    font-size: 16px;
    color: #1B52D8;
    font-weight: 500;
}
.tutor-topics-in-single-lesson .tutor-topics-title.has-summery h3{
    cursor: pointer;
}

.tutor-topics-in-single-lesson .tutor-topics-title h3 i{
    font-size: 10px;
    margin-left: 6px;
}

.tutor-topics-in-single-lesson .tutor-topics-tutor-loop-rating-wraptitle h3 i{
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    color: #C7C7C7;
    transition: 300ms;
    cursor: pointer;
}


.tutor-topics-in-single-lesson .tutor-topics-title h3 i:hover{
    color: #1B52D8;
}

.tutor-single-lesson-button-group .tutor-single-lesson-button a > i:first-child,
.tutor-topics-in-single-lesson .tutor-single-lesson-items a > i:first-child{
    color: #C7C7C7;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.tutor-topics-in-single-lesson .tutor-single-lesson-items a > i.tutor-icon-doubt{
    color: #1B52D8;
}

.tutor-topics-in-single-lesson .tutor-topics-summery{
    padding: 14px;
    font-size: 14px;
    border-top: 1px solid #DCE4E6;
    display: none;
}

.tutor-topics-lesson-list .tutor-lesson-right-icons{
    position: absolute;
    right: 15px;
    top: 14px;
}

.tutor-topics-lesson-list .tutor-lesson-right-icons .tutor-lesson-complete{
    height: 16px;
    width: 16px;
    border: 1px solid #E8EFF1;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    margin-left: 8px;
}
.tutor-topics-lesson-list .tutor-single-lesson-items.active .tutor-lesson-right-icons .tutor-lesson-complete{
    border-color: #b7d6b7;
}

.tutor-topics-lesson-list .tutor-single-lesson-items.active .tutor-lesson-right-icons .tutor-lesson-complete.tutor-done,
.tutor-topics-lesson-list .tutor-lesson-right-icons .tutor-lesson-complete.tutor-done{
    background: #86B223;
    border-color: #86B223;
    color: #fff;
}

.tutor-topics-lesson-list .tutor-lesson-right-icons i{
    font-style: normal;
}

/*video*/

.tutor-single-lesson-segment{
    margin-bottom: 35px;
}

.tutor-single-lesson-wrap{
    font-size: 14px;
    font-weight: 400;
}

.tutor-lesson-video-wrap .plyr--video{
    border-radius: 4px;
}

/*attachment*/


.tutor-attachments-wrap{
    margin: -3px -3px 15px -3px;
}

.tutor-attachments-wrap .tutor-lesson-attachment{
    display: inline-block;
    border: 1px solid #E8EFF1;
    border-radius: 4px;
    padding: 10px 16px 10px 12px;
    overflow: hidden;
    background: #F4F7F8;
    margin: 3px;
    transition: 300ms;
}

.tutor-attachments-wrap .tutor-lesson-attachment:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.tutor-attachments-wrap .tutor-attachment-icon{
    font-size: 30px;
    float: left;
    color: #4B5981;
}
.tutor-attachments-wrap .tutor-attachment-icon i{
    display: block;
}
.tutor-attachment-info {
    padding-left: 10px;
    float: left;
}
.tutor-attachment-info span{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #4B5981;
}

.tutor-attachment-info span + span{
    font-size: 11px;
    color: #B1B8C9;
}
/*course status*/
.tutor-progress-bar-wrap{
    width: 100%;
    margin: 0;
    font-size: 14px;
    margin-bottom: 30px;
    display: flex;
}
.tutor-progress-bar{
    background-color: #ffffff;
    height: 8px;
    color: #000000;
    line-height: 25px;
    position: relative;
    border-radius: 0px;
    background: #f1f1f1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-radius: 30px;
    margin-top: 7.5px;
}

.tutor-progress-bar .tutor-progress-filled{
    background-color: #1B52D8;
    height: 8px;
    border-radius: 30px;
    width: var(--tutor-progress-left);
}

.tutor-progress-bar .tutor-progress-filled::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border: 5px solid #1B52D8;
    border-radius: 50%;
    background: #fff;
    left: var(--tutor-progress-left);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    box-sizing: border-box;
}

.tutor-progress-percent{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-left: 20px;
}
.tutor-course-purchase-box{
    margin-bottom: 0;
}

.tutor-price-preview-box .tutor-course-purchase-box button{
    display: block;
    width: 100%;
    background: #1B52D8;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.tutor-price-preview-box .tutor-course-purchase-box button i{
    margin-right: 8px;
}

.tutor-price-preview-box .tutor-course-enrolled-wrap,
.tutor-price-preview-box .tutor-course-login-wrap,
.tutor-price-preview-box .tutor-course-login-wrap form,
.tutor-course-purchase-box form{
    margin-bottom: 0;
}
.tutor-price-preview-box .tutor-course-material-includes-wrap{
    margin-bottom: 25px;
}

.tutor-alert-warning{
    padding: 10px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tutor-lead-info-btn-group{
    display: block;
    overflow: hidden;
    margin: -10px -10px 35px;
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap{
    display: inline-block;
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap form{
    margin: 0;
}

.tutor-lead-info-btn-group a.tutor-button,
.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap button{
    display: block;
    padding: 14px 20px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    background: #1B52D8;
    color: #fff;
    transition: 300ms;
}
.tutor-lead-info-btn-group a.tutor-button,
.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap{
    width: calc(50% - 22px);
    text-align: center;
    margin: 10px;
    display: inline-block;
}

@media (max-width: 991px) {
    .tutor-lead-info-btn-group a.tutor-button,
    .tutor-lead-info-btn-group .tutor-course-compelte-form-wrap{
        width: auto;
    }
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap button{
    display: block;
    width: 100%;
    background: #E8EFF1;
    color: #B1B8C9;
}

.tutor-lead-info-btn-group a.tutor-button:hover{
    background: #1b4cab;
    color: #ffffff;
}

.tutor-lead-info-btn-group .tutor-course-compelte-form-wrap button:hover{
    background: #1B52D8;
    color: #ffffff;
}

.tutor-single-add-to-cart-box .tutor-enroll-form{
    margin: 0;
}

.tutor-single-add-to-cart-box .tutor-enroll-form .tutor-course-enroll-wrap{
    padding: 0;
}
.tutor-single-add-to-cart-box .tutor-enroll-form .tutor-course-enroll-wrap button{
    display: block;
    width: 100%;
    text-align: center;
}

/*******************/
/*tutor review form*/
/*******************/
.tutor-course-enrolled-review-wrap .write-course-review-link-btn{
    color: #fff;
    background-color: #1B52D8;
    border-color: #1B52D8;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
}

.tutor-course-enrolled-review-wrap  .tutor-form-group{
    margin-bottom: 10px;
}

.tutor-course-enrolled-review-wrap  .tutor-form-group textarea{
    height: 120px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 4px;
    line-height: 1.5;
    text-indent: 0;
    padding: 15px;
}



/*******************/
/*end tutor review form*/
/*******************/

/**
Tutor Dashboard Content
 */

/*
Form CSS
 */
.tutor-form-row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.tutor-form-col-4,
.tutor-form-col-6,
.tutor-form-col-12{
    padding-left: 15px;
    padding-right: 15px;
}
.tutor-form-col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.tutor-form-col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.tutor-form-col-4{
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

@media (max-width: 768px) {
    .tutor-form-row{
        flex-wrap: wrap;
    }
    .tutor-form-col-4,
    .tutor-form-col-6,
    .tutor-form-col-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

ul.tutor-required-fields{
    list-style: none;
    padding: 10px;
    margin: 0;
}

.tutor-ratings-wrap {
    color: #f4c150;
    margin-top: 20px;
    display: block;
}
.tutor-ratings-wrap i{
    cursor: pointer;
    margin-right: 4px;
}
.tutor-queston-and-answer-wrap{
    margin: 20px 0;
}
.tutor-question-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.tutor-ask-question-btn{
    text-align: right;
}
.tutor-question-search-form{
    flex: 0 0 75%;
}
.tutor-question-search-form form {
    display: flex;
}
.tutor-question-search-form input[type="text"] {
    max-width: 60%;
}
.tutor-add-question-wrap{
    margin: 20px 0;
}
.tutor-add-question-wrap .tutor-form-group{
    margin-bottom: 10px;
}
.tutor_question_cancel{
    margin-right: 5px;
}
.updating-icon:before{
    font-family: 'tutor';
    margin-right: 5px;
    content: "\e91d";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
.loading-lesson:before{
    font-family: 'tutor';
    margin-right: 5px;
    content: "\e91d";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 50px;
}
.loading-lesson:after {
    position: absolute;
    content: "";
    top: 0;
    background: rgba(255,255,255, 0.8);
    width: 100%;
    height: 99%;
}
/**
Course question and answer
 */


/* ********************* */
/* Question and Answer */
/* ********************* */

/*.tutor-question-wrap{*/

/*}*/

.tutor_question_area {
    padding: 25px 20px;
    background: #F4F7F8;
    border-radius: 4px;
}

.tutor_question_area p:last-child{
    margin-bottom: 0;
}

.tutor_add_answer_row{
    text-align: right;
    margin-top: 20px;
}

.tutor_add_answer_row .tutor-form-group:last-child{
    margin-top: 20px;
}

.tutor_admin_answers_list_wrap + .tutor_add_answer_row,
.tutor_admin_answers_list_wrap{
    margin-left: 100px;
}

@media (max-width: 991px) {
    .tutor_admin_answers_list_wrap + .tutor_add_answer_row,
    .tutor_admin_answers_list_wrap{
        margin-left: 30px;
    }
}

.tutor_original_question{
    margin-bottom: 30px;
}
.tutor_admin_answers_list_wrap .tutor_individual_answer{
    margin-bottom: 40px;
}

.tutor_admin_answers_list_wrap .tutor_question_area{
    background: #EDF9F1;
}

.question-top-meta .tutor-question-avater a{
    display: inline-block;
}
.question-top-meta .tutor-question-avater a span{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
}

.question-top-meta .tutor-question-avater a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.question-top-meta{
    overflow: hidden;
    margin-bottom: 20px;
}
.question-top-meta .tutor-question-avater{
    float: left;
}
.question-top-meta .review-meta{
    float: left;
    margin-bottom: 0;
    margin-left: 10px;
}
.question-top-meta .review-meta a{
    display: block;
    font-size: 18px;
    color: #4B5981;
    line-height: 20px;
}
.question-top-meta .review-meta span{
    color: #B1B8C9;
    font-size: 14px;
    vertical-align: text-top;
    display: block;
}
.tutor_wp_editor_wrap .tutor-form-group a.tutor-button{
    margin-right: 6px;
}

/*anouncement*/


.tutor-no-announcements {
    text-align: center;
}
.tutor-announcement-meta{
    margin-bottom: 10px;
    font-size: 13px;
}
.tutor-announcement {
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;

}
.announcement-delete-btn{
    float: right;
}

.tutor-announcement-title-wrap h3{
    color: #4B5981;
    font-weight: 500;
    margin-bottom: 10px;
}


/* ********************* */
/* Single Quiz */
/* ********************* */

.tutor-quiz-header span{
    background: #F88F1C;
    color: #ffffff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 10px;
}

.tutor-quiz-header h2{
    color: #4B5981;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 15px;
}

.tutor-quiz-header h5{
    font-size: 14px;
    color: #8C94A8;
}
.tutor-quiz-header h5 a{
    color: #4B5981;
    font-size: 14px;
    font-weight: 500;
}
.tutor-quiz-header .tutor-quiz-meta{
    list-style: none;
    margin: 20px 0 40px;
    padding: 15px 0;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


.tutor-quiz-header .tutor-quiz-meta li{
    display: inline-block;
    color: #4B5981;
}


@media (max-width: 767px) {
    .tutor-quiz-header .tutor-quiz-meta{
        display: block;
        border: none;
        padding: 0;
    }
    .tutor-quiz-header .tutor-quiz-meta li{
        display: inline-block;
        color: #4B5981;
        margin: 5px;
        border: 1px solid #dddddd;
        padding: 5px 10px;
        border-radius: 4px;
    }
}

.tutor-quiz-header .tutor-quiz-meta li strong{
    display: block;
    color: #B1B8C9;
    font-weight: 400;
}

.tutor-quiz-attempt-history{
    overflow-x: auto;
}

.tutor-quiz-attempt-history-title{
    font-size: 18px;
    color: #8C94A8;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 70px;
}

.tutor-quiz-attempt-history table{
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 14px;
}
.tutor-quiz-attempt-history th{
    font-weight: 400;
}
.tutor-quiz-attempt-history table,
.tutor-quiz-attempt-history th,
.tutor-quiz-attempt-history td{
    border: 1px solid #E8EFF1;
}


.tutor-quiz-attempt-history table span.result-fail,
.tutor-quiz-attempt-history table span.result-pass{
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    width: 47px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.tutor-quiz-attempt-history table span.result-fail{
    background: #DF3247;
}

.tutor-quiz-attempt-history table span.result-pass{
    background: #99C335;
}

.quiz-head-meta-info{
    font-size: 14px;
    color: #8C94A8;
    margin-bottom: 40px;
}

.quiz-head-meta-info span{
    color: #4B5981;
}

.tutor-quiz-single-wrap .question-text{
    color: #4B5981;
    font-size: 20px;
    font-weight: 600;
}

.tutor-quiz-answare-wrap{
    margin-bottom: 40px;
}

.tutor-quiz-answare-wrap label{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.tutor-quiz-answare-wrap label input{
    display: none;
}

.tutor-quiz-answare-wrap label input + span{
    line-height: 20px;
}

.tutor-quiz-answare-wrap label input + span::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #DEDEDE;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tutor-quiz-answare-wrap label input:checked + span::before{
    background: #1B52D8;
    border-color: #1B52D8;
}


.tutor-quiz-answare-wrap label input:checked + span::after{
    content: '\e90f';
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'tutor';
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    font-size: 14px;
}


.tutor-quiz-answare-wrap label input[type="radio"] + span::before{
    content: '';
    border-radius: 50%;
}

.tutor-quiz-answare-wrap label input[type="radio"] + span::after{
    content: '';
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    left: 6px;
}

/* ********************* */
/*start global login form*/
/* ********************* */

.tutor-login-wrap{
    max-width: 560px;
    margin: 0 auto;
}

.tutor-login-form-wrap p{
    margin-bottom: 0;
}

.tutor-login-form-wrap label{
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
}

.tutor-login-form-wrap input[type="password"],
.tutor-login-form-wrap input[type="text"]{
    width: 100%;
    display: block;
    border: 1px solid #E8EFF1;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #ffffff;
    line-height: 48px;
    padding: 0;
    text-indent: 15px;
}
.tutor-login-form-wrap input[type="password"]:focus,
.tutor-login-form-wrap input[type="text"]:focus{
    background: #ffffff;
    border-color: #1B52D8;
}

.tutor-login-form-wrap input::-webkit-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-login-form-wrap input::-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-login-form-wrap input:-ms-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-login-form-wrap input:-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}

.tutor-login-rememeber-wrap{
    overflow: hidden;
    text-align: right;
    margin-bottom: 30px;
}

.tutor-login-rememeber-wrap p{
    display: inline-block;
    float: left;
}

.tutor-login-rememeber-wrap p,
.tutor-login-rememeber-wrap label{
    margin: 0;
}


.tutor-form-register-wrap a,
.tutor-login-rememeber-wrap a,
.tutor-login-rememeber-wrap label{
    color: #606C8F;
    font-size: 14px;
    vertical-align: middle;
    opacity: .5;
    transition: 300ms;
}



.tutor-form-register-wrap a:hover,
.tutor-login-rememeber-wrap a:hover,
.tutor-login-rememeber-wrap label:hover{
    opacity: 1;
}


.tutor-login-form-wrap input[type="submit"]{
    color: #fff;
    background-color: #86B223;
    border-color: #86B223;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    display: block;
    width: 100%;
    transition: 300ms;
}
.tutor-login-form-wrap input[type="submit"]:hover{
    color: #fff;
    background-color: #759c1f;
    border-color: #759c1f;
}


.tutor-login-form-wrap input[type="checkbox"]{
    margin-right: 4px;
}

.tutor-form-register-wrap{
    text-align: center;
    margin-top: 15px;
}

/*course login*/

.tutor-course-login-wrap h4{
    font-size: 18px;
    margin-bottom: 28px;
}

/* ********************* */
/*start registration form*/
/* ********************* */

.tutor-form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.tutor-form-group textarea,
.tutor-form-group input:not([type="submit"]){
    width: 100%;
    display: block;
    border: 1px solid #E8EFF1;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #ffffff;
    line-height: 48px;
    padding: 0;
    text-indent: 15px;
    transition: 300ms;
}

.tutor-form-group textarea:focus,
.tutor-form-group input:not([type="submit"]):focus{
    background: #ffffff;
    border-color: #1B52D8;
}

.tutor-form-group textarea::-webkit-input-placeholder ,
.tutor-form-group input::-webkit-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-form-group textarea::-moz-placeholder ,
.tutor-form-group input::-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-form-group textarea:-ms-input-placeholder ,
.tutor-form-group input:-ms-input-placeholder {
    color: #b0b6c8;
    opacity: 1;
}
.tutor-form-group textarea:-moz-placeholder ,
.tutor-form-group input:-moz-placeholder {
    color: #b0b6c8;
    opacity: 1;
}

.tutor-form-group.tutor-reg-form-btn-wrap{
    text-align: right;
}

.tutor-form-group.tutor-reg-form-btn-wrap .tutor-button{
    background: #86B223;
    border-color: #86B223;
}

/* ********************* */
/* Tutor Price Preview Box */
/* ********************* */

.tutor-price-preview-box{
    border: 1px solid #DCDFE5;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.tutor-price-box-thumbnail{
    margin: -20px -20px 25px;
}

.tutor-price-box-description h6{
    font-size: 23px;
    margin: 15px 0 5px;
}

.tutor-price-box-description ul{
    list-style: none;
}

.tutor-course-purchase-box a{
    display: block;
    text-align: center;
    margin-top: 6px;
}

.tutor-price-preview-box .price{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 0;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 20px;
}

.tutor-price-preview-box .price del{
    font-size: 14px;
}


.tutor-price-preview-box .price del + ins{
    margin-left: 0;
    float: left;
}

/* ************************ */
/* Tutor Course Review Wrap */
/* ************************ */

.tutor-course-reviews-wrap{
    border: 1px solid #E8EFF1;
    border-radius: 4px;
}

.tutor-course-avg-rating-total{
    color: #B1B8C9;
    font-size: 14px;
}
.tutor-course-avg-rating-total span{
    color: #4B5981;
}

.tutor-review-individual-item {
    font-size: 14px;
    border-top: 1px solid #E8EFF1;
    padding: 20px;
    overflow: hidden;
}
.tutor-review-individual-item p{
    margin: 0;
    padding: 0;
}
.course-avg-rating-wrap{
    padding: 20px 20px 20px 40px;
}
.tutor-review-individual-item .review-left{
    width: 230px;
    float: left;
    overflow: hidden;
}

.tutor-review-individual-item .review-content{
    padding-left: 230px;
}

@media (max-width: 991px) {
    .tutor-review-individual-item .review-left{
        width: 100%;
        float: none;
        margin-bottom: 25px;
    }
    .tutor-review-individual-item .review-content{
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .tutor-single-course-sidebar{
        margin-top: 30px;
    }
}

.tutor-review-individual-item .review-avatar{
    width: 50px;
    float: left;;
}
.tutor-review-individual-item .review-avatar img{
    border-radius: 50%;
    margin: 0;
    border: none;
    max-width: 100%;
    height: auto;
}
.tutor-review-individual-item .tutor-review-user-info{
    float: left;
    padding-left: 20px;
}
.tutor-review-individual-item .tutor-review-user-info p{
    margin-bottom: 0;
}
.review-avatar .tutor-text-avatar,
.tutor-dashboard-avater .tutor-text-avatar,
.instructor-avatar .tutor-text-avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
}
.course-avg-rating-wrap .course-avg-rating {
    font-size: 76px;
    line-height: 1;
    font-weight: 600;
}
.course-avg-rating-wrap p{
    margin: 0;
}

.tutor-review-individual-item .tutor-review-name{
    font-size: 16px;
    font-weight: 600;
}
.tutor-review-individual-item .review-meta{
    color: #B1B8C9;
}

.individual-review-rating-wrap{
    color: #F8C51C;
}
.individual-review-rating-wrap i,
.course-avg-rating-html i{
    margin-right: 4px;
    color: #F8C51C;
}



/* ********************* */
/* Tutor Pagination Wrap */
/* ********************* */

.tutor-pagination-wrap{
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}
.tutor-pagination-wrap a,
.tutor-pagination-wrap span{
    padding: 3px 10px;
    border: 1px solid #dddddd;
    display: inline-block;
    color: #4B5981;
}
.tutor-pagination-wrap span{
    color: #1B52D8;
    border-color: #1B52D8;
}


/* ********************* */
/* Tutor Course Tags */
/* ********************* */

.tutor-course-tags{
    margin: -5px;
}
.tutor-course-tags a{
    padding: 6px 15px;
    background: #E8EFF1;
    display: inline-block;
    margin: 5px;
    color: #4B5981;
    border-radius: 2px;
    transition: 300ms;

}

.tutor-course-tags a:hover{
    color: #000;
}
.certificate-download-btn{
    margin-top: 20px;
}