/**
@package: Tutor LMS
@author: themeum
 */

/** Slider CSS */
@import "../icons/css/tutor-icon.css";

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
/*----------------------------------
    Component containers
----------------------------------*/
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6; font-weight: normal; color: #555555; }
/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee; color: #363636; }

/**
TUTOR CSS
 */

.tutor-option-nav-tabs{

}
.tutor-option-nav-tabs li{
    position: relative;
    display: inline-block;
    margin-right: -1px;
}
.tutor-option-nav-tabs li:after {
    content: "|";
    position: absolute;
    top: 0;
    right: -10px;
}
.tutor-option-nav-tabs li:last-child:after {
    content: "";
}
.tutor-option-nav-tabs li a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #dddddd;
}
.tutor-option-nav-tabs li.current a{
    color: #333333;
}
.tutor-option-nav-tabs li a:focus {
    box-shadow: none;
}

/**
Withdraw Methods Nav
 */

.withdraw-method-nav{
    margin-bottom: 20px;
}
.withdraw-method-nav li{
    position: relative;
    display: inline-block;
}
.withdraw-method-nav li a{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border-right: 1px solid #cccccc;
}
.withdraw-method-nav li:last-child a {
    border-right: none;
}
/**
Option Field
 */

.tutor-option-field-row {
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.3
}
.tutor-option-field-row:last-child {
    border-bottom: none;
}
.tutor-option-field-row input[type=text],.tutor-option-field-row input[type=email],.tutor-option-field-row input[type=number],.tutor-option-field-row input[type=password], .tutor-option-field-row textarea, .tutor-option-field-row .tutor-field-type-slider {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 400px;
    min-height: 35px
}
.tutor-option-field {
    display: block;
    margin: 0 0 0 200px;
    max-width: 800px;
}
.tutor-option-field-label {
    display: block;
    float: left;
    width: 200px;
}
.tutor-option-field-label label {
    display: block;
    font-weight: 600
}
.tutor-option-field p.desc {
    font-style: italic;
    color: #666;
    font-size: 12px;
    line-height: 1.5;
}
.tutor-option-field-row h2{
    color: #444;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.tutor-option-field-row .option-media-wrap{
    margin-bottom: 10px;
}
.tutor-option-field-row .option-media-wrap img{
    max-height: 100px;
    width: auto;
    padding: 5px;
    border: 1px solid #CCCCCC;
}
.select2-container {
    min-width: 250px !important;
}
/**
Group Field Option
 */
.tutor-option-group-field {
    display: inline-block;
    vertical-align: top;
}
.tutor-option-group-field input[type=text],.tutor-option-group-field input[type=email],.tutor-option-group-field input[type=number],.tutor-option-group-field input[type=password], .tutor-option-group-field textarea, .tutor-option-group-field .tutor-field-type-slider, .tutor-option-group-field select {
    width: 100px;
    margin-right: 5px;
}

/**
* Course adding page
* Course Builder
*/
#tutor-course-topics a{
    text-decoration: none;
}
#tutor-course-topics .tutor-topics-wrap{
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 0;
    margin: 0;
}
.course-contents .course-content-item {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #E9E9E9;
}
.tutor-lessons.ui-sortable {
    min-height: 20px;
}
#tutor-course-topics .drop-lessons p{
    margin: 0;
}
#tutor-course-topics .course-content-item:hover{
    background-color: #EEEEEE;
}
#tutor-course-topics .tutor-lessons {
    padding-left: 0;
}
#tutor-course-topics .tutor-lesson-top, #tutor-course-topics .tutor-lesson-top i {
    font-size: 15px;
}
#tutor-course-topics .tutor-lesson-top{
    display: flex;
    font-size: 14px;
}
#tutor-course-topics .tutor-lesson-top .open-tutor-lesson-modal, .tutor-quiz .open-tutor-quiz-modal{
    flex: 1;
}
#tutor-course-topics .tutor-lesson-top i.tutor-icon-move{
    margin-right: 10px;
    cursor: ns-resize;
}
#tutor-course-topics .tutor-lesson-top i.tutor-icon-pencil{
    margin: 0 10px;
}
#tutor-course-topics .tutor-lesson-top a{
    color: #393C40;
}
.tutor-topics-wrap, .course-move-handle{
    margin-right: 5px;
}
.course-move-handle{
    cursor: row-resize;
}
.new-topic-btn-wrap {
    padding: 20px;
}
p.course-empty-content {
    padding-left: 20px;
}
.tutor_btn_lg{
    line-height: 45px;
    background-color: #3057D5;
    color: #ffffff;
    padding: 0 20px;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.tutor_btn_lg:focus{
    box-shadow: none;
    border: none;
    outline: none;
}
.tutor_btn_lg:focus,
.tutor_btn_lg:hover{
    background-color: #2149C9;
    color: #ffffff;
}

.ui-sortable-placeholder{
    visibility: visible;
    background-color: #dddd;
}
.tutor-untopics-lessons{
    margin-top: 50px;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
}
.tutor-untopics-lessons h3{
    font-weight: 300;
}
.tutor-untopics-lessons .tutor-lessons{
    padding-left: 0 !important;
}
.create-new-lesson-wrap {
    text-align: center;
}
.tutor-metabox-add-topics, .tutor-topics-edit-form {
    background: #f1f1f1;
    padding: 20px;
}
.tutor-metabox-add-topics .tutor-option-field-row{
    padding: 15px 0;
}
.tutor-metabox-add-topics .tutor-option-field-row:last-child, .tutor-topics-edit-form .tutor-option-field-row:last-child{
    border-bottom: none;
}
.topic-edit-icon{
    cursor: pointer;
}
.tutor-topic-title{
    display: flex;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 40px;
    padding-left: 15px;
}
.tutor-topic-title a{
    color: #393C40;
}

.tutor-topic-title .topic-inner-title{
    flex: 1 0 auto;
    cursor: pointer;
}
.tutor-topic-title span{
    padding: 0 5px;
}
.tutor-topic-title span.expand-collapse-wrap {
    border-left: 1px solid #E7E7E7;
}
.tutor-topic-title span.expand-collapse-wrap a{
    display: block;
    padding: 0 13px;
}
.topic-delete-btn{
    float: right;
}
.text-muted{
    color: #cccccc;
}
.topic-delete-btn a{
    padding: 0 10px;
}
.topic-delete-btn a:hover {
    color: #ff0000;
}
.topic-delete-btn .dashicons{
    width: 12px;
    height: 12px;
    font-size: 12px;
}

#tutor-course-topics{
    position: relative;
}
#tutor-course-topics .inside{
    padding: 0;
    margin: 0;
}
#tutor-course-topics a:focus{
    box-shadow: none;
}
#tutor-course-topics .toggle-indicator:before{
    margin-top: 20px;
}
.tutor-course-builder-header {
    line-height: 50px;
    position: absolute;
    top: -56px;
    right: 40px;
}
.tutor-topics-wrap:nth-child(2n) {
    background: #F8F8F8;
}
#tutor-course-content-wrap .tutor-topics-wrap .tutor-topics-body{
    background: #E9E9E9;
    padding: 15px 20px;
}
#tutor-course-content-wrap .tutor-topics-wrap .tutor-topics-body .create-lesson-in-topic-btn, #tutor-course-content-wrap .tutor-topics-wrap .tutor-topics-body .tutor-add-quiz-btn{
    line-height: 35px;
    color: #393c40;
    display: inline-block;
    padding: 0 20px;
    border-radius: 2px;
    margin-right: 20px;
    border: 1px solid #d3d4d5;
    background-color: #f2f2f2;
    cursor: pointer;
}
.tutor-add-quiz-btn i{
    color: #4aade2;
}
/**
Instructor
 */
.tutor-required-fields{
    color: #f13a3a;
}
/**
Meta Box Heading
 */
#tutor-course-topics h2, #tutor-instructors h2{
    padding: 15px;
    line-height: 30px;
}
#tutor-course-topics h2:before, #tutor-instructors h2:before {
    color: #3057D5;
    font-family: 'tutor' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}
#tutor-course-topics h2:before{
    content: '\e936';
}
#tutor-instructors h2:before{
    content: '\e93c';
}
/**
End Metabox Heading
 */

.video_source_wrap_html5{
    width: 100px;
    text-align: center;
}
.video_source_wrap_html5 a{
    border: 1px solid #e4e4e4;
    text-align: center;
    display: block;
    padding: 30px;
}
.video_source_wrap_html5 a i{
    font-size: 30px;
    width: 40px;
    height: 40px;
}
.video-poster-img img{
    max-width: 200px;
    height: auto;
}
.tutor-added-attachments-wrap{
    margin-bottom: 50px;
}
.tutor-added-attachments-wrap a{
    text-decoration: none;
}
a.tutor-delete-attachment {
    border: 1px solid #ff0000;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    line-height: 7px;
    color: #ff0000;
}
a.tutor-delete-attachment:hover {
    background-color: #ff0000;
    color: #ffffff;
}
.tutor-status-context{
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
}
.tutor-status-pending-context, .attempt_started{
    background-color: #EEEEEE;
}
a.tutor-button, button.tutor-button{
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
}
.tutor-button-primary{
    background-color: #3057D5;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.tutor-button-primary:hover {
    background-color: #2446A6;
}
.tutor-status-approved-context, .tutor-button.button-success {
    background-color: #7BBC30;
    color: #ffffff;
    border-radius: 2px;
}
.tutor-status-blocked-context, .attempt_timeout, .tutor-button.button-danger {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 2px;
}
.tutor-button.button-warning {
    background-color: #ffb36d;
    color: #ffffff;
}
.tutor-button{
    border: 0;
    box-shadow: none !important;
}
.tutor-button .dashicons{
    border: 0;
    box-shadow: none !important;
    line-height: inherit;
}
.tutor-status-approved-context, .tutor-status-blocked-context{
    display: inline-block;
}
table.tutor_status_table td.help {
    width: 1em;
}
table.tutor_status_table td:first-child {
    width: 25%;
}
table.tutor_status_table h2{
    font-size: 16px;
    margin: 0;
}
table.tutor_status_table td mark.yes, table.tutor_status_table th mark.yes {
    color: #06d004;
    background-color: transparent;
}


/*

.tutor-help-tip {
    color: #666;
    display: inline-block;
    font-size: 1.1em;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    position: relative;
    vertical-align: middle;
    width: 16px;
}
.tutor-help-tip::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    cursor: help;
    font-variant: normal;
    margin: 0px;
}*/


.tutor-text-avatar{
    border-radius: 50%;
    /*border: 1px solid #686f7a;*/
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    line-height: 40px;
    color: #ffffff;
    font-size: 14px;
}
.tutor_original_question{
    display: flex;
    margin-bottom: 5px;
    padding: 20px;
}
.tutor_original_question .question-left{
    flex: 0 0 60px;
}
.tutor_original_question .question-left img{
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    border: 1px solid #eeee88;
    padding: 3px;
}
.question-right {
    width: 100%;
}
.tutor_admin_answers_list_wrap .tutor_original_question{
    margin-left: 50px;
}
.tutor-bg-white{
    background-color: #ffffff;
}
.tutor-bg-light{
    background-color: #FDFDFD;
}
.tutor-announcement {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.announcement-delete-btn{
    float: right;
}
.announcement-delete-btn a{
    display: block;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 6px;
    border-radius: 50%;
    text-decoration: none;
}
.announcement-delete-btn a:hover {
    color: #ffffff;
    background-color: #ff0000;
}
.tutor-label-success{
    background-color: #06d004;
    color: #ffffff;
    padding: 3px 7px;
}
.tutor-addons .plugin-card-bottom .plugin-version{
    display: inline-block;
}
.tutor-addons .addon-regular-price{
    color: #CCCCCC;
    padding: 3px;
}
.tutor-addons .addon-current-price{
    color: #25bd25;
    font-size: 18px;
    padding: 3px;
}
.tutor-addons-last-checked-time{
    color: #6f5757 !important;
}
.tutor-addons .wp-filter{
    margin: 10px 0 0;
}

/**
Add-ons list
 */
.tutor-addons-list {
    background-color: #fff;
    min-height: 500px;
    padding: 20px;
}
h3.addon-list-heading{
    background-color: #eeeeee;
    padding: 10px;
}
table.tutor-addons-list-table{
    width: 100%;
}
table.tutor-addons-list-table tr{
}
table.tutor-addons-list-table td, table.tutor-addons-list-table th{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    text-align: left;

}



.btn-switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 40px;
}
.btn-switch input {
    display:none;
}
.btn-slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.btn-slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}
input:checked + .btn-slider {
    background-color: #0073aa;
}
input:checked + .btn-slider:before {
    transform: translateX(16px);
}
.btn-slider.btn-round {
    border-radius: 34px;
}
.btn-slider.btn-round:before {
    border-radius: 50%;
}



/**
Quiz-question
 */
.quiz-question-form-wrap{
    margin-top: 20px;
    margin-bottom: 20px;
}
.quiz-question-flex-wrap, .tutor-flex-row{
    display: flex;
    flex-direction: row;
}
.tutor-flex-col{
    margin: 0 20px;
}
.tutor-flex-col:first-child{
    margin-left: 0;
}
.tutor-flex-col:last-child{
    margin-right: 0;
}
.quiz-question-field{
    padding: 10px 20px;
}
.quiz-question-field input[type=text],.quiz-question-field input[type=email],.quiz-question-field input[type=number],.quiz-question-field input[type=password], .quiz-question-field textarea{
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 35px
}
.quiz-question-field textarea{
    min-height: 100px;
}
.quiz-question-field:nth-child(2n+1) {
    background: #f4f4f4;
}
.question-details{
    border: 1px solid #EEEEEE;
    margin-right: 10px;
}
.answer-details{
    margin-left: 10px;
}
.question-details, .answer-details{
    width: 100%;
}
.quiz-question-field label{
    font-weight: bold;
}
.quiz-question-field .desc{
    font-style: italic;
    font-size: 12px;
    color: #666666;
}
table.multi-answers-options{
    border: 1px solid #EEEEEE;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.multi-answers-options th, table.multi-answers-options td{
    text-align: left;
    padding: 10px 5px;
}
table.multi-answers-options tr:nth-child(2n+1){
    background: #f4f4f4;
}
table.multi-answers-options td input[type=text]{
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
}
table.multi-answers-options a{
    text-decoration: none;
    color: #FF0000;
}


.add_answer_option_wrap {
    margin: 20px 0;
}

.tutor-add-question-wrap{
    margin: 20px 0;
    background-color: #f4f4f4;
    padding: 10px;
}
.tutor-add-question-wrap input[type=text]{
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0;
    width: 300px;
    min-height: 35px
}
.tutor-add-question-wrap select {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 35px;
}
.tutor-add-question-wrap .button{
    height: 35px;
    margin-left: 10px;
}
.single-question-item {
    margin: 1px 0;
}
.tutor-question-item-head{
    display: flex;
    flex-direction: row;
    line-height: 50px;
    justify-content: space-between;
    /*padding: 20px;*/
}

.tutor-question-item-head > div{
    padding: 0 10px;
}
.tutor-question-item-head .question-title {
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-question-item-head i{
    line-height: 50px;

}
.single-question-item .tutor-question-item-head{
    background-color: #fcfcfc;
}
.single-question-item:nth-child(2n+1) .tutor-question-item-head{
    background-color: #f4f4f4;
}
.tutor-question-item-head a{
    text-decoration: none;
}

.question-action-btn.trash{
    color: #FF0000;
}
.question-action-btn.down{
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
}
.question-action-btn.down:hover {
    background-color: #333333;
}
.question-actions-wrap{
    padding-right: 0 !important;
}
.question-actions-wrap a{
    display: inline-block;
}
.tutor-loading-icon-wrap.button{
    vertical-align: unset;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.tutor-input-text-error{
    border: 1px solid #FF0000 !important;
}


/**
Quiz Modal
 */

.tutor-modal-wrap {
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}
.tutor-modal-wrap.show {
    display: block;
    opacity: 1;
    z-index: 99999;
}
.tutor-modal-wrap.loading .tutor-modal-content:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    z-index: 9;
    background: url("../images/spinner.gif") no-repeat center center; }
.tutor-modal-wrap .tutor-modal-content {
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 200ms ease-out;
}
.tutor-modal-wrap .modal-footer {
    padding: 20px;
    border-top: 1px solid #eee;
}
.tutor-modal-wrap .modal-container{
    min-height: 200px;
    padding: 20px;
}
.tutor-modal-wrap .modal-container p{
    margin: 5px 0;
}
.tutor-modal-wrap .modal-header {
    display: flex;
}
.tutor-modal-wrap .search-bar {
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.tutor-modal-wrap .search-bar input[type="text"] {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: none;
    padding: 10px;
}
.tutor-modal-wrap .modal-close-wrap a.modal-close-btn {
    width: 50px;
    height: 50px;
    background: #000;
    display: inline-block;
    text-align: center;
    line-height: 47px;
    color: #fff;
    font-size: 25px;
}
.tutor-modal-wrap.tutor-quiz-builder-modal-wrap .modal-title {
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-modal-wrap.tutor-quiz-builder-modal-wrap .modal-close-wrap a.modal-close-btn {
    background: #ffffff;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    color: #3a3d42;
    font-size: 22px;
}
.tutor-modal-wrap.tutor-quiz-builder-modal-wrap .modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #eeeff1;
}
.tutor-modal-wrap.tutor-quiz-builder-modal-wrap .modal-header h1{
    padding: 0;
}
.tutor-modal-wrap.tutor-quiz-builder-modal-wrap .modal-container{
    background-color: #F1F1F1;
    padding: 0;
}
#tutor-quiz-modal-tab-items-wrap {
    background-color: #fff;
    font-size: 0;
    overflow: hidden;
}
#tutor-quiz-builder-modal-tabs-container{
    padding: 20px;
}
#tutor-quiz-modal-tab-items-wrap .tutor-quiz-modal-tab-item{
    padding: 15px 25px;
    display: inline-block;
    color: #393C40;
    border-left: 1px solid #F1F1F1;
    font-size: 14px;
    overflow: hidden;
    line-height: 17px;
    vertical-align: middle;
}
#tutor-quiz-modal-tab-items-wrap .tutor-quiz-modal-tab-item.active{
    background-color: #F1F1F1;
}
#tutor-quiz-modal-tab-items-wrap .tutor-quiz-modal-tab-item i{
    float: left;
    font-size: 17px;
    line-height: 1;
    margin-right: 5px;
}
#tutor-quiz-modal-tab-items-wrap .tutor-quiz-modal-tab-item.active i{
    color: #3057D5;
}
.quiz-modal-tab-navigation-btn{
    padding: 10px 20px;
    border-radius: 3px;
}
.quiz-modal-btn-next, .quiz-modal-btn-next:focus, .quiz-modal-btn-first-step, .quiz-modal-btn-first-step:focus, .quiz-modal-question-save-btn, .quiz-modal-question-save-btn:focus, .quiz-modal-settings-save-btn, .quiz-modal-settings-save-btn:focus{
    background-color: #1B52D8;
    color: #ffffff;
}
.quiz-modal-btn-next:hover, .quiz-modal-btn-first-step:hover, .quiz-modal-question-save-btn:hover, .quiz-modal-settings-save-btn:hover{
    color: #ffffff;
}
.quiz-modal-btn-cancel, .quiz-modal-btn-back{
    color: #4B5981;
    border: 1px solid #D4DADB;
}
.tutor-quiz-builder-form-row .quiz-form-warning {
    color: #e88e06;
}
#tutor_quiz_question_answer_form {
    margin: 20px 0;
}
.tutor-quiz-question-answers-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.advanced-options-tab-item{
    float: right;
}

/** Tutor Quiz Modal Form */
.tutor-quiz-builder-form-row{
    margin: 10px 0 25px;
}
.tutor-quiz-builder-form-row input[type="text"], .tutor-quiz-builder-form-row input[type="number"], .tutor-quiz-builder-form-row textarea{
    border: 1px solid #DEDEDE;
    margin: 0;
    padding: 10px;
    box-shadow: none;
    border-radius: 3px;
}
.tutor-quiz-builder-form-row input[type="text"], .tutor-quiz-builder-form-row input[type="number"]{
    height: 42px;
    width: 100%;
}
#quiz-builder-tab-quiz-info input[type="text"], #quiz-builder-tab-quiz-info textarea{
    width: 100%;
}


.tutor-quiz-builder-modal-control-btn-group{
    display: flex;
}
.tutor-quiz-builder-modal-control-btn-group .quiz-builder-btn-group-left {
    flex: 1;
}
.tutor-quiz-builder-modal-control-btn-group .quiz-modal-tab-navigation-btn{
    display: inline-block;
}
.modal-container .tutor-quiz-add-question-btn{
    border: 1px solid #C6C9CF;
    padding: 10px 15px;
    color: #393C40;
    display: inline-block;
    border-radius: 3px;
}
.modal-container .tutor-quiz-add-question-btn i{
    color: #3057D5;
}
.tutor-quiz-builder-modal-wrap label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}
.tutor-quiz-builder-form-cols-row {
    display: flex;
    margin-bottom: 20px;
}
.quiz-form-field-col{
    padding-right: 20px;
    margin-right: 20px;
}
.quiz-form-field-col.result-fail{
    width: 100%;
}
.quiz-modal-switch-field {
    display: flex;
    margin-top: 30px;
}
.quiz-modal-switch-field label.btn-switch {
    margin-right: 20px;
    position: relative;
}
.switch-btn-title {
    position: absolute;
    left: 50px;
    width: 300px;
    top: -5px;
}
.tutor-quiz-builder-form-row label.btn-switch input:checked + .btn-slider {
    background-color: #4CD964;
}
.tutor-select {
    position: relative;
}
.tutor-select .select-header{
    border: 1px solid #DEDEDE;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-shadow: none;
    background-color: #fff;
    display: flex;
    cursor: pointer;
}
.tutor-select .select-header .lead-option {
    flex: 1;
}
.tutor-select .select-header .lead-option .question-type-pro{
    display: none;
}
.tutor-select .tutor-select-options {
    border: 1px solid #DEDEDE;
    background-color: #fff;
    padding: 10px;
    width: 400px;
    position: absolute;
    font-size: 0;
    z-index: 9;
}
.tutor-select .tutor-select-options .tutor-select-option {
    width: 46%;
    display: inline-block;
    padding: 2%;
    cursor: pointer;
    position: relative;
}
.tutor-select .tutor-select-options .tutor-select-option:hover {
    background: #eee;
}
.question-type-pro {
    background: #d64d4d;
    color: #fff;
    font-size: 9px;
    padding: 3px 5px;
    right: 0;
    position: absolute;
}
i.tutor-icon-block {
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    margin-right: 2px;
}
i.tutor-icon-block.tutor-icon-short-ans{
    background-color: #f37512;
}
i.tutor-icon-block.tutor-icon-image-ans{
    background-color: #a322f9;
}
i.tutor-icon-block.tutor-icon-yes-no{
    background-color: #1a4bd8;
}
i.tutor-icon-block.tutor-icon-multiple-choice{
    background-color: #9034a9;
}
i.tutor-icon-block.tutor-icon-mark{
    background-color: #00b890;
}
i.tutor-icon-block.tutor-icon-open-ended{
    background-color: #fe3129;
}
i.tutor-icon-block.tutor-icon-fill-gaps{
    background-color: #ffbf00;
}
i.tutor-icon-block.tutor-icon-answer-shorting{
    background-color: #f80089;
}
i.tutor-icon-block.tutor-icon-assesment{
    background-color: #274055;
}
i.tutor-icon-block.tutor-icon-matching{
    background-color: #8a4a1b;
}
i.tutor-icon-block.tutor-icon-image-matching{
    background-color: #8a4a1b;
}
i.tutor-icon-block.tutor-icon-ordering{
    background-color: #1128d4;
}
i.tutor-icon-block.tutor-icon-plus-square-button, i.tutor-icon-block.tutor-icon-plus{
    background-color: #7BBC30;
}

.create-lesson-in-topic-btn i.tutor-icon-block.tutor-icon-plus{
    background-color: #3057d5;
}

.quiz-modal-field-wrap .question_options_group_wrap {
    margin: 20px 0;
    display: block;
    clear: both;
}
.quiz-modal-field-wrap .add_question_option {
    display: block;
}
.quiz-modal-field-wrap.label-inline label{
    display: inline-block;
    font-weight: 300;
    margin-right: 20px;
}
a.back-to-quiz-questions-btn {
    font-size: 16px;
    font-weight: 300;
    color: #393C40;
    margin-bottom: 10px;
    display: block;
}
.modal-container .quiz-questions-form {
    padding: 20px;
}

.tutor-quiz-builder-form-row .quiz-modal-form-help {
    color: #A4A4A4;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px !important;
}
#quiz-builder-tab-advanced-options .tutor-quiz-builder-form-cols-row .quiz-form-field-col:first-child{
    flex: 0 0 150px;
}
.question-form-header {
    margin-bottom: 20px;
}
.quiz-question-form-body {
    margin-bottom: 50px;
}
.quiz-builder-question-wrap {
    display: flex;
    margin-bottom: 15px;
}
.quiz-builder-question {
    flex: 1;
    display: flex;
    background: #fff;
    padding: 10px;
    border: 1px solid #E2E2E2;
}
.quiz-builder-question .question-sorting {
    margin-right: 10px;
}
.quiz-builder-question .question-title {
    flex: 1;
}
.quiz-builder-question .question-icon {
    flex: 0 0 170px;
}
.quiz-builder-qustion-trash a{
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #393C40;
}
.tutor-quiz-builder-modal-wrap select {
    border: 1px solid #ccc;
    box-shadow: none;
    height: 37px !important;
}
.tutor-quiz-builder-modal-wrap .tutor-field-type-slider{
    border: 1px solid #DEDEDE;
    padding: 10px;
    background-color: #ffffff;
}
.tutor-quiz-builder-modal-wrap .tutor-field-type-slider .ui-widget-content {
    background-color: #3057D5;
    border: none;
}
.tutor-quiz-builder-modal-wrap .tutor-field-type-slider .ui-widget-header{
    background: #DEDEDE;
}
.tutor-quiz-builder-modal-wrap .tutor-field-type-slider .ui-widget-content .ui-state-default{
    background-color: #3057D5;
    border: 1px solid #3057D5;
    border-radius: 50%;
}
.tutor-quiz-builder-modal-wrap .tutor-field-type-slider .tutor-field-type-slider-value {
    font-size: 16px;
    font-weight: 600;
}
.tutor-quiz-answer-wrap {
    display: flex;
}
.tutor-quiz-answer {
    background-color: #fff;
    flex: 1;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #DEDEDE;
    display: flex;
}
.tutor-quiz-answer .tutor-quiz-answer-edit a {
    display: block;
    padding: 0px 9px;
}
.tutor-quiz-answer-trash-wrap a.answer-trash-btn {
    padding: 10px;
    display: inline-block;
}
span.tutor-quiz-answer-title {
    flex: 1;
}
.tutor-quiz-answer-media .option-media-preview{
    margin-bottom: 20px;
}
.tutor-quiz-answer-media .option-media-preview img {
    max-width: 80px;
    height: auto;
}
.tutor-question-answer-image{
    margin-right: 10px;
}
.tutor-question-answer-image img{
    max-height: 25px;
    width: auto;
}
button#quiz-answer-save-btn, button#quiz-answer-edit-btn {
    background-color: #7BBC30;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
button#quiz-answer-save-btn:hover, button#quiz-answer-edit-btn:hover {
    background-color: #5e981b;
}
/**
Tutor Media Upload
 */

.tutor-media-upload-wrap {
    border: 1px solid #DEDEDE;
    display: flex;
    width: 130px;
}
.tutor-media-upload-wrap img{
    max-width: 100%;
}
.tutor-media-preview {
    flex: 1;
}
.tutor-media-upload-btn {
    display: block;
    padding: 10px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #DEDEDE;
}
.tutor-media-upload-trash-wrap {
    border-left: 1px solid #dedede;
}
.tutor-media-upload-trash {
    color: #dedede;
    display: block;
    line-height: 50px;
    padding: 12px;
}
.tutor-quiz-answers-form-footer.tutor-quiz-builder-form-row {
    margin-top: 40px;
    margin-bottom: 10px;
}

/**
#End Quiz Modal
*/

.tutor-available-quizzes .added-quiz-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 2px;
    display: flex;
}
.tutor-available-quizzes .added-quiz-item .quiz-name {
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-add-quiz-button-wrap {
    margin: 20px 0;
}
.tutor-quiz-delete-btn{
    color: #FF0000;
}
p.quiz-search-suggest-text{
    margin-top: 30px;
    font-style: italic;
    font-size: 12px;
}
span.result-pass{
    background-color: #7BBC30;
    color: #fff;
    padding: 3px 5px;
    border-radius: 2px;
}
span.result-fail{
    color: #FF0000;
}
.attempt-status-attempt_ended{
    background-color: #7BBC30;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 2px;
    font-weight: 300;
}
.tutor-quiz-attempt-info-row{
    background-color: #ffffff;
    padding: 20px;
}
.tutor-quiz-attempt-info-row p{
    margin: 0;
}
.tutor-quiz-attempt-info-row p a{
    text-decoration: none;
}
.attempt-property-name{
    color: #7A7F85;
    margin-bottom: 10px !important;
}
.attempt-property-value.value-display-flex{
    display: flex;
}
.attempt-property-value.value-display-flex span{
    margin-right: 10px;
    font-weight: 300;
    font-size: 12px;
}
.attempt-property-value{
    font-weight: 500;
}
.attempt-view-top {
    display: flex;
    border-bottom: 1px solid #DCDFE5;
    padding: 20px 0;
}
.attempt-view-bottom{
    display: flex;
    padding: 20px 0;
}
.attempt-info-col{
    margin-right: 6%;
}
.quiz-attempt-answers-wrap{
    background-color: #ffffff;
}
.attempt-answers-header{
    padding: 20px;
}
.quiz-attempt-answers-wrap table{
    width: 100%;
}
.quiz-attempt-answers-wrap table tr th{
    text-align: left;
    vertical-align: top;
    color: #878A8F;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAEA;
}
.quiz-attempt-answers-wrap table tr th, .quiz-attempt-answers-wrap table tr td{
    padding: 20px;
    vertical-align: top;
    border-bottom: 1px solid #EAEAEA;
}
.attempt-mark-correct-btn {
    border: 1px solid #7BBC30;
    color: #7BBC30;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.attempt-mark-correct-btn:hover {
    border: 1px solid #3fbc12;
    color: #ffffff;
    background-color: #3fbc12;
}
.attempt-mark-incorrect-btn{
    border: 1px solid #ec0001;
    color: #EC0001;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.attempt-mark-incorrect-btn:hover{
    border: 1px solid #ec0001;
    color: #ffffff;
    background-color: #ec0001;
}
.quiz-attempt-answers-wrap .tutor-status-approved-context, .quiz-attempt-answers-wrap .tutor-status-blocked-context{
    padding: 3px 5px;
}
span.notice-excl {
    background-color: #F5C813;
    color: #fff;
    padding: 2px 8px;
    border-radius: 50%;
}
.attempt-review-notice-wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.attempt-review-notice-wrap p{
    margin: 0;
}
.circle-arrow{
    color: #3057D5;
    font-weight: bold;
    font-size: 1rem;
}
h2.attempt-review-title{
    font-size: 18px !important;
    margin-bottom: 30px !important;
}
h2.attempt-review-title i{
    color: #3057D5;
}
/**
End Attempt
 */


.tutor-emails-lists-wrap{
    background-color: #ffffff;
    padding: 20px;
}
.tutor-emails-lists-wrap .wp-list-table td{
    padding: 10px 20px;
}
.tutor-course-available-instructors .added-instructor-item {
    background-color: #F8F8F8;
    padding: 5px;
    margin-bottom: 2px;
    display: inline-flex;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    line-height: 30px;
    width: 47%;
    margin-right: 20px;
    margin-top: 10px;

}
.tutor-course-available-instructors .added-instructor-item .instructor-icon {
    line-height: initial;
    margin-right: 12px;
}
.tutor-course-available-instructors .added-instructor-item .instructor-name {
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-instructor-delete-btn{
    color: #393C40;
    text-decoration: none;
}
.answer-image-matched-wrap {
    display: flex;
}
.image-matching-item {
    flex: 0 0 50px;
    margin-right: 10px;
}
.image-matching-item p{
    margin-bottom: 5px;
    margin-top: 0;
    color: #878A8F;
}
.image-matching-item img{
    max-width: 80px;
}
span.filled_dash_unser {
    font-weight: bold;
    text-decoration: underline;
    margin: 0 5px;
}
/**
Uninstall
 */
.wrap.tutor-uninstall-wrap {
    background: #fff;
    padding: 20px;
}
.tutor-uninstall-btn-group{
    margin: 50px 0;
}

/**
Updating Messsage
 */
.tutor-updating-message:before{
    display: inline-block;
    font-family: 'tutor';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    /*color: #f56e28;*/
    content: "\e91d";
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
    margin-right: 6px;
}

/**
Lesson Edit Modal
 */
.lesson-modal-close-wrap a{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #000;
    padding: 20px;
    line-height: 8px;
    font-size: 12px;
}
.lesson-modal-form-wrap .lesson-modal-field-row{
    padding: 10px 0;
}
.lesson-modal-field.tutor-lesson-modal-title-wrap{
    width: 95%;
}
.lesson-modal-field-row input[type=text]{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    min-width: 400px;
    min-height: 35px
}
.tutor-lesson-modal-title-wrap input{
    width: 100%;
}
.lesson-modal-form-wrap .tutor-option-field-row{
    padding: 10px 0;
}
.lesson-modal-form-wrap .tutor-option-field-row:last-child {
    border-bottom: none;
}
.lesson-modal-form-wrap {
    padding-bottom: 48px;
}
.tutor-lesson-modal-wrap .modal-footer{
    padding: 10px 0;
    background-color: #fff;
    width: 750px;
    position: sticky;
    bottom: 0;
    position: -webkit-sticky;
}
.tutor-lesson-modal-wrap .tutor-thumbnail-wrap img{
    max-width: 150px;
    height: auto;
}
.tutor-get-pro-text {
    color: #e02424;
}
.updating-icon:before{
    font-family: 'tutor';
    margin-right: 5px;
    content: "\e91d";
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
.tutor-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-bottom: 10px;
}