.tutor-wrapper-video,
.tutor-wrapper-type,
.tutor-wrapper-boarding {
    display: none;
}

.tutor-wrapper-video.active,
.tutor-wrapper-type.active,
.tutor-wrapper-boarding.active {
    display: block;
}

ul.tutor-setup-content li{
    display: none;
}
ul.tutor-setup-content li.active{
    display: block;
}