@import "../icons/css/fontello.css";
/**
Icon Css
 */
div[class*="tutor-course-col"] {
    padding-left: 15px;
    padding-right: 15px;
}
.tutor-course-loop{
    background: #fff;
    color: #29303b;
    display: inline-block;
    font-size: small;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 300ms;
}

.tutor-course-loop:hover{
    box-shadow: 0 4px 23px rgba(0,0,0,.1);
}

.tutor-course-loop p{
    margin: 0;
}
.tutor-course-loop .tutor-course-header a,
.tutor-course-loop .tutor-course-header a img{
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tutor-loop-course-container{
    padding: 20px 15px;
    border-left: 1px solid #F6FAFB;
    border-right: 1px solid #F6FAFB;
}

.tutor-loop-rating-wrap{
    color: #F8C51C;
    margin-bottom: 6px;
    font-size: 16px;
}

.tutor-loop-rating-wrap i::before{
    margin-right: 3px;
    margin-left: 0;
}

.tutor-course-loop-title a h2{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.tutor-loop-course-footer{
    padding: 10px 15px;
    border: 1px solid #F6FAFB;
    color: #838791;
    font-size: 12px;
    line-height: 17px;
    line-height: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}

.tutor-loop-course-footer::after{
    content: '';
    display: table;
    clear: both;
}

.tutor-course-loop-price{
    float: right;
    color: #3A3E49;
    font-size: 18px;
    font-weight: 600;
}

.tutor-course-loop-price .price del{
    font-size: 14px;
    opacity: 1;
    font-weight: 400;
}

.tutor-course-loop-price ins{
    background: transparent;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    position: absolute;
    background: blue;
    left: -1px;
    top: 0;
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    color: #fff;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: 100ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 600;
    -webkit-animation: rotate_cs 5s infinite; /* Safari 4.0 - 8.0 */
    animation: rotate_cs 5s infinite;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a.added{
    display: none;
}

.tutor-loop-course-footer .tutor-loop-cart-btn-wrap a::before{
    content: '\e801';
    font-family: "fontello";
    margin-right: 3px;
}


/* Standard syntax */
@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tutor-course-loop:hover .tutor-loop-course-footer .tutor-loop-cart-btn-wrap{
    opacity: 1;
}


/* layout*/
.tutor-course-col-4{
    width: 25%;
}

.tutor-course-col-3{
    width: 33.33%;
}

.tutor-course-col-2{
    width: 50%;
}

.tutor-course-col-1{
    width: 100%;
}
.tutor-course-col-1 .tutor-course-loop{
    width: 100%;
}
.tutor-course-col-5{
    width: 20%;
}

.tutor-course-col-6{
    width: 16.66%;
}

.tutor-course-loop-title h2{
    font-size: 1rem;
}
.tutor-course-filter-wrap{
    clear: both;
    margin-bottom: 20px;
}
.tutor-course-archive-results-wrap{
    float: left;
    width: 45%;
}
.tutor-course-archive-filters-wrap{
    float: right;
    width: 45%;
    text-align: right;
}
.tutor-courses{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.clearfix:before, .clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.tutor-loop-author, .tutor-meta{
    color: #BBBBBB;
}
.tutor-text-mute{
    color: #BBBBBB;
}
.tutor-full-width-course-top{
    background-color: #505763;
    padding: 50px 0;
    color: #ffffff;
}
.tutor-course-benefits-wrap {
    margin: 20px 0;
    background-color: #f9f9f9;
    border: 1px solid #dedfe0;
    padding: 10px 15px;
}
ul.tutor-course-benefits-items{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul.tutor-course-benefits-items li{
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/**
Topics
 */
.tutor-course-topics-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.tutor-course-topics-header-left, .tutor-course-topics-header-right{
    display: flex;
    width: 45%;
}
.tutor-course-topics-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 30px;
    width: 50%;
}
.tutor-course-topics-contents .tutor-course-lessons{
    /*margin-left: 30px;*/
}
.tutor-course-topics-contents .tutor-course-lessons h4{
    font-weight: 300;
    font-size: 16px;
}
.tutor-wrap .tutor-single-course-segment{
    margin-top: 10px;
    margin-bottom: 30px;
}
.tutor-course-enroll-wrap{
    padding: 20px 0;
}
.tutor-wrap .tutor-course-enrolled-wrap{
    background: #ecffec;
    padding: 20px;
    border: 1px solid #b7d6b7;
}
.tutor-notice-warning{
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 20px;
    margin-bottom: 10px;
}
a.tutor-button, .tutor-button{
    color: #fff;
    background-color: #1177d1;
    border-color: #1177d1;
    display: inline-block;
    padding: 10px 20px;
}
a.tutor-button:hover, .tutor-button:hover {
    color: #fff;
    background-color: #0e63ae;
    border-color: #0d5ca2;
}

.course-enrolled-nav-wrap{
    background-color: #f4f4f4;
    border-bottom: 1px solid #dedfe0;
    margin-top: 10px;
}
.tutor-wrap nav.course-enrolled-nav ul{
    list-style: none;
    margin: 0;
}
.tutor-wrap nav.course-enrolled-nav ul li{
    display: inline-block;
}
.tutor-wrap nav.course-enrolled-nav ul li a{
    padding: 10px 15px;
    display: block;
}
.tutor-wrap nav.course-enrolled-nav ul li.active a{
    background-color: #333333;
    color: #ffffff;
}
.tutor-review-individual-item {
    display: flex;
    font-size: 14px;
    border-top: 1px solid #CCCCCC;
    padding: 20px 0;
}
.tutor-review-individual-item .review-left{
    display: flex;
    flex: 0 0 220px;
}
.tutor-review-individual-item .review-left .review-avatar{
    flex: 0 0 70px;
}
.tutor-review-individual-item .review-right {
    margin-left: 20px;
}
.tutor-review-individual-item .review-meta {
    color: #ccc;
}
.tutor-review-individual-item .review-time-name p{
    margin: 0;
}
.review-avatar .tutor-text-avatar{
    border-radius: 50%;
    /*border: 1px solid #686f7a;*/
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 14px;
}
.review-time-name {
    flex: 0 0 160px;
}
.course-avg-rating-wrap{
    width: 150px;
    text-align: center;
}
.course-avg-rating-wrap .course-avg-rating {
    font-size: 50px;
}
.course-avg-rating-wrap p{
    margin: 0;
}
/**
Lesson Single Page
 */
.tutor-wrap{
    margin-top: 20px;
}
.tutor-wrap .tutor-lesson-single-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.tutor-wrap .tutor-topics-wrap{
    width: 30%;
}
.tutor-wrap .tutor-lesson-content-wrap{
    width: 65%;
    margin-left: 3%;
}
.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson {
    background-color: #FDFDFD;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    padding: 10px;
}
.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson .tutor-topics-title h2{
    font-size: 18px;
}

.tutor-wrap .tutor-topics-lesson-list .tutor-topics-in-single-lesson .tutor-lessons-under-topic p{
    margin: 0 0 10px 0;
}

.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic .active a{
    color: blue;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a span.lesson_title {
    flex: 1;
}
.tutor-wrap .tutor-topics-wrap .tutor-topics-in-single-lesson .tutor-lessons-under-topic a span.play_duration {
    color: #666666;
    font-size: 14px;
}
.tutor-wrap .tutor-lesson-video-wrap{
    margin-bottom: 20px;
}
.tutor-wrap .tutor-attachments-wrap{
    margin: 50px 0;
}
.tutor-wrap .tutor-attachment-icon{
    float: left;
}
.tutor-wrap .tutor-attachment-icon img{
    max-width: 40px;
    display: block;
}
.tutor-wrap .tutor-attachment-info {
    padding-left: 60px;
}
.tutor-wrap .tutor-attachment-info p{
    margin: 0;
}
.tutor-wrap .tutor-attachment-info span{
    font-size: 12px;
    color: #bbb3b9;
}
.tutor-wrap a.tutor-lesson-attachment{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
.tutor-wrap a.tutor-lesson-attachment:hover {
    border: 1px solid #cccccc;
}
.tutor-progress-bar{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    height: 25px;
    width: 300px;
    margin: 20px 0;
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 25px;
    position: relative;
}
.tutor-progress-bar .tutor-progress-filled{
    background-color: #00ff00;
    height: 23px;
}
.tutor-progress-percent{
    position: absolute;
    top: 0;
}

.tutor-course-purchase-box{
    margin-bottom: 20px;
}

.tutor-alert-warning{
    padding: 10px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.tutor-quizzes-list .quiz-single-item {
    display: flex;
}
.tutor-quizzes-list .quiz-single-item .quiz-title{
    flex-basis: 0;
    flex-grow: 1;
}
.tutor-quizzes-list .quiz-single-item .quiz-time-limit {
    font-size: 12px;
    background: #ccc;
    padding: 3px 5px;
}

/**
Tutor Dashboard Content
 */
.tutor-dashboard{
    display: flex;
}
.tutor-dashboard-content {
    margin-left: 10px;
}
.tutor-dashboard-permalinks {
    flex: 0 0 150px;
    background-color: #f4f4f4;
}
.tutor-dashboard-permalinks ul{
    list-style: none;
    margin: 0;
}
.tutor-dashboard-permalinks ul li{

}
.tutor-dashboard-permalinks ul li a{
    text-decoration: none;
    border: none !important;
    box-shadow: none !important;
    padding: 10px;
    display: block;
}
.tutor-dashboard-permalinks ul li.active a{
    background-color: #000000;
    color: #ffffff;
}
.tutor-mycourse-wrap {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
/*
Form CSS
 */
.tutor-form-row{
    display: flex;
    margin: 10px 0;
}
.tutor-form-row .tutor-form-group{
    padding: 10px;
}
.tutor-form-col-6{
    flex: 0 0 50%;
}
.tutor-form-col-12{
    flex: 12;
}
.tutor-form-col-4{
    flex: 4;
}
ul.tutor-required-fields{
    list-style: none;
    padding: 10px;
    margin: 0;
}
.write-course-review-link-btn{
    color: #ffffff;
}
.tutor-ratings-wrap {
    color: #f4c150;
}
.tutor-ratings-wrap i{
    cursor: pointer;
}
.tutor-queston-and-answer-wrap{
    margin: 20px 0;
}
.tutor-question-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.tutor-ask-question-btn{
    text-align: right;
}
.tutor-question-search-form{
    flex: 0 0 75%;
}
.tutor-question-search-form form {
    display: flex;
}
.tutor-question-search-form input[type="text"] {
    max-width: 60%;
}
.tutor-btn{
    background-color: #00B0F5;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
}
.tutor-btn:hover{
    background-color: #029CD9;
    color: #ffffff;
}
.tutor-add-question-wrap{
    margin: 20px 0;
}
.tutor-add-question-wrap .tutor-form-group{
    margin-bottom: 10px;
}
.tutor_question_cancel{
    margin-right: 50px;
}
.updating-icon:before{
    font-family: 'fontello';
    margin-right: 5px;
    content: "\e809";

    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
/**
Course question and answer
 */
.tutor_question_answer_wrap .tutor-text-avatar{
    border-radius: 50%;
    /*border: 1px solid #686f7a;*/
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    line-height: 40px;
    color: #ffffff;
    font-size: 14px;
}
.tutor_original_question{
    display: flex;
    margin-bottom: 20px;
}
.tutor_original_question .question-left{
    flex: 0 0 60px;
}
.question-right {
    width: 100%;
}
.tutor_question_area {
    border: 1px solid #f4f4f4;
    padding: 20px;
}
.tutor-bg-white{
    background-color: #ffffff;
}
.tutor-bg-light{
    background-color: #FDFDFD;
}
.tutor_admin_answers_list_wrap{
    margin-left: 50px;
}
.tutor_individual_answer{
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
}
.tutor_individual_answer .question-left{
    flex: 0 0 60px;
}
.tutor_add_answer_wrap .tutor-form-group{
    margin-bottom: 20px;
}
.tutor_wp_editor_show_btn_wrap{
    margin-bottom: 20px;
}
.tutor_add_answer_row{
    display: flex;
}
.tutor_add_answer_row .tutor_qa_avatar_left{
    flex: 0 0 60px;
}
.tutor_add_answer_row .tutor_add_answer_wrap {
    width: 100%;
}

.tutor-announcements-wrap{
    margin-top: 20px;
}
.tutor-no-announcements {
    text-align: center;
}
.tutor-announcement-meta{
    margin-bottom: 20px;
}
.tutor-announcement {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.announcement-delete-btn{
    float: right;
}

/**
Single Quiz
 */

.tutor-quiz-top{
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.tutor-quiz-top a{
    color: #1177d1;
}

.tutor-quiz-top a:hover{
    color: #0e63ae;
}
.tutor-quiz-top p{
    margin: 0;
}
.tutor-quiz-top-left {
    flex: 0 0 50%;
}
.tutor-quiz-top-right {
    flex: 0 0 50%;
    text-align: right;
}
.start-quiz-wrap {
    padding: 50px 0;
    text-align: center;
}
.quiz-answer-footer-bar {
    margin-top: 50px;
}
.quiz-attempts-row{
    display: flex;
}
span.result-pass{
    padding: 5px 10px;
    background-color: #04a704;
    color: #ffffff;
}
span.result-fail{
    padding: 5px 10px;
    background-color: #FF0000;
    color: #ffffff;
}

p.attempt-reviewed-text{
    font-size: 12px;
    color: #584dffe6;
    margin: 5px 0;
}