@import './variables.scss';

:root {
	// --tutor-disabled-bg: #{$disabled-bg};
	// --tutor-disabled-color: #{$disabled-color};

	// @todo: move
	--tutor-text-size: 16px;

	// // Common Colors
	--tutor-color-white: 		#{$color-white};
	--tutor-color-success: 		#{$color-success};
	--tutor-color-success-rgb: 	#{$color-success-rgb};
	--tutor-color-warning: 		#{$color-warning};
	--tutor-color-warning-rgb: 	#{$color-warning-rgb};
	--tutor-color-danger:		#{$color-danger};
	--tutor-color-danger-rgb: 	#{$color-danger-rgb};

	// extra colors need to be replaces later
	--tutor-color-secondary: 	#{$color-secondary};
	--tutor-color-subdued: 		#{$color-subdued};
	--tutor-color-muted: 		#{$color-muted};
	
	// gray colors
	--tutor-color-gray: 		#{$color-gray-20};
	--tutor-color-gray-10: 		#{$color-gray-10};
}

// Color Utility class
$colorUtils: (
	// colors
	'black' var(--tutor-body-color),
	'white' $color-white,
	'primary' $color-primary,
	'success' $color-success,
	'warning' $color-warning,
	'danger' $color-danger,
	'secondary' $color-secondary,
	'muted' $color-muted,
	'subdued' $color-subdued,
	'gray-20' $color-gray-20,
	'gray-10' $color-gray-10,
);

@each $classSuffix, $value in $colorUtils {
	.tutor-color-#{$classSuffix} {
		color: #{$value};
	}
}

@each $classSuffix, $value in $colorUtils {
	.tutor-bg-#{$classSuffix} {
		background-color: #{$value};
	}
}
