.tutor-certificate-template-tab {
    .tab-body {
        .tab-body-item {
            overflow: hidden;
            height: 100px;
            transition: all 1s;
        }
        .more_button {
            i {
                margin-right: 6px;
                font-weight: bolder;
                color: #3e64de;
            }
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.0001) 1.31%,
                rgba(255, 255, 255, 0.74) 15.41%,
                rgba(255, 255, 255, 0.92) 38.83%,
                #ffffff 100%
            );
            cursor: pointer;
            z-index: 99;
            height: 90px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
