// Top position in case of admin bar
&.admin-bar{
    .tutor-dashboard-builder-header{
        top: 32px;
        @media (max-width: 783px) {
            top: 46px;
        }
    }
}

.tutor-option-field, .tutor-form-group {
	textarea {
		height: 100px;
	}
}

.tutor-form-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tutor-course-builder-section {
	margin-bottom: 60px;

	.tutor-frontend-builder-item-scope {
		margin-bottom: 30px;
		
		&:last-child {
			margin-bottom: 0;
		}
	
		.tutor-builder-item-heading {
			font-weight: 500;
			line-height: 21px;
			margin-bottom: 10px;
			display: block;
		}
	}
	
	.tutor-course-builder-section-title{
		h3 {
			font-size: 20px;
			position: relative;
			overflow: hidden;
			z-index: 1;
			margin: 0 0 25px;
			cursor: pointer;
			border-bottom: 1px solid #C0C3CB;
			font-style: normal;
			font-weight: bold;
			color: #41454F;
			padding-bottom: 20px;

			span, i{
				float: left;
				background-color: #fff;
				font-size: 20px;
				line-height: 20px;
			}
			
			i {
				color: var(--tutor-primary-color);
				font-size: 14px;
			}

			span {
				padding: 0 15px 0 9px;
			}
		}
	} 

	.course-empty-content {
		margin: 15px 0;
	}

	.tutor-course-builder-header{
		margin-top: -15px;
		text-align: right;
		font-size: 12px;
		position: static;
		
		a {
			color: #393c40;
			
			&:first-child {
				padding-right: 7px;
			}
			
			&:last-child {
				padding-left: 7px;
			}
		}
	} 
}

.tutor-dashboard-builder-header{
	padding: 10px 0px;
	border-bottom: 2px solid #DCDFE5;
	position: fixed;
	top: 0px;
	background: #fff;
	width: 100%;
	z-index: 99;

	@media (max-width: 991px){
		position: static;
	}

	.tutor-row{
		justify-content: space-between;
		.tutor-col-auto{
			@media (max-width: 991px) {
				flex: 0 0 100%;
				max-width: 100%;
				&:first-child{
					margin-bottom: 15px;
				}
			}
		}
	}

	.tutor-button{
		white-space: nowrap;
		margin-left: auto;

		@media (max-width: 991px){
			padding: 6px 10px;
		}
	}

	.tutor-dashboard-builder-header-left{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.tutor-dashboard-builder-logo{
			padding:0 25px;
			position: relative;
			img {
				max-height: 32px;
			}
		}

		button{
			margin: 0;
			padding: 0px 25px;
			line-height: 30px;
			border: none;
			border-left: 1px solid #DCDFE5;
			background: transparent;
			display: inline-flex;
			color: var(--tutor-text-color);
			transition: 300ms;
			font-weight: 500;
			white-space: nowrap;
			@media (max-width: 991px){
				border-left: none;
			}
			i{
				font-size: 24px;
				line-height: 30px;
				margin-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color);
				background: transparent;
				i{
					color: var(--tutor-primary-color)
				}
			}
			
		}
	}

	.tutor-dashboard-builder-header-right{
		display: flex;
		align-items: center;
		justify-content: space-between;
		a{
			color: var(--tutor-text-color);
			font-weight: 500;
			line-height: 36px;
			padding: 0 25px;
			transition: 300ms;
			white-space: nowrap;
			i{
				font-size: 36px;
				line-height: 36px;
				display: inline-block;
				vertical-align: top;
				padding-right: 9px;
			}
			&:hover{
				color: var(--tutor-primary-color)
			}
		}
	}
}

#wp-course_description-editor-container {
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #C0C3CB;

	.mce-top-part {
		&::before{
			box-shadow: none;
		}

		div.mce-toolbar-grp {
			background: #EFF1F7;
			border-bottom: none;
		}
	}
}

.tutor-frontend-course-builder-section{
	padding: 113px 0 45px;
	background-color: #ffffff;

	@media (max-width: 991px) {
		padding-top: 60px;

		.tutor-col-8, .tutor-col-4{
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	input[type=text] {
		border-radius: 6px;
	}
}

.tutor-metabox-add-topics, .tutor-topics-edit-form {
	border: 1px solid #dcdfe5;
	margin-top: 25px;
	padding: 20px;
}

/*
 * Course Level Meta
 */

.tutor-course-level-meta {
	@include valueWithPrefix(display, flex);
	@include propertyWithPrefix(justify-content, space-between);
	
	label{
		margin: 0 40px 0 0;
		font-weight: 600;
	}
}

.tutor-frontend-builder-course-price{
	color: #212327;

	.tutor-form-group input{
		margin-bottom: 0;
	}
	.tutor-styled-radio{
		display: flex;
		align-items: center;
	}

	.field-container{
		@include valueWithPrefix(display, flex);
		@include propertyWithPrefix(align-items, center);

		input[name=course_price] {
			width: 110px;
		}

		&>label {
			@include valueWithPrefix(display, inline-flex);
			&:first-child{
				margin-right: 25px;
			}
		}
	}
}

.tutor-course-builder-btn-group{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/**
Content Drip (Pro)
 */
.select2-dropdown.increasezindex {
	z-index:9999999999999;
}

.select2-selection__rendered [class^="tutor-icon-"] {
    vertical-align: middle;
}

// Course builder tips
.tutor-course-builder-upload-tips{
    position: fixed;
    max-width: 370px;

    @media (max-width: 991px) {
        position: static;
    }

    .tutor-course-builder-tips-title{
        font-size: 16px;
        color: #8C94A8;
        font-weight: 700;
        display: flex;
        align-items: center;

        i{
            font-size: 24px;
            color: var(--tutor-primary-color);
            margin-right: 11px;
        }
    }

    ul{
        margin: 0;
        padding: 0 0 0 35px;
        list-style: none;
        li{
            position: relative;
            margin-bottom: 8px;
            line-height: 24px;
            
            &::after{
                content: '';
                position: absolute;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: #DCDFE5;
                left: -26px;
                top: 9px;
            }
        }
    }
}

span.select2-container.select2-container--open {
    margin-top: 32px !important;
}

.select2-search__field {
    min-width: 1em !important;
}