@import '../../../v2-library/src/scss/reusables.scss';

body.tutor-screen-course-builder {

    $body: &;
    
    // Reusable thumbnail wrapper
    .builder-course-thumbnail-upload-wrap {
        & > div {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .button-transparent {
            float: right;
            background: transparent !important;
            &:hover {
                background: var(--tutor-color-primary) !important;
            }
        }
    }

    .builder-course-thumbnail-img-src {
        position: relative;
        
        .tutor-course-thumbnail-delete-btn {
            font-size: 10px;
            position: absolute;
            top: -4px;
            left: -4px;
            color: #e53935;
            -webkit-transition: 300ms;
            transition: 300ms;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: #fff;
            text-align: center;
            i {
                line-height: 20px;
            }
        }
    }

    // Course segments
    @import './segments/video.scss';
    @import './segments/setting.scss';
    @import './segments/instructor.scss';
    @import './segments/attachment.scss';
    @import './segments/topic-content.scss';
    @import './segments/content-drip.scss';
    
    // LQA Modals
    .tutor-modal {
        .wp-editor-wrap {
            width: 100%;
        }

        &.tutor-quiz-builder-modal-wrap{
            @import './modal/quiz.scss';
        }

        &.tutor-assignment-modal-wrap{
            @import './modal/assignment.scss';
        }
    }

    /* Screen specific declarations (Frontend editor) */
    &.tutor-screen-course-builder-frontend{
        @import './frontend.scss';
    }

    .tutor-dropdown-icon-pack {
        position: absolute;
        top: 9px;
        left: 10px;

        &+select {
            padding-left: 35px !important;
        }

        [data-for] {
            display: none;
        }

        &[data-video_source=html5] [data-for=html5], 
        &[data-video_source=youtube] [data-for=youtube], 
        &[data-video_source=vimeo] [data-for=vimeo],
        &[data-video_source=external_url] [data-for=external_url],
        &[data-video_source=embedded] [data-for=embedded],
        &[data-video_source=shortcode] [data-for=shortcode]
        {
            display: block;
        }
    }
}