@import "../lib/mixins.scss";

body.tutor-screen-course-builder {

    $body: &;
    
    // Reusable thumbnail wrapper
    .builder-course-thumbnail-upload-wrap {
        & > div {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .button-transparent {
            float: right;
            background: transparent !important;
            &:hover {
                background: var(--tutor-primary-color) !important;
            }
        }
    }

    .builder-course-thumbnail-img-src {
        position: relative;
        
        .tutor-course-thumbnail-delete-btn {
            font-size: 10px;
            position: absolute;
            top: -4px;
            left: -4px;
            color: #e53935;
            -webkit-transition: 300ms;
            transition: 300ms;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: #fff;
            text-align: center;
            i {
                line-height: 20px;
            }
        }
    }

    // Attachment style
    .tutor-attachment-cards {

        &, &>div{
            width: 100%;
        }

        &>div{
            padding: 10px 20px;
            margin-bottom: 15px;
            background: #FFFFFF;
            border: 1px solid #C0C3CB;
            box-sizing: border-box;
            border-radius: 6px;
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(align-items, center);
        }
        
        &.attachment-type-2 {
            &>div>div {
                &:first-child {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 25px;
                    @include propertyWithPrefix(flex, 1);

                    a{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        color: #41454F;

                        &:hover {
                            color: #0e0e0f;
                        }
                    }
                }

                span.filesize {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    margin-right: 20px;
                    color: #5B616F;
                }

                span.tutor-delete-attachment {
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                    color: #1A1B1E;

                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }

    // Course segments
    @import './segments/video.scss';
    @import './segments/setting.scss';
    @import './segments/instructor.scss';
    @import './segments/attachment.scss';
    @import './segments/topic-content.scss';

    // LQA Modals
    .tutor-modal {
        &.tutor-lesson-modal-wrap {
            @import './modal/lesson.scss';
        }
    }

    /* Screen specific declarations (Frontend editor) */
    &.tutor-screen-course-builder-frontend{
        @import './frontend.scss';
    }

    &:not(.tutor-screen-course-builder-frontend) {
        @import './backend.scss';
    }
}