.tutor-option-tab-pages {
	.tutor-option-field-label {
		float: unset;
		width: unset;
	}
	.tutor-option-field-input {
		input[type='radio']:checked:before,
		input[type='checkbox']:checked:before {
			display: none;
		}
	}
}

// Fix: Zoom Input Fileds
.tutor-zoom-meeting-modal-wrap {
	.tutor-react-datepicker .react-datepicker__input-container input {
		height: 48px;
	}
}
