// Helpers
@mixin appearNone {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

// Masonry Grid
@mixin masonryGrid($colCount, $colGap, $rowGap) {
	columns: $colCount;
	row-gap: $rowGap;
	column-gap: $colGap;
	> * {
		break-inside: avoid;
		margin-bottom: $rowGap;
	}

	@supports (grid-template-rows: masonry) {
		display: grid;
		grid-template-columns: repeat($colCount, 1fr);
		grid-template-rows: masonry;
		grid-auto-flow: dense;
		> * {
			margin-bottom: 0em;
		}
	}
}

// Dashed border -> width, gap, colors(optional)
@mixin getDashedBorder($width: 2px, $gap: 15px, $color1: orange, $color2: $color1, $color3: $color1, $color4: $color1) {
	--borderWidth: #{$width};
	--borderGap: #{$gap};
	background-image: linear-gradient(to right, $color1 50%, rgba(255, 255, 255, 0) 0%),
		linear-gradient($color2 50%, rgba(255, 255, 255, 0) 0%),
		linear-gradient(to right, $color3 50%, rgba(255, 255, 255, 0) 0%),
		linear-gradient($color4 50%, rgba(255, 255, 255, 0) 0%);
	background-position: top, right, bottom, left;
	background-repeat: repeat-x, repeat-y;
	background-size: var(--borderGap) var(--borderWidth), var(--borderWidth) var(--borderGap);
}

// @include responsiveGrid(**px, **fr);
@mixin responsiveGrid($min, $max) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($min, $max));
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
