// * SVG Icon Generatior
// * Accept hex color only
// * Use as background-image: url(svgIconName(#hex-code));

@function svgIconName($color: #010101) {
	$hexColor: '%23' + str-slice('#{$color}', 2, -1);

	@return 'data:image/svg+xml;charset=UTF-8, <svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m22.9289 6.25h-15.85763c-.72865 0-1.09632.88409-.58003 1.40038l6.32126 6.32222v7.043c0 .2677.1306.5185.3499.6721l2.7344 1.9133c.5394.3777 1.2907-.0051 1.2907-.672v-8.9564l6.3214-6.32222c.5152-.51526.1501-1.40038-.58-1.40038z" fill="#{$hexColor}"/></svg>';
}

@function svgCircleInfo($color: $black-20) {
	$hexColor: '%23' + str-slice('#{$color}', 2, -1);

	@return 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 12.0001C3.5 7.31315 7.3131 3.5 12 3.5C16.6869 3.5 20.5 7.31315 20.5 12.0001C20.5 16.687 16.6869 20.5 12 20.5C7.3131 20.5 3.5 16.687 3.5 12.0001ZM5.04498 12.0004C5.04498 15.8351 8.16474 18.9549 11.9995 18.9549C15.8343 18.9549 18.9541 15.8351 18.9541 12.0004C18.9541 8.16562 15.8343 5.04576 11.9995 5.04576C8.16474 5.04576 5.04498 8.16562 5.04498 12.0004ZM11.9998 7.10617C11.4318 7.10617 10.9697 7.56857 10.9697 8.13694C10.9697 8.70479 11.4318 9.16678 11.9998 9.16678C12.5678 9.16678 13.0299 8.70479 13.0299 8.13694C13.0299 7.56857 12.5678 7.10617 11.9998 7.10617ZM11.227 11.4848C11.227 11.0581 11.573 10.7121 11.9997 10.7121C12.4265 10.7121 12.7724 11.0581 12.7724 11.4848V16.1212C12.7724 16.5479 12.4265 16.8939 11.9997 16.8939C11.573 16.8939 11.227 16.5479 11.227 16.1212V11.4848Z" fill="#{$hexColor}"/></svg>';
}
