@font-face {
	font-family: 'tutor';
	src: url('../fonts/tutor.woff2') format('woff2'), url('../fonts/tutor.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='tutor-icon-'],
[class*=' tutor-icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tutor' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tutor-icon-action-line:before {
	content: '\e900';
}
.tutor-icon-add-line-line:before {
	content: '\e901';
}
.tutor-icon-add-photo-line:before {
	content: '\e902';
}
.tutor-icon-artboard-line:before {
	content: '\e903';
}
.tutor-icon-calender-line:before {
	content: '\e904';
}
.tutor-icon-mark-cricle:before {
	content: '\e905';
}
.tutor-icon-portrait:before {
	content: '\e906';
}
.tutor-icon-zoom:before {
	content: '\e907';
}
.tutor-icon-clipboard-line:before {
	content: '\e908';
}
.tutor-icon-code-line:before {
	content: '\e909';
}
.tutor-icon-conversation-line:before {
	content: '\e90a';
}
.tutor-icon-cup-line:before {
	content: '\e90b';
}
.tutor-icon-default-line:before {
	content: '\e90c';
}
.tutor-icon-download-line:before {
	content: '\e90d';
}
.tutor-icon-drag-line:before {
	content: '\e90e';
}
.tutor-icon-emoji-line:before {
	content: '\e90f';
}
.tutor-icon-file-line:before {
	content: '\e910';
}
.tutor-icon-gallery-line:before {
	content: '\e911';
}
.tutor-icon-garbage-line:before {
	content: '\e912';
}
.tutor-icon-glasses-line:before {
	content: '\e913';
}
.tutor-icon-graduate-line:before {
	content: '\e914';
}
.tutor-icon-grid-line:before {
	content: '\e915';
}
.tutor-icon-group-line:before {
	content: '\e916';
}
.tutor-icon-home-line:before {
	content: '\e917';
}
.tutor-icon-icon-light-down-line:before {
	content: '\e918';
}
.tutor-icon-icon-light-left-line:before {
	content: '\e919';
}
.tutor-icon-icon-light-right-line:before {
	content: '\e91a';
}
.tutor-icon-icon-light-up-line:before {
	content: '\e91b';
}
.tutor-icon-interactive-line:before {
	content: '\e91c';
}
.tutor-icon-level-line:before {
	content: '\e91d';
}
.tutor-icon-line-cross-line:before {
	content: '\e91e';
}
.tutor-icon-magnifying-glass-line:before {
	content: '\e91f';
}
.tutor-icon-menu-line:before {
	content: '\e920';
}
.tutor-icon-mortarboard-line:before {
	content: '\e921';
}
.tutor-icon-next-line:before {
	content: '\e922';
}
.tutor-icon-offer-line:before {
	content: '\e923';
}
.tutor-icon-open-book-line:before {
	content: '\e924';
}
.tutor-icon-pencil-line:before {
	content: '\e925';
}
.tutor-icon-previous-line:before {
	content: '\e926';
}
.tutor-icon-professor-line:before {
	content: '\e927';
}
.tutor-icon-qa-line:before {
	content: '\e928';
}
.tutor-icon-receipt-line:before {
	content: '\e929';
}
.tutor-icon-refund-line:before {
	content: '\e92a';
}
.tutor-icon-review-line:before {
	content: '\e92b';
}
.tutor-icon-save-line:before {
	content: '\e92c';
}
.tutor-icon-search-file-line:before {
	content: '\e92d';
}
.tutor-icon-share-line:before {
	content: '\e92e';
}
.tutor-icon-spinner-line:before {
	content: '\e92f';
}
.tutor-icon-student-line-1:before {
	content: '\e930';
}
.tutor-icon-student-line:before {
	content: '\e931';
}
.tutor-icon-total-discount-line:before {
	content: '\e932';
}
.tutor-icon-total-earning-line:before {
	content: '\e933';
}
.tutor-icon-uoload-success-line:before {
	content: '\e934';
}
.tutor-icon-update-line:before {
	content: '\e935';
}
.tutor-icon-upload-file-line:before {
	content: '\e936';
}
.tutor-icon-upload-icon-line:before {
	content: '\e937';
}
.tutor-icon-upload-line:before {
	content: '\e938';
}
.tutor-icon-add-group-filled:before {
	content: '\e939';
}
.tutor-icon-add-image-filled:before {
	content: '\e93a';
}
.tutor-icon-add-member-filled:before {
	content: '\e93b';
}
.tutor-icon-angle-double-left-filled:before {
	content: '\e93c';
}
.tutor-icon-angle-double-right-filled:before {
	content: '\e93d';
}
.tutor-icon-angle-down-filled:before {
	content: '\e93e';
}
.tutor-icon-angle-left-filled:before {
	content: '\e93f';
}
.tutor-icon-angle-right-filled:before {
	content: '\e940';
}
.tutor-icon-angle-up-filled:before {
	content: '\e941';
}
.tutor-icon-assesment-filled:before {
	content: '\e942';
}
.tutor-icon-assignment-filled:before {
	content: '\e943';
}
.tutor-icon-attach-filled:before {
	content: '\e944';
}
.tutor-icon-audio-volume-filled:before {
	content: '\e945';
}
.tutor-icon-authorised-filled:before {
	content: '\e946';
}
.tutor-icon-award-filled:before {
	content: '\e947';
}
.tutor-icon-background-filled:before {
	content: '\e948';
}
.tutor-icon-book-open-filled:before {
	content: '\e949';
}
.tutor-icon-books-filled:before {
	content: '\e94a';
}
.tutor-icon-box-open-filled:before {
	content: '\e94b';
}
.tutor-icon-browser-filled:before {
	content: '\e94c';
}
.tutor-icon-bullet-point-filled:before {
	content: '\e94d';
}
.tutor-icon-calender-bold-filled:before {
	content: '\e94e';
}
.tutor-icon-calender-line-filled:before {
	content: '\e94f';
}
.tutor-icon-camera-filled:before {
	content: '\e950';
}
.tutor-icon-cart-filled:before {
	content: '\e951';
}
.tutor-icon-cart-line-filled:before {
	content: '\e952';
}
.tutor-icon-certificate-1-filled:before {
	content: '\e953';
}
.tutor-icon-certificate-filled:before {
	content: '\e954';
}
.tutor-icon-change-filled:before {
	content: '\e955';
}
.tutor-icon-chart-filled:before {
	content: '\e956';
}
.tutor-icon-circle-outline-info-filled:before {
	content: '\e957';
}
.tutor-icon-clock-fill-filled:before {
	content: '\e958';
}
.tutor-icon-clock-filled:before {
	content: '\e959';
}
.tutor-icon-coding-filled:before {
	content: '\e95a';
}
.tutor-icon-coins-filled:before {
	content: '\e95b';
}
.tutor-icon-college-graduation-filled:before {
	content: '\e95c';
}
.tutor-icon-comment-filled:before {
	content: '\e95d';
}
.tutor-icon-company-filled:before {
	content: '\e95e';
}
.tutor-icon-content-drip-filled:before {
	content: '\e95f';
}
.tutor-icon-copy-filled:before {
	content: '\e960';
}
.tutor-icon-export-line:before {
	content: '\e961';
}
.tutor-icon-import-line:before {
	content: '\e962';
}
.tutor-icon-learndash-filled:before {
	content: '\e963';
}
.tutor-icon-learnpress-filled:before {
	content: '\e964';
}
.tutor-icon-cross-circle-outline-filled:before {
	content: '\e965';
}
.tutor-icon-cross-cricle-filled:before {
	content: '\e966';
}
.tutor-icon-cross-filled:before {
	content: '\e967';
}
.tutor-icon-crown-filled:before {
	content: '\e968';
}
.tutor-icon-customize-filled:before {
	content: '\e969';
}
.tutor-icon-dashboard-filled:before {
	content: '\e96a';
}
.tutor-icon-delete-fill-filled:before {
	content: '\e96b';
}
.tutor-icon-delete-stroke-filled:before {
	content: '\e96c';
}
.tutor-icon-design-filled:before {
	content: '\e96d';
}
.tutor-icon-detail-link-filled:before {
	content: '\e96e';
}
.tutor-icon-discount-filled-2:before {
	content: '\e96f';
}
.tutor-icon-discount-filled-filled:before {
	content: '\e970';
}
.tutor-icon-doc-add-filled:before {
	content: '\e971';
}
.tutor-icon-document-alt-filled:before {
	content: '\e972';
}
.tutor-icon-donate-filled:before {
	content: '\e973';
}
.tutor-icon-door-open-filled:before {
	content: '\e974';
}
.tutor-icon-down-filled:before {
	content: '\e975';
}
.tutor-icon-download-filled:before {
	content: '\e976';
}
.tutor-icon-drop-down-filled:before {
	content: '\e977';
}
.tutor-icon-drop-filled:before {
	content: '\e978';
}
.tutor-icon-duration-filled:before {
	content: '\e979';
}
.tutor-icon-earth-filled:before {
	content: '\e97a';
}
.tutor-icon-edit-fill-filled:before {
	content: '\e97b';
}
.tutor-icon-edit-filled:before {
	content: '\e97c';
}
.tutor-icon-edit-option-filled:before {
	content: '\e97d';
}
.tutor-icon-editor-filled:before {
	content: '\e97e';
}
.tutor-icon-education-filled:before {
	content: '\e97f';
}
.tutor-icon-envelope-filled:before {
	content: '\e980';
}
.tutor-icon-expired-filled:before {
	content: '\e981';
}
.tutor-icon-eye-fill-filled:before {
	content: '\e982';
}
.tutor-icon-eye-filled:before {
	content: '\e983';
}
.tutor-icon-fav-full-filled:before {
	content: '\e984';
}
.tutor-icon-fav-line-filled:before {
	content: '\e985';
}
.tutor-icon-fill-gaps-filled:before {
	content: '\e986';
}
.tutor-icon-filter-dollar-filled:before {
	content: '\e987';
}
.tutor-icon-filter-filled:before {
	content: '\e988';
}
.tutor-icon-folder-filled:before {
	content: '\e989';
}
.tutor-icon-grade-filled:before {
	content: '\e98a';
}
.tutor-icon-gradebook-filled:before {
	content: '\e98b';
}
.tutor-icon-grid-fill-filled:before {
	content: '\e98c';
}
.tutor-icon-grid-filled:before {
	content: '\e98d';
}
.tutor-icon-hand-holding-usd-filled:before {
	content: '\e98e';
}
.tutor-icon-heart-filled:before {
	content: '\e98f';
}
.tutor-icon-home-filled:before {
	content: '\e990';
}
.tutor-icon-humnurger-filled:before {
	content: '\e991';
}
.tutor-icon-idea-filled:before {
	content: '\e992';
}
.tutor-icon-image-filled:before {
	content: '\e993';
}
.tutor-icon-image-matching-filled:before {
	content: '\e994';
}
.tutor-icon-image-portrait-filled:before {
	content: '\e995';
}
.tutor-icon-img-add-filled:before {
	content: '\e996';
}
.tutor-icon-import-export-filled:before {
	content: '\e997';
}
.tutor-icon-import-filled:before {
	content: '\e998';
}
.tutor-icon-in-progress-filled:before {
	content: '\e999';
}
.tutor-icon-info-circle-outline-filled:before {
	content: '\e99a';
}
.tutor-icon-certificate-l:before {
	content: '\e99b';
}
.tutor-icon-instructor-filled:before {
	content: '\e99c';
}
.tutor-icon-copy-text:before {
	content: '\e99d';
}
.tutor-icon-invisible-filled:before {
	content: '\e99e';
}
.tutor-icon-landscape-filled:before {
	content: '\e99f';
}
.tutor-icon-layer-filled:before {
	content: '\e9a0';
}
.tutor-icon-link-filled:before {
	content: '\e9a1';
}
.tutor-icon-list-filled:before {
	content: '\e9a2';
}
.tutor-icon-lock-filled:before {
	content: '\e9a3';
}
.tutor-icon-lock-stroke-filled:before {
	content: '\e9a4';
}
.tutor-icon-man-user-filled:before {
	content: '\e9a5';
}
.tutor-icon-manual-filled:before {
	content: '\e9a6';
}
.tutor-icon-mark-cricle-filled:before {
	content: '\e9a7';
}
.tutor-icon-mark-filled:before {
	content: '\e9a8';
}
.tutor-icon-mark-unread-filled:before {
	content: '\e9a9';
}
.tutor-icon-marks-achive-filled:before {
	content: '\e9aa';
}
.tutor-icon-marks-total-filled:before {
	content: '\e9ab';
}
.tutor-icon-matching-filled:before {
	content: '\e9ac';
}
.tutor-icon-media-manager-filled:before {
	content: '\e9ad';
}
.tutor-icon-meeting-filled:before {
	content: '\e9ae';
}
.tutor-icon-microphone-filled:before {
	content: '\e9af';
}
.tutor-icon-minus-bold-filled:before {
	content: '\e9b0';
}
.tutor-icon-minus-filled:before {
	content: '\e9b1';
}
.tutor-icon-monthly-filled:before {
	content: '\e9b2';
}
.tutor-icon-move-filled:before {
	content: '\e9b3';
}
.tutor-icon-msg-archive-1-filled:before {
	content: '\e9b4';
}
.tutor-icon-msg-archive-2-filled:before {
	content: '\e9b5';
}
.tutor-icon-msg-archive-filled:before {
	content: '\e9b6';
}
.tutor-icon-msg-important-fill-filled:before {
	content: '\e9b7';
}
.tutor-icon-msg-important-filled:before {
	content: '\e9b8';
}
.tutor-icon-msg-read-filled:before {
	content: '\e9b9';
}
.tutor-icon-msg-unread-filled:before {
	content: '\e9ba';
}
.tutor-icon-multiple-choice-filled:before {
	content: '\e9bb';
}
.tutor-icon-notification-filled:before {
	content: '\e9bc';
}
.tutor-icon-notification-line-filled:before {
	content: '\e9bd';
}
.tutor-icon-open-ended-filled:before {
	content: '\e9be';
}
.tutor-icon-order-down-filled:before {
	content: '\e9bf';
}
.tutor-icon-order-up-filled:before {
	content: '\e9c0';
}
.tutor-icon-ordering-a-to-z-filled:before {
	content: '\e9c1';
}
.tutor-icon-ordering-z-to-a-filled:before {
	content: '\e9c2';
}
.tutor-icon-paste-filled:before {
	content: '\e9c3';
}
.tutor-icon-play-outline-circle-filled:before {
	content: '\e9c4';
}
.tutor-icon-plus-bold-filled:before {
	content: '\e9c5';
}
.tutor-icon-plus-filled:before {
	content: '\e9c6';
}
.tutor-icon-plus-square-filled:before {
	content: '\e9c7';
}
.tutor-icon-eye-close-f:before {
	content: '\e9c8';
}
.tutor-icon-print-filled:before {
	content: '\e9c9';
}
.tutor-icon-purchase-filled:before {
	content: '\e9ca';
}
.tutor-icon-puzzle-filled:before {
	content: '\e9cb';
}
.tutor-icon-qr-code-filled:before {
	content: '\e9cc';
}
.tutor-icon-question-filled:before {
	content: '\e9cd';
}
.tutor-icon-question-mark-circle-filled:before {
	content: '\e9ce';
}
.tutor-icon-quiz-1-filled:before {
	content: '\e9cf';
}
.tutor-icon-quiz-attempt-filled:before {
	content: '\e9d0';
}
.tutor-icon-quiz-filled:before {
	content: '\e9d1';
}
.tutor-icon-recipt-filled:before {
	content: '\e9d2';
}
.tutor-icon-redo-filled:before {
	content: '\e9d3';
}
.tutor-icon-refresh-1-filled:before {
	content: '\e9d4';
}
.tutor-icon-refresh-filled:before {
	content: '\e9d5';
}
.tutor-icon-report-filled:before {
	content: '\e9d6';
}
.tutor-icon-save-bold-filled:before {
	content: '\e9d7';
}
.tutor-icon-search-filled:before {
	content: '\e9d8';
}
.tutor-icon-send-filled:before {
	content: '\e9d9';
}
.tutor-icon-settings-filled:before {
	content: '\e9da';
}
.tutor-icon-shape-filled:before {
	content: '\e9db';
}
.tutor-icon-share-filled:before {
	content: '\e9dc';
}
.tutor-icon-short-ans-filled:before {
	content: '\e9dd';
}
.tutor-icon-shorting-filled:before {
	content: '\e9de';
}
.tutor-icon-spinner-filled:before {
	content: '\e9df';
}
.tutor-icon-signout-filled:before {
	content: '\e9e1';
}
.tutor-icon-space-filled:before {
	content: '\e9e2';
}
.tutor-icon-speaker-filled:before {
	content: '\e9e3';
}
.tutor-icon-star-full-filled:before {
	content: '\e9e4';
}
.tutor-icon-star-half-filled:before {
	content: '\e9e5';
}
.tutor-icon-star-line-filled:before {
	content: '\e9e6';
}
.tutor-icon-stopwatch-filled:before {
	content: '\e9e7';
}
.tutor-icon-style-filled:before {
	content: '\e9e8';
}
.tutor-icon-tick-circle-outline-filled:before {
	content: '\e9e9';
}
.tutor-icon-undo-filled:before {
	content: '\e9ea';
}
.tutor-icon-university-filled:before {
	content: '\e9eb';
}
.tutor-icon-unlock-stroke-filled:before {
	content: '\e9ec';
}
.tutor-icon-up-filled:before {
	content: '\e9ed';
}
.tutor-icon-user-filled:before {
	content: '\e9ee';
}
.tutor-icon-user-graduate-filled:before {
	content: '\e9ef';
}
.tutor-icon-verify-filled:before {
	content: '\e9f0';
}
.tutor-icon-video-camera-filled:before {
	content: '\e9f1';
}
.tutor-icon-video-filled:before {
	content: '\e9f2';
}
.tutor-icon-wallet-filled:before {
	content: '\e9f3';
}
.tutor-icon-facebook-brand:before {
	content: '\e9f4';
}
.tutor-icon-zoom-brand-2:before {
	content: '\e9f5';
}
.tutor-icon-warning-outline-circle-filled:before {
	content: '\e9f6';
}
.tutor-icon-website-filled:before {
	content: '\e9f7';
}
.tutor-icon-yes-no-filled:before {
	content: '\e9f8';
}
.tutor-icon-zoom-in-filled:before {
	content: '\e9f9';
}
.tutor-icon-zoom-out-filled:before {
	content: '\e9fa';
}
.tutor-icon-github-logo-brand:before {
	content: '\e9fb';
}
.tutor-icon-google-brand:before {
	content: '\e9fc';
}
.tutor-icon-google-drive-brand:before {
	content: '\e9fd';
}
.tutor-icon-html5-brand:before {
	content: '\e9fe';
}
.tutor-icon-html5-stroke-brand:before {
	content: '\e9ff';
}
.tutor-icon-instagram-brand:before {
	content: '\ea00';
}
.tutor-icon-linkedin-brand:before {
	content: '\ea01';
}
.tutor-icon-myspace-brand:before {
	content: '\ea02';
}
.tutor-icon-paid-membersip-pro-brand:before {
	content: '\ea03';
}
.tutor-icon-reddit-brand:before {
	content: '\ea04';
}
.tutor-icon-skype-brand:before {
	content: '\ea05';
}
.tutor-icon-snapchat-brand:before {
	content: '\ea06';
}
.tutor-icon-soundcloud-brand:before {
	content: '\ea07';
}
.tutor-icon-spotify-brand:before {
	content: '\ea08';
}
.tutor-icon-tumblr-brand:before {
	content: '\ea09';
}
.tutor-icon-twitter-brand:before {
	content: '\ea0a';
}
.tutor-icon-vimeo-brand:before {
	content: '\ea0b';
}
.tutor-icon-vimeo-stroke-brand:before {
	content: '\ea0c';
}
.tutor-icon-yelp-brand:before {
	content: '\ea0d';
}
.tutor-icon-youtube-brand:before {
	content: '\ea0e';
}
.tutor-icon-youtube-stroke-brand:before {
	content: '\ea0f';
}
.tutor-icon-grade-f:before {
	content: '\ea10';
}
.tutor-icon-ai-file:before {
	content: '\ea11';
}
.tutor-icon-archive-file:before {
	content: '\ea12';
}
.tutor-icon-audio-file:before {
	content: '\ea13';
}
.tutor-icon-avi-file:before {
	content: '\ea14';
}
.tutor-icon-compress-file:before {
	content: '\ea15';
}
.tutor-icon-css-file:before {
	content: '\ea16';
}
.tutor-icon-csv-file:before {
	content: '\ea17';
}
.tutor-icon-dbf-file:before {
	content: '\ea18';
}
.tutor-icon-doc-file:before {
	content: '\ea19';
}
.tutor-icon-document-file:before {
	content: '\ea1a';
}
.tutor-icon-dwg-file:before {
	content: '\ea1b';
}
.tutor-icon-exe-file:before {
	content: '\ea1c';
}
.tutor-icon-fla-file:before {
	content: '\ea1d';
}
.tutor-icon-html-file:before {
	content: '\ea1e';
}
.tutor-icon-image-file:before {
	content: '\ea1f';
}
.tutor-icon-iso-file:before {
	content: '\ea20';
}
.tutor-icon-jason-file-file:before {
	content: '\ea21';
}
.tutor-icon-javascript-file:before {
	content: '\ea22';
}
.tutor-icon-jpg-file:before {
	content: '\ea23';
}
.tutor-icon-mp3-file:before {
	content: '\ea24';
}
.tutor-icon-mp4-file:before {
	content: '\ea25';
}
.tutor-icon-pdf-file:before {
	content: '\ea26';
}
.tutor-icon-png-file:before {
	content: '\ea27';
}
.tutor-icon-ppt-file:before {
	content: '\ea28';
}
.tutor-icon-psd-file:before {
	content: '\ea29';
}
.tutor-icon-rtf-file:before {
	content: '\ea2a';
}
.tutor-icon-spreadsheet-file:before {
	content: '\ea2b';
}
.tutor-icon-svg-file:before {
	content: '\ea2c';
}
.tutor-icon-text-file:before {
	content: '\ea2d';
}
.tutor-icon-txt-file:before {
	content: '\ea2e';
}
.tutor-icon-video-file:before {
	content: '\ea2f';
}
.tutor-icon-xls-file:before {
	content: '\ea30';
}
.tutor-icon-xml-file:before {
	content: '\ea31';
}
.tutor-icon-zip-file:before {
	content: '\ea32';
}
.tutor-icon-info-f:before {
	content: '\ea33';
}
.tutor-icon-refresh-f:before {
	content: '\ea34';
}
.tutor-icon-refresh-l:before {
	content: '\ea35';
}
.tutor-icon-warning-f:before {
	content: '\ea36';
}
.tutor-icon-shortcode-filled:before {
	content: '\ea37';
}
