.item-wrapper.color-preset-picker {
	> .tutor-option-field-row {
		border-bottom: none !important;
	}
	.color-picker-wrapper .tutor-option-field-row {
		&:not(:last-child) {
			border-bottom: 1px solid #e8e8e8;
		}
	}
}

.tutor-option-field-input.color-preset-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	padding-top: 10px;
	padding-bottom: 16px;
}

.color-preset-grid label.color-preset-input {
	$transition: 200ms linear;
	cursor: pointer;
	display: inherit;

	.preset-item {
		background: $color-white;
		border: 1px solid $stroke-light-30;
		border-radius: 6px;
		overflow: hidden;
		transition: $transition;
	}
	.header {
		display: grid;
		grid-auto-flow: column;
		span {
			height: 37px;
			text-indent: 1000%;
			background: rgba(0, 0, 0, 0.8);
		}
		span:nth-child(1) {
			background: rgba(0, 0, 0, 0.8);
		}
		span:nth-child(2) {
			background: rgba(0, 0, 0, 0.6);
		}
		span:nth-child(3) {
			background: rgba(0, 0, 0, 0.4);
		}
		span:nth-child(4) {
			background: rgba(0, 0, 0, 0.2);
		}
	}
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 12px 8px 13px;
		.check-icon {
			width: 20px;
			height: 20px;
			display: inline-block;
			border: 2px solid $stroke-gray;
			border-radius: 4px;
			transition: $transition;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				inset: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: 12px;
				background-position: 50%;
				transform-origin: center;
				transform: scale(1.2);
				opacity: 0;
			}
		}
	}

	input[type='radio'] {
		@include appearNone;
		&:checked {
			+ .preset-item {
				border-color: $brand-wordpress;
				box-shadow: 0 0 0 1px $brand-wordpress;
				.check-icon {
					background-color: $brand-wordpress;
					border-color: $brand-wordpress;

					&:before {
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}

		&:disabled {
			+ .preset-item {
				cursor: not-allowed;
				.check-icon {
					opacity: 0.5;
				}
			}
		}
	}

	&.is-checked {
		position: relative;
		transition: 200ms;
		&:before {
			content: '';
			position: absolute;
			top: calc(100% + 31px - 11px);
			width: 27px;
			height: 11px;
			left: 50%;
			margin-left: calc(-27px / 2);
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='11' viewBox='0 0 27 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.3' d='M11.605 1.54409C12.7084 0.64503 14.2916 0.645029 15.395 1.54409L27 11H0L11.605 1.54409Z' fill='%23EFF1F7'/%3e%3c/svg%3e ");
		}
	}
}

.item-wrapper > .color-picker-wrapper {
	.tutor-option-field-row:first-child {
		padding-top: 15px;
	}

	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		inset: 0px -26px -20px -26px;
		background: rgba(239, 241, 247, 0.3);
		z-index: -1;
	}

	label.color-picker-input {
		cursor: pointer;
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		background: $color-white;
		border: 1px solid $stroke-light-30;
		border-radius: 6px;
		width: 109px;
		height: 34px;
		transition: 200ms;

		overflow: hidden;
		.picker-value {
			text-align: left;
			@extend .text-regular-small;
			color: $text-primary;
			> .color {
				display: inline-flex;
				width: 32px;
				height: 32px;
			}
			> .value {
				padding: 5px 10px;
				color: $text-primary;
			}
		}

		input[type='color'] {
			cursor: pointer;
			width: 32px;
			height: 32px;
			border: none;
			&:checked {
				border-color: $color-brand;
			}
			&::-webkit-color-swatch-wrapper {
				padding: 0;
			}
			&::-webkit-color-swatch {
				border: none;
			}
		}
	}
}
