// Type - Radio Thumbnail
.radio-thumbnail {
	label {
		cursor: pointer;
	}

	.icon-wrapper {
		position: relative;
		display: inline-flex;
		border: 1px solid #c0c3cb;
		border-radius: 6px;
		&:before {
			content: "";
			position: absolute;
			right: -14px;
			top: -14px;
			height: 28px;
			width: 28px;
			border-radius: 50%;
			background-size: 14px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: 50%;
			transition: 0.3s;
		}
		&.icon-col {
			&:hover {
				background: #e9edfb;
			}
		}
	}

	input[type="radio"] {
		appearance: none;
		outline: none;
		cursor: pointer;
		width: 97px;
		height: 46px;
		background: #dbdbdb;
		display: none;

		&:checked {
			~ .title {
				color: var(--tutor-color-primary);
			}
			~ .icon-wrapper {
				img {
					box-shadow: 0 0 0 2px var(--tutor-color-primary);
				}

				&:before {
					span {
						background-color: var(--tutor-color-primary);
						border-color: var(--tutor-color-primary);
					}
					background-color: var(--tutor-color-primary);
					@include svg-check-icon;
				}
			}
		}
	}
	
	// Type - Radio Thumbnail with Title
	&.has-title {
		label {
			text-align: center;
			@include getTypography(400, 15px, 160%);
			.title {
				margin-top: 6px;
				display: block;
			}
		}
	}
}

.items-per-row-label {
	text-align: center;
	@include getTypography(400, 15px, 160%);
	input[type="radio"] {
		&:checked + .icon-col {
			background: #e9edfb;
			span {
				background-color: var(--tutor-color-primary);
				border-color: var(--tutor-color-primary);
			}
			&:before {
				background-color: var(--tutor-color-primary);
				@include svg-check-icon;
			}
		}
	}
	.icon-col {
		width: 95.4px;
		height: 46px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
		cursor: pointer;
		border: 8px solid transparent;
		border-radius: 3px;
		background: var(--tutor-color-white);
		transition: 0.2s linear;
		position: relative;
		span {
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			background: $color-gray-10;
			border: 1px solid var(--tutor-border-color);
			border-radius: 2px;
			transition: 0.2s ease-in-out;
		}
		&:before {
			right: -16px;
			top: -16px;
			height: 16px;
			width: 16px;
			background-size: 8px;
		}
		&:focus:before {
			box-shadow: 0 0 0 6px rgba(var(--tutor-color-primary-rgb), 0.1);
		}
	}

	&:nth-child(2) .icon-col {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10.24px;
	}

	&:nth-child(3) .icon-col {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 8.74px;
	}

	&:nth-child(4) .icon-col {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 8.49px;
	}
	
	&:not(:last-child) {
		margin-right: 30px;
	}

	.title {
		margin-top: 3px;
		display: inline-block;
	}
}
