// Background colors

$tutor-action-brand-tertiary: var(--tutor-actions-brand-tertiary);
$tutor-actions-warning-secondary: var(--tutor-actions-warning-secondary);
$tutor-actions-success-tertiary: var(--tutor-actions-success-tertiary);
$tutor-actions-critical-secondary: var(--tutor-actions-critical-secondary);
$tutor-actions-gray-secondary: var(--tutor-actions-gray-secondary);
$tutor-surface-exception2-secondary: var(--tutor-surface-exception2-secondary);

$tutor-actions-backgrounds: (
	'brand-tertiary': $tutor-action-brand-tertiary,
	'warning-secondary': $tutor-actions-warning-secondary,
	'success-tertiary': $tutor-actions-success-tertiary,
	'critical-secondary': $tutor-actions-critical-secondary,
	'gray-secondary': $tutor-actions-gray-secondary
)