// Design Tokens - Breakpoints
// Mobile-first responsive design breakpoints

$tutor-breakpoint-xs: 0px;
$tutor-breakpoint-sm: 576px;
$tutor-breakpoint-md: 768px;
$tutor-breakpoint-lg: 992px;
$tutor-breakpoint-xl: 1200px;
$tutor-breakpoint-2xl: 1400px;

// Breakpoint map for mixins
$tutor-breakpoints: (
  xs: $tutor-breakpoint-xs,
  sm: $tutor-breakpoint-sm,
  md: $tutor-breakpoint-md,
  lg: $tutor-breakpoint-lg,
  xl: $tutor-breakpoint-xl,
  2xl: $tutor-breakpoint-2xl
);