@use './colors' as *;

$tutor-file-uploader-background-image: var(
  --tutor-file-uploader-background-image,
  url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23A4BCF4FF' stroke-width='3' stroke-dasharray='6%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e")
);

$tutor-file-uploader: (
  background-image: $tutor-file-uploader-background-image,
);
