.dozent-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-left: 2em;
    padding-right: 2em;
}
.dozent-wrap:after {
    clear: both;
    content: "";
    display: block;
}
.dozent-course-lesson h5{
    letter-spacing: 0;
    text-transform: none;
}
.site-content .dozent-wrap{
    margin-top: 30px;
}
.dozent-full-width-student-profile .dozent-wrap{
    margin: 0;
}
.dozent-dashboard-student.dozent-wrap{
    margin-top: 30px;
}
.dozent-price-preview-box ins{
    background: none;
}
@media screen and (min-width: 48em) {
    .dozent-wrap {
        max-width: 1000px;
        padding-left: 3em;
        padding-right: 3em;
    }
    .dozent-full-width-student-profile .dozent-wrap{
        padding: 0;
    }
}