.tutor-meta {
    display: flex;
    align-items: center;
    gap: 16px;

    > * {
        font-size: 14px;
        line-height: 1.6;
        color: var(--tutor-color-muted);
    }

    &-value,
    a {
        color: var(--tutor-body-color);
        font-weight: 500;
    }

    a {
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: var(--tutor-color-primary);
            text-decoration: none;
            outline: 0;
        }
    }

    &-icon {
        line-height: 1.6;
        @if ($is_rtl == true) {
           margin-left: 4px;
        } @else {
           margin-right: 4px;
        }
    }
}