.tutor-meeting-list {
	margin: 0;
	padding: 0;
	padding-top: 13px;
	padding-bottom: 10px;
	box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.12);
	background: #fff;
	width: 273px;

	li {
		list-style: none;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding: 3px 24px;
		&:last-child {
			border-top: 1px solid var(--tutor-border-color);
			margin-top: 20px;
			padding-top: 10px;
			padding-bottom: 6px;
		}
	}

	.tutor-btn {
		> * {
			pointer-events: none;
		}
		.btn-icon.tutor-icon-24.tutor-icon-copy-text {
			margin-bottom: -1px;
		}
	}

	.tutor-tooltip {
		position: absolute;
		background: #212327;
		color: #fff;
		border: 1px solid;
		width: max-content;
		height: auto;
		font-size: 12px;
		line-height: 1.5;
		transform: translateY(-50%);
		padding: 3px 8px;
		border-radius: 8px;
		left: calc(100% + 5px);
		top: 50%;

		&:before {
			--bw: 4px;
			content: '';
			position: absolute;
			top: 50%;
			left: calc(-2 * var(--bw));
			transform: translateY(-50%);
			border-width: var(--bw);
			border-style: solid;
			border-color: transparent;
			border-right-color: #212327;
		}
	}

	li div {
		position: relative;
	}
}