.tutor-wp-dashboard-header {
	box-sizing: border-box;
	background: #ffffff;
	border-bottom: 1px solid var(--tutor-border-color);
}

.tutor-wp-dashboard-filter {
	@include breakpoint-max(1300) {
		flex-wrap: wrap;
	}
	@include breakpoint-max(mobile) {
		flex-direction: row;
		display: block !important;
		&-items {
			display: block !important;
			.tutor-input-group {
				max-width: 100% !important;
				width: 100% !important;
			}
		}
	}

	.tutor-wp-dashboard-filter-item {

		&.item-reset,
		&.item-reset-admin {
			.tutor-btn{
				margin-top: 12px;
			}
		}

		&.item-reset-admin {
			@include breakpoint-min(320) {
				text-align: right;
				margin-top: 0;
			}

			@include breakpoint-min(1600) {
				align-self: center;
				margin-top: 30px;
			}
		}

	}

	@include breakpoint-min(1600) {
		.tutor-col-xxxl-auto {
			flex: 0 0 auto;
			width: auto;
		}

		.tutor-col-xxxl-2 {
			flex: 0 0 auto;
			width: 16.66667%;
		}

		.tutor-mt-xxxl-0 {
			margin-top: 0;
		}
	}

	&.without-bulk-action {
		.tutor-col {
			flex: 1 0 50%;
			margin-top: 12px;
		}
		
		@include breakpoint-min(768) {
			.tutor-col {
				flex: 1 0 0%;
				margin-top: 0;
			}

		}
	}
}

.tutor-wp-dashboard-filter-items {
	.tutor-form-label {
		@extend .text-medium-caption;
		color: var(--tutor-color-secondary);
	}
}



.tutor-course-builder {
	&-zoom-meeting-list {
		&-item {
			padding: 24px 0px;
			border-bottom: 1px solid var(--tutor-border-color);

			&:first-child {
				padding-top: 0;
			}
		}
	}
}
