.tutor-action-icon{
    @include valueWithPrefix(display, inline-flex);
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;

    width: 40px;
    height: 40px;
    font-size: 14px;

    &:hover{
        background: $black-05;
    }
}