.tutor-check-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.0013 15.0832c3.912 0 7.0833-3.1713 7.0833-7.08336 0-3.91202-3.1713-7.083336-7.0833-7.083336C4.08929.916504.917969 4.08782.917969 7.99984c0 3.91206 3.171321 7.08336 7.083331 7.08336zM4.48728 8.35631c.01848.04467.04516.08548.07867.12032l2.50981 2.50057c.03312.0386.07415.0696.12032.091.09879.0408.20973.0408.30852 0 .04617-.0214.0872-.0524.12032-.091l4.44418-4.4211c.0336-.03485.0602-.07566.0787-.12032.0369-.09954.0369-.20899 0-.30852-.0181-.04487-.0448-.08575-.0787-.12033l-.5584-.54299c-.0326-.03754-.0729-.06768-.1181-.08843-.0452-.02075-.0944-.03162-.1441-.03189-.053-.00065-.1056.00986-.1543.03085-.0469.02159-.0894.05196-.1249.08947L7.35343 9.07979l-1.68452-1.6876c-.03656-.03775-.08002-.06812-.12804-.08947a.3655657.3655657 0 00-.15426-.03086c-.04895.00016-.09732.01068-.14192.03086-.04633.02038-.08746.05097-.12032.08947l-.55842.53528c-.03384.03458-.06056.07546-.07867.12032-.03686.09954-.03686.20898 0 .30852z' fill='%233E64DE'/%3E%3C/svg%3E");
}