.tutor-table-responsive {
  overflow-x: auto;
  outline: 1px solid var(--tutor-border-color-alt);
  outline-offset: -1px;
}

.tutor-table {
  @extend .tutor-text-sm;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  th {
    background: var(--tutor-bg-grey);
  }

  th, td {
    font-weight: inherit;
    font-size: inherit;
    padding: 14px;
    border-top: 1px solid var(--tutor-border-color-alt);
    &:first-child {
      border-left: 1px solid var(--tutor-border-color-alt);
      padding-left: 28px;
    }
    &:last-child {
      border-right: 1px solid var(--tutor-border-color-alt);
      padding-right: 28px;
    }
  }

  &.tutor-is-sm {
    th, td {
      padding: 11px;
    }
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
  }


  tr {
    &:last-child td {
      border-bottom: 1px solid var(--tutor-border-color-alt);
    }
    &:nth-child(even) td{
      background-color: var(--tutor-bg-grey-light);
    }
  }

  .tutor-shrink {
    width: 1px;
    white-space: nowrap;
  }
}
