@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

// Gradebook
.tutor-learning-area-gradebook {
	.tutor-grade-badge-large {
		@include tutor-flex(row, center, center);
		width: 64px;
		height: 64px;
	}

	.tutor-grade-summary-dot {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: $tutor-radius-full;
	}

	.tutor-grade-item {
		@include tutor-flex(row, center, space-between);
	}

	.tutor-grade-items-list {
		padding: 0;

		.tutor-grade-item-icon {
			@include tutor-flex(row, center, center);
			padding: $tutor-spacing-5;
			width: 48px;
			height: 48px;
		}

		.tutor-grade-badge-small {
			@include tutor-flex(row, center, center);
			width: 40px;
			height: 40px;
			font-weight: $tutor-font-weight-medium;
		}
	}
}