@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-comments-list {
  .tutor-comment {
    @include tutor-flex(row, flex-start, flex-start);
    gap: $tutor-spacing-5;
    padding: $tutor-spacing-6;
    position: relative;

    &:not(:last-of-type) {
      border-bottom: 1px solid $tutor-border-idle;
    }

    &:has(.tutor-comment-replies)::before {
      content: '';
      position: absolute;
      top: 60px;
      left: 36px;
      width: 28px;
      height: calc(100% - 86px);
      border-left: 1px solid $tutor-border-idle;
      border-bottom: 1px solid $tutor-border-idle;
      border-end-start-radius: $tutor-radius-sm;
    }

    &-action-btn {
      @include tutor-button-reset;
      @include tutor-flex(row, center, center);
      gap: $tutor-spacing-2;
      @include tutor-typography('small', 'regular', 'subdued');
      @include tutor-transition(color);

      svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        color: $tutor-icon-secondary;
        @include tutor-transition(color);
      }

      &:hover {
        color: $tutor-text-primary;

        svg {
          color: $tutor-text-primary;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &-replies {
      @include tutor-flex(column);
      gap: $tutor-spacing-6;
      margin-top: $tutor-spacing-6;
    }

    &-replies-toggle {
      @include tutor-button-reset;
      @include tutor-typography('tiny', 'medium', 'brand');
      @include tutor-flex(row, center, flex-start);
      gap: $tutor-spacing-2;
      margin-top: $tutor-spacing-6;

      svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
    }
  }
}
