.tutor-backend-settings-page.email-manage-page {
	// height: 100vh;
	background: $bg-white;
	color: $text-primary;
	.header-wrapper {
		background: $bg-white;
		border-bottom: 1px solid #cdcfd5;

		.prev-page {
			font-size: 24px;
			color: inherit;
		}
	}
	.header-main {
		.header-left {
			> .subtitle {
				color: $text-subsued;
			}
		}

		@include breakpoint-min(820) {
			.header-right {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		@include breakpoint-max(650) {
			.header-right {
				margin-top: 20px;
			}
		}

		.header-right {
			.tutor-is-default {
				color: $text-title;
				padding: 7px 13px;
				[class^='tutor-v2-icon'] {
					font-size: 22px;
					color: #757c8e;
				}
				&:hover {
					[class^='tutor-v2-icon'] {
						color: inherit;
					}
				}
			}
		}
	}

	.main-content-wrapper {
		> .main-content {
			padding: 30px;
		}
		// height: 100%;
		@include breakpoint-min(desktop) {
			&.d-grid {
				grid-template-columns: var(--col) calc(100% - var(--col));
			}
		}

		@include breakpoint-min(1400) {
			> .main-content {
				padding: 60px 74px;
			}
			.content-right {
				padding: 60px 105px;
			}
		}
	}

	.main-content {
		color: $text-subsued;
		.title {
			color: $text-primary;
		}
		.subtitle {
			span {
				color: $text-primary;
			}
		}
		.tutor-form-label {
			color: $text-subsued;
		}
		select.tutor-form-select,
		input.tutor-form-control,
		textarea.tutor-form-control {
			&::placeholder {
				color: #757c8e;
			}
		}

		&.content-right {
			background: $bg-gray-10;
		}

		&.content-left {
			background: #e4e5eb;
			border-right: 1px solid #cdcfd5;
		}

		.content-form {
			.tutor-form-control,
			.tutor-form-select {
				height: 48px;
			}
			.has-tooltip {
				margin-right: -25px;
				.tooltip-wrap {
					left: 8px;
				}
			}
		}

		.tooltip-wrap {
			.tooltip-txt {
				padding: 14px 16px;
				text-align: left;
			}
			.tooltip-left,
			.tooltip-right {
				top: -18px;
				&::after {
					top: 30px;
				}
			}
		}

		.code-preview {
			display: block;
			background: #efefef;
			padding: 7px 8px;
			textarea.tutor-form-control:read-only {
				font-family: 'Monaco', 'Lucida Console', monospace;
				font-size: 12px;
				font-weight: 400;
				line-height: 140%;
				letter-spacing: -0.2px;
				height: 605px;
				max-height: 605px;
				padding: 3px 6px;
				color: $text-primary;
				border-color: #d8d8d8;
				background-color: #f8f8f8;
				&:focus {
					border-color: $brand-wordpress;
				}
			}
		}
	}

	.tutor-option-single-item {
		.item-wrapper {
			border: 1px solid $stroke-gray;
			padding: 18px 19px;
		}
		&.item-logoupload {
		}
		&.item-email-action {
			grid-template-columns: repeat(2, auto);
			grid-auto-flow: unset;
			.item-wrapper {
				border: 1px solid $stroke-light-20;
			}
		}
	}
	.tutor-option-field-input .logo-upload {
		border: none;
	}

	.template-preview {
		background: #ffffff;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
		border-radius: 10px;

		.template-header {
			border-bottom: 1px solid $stroke-light-20;
		}
		.template-body {
			background-position: top right;
			background-repeat: no-repeat;

			.qna-message-answered {
				> .d-flex {
					border-top: 1px solid $stroke-light-20;
					border-bottom: 1px solid $stroke-light-20;
				}
			}
		}
	}
}
