// Dashboard Layout Styles
// Overall dashboard grid/flex layout structure

@use '@Core/scss/mixins' as *;

.tutor-dashboard-wrapper {
  display: grid;
  grid-template-columns: 274px 1fr;

  @include tutor-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}
