// Dashboard Profile header

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-profile-header {
	border-bottom: 1px solid $tutor-border-idle;
	padding: $tutor-spacing-5;
}

@include tutor-breakpoint-down(sm) {
	.tutor-profile-header {
		.tutor-dashboard-container {
			position: relative;
		}

		&-left {
			width: 100%;

			h4 {
				width: 100%;
				text-align: center;
			}

			button:first-child {
				position: absolute;
				left: 0;
			}
		}

		&-right {
			position: absolute;
			right: 0;
			top: 0;
			width: max-content;
		}
		&-close {
			svg {
				transform: translate(0px, -2px);
			}
		}
	}
	.tutor-dashboard-container {
		.tutor-tabs-vertical .tutor-tabs-nav {
			flex-direction: column;
		}
	}
}