// Dashboard Profile header

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-profile-header {
	border-bottom: 1px solid $tutor-border-idle;
	padding-block: $tutor-spacing-5;
	margin-bottom: $tutor-spacing-9;
}

#wpfooter {
	display: none;
}
.tutor-tabs-vertical {
	display: block;
}
@media (max-width: 768px) {
    .tutor-tabs-vertical .tutor-tabs-nav {
        flex-direction: column;
    }
}
@include tutor-breakpoint-down(sm) {
	.tutor-profile-header {
		border:  unset;
		margin-bottom: $tutor-spacing-4;
		.tutor-dashboard-container {
			position: relative;
		}

		&-left {
			width: 100%;

			h4 {
				width: 100%;
				text-align: center;
			}

			button:first-child {
				position: absolute;
				left: 0;
			}
		}

		&-right {
			position: absolute;
			right: 0;
			top: 0;
			width: max-content;
		}

		&-close {
			svg {
				transform: translate(0px, -2px);
			}
		}
	}

	.tutor-dashboard-container {
		.tutor-tabs-vertical .tutor-tabs-nav {
			flex-direction: column;
			gap: 16px;
			background: transparent;
			border: 0px;
			padding: 0px;
			overflow: unset;
		}

		.tutor-tabs-tab {
			gap: 15px;
			&:hover:not(:disabled):not(.tutor-tabs-tab-active) {
				background: transparent;
			}
		}

		.tutor-profile-settings-tab { 
			background: #FAFAFA;
		}

		.tutor-profile-settings-tab button {
			padding: 0px 0px;
		}

		.tutor-icon {
			background: white;
			color: $tutor-text-secondary;
			width: 48px;
			height: 48px;
			border-radius: $tutor-radius-md;
			border: 1px solid $tutor-border-idle;
		}

		.tutor-tabs-tab-active {
			color: var(--tutor-text-brand);
			background-color: transparent;
		}
	}

	.tutor-profile-settings-tab-content {
		background: $tutor-surface-base;
		position: absolute;
		top: 30px;
		height: 100vh;
		display: none;
		&.tutor-profile-tab-activated {
			left: 0px;
			display: block;
		}
	}
}