// Notices
.tutor-notice-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 20px;
	margin-bottom: 10px;
}

.tutor-info-msg,
.tutor-success-msg,
.tutor-warning-msg,
.tutor-error-msg {
	margin: 10px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.tutor-info-msg {
	color: var(--tutor-color-primary);
	background-color: #bef;
}

.tutor-success-msg {
	color: var(--tutor-color-success);
	background-color: #dff2bf;
}

.tutor-warning-msg {
	color: #9f6000;
	background-color: #feefb3;
}

.tutor-error-msg {
	color: #d8000c;
	background-color: #fbdcdc;
	border: 1px solid #d8000c;
}

/**
End Alert box css
 */

.tutor-profile-photo-upload-wrap {
	width: 200px;
	height: auto;
	margin-bottom: 70px;
	position: relative;
}

.tutor-profile-photo-upload-wrap img {
	width: 100%;
	height: auto;
	display: block;
}

a.tutor-profile-photo-upload-btn,
button.tutor-profile-photo-upload-btn {
	position: absolute;
	top: 100%;
	background-color: var(--tutor-color-primary);
	color: #fff;
	display: block;
	width: 100%;
	text-align: CENTER;
	padding: 9px 0;
}

a.tutor-profile-photo-upload-btn:hover,
button.tutor-profile-photo-upload-btn:hover {
	background-color: var(--tutor-color-primary-hover);
	color: #fff;
}

.tutor-profile-photo-delete-btn {
	position: absolute;
	color: #ff000c;
	right: 10px;
	top: 10px;
}

/**
Instructor
 */

.single-instructor-wrap {
	border: 1px solid #e8eff1;
	margin-bottom: 30px;
	border-radius: 4px;
}

.single-instructor-wrap .single-instructor-top {
	padding: 20px;
	border-bottom: 1px solid #e8eff1;
	display: flex;
}

@media (max-width: 767px) {
	.single-instructor-wrap .single-instructor-top {
		flex-wrap: wrap;
	}
}

.single-instructor-wrap .single-instructor-top h3,
.single-instructor-wrap .single-instructor-top h4 {
	margin: 0;
	padding: 0;
}

.single-instructor-wrap .tutor-instructor-left {
	flex: 0 0 auto;
	padding-right: 30px;
}

@media (max-width: 767px) {
	.single-instructor-wrap .tutor-instructor-left {
		width: 100%;
		margin-bottom: 15px;
	}
}

.single-instructor-wrap .instructor-avatar img {
	// max-width: 50px;
	// height: auto;
	// border-radius: 50%;
}

.single-instructor-wrap .instructor-name {
	float: left;
	padding-left: 20px;
	max-width: 180px;
}

.single-instructor-wrap .instructor-name h3 {
	font-size: 16px;
	color: var(--tutor-body-color);
	font-weight: 600;
}

.single-instructor-wrap .instructor-name h3 a {
	font-weight: 500;
	color: var(--tutor-body-color);
}

.single-instructor-wrap .instructor-name h4 {
	font-weight: 500;
	color: var(--tutor-color-muted);
}

.single-instructor-wrap .single-instructor-bottom {
	padding: 15px 20px;
	text-align: right;
	overflow: hidden;
	@media (max-width: 767px) {
		text-align: left;
	}
}

.single-instructor-wrap .single-instructor-bottom p {
	margin: 0;
}

.single-instructor-wrap .single-instructor-bottom .ratings {
	float: left;
}

.single-instructor-wrap .single-instructor-bottom .ratings i {
	margin-right: 4px;
}

.single-instructor-wrap .single-instructor-bottom .courses,
.single-instructor-wrap .single-instructor-bottom .students {
	display: inline-block;
	margin-left: 20px;
}

.single-instructor-wrap .single-instructor-bottom .courses i,
.single-instructor-wrap .single-instructor-bottom .students i {
	font-size: 18px;
	display: inline-block;
	margin-right: 2px;
	vertical-align: middle;
}

.single-instructor-wrap .single-instructor-bottom .ratings .rating-total-meta {
	color: #bac0cf;
}

.single-instructor-wrap .single-instructor-bottom .ratings .rating-generated {
	color: #f8c51c;
}

.tutor-dashboard-pagination-results-stats {
	margin: 10px 0 30px;
}

.statement-address {
	margin: 10px 0;
	color: #555;
}

.statement-order-completed {
	background: var(--tutor-color-success);
	color: #fff;
	padding: 2px 5px;
	border: none;
}

/* ********************* */

/*start global login form*/

/* ********************* */

.tutor-login-wrap, #tutor-registration-wrap {
	max-width: 520px;
	margin: 0 auto;
	padding: 40px 0 32px 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.tutor-login-form-wrapper, #tutor-registration-form {
	padding: 24px 24px;
	.tutor-password-strength-checker {
		.show-hide-btn {
			top: 45%;
			@media (max-width: 767px) {
				top: 42%;
			}
		}
	}
}

.tutor-login-wrap form {
	margin: 0;
}

.tutor-login-wrap .tutor-login-title {
	margin-bottom: 25px;
	padding: 0 40px;
	text-align: center;
}

.tutor-login-rememeber-wrap {
	overflow: hidden;
	text-align: right;
	margin-bottom: 30px;
}

.tutor-login-rememeber-wrap p {
	display: inline-block;
	float: left;
}

.tutor-login-rememeber-wrap p,
.tutor-login-rememeber-wrap label {
	margin: 0;
}

.tutor-form-register-wrap a,
.tutor-login-rememeber-wrap a,
.tutor-login-rememeber-wrap label {
	color: #606c8f;
	vertical-align: middle;
	opacity: 0.5;
	transition: 300ms;
}

.tutor-form-register-wrap a:hover,
.tutor-login-rememeber-wrap a:hover,
.tutor-login-rememeber-wrap label:hover {
	opacity: 1;
}

.tutor-form-register-wrap {
	text-align: center;
	margin-top: 15px;
}

/*course login*/

.tutor-course-login-wrap h4 {
	font-size: 42px;
	line-height: 1.2;
	margin-bottom: 20px;
	color: var(--tutor-body-color);
}

.login-overlay-close {
	position: absolute;
	background: transparent;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.course-login-title {
	margin-bottom: 50px;
}

/* ********************* */

/*start registration form*/

/* ********************* */

.tutor-option-field-row label,
.tutor-form-group label {
	display: block;
	margin-bottom: 10px;
	margin-top: -2px;
}

.tutor-option-field textarea,
// .tutor-option-field select,
.tutor-option-field input[type='text'],
.tutor-option-field input[type='number'],
.tutor-option-field input[type='pas.tutor-dashboard-content-innersword'],
.tutor-form-group textarea,
// .tutor-form-group select,
.tutor-form-group input[type='text'],
.tutor-form-group input[type='number'],
.tutor-form-group input[type='password'] {
	width: 100%;
	display: block;
	border: 1px solid #dcdfe5;
	box-shadow: none;
	margin-bottom: 20px;
	border-radius: 4px;
	background: #ffffff;
	line-height: 48px;
	padding: 0;
	text-indent: 15px;
	-webkit-transition: 300ms;
	transition: 300ms;
	font-size: 16px;
}

.tutor-option-field textarea,
.tutor-form-group textarea {
	line-height: 26px;
	text-indent: 0;
	padding: 15px;
	height: 180px;
}

.tutor-option-field textarea:focus,
.tutor-form-group textarea:focus,
.tutor-option-field input:focus,
.tutor-form-group input:focus {
	outline: none;
}

.tutor-option-field textarea:focus,
.tutor-option-field input:not([type='submit']):focus,
.tutor-form-group textarea:focus,
.tutor-form-group input:not([type='submit']):focus {
	background: #ffffff;
	border-color: var(--tutor-color-primary) !important;
}

.tutor-option-field textarea::-webkit-input-placeholder,
.tutor-option-field input::-webkit-input-placeholder,
.tutor-form-group textarea::-webkit-input-placeholder,
.tutor-form-group input::-webkit-input-placeholder {
	color: #b0b6c8;
	opacity: 1;
}

.tutor-option-field textarea::-moz-placeholder,
.tutor-option-field input::-moz-placeholder,
.tutor-form-group textarea::-moz-placeholder,
.tutor-form-group input::-moz-placeholder {
	color: #b0b6c8;
	opacity: 1;
}

.tutor-option-field textarea:-ms-input-placeholder,
.tutor-option-field input:-ms-input-placeholder,
.tutor-form-group textarea:-ms-input-placeholder,
.tutor-form-group input:-ms-input-placeholder {
	color: #b0b6c8;
	opacity: 1;
}

.tutor-option-field textarea:-moz-placeholder,
.tutor-option-field input:-moz-placeholder,
.tutor-form-group textarea:-moz-placeholder,
.tutor-form-group input:-moz-placeholder {
	color: #b0b6c8;
	opacity: 1;
}

.tutor-form-group.tutor-reg-form-btn-wrap {
	text-align: right;
}

.tutor-option-field p.desc {
	margin: -10px 0 20px;
	font-size: 13px;
	font-style: italic;
	opacity: 0.7;
}

.tutor-option-field:last-child .tutor-option-field p.desc {
	margin-bottom: 0;
}

.tutor-option-gorup-fields-wrap .tutor-lesson-video-runtime {
	display: flex;
}

.tutor-option-gorup-fields-wrap .tutor-lesson-video-runtime .tutor-option-group-field {
	padding-right: 30px;
}

/* ********************* */

/* Tutor Price Preview Box */

/* ********************* */

.tutor-price-preview-box {
	border: 1px solid #dcdfe5;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 4px;
	overflow: hidden;
}

.tutor-price-box-thumbnail {
	margin: -20px -20px 20px;
}

.tutor-price-box-thumbnail .tutor-single-lesson-segment {
	margin-bottom: 0;
}

.tutor-price-preview-box .price {
	font-size: 35px;
	font-weight: 500;
	margin: 0 0 20px;
	overflow: hidden;
	line-height: 1;
	.subscription-details {
		font-size: var(--tutor-text-size);
		display: block;
		margin-top: 12px;
		line-height: 1.2em;
	}
}

.tutor-price-preview-box .price > .price {
	margin-bottom: 0;
}

.tutor-price-preview-box .price del + ins {
	margin-left: 0;
	float: left;
}

/* ************************ */

/* Tutor Course Review Wrap */

/* ************************ */

.tutor-course-reviews-wrap {
	border: 1px solid #e8eff1;
	border-radius: 4px;
}

.tutor-course-avg-rating-total {
	color: var(--tutor-color-muted);
}

.tutor-course-avg-rating-total span {
	color: var(--tutor-body-color);
}

.tutor-review-individual-item {
	border-top: 1px solid #e8eff1;
	padding: 30px;
	overflow: hidden;
}

.tutor-review-individual-item p {
	margin: 0;
	padding: 0;
}

.course-avg-rating-wrap {
	padding: 20px 20px 20px 40px;
}

.tutor-review-individual-item .review-left {
	width: 200px;
	float: left;
	overflow: hidden;
}

.tutor-review-individual-item .review-content {
	padding-left: 200px;
}

@media (max-width: 991px) {
	.tutor-review-individual-item .review-left {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.tutor-review-individual-item .review-content {
		padding-left: 0;
	}
}

.tutor-review-individual-item .review-avatar {
	width: 50px;
	float: left;
}

.tutor-review-individual-item .review-avatar img {
	border-radius: 50%;
	margin: 0;
	border: none;
	max-width: 100%;
	height: auto;
}

.tutor-review-individual-item .tutor-review-user-info {
	float: left;
	padding-left: 20px;
}

.tutor-review-individual-item .tutor-review-user-info p {
	margin-bottom: 0;
}

.tutor-review-individual-item .tutor-review-user-info a {
	color: var(--tutor-body-color);
}

.review-avatar .tutor-text-avatar,
.tutor-dashboard-avater .tutor-text-avatar,
.instructor-avatar .tutor-text-avatar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	display: block;
	line-height: 50px;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.course-avg-rating-wrap .course-avg-rating {
	font-size: 76px;
	line-height: 1;
	font-weight: 400;
}

.course-avg-rating-wrap p {
	margin: 0;
}

.tutor-review-individual-item .tutor-review-name {
	font-size: 16px;
	font-weight: 600;
}

.tutor-review-individual-item .review-meta {
	color: var(--tutor-color-muted);
}

.individual-review-rating-wrap {
	color: #f8c51c;
}

.individual-review-rating-wrap i,
.course-avg-rating-html i {
	margin-right: 4px;
	color: #f8c51c;
}

/* ********************* */

/* Tutor Course Tags */

/* ********************* */

.tutor-course-tags {
	margin: -5px;
}

.tutor-course-tags a {
	padding: 6px 15px;
	background: #e8eff1;
	display: inline-block;
	margin: 5px;
	color: var(--tutor-body-color);
	border-radius: 2px;
	-webkit-transition: 300ms;
	transition: 300ms;
}

.tutor-course-tags a:hover {
	color: #000;
}

/* ********************************** */

/* Addon Support Course Prerequisites */

/* ********************************** */

#tutor-single-entry-content .tutor-course-prerequisites {
	padding: 60px;
}

.prerequisites-course-lists {
	padding: 0;
	list-style: none;
	margin: 0;
}

.prerequisites-course-lists li a {
	padding: 13px 15px;
	border: 1px solid #dcdfe5;
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: 500;
	color: var(--tutor-color-primary);
	font-size: 16px;
}

.prerequisites-course-lists li:first-child {
	padding: 13px 40px 13px 60px;
	border: 1px solid #f7e5b9;
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: 500;
	background: #fffff5;
	color: #b39f70;
	position: relative;
}

.prerequisites-course-lists li:first-child > span {
	position: absolute;
	left: 20px;
	top: 13px;
}

.prerequisites-course-lists li .prerequisites-course-item {
	display: flex;
	align-items: center;
}

.prerequisites-course-feature-image img {
	width: 70px;
	border-radius: 2px;
	height: auto;
	margin: 0 !important;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
}

.prerequisites-course-lists li .prerequisites-course-title {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 15px;
	-webkit-transition: 300ms;
	transition: 300ms;
}

.prerequisites-course-lists li a:hover .prerequisites-course-title {
	color: var(--tutor-color-primary);
}

.prerequisites-course-checkmark {
	line-height: 24px;
	height: 24px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	min-width: 107px;
}

.prerequisites-course-checkmark i {
	height: 24px;
	width: 24px;
	background: #dbdddd;
	color: #dbdddd;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	margin-right: 3px;
}

.prerequisites-course-checkmark.is-complete i {
	background: var(--tutor-color-success);
	color: #fff;
}

.rtl .tutor-progress-bar .tutor-progress-filled:after {
	left: auto;
	right: var(--tutor-progress-left);
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
}

.rtl .tutor-progress-percent {
	padding-left: 0;
	padding-right: 20px;
}

.rtl .tutor-course-lesson h5 i {
	margin-right: 0;
	margin-left: 10px;
}

.rtl .tutor-course-lesson h5 .lesson-preview-icon i {
	margin-right: 10px;
	margin-left: 0;
}

.rtl .tutor-course-lesson h5 .tutor-lesson-duration {
	-webkit-box-flex: 1;
	flex-grow: 1;
	text-align: left;
}

.rtl .tutor-custom-list-style li {
	padding-right: 25px;
	padding-left: 0px;
}

.rtl .tutor-custom-list-style li:before {
	left: auto;
	right: 0;
}

.rtl .single-instructor-wrap .instructor-name {
	float: right;
}

.rtl .single-instructor-wrap .instructor-name {
	padding-left: 0;
	padding-right: 20px;
}

.rtl .single-instructor-wrap .instructor-bio {
	padding-left: 0;
	padding-right: 260px;
}

.rtl .tutor-lessons-under-topic .tutor-lesson-right-icons {
	right: auto;
	left: 15px;
}

.rtl .tutor-lessons-under-topic .tutor-lesson-right-icons .tutor-lesson-complete {
	margin-left: 0;
	margin-right: 8px;
}

.rtl .tutor-single-lesson-button-group .tutor-single-lesson-button a > i:first-child,
.rtl .tutor-topics-in-single-lesson .tutor-single-lesson-items a > i:first-child {
	margin-right: 0;
	margin-left: 10px;
}

.rtl .tutor-topbar-home-btn {
	margin-left: 0;
	margin-right: 20px;
	@media screen and (max-width: 546px) {
		margin-right: 10px;
	}
}

/**
 * Tutor Front-End Modal
 */

.label-order-status {
	padding: 3px 5px;
	border-radius: 3px;
}

.label-status-completed {
	background-color: #4bd863;
	color: #ffffff;
}

.label-status-cancelled {
	background-color: #fd6a03;
	color: #ffffff;
}

.label-status-on-hold {
	background-color: #db5382;
	color: #ffffff;
}

.tutor-lesson-content-area h2 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 500;
}

.assignment-result-wrap {
	text-align: center;
	padding: 10px 0;
}

.submitted-assignment-grade-pass {
	color: var(--tutor-color-success);
}

.submitted-assignment-grade-failed {
	color: red;
}

.received-marks {
	color: var(--tutor-color-primary);
}

.video-poster-img img {
	max-width: 200px;
	height: auto;
}

/*Assignment Information*/

.tutor-assignment-information {
	font-size: 16px;
}

.tutor-assignment-information ul {
	padding: 0;
	margin: 0 0 22px;
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tutor-assignment-information ul li strong {
	font-weight: 700;
}

.tutor-assignment-attachment-upload-wrap .tutor-form-group {
	display: inline-block;
}

.tutor-assignment-attachment-upload-wrap .tutor-form-group label + input {
	display: none;
}

.tutor-assignment-attachment-upload-wrap .tutor-form-group label {
	padding: 15px 17px;
	border: 1px solid #dcdfe5;
	overflow: hidden;
	margin-right: 15px;
	border-radius: 4px;
	cursor: pointer;
}

.tutor-assignment-attachment-upload-wrap .tutor-form-group label i {
	font-size: 30px;
	line-height: 30px;
	float: left;
	margin-right: 12px;
}

.tutor-assignment-attachment-upload-wrap .tutor-form-group label span {
	line-height: 30px;
}

.tutor-assignment-attachment-upload-wrap {
	margin-bottom: 40px;
}

/**
* Course adding page
* Course Builder
*/

.ui-sortable-placeholder {
	visibility: visible;
	background-color: #dddd;
}

/**
Lesson Edit Modal
 */

.lesson-modal-close-wrap a {
	background: #ffffff;
	width: 50px;
	height: 59px;
	display: inline-block;
	text-align: center;
	line-height: 57px;
	color: #3a3d42;
	font-size: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.lesson-modal-close-wrap a:hover {
	color: red;
}

.lesson-modal-field.tutor-lesson-modal-title-wrap {
	width: 95%;
}

.lesson-modal-field-row input[type='text'] {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: none;
	color: #333;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 12px;
	margin: 0 10px 0 0;
	min-width: 400px;
	min-height: 35px;
}

.tutor-lesson-modal-title-wrap input {
	width: 100%;
}

.tutor-lesson-modal-wrap .modal-footer {
	padding: 10px 20px;
	background-color: #fff;
	width: 100%;
	position: sticky;
	bottom: 0;
	position: -webkit-sticky;
}

.tutor-option-field .tutor-lesson-edit-feature-img {
	width: 100px;
	position: relative;
}

.tutor-option-field .tutor-lesson-edit-feature-img img {
	width: 100%;
	height: auto;
}

.tutor-get-pro-text {
	color: #e02424;
}

.updating-icon:before {
	font-family: 'tutor';
	//margin-right: 5px;
	content: '\e91d';
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	display: inline-block;
}

.tutor-notice-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 20px;
	margin-bottom: 10px;
}
.quiz-modal-btn-cancel,
.quiz-modal-btn-back {
	color: #4b5981;
	border: 1px solid #d4dadb;
}

/* .tutor-quiz-builder-group */

.tutor-quiz-builder-group {
	margin-bottom: 25px;
}

.tutor-quiz-builder-group > p.warning {
	color: red;
	font-size: 12px;
}

.tutor-quiz-builder-group > p.help {
	color: #a4a4a4;
	font-size: 12px;
	margin-top: 7px;
}

.tutor-quiz-builder-group > h4 {
	color: #393c40;
	font-weight: 600;
	margin: 0 0 15px;
}

.tutor-quiz-builder-row {
	display: flex;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
}

.tutor-quiz-builder-col {
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.tutor-quiz-builder-col.auto-width {
	flex: 0 0 auto;
}

.tutor-quiz-builder-group textarea,
.tutor-quiz-builder-group input[type='text'],
.tutor-quiz-builder-group input[type='email'],
.tutor-quiz-builder-group input[type='number'],
.tutor-quiz-builder-group input[type='password'] {
	line-height: 40px;
	padding: 5px 0;
	text-indent: 15px;
	background: #fff;
	display: inline-block;
	border: 1px solid #dedede;
	border-radius: 3px;
	box-shadow: none;
	height: 40px;
	margin: 0;
	width: 100%;
	color: #393c40;
}

.tutor-quiz-builder-group textarea:focus,
.tutor-quiz-builder-group input[type='text']:focus,
.tutor-quiz-builder-group input[type='email']:focus,
.tutor-quiz-builder-group input[type='number']:focus,
.tutor-quiz-builder-group input[type='password']:focus {
	border-color: var(--tutor-color-primary);
}

.tutor-quiz-builder-group textarea {
	height: 80px;
	resize: none;
	text-indent: 0;
	padding: 11px 15px;
	line-height: 22px;
}

.tutor-quiz-builder-group textarea[name='quiz_description'] {
	height: 150px;
}

.tutor-quiz-builder-group select {
	border: 1px solid #ccc;
	box-shadow: none;
	height: 42px !important;
	line-height: 1;
	padding: 0 12px !important;
	margin: 0;
}

.question-type-pro {
	color: #fff;
	font-size: 9px;
	right: 11px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.quiz-builder-question {
	flex: 1;
	display: flex;
	background: #fff;
	padding: 10px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	max-width: calc(100% - 52px);
}

.quiz-builder-question .question-sorting {
	margin-right: 10px;
	line-height: 22px;
}

.quiz-builder-question .question-sorting i {
	display: block;
	line-height: 24px;
}

.quiz-builder-question .question-edit-icon {
	line-height: 22px;
}

.quiz-builder-question .question-title {
	flex: 1;
	line-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
}

.quiz-builder-question .question-icon {
	flex: 0 0 155px;
}

.quiz-builder-qustion-trash a {
	display: block;
	padding: 0 0 0 10px;
	font-size: 20px;
	color: rgba(57, 60, 64, 0.4);
	line-height: 44px;
}

.tutor-quiz-answer-wrap {
	display: flex;
}

.tutor-quiz-answer-trash-wrap a.answer-trash-btn {
	padding: 0 10px;
	display: inline-block;
	line-height: 44px;
}

span.tutor-quiz-answer-title {
	flex: 1;
}

.tutor-quiz-answer-media .option-media-preview {
	margin-bottom: 20px;
}

.tutor-quiz-answer-media .option-media-preview img {
	max-width: 80px;
	height: auto;
}

.tutor-question-answer-image {
	margin-right: 10px;
}

.tutor-question-answer-image img {
	max-height: 25px;
	width: auto;
}

/**
#End Quiz Modal
*/

.tutor-addons-list .plugin-icon {
	height: 120px !important;
	width: auto !important;
}

.tutor-video-embeded-wrap {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.tutor-video-embeded-wrap iframe,
.tutor-video-embeded-wrap object,
.tutor-video-embeded-wrap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
Frontend Course Builder
 */

/**
Video MetaBox
 */

.select2-selection__rendered [class^='tutor-icon-'] {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.select2-results__options [class^='tutor-icon-'] {
	color: var(--tutor-color-primary);
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.select2-results__option--highlighted [class^='tutor-icon-'] {
	color: #fff;
}

.video-metabox-source-input-wrap {
	padding: 30px;
	background-color: #f4f7f8;
	border: 1px solid #dcdfe5;
	border-radius: 3px;
}

.no-memberhsip-msg-wrap p {
	margin: 0;
}

.content-drip-message-wrap.tutor-error-msg {
	margin: 40px 50px;
}

/**
Content Drip (Pro)
 */

.content-drip-message-wrap {
	margin: 120px;
}

.content-drip-wrap-flex {
	display: flex;
}

.content-drip-wrap-flex .content-drip-left {
	margin-right: 50px;
}

.content-drip-wrap-flex ul {
	margin: 0;
	list-style-position: inside;
}

.content-drip-wrap-flex ul li a {
	color: var(--tutor-color-primary);
}

/**
END Content Drip
 */

/**
GradeBook
 */

.gradename-bg {
	text-align: center;
	color: #ffffff;
	height: 32px;
	min-width: 32px;
	font-size: 16px;
	line-height: 32px;
	padding: 0 8px;
	display: inline-block;
	border-radius: 20px;
	font-weight: bold;
	margin-right: 7px;
}

.gradename-outline {
	text-align: center;
	height: 32px;
	min-width: 32px;
	font-size: 16px;
	line-height: 26px;
	padding: 0 8px;
	display: inline-block;
	border-radius: 20px;
	border: 2px solid;
	margin-right: 7px;
}

.generate-course-gradebook-btn-wrap {
	margin: 10px 0;
}

.gradebook-result-for-label {
	margin: 0;
	padding: 4px 7px;
	background-color: #e8eff1;
	display: inline-block;
	margin-bottom: 10px;
}

table.course-single-gradebooks {
	border-spacing: 0;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dcdfe5;
}

table.course-single-gradebooks th {
	padding: 1em 1.41575em;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dcdfe5;
}

table.course-single-gradebooks th {
	font-weight: 600;
}

table.course-single-gradebooks thead th {
	background-color: rgba(220, 223, 229, 0.14);
	padding: 1.41575em;
	vertical-align: middle;
}

table.course-single-gradebooks tbody td {
	border-bottom: 1px solid #dcdfe5;
	background-color: #ffffff !important;
}

table.course-single-gradebooks a {
	color: #4b5981;
}

.text-label {
	margin: 0;
	padding: 4px 7px;
	background-color: #e8eff1;
	display: inline-block;
	border-radius: 3px;
}

.text-label.submitted-assignment-grade-pass {
	background-color: #86b223;
	color: #ffffff;
}

.text-label.submitted-assignment-grade-failed {
	background-color: #d71830;
	color: #ffffff;
}

/**
* END Gradebook
*/

/**
* Tutor BuddyPress Addon CSS
*/

.tutor-bp-message-recipient-header {
	display: flex;
	margin-bottom: 20px;
}

.tutor-bp-recipient-info-wrap {
	flex-grow: 1;
}

.tutor-bp-message-recipient-avatar-wrap img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.tutor-bp-message-recipient-avatar-wrap {
	margin-right: 35px;
}

.tutor-bp-message-recipient-header .tutor-bp-thread-recipient-name h3 {
	margin: 10px 0 8px !important;
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
}

.tutor-bp-message-recipient-header .tutor-bp-thread-recipient-name h4 {
	margin: 0 0 20px !important;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
}

.tutor-bp-enrolled-courses-wrap {
	margin: 0;
}

.tutor-bp-enrolled-courses-wrap .tutor-bp-enrolled-total-course-notice {
	font-weight: 400;
	color: #1c294b;
	margin: 10px 0 8px !important;
}

.tutor-bp-enrolled-courses-wrap ul {
	padding: 0 0 0 17px;
	margin: 0;
	color: #50616f;
}

.tutor-bp-enrolled-courses-wrap ul li a {
	line-height: 1.7;
	display: block;
	color: #54616d;
	padding-left: 10px;
}

.tutor-bp-enrolled-courses-wrap ul li a:hover {
	color: var(--tutor-color-primary);
	opacity: 1;
	transition: 300ms;
	text-decoration: underline !important;
}

/**
* END Tutor BuddyPress
*/

/**
* Oxygen Integration CSS
 */

.oxy-tutor-element {
	width: 100%;
}

/**
* END Oxygen Integration CSS
 */

/**
 * @since 1.9.6
*/

.list-item-price {
	ins {
		text-decoration: none;
	}
	del {
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #757c8e;
	}
	.tutor-course-price-tax{
		font-size: 12px;
		font-weight: 500;
	}
}

.list-item-button,
.tutor-course-booking-availability {
	.ajax_add_to_cart.added {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.tutor-course-list-pagination.tutor-pagination {
		width: 80%;
		margin: 50px auto 0px;
	}
}

@media only screen and (max-width: 1199px) {
	.tutor-course-list-pagination.tutor-pagination {
		width: 90%;
		margin: 50px auto 0px;
	}
}

/*
* EDD support for price ajax button
*/
.list-item-button .edd-has-js.edd-no-js {
	display: none !important;
}