.attempt-review-title {
    font-size: 18px;
    color: var(--tutor-text-size);
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    i {
        margin-right: 12px; // reduce 3 px for default icon gap
        color: var(--tutor-primary-color);
    }
}

.tutor-quiz-attempt-info-row {
    .attempt-view-bottom,
    .attempt-view-top {
        display: flex;
        justify-content: space-between;
        .attempt-info-col {
            display: inline-flex;
            align-items: center;
            max-width: 30%;
        }
    }
    .attempt-view-bottom .attempt-info-col {
        align-items: flex-start;
    }
    .attempt-info-content {
        span.result-review-required,
        span.result-pass,
        span.result-fail {
            background: #df3247;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            padding: 1px 4px;
            margin-right: 13px;
            border-radius: 2px;
        }
        span.result-pass {
            background: var(--tutor-success-button-color);
        }
        span.result-review-required {
            background: #f5b30d;
        }
        h4,
        h5 {
            font-size: 14px;
            line-height: 25px;
            margin: 0;
            color: #7a7f85;
            font-weight: 400;
        }
        h4 a,
        h4 {
            font-weight: 700;
            color: var(--tutor-text-color);
            margin-top: 7px;
        }
    }
    .attempt-view-top {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dcdfe5;
    }
    .attempt-view-bottom {
        margin-bottom: 60px;
    }
}

.attempt-user-details {
    display: flex;
    align-items: center;
    .attempt-user-avatar {
        padding-right: 20px;
        img {
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    .attempt-info-content h4 {
        font-size: 18px;
    }
}

.attempt-review-notice-wrap {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
    p {
        margin: 0;
        display: inline-flex;
        align-items: center;
        &.attempt-review-notice i {
            font-size: 16px;
            color: #f5c813;
            margin-right: 9px;
        }
        &.attempt-review-at > span {
            color: var(--tutor-primary-color);
            margin-right: 7px;
            font-size: 16px;
        }
        > strong {
            font-weight: 400;
            margin-right: 5px;
        }
    }
}

// Quiz view attempts.
.quiz-view-attempts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .back-to-quiz-btn {
        margin-left: 10px;
        color: #ffffff !important;
    }
}

.tutor-status-blocked-context i,
.tutor-status-approved-context i,
.quiz-correct-answer-text i,
.quiz-incorrect-answer-text i {
    font-size: 14px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    background: #7bbc30;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
    margin-right: 6px;
}
.tutor-status-blocked-context i,
.quiz-incorrect-answer-text i {
    background: #f44337;
    font-size: 10px;
    font-weight: 900;
}

.answer-image-matched-wrap {
    display: block;
    .image-matching-item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        img {
            max-width: 35px;
        }
        .dragged-caption {
            font-size: 14px;
            margin-left: 12px;
        }
    }
}

.correct-answer-wrap {
    .matching-type {
        display: flex;
    }
    .text-image-type {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        .image {
            margin-right: 12px;
        }
        img {
            max-width: 35px;
        }
    }
}
