.submitted-assignment-title {
	a, h3 {
		margin-bottom: 20px;
	}
}
.submitted-assignments-sorting-wrap {
	margin-bottom: 30px;
	.tutor-form-group {
		display: flex;
		align-items: center;
		flex-basis: 35% !important;
		label, select {
			margin-bottom: 0;
		}
		label {
			flex-basis: 35%;
		}
		select {
			height: 40px;
		}
	}
}

.tutor-dashboard-assignment-table {
	.student-column {
		display: flex;
		align-items: center;
		.student-avatar {
			width: 34px;
    		margin-right: 10px;
			img {
				border-radius: 50%;
			}
			span {
				display: block;
				width: 34px;
				height: 34px;
				line-height: 34px;
				border-radius: 50%;
				font-size: 12px;
				text-align: center;
			}
		}
		.student-details {
			h4, p {
				line-height: 1.3;
				margin-bottom: 0;
			}
		}
	}
	span.review-required,
	span.result-pass,
	span.result-fail {
		background: #df3247;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		padding: 4px 11px;
		border-radius: 2px;
	}
	span.result-pass {
		background: var(--tutor-success-button-color);
	}
	span.review-required {
		background: #f5b30d;
	}
}
.tutor-assignment-review-header {
	p span {
		font-weight: 400;
		color: var(--tutor-text-color);
	}
}
.tutor-assignment-submitted-page {
	border-bottom: none;
	.assignment-info {
		display: flex;
		align-items: center;
		p {
			margin-right: 15px;
		}
	}
	h3 {
		margin: 5px 0;
	}
}