.tutor-dashboard-announcement-sorting-wrap {
	display: flex;
	column-gap: 15px;
	div:nth-child(1) {
		flex-basis: 50%;
	}
	div:nth-child(2) {
		flex-basis: 20%;
	}
	div:nth-child(3) {
		flex-basis: 30%;
	}
}

.tutor-announcement-datepicker {
	position: relative;
	input, i {
		position: absolute;
	}
	i {
		top: 50%;
		right: 10px;
		color: rgba(62, 100, 222, 1);
	}
}

// @todo: fix with global dropdown
// .tutor-dropdown {
// 	position: relative;
// 	cursor: pointer;
//     margin-left: 20px;

//     .tutor-icon-action {
// 		padding: 5px 10px;
// 		margin-right: -10px;

//         &:hover {
//             background: #f3f3f3;
//             border-radius: 50%;
//         }
//     }
// }

table.frontend-dashboard-table {
	tbody {
		tr {
			td[data-th="Date"] {
				vertical-align: baseline;
				div.td-datetime {
					margin-top: 3px;
				}
			}
		}
	}
}