.tutor-announcement-content-wrap {
    text-align: left !important;
    display:flex;
    justify-content:space-between;
}
.tutor-dashboard-announcement-sorting-wrap {
    display: flex;
    column-gap: 15px;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(1){
    flex-basis: 50%;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(2){
    flex-basis: 20%;
}
.tutor-dashboard-announcement-sorting-wrap div:nth-child(3){
    flex-basis: 30%;
}
.tutor-announcement-datepicker {
    position: relative;
}
.tutor-announcement-datepicker input, 
.tutor-announcement-datepicker i 
{
    position: absolute;
}
.tutor-announcement-datepicker i {
    top: 50%;
    right: 5px;
    color: rgba(62, 100, 222, 1);

}
.tutor-announcements-update-form 
.tutor-option-field-row,
.tutor-announcements-form 
.tutor-option-field-row
{
    padding: 10px 18px 10px 18px
}
.tutor-announcements-update-form .tutor-option-field-row input[type=text],
.tutor-announcements-update-form textarea ,
.tutor-announcements-form .tutor-option-field-row input[type=text],
.tutor-announcements-form textarea {
    width: 100%;
    margin-top: 8px;
}
.tutor-announcements-form select ,
.tutor-announcements-update-form select {
    width: 100%;
    max-width: 100% !important;
    padding: 7px 12px;
    margin-top: 8px;
}
.tutor-announcements-update-form
.tutor-option-field-row ,
.tutor-announcements-form
.tutor-option-field-row {
    border: none !important;
}