.tutor-announcement-content-wrap {
    text-align: left !important;
    display:flex;
    justify-content:space-between;
}

.tutor-dashboard-announcement-sorting-wrap {
    display: flex;
    column-gap: 15px;

    div{
        &:nth-child(1){
            flex-basis: 50%;
        }
        
        &:nth-child(2){
            flex-basis: 20%;
        }
        
        &:nth-child(3){
            flex-basis: 30%;
        }
    }
}

.tutor-announcement-datepicker {
    position: relative;

    input, i {
        position: absolute;
    }

    i {
        top: 50%;
        right: 5px;
        color: rgba(62, 100, 222, 1);
    }
}
