.tutor-checkout-page {
	padding: 40px 0px;

	input[type="text"],
	input[type="email"],
	select {
		line-height: 36px;
		padding: 0px 10px;
		text-indent: 0;
	}

	.tutor-checkout-container {
		max-width: 1032px;
		margin: 0 auto;
	}

	.tutor-checkout-billing {
		.tutor-billing-fields {
			.tutor-form-label {
				display: none;
			}
			.tutor-mb-16 {
				margin: 0!important;
			}

			.tutor-form-control {
				border-radius: 0px;
				height: 40px;
			}

			.tutor-col-12:not(:last-of-type) .tutor-form-control {
				border-bottom: none!important;
			}

			.tutor-col-12:first-of-type .tutor-form-control {
				border-top-left-radius: 6px;
			}

			.tutor-col-12:last-of-type .tutor-form-control {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}

			@include breakpoint-min(desktop) {
				.tutor-col-sm-6:nth-of-type(odd) .tutor-form-control {
					border-right: none!important;
				}

				.tutor-col-12:nth-of-type(2) .tutor-form-control {
					border-top-right-radius: 6px;
				}
			}

			@include breakpoint-minmax(576, 767) {
				.tutor-col-sm-6:nth-of-type(odd) .tutor-form-control {
					border-right: none!important;
				}

				.tutor-col-12:nth-of-type(2) .tutor-form-control {
					border-top-right-radius: 6px;
				}
			}

			@include breakpoint-minmax(768, 991) {
				.tutor-col-12:first-of-type .tutor-form-control {
					border-top-right-radius: 6px;
				}
			}

			@include breakpoint-max(575) {
				.tutor-col-12:first-of-type .tutor-form-control {
					border-top-right-radius: 6px;
				}
			}
		}
	}

	.tutor-checkout-details {
		.tutor-checkout-details-inner {
			background-color: #FAFAFA;
			border-radius: 5px;
			padding: 24px 24px 12px 24px;
		}
	}
	.tutor-checkout-detail-item {
		padding: 24px 0px;
		&:not(:last-child) {
			border-bottom: 1px solid var(--tutor-border-color);
		}
		@include breakpoint-max(mobile) {
			padding: 16px;
		}
	}
	.tutor-checkout-courses {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	.tutor-checkout-course-item {
		color: var(--tutor-body-color);
	}
	.tutor-checkout-course-content {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 56px;
	}
	.tutor-checkout-enrollment-fee {
		display: flex;
		align-items: start;
		justify-content: space-between;
		font-size: 14px;
	}
	.tutor-checkout-course-bundle-badge {
		display: inline-block;
		font-size: 11px;
		line-height: 16px;
		background-color: #7a078d;
		color: #ffffff;
		border-radius: 13px;
		padding: 0px 6px;
	}
	.tutor-checkout-course-title {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 8px;

		a {
			color: var(--tutor-body-color);
			text-decoration: none;

			&:hover {
				opacity: 1;
			}
		}
	}
	.tutor-checkout-coupon-badge {
		display: flex;
		align-items: center;
		gap: 4px;
		width: fit-content;
		background-color: #f1f1f1;
		color: #41454f;
		font-size: 11px;
		line-height: 16px;
		border-radius: 4px;
		padding: 3px 6px;

		&.tutor-has-delete-button {
			font-size: 13px;
			line-height: 18px;
			padding: 10px 8px;
		}

		button {
			display: flex;
			background-color: transparent;
			color: var(--tutor-color-hints);
			border: none;
			outline: none;
			padding: 0;
			cursor: pointer;
			font-size: 14px;
		}
	}
	.tutor-checkout-discount-price {
		font-size: 13px;
		color: #767c8e;
		text-decoration: line-through;
	}
	.tutor-checkout-summary {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.tutor-checkout-summary-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--tutor-body-color);
	}
	.tutor-checkout-separator {
		line-height: 18px;
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 13px;
		color: var(--tutor-body-color);
		text-align: center;
		position: relative;

		span {
			position: relative;
			z-index: 1;
			background-color: #f9fafc;
			padding: 0 4px;
		}

		&::before {
			content: "";
			height: 1px;
			width: 100%;
			background-color: var(--tutor-border-color);
			position: absolute;
			top: 8px;
			left: 0;
		}
	}

	.tutor-checkout-payment-options {
		display: flex;
		flex-direction: column;
		border: 1px solid var(--tutor-border-color);
		border-radius: 6px;
		background-color: #ffffff;

		.tutor-checkout-payment-item {
			border: none;
			background-color: transparent;
			display: flex;
			align-items: center;
			gap: 12px;
			padding: 16px;
			cursor: pointer;
			line-height: 24px;

			&:not(:last-child) {
				border-bottom: 1px solid var(--tutor-border-color);
			}

			.tutor-payment-item-content {
				display: flex;
				gap: 6px;
				width: 100%;
				font-size: 16px;
				font-weight: 600;
				color: #212529;

				img{
					max-width: 24px;
				}
			}

			&.active {
				background-color: #E9EDFB;
				box-shadow: 0px 0px 0px 1px #7391f0;
				border-color: transparent;

				&:first-of-type {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}

				&:last-of-type {
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
				}
			}
		}

		.tutor-alert {
			margin: -1px;
		}
	}

	.tutor-payment-instructions {
		background-color: #ffffff;
		border-radius: 6px;
		padding: 16px;
		margin-top: 16px;
		white-space: pre-line;
	}

	.tutor-apply-coupon-form {
		background-color: #ffffff;
		border: 1px solid var(--tutor-border-color);
		border-radius: 6px;
		padding: 4px;
		display: flex;

		input {
			width: 100%;
			border: none;
			background-color: transparent;
			outline: none;
			box-shadow: none;
		}

		button {
			border: none;
			font-weight: 500;
			padding: 4px 16px;
			font-size: 13px;
			line-height: 24px;
		}
	}

	.tutor-show-tax-rates {
		color: var(--tutor-color-primary);
		background: none;
		border: 0;
		outline: 0;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.tutor-tax-breakdown-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99999;

		&__backdrop {
			position: absolute;
			inset: 0;
			z-index: 1;
			background: rgba(22, 22, 22, 0.7);
		}
		&__content {
			z-index: 2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #ffffff;
			border-radius: 6px;
			padding: 24px;
			box-shadow: 0px 8px 24px 0px rgba(17, 18, 19, 0.12);
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		&__header {
			display: flex;
			justify-content: space-between;

			button {
				background: none;
				border: 0;
				outline: 0;
				color: #9197a8;
				cursor: pointer;
				width: 32px;
				height: 32px;
			}

			h6 {
				font-size: 1rem;
			}
		}

		&__item {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;

			& > span {
				font-size: 0.875rem;
			}

			& > span:not(:first-of-type) {
				text-align: right;
				font-weight: 600;
			}
		}
	}

	.tutor-checkout-spinner {
		position: absolute;
		top: 12px;
		right: 0px;
		padding: 0px;
	}
}
