/* *********************** */
/* Tutor Dashboard */
/* *********************** */

.tutor-dashboard-header {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #dcdfe5;
	flex-wrap: wrap;
	.tutor-btn.bordered-btn {
		text-transform: uppercase;
		font-weight: 400;
		border-radius: 2px;
		i {
			font-size: 20px;
		}
	}
	.tutor-star-rating-group {
		margin-right: 3px;
	}
}

.tutor-dashboard-header-avatar img {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.tutor-dashboard-header-info {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tutor-dashboard-header-button {
	padding-top: 15px;
}

.tutor-dashboard-header-display-name h4 {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 34px;
}

.tutor-dashboard-header-stats {
	display: flex;
	flex-wrap: wrap;
	line-height: 25px;
}

.tutor-dashboard-header-stats > div:not(:first-child) {
	margin-left: 30px;
}

.tutor-dashboard-social-icons {
	display: inline-flex;
	align-items: center;
	h4 {
		margin: 0 10px 0 0;
		font-size: var(--tutor-text-size);
		line-height: 25px;
	}
	a {
		display: inline-block;
		font-size: 12px;
		padding: 0 5px;
		line-height: 25px;
		color: #393c40;
		transition: 300ms;
		&:hover {
			color: var(--tutor-primary-color);
		}
	}
}

/* End dashboard header */

/* Dashboard profile completion warning */
.tutor-profile-completion-warning {
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid #dcdfe5;
	.profile-completion-warning-icon {
		margin-top: 10px;
		span {
			font-size: 40px;
			color: #ed9700;
			padding: 0 20px;
		}
	}
	.profile-completion-warning-content {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		-webkit-box-flex: 1;
		h4 {
			font-size: 20px;
			line-height: 30px;
			margin: 0;
			padding: 0;
			width: 100%;
		}
		p {
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: 300;
			color: #737787;

			a {
				font-weight: 400;
				color: #3e64de;
			}
		}
		.profile-completion-warning-details {
			flex-grow: 1;
			-webkit-box-flex: 1;
			ul {
				margin: 0;
				list-style: none;

				li {
					display: inline;
					position: relative;
					padding-left: 16px;
					color: #737787;

					&:not(:last-child) {
						margin-right: 21px;
					}

					&::before {
						content: "\2022";
						position: absolute;
						color: #f44337;
						font-weight: bold;
						display: inline-block;
						left: 0;
					}

					span {
						color: #3f435b;
					}
				}
			}
		}
		.profile-completion-warning-status {
			p {
				span {
					font-weight: 400;
				}
			}
			.tutor-progress-bar-wrap {
				.tutor-progress-bar {
					height: 6px;
					border-radius: 8.5px;
					background-color: #ededf0;
				}
				.tutor-progress-filled {
					height: 6px;
					border-radius: 3px;
					background-color: #ed9700;
					&::after {
						display: none;
					}
				}
			}
		}
	}
}

/* End dashboard profile completion warning */

/**
 * Dashboard Table
 */
.tutor-dashboard-info-table-wrap {
	margin-bottom: 30px;
	table {
		margin-bottom: 0;
		border-collapse: collapse;
		border: 1px solid #dcdfe5;
		border-radius: 4px;
		width: 100%;
	}
	> h3 {
		font-size: 20px;
		font-weight: 500;
		border: 1px solid #dcdfe5;
		border-bottom: none;
		margin: 0;
		padding: 30px;
		border-radius: 4px 4px 0 0;
		+ table {
			border-radius: 0 0 4px 4px;
		}
	}
}

.tutor-dashboard-info-table {
	thead {
		background: #fafbfc;
		tr td {
			padding: 15px;
		}
	}
	tbody tr td {
		background: transparent !important;
		padding: 20px 15px;
	}

	thead,
	tbody {
		tr {
			border: 1px solid #dcdfe5;
			td:first-child {
				padding-left: 25px;
			}
		}
	}

	span {
		&.pending,
		&.pass,
		&.fail {
			color: #fff;
			font-size: 14px;
			line-height: 18px;
			padding: 1px 6px;
			border-radius: 2px;
		}
		&.pending {
			background-color: #f5a623;
		}
		&.fail {
			background-color: #d71830;
		}
		&.pass {
			background-color: var(--tutor-success-button-color);
		}
	}
}
/**
 * Tutor Dashboard Review
 */

.tutor-dashboard-single-review {
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	margin-bottom: 30px;
}
.tutor-dashboard-review-heading {
	padding: 10px 20px;
	border-bottom: 1px solid #dcdfe5;
	display: flex;
	align-items: center;
}
.individual-dashboard-review-body {
	padding: 10px 20px;
}

.tutor-dashboard-review-title {
	font-size: 18px;
	-webkit-box-flex: 1;

	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
}
.tutor-dashboard-review-title a {
	font-weight: 500;
	color: var(--tutor-primary-color);
}
.tutor-dashboard-review-title a:hover {
	color: var(--tutor-primary-hover-color);
}

.tutor-dashboard-review-links {
	white-space: nowrap;
	font-weight: 400;
}
.tutor-dashboard-review-links a {
	color: #8c94a8;
	margin-left: 10px;
	display: inline-flex;
	align-items: center;
	font-size: 14px;
}
.tutor-dashboard-review-links a i {
	line-height: inherit;
	font-size: 14px;
	margin-right: 5px;
}
.individual-dashboard-review-body .review-meta {
	font-size: 85%;
	margin: 0;
	color: #8c94a8;
}
.individual-star-rating-wrap {
	display: flex;
	align-items: center;
}
.tutor-edit-review-modal-wrap .modal-close-wrap a.modal-close-btn {
	color: #222222;
	background: none;
	font-size: 20px;
	top: 8px;
}
.tutor-modal-wrap form {
	margin-bottom: 20px;
}
/* dashboard content */
.tutor-dashboard-info-cards {
	margin: 0 -15px 15px;
	padding: 0;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	.tutor-dashboard-info-card {
		padding: 15px;
		min-width: 33.333%;
		p {
			margin: 0;
			padding: 15px 25px;
			background: #282c36;
			color: #ffffff;
			border-radius: 4px;
			span.tutor-dashboard-info-val {
				display: block;
				font-weight: 700;
				font-size: 30px;
				line-height: 1.618;
			}
			span span {
				display: inline-block;
			}
			> * {
				vertical-align: middle;
			}
		}
	}
}

/* dashboard quiz attempts */
.tutor-dashboard-content {
	margin-bottom: 60px;
	> h2 {
		margin-bottom: 20px;
	}
}

.prev-btn {
	font-size: 16px;
	line-height: 1.88;
	color: #3f435b;
	span {
		font-size: 18px;
		font-weight: 800;
		color: #3e64de;
		margin-right: 7px;
	}
}

.tutor-dashboard-content .tutor-quiz-attempt-history tr th,
.tutor-dashboard-content .tutor-quiz-attempt-history tr td {
	vertical-align: middle;
	border: none;
}
.tutor-dashboard-content .tutor-quiz-attempt-history tr td:first-child {
	padding: 15px 13px !important;
}

.tutor-dashboard-content .tutor-quiz-attempt-history table span.result-fail,
.tutor-dashboard-content .tutor-quiz-attempt-history table span.result-pass {
	width: auto;
	height: auto;
	line-height: 19px;
	padding: 0 6.5px;
	margin-right: 4px;
}

.label-course-status {
	background-color: #cccccc;
	padding: 3px 5px;
	color: #ffffff;
	font-size: 12px;
	text-transform: capitalize;
}
.label-course-publish {
	background-color: var(--tutor-success-button-color);
}

.tutor-dashboard-content .quiz-attempt-answers-wrap table th {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.12px;
	color: #737787;
	padding: 15px 10px;
}

/* quiz attempt history (common table) */
.tutor-dashboard-content .tutor-quiz-attempt-history table,
.single-quiz-page.tutor-quiz-attempt-history table {
	thead tr {
		background-color: #fafbfc;
	}
	tr {
		border: 0;
		background-color: #fff;
		&:first-child {
			background-color: #fafbfc;
		}
	}
	th,
	td {
		border: 1px solid #dcdfe5 !important;
		vertical-align: middle;
		&:first-child {
			width: 62%;
		}
		&:nth-child(2),
		&:nth-child(4) {
			width: 11%;
		}
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(6) {
			width: 9%;
		}
	}
	th {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.14;
		color: #8792b2;
		&:nth-child(n + 3) {
			text-align: center;
		}
	}
	td {
		background-color: #fff;
		font-size: 14px;
		font-weight: 400;
		color: #4b5981;
		&:nth-child(n + 3) {
			font-weight: 500;
			text-align: center;
			padding-left: 3px !important;
			padding-right: 3px !important;
		}
		&:last-child {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		a {
			font-weight: 500;
			color: #4b5981;
			text-decoration: underline;
			word-break: initial;
		}
		.course a {
			font-weight: 600;
			line-height: 1.29;
			color: #4b5981;
			text-decoration: none;
		}
		.course-meta {
			display: inline-block;
			margin-top: 5px;
			span:nth-child(2) {
				margin: 0 17px;
			}
		}
		.student {
			font-weight: 600;
			line-height: 1.29;
			color: #4b5981;
		}
		.student-meta {
			display: inline-block;
			margin-top: 5px;
		}
	}
}
.single-quiz-page.tutor-quiz-attempt-history table {
	margin-bottom: 30px;
}

.tutor-dashboard-content .tutor-quiz-attempt-history table a {
	color: var(--tutor-primary-color);
	font-weight: 700;
	//font-size: var(--tutor-text-size);
	line-height: 24px;
}

.tutor-dashboard-content .tutor-quiz-attempt-history table a:hover {
	color: var(--tutor-primary-hover-color);

}

.tutor-dashboard-content .tutor-quiz-attempt-history table a:hover {
	color: var(--tutor-primary-color);
}

.tutor-dashboard-item-group {
	padding: 25px;
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	margin-bottom: 30px;
}

.tutor-dashboard-item-group > h4 {
	font-size: 20px;
	color: var(--tutor-primary-color);
	font-weight: 500;
}
.tutor-dashboard-item-group > h4:hover {
	color: var(--tutor-primary-hover-color);

}

/* Dashboard Assignment */
.tutor-dashboard-assignment-submitted-table tr td {
	text-align: center;
}

.tutor-dashboard-assignment-submitted-table tr td a {
	color: #8c94a8;
	transition: 300ms;
}

.tutor-dashboard-assignment-submitted-table tr td a:hover {
	color: var(--tutor-primary-color);
}

.tutor-dashboard-assignment-submitted-table tr td,
.tutor-dashboard-assignment-submitted-table tr th {
	border: 1px solid #dcdfe5;
}

/* Dashboard Assignment Review */

.tutor-assignment-review-header {
	margin-bottom: 30px;
}
.tutor-assignment-review-header h3 {
	margin-bottom: 10px;
	line-height: 28px;
}

.tutor-assignment-evaluate-wraps h3,
.tutor-assignment-review-header h3 a {
	font-size: 22px;
	font-weight: 700;
	color: var(--tutor-text-color);
	display: block;
}

.tutor-assignment-review-header p {
	margin: 0;
	color: var(--tutor-text-color);
	font-weight: 700;
}

.tutor-assignment-review-header p a {
	font-weight: 400;
	color: var(--tutor-text-color);
}

.tutor-assignment-review-header a {
	transition: 300ms;
}

.tutor-assignment-review-header a:hover {
	color: var(--tutor-primary-color);
}

.tutor-dashboard-assignment-review {
	background: rgba(220, 223, 229, 0.14);
	border: 1px solid #dcdfe5;
	padding: 25px;
	//font-size: var(--tutor-text-size);
	font-weight: 400;
	border-radius: 4px;
	margin-bottom: 40px;
}

.tutor-dashboard-assignment-review h5,
.tutor-dashboard-assignment-review h4 {
	font-size: 16px;
	line-height: 23px;
	font-weight: 700;
	color: var(--tutor-text-color);
}
.tutor-dashboard-assignment-review h5 {
	//font-size: var(--tutor-text-size);
	margin-bottom: 15px;
}

.tutor-dashboard-assignment-files {
	display: flex;
	flex-wrap: wrap;
	margin: -9px;
}

.tutor-dashboard-assignment-files .uploaded-files {
	background-color: #fff;
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	margin: 9px;
	transition: 300ms;
}

.tutor-dashboard-assignment-files .uploaded-files:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.tutor-dashboard-assignment-files .uploaded-files a i {
	margin-right: 12px;
	color: #606c8f;
	float: left;
	font-size: 28px;
	line-height: 28px;
}

.tutor-dashboard-assignment-files .uploaded-files a {
	color: var(--tutor-primary-color);
	display: block;
	overflow: hidden;
	line-height: 28px;
	padding: 15px 17px;
}
.tutor-dashboard-assignment-files .uploaded-files a:hover {
	color: var(--tutor-primary-hover-color);
}

.tutor-assignment-evaluate-row {
	display: flex;
}

.tutor-assignment-evaluate-row .tutor-option-field-label {
	flex: 0 0 135px;
}

.tutor-assignment-evaluate-row .tutor-option-field {
	flex-grow: 1;
}

.tutor-assignment-evaluate-row .tutor-option-field-label label {
	display: block;
	padding-top: 12px;
}

.tutor-option-field-label label br {
	display: none;
}

.tutor-option-field-label label p {
	margin: 0;
	display: inline-block;
}

.tutor-assignment-evaluate-row textarea,
.tutor-assignment-evaluate-row .tutor-option-field input {
	border: 1px solid #dcdfe5;
	height: 50px;
	padding: 0 15px;
	border-radius: 4px;
	width: 100px;
	background-color: #fff;
}

.tutor-assignment-evaluate-row textarea {
	height: 165px;
	width: 100%;
}

.tutor-assignment-evaluate-row {
	margin-bottom: 60px;
}

.tutor-assignment-evaluate-row p.desc {
	margin-bottom: 0;
	margin-top: 6px;
	//font-size: var(--tutor-text-size);
	font-style: italic;
}

/* end dashboard content*/

/*  dashboard profile*/

.tutor-dashboard-profile .tutor-dashboard-profile-item {
	display: flex;
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .heading {
	min-width: 190px;
}

@media (max-width: 480px) {
	.tutor-dashboard-profile .tutor-dashboard-profile-item {
		flex-wrap: wrap;
	}
	.tutor-dashboard-profile .tutor-dashboard-profile-item .heading {
		min-width: 100%;
		width: 100%;
		font-weight: 700;
		margin-bottom: 6px;
	}
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content {
	-webkit-box-flex: 1;

	flex-grow: 1;
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content small {
	font-size: inherit;
	font-style: italic;
	/*color: #999;*/
}

.tutor-dashboard-profile .tutor-dashboard-profile-item .content small a {
	color: var(--tutor-primary-color);
}
.tutor-dashboard-profile .tutor-dashboard-profile-item .content small a:hover {
	color: var(--tutor-primary-hover-color);
}

/* end dashboard profile*/

.tutor-dashboard-avater img {
	width: 70px;
	height: 70px;
	display: block;
	border-radius: 50%;
}
.tutor-dashboard-student-info h4 {
	font-size: 18px;
	color: var(--tutor-light-color);
	margin-bottom: 0;
}
.tutor-dashboard-student-info h4 a {
	color: var(--tutor-text-color);
}
.tutor-dashboard-user-role {
	font-weight: 400;
}
.tutor-dashboard-inline-links {
	margin-bottom: 30px;
}
.tutor-dashboard-inline-links ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #dfe1e5;
}
.tutor-dashboard-inline-links ul li {
	display: inline-block;
}
.tutor-dashboard-inline-links ul li a {
	display: block;
	padding: 5px 10px;
	color: var(--tutor-primary-color);
	margin-bottom: -1px;
	line-height: 40px;
}
.tutor-dashboard-inline-links ul li a:hover {

	color: var(--tutor-primary-color);

}
.tutor-dashboard-inline-links ul li a:hover,
.tutor-dashboard-inline-links ul li.active a {
	color: var(--tutor-primary-color);
	border-bottom: 1px solid var(--tutor-primary-color);
	padding-bottom: 4px;
}
.tutor-dashboard-student-meta ul li:first-child {
	margin-left: 0;
}
@media (max-width: 767px) {
	.tutor-dashboard-student-meta ul {
		display: block;
		border: none;
		padding: 0;
	}
	.tutor-dashboard-student-meta ul li {
		display: inline-block;
		color: var(--tutor-text-color);
		margin: 5px;
		border: 1px solid #dddddd;
		padding: 5px 10px;
		border-radius: 4px;
	}
}
.tutor-dashboard-student-meta ul li strong {
	display: block;
	color: var(--tutor-light-color);
	font-weight: 400;
}

.tutor-dashboard-permalinks {
	list-style: none;
	margin: 0px 0 20px;
	padding: 20px 0;
	border-right: 1px solid #dcdfe5;

	a{
		&, &:hover, &:active, &:focus{
			text-decoration: none;
		}
		
		&::before {
			content: "\e968";
			font-family: "tutor" !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: inherit;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-right: 15px;
			vertical-align: middle;
			color: var(--tutor-primary-color);
			opacity: 0.6;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
			font-size: 17px;
		}

		&:hover{
			&::before {
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				color:var(--tutor-primary-hover-color);
			}
		}
	}

	li {
		a{
			display: block;
			color: var(--tutor-text-color);
			padding: 10px 20px;
			line-height: 28px;
			
			&:hover {
				background-color: #edf0f9;
			}
		}

		&.active a {
			background-color: var(--tutor-primary-color);
			color: #ffffff;
			
			&:hover {
				background-color: var(--tutor-primary-hover-color);
			}

			&:before {
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				color: #fff;
			}
		}
	}
}

@media (max-width: 991px) {
	.tutor-dashboard-student .tutor-col-3,
	.tutor-dashboard-student .tutor-col-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.profile-completion-warning-details {
		margin-bottom: 10px;
	}
}

.tutor-dashboard-menu-bio a:before,
.tutor-dashboard-menu-my-profile a:before {
	content: "\e963";
}

.tutor-dashboard-menu-enrolled-courses a:before {
	content: "\e969";
}

.tutor-dashboard-menu-courses_taken a:before,
.tutor-dashboard-menu-my-courses a:before {
	content: "\e965";
}

.tutor-dashboard-menu-announcements a:before {
	content: "\e93f";
}

.tutor-dashboard-menu-wishlist a:before {
	content: "\e908";
}

.tutor-dashboard-menu-reviews a:before {
	content: "\e917";
}

.tutor-dashboard-menu-my-quiz-attempts a:before {
	content: "\e9ab";
}

.tutor-dashboard-menu-quiz-attempts a:before {
	content: "\e91f";
}

.tutor-dashboard-menu-question-answer a:before {
	content: "\e948";
}

.tutor-dashboard-menu-earning a:before {
	content: "\e96b";
}

.tutor-dashboard-menu-withdraw a:before {
	content: "\e960";
}
.tutor-dashboard-menu-settings a:before {
	content: "\e961";
}
.tutor-dashboard-menu-logout a:before {
	content: "\e962";
}

.tutor-dashboard-menu-purchase_history a:before {
	content: "\e964";
}
.tutor-dashboard-menu-assignments a:before {
	content: "\e98b";
}
.tutor-dashboard-menu-zoom a:before {
    content:"\e9b1";
}
.tutor-dashboard-content {
	padding-top: 30px;
}

.quiz-attempts-title,
.tutor-quiz-attempt-history-title {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.27;
	color: #4b5981;
	margin-bottom: 31px;
}

/** Earning Report */
.tutor-date-range-filter-wrap {
	margin: 15px 0 20px;
	font-size: 12px;
}

.report-top-sub-menu {
	margin: 0 10px 5px 0;
	display: inline-block;
	font-size: 0;
}

.report-top-sub-menu a {
	text-decoration: none;
	padding: 5px 8px;
	border: 1px solid #d7dadf;
	color: #aaaeb3;
	white-space: nowrap;
	display: inline-block;
	font-size: 12px;
}

.report-top-sub-menu a:not(:first-child) {
	margin-left: -1px;
}

.report-top-sub-menu a:hover {
	background: #edf0f9;
	color: #333;
}
.report-top-sub-menu a.active {
	background-color: var(--tutor-primary-color);
	color: #ffffff;
	border: 1px solid var(--tutor-primary-hover-color);
}

/** Menu divider/separator */
.tutor-dashboard-menu-divider {
	height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #dcdfe5;
}
.tutor-dashboard-menu-divider-header {
	color: #acacac;
	padding: 10px 20px;
	cursor: default;
}

.tutor-date-range-wrap {
	display: inline-block;
}
.report-date-range-form {
	display: flex;
	margin-bottom: 0;
	max-width: 370px;
}
.date-range-input {
	position: relative;
}

.date-range-input input {
	border-radius: 0 !important;
	margin: 0 !important;
	border-right: none !important;
	font-size: 14px;
}

.date-range-input:last-child {
	margin-right: 0;
}

.date-range-input:last-child button {
	border-radius: 0;
}

.date-range-input input,
.date-range-input input[type="text"] {
	border: 1px solid #d7dadf;
	box-shadow: none;
	line-height: 29px;
	margin: 0;
	padding-right: 30px;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
}
.date-range-input i.tutor-icon-calendar {
	position: absolute;
	right: 10px;
	top: 7px;
}
.date-range-input button {
	background-color: var(--tutor-primary-color);
	color: #ffffff;
	border: none;
	line-height: 30px;
	padding: 0 15px;
}
.date-range-input button:hover {
	background-color: var(--tutor-primary-hover-color);
}
.report-download-csv-icon {
	float: right;
}
.report-download-csv-icon a {
	text-decoration: none;
}

.tutor-dashboard-statement-table-wrap {
	overflow-x: auto;
}

table.tutor-dashboard-statement-table p {
	margin: 0;
	padding: 0;
}
table.tutor-dashboard-statement-table p.small-text {
	font-size: 12px;
	color: #666666;
}
/** ENd earning report **/

.tutor-mycourse-thumbnail {
	flex: 0 0 250px;
	background-size: cover;
	background-position: center;
}
.tutor-mycourse-content {
	padding: 20px;
	flex: 1;
}

@media (max-width: 580px) {
	.tutor-mycourse-thumbnail {
		height: 200px;
	}
	.tutor-mycourse-thumbnail,
	.tutor-mycourse-content {
		min-width: 100%;
		width: 100%;
	}
	.profile-completion-warning-details li {
		display: block !important;
	}
}

.tutor-mycourse-content h3 {
	margin: 0 0 9px;
}
.tutor-mycourse-content h3 a:hover {
	color: var(--tutor-primary-color);
}
.tutor-mycourse-rating {
	color: #f8c51c;
	font-size: 14px;
}
.tutor-mycourse-rating i {
	margin-right: 4px;
}
.tutor-dashboard-content-inner {
	//font-size: var(--tutor-text-size);
}

.tutor-mycourse-view,
.tutor-mycourse-edit,
.tutor-mycourse-delete {
	color: var(--tutor-light-color);
	transition: 300ms;

	i {
		line-height: inherit;
		display: inline-block;
		vertical-align: top;
		color: var(--tutor-primary-color);
	}

	&:hover {
		color: var(--tutor-primary-color);
	}
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap {
	display: flex;
	margin-bottom: 30px;
	border: 1px solid #dcdfe5;
	border-radius: 4px;
	flex-direction: row;
	overflow: hidden;
	position: relative;
}

@media (max-width: 580px) {
	.tutor-dashboard-content-inner .tutor-mycourse-wrap {
		flex-wrap: wrap;
	}
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-course-status h4 {
	display: none;
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-mycourse-rating {
	margin-bottom: 3px;
}
.tutor-dashboard-content-inner .tutor-mycourse-wrap .tutor-mycourse-rating a {
	//font-size: var(--tutor-text-size);
	font-weight: 400;
	margin-left: 5px;
	color: #8c94a8;
}

.tutor-dashboard-content-inner
	.tutor-mycourse-wrap
	.tutor-mycourse-rating
	a:hover {
	color: var(--tutor-primary-color);
}

.tutor-dashboard-content-inner .tutor-mycourse-wrap p:last-child {
	margin-bottom: 0;
}
.tutor-mycourse-content .mycourse-footer {
	display: flex;
}

.tutor-mycourse-content .mycourse-footer .tutor-mycourses-stats {
	flex: 1;
}
.tutor-dashboard-content-inner .tutor-mycourses-stats > * {
	margin-right: 8px;
}
.tutor-mycourse-status {
	margin-right: 15px;
}
.tutor-dashboard-content-inner h3 a {
	color: var(--tutor-text-color);
	font-size: 22px;
	line-height: 28px;
	font-weight: 500;
	display: block;
}

.tutor-dashboard-content-inner .tutor-course-metadata ul {
	display: block;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	//font-size: var(--tutor-text-size);
}

.tutor-dashboard-content-inner .tutor-progress-bar-wrap {
	margin-bottom: 0;
}
.tutor-dashboard-content-inner .tutor-course-metadata li {
	display: inline-block;
	color: var(--tutor-light-color);
	margin-left: 20px;
}

.tutor-dashboard-content-inner .tutor-course-metadata li:first-child {
	margin-left: 0;
}

.tutor-dashboard-content-inner .tutor-course-metadata li span {
	color: var(--tutor-text-color);
	margin-left: 5px;
}

// Table
.tutor-table {
	width: 100%;
}

// Stretched link
.tutor-stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.sr-only {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}