@import "../lib/mixins.scss";

#tutor_profile_cover_photo_editor{
    height: 344px;
    position: relative;

    #tutor_photo_meta_area{
        text-align: right;
        padding-left: 190px;
        margin-top: 16px;

        @media (max-width:492px){
            padding-left: 120px;
        }

        &>img, &>span{
            display: inline-block;
            vertical-align: middle;
        }

        &>span{
            white-space: nowrap;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #7A7A7A;

            &>span{
                color: black;
            }

            &.loader-area{
                display: none;
            }
        }
    }

    #tutor_cover_area{
        height: 245px;
        background-color: #E9EDFB;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 6px;
        position: relative;
        overflow: hidden;

        .tutor_overlay{
            height: 70%;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
        }

        .tutor_cover_uploader{
            background: #3E64DE;
            border-radius: 3px;
            color: white;
            border: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: #FFFFFF;
            position: absolute;
            padding: 8px 20px;
            right: 22px;
            bottom: 22px;

            &:hover{
                background: #2f52c4;
            }

            &>span{
                margin-left: 6px;

                @media (max-width:432px){
                    display: none;
                }
            }
        }

        .tutor_cover_deleter{
            position: absolute;
            color: white;
            background: rgba(0, 0, 0, 0.247);
            text-align: center;
            width: 36px;
            border-radius: 50%;
            font-size: 17px;
            line-height: 40px;
            height: 36px;
            right: 22px;
            top: 22px;
            cursor: pointer;

            &:hover{
                background: rgba(0, 0, 0, 0.438);
            }
        }
    }

    #tutor_profile_area{
        width: 142px;
        height: 142px;
        left: 35px;
        top: 145px;
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        overflow: hidden;
        background-color: #E9EDFB;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @media(max-width:688px){
            width: 120px;
            height: 120px;  
            left: 31px;
            top: 168px;              
        }
    
        .tutor_overlay{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            background:rgba(0, 0, 0, 0.253);
            padding: 0;
            height: 37px;
            cursor: pointer;
            color: white;
            @include valueWithPrefix(display, flex);
            @include propertyWithPrefix(align-items, center);
            @include propertyWithPrefix(justify-content, center);

            &:hover{
                background:rgba(0, 0, 0, 0.411);
            }
        }
    }

    #tutor_pp_option{
        position: absolute;
        background: #353535;
        width: 157px;
        top: 294px;
        left: 27px;
        border-radius: 6px;
        color: white;
        z-index: 99;
        display: none;

        @media(max-width:688px){
            top: 294px;
            left: 10px;
        }
        
        span{    
            display: block;
            padding: 5px 10px;
            cursor: pointer;
            overflow: hidden;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;

            &:first-of-type{
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            &:last-of-type{
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            &:hover{
                background:  #6b6b6b;
            }
        }

        .up-arrow{
            text-align: center;
            height: 0;

            i{
                display: inline-block;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: relative;
                top: -17px;
                border-bottom: 5px solid #353535;
            }
        }      

        &>*:not(:last-child){
            position: relative;
            z-index: 1;
        }
        
        &>div:last-child{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: transparent;
            z-index: 0;
            z-index: 0;
        }
    }
    
    &.pop-up-opened{
        #tutor_pp_option{
            display: block;
        }
    }

    #tutor_photo_dialogue_box{
        display: none;
    }
}