@import '../lib/mixins.scss';

.tutor-denied-wrapper {
    @include valueWithPrefix(display, flex);
    @include propertyWithPrefix(justify-content, center);
    column-gap: 80px;
    max-width: 990px;
    margin: auto;
    padding: 60px 0 30px;

    .tutor-denied-content-wrapper {
        @include valueWithPrefix(display, flex);
        @include propertyWithPrefix(flex-direction, column);
        row-gap: 39px;

        h2 {
            font-size: 40px !important;
            font-style: normal;
            text-align: left;
        }
    }

    @media screen and (max-width:992px) {
        @include propertyWithPrefix(flex-direction, column);
        @include propertyWithPrefix(align-items, center);
        row-gap: 50px;
    }
}
