.tutor-disabled-wrapper {
    max-width: 444px;
    padding: 60px 0 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tutor-disabled-content-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 38px;
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
        }
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
}

.tutor-denied-wrapper {
    .image-wrapper {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @include valueWithPrefix(display, flex);
    justify-content: center;
    column-gap: 80px;
    margin: auto;
    padding: 60px 0 30px;

    .tutor-denied-content-wrapper {
        width: 100%;
        .tutor-logo {
            height: 32px;
        }
        @include valueWithPrefix(display, flex);
        flex-direction: column;
        row-gap: 39px;

        h2 {
            font-size: 40px !important;
            font-style: normal;
            text-align: left;
        }
    }

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        width: 90%;
        margin: auto;
    }
}
