.tutor-instructor-list{

    &, &:focus, &:active{
        outline: none;
        cursor: pointer;
        text-decoration: none !important;
        background: #FFFFFF;
        border: 1px solid #DCDBDC;
        border-radius: 6px;
    }

    .tutor-instructor-profile-photo, .tutor-instructor-cover-photo{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .tutor-instructor-profile-photo{
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .tutor-instructor-name{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #161616;
        margin: 0;
    }

    .tutor-instructor-course-count{
        margin-bottom: 10px;
        &>span{
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            color: #161616;

            &:last-child{
                color:#808080;
            }
        }
    }

    .tutor-instructor-rating{
        *{
            font-size: 16px;
        }

        .rating-digits{
            color: #161616;
        }

        .rating-total-meta{
            color: #7A7A7A;;
        }
    }

    // Layout specific styles
    &.tutor-instructor-list-pp-cp{
        .tutor-instructor-cover-photo{
            width:100%;
            height: 153px;
        }

        .tutor-instructor-profile-photo{
            border: 4px solid white;
            margin: -31px 15px 0;
        }

        .tutor-instructor-name, .tutor-instructor-course-count, .tutor-instructor-rating{
            padding: 0 15px;
        }
    }

    &.tutor-instructor-list-pp-top-full{
        .tutor-instructor-cover-photo{
            display: none;
        }

        .tutor-instructor-profile-photo{
            border-radius: 0%;
            width: 100%;
            height: 160px;
        }

        .tutor-instructor-name, .tutor-instructor-course-count, .tutor-instructor-rating{
            padding: 0 15px;
        }
        
        .tutor-instructor-name{
            margin-top: 15px;
        }
    }
    
    &.tutor-instructor-list-pp-top-left{
        .tutor-instructor-cover-photo{
            display: none;
        }
        padding: 15px;
    }
    
    &.tutor-instructor-list-pp-left-full, &.tutor-instructor-list-pp-left-middle{
        .tutor-instructor-cover-photo{
            display: none;
        }

        .tutor-instructor-profile-photo{
            border-radius: 0%;
            height: 102px;
            width: 102px;
            top: 0px;
            position: absolute;
        }
        
        .tutor-instructor-name, .tutor-instructor-course-count, .tutor-instructor-rating{
            margin-left: 118px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;    
            width: calc(100% - 110px);
            display: inline-block;
            position: relative;
            top:6px;
        }

        .tutor-instructor-rating{
            top: 7px;
            position: relative;
        }
    }
    
    &.tutor-instructor-list-pp-left-middle{
        .tutor-instructor-profile-photo{
            border-radius: 50%;
            height: 82px;
            width: 82px;
            margin: 10px;
        }

        .tutor-instructor-name{
            top:11px;
        }
        
        .tutor-instructor-course-count{
            top:46px;
        }
    }
}

.tutor-instructor-filter {
    overflow: auto;

    &>div {
        
        float: left;
        padding: 0 15px;
        
        &:first-child {
            width: 220px;
        }

        &:last-child {
            padding: 0 15px;
            width: calc(100% - 250px);
        }
    }

    .keyword-field {

        padding: 5px;
        border: 1px solid #BABABA;
        box-sizing: border-box;
        border-radius: 6px;
        margin-bottom: 30px;

        i{
            padding: 0 5px;
            color: #3E64DE;
        }

        i, input {
            font-size: 16px;
        }

        input {
            border: none;
            background: transparent;
            padding: 0;
            width: calc(100% - 40px);

            &, &:hover, &:active{
                outline: 0;
            }
        }
    }
}

.tutor-instructor-filter-sidebar {
    .course-filter {
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            overflow: auto;

            &>span:first-child {
                position: relative;
                left: -7px;
                cursor: pointer;
            }

            &>span:last-child {

                display: inline-block;
                float: right;
                color: #7A7A7A;
                cursor: pointer;

                i {
                    font-size: 10px;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .tutor-instructor-filter-sidebar, .tutor-instructor-filter-result {
        width: 100% !important;
        float: none !important;
    }

    .tutor-instructor-filter:not(.is-filter-expanded) {
        .tutor-instructor-filter-sidebar>div:not(:first-child), .keyword-field {
            display: none;
        }
    }
}