.tutor-course-review-popup-form{

    .tutor-star-rating-group{
        color: #C0C3CB;
        
        i{
            margin: 0 6px;

            &.tutor-icon-star-full{
                color: #ED9700;
            }
        }
    }

    .tutor-stars{
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }
}