.tutor-course-review-popup-form{

    .tutor-star-rating-group{
        color: #C0C3CB;
        
        i{
            margin: 0 6px;

            &.tutor-icon-star-full{
                color: #ED9700;
            }
        }
    }

    .tutor-stars{
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }

    textarea {
        background: white;
        border: 1px solid #C0C3CB;
        border-radius: 6px; 
        width: 100%;
        height: 108px;
        padding: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: $text-hints;
        resize: none;

        &, &:focus {
            outline: none;
            @include propertyWithPrefix(box-shadow, none);
        }

        &:focus {
            color: #50545f;
            border: 1px solid #a0a2a8;
        }
    }
}