/*
.tutor-course-content-content{
  font-size: 14px;
  line-height: 21px;
}
*/

.tutor-segment-title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 13px;
    color: #000;
}

.tutor-single-course-segment {
    margin-bottom: 45px;
    .tutor-segment-title {
        @extend .tutor-segment-title;
    }
}

.tutor-full-width-course-top {
    h4,
    h5,
    h6 {
        color: #000;
        font-weight: 500;
    }
    h6 {
        font-size: 14px;
    }
}

.tutor-leadinfo-top-meta {
    font-size: 14px;
    margin-bottom: 10px;
    span {
        display: inline-block;
        margin-right: 10px;
        i::before {
            margin-left: 0;
        }
    }
    i {
        margin-right: 4px;
    }
}

.tutor-single-course-rating {
    color: #F8C51C;
    font-size: 16px;
    .tutor-single-rating-count {
        color: var(--tutor-text-color);
        font-weight: 500;
    }
    .tutor-single-rating-count i {
        color: var(--tutor-light-color);
        font-style: normal;
        display: inline-block;
        margin-left: 4px;
    }
}

.tutor-course-header-h1 {
    font-size: 36px;
    line-height: 46px;
    color: var(--tutor-text-color);
    font-weight: 500;
    margin: 0 0 29px;
    padding: 0;
    @media (max-width: 767px) {
        font-size: 26px;
        line-height: 36px;
    }
}

.tutor-course-summery {
    margin-bottom: 40px;
    //font-size: var(--tutor-text-size);
}


/*tutor course meta*/

.tutor-single-course-meta {
    color: var(--tutor-text-color);
    //font-size: var(--tutor-text-size);
}

.tutor-single-course-meta ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    line-height: 21px;
}

.tutor-single-course-meta.tutor-meta-top ul {
    padding-top: 0;
    padding-bottom: 15px;
}

.tutor-single-course-meta ul li {
    float: left;
    vertical-align: top;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 95px;
}

@media (max-width: 575px) {
    .tutor-single-course-meta ul li {
        margin-right: 10px;
    }
}

.tutor-single-course-meta ul li:last-child {
    margin-right: 0;
}

.tutor-single-course-meta .tutor-single-course-avatar img {
    height: 21px;
    width: 21px;
    display: block;
    border-radius: 50%;
    margin-right: 3px;
}

.tutor-single-course-meta ul li .tutor-single-course-avatar span {
    height: 21px;
    width: 21px;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
    display: block;
    color: #ffffff;
}

.tutor-single-course-meta ul li>div {
    display: inline-block;
    vertical-align: top;
}

.tutor-single-course-meta ul li strong {
    margin: 0;
    display: inline-block;
    line-height: 21px;
    font-weight: 400;
    color: var(--tutor-light-color);
    font-size: var(--tutor-text-size);
}

.tutor-single-course-meta ul li a {
    color: var(--tutor-text-color);
    font-weight: 500;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.tutor-single-course-meta ul li a:hover {
    color: var(--tutor-primary-color);
}

.tutor-single-course-meta.tutor-meta-top ul li,
.tutor-single-course-meta.tutor-meta-top ul li a {
    font-weight: 700;
}

.tutor-single-course-meta ul li {
    font-weight: 500;
    color: var(--tutor-text-color);
}

.tutor-single-course-meta ul li span {
    color: var(--tutor-light-color);
    font-weight: 400;
}

.tutor-single-course-meta.tutor-lead-meta {
    margin-bottom: 33px;
    border-top: 1px solid #DCDFE5;
    border-bottom: 1px solid #DCDFE5;
}

@media (max-width: 991px) {
    .tutor-single-course-meta.tutor-lead-meta {
        border-bottom: none;
    }
    .tutor-single-course-meta.tutor-lead-meta ul {
        padding-bottom: 0;
    }
    .tutor-single-course-meta.tutor-lead-meta ul li {
        margin: 5px;
        padding: 5px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

.tutor-single-course-meta.tutor-lead-meta ul {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .tutor-single-course-meta.tutor-lead-meta ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.tutor-single-course-meta.tutor-lead-meta ul li span {
    display: block;
    margin-bottom: 5px;
    color: var(--tutor-light-color);
}

.tutor-single-course-meta.tutor-lead-meta ul li a {
    color: var(--tutor-text-color);
    -webkit-transition: 300ms;
    transition: 300ms;
}

.tutor-single-course-meta.tutor-lead-meta ul li a:hover {
    color: var(--tutor-primary-color);
}

.tutor-single-course-meta.tutor-lead-meta ul li a:not(:last-child):after {
    content: ',';
    margin-right: 4px;
}

@media (max-width: 575px) {
    .tutor-single-course-meta.tutor-lead-meta ul {
        display: block;
    }
    .tutor-single-course-meta.tutor-lead-meta ul li {
        display: block;
        border: none;
        margin: 0;
        width: 100%;
        padding: 0 0 10px;
    }
    .tutor-single-course-meta.tutor-lead-meta ul li span {
        display: inline-block;
        color: var(--tutor-text-color);
        font-weight: 700;
    }
    .tutor-single-course-meta.tutor-lead-meta ul li span::after {
        content: ':';
        color: var(--tutor-text-color);
    }
}


/*benifit*/

.tutor-course-benefits-content ul {
    list-style: none;
    display: block;
    overflow: hidden;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin: 0;
    //font-size: var(--tutor-text-size);
}


/*.tutor-course-topics-wrap*/

.tutor-course-topics-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
}

.tutor-course-topics-header .tutor-course-topics-header-right span:not(:first-child) {
    margin-left: 45px;
}

.tutor-course-topics-contents h4 {
    font-size: var(--tutor-text-size);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--tutor-text-color);
}

.tutor-course-topics-contents .tutor-course-title {
    cursor: pointer;
}

.tutor-course-topics-contents .tutor-course-title h4 {
    color: var(--tutor-primary-color);
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 0;
}

.tutor-course-topic.tutor-active .tutor-course-title h4>i:before {
    content: "\e910";
}

.tutor-course-topics-contents .tutor-course-title h4 i {
    font-size: 15px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}

.tutor-course-topics-contents .tutor-course-topic {
    border: 1px solid #DCE4E6;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.tutor-course-title,
.tutor-course-lesson {
    padding: 14px 20px;
}

.tutor-course-lesson {
    border-top: 1px solid #DCE4E6;
}

.tutor-course-lesson h5 {
    line-height: 22px;
    font-size: var(--tutor-text-size);
    margin-bottom: 0;
    display: flex;
    color: inherit;
    margin-top: 0;
}

.tutor-course-lesson h5 a {
    color: var(--tutor-primary-color);
    -webkit-transition: 300ms;
    transition: 300ms;
}

.tutor-course-lesson h5 a:hover {
    color: var(--tutor-primary-hover-color);
}

.tutor-course-lesson h5 i {
    line-height: 22px;
    vertical-align: text-top;
    margin-right: 10px;
    color: var(--tutor-light-color);
    display: block;
}

.tutor-course-lesson h5 .lesson-preview-icon i {
    margin-right: 0;
    margin-left: 10px;
}

.tutor-course-lesson h5 .tutor-lesson-duration {
    margin-left: auto;
    padding-left: 5px;
    align-self: flex-start;
}

.tutor-course-lesson .lesson-preview-title {
    flex: 1 0 0;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

table.course-single-gradebooks .datetime {
    margin: 0;
    font-size: 80%;
}

.tutor-course-lessons .tutor-course-lesson h5 i.tutor-lesson-thumbnail-icon {
    height: 50px;
    width: 70px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 20px;
    background-position: center center !important;
    background-size: cover !important
}

.tutor-course-lessons .tutor-course-lesson h5 i.tutor-lesson-thumbnail-icon:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1
}