body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.tutor-frontend * {
		box-sizing: border-box;
	}
}

//common and reset css

.tutor-wrap{
	color: var(--tutor-body-color);
	img{
		max-width: 100%;
		height: auto;
	}
}

.tutor-custom-list-style{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		position: relative;
		margin-bottom: 5px;
		line-height: 30px;
		padding-left: 25px;
		&:before{
			content: '\e90f';
			position: absolute;
			left: 0;
			font-family: 'tutor';
			color: var(--tutor-color-primary);
		}
	}
}

.tutor-entry-content{
	> br {
		display: none;
	}
	p:not(:last-child){
		padding-bottom: 20px;
		word-wrap: break-word;
	}
}