/**
 * Dashboard Table
 * @since 3.8.0
 */

.tutor-gift-course-card,
#tutor-greetings-popup {
	font-family: 'SF Pro Display', sans-serif;
}

.tutor-gift-course-card {
	padding: 22px;
	margin: 28px 0px 32px 0px;
	border: 1px solid #dee2e6;
	border-radius: 16px;
	min-height: 120px;
	box-shadow: 0px 0px 34px 0px #00349412;
}

.tutor-gift-card-decoration-left {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.tutor-gift-card-decoration-right {
	right: 0;
	top: 0;
	z-index: 1;
}

.tutor-gift-box-icon {
	flex-shrink: 0;
	margin-left: 40px;
	margin-right: 36px;
	z-index: 2;

	.tutor-gift-box-icon-star {
		position: absolute;
	}

	.tutor-gift-box-icon-star-1 {
		top: 5px;
		right: 0px;
	}

	.tutor-gift-box-icon-star-2 {
		top: 43px;
		left: -16px;
	}
}

.tutor-gift-card-content {
	flex: 1;
	z-index: 2;
	margin-right: 100px;
}

.tutor-gift-card-title {
	line-height: 34px;
}

.tutor-gift-card-message {
	line-height: 24px;
	color: var(--tutor-color-secondary);
	letter-spacing: 0px;
}

.tutor-gift-card-button:active {
	transform: translateY(0);
}

/* Responsive design */
@media (max-width: 991px) {

	.tutor-gift-card-content {
		margin-right: 0px;
	}

	.gift-box-icon {
		margin-left: 0px;
		margin-right: 20px;
	}

	.tutor-gift-card-decoration-right {
		display: none;
	}

	.tutor-gift-box-icon .gift-box-icon-star-2 {
		top: 20px;
		left: -10px;
	}
}

// gift modal scss

.tutor-greetings-card-wrapper {
	background: #F3F8FF;
	padding: 32px;
	border-radius: 16px 16px 0px 0px;
}

.tutor-greetings-card {
	max-width: 700px;
	color: #374151;
	position: relative;
	padding: 40px;
	background: var(--tutor-color-white);
	border: 1px solid #E2EDFC;

	.tutor-greeting-to-person {
		padding: 0px 0px 24px 0px;
		position: relative;

		p {
			line-height: 24px;
			letter-spacing: 0px;

			span {
				line-height: 26px;
				letter-spacing: 0px;
			}
		}
	}

	.tutor-greetings-content {
		padding: 24px 90px 0px 0px;
		text-align: justify;
		position: relative;

		&::after,
		&::before {
			z-index: 10;
		}

		&::after {
			content: '';
			width: 1500px;
			height: 3px;
			position: absolute;
			top: 0;
			left: -160px;
			background: #FE621E;
		}

		&:before {
			content: "";
			height: 1500px;
			width: 3px;
			position: absolute;
			right: 30px;
			top: -150px;
			background: #fe621e;
		}

		.tutor-greetings-ribbon {
			position: absolute;
			right: -2px;
			top: -27px;
		}

		.tutor-greetings-message {
			line-height: 24px;
			letter-spacing: 0px;
		}

		.tutor-greetings-signature {
			color: var(--tutor-body-color);
			margin-top: 26px;
			line-height: 24px;
			letter-spacing: 0px;
		}
	}

	.tutor-greetings-modal-overlay {
		position: absolute;
		inset: 0 0 0 0;
	}

	.greetings-card-border {
		content: '';
		position: absolute;
		background: #E2EDFC;
		z-index: 1;
	}

	.tutor-greetings-circle {
		height: 70px;
		width: 70px;
		border: 1px solid #E2EDFC;
		border-radius: 50%;
		background: #F3F8FF;
		position: absolute;
	}

	.tutor-greetings-circle-top-left {
		left: -35px;
		top: -35px;
	}

	.tutor-greetings-circle-top-right {
		right: -35px;
		top: -35px;
	}

	.tutor-greetings-circle-bottom-left {
		left: -35px;
		bottom: -35px;
	}

	.tutor-greetings-circle-bottom-right {
		right: -35px;
		bottom: -35px;
	}
}

.tutor-gifted-course-wrapper {
	background: white;
	padding: 32px;
	border-radius: 0px 0px 16px 16px;
}

.tutor-gifted-course {
	font-family: Arial, sans-serif;

	.tutor-gifted-course-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0px;
		color: var(--tutor-body-color);
	}

	.tutor-gifted-course-card {
		display: flex;
		background: var(--tutor-color-white);
		overflow: hidden;
		margin-bottom: 24px;
		border-radius: 4px;
		border: 1px solid #ddd;

		.tutor-gifted-course-image {
			width: 143px;

			img {
				max-width: 100%;
				height: 100%;
			}
		}

		.tutor-gifted-course-content {
			width: calc(100% - 143px);
			padding: 16px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.tutor-gifted-course-name {
				margin: 0 0 8px;
				line-height: 124%;
			}

			.tutor-gifted-course-author {
				font-size: 14px;
				line-height: 150%;
				letter-spacing: -0.2%;
				color: #595D7EB2;

				a {
					color: #595D7E;
					text-decoration: none;
				}
			}

			.tutor-gifted-course-rating {
				.tutor-gifted-rating-value {
					font-size: 12px;
					font-weight: bold;
					margin-right: 5px;
				}

				.tutor-gifted-rating-stars-wrapper {
					gap: 2px;
					margin-left: 4px;

					.tutor-gifted-rating-stars {
						color: #fbbf24;
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {

	.tutor-gift-course-card {
		flex-direction: column;
		.tutor-gift-card-content {
			text-align: center;
		}
	}

	.tutor-greetings-card {
		.tutor-greetings-content:before {
			content: "";
			height: 1500px;
			width: 3px;
			position: absolute;
			right: 10px;
			top: -150px;
			background: #fe621e;
		}

		.tutor-greetings-content {
			padding: 30px 50px 0px 0px;

			.tutor-greetings-ribbon {
				right: -22px;
			}
		}
	}

	.tutor-gifted-course {
		.tutor-gifted-course-card {
			flex-direction: column;

			.tutor-gifted-course-image {
				width: 100%;
			}

			.tutor-gifted-course-content {
				width: 100%;
			}
		}
	}
}