@import '../../../v2-library/_src/scss/reusables.scss';

@import "theme";
@import "single_course";
@import "single_lesson";
@import "_archive";
@import "user_login";

@import './course/index.scss';

//dashboard
@import "dashboard";
@import "_dashboard_delete_popup";
@import "_dashboard_withdraw_method";
@import "_dashboard_assignment";
@import "_dashboard_announcements"; //since 1.7.9
@import "_dashboard_quiz_review";
@import "_dashboard_user_photo";

@import "_student_public_profile";

//frontend-builder
@import "_instructor_registration";
@import "_frontend_withdrawal";
@import "_tooltip";
@import "./review.scss";

// Instructor list short code
@import "_instructor";

//Any kind of denied (permission, unathurized, not found)
@import "_denied"