// Badge Mixins
// Reusable Badge styles with variants and sizes

@use "../tokens" as *;
@use "typography" as *;

@mixin tutor-badge-base {
	@include tutor-typography('tiny', 'medium');
	width: max-content;
	border-radius: $tutor-radius-sm;
	padding: $tutor-spacing-1 $tutor-spacing-4;
	display: flex;
	align-items: center;
	gap: $tutor-spacing-3;

	background-color: $tutor-actions-gray-secondary;


	&.tutor-badge-circle {
		border-radius: $tutor-radius-full;
	}
}

@mixin tutor-badge-variant($variant: primary) {
	@if $variant ==primary {
		background-color: $tutor-actions-brand-primary;
		color: $tutor-text-primary-inverse;
	}

	@else if $variant ==primary-soft {
		background-color: $tutor-actions-brand-tertiary;
		color: $tutor-actions-brand-primary;
	}

	@else if $variant ==pending {
		background-color: $tutor-actions-warning-secondary;
		color: $tutor-text-warning;
	}

	@else if $variant ==completed {
		background-color: $tutor-actions-success-tertiary;
		color: $tutor-text-success;
	}

	@else if $variant ==cancelled {
		background-color: $tutor-actions-critical-secondary;
		color: $tutor-text-critical;
	}

	@else if $variant ==secondary {
		background-color: $tutor-actions-gray-secondary;
		color: $tutor-gray-500;
	}

	@else if $variant ==exception {
		background-color: $tutor-surface-exception2-secondary;
		color: $tutor-text-exception2;
	}
}