@use '../tokens' as *;
@use 'typography' as *;

@mixin tutor-badge-base() {
  @include tutor-typography('tiny', 'medium');
  width: max-content;
  border-radius: $tutor-radius-sm;
  padding-inline: $tutor-spacing-4;
  display: flex;
  align-items: center;
  gap: $tutor-spacing-3;
  background-color: $tutor-actions-gray-secondary;
  color: $tutor-text-subdued;

  svg {
    color: $tutor-icon-secondary;
  }

  &.tutor-badge-rounded {
    border-radius: $tutor-radius-full;
  }
}

@mixin tutor-badge-variant($variant: primary) {
  @if $variant ==primary {
    background-color: $tutor-actions-brand-primary;
    color: $tutor-text-primary-inverse;

    svg {
      color: $tutor-icon-idle-inverse;
    }
  } @else if $variant ==info {
    background-color: $tutor-actions-brand-tertiary;
    color: $tutor-text-brand;

    svg {
      color: $tutor-icon-brand;
    }
  } @else if $variant ==warning {
    background-color: $tutor-actions-warning-secondary;
    color: $tutor-text-warning;

    svg {
      color: $tutor-icon-warning;
    }
  } @else if $variant ==success {
    background-color: $tutor-actions-success-tertiary;
    color: $tutor-text-success;

    svg {
      color: $tutor-icon-success-primary;
    }
  } @else if $variant ==success-solid {
    background-color: $tutor-actions-success-primary;
    color: $tutor-text-primary-inverse;

    svg {
      color: $tutor-icon-idle-inverse;
    }
  } @else if $variant ==error {
    background-color: $tutor-actions-critical-secondary;
    color: $tutor-text-critical;

    svg {
      color: $tutor-icon-critical;
    }
  } @else if $variant ==highlight {
    background-color: $tutor-surface-exception2-secondary;
    color: $tutor-text-exception2;

    svg {
      color: $tutor-icon-exception2;
    }
  }
}
