// Table Mixins
// Reusable Table styles with variants and sizes

@use "../tokens" as *;
@use "typography" as *;
@use "layout" as *;

@mixin tutor-table-wrapper {
	display: block;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border: 1px solid var(--tutor-border-idle);
    border-radius: 6px;
	table {
		min-width: 600px;
	}
}

@mixin tutor-table-wrapper-bordered {
	display: block;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border: 1px solid var(--tutor-border-idle);
    border-radius: 6px;
	table {
		min-width: 600px;
		
		th {
			border-right: 1px solid var(--tutor-border-idle);
			
			&:last-child {
				border-right: none;
			}
		}

		td {
			border-right: 1px solid var(--tutor-border-idle);
			
			&:last-child {
				border-right: none;
			}
		}
	}
}


@mixin tutor-table-base {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	color: $tutor-text-secondary;
	// border: 1px solid $tutor-border-idle;
	// border-radius: $tutor-radius-md;
	// overflow: hidden;

	@include tutor-typography('small', 'regular', 'secondary');

	thead {
		background-color: $tutor-surface-base;
		
		th {
			color: $tutor-text-primary;
			text-align: left;
			padding: $tutor-spacing-4 $tutor-spacing-6;
			border-bottom: 1px solid $tutor-border-idle;
			font-weight: 500;

			@include tutor-typography('small', 'regular', 'primary');
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $tutor-border-idle;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: $tutor-surface-l1-hover;
			}
		}

		td {
			padding: $tutor-spacing-4 $tutor-spacing-6;
			vertical-align: middle;
		}
	}
}