// Table Mixins
// Reusable Table styles with variants and sizes

@use "../tokens" as *;
@use "typography" as *;
@use "layout" as *;

@mixin tutor-table-wrapper {
	display: block;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-lg;
	table {
		min-width: 600px;
	}
}

@mixin tutor-table-base {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	color: $tutor-text-secondary;

	@include tutor-typography('small', 'regular', 'secondary');

	thead {
		background-color: $tutor-surface-base;
		
		th {
			text-align: left;
			padding: $tutor-spacing-5;
			border-bottom: 1px solid $tutor-border-idle;

			@include tutor-typography('small', 'medium', 'primary');
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $tutor-border-idle;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: $tutor-surface-l1-hover;
			}
		}

		td {
			padding: $tutor-spacing-5;
			vertical-align: middle;
			min-width: 180px;
		}
	}
}

@mixin tutor-table-column-borders {
	th {
		border-right: 1px solid $tutor-border-idle;
		
		&:last-child {
			border-right: none;
		}
	}

	td {
		border-right: 1px solid $tutor-border-idle;
		
		&:last-child {
			border-right: none;
		}
	}
}