// Learning Area Certificate Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-learning-area-certificate {
  @include tutor-flex(column);
  gap: $tutor-spacing-5;

  @include tutor-breakpoint-up(sm) {
    margin-top: $tutor-spacing-7;
  }

  .tutor-certificate-header {
    @include tutor-flex(row, center, space-between);
    background-color: $tutor-surface-l1;

    @include tutor-breakpoint-up(sm) {
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-2xl;
      padding: $tutor-spacing-4;
    }

    @include tutor-breakpoint-down(sm) {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      border-top: 1px solid $tutor-border-idle;
      padding: $tutor-spacing-6;
    }
  }

  .tutor-certificate-info {
    @include tutor-grid(2, $tutor-spacing-7);
    background-color: $tutor-surface-l1;
    border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-2xl;
    padding: $tutor-spacing-6;

    &-item {
      @include tutor-flex(column);
      gap: $tutor-spacing-7;

      &:last-of-type {
        justify-self: end;
      }
    }
  }
}

.tutor-certificate-locked-modal {
  max-width: 560px;
  padding: $tutor-spacing-7 $tutor-spacing-8;

  .tutor-certificate-locked-badge {
    @include tutor-typography(small, medium, brand);
    @include tutor-flex(row, center);
    gap: $tutor-spacing-2;
    padding: $tutor-spacing-4 $tutor-spacing-6;
    border-radius: $tutor-radius-full;
    background-color: $tutor-button-caution;
  }

  // @TODO: The glass effect needs to improve.
  .tutor-certificate-modal-preview {
    height: 320px;
    @include tutor-flex(row, end, center);
    padding-bottom: $tutor-spacing-11;
    background-color: $tutor-surface-brand-secondary;
    border-radius: $tutor-radius-2xl;
    margin-bottom: $tutor-spacing-6;
    position: relative;

    @include tutor-breakpoint-down(sm) {
      margin-bottom: $tutor-spacing-5;
    }

    img {
      max-width: 264px;
    }

    .tutor-certificate-preview-effect {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      width: 310px;
      height: 142px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border-radius: $tutor-radius-3xl;
      box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 1),
        inset 0 -1px 1px rgba(255, 255, 255, 1);
    }

    .tutor-certificate-preview-lock {
      width: 92px;
      height: 92px;
      @include tutor-flex(row, center, center);
      background-color: $tutor-surface-brand-primary;
      color: $tutor-icon-caution;
      border-radius: 50%;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
