// Learning Area Course Info

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-course-info {
  .tutor-course-thumb {
    border-radius: $tutor-radius-lg;
    overflow: hidden;

    img {
      border-radius: $tutor-radius-lg;
      max-width: 100%;
    }
  }
  
  .tutor-course-sticky-card {
    @include tutor-flex(row, center);
    gap: $tutor-spacing-5;
    background-color: $tutor-surface-l1;
    border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-2xl;
    padding: $tutor-spacing-4;

    .tutor-course-thumb {
        @include tutor-flex();
        max-width: 106px;
    }
  }

  .tutor-course-intro {
    text-align: center;
    margin-top: $tutor-spacing-8;
  }

  .tutor-course-description {
    @include tutor-flex(column);
    gap: $tutor-spacing-2;
    margin-top: $tutor-spacing-9;

    &-item {
      background-color: $tutor-surface-l1;
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-lg;
      padding: $tutor-spacing-5 $tutor-spacing-6;

      .tutor-course-description-header {
        @include tutor-flex(row, center, space-between);
        cursor: pointer;

        &-title {
          @include tutor-typography(medium, medium);

          @include tutor-breakpoint-down(sm) {
            font-size: $tutor-font-size-small;
            line-height: $tutor-font-size-small;
          }
        }

        &-icon {
          @include tutor-flex-center();

          svg {
            @include tutor-transition(transform);

            @include tutor-breakpoint-down(sm) {
              height: 20px;
              width: 20px;
            }
          }

          &.is-expanded svg {
            transform: rotate(180deg);
          }
        }
      }

      .tutor-course-description-body {
        margin-top: $tutor-spacing-5;
      }
    }

    .tutor-course-description-list {
      @include tutor-grid(2, $tutor-spacing-6);

      @include tutor-breakpoint-down(sm) {
        grid-template-columns: 1fr;
      }

      &-item {
        @include tutor-flex(row);
        gap: $tutor-spacing-4;

        svg {
          flex-shrink: 0;
        }
      }

      &-content {
        @include tutor-typography(p3);
      }
    }
  }

  .tutor-course-info-table {
    table {
      min-width: auto;

      @include tutor-breakpoint-down(sm) {
        table-layout: fixed;
      }
    }

    tr {
      &:hover {
        background-color: $tutor-surface-l1;
      }

      td {
        @include tutor-typography(medium);
        padding: $tutor-spacing-5 $tutor-spacing-6;
        vertical-align: top;

        @include tutor-breakpoint-down(sm) {
          font-size: $tutor-font-size-small;
          line-height: $tutor-line-height-small;
          padding: $tutor-spacing-4;
        }

        &:first-of-type {
          font-weight: $tutor-font-weight-medium;

          @include tutor-breakpoint-down(sm) {
            width: 140px;
          }
        }

        ul {
          margin: 0;
          padding: 0;
          padding-inline-start: $tutor-spacing-6;

          li {
            list-style: disc;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .tutor-course-info-certificate {
    display: grid;
    grid-template-areas:
      'thumb content'
      'thumb buttons';
    gap: $tutor-spacing-8;
    background-color: $tutor-surface-l1;
    border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-2xl;
    padding: $tutor-spacing-8;
    margin-bottom: $tutor-spacing-9;

    @include tutor-breakpoint-down(sm) {
      grid-template-areas:
        'thumb content'
        'buttons buttons';
      padding: $tutor-spacing-5;
      row-gap: $tutor-spacing-5;
      column-gap: $tutor-spacing-6;
    }

    &-thumb {
      grid-area: thumb;
      align-self: center;

      @include tutor-breakpoint-down(sm) {
        align-self: start;

        svg {
          height: 72px;
          width: 72px;
        }
      }
    }

    &-content {
      grid-area: content;
      align-self: end;
    }

    &-buttons {
      grid-area: buttons;
      align-self: start;
      @include tutor-flex(row, center);
      gap: $tutor-spacing-5;

      @include tutor-breakpoint-down(sm) {
        @include tutor-flex(column-reverse);
        gap: $tutor-spacing-4;

        button {
          @include tutor-button-size(medium);
        }
      }
    }
  }
}
