// Certificate Display Component
// Certificate preview and download interface

.tutor-certificate-display {
  // Certificate display styles will go here
  // Certificate preview, download button, sharing options
}