// Upcoming Lesson Card Component
// Card component for displaying upcoming lesson information

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-upcoming-lesson-card {
  padding: $tutor-spacing-6;
  border: 1px solid $tutor-border-idle;
  border-radius: $tutor-radius-2xl;

  &-header {
    @include tutor-flex(row, center, space-between);
    margin-bottom: $tutor-spacing-1;
  }

  &-meta {
    @include tutor-flex(row, center, flex-start);
    gap: $tutor-spacing-2;
    align-items: center;
    @include tutor-typography('tiny', 'regular', 'secondary', 'body');
  }

  &-icon {
    @include tutor-flex-center;
  }

  &-title {
    @include tutor-typography('small', 'medium', 'primary', 'body');
    margin: 0 0 $tutor-spacing-5 0;
  }

  &-course {
    @include tutor-flex(row, baseline, flex-start);
    @include tutor-typography('tiny', 'regular', 'secondary', 'body');
    gap: $tutor-spacing-1;
  }

  &-course-name {
    font-style: italic;
  }
}
