// Upcoming Lesson Card Component
// Card component for displaying upcoming lesson information

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-upcoming-lesson-card {
  padding: $tutor-spacing-6;
  border: 1px solid $tutor-border-idle;
  border-radius: $tutor-radius-2xl;
  cursor: pointer;

  &:hover {
    background-color: $tutor-surface-l1-hover;
		@include tutor-breakpoint-up(sm) {
			.tutor-upcoming-lesson-card-live-tag-badge {
				opacity: 0;
				visibility: hidden;
			}
			.tutor-upcoming-lesson-card-action {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
  }

  &:focus-within {
		@include tutor-breakpoint-up(sm) {
			.tutor-upcoming-lesson-card-live-tag-badge {
				opacity: 0;
				visibility: hidden;
			}
			.tutor-upcoming-lesson-card-action {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
  }

  &-header {
    @include tutor-flex(row, center, space-between);
    margin-bottom: $tutor-spacing-1;
  }

  &-meta {
    @include tutor-flex(row, center, flex-start);
    gap: $tutor-spacing-2;
    align-items: center;
    @include tutor-typography('tiny', 'regular', 'secondary', 'body');
  }

  &-icon {
    @include tutor-flex-center;
  }

	&-live-tag {
		position: relative;
		

		&-badge {
			@include tutor-flex(row, center, center);
			transition: opacity 0.2s ease, visibility 0.2s ease;
			opacity: 1;
			visibility: visible;
			z-index: $tutor-z-positive;
		}
	}

	&-action {
		@include tutor-flex(row, center, center);
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.2s ease, visibility 0.2s ease;
		z-index: $tutor-z-dropdown;

		&:hover {
			color: $tutor-text-primary-inverse;
		}
	}

  &-title {
    @include tutor-typography('small', 'medium', 'primary', 'body');
    margin: 0 0 $tutor-spacing-5 0;

    @include tutor-breakpoint-down(sm) {
			color: $tutor-text-brand;
		}
  }

  &-course {
    @include tutor-flex(row, baseline, flex-start);
    @include tutor-typography('tiny', 'regular', 'secondary', 'body');
    gap: $tutor-spacing-1;
  }

  &-course-name {
    font-style: italic;
  }
}
