.clearfix::after {
	display: block;
	clear: both;
	content: '';
}

.tutor-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

// @todo: need to replace on other tutor plugins like certificate builder & elementor addons
.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.tutor-visibility {
	&-visible {
		visibility: visible;
	}
	
	&-hidden {
		visibility: hidden;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tutor-flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tutor-ws-nowrap {
	white-space: nowrap;
}

.tutor-line-clamp-1 {
	@include tutorLineClamp(1);
}
.tutor-line-clamp-2 {
	@include tutorLineClamp(2);
}
.tutor-line-clamp-3 {
	@include tutorLineClamp(3);
}

// responsive image
.tutor-img-responsive {
	max-width: 100%;
	height: auto;
}

// font sizes
.tutor-fs {
	&-1,
	&-2,
	&-3,
	&-4,
	&-5,
	&-6,
	&-7,
	&-8,
	&-9 {
		line-height: 1.6;
	}
}

.tutor-break-word {
	word-break: break-word;
}

.tutor-break-all {
	word-break: break-all;
}

// 
.tutor-user-select-none {
	user-select: none;
}

// ul
.tutor {
	&-ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}