// Learning Area Footer Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-learning-footer {
  @include tutor-flex(row, center, space-between);
  background-color: $tutor-surface-base;
  padding-block: $tutor-spacing-6;
  position: sticky;
  bottom: 0;

  @include tutor-breakpoint-down(sm) {
    position: fixed;
    padding-block: $tutor-spacing-5;
    width: 100%;

    a.tutor-btn {
      @include tutor-button-size(x-small);
    }

    button.tutor-btn {
      @include tutor-button-size(medium);
      gap: $tutor-spacing-4;
    }
  }
}
