// Learning Area Header Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-learning-header {
  background-color: $tutor-surface-base;
  padding: $tutor-spacing-4;
  position: fixed;
  top: 0;
  z-index: $tutor-z-header;
  width: 100%;

  @include tutor-breakpoint-up(md) {
    .tutor-has-admin-bar & {
      top: 32px;
    }
  }

  @include tutor-breakpoint-between(md, sm) {
    .tutor-has-admin-bar & {
      top: 46px;
    }
  }

  @include tutor-breakpoint-down(md) {
    position: sticky;
  }

  &-inner {
    @include tutor-flex(row, center);

    @include tutor-breakpoint-up(sm) {
      background-color: $tutor-surface-l1;
      border-radius: $tutor-radius-md;
      overflow: hidden;
    }
  }

  &-content {
    @include tutor-flex(row, center);
    gap: $tutor-spacing-5;
    width: 100%;

    @include tutor-breakpoint-down(sm) {
      width: calc(100dvw - 44px - #{$tutor-spacing-6}); // 100dvw + toggle button width + padding
    }
  }

  &-back {
    @include tutor-button-reset();
    @include tutor-flex-center();
    flex-shrink: 0;
    height: 48px;
    width: 48px;

    @include tutor-breakpoint-up(sm) {
      border-inline-end: 1px solid $tutor-border-idle;
    }

    @include tutor-breakpoint-down(sm) {
      height: 40px;
      width: 40px;
    }
  }

  &-title {
    @include tutor-typography(h5, semibold, primary, heading);
    @include tutor-text-truncate();

    @include tutor-breakpoint-down(sm) {
      @include tutor-typography(medium, semibold);
    }
  }

  &-toggle-mobile {
    @include tutor-button-reset();
    @include tutor-flex-center();
    flex-shrink: 0;
    margin-inline-start: auto;
    height: 44px;
    width: 44px;

    @include tutor-breakpoint-up(lg) {
      display: none;
    }

    @include tutor-breakpoint-down(sm) {
      height: 40px;
      width: 40px;
    }
  }
}
