// Learning Area Sidebar Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-learning-sidebar {
  @include tutor-flex(column);
  gap: $tutor-spacing-6;
  padding: $tutor-spacing-4;
  position: fixed;
  height: calc(100vh - 62px);
  top: 62px;
  width: 320px;
  inset-inline-start: 0;
  overflow: hidden;
  @include tutor-transition((opacity, transform));

  .tutor-has-admin-bar & {
    height: calc(100vh - 92px);
    top: 92px;
  }

  .is-fullscreen & {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }

  @include tutor-breakpoint-down(lg) {
    inset-inline-start: auto;
    inset-inline-end: 0px;
    gap: $tutor-spacing-4;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $tutor-surface-base;
    z-index: $tutor-z-header;
    transform: translateX(100%);
    @include tutor-transition(transform, 0.3s);

    .tutor-has-admin-bar & {
      top: 46px;
      height: calc(100vh - 46px);
    }

    &.is-open {
      transform: translateX(0);
    }
  }

  .tutor-learning-sidebar-curriculum {
    background-color: $tutor-surface-l1;
    border-radius: $tutor-radius-lg;

    @include tutor-breakpoint-up(lg) {
      max-height: calc(100vh - 344px);

      .tutor-has-admin-bar & {
        max-height: calc(100vh - 376px);
      }
    }

    .tutor-learning-progress {
      @include tutor-flex(column);
      gap: $tutor-spacing-4;
      padding: $tutor-spacing-6 $tutor-spacing-7;

      &-content {
        @include tutor-flex(row, center, space-between);
      }

      &-text {
        @include tutor-typography(medium, medium, secondary);

        span {
          color: $tutor-text-primary;
        }
      }

      &-reset {
        @include tutor-button-reset();
        color: $tutor-icon-secondary;
      }
    }

    .tutor-learning-nav {
      @include tutor-flex(column);
      gap: $tutor-spacing-1;
      padding: $tutor-spacing-6 $tutor-spacing-4;

      @include tutor-breakpoint-up(lg) {
        max-height: calc(100% - 84px);
        overflow-y: auto;
      }

      &-topic {
        @include tutor-flex(column);
        gap: $tutor-spacing-1;

        .tutor-learning-nav-header {
          @include tutor-flex(row, center);
          gap: $tutor-spacing-4;
          padding-block: $tutor-spacing-4;
          padding-inline-start: $tutor-spacing-5;
          padding-inline-end: $tutor-spacing-3;
          cursor: pointer;

          &-progress {
            padding: $tutor-spacing-1;

            &-inner {
              height: 16px;
              width: 16px;
              border: 1px solid $tutor-border-hover;
              border-radius: 100%;
              background-color: $tutor-actions-gray-empty;
            }
          }

          &-title {
            @include tutor-typography(small, medium, subdued);
          }

          &-arrow {
            @include tutor-flex-center();
            margin-inline-start: auto;
            color: $tutor-icon-secondary;
            @include tutor-transition(transform);

            &.is-expanded {
              transform: rotate(180deg);
            }
          }
        }

        &.active {
          .tutor-learning-nav-header-title {
            color: $tutor-text-primary;
          }
        }
      }

      .tutor-learning-nav-body {
        @include tutor-flex(column);
        gap: $tutor-spacing-1;
        padding-inline-start: 30px;
        position: relative;

        &::before {
          content: '';
          height: calc(100% - 20px);
          width: 1.5px;
          position: absolute;
          top: 0;
          left: 21px;
          background-color: $tutor-surface-l1-hover;
        }
      }

      .tutor-learning-nav-item {
        position: relative;

        a {
          @include tutor-button-reset();
          @include tutor-typography(small, medium, subdued);
          @include tutor-flex(row, center);
          gap: $tutor-spacing-4;
          padding: $tutor-spacing-4 $tutor-spacing-5;
          min-height: 40px;

          svg {
            color: $tutor-icon-subdued;
          }
        }

        &.active {
          a {
            color: $tutor-text-primary;
          }

          &::before {
            content: '';
            height: 30px;
            width: 2px;
            background-color: $tutor-actions-brand-primary;
            position: absolute;
            top: 5px;
            left: -9px;
          }
        }
      }
    }
  }

  .tutor-learning-sidebar-pages {
    background-color: $tutor-surface-l1;
    border-radius: $tutor-radius-lg;
    padding: $tutor-spacing-4;
    height: 100%;
    position: relative;

    .tutor-learning-pages {
      @include tutor-flex(column);
      gap: $tutor-spacing-1;

      &-item {
        @include tutor-button-reset();
        @include tutor-typography(small);
        @include tutor-flex(row, center);
        gap: $tutor-spacing-5;
        padding: $tutor-spacing-4 $tutor-spacing-5;
        border-radius: $tutor-radius-md;
        @include tutor-transition(background-color);

        &:hover {
          background-color: $tutor-tab-sidebar-l2-hover;
        }

        &.active {
          background-color: $tutor-tab-sidebar-l2-active;
          color: $tutor-text-brand;
        }
      }
    }
  }
}
