// Learning Area Sidebar Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

// @TODO: The manual height change of curriculum section needs to implement.

.tutor-learning-sidebar {
  @include tutor-flex(column);
  gap: $tutor-spacing-6;
  padding: $tutor-spacing-4;
  position: absolute;
  height: 100%;
  width: 320px;
  top: 0;
  inset-inline-start: 0;
  overflow: hidden;
  transition:
    opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;

  .is-fullscreen & {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }

  // @TODO: Need to adjust later
  @include tutor-breakpoint-down(lg) {
    position: fixed;
    inset-inline-start: auto;
    inset-inline-end: 0;
    height: 100vh;
    width: 320px;
    background-color: $tutor-surface-l1;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    &.is-open {
      transform: translateX(0);
    }
  }

  &-curriculum {
    background-color: $tutor-surface-l1;
    border-radius: $tutor-radius-lg;
  }

  &-pages {
    background-color: $tutor-surface-l1;
    border-radius: $tutor-radius-lg;
    padding: $tutor-spacing-4;
    height: 100%;
    position: relative;
  }

  .tutor-learning-progress {
    @include tutor-flex(column);
    gap: $tutor-spacing-4;
    padding: $tutor-spacing-6 $tutor-spacing-7;

    &-content {
      @include tutor-flex(row, center, space-between);
    }

    &-text {
      @include tutor-typography(medium, medium, secondary);

      span {
        color: $tutor-text-primary;
      }
    }

    &-reset {
      @include tutor-button-reset();
      color: $tutor-icon-secondary;
    }
  }

}
