@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;
@use './mixins' as *;

[data-tutor-ui="kids"] {

	.tutor-stat-card,
	.tutor-progress-card,
	.tutor-upcoming-lesson-card,
	.tutor-wishlist-grid .tutor-course-card {
		@include kids-card-border;

		&:hover {
			border-color: $tutor-border-brand-tertiary;
		}
	}

	// wishList
	.tutor-dashboard-courses-wrapper {
		>div {
			border-radius: $tutor-radius-5xl;
		}
	}

	// quiz attempts
	.tutor-quiz-attempts-list {
		.tutor-quiz-attempts-item-wrapper.tutor-quiz-previous-attempts {
			@include kids-card-border($tutor-border-brand-tertiary);
			margin-bottom: $tutor-spacing-5;
		}
	}
}