@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;
@use './mixins' as *;

[data-tutor-ui='kids'] {
  .tutor-card {
    @include tutor-kids-shadow;
  }

  .tutor-badge {
    border-radius: $tutor-radius-2xl;
  }

  .tutor-stat-card,
  .tutor-progress-card,
	.tutor-discussion-card,
  .tutor-upcoming-lesson-card,
  .tutor-wishlist-grid .tutor-course-card,
  .tutor-review-card,
  .tutor-dashboard-home-chart,
  .tutor-dashboard-home-card {
    @include tutor-kids-shadow;
  }

  // home
  .tutor-student-dashboard-courses {
    .tutor-card.tutor-progress-card:not(:first-child) {
      margin-top: $tutor-spacing-4;
    }
  }

  // wishList
  .tutor-dashboard-courses-wrapper {
    .tutor-dashboard-courses,
    .tutor-wishlist-grid {
      gap: $tutor-spacing-6 $tutor-spacing-5;
    }
  }

	// quiz attempts
	.tutor-quiz-attempts-list {
		.tutor-quiz-attempts-item-wrapper.tutor-quiz-previous-attempts {
			@include tutor-kids-shadow($tutor-border-brand-tertiary);
			margin-bottom: $tutor-spacing-5;
		}
	}

	// user account/profile
	.tutor-user-profile {

		.tutor-profile-card,
		.tutor-statistic-card {
			@include tutor-kids-shadow;
		}

    .tutor-profile-card-header {
      border-radius: $tutor-radius-5xl;
    }
  }

  .tutor-account-billing-wrapper {
    border-radius: $tutor-radius-5xl;
  }

  .tutor-review-card {
    .tutor-review-form {
      border-radius: $tutor-radius-6xl;
    }
  }

  // discussions
  .tutor-discussion-card-wrapper {
    gap: $tutor-spacing-6 $tutor-spacing-4;

    @include tutor-breakpoint-down(sm) {
      padding: $tutor-spacing-4;
    }

    .tutor-card {
      box-shadow: none;
      background-color: $tutor-surface-l1-hover;
      border: 1px solid $tutor-border-idle;
    }
  }

  .tutor-discussion-single {
    @include tutor-kids-shadow(false);
	}

	.tutor-my-courses-card-wrapper {
		gap: $tutor-spacing-6;

		.tutor-my-courses-card {
			@include tutor-kids-shadow(true, $tutor-border-idle, $tutor-radius-3xl);
		}
  }

  // calendar
  .tutor-calendar {
    @include tutor-kids-shadow(false, $tutor-border-idle, $tutor-radius-6xl);

    .tutor-calendar-grid {
      border-radius: $tutor-radius-5xl;

      .tutor-calendar-day {
        &:first-of-type {
          border-top-left-radius: $tutor-radius-5xl;
        }

        &:nth-last-of-type(7) {
          border-bottom-left-radius: $tutor-radius-5xl;
        }
      }
    }
  }
}
