@use '@Core/scss/tokens' as *;

@mixin kids-card-border($border-color: $tutor-border-idle) {
  border-width: 2px 2px 5px 2px;
  border-style: solid;
  border-color: $border-color;
  border-radius: $tutor-radius-5xl;
}
