.tutor-all-addons-list {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .addons-header {
        position: absolute;
        width: calc(100% + 20px);
        right: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 13px 30px;

        h3.addons-heading {
            color: $text-primary;
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            margin: 0;
        }

        .tutor-tabbed-nav ul {
            width: 250px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li a {
                color: $text-subsued;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 26px;
            }

            li.active a {
                color: $brand-wordpress;

                span {
                    color: $text-subsued;
                }
            }
        }
    }

    .tutor-addons-filter {
        display: flex;
        justify-content: flex-end;
        margin-top: 35px;
        margin-right: 50px;
    }
}
