table.tutor-ui-table.table-instructors .instructor-action {
    min-width: 70px;
    text-align: center;
}

table.tutor-ui-table.table-instructors .td-action-btns .toggle-row,
table.tutor-ui-table.my-quiz-attempts .td-action-btns .toggle-row,
table.tutor-ui-table.table-instructors .toggle-row {
    display: none;
}