// Common Styles
.tutor-backend-settings-page {
  @extend .text-body;
  color: $text-subsued;

  .tutor-option-header,
  .tutor-option-form {
    display: grid;
    grid-gap: 42px;
    grid-auto-flow: column;

    @include breakpoint-min(desktop) {
      grid-template-columns: 1fr 4fr 1fr;
    }
    @include breakpoint-min(1600) {
      grid-template-columns: 1fr 825px 1fr;
    }
  }
  .tutor-form-control {
    font-family: inherit;
  }

  .search-field {
    position: relative;
    input[type="search" i]::-webkit-search-cancel-button {
      cursor: pointer;
    }
  }
}

// .tutor-option-header .search-field,
// .tutor-option-nav-pages {
// 	max-width: 825px;
// }
// .tutor-option-header {
// 	grid-template-columns: 1fr 2fr 1fr;
// }

// .tutor-option-form {
// 	grid-template-columns: 1fr 5fr;
// }

.tutor-option-header {
  align-items: center;
  min-height: 60px;
  background: $bg-white;
  > div {
    &:nth-child(3) {
      justify-self: flex-end;
    }
  }
  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $text-primary;
  }
  .tutor-input-group {
    .tutor-form-control {
      border: 1px solid #bababa;
      border-radius: 6px;
      height: 40px;
    }
    .tutor-input-group-icon {
      height: 40px;
      line-height: 40px;
    }
  }
  .save-button {
    .tutor-btn {
      padding: 7px 24.3px;
    }
  }
}

.tutor-option-body {
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

.tutor-option-nav-item h4,
.tutor-option-single-item h4 {
  @extend .text-regular-body;
  color: $text-subsued;
}

.tutor-option-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  h2 {
    @extend .text-medium-h5;
    color: $text-primary;
  }
  a {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    color: #a3a3a3;
    text-decoration: none;
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
      font-size: 17px;
    }
  }
}

.tutor-option-single-item {
  margin-bottom: 20px;
  h4 {
    margin-bottom: 12px;
  }
  .item-wrapper {
    background: $bg-white;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 26px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // custom styles
  &.email-settings {
    @include breakpoint-min(desktop-lg) {
      .tutor-option-field-label {
        padding-right: 53px;
      }
    }
    [name="email-settings-textarea"] {
      min-height: 130px;
    }
  }

  &.item-variation-table {
    .item-wrapper {
      padding: 12px 16px;
    }

    .tutor-option-field-row {
      padding-left: 4px;
      padding-right: 4px;
      &:not(:first-child) {
        padding-top: 10px;
      }
      &:not(:last-child) {
        padding-bottom: 10px;
      }
      &:first-child {
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          inset: -12px -16px -1px -16px;
          z-index: -1;
          background: #eff1f7;
          border-radius: 6px 6px 0 0;
          opacity: 0.8;
          border: 1px solid #cdcfd5;
        }
      }
    }

    .tutor-option-field-input {
      display: flex;
      align-items: center;
    }

    &.table-col-3 .tutor-option-field-row {
      grid-template-columns: 0.05fr 1fr 1fr;
    }
  }

  // Tab -> #status
  &.item-variation-grid {
    @include breakpoint-min(tablet) {
      .item-grid {
        @include masonryGrid(2, 24px, 10px);
      }
    }
    .item-wrapper {
      padding: 2px 15px;
      border-color: #e3e5eb;
    }
    .tutor-option-field-row {
      padding-top: 8px;
      padding-bottom: 8px;
      border-color: #cdcfd5;
      > div:nth-child(2) {
        font-weight: 600;
      }
      [class^="tutor-text"] {
        &.success {
          color: $text-success;
        }
      }
    }
  }

  &.item-variation-dragndrop {
    .item-wrapper {
      background: #eff1f7;
      border: 1px solid #cdcfd5;
      padding: 28px;
      padding-bottom: 25px;
    }
    .drag-drop-zone {
      @include getDashedBorder(2px, 18px, $black-20);
      background-color: $bg-white;
      border-radius: 6px;
      text-align: center;
      color: $text-primary;
      padding: 25px 30px 38px;

      &.dragover {
        box-shadow: inset 0 0 0 2px $black-20;
        transition: 100ms linear;

        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          background: linear-gradient(-45deg, #23a6d5, #ee7752, #23d5ab);
          background-size: 400% 400%;
          opacity: 0.05;
          animation: gradient 10s linear infinite;
          animation-direction: alternate-reverse;
        }
      }

      &.file-attached .file-info {
        display: block;
        margin-top: 15px;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      .icon {
        color: #1973aa;
        font-size: 77px;
      }
      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
      }

      .subtitle {
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
        margin-top: 8px;
        > span {
          color: #757c8e;
        }
      }
      label.tutor-btn.tutor-is-sm {
        display: inline-flex;
        margin-top: 8px;
        cursor: pointer;
        background: #e9edfb;
        color: #3e64de;
        border-color: #e9edfb;

        &:hover,
        &:focus {
          background: darken($color: #e9edfb, $amount: 2);
          box-shadow: 0 0 0 3px lighten($color: #e9edfb, $amount: 3);
          border-color: lighten($color: #3e64de, $amount: 36);
        }
      }

      input[type="file"]#drag-drop-input {
        appearance: none;
        -webkit-appearance: none;
        display: none;
      }
    }
  }
} // end of .tutor-option-single-item

.item-wrapper > .tutor-option-field-row {
  &:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
}

.tutor-option-field-row {
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  // grid-template-columns: 2fr 1.1fr;
  grid-auto-flow: column;
  grid-gap: 30px;
  .tutor-option-field-input {
    // min-width: 200px;

    &.d-flex {
      margin-top: 0px;
    }
  }
  &:not(.d-block) {
    .tutor-option-field-input {
      text-align: right;
      justify-self: flex-end;
    }
  }

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &.d-block {
    .tutor-option-field-input.d-flex {
      margin-top: 20px;
      &.logo-upload {
        margin-top: 12px;
      }
    }
    .tutor-option-field-input {
      margin-top: 20px;
    }
  }
  &.has-bg {
    position: relative;
    z-index: 1;
    border: none;
    border-top: 1px solid #f9f9f9;
    &:before {
      content: "";
      --width: 50px;
      position: absolute;
      width: calc(100% + var(--width));
      height: calc(100% + 2px);
      background: rgba(243, 243, 243, 0.5);
      left: calc(var(--width) / -2);
      top: -2px;
      z-index: -1;
      border-top: 1px solid #f9f9f9;
    }
  }
  &.double-input {
    align-items: flex-start;
    .tutor-option-field-input {
      label {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
          margin-right: 10px;
        }
        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
      .tutor-form-control {
        margin-right: 0;
      }
      .revenue-percentage {
        position: relative;
        padding-right: 24px;
        .tutor-form-control {
          min-width: 70px;
          max-width: 70px;
        }
        &:before {
          content: "";
          position: absolute;
          width: 24px;
          height: 1px;
          right: 0;
          background: #dcdbdc;
        }
        &:first-child:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 54px;
          right: 0;
          top: 20px;
          background: #dcdbdc;
        }
      }
    }
  }

  &[class*="col-"] {
    .tutor-option-field-label {
      align-self: start;
    }
    .tutor-option-field-input {
      justify-self: unset;
    }
  }

  &.col-1x1 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.col-1x2 {
    grid-template-columns: 1fr 2fr;
  }

  &.col-1x145 {
    grid-template-columns: 1fr 1.45fr;
  }

  &.row-variation-code {
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: unset;
    .tutor-option-field-input.textarea-code {
      justify-self: unset;
      grid-column: 1/-1;
      position: relative;
      textarea.tutor-form-control {
        min-height: 157px;
        color: #28408e;
      }
      textarea.tutor-form-control {
        background-color: inherit;
        border-color: #bababa;
        &:focus {
          border-color: $brand-wordpress;
        }
      }
      .code-copy-btn {
        font-size: 13px;
        line-height: 1.23;
        font-weight: 600;
        background: transparent;
        border: 1px solid $brand-wordpress;
        color: $brand-wordpress;
        padding: 5px 7px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        > i {
          margin-right: 3px;
          font-size: 16px;
        }
        &:hover,
        &:focus {
          background: $brand-wordpress;
          color: $text-white;
        }
        &:focus {
          box-shadow: 0 0 0 3px var(--tutor-primary-lighter);
        }
      }
    }
  } // end of of .row-variation-code
} // end of ofof .tutor-option-field-row

.tutor-option-field-label {
  label,
  .label {
    @extend .text-medium-body;
    color: $text-primary;
    display: block;
  }
  em {
    background: #dcdbdc;
    mix-blend-mode: multiply;
    border-radius: 3px;
    color: #161616;
    padding: 0px 3px;
    font-style: normal;
  }
  .desc {
    @extend .text-regular-small;
    margin-top: 5px;
  }
  &.has-tooltip {
    display: flex;
    align-items: center;
  }
}

.tutor-option-field-input {
  &.d-flex {
    text-align: left;
    .tutor-form-check:not(:last-child) {
      margin-right: 30px;
    }
  }
  &.d-flex,
  &.d-block {
    margin-top: 20px;
  }
  &.d-flex {
    input.tutor-form-control {
      min-width: 90px;
      // margin-right: 15px;
    }
    &.justify-content-end [class^="tutor-form-"]:first-child {
      margin-right: 15px;
    }
  }

  .double-input {
    label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        margin-right: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    .tutor-form-control {
      margin-right: 0;
    }
    .revenue-percentage {
      position: relative;
      padding-right: 24px;
      .tutor-form-control {
        min-width: 70px;
        max-width: 70px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 1px;
        right: 0;
        background: #dcdbdc;
      }
      &:first-child:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 54px;
        right: 0;
        top: 20px;
        background: #dcdbdc;
      }
    }
  }

  .logo-upload input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
  }

  // .logo-upload (delete icon)
  .logo-upload {
    margin-top: 12px;
    background: $bg-white;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 20px;
    align-items: center;
    span.delete-btn {
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      @include svg-delete-icon;
      background-color: $design-danger;
      background-repeat: no-repeat;
      background-position: 50%;
      cursor: pointer;
      top: -12px;
      right: -12px;
      &:hover {
        background-color: darken($color: $design-danger, $amount: 6);
      }
    }

    .logo-preview {
      background: #eff1f7;
      border: 2px solid #eff1f7;
      border-radius: 3px;
      position: relative;
      margin-right: 38px;
      width: 268px;
      height: 98px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 10px 25px;
      }
    }

    .logo-upload-wrap {
      color: #161616;
      @include getTypography(15px, 400, 160%);
      p {
        margin-bottom: 12px;
      }
    }
  }

  .instructor-list {
    > .vertical,
    .horizontal {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 20px;
      &:not(:first-child) {
        margin-top: 36px;
      }
    }
    .fields-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 30px;
    }
  }
  .public-profile {
    --imgWidth: 168px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--imgWidth), 1fr));
    grid-gap: 30px;
    justify-items: flex-start;
    // .icon-wrapper img {
    // 	max-width: var(--imgWidth);
    // }
  }

  .instructor-list,
  .public-profile {
    .icon-wrapper img {
      border-radius: 6px;
    }
  }
  .public-profile {
    .icon-wrapper img {
      max-width: 100%;
    }
  }

  .layout-label {
    @include getTypography(15px, 400, 160%);
    color: $text-primary;
  }
} // end of .tutor-option-field-input

// Input field variations
.tutor-option-field-input {
  .type-check {
    &.d-flex {
      .tutor-form-check {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
    &.d-block {
      .tutor-form-check {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
      &.has-desc .tutor-form-check {
        align-items: flex-start;
        .desc {
          margin-top: 5px;
        }
      }
    }
  }
  .d-flex.input-select {
    > [class^="tutor-form-"]:not(:last-child) {
      margin-right: 15px;
    }
  }
  .type-toggle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 25px;
    padding: 8px 0;
    @include breakpoint-min(1400) {
      grid-template-columns: repeat(3, 1fr);
    }
    > .toggle-item {
      border: 1px solid #bababa;
      border-radius: 6px;
      padding: 16px 9px;
      text-align: left;
      display: flex;
      align-items: center;
      .tutor-form-toggle-control {
        margin-right: 8px;
        margin-left: 0;
      }
      .tooltip-wrap.tooltip-icon {
        margin-left: 5px;
      }
    }
  }

  &.has-btn-after {
    align-items: center;
    .tutor-btn {
      margin-left: 17px;
    }
    .delete-btn {
      width: 18px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: 15px;
      cursor: pointer;
      font-size: 26px;
      color: grey;
    }
  }
} // end of .tutor-option-field-input (Input field variations)

.tutor-option-nav-page.gradebook {
  .tutor-option-single-item {
    margin-bottom: 10px;
  }
}

// Tab -> #certificate
.tutor-option-nav-page {
  .create-certificate-steps {
    .item-wrapper {
      background-image: url(../images/certificate-step-bg.jpg);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: cover;
    }

    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.42;
      color: #161616;
      margin-bottom: 24px;
    }
    ul {
      counter-reset: listItem;
      li {
        list-style: none;
        display: block;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 13px;
        &:before {
          counter-increment: listItem;
          content: counter(listItem) ".";
          margin-right: 12px;
        }
      }
    }
    .create-certificate-btn {
      margin-top: 28px;
    }
    .item-wrapper {
      padding: 42px 52px 54px 52px;
    }
  } // end of.create-certificate-steps

  .all-certificate {
    .tutor-option-field-row {
      grid-template-columns: 98px 1fr auto;
      grid-gap: 20px;
    }
    .certificate-thumb {
      display: inline-flex;
      justify-self: center;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        @include svg-eye-icon;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(22, 22, 22, 0.5);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        border-radius: 3px;
        opacity: 0;
        transition: 0.2s linear;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }

  .no-certificate {
    .certificate-thumb {
      text-align: center;
      p {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 24px;
      }
    }
    .item-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .certificate-template {
    .tutor-option-field-row {
      border-bottom: none;
    }
    .radio-thumbnail {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-gap: 18px 16px;
      label {
        margin: unset;
        display: inline-flex;
        cursor: pointer;
      }
    }
    .radio-thumbnail input[type="radio"]:checked ~ .icon-wrapper img {
      box-shadow: 0 0 0 1px $brand-wordpress;
    }
  }

  .certificate-settings {
    .tutor-option-field-label .desc {
      @extend .text-regular-small;
    }

    .signature-upload-wrap {
      text-align: left;
      padding-top: 7px;
      padding-bottom: 13px;
    }
    .signature-upload {
      display: flex;
      align-items: center;
      text-align: left;
    }
    .signature-preview {
      border: 2px solid #e8e8e8;
      border-radius: 3px;
      width: 200px;
      height: 60px;
      display: flex;
      justify-content: center;
      padding: 2px 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }

    .signature-info {
      margin-left: 23px;
    }

    // .signature-upload (delete icon)
    .signature-upload {
      span.delete-btn {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        @include svg-delete-icon;
        background-color: $design-danger;
        background-repeat: no-repeat;
        background-position: 50%;
        cursor: pointer;
        top: -12px;
        right: -12px;
        &:hover {
          background-color: darken($color: $design-danger, $amount: 6);
        }
      }

      .signature-preview {
        background: #f3f3f3;
        position: relative;
      }
    }

    .tutor-btn {
      margin-top: 24px;
      // padding: 6px 17px 6px 43px;
      input[type="file"] {
        appearance: none;
        -webkit-appearance: none;
        display: none;
      }
    }
  } // end of .certificate-settings
} // .tutor-option-nav-page.certificate

// Tab -> #import-export
.tutor-option-nav-page.import-export {
  .popup-opener {
    margin-left: 14px;
    .popup-menu {
      $right: 16px;
      text-align: left;
      right: -$right;
      &:before {
        right: $right + 4;
      }
    }
    li {
      @extend .text-medium-body;
    }
  }
}

// Tab -> #tutor-pages
.tutor-option-nav-page.tutor-pages {
  .all-pages {
    .tutor-option-field-row {
      --padding: 13px;
      &:not(:last-child) {
        padding-bottom: var(--padding);
        border-color: #cdcfd5;
      }
      &:not(:first-child) {
        padding-top: var(--padding);

        .tutor-option-field-label:last-child {
          color: $text-primary;
        }
      }
    }
  }

  .tutor-option-field-label {
    color: $text-subsued;
    > p {
      display: inline-flex;
      align-items: center;
    }
    .icon-link {
      text-decoration: none;
      font-size: 16px;
      color: $black-30;
      font-size: 24px;
      margin-left: 2px;
    }
    .icon-check {
      font-size: 16px;
      background: $design-success;
      color: $text-white;
      border-radius: 50%;
      margin-right: 2px;
    }
  }

  .btn-wrap.regenerate-pages {
    padding-top: 16px;
    margin-bottom: 18px;
  }
} // end of .tutor-option-nav-page.tutor-pages

.loading-spinner {
  position: absolute;
  inset: 0;
  background: #eff1f6;
  border-radius: 3px;
  z-index: 10;

  @include spinner(#1973aa, #eee);
}
.loading-spinner::before {
  width: 50px;
  height: 50px;
  top: 30%;
}
.loading-spinner.hide {
  display: none;
}
