:root {
	--tutor-primary: #{$primary};
	--tutor-primary-hover: #{$primary-hover};
	--tutor-primary-dark: #{$primary-dark};

	--tutor-danger: #{$danger};
	--tutor-danger-hover: #{$danger-hover};
	--tutor-danger-dark: #{$danger-dark};

	--tutor-success: #{$success};
	--tutor-success-hover: #{$success-hover};
	--tutor-success-dark: #{$success-dark};

	--tutor-warning: #{$warning};
	--tutor-warning-hover: #{$warning-hover};
	--tutor-warning-dark: #{$warning-dark};

	--tutor-white: #{$white};
	--tutor-black: #{$black};

	--tutor-border-color: #{$border};
	--tutor-border-color-alt: #{$border-alt};

	--tutor-text-primary: #{$black-main};
	--tutor-text-title: #{$black-70};
	--tutor-text-subtitle: #{$text-subtitle};
	--tutor-text-hints: #{$text-muted};

	--tutor-disabled-bg: #{$disabled-bg};
	--tutor-disabled-color: #{$disabled-color};

	--tutor-bg-dark-notification: #{$bg-dark-notification};
	--tutor-bg-dark: #{$bg-dark};
	--tutor-bg-grey: #{$bg-grey};
	--tutor-bg-grey-light: #{rgba($bg-grey, 0.3)};
	--tutor-bg-dark-grey: #{$bg-dark-grey};
	--tutor-bg-black: #{$bg-black};

	// Backend Dashboard
	--tutor-brand-wordpress: #{$brand-wordpress};
	--tutor-brand-wordpress-hover: #{$brand-wordpress-hover};

	// Common Colors
	--tutor-color-white: #{$color-white};
	--tutor-color-brand: #{$color-brand};
	--tutor-color-success: #{$color-success};
	--tutor-color-warning: #{$color-warning};
	--tutor-color-error: #{$color-error};

	// Text Colors
	--tutor-text-primary: #{$black-main};
	--tutor-text-title: #{$black-70};
	--tutor-text-subsued: #{$black-60};
	--tutor-text-hints: #{$text-muted};
	--tutor-text-white: #{$text-white};
	--tutor-text-brand: #{$text-brand};
	--tutor-text-success: #{$text-success};
	--tutor-text-warning: #{$text-warning};
	--tutor-text-error: #{$text-error};

	// Design Colors
	--tutor-design-dark: #{$design-dark};
	--tutor-design-grey: #{$design-grey};
	--tutor-design-white: #{$design-white};
	--tutor-design-brand: #{$design-brand};
	--tutor-design-success: #{$design-success};
	--tutor-design-warning: #{$design-warning};
	--tutor-design-danger: #{$design-danger};
	--tutor-design-error: #{$design-error};

	// Strokes
	--tutor-stroke-light-10: #{$stroke-light-10};
	--tutor-stroke-light-20: #{$stroke-light-20};
	--tutor-stroke-light-30: #{$stroke-light-30};
	--tutor-stroke-gray: #{$stroke-gray};
	--tutor-stroke-blue: #{$stroke-blue};
	--tutor-stroke-danger: #{$stroke-danger};
	--tutor-stroke-success: #{$stroke-success};

	// Backgrounds
	--tutor-bg-brand: #{$bg-brand};
	--tutor-bg-white: #{$bg-white};
	--tutor-bg-gray-10: #{$bg-gray-10};
	--tutor-bg-gray-20: #{$bg-gray-20};
	--tutor-bg-dark-10: #{$bg-dark-10};
	--tutor-bg-dark-20: #{$bg-dark-20};
	--tutor-bg-dark-30: #{$bg-dark-30};

	// Shadows
	--tutor-shadow-1: #{$shadow-1};
	--tutor-shadow-3: #{$shadow-3};

	// Color palettes (Reference)
	--tutor-primary-main: #{$primary-main};
	--tutor-primary-100: #{$primary-100};
	--tutor-primary-90: #{$primary-90};
	--tutor-primary-80: #{$primary-80};
	--tutor-primary-70: #{$primary-70};
	--tutor-primary-60: #{$primary-60};
	--tutor-primary-50: #{$primary-50};
	--tutor-primary-40: #{$primary-40};
	--tutor-primary-30: #{$primary-30};

	// Black
	--tutor-black-main: #{$black-main};
	--tutor-black-100: #{$black-100};
	--tutor-black-90: #{$black-90};
	--tutor-black-80: #{$black-80};
	--tutor-black-70: #{$black-70};
	--tutor-black-60: #{$black-60};
	--tutor-black-50: #{$black-50};
	--tutor-black-40: #{$black-40};
	--tutor-black-30: #{$black-30};
	--tutor-black-20: #{$black-20};
	--tutor-black-10: #{$black-10};
	--tutor-black-08: #{$black-08};
	--tutor-black-05: #{$black-05};
	--tutor-black-03: #{$black-03};
}
