
:root {
	--tutor-primary: #{$primary};
	--tutor-primary-hover: #{$primary-hover};
	--tutor-primary-dark: #{$primary-dark};
	--tutor-primary-lighter: #{$primary-lighter};
  
	--tutor-danger: #{$danger};
	--tutor-danger-hover: #{$danger-hover};
	--tutor-danger-dark: #{$danger-dark};
  
	--tutor-success: #{$success};
	--tutor-success-hover: #{$success-hover};
	--tutor-success-dark: #{$success-dark};
  
	--tutor-warning: #{$warning};
	--tutor-warning-hover: #{$warning-hover};
	--tutor-warning-dark: #{$warning-dark};
  
	--tutor-white: #{$white};
	--tutor-black: #{$black};
  
	--tutor-border-color: #{$border};
	--tutor-border-color-alt: #{$border-alt};
  
	--tutor-text-primary: #{$text-primary};
	--tutor-text-title: #{$text-title};
	--tutor-text-subtitle: #{$text-subtitle};
	--tutor-text-hints: #{$text-hints};
  
  
	--tutor-disabled-bg: #{$disabled-bg};
	--tutor-disabled-color: #{$disabled-color};
  
	--tutor-bg-dark-notification: #{$bg-dark-notification};
	--tutor-bg-dark: #{$bg-dark};
	--tutor-bg-grey: #{$bg-grey};
	--tutor-bg-grey-light: #{rgba($bg-grey, .30)};
	--tutor-bg-dark-grey: #{$bg-dark-grey};
	--tutor-bg-black: #{$bg-black};
  
}
