.clearfix::after {
	display: block;
	clear: both;
	content: '';
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.align-baseline {
	vertical-align: baseline;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

.align-text-bottom {
	vertical-align: text-bottom;
}

.align-text-top {
	vertical-align: text-top;
}

.float-start {
	float: left;
}

.float-end {
	float: right;
}

.float-none {
	float: none;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.overflow-scroll {
	overflow: scroll;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.d-block {
	display: block;
}

.d-grid {
	display: grid;
}

.d-table {
	display: table;
}

.d-table-row {
	display: table-row;
}

.d-table-cell {
	display: table-cell;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.d-none {
	display: none;
}

.shadow-none {
	box-shadow: none;
}

.position-static {
	position: static;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-sticky {
	position: -webkit-sticky;
	position: sticky;
}

.top-0 {
	top: 0;
}

.top-50 {
	top: 50%;
}

.top-100 {
	top: 100%;
}

.bottom-0 {
	bottom: 0;
}

.bottom-50 {
	bottom: 50%;
}

.bottom-100 {
	bottom: 100%;
}

.start-0 {
	left: 0;
}

.start-50 {
	left: 50%;
}

.start-100 {
	left: 100%;
}

.end-0 {
	right: 0;
}

.end-50 {
	right: 50%;
}

.end-100 {
	right: 100%;
}

.translate-middle {
	transform: translate(-50%, -50%);
}

.translate-middle-x {
	transform: translateX(-50%);
}

.translate-middle-y {
	transform: translateY(-50%);
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-grow-0 {
	flex-grow: 0;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-shrink-1 {
	flex-shrink: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.order-first {
	order: -1;
}

.order-0 {
	order: 0;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.order-4 {
	order: 4;
}

.order-5 {
	order: 5;
}

.order-last {
	order: 6;
}

.user-select-all {
	-webkit-user-select: all;
	-moz-user-select: all;
	user-select: all;
}

.user-select-auto {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	user-select: auto;
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pe-none {
	pointer-events: none;
}

.pe-auto {
	pointer-events: auto;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
