// @ scss vars

$z-index-modal: 99999;


// common

$white: #ffffff;

// background

$bg-grey: #F3F3F3;
$bg-dark-grey: #656565;
$bg-dark: #262626;
$bg-dark-notification: #353535;

// disabled
$disabled-bg: #E8E8E8;
$disabled-color: var(--tutor-color-muted);

// border color
$border: #BABABA;
$border-alt: #DCDBDC;