@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-comments-header {
	&-title {
		flex: 1;
        border-top: 1px solid $tutor-border-idle;
		border-bottom: 1px solid $tutor-border-idle;
		padding: $tutor-spacing-5 0;
	}
}

.tutor-comments-list {
	.tutor-comment {
		border-bottom: 1px solid $tutor-border-idle;
		padding-top: $tutor-spacing-6;
		padding-bottom: $tutor-spacing-6;
		margin-bottom: 0;

		&-reply {
			border-bottom: none;
            padding-bottom: 0;
            padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

