// Comment Tab Styles
// Borders for tutor comment list items
@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

// Add top and bottom borders to all tutor comment list items
.tutor-comments-list {
	.tutor-comment {
		// Add only bottom border to separate items (prevents double borders)
		border-bottom: 1px solid $tutor-border-idle;
		padding-top: $tutor-spacing-6;
		padding-bottom: $tutor-spacing-6;
		margin-bottom: 0;

		// Remove bottom border from reply comments
		&--reply {
			border-bottom: none;
            padding-bottom: 0;
            padding-top: 0;
		}

		// Remove bottom border from last item
		&:last-child {
			border-bottom: none;
		}
	}
}

