// Learning Area Course Info

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-course-info {
  .tutor-course-thumb {
    border-radius: $tutor-radius-lg;
    overflow: hidden;

    img {
      border-radius: $tutor-radius-lg;
      max-width: 100%;
    }
  }

  .tutor-course-intro {
    text-align: center;
    margin-top: $tutor-spacing-8;

    &-date {
      @include tutor-typography(tiny, regular, secondary);
      @include tutor-flex(row, center, center);
      gap: $tutor-spacing-3;
    }

    &-title {
      @include tutor-typography(h3, semibold, primary, heading);
      margin-top: $tutor-spacing-3;

      @include tutor-breakpoint-down(sm) {
        font-size: $tutor-font-size-h5;
        line-height: $tutor-line-height-h5;
      }
    }

    &-author {
      @include tutor-typography(medium, regular, secondary);
      margin-top: $tutor-spacing-4;

      @include tutor-breakpoint-down(sm) {
        font-size: $tutor-font-size-small;
        line-height: $tutor-line-height-small;
      }
    }
  }

  .tutor-course-description {
    @include tutor-flex(column);
    gap: $tutor-spacing-2;
    margin-top: $tutor-spacing-9;

    &-item {
      background-color: $tutor-surface-l1;
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-lg;
      padding: $tutor-spacing-5 $tutor-spacing-6;

      .tutor-course-description-header {
        @include tutor-flex(row, center, space-between);
        cursor: pointer;

        &-title {
          @include tutor-typography(medium, medium);

          @include tutor-breakpoint-down(sm) {
            font-size: $tutor-font-size-small;
            line-height: $tutor-font-size-small;
          }
        }

        &-icon {
          @include tutor-flex-center();

          svg {
            transition: transform 0.25s ease-in-out;

            @include tutor-breakpoint-down(sm) {
              height: 20px;
              width: 20px;
            }
          }

          &.is-expanded svg {
            transform: rotate(180deg);
          }
        }
      }

      .tutor-course-description-body {
        margin-top: $tutor-spacing-5;
      }
    }

    .tutor-course-description-list {
      @include tutor-grid(2, $tutor-spacing-6);

      @include tutor-breakpoint-down(sm) {
        grid-template-columns: 1fr;
      }

      &-item {
        @include tutor-flex(row);
        gap: $tutor-spacing-4;

        svg {
          flex-shrink: 0;
        }
      }

      &-content {
        @include tutor-typography(p3);
      }
    }
  }

  .tutor-course-info-table {
    table {
      min-width: auto;

      @include tutor-breakpoint-down(sm) {
        table-layout: fixed;
      }
    }

    tr {
      &:hover {
        background-color: $tutor-surface-l1;
      }

      td {
        @include tutor-typography(medium);
        padding: $tutor-spacing-5 $tutor-spacing-6;
        vertical-align: top;

        @include tutor-breakpoint-down(sm) {
          font-size: $tutor-font-size-small;
          line-height: $tutor-line-height-small;
          padding: $tutor-spacing-4;
        }

        &:first-of-type {
          font-weight: $tutor-font-weight-medium;

          @include tutor-breakpoint-down(sm) {
            width: 140px;
          }
        }

        ul {
          margin: 0;
          padding: 0;
          padding-inline-start: $tutor-spacing-6;

          li {
            list-style: disc;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
