// Learning Area Webinar Styles

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-learning-area-webinar {
	&-card {
		padding: $tutor-spacing-6;
		border-radius: $tutor-radius-lg;
	}

	&-month {
		@include tutor-typography('h3', 'semibold', 'primary', 'heading');
        @include tutor-breakpoint-down(sm) {
            @include tutor-typography('h4', 'semibold', 'primary', 'heading');
        }
	}

	&-header {
		@include tutor-flex(row, center, space-between, wrap);
		gap: $tutor-spacing-4;
        margin-bottom: $tutor-spacing-6;
        @include tutor-breakpoint-down(sm) {
            margin-bottom: $tutor-spacing-5;
        }
	}

	&-year {
		@include tutor-typography('h3', 'regular', 'primary', 'heading');
        @include tutor-breakpoint-down(sm) {
            @include tutor-typography('h4', 'regular', 'primary', 'heading');
        }
	}

	&-group-heading {
		@include tutor-typography('small', 'regular', 'secondary');
        margin-bottom: $tutor-spacing-3;
	}

	&-body {
        margin-top: $tutor-spacing-6;
		> .tutor-space-y-3 + .tutor-space-y-3 {
			margin-top: $tutor-spacing-5;
		}
	}

	.tutor-upcoming-lesson-card + .tutor-upcoming-lesson-card {
		margin-top: $tutor-spacing-4;
	}

	&-divider {
		height: 1px;
		width: calc(100% + #{$tutor-spacing-6 * 2});
		margin-left: -$tutor-spacing-6;
		margin-right: -$tutor-spacing-6;
		background-color: $tutor-border-idle;
        margin-top: $tutor-spacing-6;
	}
}
