.tutor-mobile-sidebar {
	display: none !important;
}

@include breakpoint-max(1200) {
	.tutor-desktop-sidebar {
		display: none;
	}

	.tutor-mobile-sidebar {
		display: block !important;
	}
}

.tutor-course-single-sidebar-wraper {
	flex: 0 0 400px;
	@include breakpoint-min(1200) {
		max-width: 400px;
	}
	background: #fff;
	border-color: $stroke-light-30;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-bottom: none;
	.tutor-empty-state-wrapper {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		.td-empty-state {
			transform: translateY(-50%);
		}
		img {
			width: 100px;
		}
	}
	.tutor-sidebar-tabs-wrap {
		.tutor-lessons-tab-area {
			display: flex;

			max-height: 60px;
			> div {
				width: 100%;
				text-align: center;
				padding: 13px 10px;
				cursor: pointer;
				position: relative;
				background: $bg-gray-10;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
				&:first-child,
				&:last-child {
					border-style: solid;
					border-color: $stroke-light-30;
				}
				&:first-child {
					border-bottom-left-radius: 0px;
					border-width: 0px 1px 1px 0px;
				}

				&:last-child {
					border-bottom-right-radius: 0px;
					border-width: 0px 0px 1px 1px;
				}
				span {
					&:not(:last-child) {
						margin-right: 8px;
					}
				}
			}
			> div.active {
				// border-width: 0px !important;
				border-color: transparent;
				background: $color-white;
				span:first-child {
					color: var(--tutor-primary-color);
				}
			}
			.tutor-lessons-tab {
			}
			.tutor-quiz-tab {
			}
		}

		.tutor-sidebar-tabs-content {
			// height: calc(100vh - 156px);
			position: relative;
			> div {
				display: none;
				&.active {
					display: block;
				}
			}
			#sideabr-qna-tab-content {
				overflow: auto;
			}
			#tutor-lesson-sidebar-tab-content {
				overflow: auto;
				height: 100%;
				.tutor-topics-in-single-lesson {
					> div {
						padding: 14px 16px;
					}
					.tutor-topics-title {
						border-bottom: 1px solid #ddd;
						.tutor-topics-title-left {
							.tutor-topics-title-inner {
								display: flex;
								cursor: pointer;
								// max-width: 330px;
								max-width: 290px;
								> div:first-child {
									min-width: 75px;
								}
							}
							.tutor-topics-title-info {
								i {
									margin-top: 1px;
									margin-left: 5px;
								}
							}
						}
						.tutor-topics-title-right {
							padding-left: 5px;
						}
					}
					.tutor-lessons-under-topic {
						[class^='tutor-icon-'],
						[class*=' tutor-icon-'] {
							font-size: 20px;
						}
						.tutor-single-lesson-items {
							&.active {
								.tutor-single-lesson-items-left {
									[class^='tutor-icon-'],
									[class*=' tutor-icon-'] {
										color: $design-brand !important;
									}
								}
							}
						}
						span.text-regular-caption {
							line-height: 140%;
						}
						border-bottom: 1px solid #ddd;
						.tutor-single-lesson-items {
							.tutor-single-lesson-items-left {
								> *:not(:last-child) {
									margin-right: 5px;
								}
								max-width: 270px;
								margin-top: 4px;
								.tutor-icon-zoom,
								span:first-child {
									display: flex;
									color: $black-40;
									font-size: 18px;
								}
								.lesson_title {
									// max-width: 220px;
									margin-top: -2px;
									&:first-letter {
										text-transform: capitalize;
									}
								}
							}
							.tutor-single-lesson-items-right {
								> *:not(:last-child) {
									margin-right: 10px;
								}
								margin-top: 3px;
							}
						}
					}
				}
			} // end of #tutor-lesson-sidebar-tab-content
		} // end of .tutor-sidebar-tabs-content
	}
}

.tutor-single-lesson-items {
	input.tutor-form-check-input[type='checkbox'].tutor-form-check-circle {
		background-size: 80%;
	}
}
