.tutor-mobile-sidebar {
	display: none !important;
}

@include breakpoint-max(1200) {
	.tutor-desktop-sidebar {
		display: none;
	}

	.tutor-mobile-sidebar {
		display: block !important;
	}
}

.tutor-course-single-sidebar-wraper {
	flex: 0 0 400px;
	@include breakpoint-min(1200) {
		max-width: 400px;
	}
	background: #fff;
	border-color: var(--tutor-border-color);
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-bottom: none;
	.tutor-empty-state-wrapper {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		.td-empty-state {
			transform: translateY(-50%);
		}
		img {
			width: 100px;
		}
	}
	.tutor-sidebar-tabs-wrap {
		.tutor-lessons-tab-area {
			display: flex;
			max-height: 60px;
			> div {
				width: 100%;
				text-align: center;
				padding: 14.5px 10px;
				position: relative;
				background: var(--tutor-color-gray-10);
				border-radius: 0px 0px 10px 10px;
				cursor: pointer;
				
				&:first-child,
				&:last-child {
					border-style: solid;
					border-color: var(--tutor-border-color);
				}

				&:first-child {
					border-bottom-left-radius: 0px;
					border-width: 0px 1px 1px 0px;
				}

				&:last-child {
					border-bottom-right-radius: 0px;
					border-width: 0px 0px 1px 1px;
				}
			}

			> div.active {
				border-color: transparent;
				background: var(--tutor-color-white);
				span:first-child {
					color: var(--tutor-color-primary);
				}
			}
		}

		.tutor-sidebar-tabs-content {
			position: relative;
			> div {
				display: none;
				&.active {
					display: block;
				}
			}
			#sidebar-qna-tab-content {
				overflow: auto;
			}
			#tutor-lesson-sidebar-tab-content {
				overflow: auto;
				height: 100%;
				.tutor-topics-in-single-lesson {
					> div {
						padding: 14px 16px;
					}
					.tutor-topics-title {
						border-bottom: 1px solid #ddd;
						.tutor-topics-title-left {
							.tutor-topics-title-inner {
								cursor: pointer;
							}

							.tutor-topics-title-info {
								position: relative;
								display: inline-flex;
								margin-left: 8px;
								top: 2px;
								cursor: pointer;

								&-icon {
									font-size: 14px;
								}
							}
						}

						.tutor-topics-title-right {
							padding-left: 8px;
							align-self: center;
						}
					}
					.tutor-lessons-under-topic {
						[class^='tutor-icon-'],
						[class*=' tutor-icon-'] {
							font-size: 20px;
						}
						.tutor-single-lesson-items {
							&.active {
								.tutor-single-lesson-items-left {
									[class^='tutor-icon-'],
									[class*=' tutor-icon-'] {
										color: var(--tutor-color-primary) !important;
									}
								}
							}
						}
						span.text-regular-caption {
							line-height: 140%;
						}
						border-bottom: 1px solid #ddd;
						.tutor-single-lesson-items {
							.tutor-single-lesson-items-left {
								max-width: 270px;
								margin-top: 4px;
								.tutor-icon-zoom,
								span:first-child {
									display: flex;
									color: var(--tutor-color-muted);
									font-size: 18px;
								}
								.lesson_title {
									margin-top: -2px;
									&:first-letter {
										text-transform: capitalize;
									}
								}
							}
							.tutor-single-lesson-items-right {
								gap: 8px;
								margin-top: 3px;
							}
						}
					}
				}
			} // end of #tutor-lesson-sidebar-tab-content
		} // end of .tutor-sidebar-tabs-content
	}
}

// rtl
@at-root body.rtl {
	.tutor-course-single-sidebar-wraper {
		.tutor-sidebar-tabs-wrap {
			.tutor-lessons-tab-area {
				> div {
					&:first-child {
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 0px;
						border-width: 0px 0px 1px 1px;
					}
	
					&:last-child {
						border-bottom-right-radius: 10px;
						border-bottom-left-radius: 0px;
						border-width: 0px 1px 1px 0px;
					}
				}
			}
		}
	}
}