.tutor-course-single-sidebar {
	&-title {
		display: flex;
		align-items: center;
		padding: 8px 16px;
    	height: 60px;
		background-color: #fff;
		border-bottom: 1px solid $border-color-secondary;
	}

	&-wrapper {
		flex: 0 0 400px;
		width: 400px;
		background-color: $color-gray-10;
		border-right: 1px solid $border-color-secondary;

		@include breakpoint-max(desktop-lg) {
			flex: 0 0 100%;
			width: 100%;
			position: absolute;
			right: -100%;
			top: 0px;
			opacity: 0;
			z-index: -1;
		}

		// topics & content
		.tutor-accordion-item-header {
			font-size: 16px;
			font-weight: 500;
			color: var(--tutor-body-color);
			background-color: $color-gray-10;
			border-bottom: 1px solid $border-color-secondary;
			padding: 12px 44px 12px 16px;
			border-radius: 0;
			user-select: none;

			&:after {
				color: var(--tutor-color-muted);
				font-size: 14px;
			}

			&:hover,
			&.is-active {
				color: var(--tutor-color-primary);
			}

			&.is-active {
				&:after {
					color: var(--tutor-color-primary);
				}
			}

			.tutor-course-topic-title {
				position: relative;
				&-info {
					position: relative;
					display: inline-flex;
					top: 2px;
					cursor: pointer;
	
					&-icon {
						font-size: 14px;
						color: rgba(var(--tutor-body-color-rgb), 0.5);
					}
				}
			}

			.tutor-course-topic-summary {
				font-size: 12px;
				color: var(--tutor-color-muted);
			}
		}

		.tutor-accordion-item-body {
			background-color: #FFFFFF;
			padding-top: 8px;
			padding-bottom: 8px;
		}


		// bak
		.tutor-course-topic {
			&-item {
				position: relative;
	
				a {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					width: 100%;
					text-decoration: none;
					padding: 10px 16px;
					background-color: #fff;
				}
	
				&-icon {
					font-size: 18px;
					color: rgba(var(--tutor-body-color-rgb), 0.3);
					transition: 300ms ease-in;
				}
	
				&-title {
					color: var(--tutor-color-secondary);
					transition: 300ms ease-in;
				}
	
				&:hover,
				&.is-active {
					.tutor-course-topic-item-icon,
					.tutor-course-topic-item-title {
						color: var(--tutor-color-primary);
					}
				}
	
				&.is-active {
					a {
						background-color: $color-gray-5;
					}
				}
			}
		}
	}
}

body.rtl {
	.tutor-course-single-sidebar-wrapper {
		.tutor-accordion-item-header {
			padding: 12px 16px 12px 44px;
		}
	}
}