@import './players';

.site-content {
	padding-bottom: 0px !important;
}

@import './sidebar';

.tutor-course-single-content-wrapper {
	a {
		text-decoration: none;
	}

	display: flex;
	position: relative;
	width: 100%;

	ul, ol, li > ul, li > ol {
		padding-left: 1em;
	}

	a {
		&,
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	// sidebar
	&.tutor-course-single-sidebar {
		&-hidden {
			.tutor-course-single-sidebar-wrapper {
				display: none;
			}
			.tutor-course-topics-sidebar-toggler {
				.tutor-icon-left {
					transform: rotate(180deg);
				}
			}
		}

		&-open {
			@include breakpoint-max(desktop-lg) {
				.tutor-course-single-sidebar-wrapper {
					background-color: #fff;
					height: 100%;
					right: 0 !important;
					overflow-y: auto;
					opacity: 1;
					z-index: 1026;

					.tutor-course-single-sidebar-title {
						position: sticky;
						top: 0;
						z-index: 1027;
					}
				}
			}
		}
	}

	input.tutor-form-check-input.tutor-form-check-circle {
		width: 20px;
		height: 20px;
		margin-top: 1px;
	}
	
	#tutor-single-entry-content {
		position: relative;
		width: 100%;
		@include breakpoint-min(desktop-lg){
			min-height: 100vh;
		}
		display: flex;
		flex-direction: column;

		.tutor-course-topic-single {
			&-header {
				display: flex;
				flex-shrink: 0;
				align-items: center;
				padding: 8px 16px;
				min-height: 60px;
				position: relative;
				// z-index: 1025;

				background: var(--tutor-color-primary);
				color: var(--tutor-color-white);

				.tutor-topbar-mark-btn {
					color: var(--tutor-color-white);
					background-color: transparent;
					border-color: var(--tutor-color-white);
					&:hover {
						color: var(--tutor-color-primary);
						background-color: var(--tutor-color-white);
						border-color: var(--tutor-color-white);
					}
				}

				.tutor-iconic-btn {
					color: #fff;
					&:hover {
						background-color: #fff;
						color: var(--tutor-color-primary);
					}
					&-secondary {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}

				&-icon {
					font-size: 24px;
				}
			}

			&-footer {
				display: flex;
				flex-shrink: 0;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 16px;
				border-top: 1px solid rgba(var(--tutor-color-primary-rgb), 0.15);
				background-color: rgba(var(--tutor-color-primary-rgb), 0.1);
			}
		}

		/* tutor-single-page-top-bar */
		.tutor-mobile-footer-navigation {
			height: 90px;
			border: 1px solid $color-gray-10;
			box-shadow: 0px 0px 16px rgba(176, 182, 209, 0.180862);
			background: var(--tutor-color-white);
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			@include breakpoint-min(576) {
				display: none;
			}
			.tutor-footer-content {
				flex-basis: 70%;
			}
			.tutor-quiz-skip-button {
				flex-basis: 50%;
				button {
					padding: 0;
					border: 0;
				}
			}
			.tutor-footer-complete-btn {
				button {
					padding: 8px 20px;
				}
			}
		}
		@import './quiz';
	}
}

@import './spotlight';
@import './course-assignment.scss';
