@import './players';

.lesson-template-default {
	.site-content {
		padding-bottom: 0px;
	}
}
.site-content {
	padding-bottom: 0px;
}

.tutor-mobile-top-navigation {
	.tutor-mobile-top-nav {
		grid-template-columns: 30px auto;
		.tutor-top-nav-icon {
			font-size: 30px;
		}
		.tutor-top-nav-title {
			text-align: center;
		}
	}
}

@import './sidebar';

.tutor-course-single-content-wraper {
	display: flex;
	position: relative;
	width: 100%;
	align-items: flex-start;

	// reset
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		&,
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
	
	input.tutor-form-check-input.tutor-form-check-circle {
		width: 20px;
		height: 20px;
		margin-top: 1px;
	}
	.tutor-quiz-btn-grp {
		button.skip-quiz-btn {
			border: none;
		}
	}
	#tutor-single-entry-content {
		position: relative;
		flex: 100%;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		border-left: 1px solid $stroke-light-30;
		border-top: 1px solid $stroke-light-30;
		padding-bottom: 100px;
		.tutor-single-page-top-bar {
			background: var(--tutor-primary-color);
			position: relative;
			z-index: 1025;

			@include breakpoint-max(mobile) {
				display: none !important;
			}
			.tutor-lesson-sidebar-hide-bar,
			.tutor-topbar-content-title-wrap,
			.tutor-topbar-cross-icon {
				padding: 15px 12px;
				@include breakpoint-minmax(1200, 1350) {
					.tutor-topbar-title {
						white-space: nowrap;
						width: 180px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				@include breakpoint-minmax(576, 991) {
					.tutor-topbar-title {
						white-space: nowrap;
						width: 120px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			.tutor-topbar-sidebar-toggle {
				background: var(--tutor-primary-color);
				span[class^='tutor-icon'] {
					font-size: 20px;
				}
			}
			.tutor-topbar-content-title-wrap {
				margin-left: 12px;
				span[class^='tutor-icon'] {
					font-size: 24px;
				}
			}
			.tutor-topbar-cross-icon {
				cursor: pointer;
				z-index: 1;
				&:hover {
					background: var(--tutor-primary-hover-color);
				}
				span[class^='tutor-icon'] {
					font-size: 20px;
				}
			}
			.tutor-topbar-right-item {
				.tutor-topbar-assignment-details {
					@include breakpoint-minmax(576, 991) {
						.tutor-progress-content {
							display: none;
						}
					}

					.tutor-topbar-complete-btn {
						.tutor-topbar-mark-btn {
							&:hover {
								background-color: $color-white;
								span {
									color: $color-brand;
								}
								border-color: $design-white;
							}
							background-color: transparent;
							color: $design-white;
							border-color: $design-white;
						}
					}
				}
			}
		}
		/* tutor-single-page-top-bar */
		.tutor-mobile-footer-navigation {
			height: 90px;
			border: 1px solid $black-05;
			box-shadow: 0px 0px 16px rgba(176, 182, 209, 0.180862);
			background: $color-white;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			@include breakpoint-min(576) {
				display: none;
			}
			.tutor-footer-content {
				flex-basis: 70%;
				.tutor-footer-progress-bar {
					// border-bottom: 4px solid $primary-main;
					// border-radius: 2px;
				}
			}
			.tutor-quiz-skip-button {
				flex-basis: 50%;
				button {
					padding: 0;
					border: 0;
				}
			}
			.tutor-footer-complete-btn {
				button {
					padding: 8px 20px;
				}
			}
		}
		@import './quiz';
	}
}

@include breakpoint-max(600) {
	.tutor-topbar-content-title-wrap {
		align-items: flex-start;
	}
}

@import './spotlight';
@import './course-assignment.scss';
