#tutor-start-quiz {
	display: inline-block;
}

.tutor-quiz-dotted-box {
	border: 2px dashed var(--tutor-border-color);
	border-radius: 5px;
	span[class^='tutor-icon-'],
	span[class*=' tutor-icon-'] {
		display: none;
	}
}

.quiz-image {
	img {
		max-width: 100%;
		height: auto;
	}
}

.tutor-dropzone {
	&.tutor-drop-over {
		border: 2px dashed var(--tutor-color-primary) !important;
	}
	input {
		display: none;
	}
}

.question-type-image_answering {
	> div {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}
	.tutor-image-answer {
		max-width: 500px;
		img {
			width: 100%;
			border-radius: 6px;
		}
	}
}

.tutor-quiz-wrapper {
	padding: 80px 24px;

	@include breakpoint-max(mobile) {
		padding: 40px 16px;
	}

	.tutor-start-quiz-wrapper {
		max-width: 560px;
		margin: 0 auto;
		border: 1px solid #c0c3cb;
		border-radius: 10px;
		@include breakpoint-min(desktop-lg){
			padding: 65px 95px;
		}
		.tutor-start-quiz-title {
			border-bottom: 1px solid var(--tutor-border-color);
		}
		.tutor-quiz-info-area {
			.tutor-quiz-info {
				&:not(:first-child) {
					padding-top: 15px;
				}
			}
		}
	}

	.tutor-quiz-wrap {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;

		.tutor-table-quiz-attempts.tutor-table, .my-quiz-attempts.tutor-table {
			tr {
				td {
					@include breakpoint-max(mobile) {
						white-space: nowrap;
					}
				}
			}
		}
		.quiz-meta-info {
			display: flex;
			justify-content: space-between;

			@include breakpoint-max(mobile) {
				flex-direction: column;
				gap: 16px;
			}

			.quiz-meta-info-left {
				display: flex;
				gap: 35px;

				@include breakpoint-max(tablet) {
					gap: 16px;
				}
			}
			.quiz-meta-info-right {
				.quiz-time-remaining {
					#tutor-quiz-time-update {
						min-width: 50px;
						text-align: right;
					}
					.quiz-time-remaining-progress-circle,
					.quiz-time-remaining-expired-circle {
						width: 40px;
						height: 25px;
						margin-top: 1px;
					}
					.quiz-time-remaining-progress-circle {
						svg {
							width: 50px;
							height: 50px;
							margin-top: -3px;
							circle {
								transform: translate(17px, 15px);
								&:first-child {
									stroke: var(--tutor-color-primary);
									stroke-width: 13px;
									stroke-dasharray: 44;
									stroke-dashoffset: 0;
								}
								&:last-child {
									fill: none;
									stroke: var(--tutor-color-gray);
									stroke-dasharray: 44;
									stroke-dashoffset: calc(44 - ((44 * var(--quizProgress)) / 100));
									stroke-width: 13px;
								}
							}
						}
					}
					.quiz-time-remaining-expired-circle {
						svg {
							width: 50px;
							height: 50px;
							margin-top: -3px;
							circle {
								-webkit-transform: translate(17px, 15px);
								transform: translate(17px, 15px);
								stroke: #f44337;
								stroke-dashoffset: 0;
								stroke-dasharray: 75;
								stroke-width: 2px;
								fill: #ffffff;
							}
						}
					}
				}
			}
		}
		.tutor-quiz-border-box {
			cursor: move;
			padding: 10px 18px;
			border: 1px solid var(--tutor-border-color);
			border-radius: 6px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.tutor-icon-hamburger-menu {
				cursor: move;
			}

			input {
				display: none;
			}
		}
		.tutor-quiz-dotted-box {
			padding: 8px 12px 8px 12px;
			border: 2px dashed #ddd;
			border-radius: 5px;
			font-size: 1rem;
			line-height: 1.5;
			color: #9CA0AC;
		}
		.quiz-flash-message {
			.tutor-quiz-warning-box {
				&.time-remaining-warning {
					border: 1px solid rgba(var(--tutor-color-warning-rgb), 0.30);
				}
				padding: 9px;
				border-radius: 6px;
				@include breakpoint-max(600) {
					flex-wrap: wrap;
				}
				.flash-info {
					span:first-child {
						font-size: 27px;
					}
				}
				.flash-action {
					button {
						background: $color-warning;
						color: var(--tutor-color-white);
						border: unset;
						@include breakpoint-max(600) {
							margin-top: 10px;
						}
					}
				}
				&.time-over {
					border: 1px solid $color-danger;
				}
			}
		}

		img {
			user-select: none;
			pointer-events: none;
		}

		.matching-quiz-question-desc {
			display: grid !important;
			gap: 20px 20px;
			grid-template-columns: repeat(auto-fit, minmax(163px, 1fr));
		}

		.tutor-quiz-question-item {
			position: relative;
			display: block;
			cursor: pointer;

			&-has-media {
				.tutor-form-check-input {
					position: absolute;
					right: 8px;
					top: 8px;
					z-index: 1;
					&:checked + .tutor-card {
						border-color: var(--tutor-color-primary);
						box-shadow: 0 0 0 1px var(--tutor-color-primary);
					}
				}
			}
		}

		.quiz-question-ans-choice-area {
			.quiz-short-ans-image {
				max-width: 444px;
				width: 100%;
				height: auto;
			}

			.quiz-question-ans-choice {
				label {
					min-width: 240px;
					border: 1px solid var(--tutor-border-color);
					border-radius: 6px;
					padding: 9.5px 15px 9.5px 15px;
					display: inline-block;
					cursor: pointer;
					input {
						margin-right: 8px;
						margin-top: 1px;
					}
				}
				.tutor-quiz-correct-ans {
					span:first-child {
						font-size: 28px;
					}
				}
			}

			.fill-in-the-gap {
				.fill-blank {
					display: inline-block;
					border-bottom: 2px dashed var(--tutor-color-secondary);
					margin: 0px 0px 10px 0px;
					@include breakpoint-max(mobile) {
						margin: 0px 10px 5px 0px;
					}
				}

				input {
					border-radius: 5px;
    				background-color: var(--tutor-color-white);
					border: 1px solid var(--tutor-border-color);
					box-shadow: none;
					transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
					margin: 0px 0px 3px 0px;
					padding: 2px 5px;
				}
			}
		}

		#quiz-matching-ans-area {
			> div {
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
			.quiz-matching-ans {
				display: flex;
				max-width: 500px;
				align-items: center;
				flex-wrap: wrap;
				.tutor-quiz-ans-no {
					width: 230px;
				}
				.quiz-matching-ans-item {
					display: flex;
					width: 270px;
					align-items: center;
					@include breakpoint-max(mobile) {
						margin-top: 20px;
					}
					> span {
						margin: 0px 20px;
					}
					.tutor-quiz-dotted-box {
						width: 230px;
					}
				}
			}

			.tutor-matching-item{
				display: flex; 
				flex-direction:column;
				margin-right:10px;
				.tutor-matching-image{
					border-radius: 6px;
					overflow: hidden;
				}
			}
		}
		#quiz-ordering-ans-area {
			counter-reset: serial-number;
			> div:not(:last-child) {
				margin-bottom: 25px;
			}
			.quiz-ordering-ans-item {
				.tutor-quiz-border-box {
					width: 250px;
				}
			}
			.snum:before {
				counter-increment: serial-number;
				content: counter(serial-number);
			}
		}

		.quiz-image-ordering-ans {
			display: grid;
			grid-template-columns: 30px 315px;
			cursor: pointer;
			.quiz-image-ordering-ans-item {
				width: 315px;
				border: 1px solid #c0c3cb;
				border-radius: 6px;
				display: grid;
				grid-template-columns: 46px auto;
				.tutor-quiz-image-ordering-icon {
					background: #f4f6f9;
					width: 46px;
					border-radius: 6px 0px 0px 6px;
					span {
						font-size: 27px;
					}
				}
				.tutor-quiz-image-ordering-item {
					display: grid;
					grid-template-columns: 80px auto;
					grid-template-rows: auto;
					img {
						width: 80px;
						height: 80px;
						border-radius: 6px;
					}
					span {
						word-break: break-word;
					}
				}
			}
		}
		#quiz-image-matching-ans-area {
			.quiz-image-matching-ans {
				display: grid !important;
				gap: 20px 20px;
				grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
			}
			.quiz-image {
				width: 100%;
				height: 162px;
				border-radius: 6px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	.tutor-quiz-result-summary {
		display: flex;
		justify-content: space-between;
		padding-block: 20px;
		margin-block: 20px;
		border-top: 1px solid var(--tutor-border-color);
		border-bottom: 1px solid var(--tutor-border-color);

		@include breakpoint-max(mobile) {
			flex-direction: column;
			gap: 16px;
		}
	}
}

#tutor-quiz-time-expire-wrapper {
	margin-bottom: 40px;
	display: none;

	&.tutor-alert-show {
		display: flex !important;
	}

	.flash-info span:first-child {
		&.tutor-icon-cross-circle-outline-filled::before {
			color: #f44337;
		}
	}
}

.tutor-quiz-time-expired {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #f44337;
}
