// Type - Radio Thumbnail
.radio-thumbnail {
	.icon-wrapper {
		position: relative;
		display: inline-flex;
		&:before {
			content: '';
			position: absolute;
			right: -14px;
			top: -14px;
			height: 28px;
			width: 28px;
			border-radius: 50%;
			background-size: 14px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: 50%;
			transition: 0.3s;
		}
		&.icon-col {
			&:hover {
				background: #e9edfb;
			}
		}
	}
	input[type='radio'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		cursor: pointer;
		width: 97px;
		height: 46px;
		background: #dbdbdb;
		display: none;
		&:checked {
			~ .title {
				color: $brand-wordpress;
			}
			~ .icon-wrapper {
				img {
					box-shadow: 0 0 0 2px $brand-wordpress;
				}
				&:before {
					span {
						background-color: $brand-wordpress;
						border-color: $brand-wordpress;
					}
					background-color: $brand-wordpress;
					@include svg-check-icon;
				}
			}
		}
	}

	// Type - Radio Thumbnail with Title
	&.has-title {
		label {
			text-align: center;
			@include getTypography(15px, 400, 160%);
			.title {
				margin-top: 6px;
				display: block;
			}
		}
	}
}

.items-per-row-label {
	text-align: center;
	@include getTypography(15px, 400, 160%);
	input[type='radio'] {
		&:checked + .icon-col {
			background: #e9edfb;
			span {
				background-color: $brand-wordpress;
				border-color: $brand-wordpress;
			}
			&:before {
				background-color: $brand-wordpress;
				@include svg-check-icon;
			}
		}
	}
	.icon-col {
		width: 95.4px;
		height: 46px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
		cursor: pointer;
		border: 8px solid transparent;
		border-radius: 3px;
		background: $bg-white;
		transition: 0.2s linear;
		position: relative;
		span {
			width: 100%;
			height: 100%;
			text-indent: -9999px;
			background: #eff1f7;
			border: 1px solid #cdcfd5;
			border-radius: 2px;
			transition: 0.2s ease-in-out;
		}
		&:before {
			right: -16px;
			top: -16px;
			height: 16px;
			width: 16px;
			background-size: 8px;
		}
		&:focus:before {
			box-shadow: 0 0 0 6px var(--tutor-primary-lighter);
		}
	}
	&:nth-child(2) .icon-col {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10.24px;
	}
	&:nth-child(3) .icon-col {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 8.74px;
	}
	&:nth-child(4) .icon-col {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 8.49px;
	}
	&:not(:last-child) {
		margin-right: 30px;
	}
	.title {
		margin-top: 3px;
		display: inline-block;
	}
}
