/**
@package: Tutor LMS
@author: Themeum
 */
.tutor-admin {
	&-wrap {
		margin-left: -20px;
		// background-color: #E9EAED;

		// reset
		* {
			box-sizing: border-box;
		}

		a {
			&,
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: 0;
			}
		}
	}

	&-body {
		padding-left: 20px;
		padding-right: 20px;
	}

	&-container {
		max-width: 1160px;
		min-width: 760px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;

		&-sm {
			max-width: 760px;
			min-width: 480px;
		}
	}

	&-header {
		box-sizing: border-box;
		background: #ffffff;
		border-bottom: 1px solid #cdcfd5;
		padding: 12px 24px;

		&.is-sticky {
			position: sticky;
			top: 32px;
			z-index: 1024;

			// admin bar
			@media screen and (max-width: 782px) {
				top: 42px;
			}

			@media screen and (max-width: 600px) {
				top: 0;
			}
		}
	}
}

// overrides
.tutor-admin-wrap,
.tutor-admin-post-meta,
.tutor-admin-design-init {
	.tutor-form {
		&-control {
			outline: none !important;
			padding: 8px 16px !important;
			font-size: 16px !important;
			font-weight: 400 !important;
			line-height: 1.4 !important;
			height: auto !important;
			min-height: initial !important;
			border-radius: 6px !important;
			border: 1px solid var(--tutor-border-color) !important;

			&:focus {
				border-color: var(--tutor-color-primary) !important;
				box-shadow: unset !important;
				outline: none !important;
			}
		}

		// icon
		&-icon {
			&:not(.tutor-form-icon-reverse) ~ .tutor-form-control {
				padding-left: 40px !important;
			}

			&-reverse ~ .tutor-form-control {
				padding-right: 40px !important;
			}
		}
	}

	// select
	select.tutor-form-control,
	.tutor-form-select {
		padding-right: 36px !important;
	}
}

table.tutor-table.tutor-table-with-checkbox {
	.td-checkbox input[type='checkbox'] {
		margin: 0;
	}
}

// Hide empty text link from dashboard menu.
#adminmenu {
	& li a[href=tutor-setup] {
		display: none;
	}
}

/*----------------------------------
	Component containers
----------------------------------*/

body.tutor-backend-tutor_settings #wpbody-content {
	min-height: 100vh;
}

.ui-datepicker-buttonpane.ui-widget-content {
    padding-top: 6px;
	background: #ffffff;
	color: #222222;
	display: flex;
    gap: 10px;
	button[class^="ui-datepicker-"] {
		padding: 2px 6px;
		border-radius: 3px;
		display: flex;
	}
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	color: #222222;
	font-weight: bold;
	a {
		color: #222222;
	}
}

/* Interaction states
  ----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}

/* Interaction Cues
  ----------------------------------*/

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: #363636;
}

.tutor-option-nav-tabs li {
	position: relative;
	display: inline-block;
	margin-right: -1px;
	&:last-child:after {
		content: '';
	}
	a {
		display: block;
		font-weight: bold;
		text-decoration: none;
		background: #fff;
		padding: 5px 10px;
		border: 1px solid #dddddd;
		&:focus {
			box-shadow: none;
		}
	}
	.current a {
		color: #333333;
	}
}

/**
* Option Field
*/

.tutor-hide-option{
	display: none!important;
}

.tutor-option-no-bottom-border{
	border-bottom: 0!important;
	padding-bottom: 0!important;
}

.tutor-option-field-row {
	border-bottom: 1px solid #e4e4e4;
	padding: 20px 0;
	font-size: 14px;
	line-height: 1.3;

	&.tutor-d-flex {
		display: flex;
	}

	&.tutor-d-block {
		display: block;
	}
}

.tutor-option-field-row:last-child {
	border-bottom: none;
}

.tutor-option-field-row input[type='text'],
.tutor-option-field-row input[type='email'],
.tutor-option-field-row input[type='number'],
.tutor-option-field-row input[type='password'],
.tutor-option-field-row textarea {
	&:last-child {
		margin-right: 0;
	}
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: none;
	color: #333;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 12px;
	margin: 0 10px 0 0;
	width: 400px;
	min-height: 35px;
}

.tutor_lesson_modal_form .tutor-option-field-row input[type='text'],
.tutor_lesson_modal_form .tutor-option-field-row input[type='email'],
.tutor_lesson_modal_form .tutor-option-field-row input[type='number'],
.tutor_lesson_modal_form .tutor-option-field-row input[type='password'],
.tutor_lesson_modal_form .tutor-option-field-row textarea {
	width: 100%;
	display: block;
}

.tutor-option-field {
	display: block;
	margin: 0 0 0 200px;
	max-width: 800px;
}

.rtl .tutor-option-field {
	margin: 0 200px 0 0;
}

.tutor_lesson_modal_form .tutor-option-field {
	display: block;
	margin: 0;
	max-width: none;
}

.tutor-option-field-label {
	display: block;
	float: left;
	width: 200px;
}

.rtl .tutor-option-field-label {
	float: right;
}

.tutor_lesson_modal_form .tutor-option-field-label {
	display: block;
	float: none;
	width: 100%;
	margin-bottom: 15px;
}

.tutor-option-field-label label {
	display: block;
	font-weight: 600;
}

.tutor-option-field p.desc {
	font-style: italic;
	color: #666;
	font-size: 12px;
	line-height: 1.5;
}

.tutor-option-field-row h2 {
	color: #444;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}

.tutor-option-field-row .option-media-wrap {
	margin-bottom: 10px;
}

.tutor-option-field-row .option-media-wrap img {
	max-height: 100px;
	width: auto;
	padding: 5px;
	border: 1px solid #cccccc;
}

/**
  Group Field Option
   */

.tutor-option-group-field {
	display: inline-block;
	vertical-align: top;
}

.tutor-option-group-field input[type='text'],
.tutor-option-group-field input[type='email'],
.tutor-option-group-field input[type='number'],
.tutor-option-group-field input[type='password'],
.tutor-option-group-field textarea,
.tutor-option-group-field select {
	width: 100px;
	margin-right: 5px;
}

.option-type-radio-wrap {
	margin-top: 0;
}

/**
  * Course adding page
  * Course Builder
  */

p.course-empty-content {
	padding-left: 20px;
}

.ui-sortable-placeholder {
	visibility: visible;
	background-color: #dddd;
}

/**
  Instructor
   */

.tutor-required-fields {
	color: #f13a3a;
}

/**
  Meta Box Heading
   */

.tutor-status-context {
	padding: 5px 10px;
	margin: 5px 0;
	display: inline-block;
}

.tutor-status-pending-context,
.attempt_started {
	background-color: #eeeeee;
}

.tutor-status-approved-context,
.tutor-button.button-success,
.tutor-status-completed {
	background-color: var(--tutor-color-success);
	color: #ffffff;
	border-radius: 2px;
}

.tutor-status-blocked-context,
.attempt_timeout,
.tutor-button.button-danger {
	background-color: #ff0000;
	color: #ffffff;
	border-radius: 2px;
}

.tutor-status-approved-context,
.tutor-status-blocked-context {
	display: inline-block;
}

table.tutor_status_table td.help {
	width: 1em;
}

table.tutor_status_table td:first-child {
	width: 25%;
}

table.tutor_status_table h2 {
	font-size: 16px;
	margin: 0;
}

table.tutor_status_table td mark.yes,
table.tutor_status_table th mark.yes {
	color: var(--tutor-color-success);
	background-color: transparent;
}

.tutor-text-avatar {
	border-radius: 50%;
	width: 40px;
	min-width: 40px;
	height: 40px;
	text-align: center;
	display: block;
	line-height: 40px;
	color: #ffffff;
	font-size: 14px;
}

.tutor_original_question {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 5px;
	padding: 20px;
}

.tutor_original_question .question-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60px;
	flex: 0 0 60px;
}

.tutor_original_question .question-left img {
	max-width: 60px;
	height: auto;
	margin-right: 10px;
	border: 1px solid #eeee88;
	padding: 3px;
}

.question-right {
	width: 100%;
}

.tutor_admin_answers_list_wrap .tutor_original_question {
	margin-left: 50px;
}

// @todo: will be removed
.tutor-announcement {
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 10px;
}

.tutor-label-success {
	background-color: var(--tutor-color-success);
	color: #ffffff;
	padding: 3px 7px;
}

.tutor-addons .addon-regular-price {
	color: #cccccc;
	padding: 3px;
}

.tutor-addons .addon-current-price {
	color: var(--tutor-color-success);
	font-size: 18px;
	padding: 3px;
}

.tutor-addons-last-checked-time {
	color: #6f5757 !important;
}

.tutor-addons .wp-filter {
	margin: 10px 0 0;
}

a.addon-buynow-link {
	background: var(--tutor-color-primary);
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
}

/**
  Add-ons list
   */

.tutor-addons-list {
	background-color: #fff;
	min-height: 500px;
	padding: 20px;
}

.tutor-addons-list .plugin-icon {
	height: 120px !important;
	width: auto !important;
}

.tutor-addons-list .plugin-card .desc {
	margin-right: 0;
}

.tutor-addons-list .plugin-card .name {
	margin-right: 50px;
}

/* RTL Style for name and desc */

.tutor-lms-pro_page_tutor-addons.rtl .plugin-card .desc,
.tutor-lms-pro_page_tutor-addons.rtl .plugin-card .name {
	margin-right: 148px !important;
}

.tutor-lms-pro_page_tutor-addons.rtl .plugin-card .desc {
	margin-left: 0 !important;
}

.tutor-lms-pro_page_tutor-addons.rtl .plugin-card .name {
	margin-left: 53px !important;
}

.required-plugin-cards {
	background: #fff8e5;
	padding: 12px 20px;
}

.required-plugin-cards p {
	margin: 0;
}

/**
  Quiz-question
   */

.quiz-question-form-wrap {
	margin-top: 20px;
	margin-bottom: 20px;
}

.quiz-question-flex-wrap,
.tutor-flex-row {
	display: flex;
	flex-direction: row;
}

.tutor-flex-col {
	margin: 0 20px;
}

.tutor-flex-col:first-child {
	margin-left: 0;
}

.tutor-flex-col:last-child {
	margin-right: 0;
}

.tutor-add-question-wrap {
	margin: 20px 0;
	background-color: #f4f4f4;
	padding: 10px;
}

.question-actions-wrap {
	padding-right: 0 !important;
}

.question-actions-wrap a {
	display: inline-block;
}

.tutor-loading-icon-wrap.button {
	vertical-align: unset;
	border: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tutor-info-msg,
.tutor-success-msg,
.tutor-warning-msg,
.tutor-error-msg {
	margin: 10px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.tutor-info-msg {
	color: var(--tutor-color-primary);
	background-color: #bef;
	border: 1px solid var(--tutor-color-primary);
}

.tutor-success-msg {
	color: var(--tutor-color-success);
	background-color: #dff2bf;
	border: 1px solid var(--tutor-color-success);
}

.tutor-warning-msg {
	color: #9f6000;
	background-color: #feefb3;
	border: 1px solid #9f6000;
}

.tutor-error-msg {
	color: #d8000c;
	background-color: #fbdcdc;
	border: 1px solid #d8000c;
}

.quiz-modal-btn-cancel,
.quiz-modal-btn-back {
	color: #4b5981;
	border: 1px solid #d4dadb;
}

/*end notice*/

/* .tutor-quiz-builder-group */

.tutor-quiz-builder-group {
	margin-bottom: 25px;
}

.tutor-quiz-builder-group > p.warning {
	color: red;
	font-size: 12px;
}

.tutor-quiz-builder-group > p.help {
	color: #a4a4a4;
	font-size: 12px;
	margin-top: 7px;
}

.tutor-quiz-builder-group h4 {
	font-size: 14px;
	color: #393c40;
	font-weight: 600;
	margin: 0 0 15px;
}

.tutor-quiz-builder-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
}

.tutor-quiz-builder-col {
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.tutor-quiz-builder-col.auto-width {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.tutor-quiz-builder-group textarea,
.tutor-quiz-builder-group input[type='text'],
.tutor-quiz-builder-group input[type='email'],
.tutor-quiz-builder-group input[type='number'],
.tutor-quiz-builder-group input[type='password'] {
	line-height: 40px;
	padding: 5px 0;
	text-indent: 15px;
	background: #fff;
	display: inline-block;
	border: 1px solid #dedede;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 40px;
	margin: 0;
	width: 100%;
	color: #393c40;
	font-size: 14px;
}

.tutor-quiz-builder-group textarea:focus,
.tutor-quiz-builder-group input[type='text']:focus,
.tutor-quiz-builder-group input[type='email']:focus,
.tutor-quiz-builder-group input[type='number']:focus,
.tutor-quiz-builder-group input[type='password']:focus {
	border-color: var(--tutor-color-primary);
}

.tutor-quiz-builder-group textarea {
	height: 80px;
	resize: none;
	text-indent: 0;
	padding: 11px 15px;
	line-height: 22px;
}

.tutor-quiz-builder-group textarea[name='quiz_description'] {
	height: 150px;
}

.tutor-quiz-builder-group select {
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 42px !important;
	line-height: 1;
	padding: 0 24px 0 12px !important;
	margin: 0;
}

.question-type-pro {
	color: #fff;
	font-size: 9px;
	right: 11px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.quiz-builder-question {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	padding: 10px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	max-width: calc(100% - 52px);
}

.quiz-builder-question .question-sorting {
	margin-right: 10px;
	line-height: 22px;
}

.quiz-builder-question .question-sorting i {
	display: block;
	line-height: 24px;
}

.quiz-builder-question .question-edit-icon {
	line-height: 22px;
}

.quiz-builder-question .question-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	line-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
}

.quiz-builder-question .question-icon {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 155px;
	flex: 0 0 155px;
}

.quiz-builder-qustion-trash a {
	display: block;
	padding: 0 0 0 10px;
	font-size: 20px;
	color: rgba(57, 60, 64, 0.4);
	line-height: 44px;
}

.tutor-quiz-answer-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tutor-quiz-answer-trash-wrap a.answer-trash-btn {
	padding: 0 10px;
	display: inline-block;
	line-height: 44px;
}

span.tutor-quiz-answer-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tutor-quiz-answer-media .option-media-preview {
	margin-bottom: 20px;
}

.tutor-quiz-answer-media .option-media-preview img {
	max-width: 80px;
	height: auto;
}

.tutor-question-answer-image {
	margin-right: 10px;
}

.tutor-question-answer-image img {
	max-height: 25px;
	width: auto;
}

/**
  #End Quiz Modal
  */

.tutor-available-quizzes .added-quiz-item {
	background-color: #f5f5f5;
	padding: 10px;
	margin-bottom: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tutor-available-quizzes .added-quiz-item .quiz-name {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.tutor-quiz-delete-btn {
	color: #ff0000;
}

p.quiz-search-suggest-text {
	margin-top: 30px;
	font-style: italic;
	font-size: 12px;
}

span.result-pass {
	background-color: var(--tutor-color-success);
	color: #fff;
	padding: 3px 5px;
	border-radius: 2px;
}

span.result-fail {
	color: #ff0000;
}

span.result-review-required {
	background: #f5b30d;
	color: #fff;
	padding: 3px 5px;
	border-radius: 2px;
}

.tutor-emails-lists-wrap {
	background-color: #ffffff;
	padding: 20px;
}

.tutor-emails-lists-wrap .wp-list-table td {
	padding: 10px 20px;
}

.image-matching-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	margin-right: 10px;
}

.image-matching-item p {
	margin-bottom: 5px;
	margin-top: 0;
	color: #878a8f;
}

.image-matching-item img {
	max-width: 80px;
}

span.filled_dash_unser {
	font-weight: bold;
	text-decoration: underline;
	margin: 0 5px;
}

/**
  Uninstall
   */

.wrap.tutor-uninstall-wrap {
	background: #fff;
	padding: 20px;
}

.tutor-uninstall-btn-group {
	margin: 50px 0;
}

.lesson-modal-field.tutor-lesson-modal-title-wrap {
	width: 95%;
}

.tutor-lesson-modal-title-wrap input {
	width: 100%;
}

.tutor-lesson-modal-wrap .modal-footer {
	padding: 10px 20px;
	background-color: #fff;
	width: 100%;
	position: sticky;
	bottom: 0;
	position: -webkit-sticky;
}

.tutor-option-field .tutor-lesson-edit-feature-img {
	width: 100px;
	position: relative;
}

.tutor-option-field .tutor-lesson-edit-feature-img img {
	width: 100%;
	height: auto;
}

a:has(> span.tutor-get-pro-text ) {
	background-color: orange;
    font-weight: 600;
    color: #000 !important;

	&:hover{
		background-color: orange!important;
    	color: #000 !important;
	}
}

span.tutor-addons-text{
	color: orange;
}

.updating-icon:before {
	font-family: 'tutor';
	margin-right: 5px;
	content: '\e91d';
	-webkit-animation: spin 1s steps(8) infinite;
	animation: spin 1s steps(8) infinite;
	display: inline-block;
}

.tutor-notice-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 20px;
	margin-bottom: 10px;
}

/**
  Tutor Notice
   */

.tnotice {
	text-align: left;
	padding: 10px 0;
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	margin-bottom: 10px;
}

.tnotice:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tnotice__icon {
	position: absolute;
	top: 50%;
	left: 22px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 14px;
	height: 14px;
	padding: 7px;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 11px;
}

.tnotice__type {
	color: #3e3e3e;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}

.tnotice__message {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	color: #878787;
}

.tnotice__content {
	padding-left: 70px;
	padding-right: 60px;
}

.tnotice__close {
	position: absolute;
	right: 22px;
	top: 50%;
	width: 14px;
	cursor: pointer;
	height: 14px;
	fill: #878787;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.tnotice--success .tnotice__icon {
	background-color: #2bde3f;
}

.tnotice--success:before {
	background-color: #2bde3f;
}

.tnotice--blue .tnotice__icon {
	background-color: #1d72f3;
}

.tnotice--blue:before {
	background-color: #1d72f3;
}

.tnotice--danger .tnotice__icon {
	background-color: #f31e1c;
}

.tnotice--danger:before {
	background-color: #f31e1c;
}

/***************************
   * Quiz attempts table
   **************************/

.tutor-quiz-attempt-info-row {
	.attempt-view-bottom,
	.attempt-view-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.attempt-info-col {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			max-width: 30%;
		}
	}
	.attempt-view-top {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #dcdfe5;
	}
	.attempt-view-bottom {
		margin-bottom: 60px;
		.attempt-info-col {
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
		}
	}
	.attempt-user-details {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		.attempt-user-avatar {
			padding-right: 20px;
			img {
				display: block;
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
		}
		.attempt-info-content h4 {
			font-size: 18px;
		}
	}
	.attempt-info-content {
		span {
			&.result-pass,
			&.result-fail {
				background: #df3247;
				font-size: 14px;
				font-weight: 400;
				color: #fff;
				padding: 1px 4px;
				margin-right: 13px;
				border-radius: 2px;
			}
			&.result-pass {
				background: var(--tutor-color-success);
			}
		}
		h4,
		h5 {
			font-size: 14px;
			line-height: 25px;
			margin: 0;
			color: #7a7f85;
			font-weight: 400;
		}
		h4 {
			&,
			a {
				font-weight: 700;
				color: var(--tutor-body-color);
				margin-top: 7px;
			}
		}
	}
}

.attempt-review-notice-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.attempt-review-notice-wrap p {
	margin: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.attempt-review-notice-wrap p.attempt-review-notice i {
	font-size: 16px;
	color: #f5c813;
	margin-right: 9px;
}

.attempt-review-notice-wrap p.attempt-review-at > span {
	color: var(--tutor-color-primary);
	margin-right: 7px;
	font-size: 16px;
}

.attempt-review-notice-wrap p > strong {
	font-weight: 400;
	margin-right: 5px;
}

.quiz-attempt-answers-wrap {
	table {
		th {
			background: #fcfcfc;
			font-size: 12px;
			text-transform: inherit;
		}
		td {
			background-color: #fff;
		}
		th,
		td {
			padding: 17px 20px !important;
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			vertical-align: middle;
			text-align: left;
			p {
				margin: 0;
			}
		}

		.quiz-manual-review-action {
			border: 1px solid #d4dadb;
			color: #d4dadb;
			height: 30px;
			width: 30px;
			border-radius: 2px;
			font-size: 13px;
			display: inline-block;
			text-align: center;
			line-height: 30px;
			-webkit-transition: 300ms;
			transition: 300ms;
			text-decoration: none;

			&:first-child {
				&:hover {
					border: 1px solid var(--tutor-color-success);
					color: var(--tutor-color-success);
				}
			}

			&:last-child {
				&:hover {
					border: 1px solid #df3247;
					color: #df3247;
				}
			}

			&:not(:last-child) {
				margin-right: 17px;
			}
		}

		.quiz-incorrect-answer-text,
		.quiz-correct-answer-text {
			i {
				font-size: 12px;
				height: 20px;
				width: 20px;
				text-align: center;
				line-height: 20px;
				background: var(--tutor-color-success);
				color: #fff;
				display: inline-block;
				border-radius: 2px;
				margin-right: 6px;
			}
		}
		.quiz-incorrect-answer-text i {
			background: #df3247;
			font-size: 10px;
		}
	}
}

/**
  Upgrade Notice
   */

#tutor-update .dummy {
	display: none;
}

#tutor-update .tutor_plugin_update_notice {
	padding: 20px 0 !important;
}

#tutor-update .tutor_plugin_update_notice {
	font-weight: 400;
	background: #fff8e5 !important;
	border-left: 4px solid #ffb900;
	border-top: 1px solid #ffb900;
	padding: 9px 0 9px 12px !important;
	margin: 0 -12px 0 -16px !important;
}

#tutor-update .tutor_plugin_update_notice .version::before {
	content: '\f348';
	display: inline-block;
	font: 400 18px/1 dashicons;
	speak: none;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

.select2-dropdown.increasezindex {
	z-index: 9999999999999;
}

/*!
   * jQuery UI Datepicker 1.8.10
   * http://jqueryui.com
   *
   * Copyright 2012 jQuery Foundation and other contributors
   * Released under the MIT license.
   * http://jquery.org/license
   *
   * http://docs.jquery.com/UI/Datepicker#theming
   */

/** END Calender */

/**
  * report.css
  *Moved report.css from pro add to here
   */

h2.tutor-page-heading {
	background-color: #ffffff;
	padding: 30px !important;
	margin: 0 !important;
	border-bottom: 1px solid #ecedef;
}

.report-main-wrap h3 {
	font-weight: 300;
	font-size: 20px;
}

.tutor-icon-star-full,
.tutor-icon-star-line {
	color: #ffd700;
}

.date-range-input {
	position: relative;
	margin-right: 10px;
}

.date-range-input:last-child {
	margin-right: 0;
}

.date-range-input input {
	border: 1px solid #d7dadf;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 32px;
	margin: 0;
	padding-right: 30px;
}

.date-range-input i.tutor-icon-calendar {
	position: absolute;
	right: 10px;
	top: 13px;
}

.date-range-input button {
	background-color: #3057d5;
	color: #ffffff;
	border: none;
	line-height: 39px;
	padding: 0 15px;
}

/** END Report.css */

/**
  *END Alert CSS
   */

/**
  Tools Nav
   */

.tutor-nav-tab-wrapper {
	margin-bottom: 10px;
}

.nav-tab-item {
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: 0.5em;
	padding: 10px 14px;
	font-size: 14px;
	line-height: 1.33;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
	white-space: nowrap;
}

.nav-tab-item:first-child {
	margin-left: 0;
}

.nav-tab-item:focus,
.nav-tab-item:hover {
	background-color: #fff;
	color: #444;
}

.nav-tab-item-active,
.nav-tab-item:focus:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-tab-item-active {
	margin-bottom: -1px;
	color: #444;
}

.nav-tab-item-active,
.nav-tab-item-active:focus,
.nav-tab-item-active:focus:active,
.nav-tab-item-active:hover {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
}

/**
   * END Tools
   */

.tutor-quiz-feedback-option-option-title {
	margin-bottom: 10px !important;
}

.tutor-quiz-feedback-option-subtitle {
	margin: 0 !important;
	font-size: 12px;
	line-height: 1.67;
	color: #505469;
}

.tutor-quiz-feedback-option-subtitle a {
	font-weight: 500;
	color: inherit;
	text-decoration: underline !important;
}

/* Fixing course builder css overlap issue */

#tutor-instructors h2 {
	display: block;
}

#settings-tab-general .tutor-option-field-row input[type='number'] {
	width: 185px;
}

/* Instructor list layout style */

.instructor-layout-templates-fields {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.instructor-layout-template {
	max-width: 150px;
	padding: 5px;
	margin: 3px;
}

.instructor-layout-template img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 6px solid transparent;
	-webkit-transition: border-color 400ms;
	transition: border-color 400ms;
}

.instructor-layout-template.selected-template img,
.instructor-layout-template:hover img {
	border: 6px solid #3057d6;
}

/*override default modal on announcement*/

.tutor-accouncement-update-modal .modal-header,
.tutor-announcement-create-modal .modal-header {
	padding-right: 15px !important;
}

.tutor-accouncement-update-modal .tutor-modal-content,
.tutor-announcement-create-modal .tutor-modal-content {
	border-radius: 20px !important;
}

/**
  * announcement css
  * @since v1.7.9
  */

.tutor-admin-search-box-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 45px;
}

.tutor-admin-search-box-container > div:nth-child(1) {
	margin-right: 40px;
	position: relative;
}

.tutor-admin-search-box-container > div:nth-child(1) {
	flex: 2;
}

.tutor-admin-search-box-container > div:nth-child(2),
.tutor-admin-search-box-container > div:nth-child(3),
.tutor-admin-search-box-container > div:nth-child(4) {
	flex: 1.5;
}

.tutor-admin-search-box-container > div:not(:last-child) {
	margin-right: 30px;
}

.tutor-admin-search-box-container .tutor-report-search-btn {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 0;
	right: 0;
	border: 0;
	background: transparent;
	color: #3e64de;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}

.tutor-admin-search-box-container > div:nth-child(1) input {
	/* height: 50px; */
	padding-right: 45px;
}

.tutor-admin-search-box-container input[type='text'],
.tutor-admin-search-box-container select {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: solid 1px #dcdce1;
	background-color: #ffffff;
	padding: 0 14px;
	transition: 0.2s;
}

.tutor-admin-search-box-container .date-range-input i.tutor-icon-calendar {
	position: absolute;
	width: 42px;
	height: 40px;
	right: 0;
	top: 0;
	color: #3e64de;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}

.tutor-admin-search-box-container .menu-label {
	font-size: 14px;
	font-weight: 400;
	color: #737787;
	margin-bottom: 7px;
}

.tutor-admin-search-box-container > div:nth-child(4) input::-webkit-input-placeholder {
	color: #3f435b;
	font-size: 15px;
}

.tutor-admin-search-box-container > div:nth-child(1) input::-webkit-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #737787;
}

.tutor-admin-search-box-container input[type='text']:hover,
.tutor-admin-search-box-container input[type='text']:focus,
.tutor-admin-search-box-container select:hover,
.tutor-admin-search-box-container select:focus,
.tutor-date-range-wrap .date-range-input input:hover,
.tutor-date-range-wrap .date-range-input input:focus {
	border-color: var(--tutor-color-primary) !important;
	box-shadow: none !important;
	outline: none !important;
}

@media (max-width: 767px) {
	.tutor-admin-search-box-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 15px;
	}
	.tutor-admin-search-box-container > div {
		margin-right: 0 !important;
	}
}

@media (max-width: 991px) {
	.tutor-list-wrap {
		overflow-x: scroll;
	}
}

/**
   * Quiz attempt page css
   * @since 1.9.5
  */

.tutor-sorting-bulk-action-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0px 0px 30px 0px;
}

.tutor-sorting-bulk-action-wrapper .tutor-admin-search-box-container {
	width: 70%;
}

.tutor-admin-search-box-container .tutor-search-form-group {
	flex: 18% !important;
}

.report-course-list-wrap .detail .status span {
	font-size: 14px;
	font-weight: 300;
	line-height: 1;
	color: #737787;
	margin-left: 25px;
	padding-left: 14px;
	position: relative;
	display: inline-flex;
	align-items: center;
}

.report-course-list-wrap .detail .status span::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #b9bac3;
	border-radius: 50%;
	left: 0;
}

.report-course-list-wrap .detail .status span {
	margin-left: 0;
	padding-left: 16px;
}

.report-course-list-wrap .detail .status span::before {
	width: 6px;
	height: 6px;
}

.report-course-list-wrap .detail .status .running::before {
	background-color: #3e64de;
}

.report-course-list-wrap .detail .status .complete::before {
	background-color: #7bbc30;
}

.report-course-list-wrap .detail .heading {
	font-size: 16px;
	line-height: 1.75;
	color: #3f435b;
	margin-bottom: 10px;
}

.report-course-list-wrap .detail {
	padding: unset !important;
	text-align: left !important;
	font-size: 14px !important;
	font-weight: 400 !important;
}

.report-course-list .course-list-details {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.tutor-list-wrap .no-data-found {
	display: flex;
	align-items: center;
	padding: 0 0 30px 0;
}

.tutor-wp-dashboard-filter-items {
	display: inherit;
}

//a-to-z-sorting icon
.tutor-table-rows-sorting {
	cursor: pointer;
}

.a-to-z-sort-icon {
	cursor: pointer;
}

.tutor-entry-content {
	> br {
		display: none;
	}
	p:not(:last-child) {
		padding-bottom: 20px;
		word-wrap: break-word;
	}
}

/* .tutor-table.qna-list-table */
.tutor-table.qna-list-table {
	.tutor-form-feedback.tutor-qna-question-col {
		margin-top: 0;
		p {
			margin: 0;
		}
	}
	a:focus{
		outline: none;
		box-shadow: none;
	}
}
#tutor-quiz-question-wrapper {
	.mce-branding {
		display: none;
	}
}

.tutor-pro-badge{
	background: #e5803c;
    color: #fff;
    font-weight: 400;
    border-radius: 16px;
    padding: 1px 6px;
    font-size: 11px;
    display: inline-block;
    line-height: 15px;
}

a:has(> span.tutor-create-course ) {
	display: none!important;
}
