body.tutor-backend-tutor-templates.tutor-lms-pro_page_tutor-templates {
	background-color: #f1f1f1;
}

.tutor-template-preview-device-switcher {
	li {
		cursor: pointer;

		svg:nth-child(1) {
			display: block;
		}

		svg:nth-child(2) {
			display: none;
		}

		&.active {
			svg:nth-child(1) {
				display: none;
			}

			svg:nth-child(2) {
				display: block;
			}
		}
	}
}

.tutor-template-import-wrapper {
	img {
		width: 100%;
	}

	.tutor-template-device-selector {
		margin-bottom: 16px;
		display: flex;
		gap: 10px;
		justify-content: center;
	}

	.tutor-template-empty-state {
		margin-top: 30px;
		font-size: 20px;
		line-height: 1.5;
	}

	// color palette 
	.all-colors-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2px;
	}

	.color-palette {
		width: unset !important;
		display: grid;
		gap: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: ". ." ". .";
		border-radius: 6px;
		overflow: hidden;
		cursor: pointer;
		border: 2px solid rgb(0 0 0 / 5%);
		box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 2px;
	}

	.color-palette.active {
		border: 2px solid #5641f3;
		box-shadow: rgba(255, 255, 255, 1) 0px 0px 0px 2px;
	}

	[data-index="0"] {
		grid-row-start: span 2;
		grid-row-end: span 2;
		grid-column-start: span 1;
		grid-column-end: span 1;
		width: 17px;
		height: 18px;
	}

	[data-index="1"] {
		width: 17px;
		height: 9px;
	}

	[data-index="2"] {
		width: 17px;
		height: 9px;
	}

	// tutor template shimmer effect
	.tutor-template-shimmer-effect {
		position: absolute;
		inset: 0;
		background: #fff;
	}

	.tutor-template-shimmer-effect-2 {
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: hidden;

		>div {
			background: #ddd;
			border-radius: 6px;
			height: 25px;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: -150px;
				width: 150px;
				height: 100%;
				background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
				animation: tutorTemplateShimmerKeyframe 1.5s infinite;
			}
		}

		.tutor-template-shimmer-effect-2-box-2 {
			width: 60%;
			height: 20px;
		}

		.tutor-template-shimmer-effect-2-box-3 {
			width: 80%;
		}
	}

	.tutor-template-shimmer-box {
		background-color: #e0e0e0;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		display: block;
	}

	.tutor-template-shimmer-box::after {
		content: '';
		position: absolute;
		top: 0;
		left: -150px;
		width: 150px;
		height: 100%;
		background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
		animation: tutorTemplateShimmerKeyframe 1.5s infinite;
	}

	.tutor-template-shimmer-box-large {
		height: 50%;
		margin-bottom: 10px;
	}

	.tutor-template-shimmer-row {
		display: flex;
		gap: 10px;
		height: calc(50% - 10px);
	}

	.tutor-template-shimmer-box-small {
		flex: 1;
		height: 100%;
	}

	@keyframes tutorTemplateShimmerKeyframe {
		0% {
			left: -150px;
		}

		100% {
			left: 100%;
		}
	}
}

.tutor-text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tutor-import-item-content-title {
	display: flex;
	gap: 10px;
}

.tutor-template-import-area {
	max-width: 1200px;
	margin: 0 auto;
}

.tutor-template-import-area-top {
	.tutor-template-import-area-top-left {
		.tutor-template-area-top-left-icon {
			width: 40px;
		}
	}

	.tutor-template-top-left-heading {
		line-height: 28px;
	}

	.tutor-template-area-left-text {
		line-height: 24px;
		margin-top: 2px;
	}

	.tutor-template-import-area-top-right {
		.tutor-template-search-wrapper {
			position: relative;

			svg.tutor-template-search-icon {
				position: absolute;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		input {
			width: 300px;
			height: 40px;
			padding: 8px 8px 8px 30px;
			gap: 4px;
			border-radius: 6px;
			border: 1px solid #c3c5cb;
			opacity: 0px;

			&::placeholder {
				color: #5b616f;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				text-align: left;
			}
		}
	}
}

.tutor-template-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
	gap: 24px;

	@media (max-width: 1370px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	@media (max-width: 1170px) {
		grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
	}

	.tutor-template-list-single-template {
		border-radius: 6px;
		border: 1px solid #e0e2ea;
		background: white;
		min-height: 350px;
		position: relative;

		&:hover {
			box-shadow: 0px 6px 20px 0px #1c31681a;
		}

		.tutor-template-coming-soon {
			font-size: 14px;
			background: #efefef;
			padding: 2px 8px;
			border-radius: 4px;
		}

		.tutor-template-list-single-template-inner {
			position: relative;

			.tutor-import-template-preview-img {
				img {
					border-radius: 6px;
				}
			}
		}

		.tutor-template-list-single-template-footer {

			.tutor-import-template-name {
				line-height: 26px;
			}

			a.tutor-template-preview {
				display: flex;

				&:hover {
					svg {
						path {
							fill: #3e64de;
						}
					}
				}
			}
		}
	}
}

// template preview scss.
.tutor-template-preview-modal {
	display: none;
	position: fixed;
	z-index: 999999;
	inset: 0;

	.tutor-template-preview-modal-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background: #161616B2;
		backdrop-filter: blur(20px);
	}

	.tutor-template-preview-modal-back-link {
		width: max-content;
		cursor: pointer;

		i {
			width: 22px;
			height: 22px;
			border: 1px solid #C3C5CB;
			color: #9197A8;
			border-radius: 2.25px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover {
			i {
				color: var(--tutor-color-primary);
				border: 1px solid var(--tutor-color-primary);
			}

			div {
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -0.1px;
				vertical-align: middle;
				color: #000;
			}
		}

		div {
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: -0.1px;
			vertical-align: middle;
			color: #212327;
		}
	}
}

.tutor-template-preview-frame {
	width: 100%;
	position: relative;
	max-width: 1320px;
	margin: auto auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	background: #fff;
	padding: 0px 10px 10px 10px;
	min-height: 400px;
}

.tutor-template-preview-frame-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 14px 260px 14px 0px;

	.rtl & {
		padding: 14px 0px 14px 260px;
	}

	h3 {
		margin: 0;
	}

	ul {
		display: flex;
		gap: 15px;
		margin: 0;
		align-items: center;

		i {
			font-size: 20px;
			cursor: pointer;
			color: #33333360;
		}

		li {
			margin: 0;

			&.active {
				i {
					color: #3e64de;
				}
			}
		}
	}
}

.tutor-template-preview-close-modal {
	font-size: 20px;
	cursor: pointer;
	color: #333;
	z-index: 1000;
}

.tutor-template-preview-iframe-wrapper {
	width: 100%;
	height: calc(100vh - 80px);
	display: grid;
	grid-template-columns: 1fr 180px;

	.tutor-preview-template-name {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0px;
		vertical-align: middle;
	}

	.tutor-droip-color-presets-heading {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0px;
		vertical-align: middle;
		margin: 0px 0px 5px 0px
	}

	#droip-color-modes {
		padding: 10px 0px 0px 0px;
		display: none;
	}

	.tutor-template-preview-iframe-parent {
		position: relative;
		background-color: #F8F8F8;
		text-align: center;
		border-radius: 8px;
		overflow: hidden;
	}

	#tutor-template-preview-iframe {
		width: 1400px;
		height: calc(100% / 0.8);
		transform: scale(0.8);
		transform-origin: left top;
	}

	.tutor-template-preview-import-area {
		display: flex;
		justify-content: center;
		padding-left: 20px;
		
		.rtl & {
			padding-left: 0px;
			padding-right: 20px;
		}
	}
}

.tutor-template-import-btn-wrapper {
	margin-top: 10px;

	button {
		width: 100%;
		position: relative;

		svg {
			width: 15px;
			height: 15px;
			position: absolute;
			right: 0;
			top: 0;
			transform: translateX(50%) translateY(-50%);
		}
	}
}

.tutor-include-demo-courses-toggle {
	margin-top: 20px;
	gap: 10px;
	.tutor-form-check-input {
		width: 19px;
		height: 19px;
		margin-top: -3px;
	}
	label {
		margin-top: -7px;
		font-size: 13px;
	}
}
