.tutor-badge {
	@extend .d-inline-block;
	padding: 0 8px;
	line-height: 21px;
	font-size: 13px;
	color: var(--tutor-color-white);
	border-radius: 2px;
	font-weight: 700;
	box-sizing: border-box;
}

.tutor-badge-square {
	@extend .tutor-badge;
	line-height: 22px;
	padding: 5px;
	min-width: 32px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}

.tutor-profile-badge {
	@extend .d-flex;
	@extend .align-items-center;
	box-sizing: border-box;
	img {
		@extend .d-block;
		height: auto;
		max-width: 50px;
	}
	.tutor-profile-badge-content {
		padding-left: 20px;
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		color: var(--tutor-color-muted);
		h5 {
			margin: 0;
			font-size: 24px;
			line-height: 34px;
			font-weight: 400;
			color: var(--tutor-body-color);
		}
	}
}

.tutor-floating-badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--tutor-color-danger);
	position: absolute;
	right: -4px;
	top: -4px;
	line-height: 1;
	min-width: 20px;
	min-height: 20px;
	font-size: 12px;
	border-radius: 40px;
	padding: 0px 4px;
	box-sizing: border-box;
	color: #ffffff;
	font-weight: 700;
	z-index: 1;
}