$variations: (
	'default' var(--tutor-color-gray-10) var(--tutor-color-muted) var(--tutor-border-color),
	'primary' rgba(var(--tutor-color-primary-rgb), 0.15) var(--tutor-color-primary) rgba(var(--tutor-color-primary-rgb), 0.3),
	'success' rgba(var(--tutor-color-success-rgb), 0.15) var(--tutor-color-success) rgba(var(--tutor-color-success-rgb), 0.3),
	'warning' rgba(var(--tutor-color-warning-rgb), 0.15) var(--tutor-color-warning) rgba(var(--tutor-color-warning-rgb), 0.3),
	'danger' rgba(var(--tutor-color-danger-rgb), 0.15) var(--tutor-color-danger) rgba(var(--tutor-color-danger-rgb), 0.3),
);

// Tutor badge label
.tutor-badge-label {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	padding-inline: 8px;
	border: 1px solid transparent;
	border-radius: 50px;
	width: fit-content;

	@each $suffix, $bg, $color, $border in $variations {
		&.label-#{$suffix} {
			background: #{$bg};
			color: #{$color};
			border-color: #{$border};
		}
	}
}
