$radius: 6px;
$height: 44px;
$height-lg: 48px;
$height-sm: 38px;

.tutor-form {
	&-group {
		margin-bottom: 32px;
	}

	&-wrap {
		position: relative;
		display: flex;
	}

	&-control {
		display: block;
		width: 100%;
		outline: none;
		border-radius: $radius;
		background-color: var(--tutor-color-white);
		box-sizing: border-box;
		color: var(--tutor-color-black); // @todo: need to replace
		padding: 8px 16px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		height: auto;
		border: 1px solid var(--tutor-border-color)!important;
		box-shadow: none;
		transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
	
		&::placeholder,
		&.tutor-placeholder {
			color: var(--tutor-color-muted);
		}
	
		&:focus,
		&.is-active {
			border-color: var(--tutor-color-primary);
			box-shadow: unset;
		}
	
		&[readonly]:focus,
		&[readonly] {
			background-color: var(--tutor-disabled-bg);
			border-color: var(--tutor-disabled-bg);
			color: var(--tutor-disabled-color);
			&::placeholder {
				color: var(--tutor-disabled-color);
			}
		}
	
		&:disabled {
			background: $color-gray-20;
			border-color: $color-gray-20;
			cursor: not-allowed;
			&::placeholder {
				color: var(--tutor-color-muted);
			}
		}
	
		// sizes
		&-sm {
			font-size: 14px;
			padding: 5px 12px;
		}
	
		&-md {
			padding: 6px 12px;
		}
	
		&-lg {
			font-size: 18px;
			padding: 10px 20px;
		}
	
		&-xl {
			font-size: 18px;
			padding: 15px 24px;
		}
	}

	// js select
	&-select {
		position: relative;
		min-width: 180px;
		text-align: left;
		cursor: pointer;

		&-dropdown {
			display: none;
			flex-direction: column;
			width: 100%;
			min-width: 220px;
			max-height: 300px;
			transition: all 100ms;
			position: absolute;
			left: 0px;
			top: calc(100% + 5px);
			background: #ffffff;
			border: 1px solid #cdcfd5;
			box-shadow: 0px 6px 20px rgba(28, 49, 104, 0.1);
			border-radius: 6px;
			z-index: 10;

			.tutor-form-control {
				padding-left: 0;
				padding-right: 0;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				// border-radius: 0;
			}
		}

		&.is-active {
			.tutor-form-select-dropdown {
				display: flex;
			}
		}

		&-options {
			list-style: none;
			padding: 8px 0px;
			margin: 0;
			overflow-y: auto;
		}

		&-option {
			font-weight: 400;
			line-height: 1.4;
    		cursor: pointer;

			span {
				font-size: 14px;
				display: block;
				padding: 8px 19px;
			}

			&:hover,
			&.is-active {
				background: #eff1f7;
			}
		}
	}

	// label
	&-label {
		display: block;
		font-size: 14px;
		color: var(--tutor-body-color);
		line-height: 24px;
		margin: 0 0 10px;
		font-weight: 500;
	}

	// icon
	&-icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		font-size: 16px;
		line-height: 1.4;
		width: 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: var(--tutor-color-muted);

		&:not(.tutor-password-reveal) {
			pointer-events: none;
		}
	
		&-reverse {
			right: 0;
			left: auto;
	
			& ~ .tutor-form-control {
				padding-right: 40px !important;
			}
		}
	
		&:not(.tutor-form-icon-reverse) ~ .tutor-form-control {
			padding-left: 40px !important;
		}
	}
}

textarea {
	&.tutor-form-control {
		min-height: 180px;
		resize: vertical;
		&-auto-height {
			min-height: 72px;
		}
	}
}

select.tutor-form-control,
.tutor-form-select {
	appearance: none;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	padding-right: 36px;
}

.tutor-input-group {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

	&-addon {
		display: flex;
		align-items: center;
		padding: 10px 16px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		// color: $input-group-addon-color;
		text-align: center;
		white-space: nowrap;
		background-color: var(--tutor-color-white);
		border: 1px solid var(--tutor-border-color);
		border-radius: $radius;
	}

	>:not(.tutor-form-wrap):not(:last-child),
	>.tutor-form-wrap:not(:last-child) > .tutor-form-control {
		border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
	}

	>:not(.tutor-form-wrap):not(:first-child),
	>.tutor-form-wrap:not(:first-child) > .tutor-form-control {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	>:not(.tutor-form-wrap):not(:first-child),
	>.tutor-form-wrap:not(:first-child) {
		margin-left: -1px;
	}

	>.tutor-form-control,
	>.tutor-form-wrap {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		min-width: 0;
	}

	.tutor-btn {
		position: relative;
		z-index: 2;
	
		&:focus {
		  	z-index: 3;
		}
	}
}

.tutor-form-feedback {
	font-size: 14px;
	line-height: 1.4;
	margin: 12px 0 0;
	color: var(--tutor-color-muted);
	position: relative;
	display: flex;

	.tutor-form-feedback-icon {
		font-size: 18px;
		@if ($is_rtl == true) {
			margin-left: 8px;
		} @else {
			margin-right: 8px;
		}
	}
}

// checkbox
.tutor-form-check {
	display: inline-block; // flex was before
	label {
		display: inline-block !important;
		font-size: 16px;
		color: var(--tutor-body-color);
		font-weight: 500;
		margin: 0 !important;
		cursor: pointer;
	}
	input.tutor-form-check-input {
		margin-top: 0px !important;
		margin-right: 8px; // 12px was before
	}

	& + & {
		margin-left: 16px;
	}
}

.tutor-form-check-input {
	display: inline-block;
	vertical-align: top;
	background-color: var(--tutor-color-white);
	width: 24px;
	height: 24px;
	margin: 0;
	border: 2px solid var(--tutor-border-color);
	border-radius: 4px;
	cursor: pointer;
	appearance: none;
	color-adjust: exact;
	outline: none !important;
	background-size: 12px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 300ms;
	box-shadow: 0 0 0 0 rgba(var(--tutor-color-primary-rgb), 0.1);
	flex: 0 0 auto;

	&:before,
	&:after {
		display: none !important;
	}

	&:focus {
		box-shadow: 0 0 0 6px rgba(var(--tutor-color-primary-rgb), 0.1);
	}

	&[type='checkbox'] {
		border-radius: 4px;
		&.tutor-form-check-square {
			border-radius: 0;
		}
		&.tutor-form-check-circle {
			border-radius: 50%;
		}
		&:checked {
			border-color: var(--tutor-color-primary);
			background-color: var(--tutor-color-primary);
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.922 5.7a.627.627 0 01-.127-.194.72.72 0 010-.5.6.6 0 01.127-.195l.905-.867a.562.562 0 01.425-.195.592.592 0 01.25.05.665.665 0 01.207.145l2.73 2.734L11.295.82a.658.658 0 01.202-.145.613.613 0 01.484.002.568.568 0 01.191.143l.905.88a.6.6 0 01.127.195.72.72 0 010 .5.628.628 0 01-.127.194l-7.2 7.163a.575.575 0 01-.195.147.655.655 0 01-.5 0 .575.575 0 01-.195-.147L.922 5.7z' fill='%23fff'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}

	&[type='radio'],
	&-radio {
		border-radius: 50%;
		background-size: 100%;

		@at-root input:checked + label .tutor-form-check-input-radio, // hack for the paid membership pro pricing
		&:checked,
		&.is-active {
			border-color: var(--tutor-color-primary);
			background-color: var(--tutor-color-primary);
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
			background-position: 50% 50%;
		}
	}

	&.tutor-form-check-20 {
		background-size: 10px;
	}
}

.tutor-form-toggle {
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	input {
		display: none;
		~ .tutor-form-toggle-control {
			display: inline-block;
			width: 40px;
			height: 24px;
			background-color: $color-light-gray;
			border-radius: 12px;
			vertical-align: top;
			cursor: pointer;
			position: relative;
			margin: 0 4px;
			&::before {
				content: '';
				position: absolute;
				height: 18px;
				width: 18px;
				background-color: var(--tutor-color-white);
				top: 3px;
				left: 4px;
				border-radius: 50%;
				transition: 100ms;
				box-shadow: 0px 2px 4px 0px #0000002A;
			}
		}
		&:checked ~ .tutor-form-toggle-control {
			background-color: var(--tutor-color-primary);
			&::before {
				left: 18px;
			}
		}
		~ .tutor-form-toggle-label {
			padding: 0 4px;
			&.tutor-form-toggle-checked {
				color: var(--tutor-border-color);
			}
		}

		&:checked {
			~ .tutor-form-toggle-checked {
				color: inherit;
			}
			~ .tutor-form-toggle-unchecked {
				color: var(--tutor-border-color);
			}
		}
	}
}

.tutor-control-button {
    height: 24px;
    width: 24px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
	color: #9197A8;

	&.active {
		color: var(--tutor-color-primary);
	}
    
    input {
        display: none;
    }
}