.tutor-dashboard-quiz-attempt-history {
    .attempt-date{
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #212327;
        display: block;
        white-space: nowrap;
    }

    .attempt-date+a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #212327;

        &:hover {
            color: var(--tutor-primary-color);
        }
    }

    td{
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            color: #212327;
        }
    }
}