name: PHPStan

on: [push, pull_request]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --no-scripts

      # 3. Run PHPStan Full Analysis (Now fast due to cache)
      - name: Run PHPStan
        run: vendor/bin/phpstan analyse -l 8 -c phpstan.neon

      # 4. Save the Cache for the next run
      - name: Save PHPStan cache
        uses: actions/cache/save@v4
        with:
          path: .phpstan-cache
          key: phpstan-cache-${{ hashFiles('**/composer.lock') }}-${{ hashFiles('phpstan.neon') }}