@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-billing {
  &-header {
    background-color: $tutor-surface-base;
    border-bottom: 1px solid $tutor-border-idle;
    padding-block: $tutor-spacing-5;

    @include tutor-breakpoint-down(sm) {
      border-bottom: none;
    }
  }

  &-container {
    max-width: 728px;
    margin: 0 auto;
    padding-inline: $tutor-spacing-6;
  }

  &-body {
    @include tutor-card-base;
    @include tutor-card-radius(lg);
    @include tutor-flex(column, flex-start, center);
    margin-top: $tutor-spacing-9;

    .tutor-tabs-horizontal {
      width: 100%;
    }

    @include tutor-breakpoint-down(sm) {
      background-color: transparent;
      border: none;
      border-radius: 0;
      margin-top: $tutor-spacing-2;
    }
  }

  &-tabs {
    padding: $tutor-spacing-6;

    &-content {
      width: 100%;
    }

    @include tutor-breakpoint-down(sm) {
      border: 1px solid $tutor-border-idle;
      background-color: $tutor-surface-l1;
      padding: $tutor-spacing-2;
      border-radius: $tutor-radius-2xl;
      width: 100%;

      .tutor-tabs-tab {
        @include tutor-flex(row, center, center);
        flex: 1;
      }
    }
  }

  &-content {
    @include tutor-flex(column, flex-start, center);
    width: 100%;

    @include tutor-breakpoint-down(sm) {
      margin-top: $tutor-spacing-4;
      border: 1px solid $tutor-border-idle;
      background-color: $tutor-surface-l1;
      border-radius: $tutor-radius-2xl;
    }
  }

  &-filters {
    @include tutor-flex(row, center, space-between);
    gap: $tutor-spacing-4;
    width: 100%;
    padding: $tutor-spacing-5 $tutor-spacing-6;
    border-block: 1px solid $tutor-border-idle;

    @include tutor-breakpoint-down(sm) {
      border-top: none;
    }
  }

  &-card {
    @include tutor-flex(row, center, space-between);
    border-bottom: 1px solid $tutor-border-idle;
    padding: $tutor-spacing-6;
    gap: $tutor-spacing-4;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      background-color: $tutor-surface-l1-hover;

      .tutor-billing-card-title-access {
        color: $tutor-text-brand;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    &-left {
      @include tutor-flex(column, flex-start, center);
      gap: $tutor-spacing-3;

      .tutor-section-separator-vertical {
        background-color: $tutor-surface-l2-hover;
        height: 12px;
      }
    }

    &-right {
      @include tutor-flex(column, flex-end, center);
      gap: $tutor-spacing-2;
      text-align: right
    }

    &-title {
      @include tutor-typography('small', 'medium');
      @include tutor-flex(row, start, center);
      gap: $tutor-spacing-2;

      ul {
        list-style: disc;
        list-style-position: inside;

        li {
          padding-left: $tutor-spacing-2;
          margin-bottom: 0;

          span {
            margin-left: -$tutor-spacing-2;
          }
        }
      }

      @include tutor-breakpoint-down(sm) {
        @include tutor-flex(column, flex-start, center);
      }
    }

    &-details {
      @include tutor-flex(row, center);
      gap: $tutor-spacing-4;
      color: $tutor-text-secondary;
    }

    &-id {
      @include tutor-flex(row, center, center);
      @include tutor-typography('tiny');
      padding: 0 $tutor-spacing-2;
      background-color: $tutor-surface-l2;
      border-radius: $tutor-radius-xs;
      color: $tutor-text-secondary;
    }

    &-payment-method {
      @extend .tutor-billing-card-id;
      @include tutor-typography('tiny-2');
      gap: $tutor-spacing-2;
      border-radius: $tutor-radius-sm;
      color: $tutor-text-secondary;

      @include tutor-breakpoint-down(sm) {
        @include tutor-typography('tiny');
        padding: $tutor-spacing-2;
      }
    }

    &-amount {
      @include tutor-typography('small', 'semibold');
    }
  }

  &-invoice {
    @include tutor-flex(column, flex-start, center);
    width: 100%;
    gap: $tutor-spacing-5;

    &-header {
      @include tutor-flex(row, center, space-between);
      width: 100%;
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-2xl;
      padding: $tutor-spacing-4;
      background-color: $tutor-surface-l1;
    }

    &-content {
      @include tutor-flex-center;
      width: 100%;
      border: 1px solid $tutor-border-idle;
      border-radius: $tutor-radius-2xl;
      padding: $tutor-spacing-4;
      background-color: $tutor-surface-l1;

      img {
        width: 100%;
        height: auto;
        border-radius: $tutor-radius-lg;
        object-position: center;
        object-fit: contain;
      }
    }
  }
}