@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-billing {
  &-header {
    background-color: $tutor-surface-base;
    border-bottom: 1px solid $tutor-border-idle;
    padding-block: $tutor-spacing-5;

    @include tutor-breakpoint-down(sm) {
      display: none;
    }
  }

  &-container {
    max-width: 728px;
    margin: 0 auto;
    padding-inline: $tutor-spacing-6;
  }

  &-body {
    @include tutor-card-base;
    @include tutor-card-radius(lg)
  }

  &-tabs {
    padding: $tutor-spacing-6;
  }

  &-filters {
    @include tutor-flex(row, center, space-between);
    gap: $tutor-spacing-4;
    padding: $tutor-spacing-5 $tutor-spacing-6;
    border-block: 1px solid $tutor-border-idle;
  }

  &-card {
    @include tutor-flex(row, center, space-between);
    border-bottom: 1px solid $tutor-border-idle;
    padding: $tutor-spacing-6;
    gap: $tutor-spacing-4;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      background-color: $tutor-surface-l1-hover;

      .tutor-billing-card-title-access {
        color: $tutor-text-brand;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    &-left {
      @include tutor-flex(column, flex-start, center);
      gap: $tutor-spacing-3;

      .tutor-section-separator-vertical {
        background-color: $tutor-surface-l2-hover;
        height: 12px;
      }
    }

    &-right {
      @include tutor-flex(column, flex-end, center);
      gap: $tutor-spacing-2;
    }

    &-title {
      @include tutor-typography('small', 'medium');
      @include tutor-flex(row, start, center);
      gap: $tutor-spacing-2;

      ul {
        list-style: disc;
        list-style-position: inside;

        li {
          padding-left: $tutor-spacing-2;
          margin-bottom: 0;

          span {
            margin-left: -$tutor-spacing-2;
          }
        }
      }
    }

    &-details {
      @include tutor-flex(row, center);
      gap: $tutor-spacing-4;
      color: $tutor-text-secondary;
    }

    &-id {
      @include tutor-flex(row, center, center);
      @include tutor-typography('tiny');
      padding: 0 $tutor-spacing-2;
      background-color: $tutor-surface-l2;
      border-radius: $tutor-radius-xs;
      color: $tutor-text-secondary;
    }

    &-payment-method {
      @extend .tutor-billing-card-id;
      @include tutor-typography('tiny-2');
      gap: $tutor-spacing-2;
      border-radius: $tutor-radius-sm;
      color: $tutor-text-secondary;
    }

    &-amount {
      @include tutor-typography('small', 'semibold');
    }
  }
}