@use '@Core/scss/tokens' as *;

.tutor-dashboard-courses-wrapper {
	background: $tutor-surface-base;
	border-radius: $tutor-radius-3xl;
	border: 1px solid $tutor-border-idle;

	.tutor-dashboard-courses {
		border-top: 1px solid $tutor-border-idle;
	}

	.tutor-courses-thumb {
		position: relative;
		flex-basis: 200px;
		.tutor-badge {
			top: 4px;
			right: 4px;
			z-index: 1;
		}
	}
}