@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-dashboard-home {
  &-chart {
    @include tutor-card-base;
    @include tutor-card-radius(2xl);
    @include tutor-flex(column);
    padding-bottom: $tutor-spacing-6;

    &-canvas {
      max-height: 179px;
    }

    &-header {
      @include tutor-flex(row, center, space-between);
      padding: $tutor-spacing-6;
    }

    &-legend {
      @include tutor-flex(row, center);
      @include tutor-typography('tiny', 'regular', 'subdued');
      gap: $tutor-spacing-2;

      &::before {
        @include tutor-flex-center();
        content: '';
        height: 2px;
        width: 14px;
        border-radius: $tutor-radius-sm;
      }

      &[data-color='brand']::before {
        background-color: $tutor-actions-brand-primary;
      }

      &[data-color='success']::before {
        background-color: $tutor-actions-success-primary;
      }
    }

    &[data-stacked='true'] {
      padding: $tutor-spacing-6;

      canvas {
        margin-top: $tutor-spacing-13;
        max-height: 60px;
      }

      .tutor-dashboard-home-chart-legend {
        @include tutor-flex(row, start);
        @include tutor-typography('tiny', 'regular', 'subdued');
        gap: $tutor-spacing-2;

        &::before {
          content: '';
          height: 12px;
          width: 12px;
          aspect-ratio: 1;
          margin-top: $tutor-spacing-2;
          border-radius: $tutor-radius-sm;
        }

        &[data-color='enrolled']::before {
          background-color: $tutor-actions-exception5;
        }

        &[data-color='completed']::before {
          background-color: $tutor-actions-success-primary;
        }

        &[data-color='in_progress']::before {
          background-color: $tutor-button-caution;
        }

        &[data-color='inactive']::before {
          background-color: $tutor-surface-l2-hover;
        }

        &[data-color='cancelled']::before {
          background-color: $tutor-actions-critical-primary;
        }
      }
    }
  }

  &-leaderboard {
    @include tutor-card-base;
    @include tutor-card-radius(2xl);
    @include tutor-flex(column);
    gap: $tutor-spacing-5;
    padding: $tutor-spacing-6;

    &-header {
      @include tutor-flex(row, center, space-between);
      padding: $tutor-spacing-6;
    }

    &-body {
      @include tutor-flex(column, center);
      gap: $tutor-spacing-5;
    }

    &-item {
      @include tutor-flex(row, center);
      @include tutor-typography('tiny', 'regular', 'subdued');
      gap: $tutor-spacing-4;
      padding-inline: $tutor-spacing-5;
      width: 100%;
    }

    &-avatar {
      @include tutor-flex-center();
      flex-shrink: 0;
    }

    &-icon {
      @include tutor-flex-center();
      @include tutor-typography('tiny', 'regular', 'subdued');
      width: 16px;
      flex-shrink: 0;
    }
  }
}
