// Popup Progress Card Component
// Dashboard popup progress card with variations

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-popup-progress-card {
	padding: $tutor-spacing-3;
	background: $tutor-gray-1;
	border-radius: $tutor-radius-2xl;
	text-align: center;

	&-icon {
		margin-bottom: $tutor-spacing-6;
		color: $tutor-exception-2;
	}

	&-header {
		margin-bottom: $tutor-spacing-6;
	}

    &-title {
        margin-bottom: $tutor-spacing-2;

        &-text {
            @include tutor-typography('h3', 'regular', 'secondary', 'heading');
            margin: 0;
            text-align: center;
        }

        &-name {
            @include tutor-typography('h3', 'semibold', 'secondary', 'heading');
            margin: 0;
            text-align: center;
        }
    }

	&-subtitle {
		@include tutor-typography('tiny', 'regular', 'secondary', 'body');
		margin: 0;
		text-align: center;
	}

	&-content {
		margin-bottom: $tutor-spacing-7;
		width: 100%;
	}

	&-value {
		border-radius: $tutor-radius-lg;
		padding: $tutor-spacing-6 0;
		margin-bottom: $tutor-spacing-6;
		background: $tutor-warning-50;
	}

	&-value-text {
		@include tutor-typography('h2', 'bold', 'primary', 'heading');
		color: $tutor-text-exception4;
	}

	&-breakdown {
		@include tutor-typography('p2', 'regular', 'secondary', 'body');
		margin: 0;
		color: $tutor-text-secondary;

		strong {
			@include tutor-typography('p2', 'medium', 'primary', 'body');
		}
	}

	&-footer {
		width: 100%;
	}
}

