// Quiz Attempts Page Styles
// Student quiz history, results, and retake options

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-quiz-attempts {
  &-filter {
    @include tutor-flex(row, center, space-between);
    padding: $tutor-spacing-5 $tutor-spacing-6;
    border-bottom: 1px solid $tutor-border-idle;

    &-item {
      @include tutor-flex(row, center, flex-start);
      gap: $tutor-spacing-2;
      @include tutor-typography(small);
      color: $tutor-text-secondary;
    }
  }

  &-header {
    display: grid;
    grid-template-columns: 340px 180px 1.5fr 1fr;
    background-color: $tutor-surface-base;
    border-bottom: 1px solid $tutor-border-idle;
    padding: $tutor-spacing-5 $tutor-spacing-6;

    @include tutor-typography(tiny);
    color: $tutor-text-secondary;
  }

  &-list {
    &-item {
      display: grid;
      grid-template-columns: 340px 180px 1.5fr 1fr;
      align-items: center;
      padding: $tutor-spacing-6;

      &:not(:last-child) {
        border-bottom: 1px solid $tutor-border-idle;
      }

      .tutor-quiz-item-marks {
        @include tutor-flex(row, center);
        gap: $tutor-spacing-4;

        .tutor-quiz-marks-breakdown {
          @include tutor-flex(column, stretch, center);
          gap: $tutor-spacing-1;

          .tutor-quiz-marks-correct,
          .tutor-quiz-marks-incorrect {
            @include tutor-typography(tiny, medium, secondary);
            @include tutor-flex(row, center);
            gap: $tutor-spacing-3;
            background-color: $tutor-surface-l2;
            padding: 0 $tutor-spacing-2;
            border-radius: 40px;

            &::before {
              content: '';
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              background-color: $tutor-icon-success-primary;
              margin-inline-start: $tutor-spacing-3;
            }
          }

          .tutor-quiz-marks-incorrect {
            &::before {
              background-color: $tutor-icon-critical;
            }
          }
        }
      }

      .tutor-quiz-item-time {
        @include tutor-flex(row, center);
        gap: $tutor-spacing-2;
        @include tutor-typography(medium, regular, secondary);
        white-space: nowrap;
      }

      .tutor-quiz-item-result {
        @include tutor-flex(column, center, center);

        .tutor-quiz-item-result-more {
          display: none;
        }
      }

      &:hover {
        .tutor-quiz-item-result {
          .tutor-badge {
            display: none;
          }

          .tutor-quiz-item-result-more {
            display: block;
          }
        }
      }
    }

    .tutor-quiz-previous-attempts {
      background-color: $tutor-surface-l1;
      border-radius: $tutor-radius-sm;
    }
  }
}
