@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-preferences {
  &-section-header {
    @include tutor-typography('h5', 'semibold', 'primary', 'heading');
    margin: $tutor-spacing-none $tutor-spacing-none $tutor-spacing-4 $tutor-spacing-none;

    @include tutor-breakpoint-down(sm) {
      @include tutor-typography('medium', 'semibold', 'primary', 'heading');
    }
  }

  &-setting-item {
    margin-bottom: $tutor-spacing-6;

    &:last-child {
      margin-bottom: $tutor-spacing-none;
    }

    .tutor-preferences-setting-content {
      gap: $tutor-spacing-4;

      .tutor-preferences-setting-title {
        @include tutor-typography('small', 'medium', 'primary');
      }

      .tutor-preferences-setting-text {
        gap: $tutor-spacing-1;

        .tutor-preferences-setting-subtitle {
          @include tutor-typography('small', 'regular', 'subdued');
        }
      }
    }

    .tutor-preferences-setting-control {
      cursor: pointer;
      .tutor-select-dropdown {
        min-width: 140px;

        @include tutor-breakpoint-down(sm) {
          min-width: 120px;
        }
      }
    }
  }
}
