// Stat Card Component
// Dashboard statistics card with variations

@use '@Core/scss/tokens' as *;
@use '@Core/scss/mixins' as *;

.tutor-stat-card {
	padding: $tutor-spacing-6;
	height: 146px;
	@include tutor-flex(column, stretch, space-between);
    border: 1px solid $tutor-border-idle;
    border-radius: $tutor-radius-2xl;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: $tutor-surface-l1-hover;
	}

	&-header {
		@include tutor-flex(row, center, space-between);
	}

	&-title {
		@include tutor-typography('small');
        margin: 0;
	}

	&-value {
		@include tutor-typography('h2', 'bold', 'primary', 'heading');
		margin: 0;
	}

	&-change {
		@include tutor-typography('tiny', 'regular', 'secondary', 'body');
		margin: 0;
	}

	// Color variations
	&-enrolled {
        .tutor-stat-card-icon {
            color: $tutor-text-brand;
        }

		.tutor-stat-card-value {
			color: $tutor-text-brand;
		}
	}

	&-active {
		.tutor-stat-card-icon {
			color: $tutor-exception-1;
		}
        
		.tutor-stat-card-value {
			color: $tutor-exception-1;
		}
	}

	&-completed {
		.tutor-stat-card-icon {
			color: $tutor-text-success;
		}
        
		.tutor-stat-card-value {
			color: $tutor-text-success;
		}
	}

	&-time-spent {
		.tutor-stat-card-icon {
			color: $tutor-text-exception4;
		}
        
		.tutor-stat-card-value {
			color: $tutor-text-exception4;
		}
	}

	&-courses {
        .tutor-stat-card-icon {
            color: $tutor-text-success;
        }

		.tutor-stat-card-value {
			color: $tutor-text-success;
		}
	}


	&-students {
        .tutor-stat-card-icon {
            color: $tutor-text-brand;
        }

		.tutor-stat-card-value {
			color: $tutor-text-brand;
		}
	}

	&-reviews {
        .tutor-stat-card-icon {
            color: $tutor-warning-400;
        }

		.tutor-stat-card-value {
			color: $tutor-warning-400;
		}
	}

	&-passed {
        .tutor-stat-card-icon {
            color: $tutor-text-brand;
        }

		.tutor-stat-card-value {
			color: $tutor-text-brand;
		}
	}

	&-progress {
        .tutor-stat-card-icon {
            color: $tutor-exception-5;
        }

		.tutor-stat-card-value {
			color: $tutor-exception-5;
		}
	}

	&-completed {
        .tutor-stat-card-icon {
            color: $tutor-text-success;
        }

		.tutor-stat-card-value {
			color: $tutor-text-success;
		}
	}

	&-qa {
        .tutor-stat-card-icon {
            color: $tutor-exception-2;
        }

		.tutor-stat-card-value {
			color: $tutor-exception-2;
		}
	}

	&-book-2 {
        .tutor-stat-card-icon {
            color: $tutor-exception-1;
        }

		.tutor-stat-card-value {
			color: $tutor-exception-1;
		}
	}
}

