// Learning Area Layout Styles

@use '@Core/scss/mixins' as *;
@use '@Core/scss/tokens' as *;

.tutor-learning-area {
  &-body {
    padding-inline-start: 320px;
    transition: padding 0.25s ease-in-out;
    position: relative;

    @include tutor-breakpoint-down(lg) {
      padding-inline-start: 0;
    }
  }

  &.is-fullscreen &-body {
    padding-inline-start: 0;
  }

  .tutor-expand-btn {
    position: absolute;
    inset-inline-start: $tutor-spacing-6;
    bottom: $tutor-spacing-6;
    color: $tutor-icon-secondary;

    @include tutor-breakpoint-down(lg) {
      display: none;
    }
  }

  .tutor-learning-area-container {
    max-width: 780px;
    padding: 0 $tutor-spacing-6;
    margin: 0 auto;
  }
}
