

.tutor-option-single-item {
    .item-wrapper {
        border: 1px solid #c0c3cb;
        padding: 18px 19px;
    }
}

.tutor-option-field-row{
    .logo-upload input[type='file'] {
        appearance: none;
        -webkit-appearance: none;
        // display: none;
    }
    
    // .logo-upload (delete icon)
    .logo-upload {
        margin-top: 12px;
        background: $bg-white;
        border: 1px solid #bababa;
        border-radius: 6px;
        padding: 20px;
        align-items: center;
        span.delete-btn {
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            @include svg-delete-icon;
            background-color: $design-danger;
            background-repeat: no-repeat;
            background-position: 50%;
            cursor: pointer;
            top: -12px;
            right: -12px;
            &:hover {
                background-color: darken($color: $design-danger, $amount: 6);
            }
        }
    
        .logo-preview {
            background: #eff1f7;
            border: 2px solid #eff1f7;
            border-radius: 3px;
            position: relative;
            margin-right: 38px;
            width: 268px;
            height: 98px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                padding: 10px 25px;
            }
        }
    
        .logo-upload-wrap {
            p {
                margin-bottom: 12px;
            }
        }
    }

}