// progress bar
.tutor-progress {
    &-bar {
        position: relative;
        width: 100%;
        height: 4px;
        background: #e3e5eb;
        border-radius: 10px;
        overflow: hidden;
    }

    &-value {
        background: var(--tutor-color-primary);
        position: absolute;
        width: var(--tutor-progress-value);
        height: 100%;
    }
}