.tutor-dropdown {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% - 4px);
    padding: 8px 0px;
    background-color: var(--tutor-color-white);
    border: 1px solid var(--tutor-border-color);
    box-shadow: 0px 6px 20px rgba(28, 49, 104, 0.1);
    border-radius: 4px;
    display: none;
    z-index: 1025;

    > li {
        padding: 0;
        margin: 0;
    }

    &-item {
        display: block;
        padding: 8px 16px;
        color: var(--tutor-color-secondary);
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;

        &:hover,
        &:focus {
            color: var(--tutor-color-primary);
            background-color: rgba(var(--tutor-color-primary-rgb), 0.10);
        }

        &.is-active {
            color: var(--tutor-color-primary);
            background-color: rgba(var(--tutor-color-primary-rgb), 0.10);
        }
    }

    &-dark {
        background-color: #212327;
        border: 1px solid #212327;

        .tutor-dropdown-item {
            &,
            &:hover,
            &:focus {
                color: #FFFFFF;
            }

            &:hover,
            &:focus {
                background-color: #41454F;
            }

            &.is-active {
                color: #FFFFFF;
                background-color: #41454F;
            }
        }
    }
}

.tutor-dropdown-parent {
    position: relative;
    &.is-open {
        .tutor-dropdown {
            display: block;
        }
    }
}