.tutor-wp-dashboard-header {
	box-sizing: border-box;
	background: #ffffff;
	border-bottom: 1px solid $stroke-light-30;

	ol,
	ul {
		padding: 0;
		margin: 0;
	}
	.header-title-wrap {
		gap: 10px;
	}
	.header-title {
		gap: 10px;
	}
}

.tutor-wp-dashboard-filter {
	gap: 30px;
	@include breakpoint-max(1300) {
		flex-wrap: wrap;
		margin-top: 40px;
	}
	@include breakpoint-max(mobile) {
		flex-direction: row;
		display: block !important;
		&-items {
			display: block !important;
			// select.tutor-form-select,
			.tutor-react-datepicker .react-datepicker__input-container input,
			.tutor-input-group {
				max-width: 100% !important;
				width: 100% !important;
			}
		}
		&-item {
			margin-top: 20px;
		}
	}
}

.tutor-wp-dashboard-filter-items {
	gap: 30px;

	.tutor-form-label {
		@extend .text-medium-caption;
		@extend .tutor-color-black-70;
	}

	// select.tutor-form-select,
	// .tutor-input-group,
	.tutor-react-datepicker .react-datepicker__input-container input {
		max-width: 180px;
		max-width: max-content;
		line-height: 1;
	}

	@include breakpoint-min(1600) {
		// select.tutor-form-select,
		.tutor-input-group {
			width: 227px;
			max-width: 227px;
		}
	}

	select.tutor-form-select:focus,
	input.tutor-form-control:focus,
	textarea.tutor-form-control:focus {
		border-color: var(--tutor-primary-color);
		box-shadow: unset;
	}

	@include breakpoint-min(1500) {
		> div:not(.item-reset) {
			width: 228px;
		}
	}
}


.tutor-zoom-integration-card {
	.tutor-zoom-no-meetings {
		margin: 15px;
	}

	&-body {
		border-top: 1px solid $stroke-light-30;
		border-bottom: 1px solid $stroke-light-30;
		display: grid;
		@include responsiveGrid(200px, auto);
		grid-gap: 15px;
		align-items: center;

		.list-item.list-item-buttons {
			display: inline-flex;
		}

		@include breakpoint-min(desktop-lg) {
			.list-item {
				&:last-child {
					justify-self: flex-end;
				}
			}
		}
	}
}
