// Popup icon - three dot
@function svgActionLine($color: $design-dark) {
	$hexColor: '%23' + str-slice('#{$color}', 2, -1);
	@return "data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M24 12C26.2091 12 28 10.2091 28 8C28 5.79086 26.2091 4 24 4C21.7909 4 20 5.79086 20 8C20 10.2091 21.7909 12 24 12ZM24 28C26.2091 28 28 26.2091 28 24C28 21.7909 26.2091 20 24 20C21.7909 20 20 21.7909 20 24C20 26.2091 21.7909 28 24 28ZM28 40C28 42.2091 26.2091 44 24 44C21.7909 44 20 42.2091 20 40C20 37.7909 21.7909 36 24 36C26.2091 36 28 37.7909 28 40Z' fill='#{$hexColor}'/></svg>";
}

// Popup Menu Toggle
.tutor-popup-opener {
	position: relative;
	display: inline-block;
	padding: 0;
	.popup-btn {
		display: inline-block;
		outline: none;
		border: none;
		cursor: pointer;
		background: transparent;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;

		> * {
			pointer-events: none;
			font-size: 20px;
		}

		&:hover,
		&:focus {
			// box-shadow: 0 0 0 2px rgba(33, 35, 39, .17);
			box-shadow: 0 0 0 2px var(--tutor-primary-lighter);
		}

		.toggle-icon {
			width: 20px;
			height: 20px;
			background-image: url(svgActionLine());
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: center;
		}
	}

	.popup-menu {
		$width: 170px;
		$arrow: 6px;
		$menuBg: $bg-dark-10;
		background: $menuBg;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		top: calc(100% + 1.5px);
		min-width: $width;
		// to align right
		right: -$arrow;
		// to align center
		// right: calc(50% - #{$width});
		// margin-right: $width / 2;
		&:before {
			content: '';
			position: absolute;
			border: $arrow solid transparent;
			border-bottom-color: $menuBg;
			// to align right
			top: -$arrow * 2;
			right: $arrow + 4;
			// to align center
			// right: calc(50% - #{$arrow});
		}
		li {
			list-style: none;
			&:not(:last-child) a {
				margin-bottom: 2px;
			}
			a {
				display: flex;
				align-items: center;
				color: $text-white;
				text-decoration: none;
				padding: 5px 12px;
				transition: 200ms;
				&:hover {
					background: $bg-dark-30;
				}
				i,
				.icon {
					font-size: 26px;
					margin-right: 8px;
				}
			}
		}

		// show/hide
		transition: 200ms ease-out;
		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
			animation-name: fadeIn;
			animation-duration: 300ms;
			animation-timing-function: cubic-bezier(0.74, 0.49, 0.24, 0.96);
		}
	}
}

@keyframes fadeIn {
	from {
		transform: translateY(2px);
		// filter: blur(2px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		filter: blur(0);
		opacity: 1;
	}
}
