.tutor-ui-table-responsive {
	position: relative;
	overflow-x: auto;
}

// Table Base Structure
table.tutor-ui-table {
	&,
	tr,
	th,
	td {
		border: none;
	}

	border-radius: 6px;
	overflow: hidden;

	// Table utility classes
	.inline-flex-center {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&.th-align-top {
		th {
			vertical-align: top;
		}
	}

	&.td-align-top {
		td {
			vertical-align: top;
		}
	}

	&.th-align-middle {
		th {
			vertical-align: middle;
		}
	}

	&.td-align-middle {
		td {
			vertical-align: middle;
		}
	}

	&.th-align-bottom {
		th {
			vertical-align: bottom;
		}
	}

	&.td-align-bottom {
		td {
			vertical-align: bottom;
		}
	}

	.v-align-top {
		vertical-align: top;
	}

	.v-align-middle {
		vertical-align: middle;
	}

	.v-align-bottom {
		vertical-align: bottom;
	}

	// Table Structure
	$radius: 6px;
	border-collapse: separate;
	border-spacing: 0;
	min-width: 300px;
	width: 100%;
	// max-width: 825px;
	overflow-x: auto;

	@include breakpoint-min(desktop) {
		tr:first-child {
			/* top-left border-radius */
			th:first-child {
				border-top-left-radius: $radius;
			}
			/* top-right border-radius */
			th:last-child {
				border-top-right-radius: $radius;
			}
		}

		tr:last-child {
			/* bottom-left border-radius */
			td:first-child {
				border-bottom-left-radius: $radius;
			}
			/* bottom-right border-radius */
			td:last-child {
				border-bottom-right-radius: $radius;
			}
		}

		tr {
			&:last-child td {
				border-bottom: 1px solid $stroke-light-30;
			}
			&:nth-child(even) td {
				background-color: rgba(239, 241, 247, 0.3);
			}
		}

		th,
		td {
			border-top: 1px solid $stroke-light-30;

			// min-width: calc(100% / var(--column-count));

			&:first-child {
				border-left: 1px solid $stroke-light-30;
				padding-left: 20px;
			}

			&:last-child {
				border-right: 1px solid $stroke-light-30;
				padding-right: 20px;
			}
		}

		th {
			background: rgba(239, 241, 247, 0.8);
			text-align: left;
			padding: 15px 10px;
		}

		td {
			padding: 17px 10px;
		}

		.tutor-shrink {
			width: 1px;
			white-space: nowrap;
		}

		// Table Variations
		&.table-courses {
			th,
			td {
				&:nth-child(1) {
					width: 53.8%;
				}
			}
		}

		&.table-popular-courses {
			th,
			td {
				&:nth-child(1) {
					width: 60.6%;
				}
			}
		}

		&.table-reviews {
			th,
			td {
				// @extend .v-align-top;
				vertical-align: top;
				&:nth-child(1) {
					width: 26.8%;
				}
				&:nth-child(3) {
					width: 53.3%;
				}
			}
		}

		&.table-all-courses {
			th,
			td {
				// @extend .v-align-middle;
				vertical-align: middle;
				&:nth-child(1) {
					width: 50.6%;
				}
			}
		}

		&.table-students {
			th,
			td {
				&:nth-child(1) {
					width: 43.6%;
				}
			}
		}

		&.table-course-overview {
			th,
			td {
				&:first-child {
					// @extend .v-align-top;
					vertical-align: top;
				}
				&:last-child {
					width: fit-content;
					text-align: right;
				}
				&:nth-last-child(2) {
					padding-left: 0px;
					padding-right: 0px;
				}
				&:nth-child(1) {
					width: 16.2%;
				}
				&:nth-child(2) {
					width: 55%;
				}
			}
		}
	} // end @include breakpoint-min(desktop) {...}
} // end Table Base Structure

// Table th/td Content Styles
table.tutor-ui-table {
	&.table-dashboard-course-list {
		td {
			&:first-child {
				@extend .v-align-top;
			}
		}
	}
	.td-tutor-rating {
		.tutor-rating-stars {
			align-items: flex-start;
			> span {
				margin-right: 0;
			}
		}
		.tutor-rating-text {
			@include getTypography(400, 16px, 162%);
			padding-left: 1px;
		}
	}

	.td-course {
		@media (min-width: 1400px) {
			padding-right: 13%;
		}
		a {
			color: inherit;
			text-decoration: none;
		}
		.course-meta {
			margin-top: 5px;

			span:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	.td-action-btns {
		.btn-outline {
			&.tutor-btn {
				@extend .color-text-hints;
				@extend .text-btn-small;
				display: inline-block;
				border: 1px solid $stroke-gray;
				box-sizing: border-box;
				border-radius: 6px;
				text-decoration: none;
				background: transparent;
				padding: 8px 10px;
				transition: 200ms ease;

				&:hover {
					color: $brand-wordpress;
					border-color: $brand-wordpress;
				}
			}
		}

		> a:not(:last-child) {
			margin-right: 13px;
		}

		.btn-text {
			@extend .color-text-hints;
			font-size: 24px;
			text-decoration: none;
			display: flex;
			&:hover {
				color: $brand-wordpress;
			}
		}

		.btn-icon {
			background: transparent;
			border: none;
			outline: none;
			font-size: 24px;
			width: 34px;
			height: 34px;
			color: $black-40;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: #f4f6f9;
			}
		}

		//.tutor-form-select-with-icon.select-#{variable} {...}
		//success - eye, default - marks-total, primary - drop, danger - lock, warning - cross-circle, mark-circle
		$variations: (
			'primary' $primary-100 $primary-40 $primary-60 '\e978',
			'default' $black-70 $black-05 $black-10 '\e9ab',
			'success' $success-100 $success-40 $success-50 '\E982',
			'warning' $warning-40 $warning-100 $warning-50 '\e966',
			'danger' $danger-100 $danger-40 $danger-50 '\e9a3'
		);
		@each $suffix, $txtColor, $bgColor, $border, $icon in $variations {
			.tutor-form-select-with-icon {
				&.select-#{$suffix} {
					color: #{$txtColor};
					background: #{$bgColor};
					border: 1px solid #{$border};
					select {
						color: #{$txtColor};
					}
					.icon1:before {
						content: '#{$icon}';
					}
				}
			}
		}

		.tutor-form-select-with-icon {
			width: fit-content;
			max-width: 117px;
			position: relative;

			border-radius: 42px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			select {
				display: block;
				width: 100%;
				min-width: max-content;
				margin: 0;
				padding: 0 25px;
				border: none;
				outline: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				height: 24px;
				position: relative;
				z-index: 1;
				background: transparent;
				cursor: pointer;
				/* color/success/fill/100 */
				color: #075a2a;
			}
			> i {
				position: absolute;
				font-size: 14px;
			}

			.icon1 {
				left: 6px;
			}
			.icon2 {
				right: 4px;
			}
		}
	}

	.td-feedback {
		.review-text {
			@include getTypography(500, 16px, 169%);
		}
		.review-text {
			margin-top: 11px;
		}

		.course-name {
			margin-top: 15px;
		}
	}

	.td-avatar {
		@extend .inline-flex-center;
		img {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			margin-right: 14px;
		}
		.btn-text {
			text-decoration: none;
			color: inherit;
		}
	}

	.td-statement-info {
		.tutor-badge-label {
			margin-right: 14px;
		}

		.meta-data-2 {
			margin-top: 8px;
		}
		.meta-data-3 {
			margin-top: 6px;
			> span {
				margin-right: 20px;
			}
		}
	}

	.td-progress {
		.progress-bar {
			position: relative;
			width: 50px;
			height: 4px;
			background: #e3e5eb;
			border-radius: 2px;
			overflow: hidden;
			.progress-value {
				background: #3e64de;
				position: absolute;
				width: var(--progress-value);
				height: 100%;
			}
		}
		.progress-text {
			margin-left: 10px;
		}
	}

	// Form elements
	select.tutor-form-select {
		min-width: max-content;
	}

	input.tutor-form-check-input[type='checkbox'] {
		width: 16px;
		height: 16px;
		border-width: 1px;
		background-size: 10px;
		&:focus {
			box-shadow: 0 0 0 2px var(--tutor-primary-lighter);
		}
	}

	.td-checkbox {
		input[type='checkbox'] {
			margin-top: 7px;
		}
	}
} // end Table th/td Content Styles

// Table Responsive Styles
table.tutor-ui-table {
	&.tutor-ui-table-responsive {
		/*
		Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
		*/
		@media only screen and (max-width: 991px), (min-device-width: 992px) and (max-device-width: 1024px) {
			/* Force table to not be like tables anymore */
			table,
			thead,
			tbody,
			th,
			td,
			tr {
				display: block;
			}

			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			tr {
				&:not(:last-child) {
					margin-bottom: 22px;
				}
				td {
					word-break: break-word;
					&:last-child {
						border-bottom: 1px solid $stroke-light-30;
						border-bottom-left-radius: 6px;
						border-bottom-right-radius: 6px;
					}
					&:first-child {
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
					}

					&:nth-child(odd) {
						background: rgb(255, 255, 255);
					}

					&:nth-child(even) {
						background: rgba(239, 241, 247, 0.3);
					}
				}
			}

			td {
				/* Behave  like a "row" */
				border: none;
				border-radius: 0;
				position: relative;
				padding: 10px;

				width: unset;
				text-align: left;

				border-top: 1px solid $stroke-light-30;
				border-left: 1px solid $stroke-light-30;
				border-right: 1px solid $stroke-light-30;

				display: flex;

				&.column-fullwidth {
					padding: 15px 20px;
				}

				&:not(.column-fullwidth) {
					padding-left: 40%;

					&:before {
						/* Now like a table header */
						position: absolute;
						/* Top/left values mimic padding */
						top: 0;
						left: 0;
						width: 35%;
						padding-left: 20px;
						padding-right: 10px;
						white-space: nowrap;

						/* Label the data You could also use a data-* attribute and content for this. That way "bloats" the HTML,this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow. */

						content: attr(data-th);
						height: 100%;
						display: flex;
						align-items: center;

						font-weight: 400;
						font-size: 13px;
						line-height: 138%;
						color: $text-subsued;
					}
				}
			}
		}
	} // end Table Responsive Styles
}


table.tutor-ui-table-no-border {
	&, td, th {
		border: none;
	}

	td, th {
		padding: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	&.tutor-is-lefty {
		td:not(:last-child) {
			padding-right: 15px;
		}
	}

	&.tutor-is-flexible {
		width: auto;
	}

	&:not(.tutor-is-flexible) {
		width: 100%;
	}
}