.tutor-password-strength-checker {
	margin-top: 20px;
	position: relative;

	.tutor-password-field {
		text-align: left;

		.field-label {
			color: $text-subsued;
		}

		.field-group,
		.tutor-input-group {
			position: relative;
		}

		input.password-checker {
			transition: border-color 0.3s;

			&::placeholder {
				// font-size: 15px;
				// line-height: 123%;
				// font-weight: 400;
			}

			&:not(:placeholder-shown) {
				// font-size: 25px;
				// font-weight: 500;
			}
		}
	}
	.show-hide-btn {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 15px;
		font-weight: 600;
		cursor: pointer;
		display: none;
		user-select: none;
		width: 30px;
		height: 30px;
		background-size: 30px;

		@include svg-eye-open;

		&.hide-btn {
			@include svg-eye-close;
		}
	}
} // end /.passowrd-strength-wrapper

.tutor-passowrd-strength-hint {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 7px;

	.indicator {
		height: 10px;
		margin: 10px 0;
		gap: 25px;
		align-items: center;
		justify-content: space-between;
		display: none;
		span {
			position: relative;
			height: 2px;
			width: 72px;
			background: lightgrey;
			border-radius: 5px;
			&.active:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				border-radius: 5px;
			}
			&.weak:before {
				background-color: $color-error;
			}
			&.medium:before {
				background-color: $color-warning;
			}
			&.strong:before {
				background-color: $color-success;
			}

			&:nth-child(2) {
				margin: 0 3px;
			}
		}
	}

	.text {
		display: none;
		text-align: right;
		text-transform: capitalize;
	}
	.text.weak {
		color: $color-error;
	}
	.text.medium {
		color: $color-warning;
	}
	.text.strong {
		color: $color-success;
	}
} // end /.passowrd-strength-hint

.tutor-settings-pass-field {
	.tutor-input-group {
		.validation-icon {
			position: absolute;
			right: 6px;
			top: 0;
			height: 100%;
			font-size: 30px;
			display: flex;
			align-items: center;
		}

		.valid-btn {
			color: $design-success;
		}
		.invalid-btn {
			color: $color-error;
		}
	}
}
