.tutor-dropdown {
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% - 4px);
    padding: 8px 0px;
    background-color: var(--tutor-color-white);
    border: 1px solid var(--tutor-border-color);
    border-radius: 4px;
    display: none;
    z-index: 1025;

    > li {
        padding: 0;
        margin: 0;

        > a {
            display: block;
            padding: 8px 16px;
            color: var(--tutor-black-70);
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
    
            &:hover,
            &:focus {
                color: var(--tutor-primary-color);
                background-color: #E9EDFB;
            }
        }

        &.is-active {
            > a {
                color: var(--tutor-primary-color);
                background-color: #E9EDFB;
            }
        }
    }

    &-dark {
        background-color: #212327;
        border: 1px solid #212327;

        > li {
            > a {
                &,
                &:hover,
                &:focus {
                    color: #FFFFFF;
                }

                &:hover,
                &:focus {
                    background-color: #41454F;
                }
            }

            &.is-active {
                > a {
                    color: #FFFFFF;
                    background-color: #41454F;
                }
            }
        }
    }
}

.tutor-dropdown-parent {
    position: relative;
    &.is-open {
        .tutor-dropdown {
            display: block;
        }
    }
}