.tutor-wp-dashboard-header {
	@include breakpoint-min(992) {
		height: 60px;
	}

	background: #ffffff;
	.filter-btns {
		display: flex;
		gap: 30px;
		button.filter-btn {
			background: transparent;
			outline: none;
			border: none;
			font: inherit;
			color: inherit;
			position: relative;
			text-transform: capitalize;
			> * {
				pointer-events: none;
			}
			.item-count {
				color: $text-subsued;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				background: $brand-wordpress;
				bottom: calc(0% - 17px);
				transition: transform 200ms linear;
				transform: scaleY(0);
				transform-origin: bottom;

				@include breakpoint-max(991) {
					bottom: calc(0% - 20px);
				}
			}

			&.is-active {
				color: $brand-wordpress;
				&:before {
					transform: scaleY(1);
				}
			}
		}
	}
}
