.tutor-course-details-elements {
}

.tutor-course-details-header {
	a {
		text-decoration: none;
	}
}

.tutor-course-details-action-btns {
	display: flex;
	gap: 30px;

	> a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
	.action-btn [class^='ttr-'] {
		font-size: 21px;
	}
}

.tutor-course-details-widget {
	.widget-title {
	}
	.widget-list {
		li [class^='ttr-'] {
			font-size: 26px;
		}
	}
	.widget-tags {
		.tutor-tag-list li {
			// margin-bottom: -15px;
			a {
				margin-bottom: 15px;
			}
		}
	}

	&-col-2 {
		@include breakpoint-min(tablet) {
			.widget-list {
				column-count: 2;
			}
		}
	}
}

.tutor-instructor-info-card {
	/* stroke/light30 */
	border: 1px solid $stroke-light-30;
	border-radius: 6px;
	&-body {
	}
	&-footer {
		border-top: 1px solid $stroke-light-30;
	}
	.tutor-ins-avatar {
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
	.tutor-ins-meta {
		&-item {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}

.tutor-course-sidebar-card {
	border: 1px solid $stroke-light-30;
	border-radius: 6px;
	&-body {
	}
	&-footer {
		border-top: 1px solid $stroke-light-30;
	}
	&-pricing {
	}
	&-btns {
	}
	&-meta-list {
		li {
			> div {
				max-width: 50%;
				flex-basis: 50%;
				justify-content: flex-start;
			}

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	// Card Variations
	&.tutor-before-enroll {
	}
	&.tutor-after-enroll {
	}
	&.tutor-before-purchase {
	}
	&.tutor-after-purchase {
	}
}

.tutor-course-details-tab {
	.tab-header {
		/* stroke/light30 */

		border-bottom: 1px solid $stroke-light-30;
	}
	.tab-header-item {
		@extend .text-medium-caption;
		@extend .color-text-subsued;
		@extend .tutor-pb-12;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
			background: $bg-brand;
			bottom: calc(0% - 12px);
			transform: scaleY(0);
			transform-origin: bottom;
			transition: 150ms;
		}
		&.is-active {
			transform: scaleY(1);
		}
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	.tab-body {
	}
	.tab-body-item {
	}
}
