.tutor-course-details-elements {
}

.tutor-course-details-header {
	a {
		text-decoration: none;
	}
}

.tutor-course-details-action-btns {
	display: flex;
	gap: 30px;

	> a {
		display: flex;
		align-items: center;
		gap: 2px;
	}
	.action-btn [class^='ttr-'] {
		font-size: 21px;
	}
}

.tutor-course-details-widget {
	.widget-title {
	}
	.widget-list {
		li [class^='ttr-'] {
			font-size: 26px;
		}
	}
	.widget-tags {
		.tutor-tag-list li {
			// margin-bottom: -15px;
			a {
				margin-bottom: 15px;
			}
		}
	}

	&-col-2 {
		@include breakpoint-min(tablet) {
			.widget-list {
				column-count: 2;
			}
		}
	}
}

.tutor-instructor-info-card {
	/* stroke/light30 */
	border: 1px solid $stroke-light-30;
	border-radius: 6px;
	&-body {
	}
	&-footer {
		border-top: 1px solid $stroke-light-30;
	}
	.tutor-ins-avatar {
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}
	.tutor-ins-meta {
		&-item {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}

.tutor-course-sidebar-card {
	border: 1px solid $stroke-light-30;
	border-radius: 6px;
	&-body {
	}
	&-footer {
		border-top: 1px solid $stroke-light-30;
	}
	&-pricing {
	}
	&-btns {
	}
	&-meta-list {
		li {
			> div {
				max-width: 50%;
				flex-basis: 50%;
				justify-content: flex-start;
			}

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	// Card Variations
	&.tutor-before-enroll {
	}
	&.tutor-after-enroll {
	}
	&.tutor-before-purchase {
	}
	&.tutor-after-purchase {
	}
}

.tutor-course-details-tab {
}

//Backend Alert utlity .alert-#{$variable}{...}
$variations: (
	// prefix borderC txtC bgC btnC iconC btnBg btnBorder
		'primary' $primary-30 $primary-100 $primary-50 $brand-wordpress,
	'warning' $warning-30 $warning-100 $warning-50 $design-warning,
	'success' $success-30 $success-100 $success-50 $design-success,
	'danger' $danger-30 $danger-100 $danger-50 $design-danger
);
@each $suffix, $bgColor, $txtColor, $border, $icon in $variations {
	.tutor-backend-alert.alert-#{$suffix} {
		background: #{$bgColor};
		color: #{$txtColor};
		border: 1px solid #{$border};
		> .alert-icon {
			color: #{$icon};
		}
	}
}

// Tutor backend alert
.tutor-alert {
	@extend .text-regular-caption;

	background: rgba(255, 255, 255, 0.9);
	/* color/primary/fill/70 */
	border: 1px solid #95aaed;
	border-radius: 6px;
}
