.tutor-course-listing {
	max-width: 1110px;
	display: grid;
	&-grid-3 {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px 30px;
		.tutor-course-listing-item {
			// max-width: 350px;
		}
	}
	&-grid-4 {
		.tutor-course-listing-item {
			// max-width: 255px;
		}
	}
	&-grid-2 {
	}
	&-grid-3 {
	}
}

.tutor-course-listing-item {
	/* bg/white */
	background: $bg-white;
	/* stroke/light30 */
	// border: 1px solid $stroke-light-30;
	// border-radius: 6px;
	// overflow: hidden;
	display: grid;
	img {
		max-width: 100%;
	}
	.list-item-meta {
		gap: 10px;
		@include breakpoint-min(desktop-lg) {
			gap: 36px;
		}
		.meta-icon {
			font-size: 28px;
		}
	}
	//    /* stroke/light20 */ background: #E0E2EA;

	&-head {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		overflow: hidden;
		position: relative;
		.save-bookmark-btn {
			position: absolute;
			top: 12px;
			right: 21px;
			width: 38px;
			height: 38px;
			background: rgba(33, 35, 39, 0.4);
			color: $design-white;
			border: none;
			border-radius: 50%;
			font-size: 20px;
			transition: 200ms linear;
			&:hover {
				background: $design-brand;
				color: $design-white;
			}
		}
	}
	&-body {
		border-left: 1px solid #cdcfd5;
		border-right: 1px solid #cdcfd5;
		.list-item-author {
			gap: 10px;
		}
		.tutor-avatar {
			width: 34px;
			height: 34px;
			border-radius: 50%;
		}
	}
	&-footer {
		border-left: 1px solid #cdcfd5;
		border-right: 1px solid #cdcfd5;
		border-bottom: 1px solid #cdcfd5;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		display: grid;
		&.has-border {
			border-top: 1px solid $stroke-light-20;
		}

		.list-item-price-with-booking {
			.list-item-booking {
				gap: 7px;
			}

			.list-item-booking > * {
				display: flex;
			}
		}

		.list-item-price {
			gap: 10px;
		}
		.list-item-booking {
			.circle-progress {
				--w: 23px;
				--pd: 3px;
				position: relative;
				width: var(--w);
				height: var(--w);
				padding: var(--pd);
				border-radius: 50%;
				background: conic-gradient($design-brand var(--pro), 0, $primary-60 100%);

				&:before {
					content: '';
					position: absolute;
					inset: calc(0% + var(--pd));
					border-radius: 50%;
					background: #fff;
				}

				&.progress-full {
					background: conic-gradient($design-error var(--pro), 0, $primary-60 100%);
				}
			}
			&.booking-full {
				.btn-icon {
					font-size: 30px;
				}
			}
		}
		.list-item-button {
			.tutor-btn.tutor-btn-ghost {
				color: $text-primary;
				.btn-icon {
					border-radius: 50%;
					font-size: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
				}

				&:hover .btn-icon {
					background: $primary-30;
				}
			}
		}
	}
}
