.tutor {
	&-card {
		background-color: #FFFFFF;
		border: 1px solid #CDCFD5;
		position: relative;
		border-radius: 6px;

		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;

		&-header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #CDCFD5;
			padding: 16px 20px;

			&-md {
				padding: 24px 32px;
			}
		}

		&-footer {
			padding: 16px 20px;
			&:not(.tutor-no-border) {
				border-top: 1px solid #CDCFD5;
			}
		}

		&-image {
			border-radius: 5px;
			&-top {
				border-radius: 5px 5px 0px 0px;
			}

			&-right {
				border-radius: 0px 5px 5px 0px;
			}

			&-bottom {
				border-radius: 0px 0px 5px 5px;
			}

			&-left {
				border-radius: 5px 0px 0px 5px;
			}
		}

		&-title {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}

		&-body {
			flex: 1 1 auto;
			padding: 20px;

			&-sm {
				padding: 16px;
			}

			&-md {
				padding: 24px 32px;
			}
		}

		&-secondary {
			border: 2px solid #E0E2EA;
		}

		&.is-selected {
			background-color: #F6F8FD;
			border-color: #D2DBF5;
		}

		&.is-active {
			background-color: #F6F8FD;
			border-color: var(--tutor-color-primary);
		}

		// list
		&-list {
			display: flex;
			flex-direction: column;
			padding-left: 0;
			margin-bottom: 0;
			border-radius: 6px;
			
			&:first-child {
				border-top-width: 0;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&-item {
				position: relative;
				display: block;
				color: var(--tutor-body-color);
				text-decoration: none;
				background-color: #fff;

				&:nth-child(even) {
					background-color: #fcfcfd;
				}

				&:not(:last-child) {
					border-bottom: 1px solid #CDCFD5;
				}

				&:first-child {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}

				&:last-child {
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
				}
			}
		}
	}
}
