.tutor {
	&-card {
		background-color: #FFFFFF;
		border: 1px solid #CDCFD5;
		border-radius: 6px;

		&-secondary {
			border: 2px solid #E0E2EA;
		}

		&.is-selected {
			background-color: #F6F8FD;
			border-color: #D2DBF5;
		}

		&.is-active {
			background-color: #F6F8FD;
			border-color: $primary;
		}
	}
}
