.tutor-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CDCFD5;

    > li {
        line-height: 1.6;
        position: relative;

        > a {
            font-size: 16px;
            font-weight: 500;
            padding: 12px 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--tutor-black-70);

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            height: 2px;
            left: 0;
            right: 0;
            bottom: -1px;
            background: var(--tutor-primary-color);
            transform: scaleY(0);
            transform-origin: bottom;
            transition: 200ms ease-in;
        }

        &.is-active {
            > a {
                color: var(--tutor-primary-color);
            }

            &:after {
                transform: scaleY(1);
            }
        }

        &:hover {
            > a {
                color: var(--tutor-primary-color);
            }
        }

        .tutor-dropdown {
            margin: 0;
        }

        &.tutor-nav-more {
            margin-left: auto;
            > a {
                padding-left: 5px;
                padding-right: 5px;
            }

            .icon-seemore {
                font-size: 12px;
                margin-left: 4px;
                color: var(--tutor-primary-color);
                transform: rotate(-45deg);
                transition: transform 200ms ease-in;
            }

            &.tutor-nav-opened {
                .icon-seemore {
                    transform: rotate(0deg);
                }

                .tutor-dropdown {
                    display: block;
                }
            }
        }
    }

    // admin
    &-admin {
        border-bottom: 0;
        > li {
            margin: 0;
            > a {
                padding: 20px 16px;
            }
        }
    }
}

// Tab
.tutor-tab {
    &-item {
        &:not(.is-active) {
            display: none;
        }
    }
}